[2021-03-29 11:46] riccardoAlbertoni commented on #1246
I think the `rdfs:label`(s) correspond to the property/class section's title in the DCAT 2 rec document.
Thus changing the `rdfs:label`(s) in the turtle implies changing the rec as well.

Some of the discussed solutions are summarized below.

**Solution 1:**
 PR #1337 implements the changes required by pt 1  (the update of `rdfs:label`(s)) and pt 2 (the change of `dcat:Catalog` definition) in the

[2021-03-29 19:02] andrea-perego commented on #1308
@riannella said:

Fair enough. BTW, as prev, next, and last, also the "first" relationship is defined in [[XHTML-VOCAB]](https://www.w3.org/1999/xhtml/vocab#first) and in the IANA Link Relations register.

The question is what we need for dataset series. Are prev/next enough? Or we also need first/last?

[2021-03-29 21:40] rob-metalinkage commented on #1308
Do you really want to pull in terms into DCAT as a W3C Rec from a W3C Note that itself declares it is a profile of DCAT?

Understand you need to use these, and not want to re-invent the wheel (and my own implementations do exactly the same) - but the logically consistent approach would be to define a profile of DCAT that uses the parts of ADMS you need, as a profile of ADMS itself probably, that i

[2021-03-29 21:44] andrea-perego commented on #1333
Thanks, @riannella . Please find my replies below.

Done - see https://github.com/w3c/dxwg/pull/1339/commits/1fdb9d9d0fb89591e31956abaa6c4230a2c5f7e7

Done - see https://github.com/w3c/dxwg/pull/1339/commits/1fdb9d9d0fb89591e31956abaa6c4230a2c5f7e7

Because rights in DCAT should be specified on `dcat:Distribution` - see usage note in [§6.7.5 Property: license](https://www.w3.org/TR/vocab-dcat-2/#P

[2021-03-29 21:45] rob-metalinkage commented on #1308
@andrea-perego   +1 to adding these to DCAT namespace **if** you can agree on using exact same, or broader, semantics as the ADMS profile - the ADMS properties can then be declared subProperties of DCAT in either an update or an alignment module.  (IMHO it would be good to update and refactor ADMS into a series of modules that address different aspects and formally declare it a profile of DCAT - h

[2021-03-29 21:57] andrea-perego commented on #1308
@rob-metalinkage ,

Actually, I would propose we define `dcat:prev`, `dcat:next`, etc. with no reference at all to `adms:prev`, `adms:next`, etc. - i.e., they shouldn't be either equivalent properties or subproperties of the ADMS ones, and I would not even use SKOS semantic relations. The reason being to avoid any misunderstanding on the semantics of these DCAT properties, which are not at all abo

[2021-03-29 22:02] andrea-perego commented on #1246
Thanks, @riccardoAlbertoni , for drafting these proposals.

Solution 3 is not completely clear to me. Anyway, I would vote for adding `skos:altLabel` to the DCAT3 TTL, and leave untouched all the rest - the DCAT2 TTL and the DCAT3 spec.

[2021-03-29 22:47] andrea-perego commented on #164
@dr-shorthair said:

@agbeltran , do you have any news to report on this work?

[2021-03-29 22:56] andrea-perego commented on #168
As there has not been discussion on this issue for nearly a month, and no progress in understanding the original requirements, I suggest we close it, and we create a new one once we have a use case.

[2021-03-30 00:04] dr-shorthair commented on #1333
While this is strictly true in principle - rights must be associated with a transferable artefact - it is both confusing and rather burdensome in practice. Rights are more usually associated with the dataset, and rarely vary between different distributions of the same dataset. I worry that our 'principled' stance here is too troublesome in practice.

[2021-03-30 08:13] andrea-perego commented on #1333
@dr-shorthair said:

Associating rights with distributions is just re-stating the approach defined since the first release of DCAT, and how this is actually implemented in practice. It would be more troublesome to change these rules.

[2021-03-30 08:23] agbeltran commented on #1246
As stated before, I'm in favour of what @andrea-perego suggests, which I think it is the same as solution 3:  adding ```skos:altLabel``` to DCAT 3 ttl , and leave untouched DCAT2 ttl and DCAT3 spec.

[2021-03-30 08:50] larsgsvensson commented on #1020
@andrea-perego scripsit:

Yes, this is all fine with me and this issue can be closed.

Thanks to all editors for moving this forward!

[2021-03-30 09:54] andrea-perego commented on #1020
Thanks a lot, @larsgsvensson , and apologies again far taking so long to address all your comments.

Closing this issue.

[2021-03-30 09:54] #1020 closed, assigned to nobody

[2021-03-30 12:39] riannella commented on #1333
I would suggest removing the usage notes for 6.7.5 (or at least making it non-normative).
dct:licence, dct:rights,and odrl:hasPolicy are declared at the Resource level so all the sub-entities can utilise them at the level that is appropriate for the business requirements.

As an example, in ODRL, we also define an Asset as a Collection, which we can assert policies over, which includes all the mem

[2021-03-30 12:48] riannella commented on #1333
In relation to my feedback#3 above, I think this will create more confusion, as now there is conflict as to what are the normative rights statements. For example, the two "registration" URIs will now need to analyzed and determined to be the same thing. This will be (close to impossible) to determine for all rights statements and ODRL policies.

I recommend that the statement "in addition to the c

[2021-03-30 12:57] riannella commented on #1308
Question: next and prev can only really be used between datasets in a dataset series?

@riccardoAlbertoni What was your original use case?

[2021-03-30 14:04] andrea-perego commented on #1308
@riannella said:

Not necessarily (this is why they are under `dcat:Resource`). But dataset series is the only use case we have at the moment.

[2021-03-30 15:00] andrea-perego commented on #1333
Thanks, @riannella . I think this deserves a separate discussion on how to properly use ODRL with DCAT. I will create a new issue on this, and link to it from the spec.

[2021-03-30 15:02] andrea-perego opened #1342 "How to use ODRL in DCAT?"
In DCAT, we are supporting the use of ODRL for the specification of rights, with the following guidance ([§8. License and rights statements](https://w3c.github.io/dxwg/dcat/#license-rights)):

An issue has been raised on this approach by @riannella in https://github.com/w3c/dxwg/issues/1333#issuecomment-810200353 :

[2021-03-30 15:02] riccardoAlbertoni commented on #1156
@aisaac: I was reconsidering this issue after a while. My apologies for having kept this pending so long.

I think `dcat:catalog` links to a resource that catalogs and that is cataloged.  So I am not sure of an actual inconsistency with the name conventions.

Besides,  changing the name of `dcat:catalog` at this stage breaks the back-compatibility with DCAT 2, which is something that we would like

[2021-03-30 15:03] andrea-perego commented on #1333
Done: https://github.com/w3c/dxwg/issues/1342 & https://github.com/w3c/dxwg/pull/1339/commits/d5a791a610029a92c4c4cb3d91c63965f32dd0ae

[2021-03-30 21:47] andrea-perego commented on #1308
Based on the discussion on this thread, and since no objection to the proposal in https://github.com/w3c/dxwg/issues/1308#issuecomment-808816992 , I would consider it as approved.

PR https://github.com/w3c/dxwg/pull/1340 has been updated accordingly, by adding properties `dcat:prev`, `dcat:next`, `dcat:last`, and `dcat:first` to `dcat:Resource`.

The PR is now under review by the DCAT editors.

[2021-03-30 22:23] andrea-perego commented on #1333
@riannella , I don't see a conflict between the usage note in 6.7.5 and your points.

The note is not preventing the specification of rights at the level of `dcat:Dataset`, but it requires that, also in such a case, they are still to be specified at the distribution level as per the DCAT data model (and its implementations), in order to ensure interoperability across catalogues.

How this is imple

[2021-03-31 21:37] riccardoAlbertoni commented on #1130
We are closing this issue as proposed above and as a result of [tonight's DCAT subgroup meeting](https://www.w3.org/2021/03/31-dxwgdcat-minutes#t08)

[2021-03-31 21:37] #1130 closed, assigned to nobody

[2021-03-31 21:40] riccardoAlbertoni commented on #1287
We are closing this issue as proposed above and as a result of [tonight's DCAT subgroup meeting](https://www.w3.org/2021/03/31-dxwgdcat-minutes#t08)

[2021-03-31 21:40] #1287 closed, assigned to nobody

[2021-03-31 21:40] riccardoAlbertoni commented on #352
We are closing this issue as proposed above and as a result of [tonight's DCAT subgroup meeting](https://www.w3.org/2021/03/31-dxwgdcat-minutes#t08)

[2021-03-31 21:40] #352 closed, assigned to nobody

[2021-04-01 05:49] riannella opened #1343 "How to use Rights/Licenses/Access/Policy in DCAT"
This issue is to discuss the use of the "rights" properties:
 https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_license
 https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_access_rights
 https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_rights
 https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_has_policy

Specifically, where and how they are used across the DCAT enti

[2021-04-01 05:49] riannella commented on #1333
See https://github.com/w3c/dxwg/issues/1343

[2021-04-01 05:50] riannella commented on #1343
See discussion thread at end of https://github.com/w3c/dxwg/issues/1333

[2021-04-01 10:47] andrea-perego commented on #1333
Thanks, @riannella .

PR https://github.com/w3c/dxwg/pull/1339 is now under review by the DCAT editors.

[2021-04-01 11:57] riccardoAlbertoni commented on #125
In terms of principle, I agree on specializing the range of dcat:byteSize. It makes `dcat:byteSize` semantics more consistent, and consequently, it improves the overall metadata quality.

However, this change might have some practical burden on existing implementations.  If we restrict the range of `dcat:byteSize`, we force people to correct the metadata in which real numbers or abbreviations are

[2021-04-01 12:26] andrea-perego commented on #125
@riccardoAlbertoni ,

As we are not going to change the range in the RDF definition of this property, I see this revision just as an indication of the preferred range of values to be used (i.e., use integers >0).

It would be however crucial to get some feedback from implementers - but I think we can go ahead with this revision and roll it back afterwards, if need be.

[2021-04-01 12:50] riccardoAlbertoni commented on #125
Thanks, @andrea-perego .
You are right, my worries are not justified!  ... reading the bare HTML, I had missed we were not changing the range.

[2021-04-01 16:54] andrea-perego commented on #1280
No other issues were raised after PR #1295 was merged.

Closing.

[2021-04-01 16:54] #1280 closed, assigned to nobody

[2021-04-01 18:35] agreiner commented on #1308
Hm, it just occurred to me that next/previous has the same issue for developers as we encountered with membership in a series, that developers won't know in advance which one is being used to hold the chain together and so would have to test for both in code. Also, assigning next when a dataset is first published seems like a stretch, so we again run into the problem of updating the metadata after

[2021-04-03 20:28] aisaac commented on #1211
Hi, following a suggestion from my colleague @Abbe98 suggested we could have two `dcterms:conformsTo`, one for the language and one for the protocol. Would this be acceptable?

[2021-04-06 20:25] #676 closed, assigned to andrea-perego

[2021-04-06 20:25] #1333 closed, assigned to nobody

[2021-04-06 20:27] #1308 closed, assigned to nobody

[2021-04-06 22:45] andrea-perego commented on #1341
@jakubklimek , thanks to reporting this inconsistency.

This issue is now being dealt with in PR https://github.com/w3c/dxwg/pull/1345

[2021-04-06 22:54] andrea-perego commented on #1308
Thanks for the heads-up, @agreiner .

As https://github.com/w3c/dxwg/issues/1335, I think this relates to the more general discussion on the possible approach to be used in DCAT to define inverse properties - see https://github.com/w3c/dxwg/issues/1336

I'll create a separate issue to keep track of it, and link to it from the ED.

[2021-04-06 22:56] andrea-perego opened #1346 "Do we need the inverse of dcat:prev - i.e., dcat:next?"
Issue originally raised in https://github.com/w3c/dxwg/issues/1308#issuecomment-812095271 by @agreiner :

[2021-04-06 23:03] andrea-perego commented on #1308
Done - see issue https://github.com/w3c/dxwg/issues/1346 and PR https://github.com/w3c/dxwg/pull/1345 (https://github.com/w3c/dxwg/pull/1345/commits/8ce4db285ea90102b77ce346e888606b156d9db2)

[2021-04-06 23:34] andrea-perego commented on #1332
Thanks for your feedback, @bertvannuffelen .

Do you have any specific suggestion on how to revise the current conformance statement to address your points?

[2021-04-06 23:42] andrea-perego commented on #1225
Thanks, @jakubklimek .

No objections raised. Closing this issue.

[2021-04-06 23:42] #1225 closed, assigned to nobody

[2021-04-06 23:43] andrea-perego commented on #152
Thanks, @dr-shorthair , @riccardoAlbertoni , @davebrowning .

Closing this issue.

[2021-04-06 23:43] #152 closed, assigned to dr-shorthair, kcoyle

[2021-04-06 23:44] andrea-perego commented on #1230
No objection raised. Closing this issue.

[2021-04-06 23:44] #1230 closed, assigned to nobody

[2021-04-06 23:45] andrea-perego commented on #1235
No objections raised. Closing this issue.

[2021-04-06 23:45] #1235 closed, assigned to nobody

[2021-04-07 14:50] andrea-perego opened #1347 "[W3C-BASIC-GEO] example to be removed?"
[The NOTE in Example 31](https://w3c.github.io/dxwg/dcat/#ex-spatial-coverage-centroid) is showing the use of [W3C-BASIC-GEO] for the specification of point geometries, although in https://github.com/w3c/dxwg/issues/970 the decision was to remove the relevant properties from DCAT, and to not refer to [W3C-BASIC-GEO] as one of the recommended vocabularies.

Proposal: The NOTE should be removed.

[2021-04-07 21:39] andrea-perego commented on #145
No objections raised. Closing this issue.

[2021-04-07 21:39] #145 closed, assigned to nobody

[2021-04-08 10:56] riccardoAlbertoni commented on #1246
points 1 & 2 are now addressed in PR #1348

[2021-04-08 19:03] andrea-perego opened #1349 "Align textual descriptions with the DCAT scope"
We have still a number of textual descriptions of classes and properties, as well as in other sections of the specification, still referring to datasets and data services as the only resource types in a catalogue.

[2021-04-08 21:39] andrea-perego commented on #1187
@aidig , sincere apologies for not having replied to your feedback.

As the DCAT specification underwent a number of changes, I would like to check with you whether you think this issue is still valid.

At least one of your points (i.e., the use of `dcterms:type` with `dcat:Resource`) seemed to be addressed by the usage note in [§6.4 Class: Cataloged Resource](https://w3c.github.io/dxwg/dcat/#Clas

[2021-04-08 21:49] andrea-perego opened #1350 "Inconsistent use of property labels"
In some cases, property labels are used inconsistently in the specification. E.g., "language" vs "resource language", "creator" vs "resource creator", "distribution" vs "dataset distribution".

[2021-04-09 08:06] dr-shorthair commented on #1334
@bertvannuffelen you may be correct that this property-chain-axiom is too restrictive. While it will be true in some cases, it is unlikely to match all deployments in practice. The statement and the axiomatization was partly pedagogy - to explain the relationships between the various URLs and elements of the DCAT backbone.

However, I wonder if you have noticed that there is also `dcat:downloadURL

[2021-04-09 08:25] andrea-perego commented on #1347
NOTE removed in PR https://github.com/w3c/dxwg/pull/1345 (yet to be merged).

[2021-04-09 11:30] #1341 closed, assigned to nobody

[2021-04-09 11:30] #1347 closed, assigned to nobody

[2021-04-09 12:43] andrea-perego commented on #1350
Issue partially fixed in PR https://github.com/w3c/dxwg/pull/1345

A thorough review is still needed to fix this.

I'm keeping this issue open as a reminder.

[2021-04-09 12:44] andrea-perego commented on #1349
Issue partially fixed in PR https://github.com/w3c/dxwg/pull/1345

A thorough review is still needed to fix this.

I'm keeping this issue open as a reminder.

[2021-04-09 14:42] riccardoAlbertoni opened #1352 "Policy for translations in the RDF of DCAT"
We need to agree on an internal policy on dealing with translations in the DCAT RDF.

It is not always possible to provide a proper translation for all the languages during the DCAT updates.  And asking for translation for different languages during the process slows down PR's acceptance, imposing complex interactions between contributors.

I'd suggest maintaining only the English text while defin

[2021-04-09 15:22] andrea-perego commented on #1352
Makes perfect sense to me.

[2021-04-10 21:39] andrea-perego commented on #1246
@aidig , PR #1348 has been merged, so your points 1 & 2 are supposed to be addressed.

About point 3, the discussion is happening in https://github.com/w3c/dxwg/issues/975

About point 4, we replied in https://github.com/w3c/dxwg/issues/1246#issuecomment-807735420 , asking for clarifications.

We will wait a few more days for your feedback, before closing this issue.

[2021-04-12 07:43] heidivanparys commented on #1195
FYI: there is a workshop this week on how to achieve a shared understanding of concepts across domains, see https://sharedconcepts.github.io/. This issue is a good use case: it is not easy to change established definitions, for several reasons. However, a possible way forward would be to instead create and publish mappings between concepts, such as the different notions of "dataset" in different o

[2021-04-12 16:55] agbeltran commented on #1195
@heidivanparys will the dataset definition be discussed in the workshop? I see a session on dataset quality, but not sure if the dataset definition will also be discussed in detail. Thanks

[2021-04-12 17:13] agbeltran commented on #1195
Looking to address the original issue by @aidig (and considering the subsequent discussion):

For DCAT, the unit is the class dcat:Dataset itself. Perhaps the definition could be changed to:

"A collection of data regarded as a unit, published or curated by a single agent, and available for access or download in one or more representations".

IMO, this is a given by the properties of the class, so

[2021-04-12 17:54] agbeltran commented on #1352
I agree this is a good approach.

[2021-04-12 18:06] agbeltran commented on #958
Hi @aphillips, could you let us know about the status of the JSON-LD and RDF representations of direction metadata?

[2021-04-12 18:56] heidivanparys commented on #1195
@agbeltran The dataset definition will be used as an example of a widely used concept that has different definitions in different organisations in the presentation "Concepts - How to describe and harmonize them (Danish experiences)", it won't be discussed in detail. The topic is broader, on general approaches of mapping concepts.

[2021-04-12 19:10] heidivanparys commented on #1195
There seems to be a misunderstanding on the use of notes? The notes are not considered to be a part of the definition. As @aidig already wrote in https://github.com/w3c/dxwg/issues/1195#issuecomment-566719086

See also e.g. section 2.3 in http://www.nordterm.net/filer/publikationer/guider/Guide_to_Terminology.pdf

The proposal basically follows the formatting of ISO 10241-1, see also https://www.i

[2021-04-13 11:23] riccardoAlbertoni commented on #125
xsd:nonNegativeInteger contains '0' while xsd:positiveInteger doesn't.

A usage scenario in which `dcat:byteSize` is equal to 0  doesn't come to my mind.   Is there an exemplary use case to refer to?

Otherwise, considering it is an indication rather than an actual constraint (as we are not changing the actual range of the property), I think we can choose the most restrictive option, 'xsd:positive

[2021-04-13 18:29] wouterbeek commented on #125
@riccardoAlbertoni I thought about such examples in the past when I suggested to use `xsd:nonNegativeInteger` for `dcat:byteSize`.

Use case 1: An automated process creates distributions for datasets by opening files and writing data to them.  Due to a bug in the distribution creation process, some files are opened but no data gets written to them.  A SPARQL query can be written to check for distr

[2021-04-13 20:57] dr-shorthair commented on #125
Aren't those use-cases actually a justification for why the constraint makes sense? It would allow the OWL reasoner to pick up the anomalous instances.

[2021-04-15 06:59] wouterbeek commented on #125
@dr-shorthair I'm not 100% sure what you mean with "constraint".  (I would need to read the full sequence of comments, but can't at the moment :-( )  My intention was to show that there are legitimate use cases for having triples `[] dcat:byteSize "0"^^xsd:nonNegativeInteger.` as part of a DCAT metadata record.

This implies that I believe that [1] is too strict and that [2] is the right choice fo

[2021-04-15 10:14] andrea-perego commented on #168
No objections raised. Closing this issue.

[2021-04-15 10:14] #168 closed, assigned to nobody

[2021-04-15 10:23] andrea-perego commented on #125
This issue was discussed during the last DCAT call (https://www.w3.org/2021/04/14-dxwgdcat-minutes). Our understanding is that there is a consensus on opting for `xsd:nonNegativeInteger`. PR https://github.com/w3c/dxwg/pull/1326 has been revised accordingly and merged.

Please let us know if our interpretation is incorrect. Otherwise, we can close this issue.

[2021-04-15 10:47] andrea-perego opened #1355 "Reviving work on the Profile Guidance document"
Just an idea....

My personal impression is that work on the Profile Guidance document was stuck because of lack of agreement in the definition of formal aspects on profiles and their relationships, consistently addressing all the contributed use cases and community practices. Should this be the case, I don't see an easy way out (of course, I might be wrong).

I wonder whether changing a bit the a

[2021-04-15 23:54] dr-shorthair commented on #125
@wouterbeek what I mean is that if there is an owl:Restriction on the type of dcat:byteSize, and some data has a value that conflicts with the type, then an OWL reasoner will throw an exception. i.e. you can rely on the OWL layer to trap the fact that there is problem with the data, rather than having to write a rule in a separate layer. If it is illogical to have a dcat:Distribution whose size is

[2021-04-16 06:50] wouterbeek commented on #125
@dr-shorthair Thanks for clarifying; I agree with you.

[2021-04-16 09:29] riccardoAlbertoni commented on #125
@dr-shorthair are you suggesting changing the range of `dcat:byteSize` instead of mentioning `xsd:nonNegativeInteger` only as an indication in the REC (as in https://w3c.github.io/dxwg/dcat/#Property:distribution_size)?
In this case, could you comment on the impact this can have on existing implementations? See my comment below.

[2021-04-16 11:18] makxdekkers commented on #125
I have the same worry as @riccardoAlbertoni on this. As always, my opinion is that changes should only be made when the existing approach has proved not to work. I don't see that here. In this case, it is very conceivable that all implementation that use byteSize will have put values that are non-negative integers, and such integers are perfectly valid values for `xsd:decimal`. So, I don't see tha

[2021-04-16 20:36] kcoyle commented on #1355
@andrea-perego I like the idea of thinking about it as more about practice and less about generalizations.

My recollection about the lack of movement on that work item was that we didn't feel that we had the breadth of community to take on the work. In fact, the application profile community is extremely broad. This is why I feel that it isn't appropriate for work to take place within the DXWG ab

[2021-04-16 20:40] kcoyle commented on #1355
The link to the DC work is somehow not displaying in the comment above, so it is:

https://github.com/dcmi/dctap/blob/main/TAPprimer.md

[2021-04-17 21:06] andrea-perego commented on #1246
Closing.

[2021-04-17 21:06] #1246 closed, assigned to nobody

[2021-04-19 15:44] riccardoAlbertoni commented on #1352
[The resolution voted during the last DCAT call](https://www.w3.org/2021/04/14-dxwgdcat-minutes#r02) says that "we accept a policy of deciding on the best efforts we will provide to translations when we get to the CR stage".

[2021-04-19 18:18] riccardoAlbertoni commented on #1129
Hi @bertvannuffelen,
Thanks for your comments and our apologies for this late reply. We discussed this issue during last week's [DCAT submeeting](https://www.w3.org/2021/04/14-dxwgdcat-minutes).
 I am going to report the main points of the discussion below after your questions.

No, there isn't,  and we are not considering having it, at least for the moment.
We provide the  DCAT RDF to ease the DC

[2021-04-20 20:59] andrea-perego commented on #162
Unlinking this issue from UCR, as decided in https://www.w3.org/2021/04/20-dxwg-minutes#r03

[2021-04-20 21:03] andrea-perego commented on #726
Unless there are any objections, I propose we close this issue.

[2021-04-20 21:04] andrea-perego commented on #8
Unless there are any objections, I propose we close this issue.

[2021-04-22 09:05] aisaac commented on #8
Has it been copied in another github repo? It was quite useful as a requirement / use case. And I'm not sure how it's met with the current PROF config (ping @nicholascar @rob-metalinkage ). This is typically the kind of thing that would have motivated a Guidance doc.

[2021-04-22 15:00] kcoyle commented on #8
There are a [number of issues](https://github.com/w3c/dxwg/issues?q=is%3Aissue+is%3Aopen+%22inherit%22) that discuss "inheritance", which I think is the same as the question of "nesting" that came up at the meeting. I do consider that an open issue, and one that would need to be discussed in a guidance document. Perhaps we need to re-state the question and consolidate the discussion, with links to

[2021-04-22 17:15] aisaac commented on #8
@kcoyle yes this would make sense. This specific issue doesn't focus on inheritance only, but it would certainly reach this stage quickly ;-)

[2021-04-22 19:01] rob-metalinkage commented on #8
This is evidence of the need for inheritance in some form - it belongs to the UCR process and has IMHO been dealt with. DXWG doesnt have a deliverable for the modelling of Europeana, so we can close it. If someone undertakes this and identifies any specific issues they should be raised as new issues under PROF with detailed evidence.  If all is good then adding to implementation reports would be a

[2021-04-23 13:35] bertvannuffelen commented on #1334
Before continuing my explanation for me Distributions and Data Services are different things. So if you are combining them then you are talking about entities that are Distributions and Data Services.

For many reasons, I believe that I would try to separate them, trying to make the intersection as small as possible in the usage explanations. I understand there are communities that would maximize

[2021-04-23 17:46] kcoyle commented on #8
@rob-metalinkage I wasn't suggesting that we keep an open issue for Europeana - that was just a use case that brings up the topic. I also don't think this is specifically a PROF issue. There is a general question of how a profile relates to the vocabularies that it reuses, and what it would mean to create a profile of a profile (as with DCAT). So I think this is very much a guidance question that

[2021-04-23 23:24] pvgenuchten opened #1357 "suggestion to add a property thumbnail to dataset"
### Dataset Thumbnail / Graphic preview
Status: idea

Creator: Paul van Genuchten

Deliverable(s): DCAT3

## Stakeholders
Web developers, when developing apps on a dcat oriented backend
Metadata experts, when mapping other metadata standards to DCAT

## Problem statement
I haven't been able to find any references to discussions about a thumbnail property in the dcat scope. Web applications like to

[2021-04-24 00:27] rob-metalinkage commented on #8
Fair enough.  I think you also had some views on some of the nuanced versions. I have come across requirements for a "collection of options" flavour of super-profile and we haven't addressed recommendations vs mandatory implications either. Happy to take on board new requirements for prof.

[2021-04-25 18:43] riccardoAlbertoni commented on #1227
yes, I am interested, but before deal with this, I think we need to see how we solve issue #1334

[2021-04-28 13:51] becka11y opened #1358 "Requesting addition of an Accessibility Considerations section"
An accessibility review of Data Catalog Vocabulary (Version 3) was requested of the APA as part of our role in performing horizontal review of W3C documents for accessibility concerns.

It was reviewed by APA member Paul Grenier who made the following comments that were approved by the working group. We are requesting the addition of an Accessibility Considerations section.

1. The addition of an

[2021-04-28 20:21] andrea-perego commented on #975
Noting we are not the only ones unhappy with this situation - see https://github.com/INSPIRE-MIF/helpdesk-validator/issues/479

[2021-04-30 06:14] init-dcat-ap-de commented on #1293
Thank you.

I guess this should also apply to `dcat:bbox` and `dcat:centroid`.

[2021-04-30 08:28] riccardoAlbertoni opened #1359 "Ranges for dcat:bbox and dcat:centroid"
Thank you.

I guess this should also apply to `dcat:bbox` and `dcat:centroid`.

_Originally posted by @init-dcat-ap-de in https://github.com/w3c/dxwg/issues/1293#issuecomment-829866295_

[2021-04-30 09:23] andrea-perego commented on #1359
@init-dcat-ap-de ,

Properties `dcat:bbox` and `dcat:centroid` are meant to be used only with literals, and are therefore also explicitly defined as `owl:DatatypeProperty`'s.

[2021-05-03 10:42] init-dcat-ap-de commented on #1359
They have the same range and usage notes as locn:geometry.
But semantic geo data is by no means my area of expertise.

[2021-05-03 11:37] andrea-perego commented on #1359
@init-dcat-ap-de said:

The range and usage note of `dcat:bbox` and `dcat:centroid` are indeed still the same, but those of `locn:geometry` have been modified via PR https://github.com/w3c/dxwg/pull/1303 , as discussed in https://github.com/w3c/dxwg/issues/1293

See https://w3c.github.io/dxwg/dcat/#Property:location_geometry

Range: `locn:Geometry`

Usage note:

[2021-05-03 12:06] init-dcat-ap-de commented on #1359
@andrea-perego not sure if this is just a missunderstanding. I understood your post from 3 days ago as an argument, why bbox and centroid should remain with a range of rdfs:Literal.

But they have the same usage note as locn:geometry had previously, which stated that the range was "intentionally generic, with the purpose of allowing different geometry encodings."

The reason to switch the range to

[2021-05-03 18:37] andrea-perego commented on #1359
@init-dcat-ap-de said:

Exactly. The original usage note for the three properties was referring to `rdfs:Literal` as range, and therefore we have not seen the need of changing it for `dcat:bbox` and `dcat:centroid`.

Based on what you say, it seems that the note is not clear enough about the fact that `dcat:bbox` and `dcat:centroid` are supposed to be used only with literals:

Note that here with

[2021-05-04 06:43] init-dcat-ap-de commented on #1359
Yes, this would clear things up for me.

[2021-05-04 19:57] aisaac commented on #1156
Hi @riccardoAlbertoni sorry for taking so long. I missed the notification.
Actually your answer may alleviate my worry: `dcat:catalogue` points to a resource (Catalogue) that is considered to being catalogued into the subject Catalogue, just like objects of `dcat:dataset` statements for the same Catalogue?
If yes then this would sound ok to me. But then can I ask for the definition to be clarified

[2021-05-04 20:12] aisaac commented on #5
Just a note that @riccardoAlbertoni and @plehegar are discussing this at the moment, so no closing right now :-)

[2021-05-04 20:21] aisaac commented on #162
@nicholascar @rob-metalinkage should this be linked to PROF (and moved to its github repo?)

[2021-05-04 20:35] aisaac commented on #1355
In defense of what @andrea-perego proposes, my recollection is that the formal aspects were indeed a hurdle - especially because inheritance always came back, while we could have progressed without it...
I think trying a 'best practice document' could still fly. Something like something giving a hand to people interested in profiles and who could use DCAT profiles and PROF. But not as a the kind o

[2021-05-04 21:21] andrea-perego commented on #1359
The relevant revision will be dealt with via PR https://github.com/w3c/dxwg/pull/1360 (yet to be merged).

[2021-05-04 21:26] andrea-perego commented on #726
No objections raised. Closing this issue.

[2021-05-04 21:26] #726 closed, assigned to pwin

[2021-05-04 21:30] andrea-perego commented on #1129
@riccardoAlbertoni said:

@bertvannuffelen , as we didn't get any further feedback, we are closing this issue.

[2021-05-04 21:30] #1129 closed, assigned to nobody

[2021-05-04 21:32] andrea-perego commented on #1187
@aidig , as we didn't get any further feedback, we are closing this issue.

[2021-05-04 21:32] #1187 closed, assigned to nobody

[2021-05-04 21:39] andrea-perego commented on #125
The revision implemented via PR https://github.com/w3c/dxwg/pull/1326 is now included in DCAT3 2PWD.

Unless there are any objections, I propose we close this issue.

[2021-05-04 21:58] andrea-perego commented on #1266
This is just to note that GeoDCAT-AP 2 partially addressed this issue by defining terms for the different types of spatial resolution supported in ISO 19115 - see https://github.com/SEMICeu/GeoDCAT-AP/issues/15

The use case reported in https://github.com/w3c/dxwg/issues/1263 is however yet to be addressed.

[2021-05-04 21:59] andrea-perego commented on #1263
@jakubklimek , do you have concrete examples and/or proposals on how you would address this issue? E.g., how would you use, in practice, the NUTS / LAU levels to specify this information?

[2021-05-04 22:13] andrea-perego commented on #648
Unless the want to take any action on this, I propose we close this issue.

[2021-05-05 00:53] dr-shorthair commented on #1359
Possibly of interest here is that GeoSPARQL is adding [`geo:hasCentroid`](https://github.com/opengeospatial/ogc-geosparql/blob/master/1.1/geo.ttl#L228) and [`geo:hasBoundingBox`](https://github.com/opengeospatial/ogc-geosparql/blob/master/1.1/geo.ttl#L217) properties - specialization of `geo:hasGeometry`.

The range of `hasCentroid` is a Point (e.g. [`sf:Point`](https://github.com/opengeospatial/o

[2021-05-05 05:40] jakubklimek commented on #1263
My proposal is to add a new DCAT property (e.g. `dcat:spatialResolution`) with the domain of `dcat:Dataset` and the range of `skos:Concept`, which would support connecting to a concept representing a spatial hierarchy level such as NUTS2, NUTS3, LAU (formerly also LAU1 and LAU2), etc.

I am currently not aware of any existing code list, which could be universally used for this (not even, for insta

[2021-05-05 14:21] riccardoAlbertoni commented on #1156
Thanks, @aisaac
I would slightly rephrase  your proposal as in the following

Would this rephasing work for you?

[2021-05-05 16:13] riccardoAlbertoni commented on #1155
@aisaac, please take a look at PR #1361 , it changes the examples considering your remarks.

[2021-05-05 21:24] andrea-perego commented on #1156
@riccardoAlbertoni said:

Or, more simply:

This would be in line with the definitions of `dcat:dataset` and `dcat:service`. Or there's a reason why having a metadata record about a catalogue is different from having records of datasets and services?

[2021-05-06 08:31] riccardoAlbertoni commented on #1156
It works for me.

[2021-05-10 06:24] tombaker commented on #1355
It could be interesting to characterize how different communities see and use application profiles - whether "vocabularies" are seen as sharply distinct, whether profiles stand alone or may build on others, whether they depend on specific technologies or schema languages, whether they are subsets of just one standard or draw on several, what use cases are addressed, and the like. In other words, n

[2021-05-11 14:39] davebrowning commented on #1241
Thanks for the response, @mathib.  sorry for the slow reply - we've been focussed on getting a new working draft published.

We did discuss the points you made (at https://www.w3.org/2021/04/28-dxwgdcat-minutes#t05) and recognise that we need to respond more fully - the feature is clearly needed but we need to be sure (as @andrea-perego said earlier) that we position it correctly as in scope of DC

[2021-05-12 21:40] andrea-perego commented on #648
No objections raised. Closing this issue.

[2021-05-12 21:40] #648 closed, assigned to nobody

[2021-05-12 21:41] andrea-perego commented on #125
No objections raised. Closing this issue.

[2021-05-12 21:41] #125 closed, assigned to agbeltran

[2021-05-13 08:06] kvistgaard opened #1362 "Following the recommendation to use dct:type prevents using SKOS-based reference datasets or standard rdf typing"
For example, the scope note of Data service says:

The range of dct:type is rdfs:Class. This creates two serious issues:
1. Ambiguity for querying `rdf:type` and `dct:type`
2. The best practice for categorisation is to use SKOS-based controlled vocabularies.
Concretely I'm currently describing data services of a kind "REST API", "SPARQL Endpoint", "Download Service", and "Human Interaction Service

[2021-05-13 16:01] kvistgaard opened #1363 "Verify axiomatization of dcat:service"
In DCAT2 , `data:service` is axiomatized as

[code]
Please verify the need for these three restrictions.
In general, from a pragmatic perspective, I believe such constraints are unnecessary in an ontology. They are both too restrictive and not restrictive enough. Being too restrive prevents the wider use (one of the reasons I personally avoided DCAT so far). But in practice they are also not restr

[2021-05-17 17:15] tombaker commented on #1362
@kvistgaard
Thank you for raising this issue (and thank you @kcoyle for drawing my attention to it)!

FWIW, I agree that `rdfs:Class` now seems overly restrictive as a range for `dcterms:type`.  We did not foresee your perfectly reasonable use case when ranges were assigned back in 2008.

In a [paper we wrote in 2015](https://asistdl.onlinelibrary.wiley.com/doi/epdf/10.1002/bult.2015.1720410411),

[2021-05-17 17:50] tombaker commented on #1362
@kvistgaard @kcoyle @aisaac
I find to my surprise that the range of `dcterms:type` has ["gone missing" in the latest release](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/type) - the only significant mistake I have found since its publication in January 2020. I will look into this.

[2021-05-17 20:16] dr-shorthair commented on #1362
I have been designing a number of small ontologies using `dcterms:type` as a kind of supplement to `rdf:type` for a more informal sub-classification function. Often with a `skos:Concept` as the range/object. It is useful to have a 'standard' predicate available for this.

[2021-05-18 15:55] rajaram5 commented on #123
@dr-shorthair

Why not relax range constraint for `dcat:theme`? In the biomedical domain we have more ontologies and often these ontologies have `owl:Class` typing for concepts.

[2021-05-18 18:46] andrea-perego opened #1364 "Relax range restriction on dcat:theme"
@dr-shorthair

Why not relax range constraint for `dcat:theme`? In the biomedical domain we have more ontologies and often these ontologies have `owl:Class` typing for concepts.

_Originally posted by @rajaram5 in https://github.com/w3c/dxwg/issues/123#issuecomment-843290546_

[2021-05-18 18:48] andrea-perego commented on #123
@rajaram5 , thanks for your question.

This issue is closed, so I moved your comment to a new one: https://github.com/w3c/dxwg/issues/1364

Please continue there all discussion.

[2021-05-18 18:54] andrea-perego commented on #1362
Noting that there's a related issue just created: https://github.com/w3c/dxwg/issues/1364

[2021-05-18 19:19] agbeltran commented on #1364
There was also a discussion around the range for ```dcat:theme``` at: https://github.com/w3c/dxwg/issues/1153

[2021-05-18 21:06] andrea-perego commented on #1211
Sorry for my late reply, @aisaac .

Not sure `dcterms:conformsTo` is the most appropriate property. Probably, a specific one should be used (e.g., `dcat:queryLanguage` or `dcat:supportedQueryLanguage`). But this links to the more general issue (still under discussion) on whether DCAT should describe the specific characteristics of the service / API interface.

The current approach is minimal: the

[2021-05-18 21:09] andrea-perego commented on #1211
The last DXWG plenary (https://www.w3.org/2021/05/18-dxwg-minutes#t02) discussed the option of creating a new GH repo for the Profile Guidance document, and move there all the issues labelled with `profile-guidance`.

As this one is also labelled with `dcat`, we have to decide whether to transfer it or not.

[2021-05-18 21:15] chris-little commented on #1359
@riccardoAlbertoni @andrea-perego Apologies for commenting from a position of relative ignorance: Can a `dcat:bbox` encompass both Axis Aligned BBOX, as commonly used in 2D mapping, and Object Oriented BBOX, as commonly used in 3D modelling and 2/3D computer graphics?
I have assumed that a `dcat:bbox` is not necessarily the unique _minimal_ BBOX for a feature of interest.

[2021-05-18 22:45] dr-shorthair commented on #1364
I would be comfortable relaxing the ranges of theme and themeTaxonomy. But it is important to keep them as object-properties, since the object must be denoted by a URI - i.e. taken from a managed source somewhere.

[2021-05-19 04:50] dr-shorthair commented on #1359
Chris - BBox is conventionally aligned to cartesian axes, and implemented with two coordinates corresponding to the lower and upper vertices of the box - see the [GeoSPARQL links above](https://github.com/w3c/dxwg/issues/1359#issuecomment-832348173). I think you would surprise people with any more novel interpretation, which would probably be unhelpful for general 'interoperability'.

[2021-05-19 05:49] makxdekkers commented on #1364
All, there was an earlier discussion on this (see [here](https://github.com/w3c/dxwg/issues/1153#issuecomment-549750210)), where I noted that `dcat:theme` was explicitly minted for DCAT version 1 because it was felt that the range of `dct:subject` was too broad and that it would be useful to have a property with a range restricted to `skos:Concept`. Otherwise, `dct:subject` could have been used.
N

[2021-05-19 10:32] kvistgaard commented on #1362
I agree `dct:type` can be useful but `rdfs:range rdfs:Class` is very limiting, especially in the general, when types are defined as `skos:Concept`.

[2021-05-19 10:33] kvistgaard opened #1365 "The prefix of DC terms is dcterms in the text and dct in the class diagram"

[2021-05-19 12:44] rajaram5 commented on #1364
@dr-shorthair yes, it could work for our use cases if `dcat:theme` is an `object property`

[2021-05-19 12:52] rajaram5 commented on #1364
@makxdekkers I see your point. As I mentioned early in biomedical domain we have more `owl` based ontologies and vocabularies. So if you still like to restrict `range` of `dcat:theme` property it would be nice to have list of values like `skos:Concept`, `owl:Class`.

[2021-05-19 14:13] kcoyle commented on #1211
I'm not sure why this is labelled profile-guidance. I don't expect that group to be discussing individual properties. I think we can remove profile-guidance from this, and if it comes up again (?) in that group we can create our own issue.

[2021-05-19 18:07] agreiner commented on #1211
I think it is there to remind us to explain how to go about describing a data service using DCAT.

[2021-05-19 18:25] kcoyle commented on #1211
I don't think we'll be getting into that level of detail in the guidance document. I've been thinking more along the lines of general guidance, like:
* whether you can ignore some DCAT-defined properties
* whether you can add other properties
* whether you can drop some DCAT-properties but replace them with a similar property
* what the inheritance relationship is between an AP and a vocabulary, o

[2021-05-19 20:37] kcoyle opened #1366 "Profile Guidance Issues, Part 1"
<html>
<body>

In my (kcoyle) opinion:

<h2>Not a guidance issue</h2>
<ul>
<li><a href="https://github.com/w3c/dxwg/issues/801">SHACL: clarification of "partially" and ConformanceTest</a>
</li>
<li><a href="https://github.com/w3c/dxwg/issues/1211">Values for dcterms:conformsTo of instances dcat:DataService (sparql endpoints, for example)</a>
<li><a href="https://github.com/w3c/dxwg/issues/739">Mis

[2021-05-19 23:00] dr-shorthair commented on #1362
Is it really 'limiting' - it merely entails that the Concept is also a Class.

[2021-05-19 23:20] dr-shorthair commented on #1365
If the Enterprise Architect diagram is still what we want, I can update this.
However, I understood that a new diagram in a more portable format was being contemplated.

[2021-05-20 01:10] dr-shorthair opened #1367 "Replace FOAF terms - Agent"
DCAT is a bit bogged-down by using some FOAF terms, while even the authors of FOAF have long since moved on to other vocabularies (esp. Schema.org).

AFAICT there are no obvious like-for-like replacements for `foaf:homepage` and `foaf:primaryTopic`.

But it would be a trivial to replace `foaf:Agent` with `dcterms:Agent`. I can't actually imagine what problems it could cause - @makxdekkers @andrea-

[2021-05-20 01:25] agreiner commented on #1211
Looking over the thread again, I think my initial impression was just wrong.

[2021-05-20 01:46] dr-shorthair commented on #1365
See #1368

[2021-05-20 03:51] kvistgaard commented on #1365
And what's the argument for dterms? I personally use always dct.

Regarding the diagram, my hope would be that the new one is in SVG.

[2021-05-20 04:12] dr-shorthair commented on #1365
Frequent confusion with DCMI Type vocabulary which has its own ns.
https://dublincore.org/specifications/dublin-core/dcmi-terms/#section-7

[2021-05-20 04:13] dr-shorthair commented on #1365
And also with `dcat:`. See https://github.com/w3c/dxwg/issues/1314

[2021-05-20 05:11] kvistgaard commented on #1362
It is. Plenty of cases. One is that punning is allowed in OWL2 put not widely accepted. So, `dct:type` will be restrictive at least in cases when a user wants to either:
a) disallow instances to be also classes
b) use RDFS but not OWL
c) use a flavour of OWL not allowing punning
d) use a tool restricting only classes as values for properties with range `rdfs:Class`

[2021-05-20 05:14] kvistgaard commented on #1365
I see. Thanks for the pointers.

[2021-05-20 05:40] kvistgaard commented on #121
I keep finding the remaining

[code]

as very restrictive. I would suggest removing the range considering type it only  `rdf:Property` which will cover all use cases. If that's not acceptable, then `owl:ObjectProperty`. But not as `owl:DatatypeProperty`.

Using `dcat:theme` in cases of `skos:Concept` is not sufficient. For example, in EU data themes are controlled by [this NAL](https://op.europa.e

[2021-05-20 05:47] dr-shorthair commented on #121
`dcat:keyword` is intended to hold a literal.
It is not meant to hold a pointer to a web-resources.

[2021-05-20 06:35] makxdekkers commented on #1367
I don't see a problem with referring to `dcterms:Agent` instead of `foaf:Agent`. In the [namespace document of FOAF](http://xmlns.com/foaf/spec/20140114.rdf), `foaf:Agent` is declared to be `owl:equivalentClass` of `dcterms:Agent`.

[2021-05-20 07:07] pietervaneverdingen commented on #1362
I also need this for the projects I'm working on. And we work with a rapidly growing number of SKOS-based reference datasets.

[2021-05-20 07:17] pietervaneverdingen commented on #1363
We need this modeling flexibility at the heart of a data application ontology (to describe e.g. linked data solutions).

In general it might be a good idea to review all domain and range definitions to decide whether they are too restrictive (or not) and only add them when such a restriction is really needed.

[2021-05-20 07:33] dr-shorthair commented on #1363
I suggest dropping the `rdfs:member` reference. That is a by-way of rdfs which no-one much uses and it is a bit unclear what meta-level it is supposed to represent.

However, these kinda belong together:
[code]
The generic relationship of a catalog to its parts is through `dcterms:hasPart`.
`dcat:service`, `dcat:dataset` and `dcat:catalog` are specializations of 'has-part' for different kinds of c

[2021-05-20 08:06] danbri commented on #1367
(Since this thread is still being routed by intelligent github agents into
my inbox, and from there by other gmail agents, into my apple ios phone,
and from there by pixel agents into my eyes, I feel compelled to comment)

The FOAF maintainers, still being broadly of sound body and mind, have a
mostly annual check-in with Tom Baker of DCMI, who has (or have, since Tom
acts for DCMI in this capacit

[2021-05-20 15:41] makxdekkers commented on #1367
Why would you want to update that? I did sign the agreement in my previous role. No need to alter history.

[2021-05-20 15:48] makxdekkers commented on #1367
I assume that you would still respect the [DCMI Generic Namespace Policy](https://www.dublincore.org/specifications/dublin-core/dcmi-namespace-generic/) that is part of the DCMI FOAF Agreement, and in particular "_the meanings of terms should evolve according to known change management policies_". Would this mean the changes are going to be agreed with the [DCMI Usage Board](https://www.dublincore

[2021-05-20 16:21] danbri commented on #1367
@makxdekkers I was reading it as a live document (it has this month's date in the footer), i.e. that it represents ongoing commitments, and wasn't sure you'd be happy being considered as a current representative of DC Ltd. Fine if is a frozen snapshot!

Regarding known change management, the FOAF spec makes a few points to set expectations:

* FOAF has been evolving gradually since its creation in

[2021-05-20 16:37] makxdekkers commented on #1367
Of course, I can't be considered a representative of DCMI Ltd. -- which, by the way, does not exist in that legal sense anymore.

If I understand correctly, @dr-shorthair made a point that FOAF is no longer _actively_ maintained, and that, for Agent, there is an alternative at DCMI, which also creates more consistency as the properties for which `foaf:Agent` is the domain are Dublin Core propertie

[2021-05-20 16:42] danbri commented on #1367
We haven't changed it for a while, but that's often true of Dublin Core
too. Why mess with success? ;)

On Thu, 20 May 2021 at 17:37, makxdekkers ***@***.***> wrote:

[2021-05-21 01:24] dr-shorthair commented on #1367
Thanks @makxdekkers - yeah, that is essentially my point. I was updating the DCAT summary diagram and experienced a bit of whiplash walking round the backbone flipping from namespace to namespace (please don't anyone try to turn that into an image). The appearance of `foaf:Agent` in that place in the diagram, joined from some DC properties, just seems unnecessary. I think the comments from @danbri

[2021-05-21 01:31] dr-shorthair commented on #1367
@danbri I didn't intend to cast shade on FOAF. It's been useful. But since DCAT re-uses a lot of DCMI terms then that is a big dependency that ain't going away. OTOH, the dependency on FOAF is minimal, and can be further reduced with this small change at the RDF level. Seems to me that reducing dependencies is generally beneficial for implementation and maintenance.

[2021-05-21 07:56] danbri commented on #1367
I actually agree. It would make more sense to use Schema.org since there
are many many more terms in that namespace that could be useful; but I can
understand if that route is not appealing. anyway, change vocabs for
pragmatic reasons not because either org curates its barely operational
definitions of “Agent” better.

Are there other kinds of Agent than Org, Person we care about here?

On Fri, 21

[2021-05-21 08:13] makxdekkers commented on #1367
@danbri There are certainly environments where quality of curation of semantics -- e.g. under responsibility of a trustworthy organisation with a clearly documented and transparent maintenance process -- is one of the key decision points.

[2021-05-21 08:18] makxdekkers commented on #1367
But I don't think that was the issue here.

[2021-05-21 08:24] danbri commented on #1367
Perhaps we agree. Putting a rough wine in a fancy bottle in a posh wine
cellar doesn’t make it better wine. It may make it more expensive, so long
as nobody tries drinking it. The “Agent” type is no better defined in
either of its formulations - it’s a hack that serves a pragmatic purpose.

On Fri, 21 May 2021 at 09:18, makxdekkers ***@***.***> wrote:

[2021-05-21 08:42] makxdekkers commented on #1367
@danbri Lots of people have been 'drinking' both wines, DCMI's and FOAF's, and, as far as I know, nobody is complaining, so the definitions can't be that bad ;-)

[2021-05-21 08:45] danbri commented on #1367
:))

On Fri, 21 May 2021 at 09:43, makxdekkers ***@***.***> wrote:

[2021-05-21 16:04] kcoyle commented on #1367
The issue may not be the Agent term itself but the [the context](https://w3c.github.io/dxwg/dcat/#Property:resource_creator) in which it is used. The DCAT editors draft gives `dcterms:creator` a range of `foaf:agent`, whereas `dcterms:creator` is [already defined](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/creator) with a `rangeIncludes` of `dcterms:

[2021-05-21 21:57] andrea-perego commented on #1367
I think the main point in recommending the use of FOAF since the first version of DCAT was that DCTERMS does not provide specific terms for describing agents.

To my knowledge, the use of FOAF in DCAT is not causing issues - maybe with one exception, i.e., that FOAF does not provide terms to specify relationships between agents of the type affiliation, sub-organisation, and similar. The cases I'm

[2021-05-21 22:30] andrea-perego commented on #1211
Thanks, @kcoyle & @agreiner .

I'm removing the `profile-guidance` tag, then.

[2021-05-22 01:53] rob-metalinkage commented on #1211
The underlying issue is we (the wider world)  have a hole around generic description of conformance and specifications and relationship to data, and another one around direct vs. service orientated access to resources.  PROF helps but only handles two immediate needs around direct inheritance and qualified link to support annotation of resources that may be used to describe a specification.

Speci

[2021-05-23 11:42] riccardoAlbertoni commented on #1365
I think we can close this issue,  as the only pending part is the need to change "dc" and "dcterms," which is already under the radar of  #1320.
Any objections?

[2021-05-24 12:59] riccardoAlbertoni commented on #1359
It seems this issue is addressed by the merged PR, shall we close it? any objections?

[2021-05-26 21:06] agbeltran opened #1374 "In DCAT3, dcat:keyword is a subproperty of dcterms:subject"
```dcat3.ttl``` includes ```dcat:keyword rdfs:subPropertyOf dcterms:subject ;```:
https://github.com/w3c/dxwg/blob/836b201802c0859c20bd066816e0c2cebb239f12/dcat/rdf/dcat3.ttl#L1034

which had been discussed as an errata here:
https://github.com/w3c/dxwg/issues/175

The solution is in @andrea-perego's comment:
https://github.com/w3c/dxwg/issues/175#issuecomment-375808963

reproduced here for conven

[2021-05-26 21:28] riccardoAlbertoni commented on #1155
@aisaac: PR 1361 has been merged, if there are no objections, I think we can close this issue...

[2021-05-26 21:31] riccardoAlbertoni commented on #1156
@aisaac: PR  #1370 has been merged, if there are no objections, I propose to close this issue.

[2021-05-27 07:29] tombaker commented on #1362
Thank you @kvistgaard @dr-shorthair @pietervaneverdingen @andrea-perego for your comments and @kcoyle for bringing this to my attention.

The Usage Board has quickly and unanimously approved the removal of `rdfs:Class` as the range for `dcterms:type`.

Unusually, but fortuitously, the [documentation for DCMI Metadata Terms](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://p

[2021-05-27 14:15] riccardoAlbertoni commented on #1358
Thanks for your suggestions, @becka11y.

We have discussed your request during the last dcat subgroup meeting (see meeting minutes [1]). Could you please take a look and provide feedback about the early drafted accessibility section available in [2].
Would a section like the one drafted go in the expected direction? Is there anything else you were expecting us to include?

If the drafted section d

[2021-05-27 15:31] smrgeoinfo commented on #1338
Seems to me the ideal solution would follow the pattern defined by the OGC specification model ([OGC 07-056r1](https://portal.ogc.org/files/?artifact_id=21976)), in which a set of conformance classes are defined in the spec, each with a set of conformance tests and a URI.  Then dct:conformsTo could point to the URI for a conformance class and its pretty clear what it means.
Example from the recent

[2021-05-30 22:06] aisaac commented on #1155
@riccardoAlbertoni sorry for the delay. It doesn't look so inconsistent anymore, so this can be closed!

[2021-05-30 22:13] aisaac commented on #1156
Yes it's perfect!

[2021-05-30 22:33] aisaac commented on #1211
Hi, sorry for having let so much time pass.

First, I can confirm that my comment was indeed not about profile guidance in general, only about the specific DCAT model.

Second, to react to @rob-metalinkage , while I see there might be a need for more advanced machinery, for the moment I can live with anything simple that allows me to indicate that a data service complies with SPARQL. This was the

[2021-05-31 17:35] #1156 closed, assigned to aisaac, riccardoAlbertoni

[2021-05-31 17:37] #1155 closed, assigned to riccardoAlbertoni

[2021-06-01 03:57] kvistgaard commented on #1362
@tombaker why not using `dc:type` instead, where there is no range? This way DCAT will be compatible with DC, while it won't be the case with DC Terms, when using `dcterms:type`.

[2021-06-01 07:54] dr-shorthair commented on #1362
See the explanation of the two namespaces here https://dublincore.org/specifications/dublin-core/dcmi-terms/#section-1
In particular

[2021-06-01 09:02] kvistgaard commented on #1362
Thanks, @dr-shorthair , I'm aware of that, but for the sake of compatibility, even when a property is just reused, not extending the ontology with `owl:imports`, the constraints should be respected. Taking up the property without the rule is a common practice, unfortunately, but it can have consequences when merging one graph with full with another with partial re-use of the same ontology.

[2021-06-04 10:43] jimjyang opened #1375 "DCATv3 2nd Public Working Draft - update the title and URL to [DCAT-AP-NO]"
Both the title of and the URL (though auto-redirected) to the Norwegian application profile [DCAT-AP-NO] in E.2 Informative references have been changed.

Please change to:
* title:  Standard for beskrivelse av datasett, datatjenester og datakataloger (DCAT-AP-NO)
* URL: https://data.norge.no/specification/dcat-ap-no/

[2021-06-04 12:52] riccardoAlbertoni commented on #1375
Thanks for your comment,  @jimjyang.
We have prepared a PR correcting the DCAT-AP-NO reference see #1376.
This issue will be closed as soon as the PR is merged.

[2021-06-04 13:47] #1365 closed, assigned to nobody

[2021-06-04 13:48] #1359 closed, assigned to nobody

[2021-06-06 12:47] aisaac commented on #175
Sorry I'm re-opening this one. My fault, I have not made the connection between the content of the notification and the essential issue back several years ago...
Since then the definition (and formal range) of dcterms:subject have been changed. Especially, the [comment for using the property](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/subject) now re

[2021-06-06 12:48] aisaac commented on #1374
See my new comment on #175. Sorry for having missed it...

[2021-06-06 12:57] aisaac commented on #1362
@kvistgaard I am not sure the discussion should continue. DCMI has agreed to drop the problematic range for `dcterms:type`. This was in fact in line with what DCMI wanted to do anyway, it's just that there was an oversight in the previous update. Indeed having `rdfs:Class` as range is not helpful, even more the perspective of the 'more modern' `dcterms:` namespace.

Maybe this was not the original

[2021-06-07 09:24] #1375 closed, assigned to nobody

[2021-06-07 18:36] riccardoAlbertoni commented on #761
@andrea-perego: Do you still think we need to discuss this issue? Or we can keep the distinction between  Normative and non-normative namespaces as a driving principle for deciding what we need to include in the properties section?

[2021-06-07 18:49] riccardoAlbertoni commented on #1278
I am attaching a link I have bumped into,  which I haven't yet had the time to look at, but it might relate to the software modeling https://knowledgecaptureanddiscovery.github.io/SoftwareDescriptionOntology/release/1.9.0/index-en.html

[2021-06-09 21:20] riccardoAlbertoni commented on #1362
We are going to close this issue unless there are objections about still open issues.

[2021-06-10 07:46] kvistgaard commented on #1362
@aisaac about

can you please provide a pointer to that. And what does it mean in practice? When will it be released?

Regarding my intervention, my hope was to achieve either that or DCAT to recommend using `dc:type` instead.

[2021-06-10 09:16] riccardoAlbertoni commented on #1362
@kvistgaard: I guess the pointer you are looking for is the following,  https://www.dublincore.org/specifications/dublin-core/dcmi-terms/release_history/

It seems the change has already been released.

[2021-06-11 12:22] jimjyang opened #1381 "Suggestion to add dct:format and dcat:mediaType to dcat:DataService"
### formats and mediaTypes of a DataService
Status: In real use in [the Norwegian national Data Catalog](https://data.norge.no/dataservices). Added as national extensions in [DCAT-AP-NO](https://data.norge.no/specification/dcat-ap-no/).

Creator: Jim J. Yang

Deliverable(s): DCAT3

## Stakeholders
Providers of DataServices/APIs
Consumers of DataServices/APIs
Providers of DataService Catalogs
Consu

[2021-06-13 19:07] smrgeoinfo commented on #1381
a convention to use an [OpenAPI](https://swagger.io/specification/) service description as the dcat:endpointDescription would address the issue.

[2021-06-14 09:55] jimjyang commented on #1381
Thanks for the suggestion, @smrgeoinfo.

Yes, we do recommend using OpenAPI. However, we need to support DataServices which are described using other description languages as well, among others [WSDL20](https://www.w3.org/TR/wsdl20/) and [wadl](https://www.w3.org/Submission/wadl/) from W3C.

As stated above, you need to know formats/mediaTypes of a DataService, already when you _decide if_ a DataS

[2021-06-15 12:20] riccardoAlbertoni opened #1383 "Updating Fig 7 to the same look & feel of DCAT UML class diagrams"
It would be nice to update fig 7 too, as it looks inconsistent now - have you shared the link to draw.io? we can do the new figure and updates collaboratively

_Originally posted by @agbeltran in https://github.com/w3c/dxwg/issues/1382#issuecomment-861316852_

[2021-06-15 13:08] riccardoAlbertoni commented on #1383
@agbeltran:  the link is  https://app.diagrams.net/#G1iLuLtKwQ-QQuISc3RCmRVs2zyJkBzpLW
At the moment, only DCAT editors can access the diagram. If other group members want the right they can contact me.

I have copied the DCAT all attribute class diagram as a starting point, I suggest updating the diagram by copying and pasting/reusing the current classes so that we can keep the same interline, fo

[2021-06-15 13:09] #1294 closed, assigned to nobody

[2021-06-15 13:53] #1362 closed, assigned to nobody

[2021-06-15 16:44] riccardoAlbertoni commented on #175
We discussed this issue last DCAT call see https://www.w3.org/2021/06/09-dxwgdcat-minutes#t06,

Personally, I  agree with keeping the sub-property between `dcat:keyword` and `dcterms:subject` as it seems `dctems:subject` now accepts literals, it is an RDF property,  it is not defined as `owl:objectProperty`, ... .

Other members do not read in the definition of `dcterms:subject` the possibility to

[2021-06-15 18:30] aisaac commented on #175
The last update of DCMI Terms was meant to soften formal commitments and ease interoperability with more 'classical' data representations. It would be quite a disappointment if the outcome would be that the new spec foresees blank nodes being used place of simple literals.

For the record the ISO spec at https://www.iso.org/obp/ui/#iso:std:iso:15836:-2:ed-1:v1:en mentions:

So this means that if t

[2021-06-16 08:36] Robsteranium commented on #1263
We'd also like to see this added.

Specifying resolution in metres only really makes sense for data collected on a continuous distance scale (like sampling points), not nominal coding (like we have with administrative geography).

We could express the resolution in metres using e.g the average radius of geometric polygons but the variance would be far too high (e.g. country-level resolution would

[2021-06-18 16:39] riccardoAlbertoni commented on #175
I have prepared PR #1384 as I think we should have the DCAT rec and the RDF files as much as possible aligned, and, if we decide to keep the sub-property in the RDF,   we need to add the sub-property in the DCAT 3 rec.

[2021-06-20 09:29] andrea-perego commented on #175
@aisaac , I see your point, and I agree that the formal definition of `dcterms:subject` does not prevent it from being used with literals.

My concern is whether this was the actual intention. DCTERMS has so far kept a clear distinction between object and datatype properties, so I wonder whether the current version has changed this approach. Should this be the case, it might be worth stating this

[2021-06-20 20:41] andrea-perego commented on #1263
@jakubklimek , @Robsteranium , thanks for contributing your solutions.

A couple of comments:

1. DCAT suggests using the Data Quality Vocabulary for spatial resolution types other than distance in metres - quoting from [§6.6.5 Property: spatial resolution](https://w3c.github.io/dxwg/dcat/#Property:dataset_spatial_resolution) in DCAT 3 ED:

    GeoDCAT-AP gives an example of how to do this, but st

[2021-06-23 12:55] riccardoAlbertoni commented on #175
It seems there is no agreement on having  `dcat:keyword` sub-property of `dcterm:subject`.  I would suggest accepting that "we agree that we disagree" and solve the issue merging  PR #1385.

PR #1385 aligns HTML and RDFs as it was meant by DCAT 2 , it removes the `dcat:keyword` sub-property of `dcterm:subject` from the RDF files.

@andrea-perego  I haven't understood why dropping the range for `dc

[2021-06-23 14:02] andrea-perego commented on #175
Sorry, @riccardoAlbertoni . I mixed up things.

What I really meant is

[2021-06-23 15:55] #1153 closed, assigned to riccardoAlbertoni

[2021-06-23 15:55] #1364 closed, assigned to nobody

[2021-06-23 16:31] riccardoAlbertoni commented on #1374
Solved by PR #1385, sub-property has been dropped.

[2021-06-23 16:31] #1374 closed, assigned to nobody

[2021-06-24 08:04] Robsteranium commented on #1263
Thanks @andrea-perego.

1. Sadly I don't think GeoDCAT/ DQV fit this use case. The alternatives they provide are all still continuous measures of distance whereas we're looking for a discrete nominal scale.
2. I guess concept levels could be expressed with an `skos:Collection` orthogonal to the `skos:ConceptScheme` of locations but we'd still need a way to distinguish these roles (it would've been

[2021-06-24 10:14] bertvannuffelen opened #1387 "SHACL and DCAT profiling"
Hi,

I have observed that the current explicit making Catalog a subclass of Dataset is hindering the usage of SHACL and also DCAT profiling.

The situation is as follows: in many DCAT profiles additional constraints are placed on datasets. And they are applicable solely to datasets in that catalog, not to the catalog entity. However by enforcing Catalog being a sublcass of Dataset and expressing t

[2021-06-24 11:03] jakubklimek commented on #1387
@bertvannuffelen This is indeed annoying. Can this be raised as an issue for DCAT3? I would rather solve this on DCAT level than defining "EU dataset" which is not a dcat:Dataset and so on

[2021-06-24 11:18] bertvannuffelen commented on #1381
@jimjyang In Flanders we have create a DCAT profile https://data.vlaanderen.be/doc/applicatieprofiel/metadata-dcat capturing Open data, Geospatial data and closed data and standalone services.

When discussing data services this aspect has been kept as part of the endpoint description. So outside of the metadata that is collected in the DCAT catalogue. We observed that those technical details are

[2021-06-24 11:30] bertvannuffelen commented on #1363
This is a very important statement which I agree with.

[2021-06-25 10:21] riccardoAlbertoni commented on #1387
@jakubklimek replied [via email](https://lists.w3.org/Archives/Public/public-dxwg-wg/2021Jun/0082.html)

[2021-06-25 10:29] jakubklimek commented on #1387
@riccardoAlbertoni thanks, actually I commented here and later deleted the comment :)

I originally thought this issue was raised in a DCAT-AP repo and hence the comment it should be raised in DCAT. Then I realized my mistake and deleted it, since it does not really contribute anything.

[2021-06-25 11:06] riccardoAlbertoni commented on #1387
@jakubklimek: My Apologies, I have misunderstood the message.. Yes, you are right, we do not need to track your message here. I am will clean the issue from your comment and the related.

[2021-06-29 17:25] aidig opened #1388 "DCAT TTL - The label for the class dcat:Resource"
The label '**Catalogued resource**' for the class [dcat:Resource](https://www.w3.org/TR/vocab-dcat-2/#Class:Resource) in the [TTL ontology distribution ](https://www.w3.org/ns/dcat.ttl) of the ontology) implies that this is the class of all catalogued resources, yet it is stated in section [5.1 DCAT Scope](https://www.w3.org/TR/vocab-dcat-2/#dcat-scope) that this class also covers **resources whic

[2021-07-01 08:13] jimjyang commented on #1381
Thanks for sharing your experiences, @bertvannuffelen!

I am not technical but our catalog users (application developers) report that they need to know the formats/mediaTypes of a DataService in order to consider whether or not to use a DataService.

Our suggestion is not at all to let DCAT replace/standardize the (practices of) endpointDescriptions, but to make it possible to provide catalog user

[2021-07-02 08:56] bertvannuffelen commented on #1381
@jimjyang,

the challenge I see with the proposal is that I am not sure that it will address your catalog users request. Are they really searching for data services that provide data as "application/atom+xml" but not as "application/xml"?

It seems natural to include more technical details from data services into a meta data description, but this has its drawbacks.
I am more inclined to train team

[2021-07-02 10:26] bertvannuffelen commented on #1366
Is there any consolidated document/text that cover the above issues already?

[2021-07-02 14:33] kcoyle commented on #1366
@bertvannuffelen Not yet. We are just trying to get a handle on the issues, and this is only 1/4 of the ones in the repo.

There is a very old document (https://w3c.github.io/dxwg/profiles/) but my feeling is that most of that will change if we follow through on current thinking, which is to focus on DCAT profiles as a starting point.

[2021-07-05 10:31] jimjyang commented on #1381
Thanks again for sharing your experiences/solutions, @bertvannuffelen!

We do share your concerns, and we are also restrictive regarding introducing (national) extensions. We also share your point with improving natural documentations of the DataServices, which is another discussion (in general, about metadata quality of the resources that are listed in, and referred to from, a catalog).

Not nece

[2021-07-05 13:59] #175 closed, assigned to aisaac, makxdekkers

[2021-07-05 14:00] riccardoAlbertoni commented on #175
Closed as explained in  https://github.com/w3c/dxwg/issues/175#issuecomment-866810728

[2021-07-12 13:16] bertvannuffelen commented on #1242
In Flanders this discussion has resulted in the following rough guideline:

A Data Service is smart access to one or more Datasets, where the access to the data can be manipulated by the user.
A Distribution of a Dataset is a way to access the data without any user interaction. The user can obtain the complete data as described by the Dataset by a sequences of connected paginated requests.

That m

[2021-07-12 14:42] bertvannuffelen opened #1390 "Linked Data Subject pages: distributions or data services or non-of-both?"
I have the following discussion on which I have no clue about how to categorize them.

Online consultation of data is that a distribution, a data service or  non-of-both?

Consider Linked Data subject pages:

if one dereferences a URI then a document URI is returned. This html document can be nicely styled, having the data organized in such a way that I as a reader find it pleasant to read it.

Th

[2021-07-13 00:06] smrgeoinfo commented on #1242
@bertvannuffelen   `A Data Service is smart access to one or more Datasets, where the access to the data can be manipulated by the user.`
'can be manipulated by the user' implies some kind of API beyond the basic HTTP Get (with no parameters).
The current model of Distribution in DCAT provides a downloadURL; this seems to correspond to what you would redefine as a distribution.  dcat:Distribution

[2021-07-13 00:44] rob-metalinkage commented on #1242
I think there is an inherent problem with scoping a general property like dct:conformsTo to a specific range - the identifiers of protocol APIs.

Taking on board the multiple different pieces of information identified as required for the user story (independent of the priority assumed), it would appear that the requirement is for one of :

1) dct:conformsTo be multivalued, and the objects support

[2021-07-13 06:51] bertvannuffelen commented on #1242
@smrgeoinfo

Is then a JSON REST API which just implements HTTP CRUD operations for you a distribution? For me that is actually a prototypical example of a dataservice.

Also is a webbrowser for you an software application? Or is is it at the level of an operating system?

It is hard for me to draw strict lines, I am in the search for some good criteria. And the above ones were the best guidelines

[2021-07-13 07:09] bertvannuffelen commented on #1242
@rob-metalinkage

It is indeed orthogonal but related, as it is part of the key properties of a data service.
Of the options I would not prefer option 3 as it complicates the usage and domain model, and then people would reintroduce it as a simple again. About option 4 I do not grasp fully your intend.
Option 6, if I understand correctly, is to make the definition and usage much more restricted.

[2021-07-13 11:23] bertvannuffelen commented on #1381
@jimjyang

Although I personally would not go for collecting this information for that purpose, I understand your request.
I would persue the data services providers to improve their technical documentation which they refer to in the endpoint description.

indeed, but maybe it refers to more interesting information to decide if the service is reusable.

yes, I know. I have given this example to il

[2021-07-16 22:17] andrea-perego commented on #1390
@bertvannuffelen , you're touching a number of different aspects which, although interrelated, may need to be addressed separately.

It would be beneficial to the discussion if you could break down the issues you're raising, and complement your comments with (ideally, real-world) examples.

[2021-08-24 21:34] JoepvanGenuchten opened #1392 "Semantics of the dcat:bbox attribute could (should?) be more explicit"
The http://www.w3.org/ns/dcat#bbox attribute is somewhat vague (or perhaps lends itself to misinterpretation) dcat describes resources (data-sets) and while I suspect that this attribute is intended to say something about what the resource is about, it could also be interpreted as the (physical) nature of the resource itself. A somewhat forced  example: an old fashioned phone-book is about a regio

[2021-08-24 22:36] andrea-perego commented on #1392
@JoepvanGenuchten , thanks for raising this issue.

I think there are two separate aspects here: one is about the range, and one about the actual semantics of this property.

1. About the range, what is generic is the literal encoding of the geometry (`rdfs:Literal`). In [the current draft of DCAT3](https://w3c.github.io/dxwg/dcat/#Property:location_bbox) we made a slight revision to clarify this

[2021-08-24 23:28] rob-metalinkage commented on #1392
@andrea-perego is correct - semantics is relative to the domain the property is used for.

There needs to be some out-of-band (i.e. not in DCAT model) statement about how any domain intends to use any generic property - so example how to interpret the concept of a "box" is probably domain specific.

another example is dcterms:conformsTo -  in DCAT it relates to the dataset - whereas in most other

[2021-08-25 10:42] JoepvanGenuchten commented on #1392
@rob-metalinkage @andrea-perego thank you for your responses. This clarifies a a lot, that  also helps me refine my own comment here.

tldr:
my feedback comes down to 2 things:

- Why are properties like dcat:bbox and dcat:centroid here in the first place? Does it really add to the functionality of data cataloging and if so, shouldn't we reuse one of the many other ways in which this relationship

[2021-08-25 11:49] rob-metalinkage commented on #1392
I think the GeoSPARQL group are possibly looking providing options for describing semantics of geometry properties. These should perhaps just be used via a GeoDCAT profile.   Any real world spatial object has multiple possible geometric representations - and these may vary according to other aspects of its state.  A dataset covering the spatial domain of some object would potential share these.

[2021-08-25 22:29] andrea-perego commented on #1392
@JoepvanGenuchten ,

About "why does dcat concern itself with bounding boxes (and centroids) in the first place?", you can find the background discussion in https://github.com/w3c/dxwg/issues/83 , which also links to the relevant use case in DXWG UCR document. Trying to summarise it:

The original version of DCAT did not provide guidance on how to specify the spatial coverage of a dataset by using

[2021-08-26 09:44] JoepvanGenuchten commented on #1392
@andrea-perego thank you for the links to the other discussions.

About "why its in here": I see a lot of clarifying arguments, especially in issue 83.  I agree with the formal arguments about why you might want a separate object property to describe this particular usecase. But I maintain it should be handled by a geospatially oriented vocabulary and not by one aimed at data cataloging. I would s

[2021-08-26 13:29] bertvannuffelen opened #1394 "Cardinality constraint for dcat:endpointURL (restrictions in dcat.ttl which are not visible in html)"
The specification on dcat:endpointURL: https://www.w3.org/TR/2020/REC-vocab-dcat-2-20200204/#Property:data_service_endpoint_url does not provide an indication of a cardinality constraint.

However https://www.w3.org/ns/dcat2.ttl contains a maxCardinality constraint.

What is here the expected behaviour? Adding constraints in the machine readable syntax should be best reflected in the html represen

[2021-08-26 13:48] bertvannuffelen commented on #1390
A more concrete example: the collection of all html pages of DBPedia is that a distribution of the DBpedia dataset? E.g. https://dbpedia.org/page/Belgium

To my knowledge, this collection of all html pages is not downloadable, only online consultable. (It is not listed on https://www.dbpedia.org/resources/)

Observe that the html rendering has been done some "data interpretation": namely the flag

[2021-08-26 14:44] bertvannuffelen commented on #1392
@JoepvanGenuchten

This is a general issue on modularity and reuse. I agree that if there would be like dcterms a very generic geo vocabulary defining the bounding box of a resource (geo:bbox) then this property could be reused in this usage context. However it does not. (At least to my knowledge). To satisfy the usecase to express bounding box information about the spatial coverage of a dataset a

[2021-08-26 17:08] JoepvanGenuchten commented on #1392
@bertvannuffelen I can accept not adding "physical", but would push on not using the term 'resource' in the definition and replacing it with (dcterms:)Location, beyond issues about documentation rendering. After all: by setting the domain of the property to be dcterms:Location, we say this is a property of the location, and not of the resource (dcat or rdfs) that happens to find itself there.

[2021-08-26 23:25] dr-shorthair commented on #1392
@bertvannuffelen is this what you are looking for?
[geosparql:hasBoundingBox](https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#_property_geohasboundingbox)
[sf:Envelope](https://github.com/opengeospatial/ogc-geosparql/blob/master/1.1/sf_geometries.ttl#L42)

[2021-08-27 08:04] bertvannuffelen commented on #1392
@dr-shorthair yes this seems close to what I meant.
I went through the geosparql spec and there might be compatibility problems with the domains and ranges:

a) domain
geosparql:hasBoundingBox has as domain geo:Feature, which is a geo:SpatialObject.

So now the question rises if one would like to reuse it, is dct:Location a geo:SpatialObject? If that is not the case then reuse creates discussions.

[2021-08-27 08:53] dr-shorthair commented on #1392
@bertvannuffelen I see no problem with a). `geosparql:Feature` is pretty general, and I can't see any undesirable entailments.

On b) I think it works if `geosparql:hasBoundingBox` is a sub-property of `dcterms:spatial`,
and `dcat:bbox` a sub-property of `geosparql:hasSerialization` .

[2021-08-27 21:52] andrea-perego commented on #1392
@dr-shorthair said:

Not sure about this. `dcat:bbox`  links a spatial thing to its bounding box, specified as a literal, so I think it is more correct to say that it corresponds to the following property chain:

    geosparql:hasBoundingBox / geosparql:hasSerialization

[2021-08-27 22:03] andrea-perego commented on #1392
Trying to summarise the results of the discussion in this thread, and outlining possible actions:

1. Improve the definition of `dcat:bbox` & `dcat:centroid`: @JoepvanGenuchten , @bertvannuffelen , thanks for highlighting the ambiguity of the term "resource" in the current definition of these properties. We'll discuss this issue in one of the next DCAT meetings.
2. Re-use reference vocabularies fo

[2021-08-30 06:42] jimjyang commented on #1381
@bertvannuffelen Sorry for my late reply (because of the summer vacation).

* format: We use the following as the usage note (based on the similar one for Distribution): The data format of the data service. May be repeated for data services which provide data in several formats.
* mediatype: We use the following as the usage note (based on the similar one for Distribution): The media type of the d

[2021-08-30 07:28] bertvannuffelen commented on #1392
@andrea-perego I am happy with the summary.

[2021-08-30 07:52] bertvannuffelen opened #1395 "On dataset series > sharing a usecase experience"
In https://w3c.github.io/dxwg/dcat/#dataset-series-properties some good guidelines are shared about the intended usage of dataset series.

In the past I followed statistical dataset series from Eurostat. From one ESTAT dataset series I found the UK version, and then I discovered that this series was splitted over 2 organisations. The most recent 5 years in at their stat office, but the older ones

[2021-08-30 07:57] dr-shorthair commented on #1395
If the intention is that it is a single series, then it should be classified that way.

However, there is this potential inconsistency with the [definition of `Dataset`](https://w3c.github.io/dxwg/dcat/#Class:Dataset) "A collection of data, **published or curated by a single agent**", since `DatasetSeries` is sub-class of `Dataset`. Hmmm.

[2021-08-30 08:34] JoepvanGenuchten commented on #1392
@andrea-perego good summary, I have nothing to add.

[2021-08-30 11:00] makxdekkers commented on #1395
@bertvannuffelen @dr-shorthair The way I see this is that you really have two separate series. One that always has 5 members -- if I understood the situation correctly -- where one dataset, the latest year, is added and one, the sixth year, is (re)moved every year, and one series that grows every year as it adds the latest year.

Also, the way that @bertvannuffelen found what I would call the seco

[2021-08-30 11:35] riccardoAlbertoni commented on #1388
@aidig: Thank you for the comment.
To clarify the overall expectation of resources being part of catalogs,  we added "The instances of  Resource SHOULD be included in a catalog" in the usage note for dcat:Resource.

'SHOULD' is to be interpreted as described in BCP 14 [RFC2119] [RFC8174], which implies Resources are typically defined as part of catalogs, but the specification acknowledges that the

[2021-08-30 19:09] agreiner commented on #1395
I think this issue is a valid critique of the idea of defining a DatasetSeries as a subclass of Dataset. Datasets in a series share common characteristics, but they always differ in some substantial way, or they would be duplicates or versions of each other. Defining a series in a different way may allow DCAT 3 to make DatasetSeries more useful and less confusing. For the sake of findability, I th

[2021-08-30 19:46] smrgeoinfo commented on #1390
If all of DBPedia were accessible as a single download consisting of a set of individually identifiable html documents, that would constitute a kind of distribution. But it doesn't exist. A dataset can exist independent of any distribution.
http://dbpedia.org/sparql is a data service that allows one to extract data from DBPedia.

An html (or ttl) page that renders a single DBPedia record could be

[2021-08-31 13:58] bertvannuffelen commented on #1395
Maybe my experience is maybe to outcome of the activity "archiving digital artifacts". The example shows both active maintained datasets but also the archiving of those datasets, and that those are connected.

[2021-09-05 10:52] #771 closed, assigned to nobody

[2021-09-06 14:49] riccardoAlbertoni commented on #1388
@aidig: We are closing this issue as we think the above change has clarified the issue you pointed out. In case you think otherwise, please feel free to contact us again, reopening it. Thanks a lot.

[2021-09-06 14:49] #1388 closed, assigned to nobody

[2021-09-07 10:15] riccardoAlbertoni opened #1398 "Align to schema:CreativeWorkSeries"
as suggested by @dr-shorthair in https://github.com/w3c/dxwg/pull/1397#pullrequestreview-747417547

 We should consider attempting some additional alignment with https://schema.org/CreativeWorkSeries

[2021-09-07 11:41] #1383 closed, assigned to nobody

[2021-09-07 16:06] riccardoAlbertoni commented on #1358
We have merged  PR #1373 into the editorial draft.
Thus the accessibility section is now available at the link [2]  https://w3c.github.io/dxwg/dcat/#accessibility.

[2021-09-08 12:01] riccardoAlbertoni commented on #1358
Closing the issue as discussed in the latest plenary teleconference, see https://www.w3.org/2021/09/07-dxwg-minutes#t02 .

[2021-09-08 12:01] #1358 closed, assigned to nobody

[2021-09-08 16:22] riccardoAlbertoni commented on #1336
A draft section about inverse properties is available at the link [1] and has been discussed at the last DXWG plenary.  The meeting minutes [2] register the rationale behind the section and the so-far positive reactions from the group.

Are there any remarks or objections to the approach described in the section?
Any suggestions and improvements on the section wording are welcome.

We want to make

[2021-09-11 18:12] riccardoAlbertoni commented on #1252
We have implemented two alternative solutions for making fig 1 more coherent...
Either  adding the dcterms:creator arrow from dcat:Catalog to foaf:Agent as in  PR #1399  or deleting dcterm:publisher arrow starting from catalog  as in PR #1400
@bertvannuffelen: Is there one you prefer?

[2021-09-13 15:10] riccardoAlbertoni commented on #1252
We have deleted dcterm:publisher arrow starting from catalog from fig 1.  If there are no objections  I think we can close this issue.

[2021-09-16 15:26] riccardoAlbertoni opened #1402 "What to do with axioms in the DCAT 3 RDF serializations?"
We discussed dropping some axioms from the DCAT 2 RDF serialization as they were not explicitly mentioned in the DCAT 2 REC. See #PR #1401 for the list of axioms.

How to deal with the same axioms in dcat 3. We might either a) delete the above axioms or b) add them in the DCAT 3 HTML specification and keep it in the RDF serialization.

Some of the above axioms relate to the discussion in separate

[2021-09-20 14:49] #1252 closed, assigned to nobody

[2021-09-20 19:13] init-dcat-ap-de opened #1403 "How to model dct:temporal for continously evolving Datasets?"
In GovDataOfficial/DCAT-AP.de#17 we discussed a real usecase where I am surprised to find no obvious answer.
I escalated the issue to https://github.com/SEMICeu/DCAT-AP/issues/201 where we concluded, that we don't have a (structured) solution.

**Use Case**
There is a Dataset which is updated constantly (`dcterms:accrualPeriodicity`) with a resolution of one hour (`dcat:temporalResolution`). But y

[2021-09-20 21:06] simsong opened #1404 "why is dcat:spatialResolutionInMeters part of Class Dataset and Class Distribution?"
The RDF Property `dcat:spatialResolutionInMeters` appears in section 6.6.5 and in Section 6.8.13 of Version 3 W3C Working Draft 04 May 2021.

Likewise, the RFD property dcat:temporalResolution appears in both section 6.6.7 and in section 6.8.14.

From reading these sections, it is unclear to me if this is an editing mistake or if the two versions, in Dataset and in Distribution, are somehow differ

[2021-09-21 03:26] dr-shorthair commented on #1403
Correct. The range of `dcterms:temporal` is expected to be an interval, not a duration.

Maybe https://www.w3.org/TR/owl-time/#time:hasDuration ?

[2021-09-21 15:49] init-dcat-ap-de commented on #1403
So something like this?
[code]

Any plans to make it "official"? Does anyone else has this usecase?

[2021-09-21 21:48] andrea-perego commented on #1403
@init-dcat-ap-de , it should rather be

[code]

or

[code]

But I understand you need also a way to specify that the time interval ends "today".

@dr-shorthair , any suggestion on this?

[2021-09-22 08:22] dr-shorthair commented on #1403
OWL-Time only provides a few individuals: for some durations (the standard second, minute, hour etc) and days-of-the-week.
It might be useful to have a specific individual temporal-entity for 'now', which could then appear as the end or beginning of a time-interval with a specified duration, e.g. the last week
[code]

or the last ten days
[code]

where
[code]

Maybe raise an issue in https://githu

[2021-09-22 08:48] init-dcat-ap-de commented on #1403
@dr-shorthair & @andrea-perego
Yes, a `time:Now` would be interesting to indicate the endDate of the temporal resolution. But maybe not neccessary.
Because we also have `dcterms:accrualPeriodicity` which might be enough to say what we want:

[code]

If the `dcterms:accrualPeriodicity` is not CONTINOUSLY, e.g. MONTHLY, a `time:Now` as end date would be not correct.

[2021-09-22 08:56] riccardoAlbertoni opened #1405 "Updating the RDF DCAT 2 serializations"
As a consequence of the merge of PR 1401 that fixes issue #1394,
we need to replace the RDF files accessible at  http://www.w3.org/ns/dcat#  with the corresponding  following three new serializations

https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat2.rdf
https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat2.ttl
https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat2.jsonld

The other fi

[2021-09-22 09:06] init-dcat-ap-de commented on #1403
To make the use of the time:Duration more clear, the creation of a new property would be good (a quick draft):

|            | dcat:timeWindow |
|--------|-------------------|
| Range | time:Duration    |
| Domain | dcterms:PeriodOfTime |
| Definition | If the period of time is a somehow sliding window, it can not be defined by start date and end date. <br> This property allows to define it with a

[2021-09-22 09:30] riccardoAlbertoni commented on #1394
I think if there are no objections, we can close this issue.

A summary of how we dealt with this issue:
We revised the Axioms in DCAT 2 RDF (PR #1401), and the new versions of RDF are available at

https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat2.rdf
https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat2.ttl
https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat2.jsonld

They will be a

[2021-09-22 09:35] bertvannuffelen commented on #1394
agree to close.

[2021-09-22 15:19] #1394 closed, assigned to nobody

[2021-09-22 15:47] riccardoAlbertoni commented on #1402
Considering the discussions we had in the last DCAT meeting and the overall reluctance to add constraining in the DCAT RDF formalization.
 I would be prone to be provocatively proposing to delete in the DCAT 3 RDF the axioms 1, 2, and 3 as done for DCAT 2 RDFs (solution a) in PR #1401.

Any reactions to my provocation? If not, I will prepare a PR.

[2021-09-22 21:43] agreiner commented on #1403
If the dataset is that dynamic, shouldn't it be possible to update the timestamps in the metadata whenever it is accessed? It's hard to imagine a desire to use start and end times unless they contain actual times. I'm very uncomfortable with the notion of assigning "now" to anything, as the meaning becomes very unclear to the consumer.

[2021-09-22 21:44] andrea-perego commented on #1402
+1 from me.

[2021-09-22 22:51] dr-shorthair commented on #1402
Yeah - too many axioms. That detail should be left to community profiles, probably formalized as shapes (SHACL and ShEX) rather than RDFS/OWL.

[2021-09-23 02:38] smrgeoinfo commented on #1402
Perhaps a 'recommended set' of axioms (shapes?) could be set in a separate module, to promote some level of consistency? A profile could choose to use (import) them or not.

[2021-09-23 06:41] init-dcat-ap-de commented on #1403
We would still need information in the metadata to indicate, for which datasets the timestamps have to be updated and how they have to be updated.

[2021-09-23 13:55] jze commented on #1403
The problem occurs when metadata is forwarded to other portals. In Germany the federal states operate their own open data portals. Once a day or one a week the metadata is harvested by the national open data. This in turn is harvested by the European portal. So it takes a few days for the data to arrive at the European portal. In some cases also municipal portals are involved, adding to the delay.

[2021-09-23 17:08] plehegar commented on #1358
Discussed in APA yesterday: https://www.w3.org/2021/09/22-apa-minutes.html#t06

[2021-09-24 19:54] simsong opened #1406 "Support description of legal authorities"
### Support description of legal authorities
Status:

Identifier:

Creator: (your name)

Deliverable(s): DCATv3

## Tags
dcat,profile,dataset,documentation,provenance
## Stakeholders
Governmental entities, be they data producers, data publishers or data consumers.

## Problem statement
Within governments, it is frequently important to document the legal authority under which data are:
* Collected

[2021-09-24 19:58] simsong opened #1407 "Distinguish dataset owner, curator, steward, and other functions"
### Distinguish dataset owner, curator, steward, and other functions
Status:

Identifier:

Creator: (your name)

Deliverable(s): DCATv3

## Tags
dcat,profile,dataset,documentation,provenance
## Stakeholders
Governmental entities, be they data producers, data publishers or data consumers.

## Problem statement
Within governments, it imay be important to distinguish multiple entities that have respo

[2021-09-25 07:27] dr-shorthair commented on #1407
See https://www.w3.org/TR/vocab-dcat-2/#Property:resource_qualified_attribution
explained here: https://www.w3.org/TR/vocab-dcat-2/#qualified-attribution

[2021-09-25 07:29] dr-shorthair commented on #1406
Could this use the same `qualifiedAttribution` mechanism also [mentioned here](https://github.com/w3c/dxwg/issues/1407#issuecomment-927033274)?

[2021-09-25 09:37] simsong commented on #1406
It could use `qualifiedAttribution`, but we would need to have multiple `qualifiedAttribution`s per catalog entry, and we would need to have more vocabulary for distinguishing each kind of of the attribution, and we would need to have a way of distinguishing attributions to people and attributions to legal documents or concepts.

[2021-09-25 09:38] simsong commented on #1407
it's a great idea to use the `qualifiedAttribution`, but we still need to define each of the kinds of attributions with some sort of controlled vocabulary. That's because the curator really is different from the owner which is different from the steward.

[2021-09-25 11:31] agbeltran commented on #1407
There is the [contributor role ontology](http://www.obofoundry.org/ontology/cro.html), which is based on the [CASRAI Contributor Roles Taxonomy (CRediT)](https://casrai.org/credit/). Also ongoing work on the [CASRAI RDM terminology](https://codata.org/initiatives/data-science-and-stewardship/casrai-rdm-terminology/) may cover some aspects of attribution/roles.

[2021-09-25 12:20] simsong commented on #1407
The [contributor role ontology](http://www.obofoundry.org/ontology/cro.html) looks like it has what is needed! What is involved in bringing it into DCATv3?

The [CASRAI RDM terminology](https://codata.org/initiatives/data-science-and-stewardship/casrai-rdm-terminology/) also looks good. Thanks for telling me about these! I will reference both of them moving forward.

[2021-09-26 03:06] dr-shorthair commented on #1406
Sure. Why not?

Of course. But they would likely be governed outside of DCAT - i.e. community level, not DCAT schema level.

Attributions are always to Agents or Parties.

[2021-09-26 03:08] dr-shorthair commented on #1407
We would be unlikely to 'bring it into DCAT', but it could be added to the usage notes in https://www.w3.org/TR/vocab-dcat-2/#qualified-attribution Generally the choice of which controlled-vocabulary to use in the range of a property will be a community decision, since different communities have different needs, while they can all use DCAT as the overall framework or 'schema'.

[2021-09-27 15:39] riccardoAlbertoni commented on #1402
We removed the axioms in the DCAT 3 RDFs similarly to DCAT 2.

That could be an option, but at the same time, I think having further resources might be a source of confusion on what is the real expectation.
I think some users might have already difficulties in distinguishing normative from non-normative parts, and for that reason, I would be prone not to provide the axioms separately.

Can we clos

[2021-09-27 16:53] andrea-perego commented on #1402
+1 from me.

[2021-09-28 14:29] riccardoAlbertoni commented on #1404
These properties are repeated on purpose as one might need to specify the dcat:spatialResolutionInMeters at the dataset or distribution level.

For example, the usage note at https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_spatial_resolution says, "Alternative spatial resolutions might be provided as different dataset distributions".

@simsong: Does this explanation solve your doubt?

[2021-09-29 09:41] GKStGovData commented on #1403
some of our data suppliers have the need to define the time reference with a **fixed start date** and a **floating end date** (which does not have to be today). These needs should be considered in the solution.

[2021-09-29 15:54] #1402 closed, assigned to nobody

[2021-10-01 09:45] sde01 opened #1409 "Using dcat:next and dcat:version in Dataseries"
### Revising a dataset in a Dataserie
Status:

Identifier:

Creator: sde

## Tags
dcat Dataserie pav:version

## Problem statement
Should dcat:prev and dcat:next be updated when a dataset in the serie is revised ?

Let’s consider example  38
[code]

Now let’s consider that budget-2019 is revised with a new dataset budget-2019-rev1

Dataserie can be updated in different ways

* budget-2019-rev1 can

[2021-10-03 23:28] tomkralidis commented on #1403
Interesting discussion (having seen this as part of wmo-im/wcmp2#11).  We have use cases in weather for rolling window retention.  Would one need to consider this use case in the context of updating dct:temporal, or is it really a function of the data access mechanism?  Or both/something else?

An example use case is an organization that has been producing hourly observations since 2009-07-11, wit

[2021-10-05 20:27] riccardoAlbertoni commented on #1405
Closing the issue as the required changes have been made by @plehegar.

[2021-10-05 20:27] #1405 closed, assigned to plehegar

[2021-10-08 06:00] init-dcat-ap-de opened #1412 "URI of dcat:byteSize - specification link is wrong"
Hello,

a quick errata:

while the specification says the RDF Property is `dcat:byteSize`, the link itself goes to http://www.w3.org/ns/dcat#size
I checked in the ttl-version, it should be `byteSize`.

~ Ludger

[2021-10-08 15:42] riccardoAlbertoni commented on #1404
This issue is addressed by previous comments.
Please @simsong, feel free to reopen the issue if you think further clarifications are needed.

[2021-10-08 15:42] #1404 closed, assigned to nobody

[2021-10-13 00:20] ajnelson-nist opened #1414 "Typo present in dcat2 and dcat3: "represenations""
Hello,

I noticed the typo "represenations" is included in the English `skos:definition` for `dcat:Dataset`.  This is present in dcat2 and dcat3.

--Alex

[2021-10-18 15:21] riccardoAlbertoni opened #1416 "Example 54: use of dcterms:references"
I am not sure to understand the use of `dcterms:reference` as in example 54 https://www.w3.org/TR/2021/WD-vocab-dcat-3-20210504/

[code]

where :d33937.owl seems to be the ontology followed by the dataset.

@dr-shorthair: Perhaps a `dcterms:conformsTo` would be a better choice? Am I missing anything?

In case we decide to keep the references, it is possible that we need to add the inverse as discu

[2021-10-19 00:31] dr-shorthair commented on #1416
I can't recall what the intention was here.
I suggest deleting that line. No such artefact exists.
(FWIW this item now has a DOI https://doi.org/10.25919/5b4d2b83cbf2d )

[2021-10-19 22:40] #1414 closed, assigned to nobody

[2021-10-20 16:43] ajnelson-nist commented on #1414
Thank you!

[2021-10-30 06:07] sabinem opened #1418 "Options for metadata to describe tabular data in a more structured way?"
I am just wondering, why does DCAT not help in a more structured way with providing metadata about tabular data?

A lot of data is provided as csv files, which would then be dcat:Distributions. For a datauser it is of great importance to understand the tabular structure of these data files. So in the csv file example: what is the meaning of each column?
DCAT provides an unstrutured dct:description

[2021-10-30 07:06] makxdekkers commented on #1418
@sabinem As far as I understand, DCAT specifies a way to describe **datasets** in a catalogue, not the **data** inside a dataset. It defines a way to describe characteristics like what it is about, who is responsible, and for the distribution where it is and what format it is in. DCAT does not look _inside_ the data in the dataset in any detail. This is, in my mind, because DCAT does not want to l

[2021-10-30 08:20] makxdekkers commented on #1418
And by the way, DCAT specifies the use of the property [dct:conformsTo](https://www.w3.org/TR/2020/REC-vocab-dcat-2-20200204/#Property:distribution_conforms_to) to be used on a Distribution "_to indicate the model, schema, ontology, view or profile that this representation of a dataset conforms to_".

[2021-10-30 17:36] kcoyle commented on #1418
It makes sense to me that the catalog entry would include a link to the specification that defines the dataset structure and semantics. Not providing this link as part of the catalog entry seems to be a real disservice, causing users to hunt around to discover if such a document exists.

I don't think `dct:conformsTo` is sufficient. In the DC vocabulary, `dct:conformsTo` is defined as: "An establi

[2021-10-30 19:30] sabinem commented on #1418
@makxdekkers and @kcoyle thank you both for your answers.

@makxdekkers I do understand that datasets differ and I also know that some distribution formats have metadata build in to them (shapefiles for example can come with metadata). I also get that DCAT does not want to restrict the kinds of dataset, but I stiill think it would be great if it would come with an optional hint on how to add metad

[2021-10-31 11:52] makxdekkers commented on #1418
Good points  @sabinem @kcoyle .
I am not questioning the usefulness of linking to information about the structure of data that is not 'self-describing'. The question that I have is whether this needs to be done as part of DCAT or by some other specification.

In the case of CSV, which is the case that @sabinem raises, my worry would be that if DCAT tries to find a solution for describing the meani

[2021-10-31 17:52] sabinem commented on #1418
@makxdekkers

Exactly, that is what I mean.

See here on the [location of metadata for a csv file in the W3C recommendation Metadata Vocabulary for Tabular Data](https://www.w3.org/TR/tabular-data-model/#locating-metadata): One option there is to [link the metadata by a url.](https://www.w3.org/TR/tabular-data-model/#link-header) But how will a user be able to locate that metadata description? The

[2021-10-31 18:41] makxdekkers commented on #1418
@sabinem I think this is a good discussion for a potential addition in DCAT4.

I would, however, prefer to make the discussion wider than just for CSV files. The more general use case would be that the file accessed through the downloadURL is not self-describing but is associated with one or more resources that describe various aspects necessary to be able to understand and/or process the file.

W

[2021-11-01 00:35] dr-shorthair commented on #1418
I disagree. There is nothing to stop you using `dct:conformsTo` to point to a detailed highly specific schema - in fact the [DCAT usage note](https://www.w3.org/TR/vocab-dcat-2/#Property:distribution_conforms_to) is very clear on this point: "This property SHOULD be used to indicate the **model, schema, ontology, view or profile** that this representation of a dataset conforms to."  @kcoyle may be

[2021-11-01 01:00] rob-metalinkage commented on #1418
The "correct" approach according to the scoping discussions would be to define a profile of DCAT that defines a canonical structural description. RDF-QB is probably the leading candidate for such a description - and the StatDCAT-AP profile is a potential starting point  see : https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/solution/statdcat-application-profile-data

[2021-11-01 19:52] kcoyle commented on #1418
You *can* point to a detailed schema. You *could* also point to a very general profile document. How would a user know which it is? It's the **OR** that is the problem in that definition. I read the opening comment here as someone wanting to obtain a specific type of resource that gives the schema describing the data in the dataset, and `dct:conformsTo` doesn't guarantee that. So the question is w

[2021-11-01 20:21] smrgeoinfo commented on #1418
Maybe there are a couple different use cases here:
1.  what are the variables that are specified in the dataset (whether they are columns in a csv or keys in a JSON object, etc...). This is useful for discovery. Schema.org variableMeasured (see [Science on schema.org discussion](https://github.com/ESIPFed/science-on-schema.org/blob/issue27-measuredVariable/guides/Issue27-UpdatesForDatasetVariables

[2021-11-01 22:35] rob-metalinkage commented on #1418
I suspect it will be a very common pattern to "promote" up out of detailed structural and semantic descriptions one or more simple properties to support faceted searching - such as variableMeasured, dct:subject etc.

Since we dont want to mandate the form of those structural descriptions, profiles of DCAT that assume different structural descriptions could define an entailment rule (property chain

[2021-11-02 07:31] makxdekkers commented on #1418
I agree with @rob-metalinkage that adding specificity to the 'general' property `conformsTo `is the role of a profile. For example, the European DCAT-AP adds details: for Dataset, it refers to "_an implementing rule or other **specification**_" while for Distribution, it specifies "_an established **schema**_". Both fit in the general semantics of `conformsTo`. But if for some reason, an applicati

[2021-11-02 16:05] sabinem commented on #1418
@makxdekkers I think your suggestion and explanation on how to work with `conformsTo` is very helpful. It makes sense to me that it might mean different things as a property of a dataset and as a property of a distribution. And it does also make sense that a profile can further specify this exact meaning of it.

I wasn't aware that a profile can define subclasses. So this is also a good suggestion

[2021-11-02 16:17] makxdekkers commented on #1418
Apologies, when I wrote "_the profile could create **subclasses** of `conformsTo`, e.g. `conformsToSpec` and `conformsToSchema`_", that should of course have been _**subproperties**_.

[2021-11-02 17:09] simsong opened #1419 "Are the dcat definitions and usage notes available in RDF?"
### Allow Definitions and Usage Notes to be read programmatically

Creator: @simsong

Deliverable(s): DCAT3
It would sure be useful if I could read the Definition: and Usage notes from the DCAT specification from within a python program using RDF, rather than having to web-scrape the HTML file.  But I can't find where the information is located.

### Use Case
I want to write a function that given

[2021-11-02 18:13] sabinem commented on #1418
@makxdekkers Yes of course it is subproperties. My apologies as well. I should have applied my critical thinking skills.

[2021-11-03 00:52] dr-shorthair commented on #1419
Sorry - that is the specification document. The RDF can be found from the namespace URI - http://www.w3.org/ns/dcat where you can find directions to the RDF artefacts. You can also go to the maintenance GitHub site, which is also mentioned in the spec document.

[2021-11-03 01:02] simsong commented on #1419
Thank you so much. So it is at https://www.w3.org/ns/dcat2.rdf which is linked from https://www.w3.org/ns/dcat. That's incredibly useful. Do you know where the similar documents for dcat-us are located?

[2021-11-03 01:02] #1419 closed, assigned to nobody

[2021-11-03 01:05] dr-shorthair commented on #1419
What is dcat-us?

[2021-11-03 01:08] simsong commented on #1419
dcat-us is the version of DCAT that the US Government is using on https://data.gov.  It is based on DCATv1. It is described here: https://resources.data.gov/resources/dcat-us/. It seems to have no namespaces. The HTML document was clearly automatically generated, but I cannot find the source documents or the source repo.

[2021-11-03 06:22] pwin commented on #1419
https://resources.data.gov/resources/podm-field-mapping/ has some links to
the JSON schema and json-ld context, but I'm unable to find any further
schema sources for the US version

On Wed, 3 Nov 2021, 01:08 Simson L. Garfinkel, ***@***.***>
wrote:

[2021-11-03 18:16] kcoyle commented on #1419
Ditto to the above @simsong and @pwin. I also happened to be looking at dcat-us this week and was concerned with the lack of namespaces, so their vocab mixes dcat, dct and other properties without full identification. They claim to use json-ld but without namespaces I don't know how that would work. I did wander through their github repo and there is some dcat-us json code is at https://github.com

[2021-11-03 20:28] simsong commented on #1419
I am cleaning up dcat-us. You can find the work over here: https://github.com/usdhs/dcat-tool/blob/main/schemata/usg.ttl

I welcome suggestions, corrections, and pull requests. I'm just a beginner here.

[2021-11-04 11:46] makxdekkers commented on #1419
@simsong, I see in the ttl file that a range of `rdfs:Literal` is assigned to properties that are defined as `owl:ObjectProperty`. Now I am not an expert in OWL, but isn't it the case that `owl:DataProperty` is the kind of property that is meant to connect individuals with literals?
There are for example properties like `usg:hostingLocation` and `usg:datasetClassification` with range `rdfs:Literal

[2021-11-04 11:53] simsong commented on #1419
Hi. If you are referring to the file `usg.ttl`, my request is that we move the discussion to https://github.com/usdhs/dcat-tool/issues.

If you can make specific recommendations for what to change, that would be great! Again, I am a beginner at this.

With respect to `usg:datasetClassification`, unfortunately my current plan is for this to be a string that is parsed, rather than for a well-develop

[2021-11-04 15:58] makxdekkers opened #1420 "Ranges of spatial and temporal resolution"
In DCAT2, the range of the new property `spatialResolutionInMeters` is given as `xsd:decimal` and the range of `temporalResolution` is given as `xsd:duration`.

However, literal ranges of other properties are expressed differently, e.g. the range of `byteSize` is `rdfs:Literal` typed as `xsd:decimal`.

For consistency the ranges should be given as:

`spatialResolutionInMeters`: `rdfs:Literal` type

[2021-11-04 23:13] dr-shorthair commented on #1420
Consistency would be good

[2021-11-09 22:02] #1420 closed, assigned to nobody

[2021-11-09 22:02] andrea-perego commented on #1412
Thanks for reporting this typo, @init-dcat-ap-de .

Fix now being implemented via PR https://github.com/w3c/dxwg/pull/1422 (yet to be merged).

[2021-11-09 22:09] #1412 closed, assigned to nobody

[2021-11-11 10:22] #1392 closed, assigned to nobody

[2021-11-11 13:25] riccardoAlbertoni commented on #1407
Thanks for the comments, @simsong.
 Are there any aspects we haven't covered in the discussion above?
 Otherwise, I suggest closing this issue.

[2021-11-11 13:34] simsong commented on #1407
Thanks for the nudge, @riccardoAlbertoni . Yes, we can close this issue.

[2021-11-11 13:42] #1407 closed, assigned to nobody

[2021-11-11 14:44] riccardoAlbertoni commented on #1416
@dr-shorthair :
I have deleted the line and all the statements related to  :d33937.owl . See pr #1424. Is this ok for you?

[2021-11-11 19:56] andrea-perego opened #1425 "Alignment with new version of GeoSPARQL"
Following from https://github.com/w3c/dxwg/issues/1392 - in particular, see summary of the discussion thread in https://github.com/w3c/dxwg/issues/1392#issuecomment-907498910 :

[2021-11-11 20:04] andrea-perego commented on #1392
@JoepvanGenuchten , @bertvannuffelen ,

The following point:

has been addressed via PR https://github.com/w3c/dxwg/issues/1423 (now merged in the ED). If you have concerns on the adopted solution, please open a new issue.

Moreover, a new issue (https://github.com/w3c/dxwg/issues/1425) has been created for further discussion on the following point :

[2021-11-12 06:05] #1416 closed, assigned to dr-shorthair

[2021-11-17 08:07] matthiaspalmer commented on #1418
A bit late to the game, but I agree with @kcoyle, @sabinem and several other that the main problem is knowing what `conformsTo` points to. Introducing subproperties like @makxdekkers are suggesting is a clear and simple way, but perhaps not flexible enough. I think it would be better to use a classifying property on the linked schema itself. The most obvious would be to use `rdf:type` and express

[2021-11-17 14:17] riccardoAlbertoni opened #1426 "Refine the way DCAT links distribution to structural metadata."
DCAT 2 provides dcterms:conformsTo to indicate the model, schema, ontology, view, or profile that representation of a dataset conforms to.  However,  dct:conformsTo can link different kinds of standards, and not all the URIs used as objects for this property are necessarily self-describing.

There is a need to refine the DCAT 2 approach to increase the machine-readability of the link to not self-d

[2021-11-17 14:54] riccardoAlbertoni commented on #1418
Thanks all for the valuable input.

In the last call, we discussed this issue, and we agreed to have a new requirement for a future version of  DCAT 4 and close this issue. (see https://www.w3.org/2021/11/16-dxwgdcat-minutes#r02 )

The new requirement is now tracked by issue #1426.

[2021-11-17 14:54] #1418 closed, assigned to nobody

[2021-11-19 04:05] #1319 closed, assigned to nobody

[2021-11-19 04:54] rob-metalinkage opened #1428 "JSON-LD context missing as a canonical resource and duplicated in-line in examples"
Multiple JSON-LD examples are shown where  context information is inline with examples.   Surely the point of a standard vocabulary is to allow reuse of common implementation resources - such as a context document for the vocabulary that can be simply referenced?

The fact canonical contexts are missing for other key vocabularies doesnt mean that new vocabularies should be equally as awkward to us

[2021-11-19 05:23] dr-shorthair commented on #1428
Good plan. I watched Dan Brickley @danbri trying to 'import' standard contexts in a meeting about 4 years ago. It wasn't clear to me at that time if there was a standard notation to achieve it. Has practice settled down now?

[2021-11-19 06:49] danbri commented on #1428
It may have been this experiment?

https://docs.google.com/document/d/16c_STDu8Dzj-ioRNuGS2tlIFJamlx0-vRKBaPA5Wzfc/edit?usp=drivesdk

On Fri, 19 Nov 2021, 05:23 Simon Cox, ***@***.***> wrote:

[2021-11-19 08:15] rob-metalinkage commented on #1428
Thanks for the link Dan - I think it is addressing a more complex problem around the interaction of syntax with multiple alternatives - whereas I was just talking about the basic pattern of referencing a context by URL:

{ "@context = [ "http://my.org/context" , "http://your.org/context" ] }

If these context files map default prefixes for vocabularys and support either "prefix:item" or "item" for

[2021-11-19 19:30] kcoyle commented on #1428
Could you provide a link to the examples you are referring to, or at least the document? Thanks.

[2021-11-19 21:20] rob-metalinkage commented on #1428
just the DCAT examples at https://github.com/w3c/dxwg/tree/gh-pages/dcat/examples   - is there somewhere else that might have other ones?

[2021-11-21 21:51] sabinem opened #1429 "Model Series of Data as Distributions of a single Dataset"
In the Swiss DCAT profile we are modeling Dataseries such as yearly elections in a single dataset, where each distribution contains the election data of one year. I know that is considered an antipattern by DCAT. And I also know that all properties of Distributions are designed in such a way, that it is assumed that the all Distributions of a Dataset have comparable content.

But there is also a s

[2021-11-22 08:56] makxdekkers commented on #1429
Thanks @sabinem , very good points.

I have seen at least three national implementations of data catalogues that take this approach with different files in temporal and/or spatial series as distributions of one dataset.

What does worry me is that it makes it hard for reusers -- who harvest or otherwise receive DCAT descriptions -- to understand what's going on if there are some dataset/distributi

[2021-11-22 19:59] smrgeoinfo commented on #1429
I think @makxdekkers suggestion is on the right track, recognizing that there are (in this case) two kinds of datasets:
1.  Static datasets that do not change after publication, e.g. results of chemical analyses, a set of observation data at a particular place and time.
2. 'Series'-- dynamic datasets that grow incrementally in space or time.  E.g. as series of geologic maps that add new map sheets

[2021-11-22 22:17] sabinem commented on #1429
@makxdekkers I think your suggestion is very good, since usually datapublishers are very aware of their use case and whether or not it is a Series with Series Items or a Dataset with same content Distributions, just as @smrgeoinfo also describes in the mentioned use cases. To have a vocabulary in place that allows to translate that awareness of the use case into the appropriate vocabulary seems li

[2021-11-23 17:02] smrgeoinfo commented on #1428
@rob-metalinkage can you point at any example context documents that fulfil similar requirements for a JSON-LD profile?

[2021-11-23 18:51] smrgeoinfo commented on #1426
One approach is to factor 'conformsTo' along two axes:
1.   the content axis-- what are the properties that are specified with values in the dataset representation.  I. e. what are the conceptual properties that are quantified for data instances  in the described data. These have granularity-- e.g. 'air temperature', 'air temperature 6 m above surface', 'air temperature 6 m above surface measured

[2021-11-23 22:34] rob-metalinkage commented on #1428
Having discussed with @danbri there is probably not a perfectly understood consensus on the perfect form for a JSON-LD context - there are a few options on expressiveness.  So it does need some expert guidance I suspect to get it right.

The basic principles are outlined here:
https://www.w3.org/TR/json-ld11/#example-5-referencing-a-json-ld-context

you can see a couple of worked examples here: ht

[2021-11-25 03:10] rob-metalinkage commented on #1428
Here is an example of a stand-alone context document published as part of a reusable standard - and directly relevant to the DCAT as a dependency:
https://github.com/opengeospatial/ogc-geosparql/blob/master/1.1/contexts/geo-context.json

[2021-11-25 14:30] kcoyle commented on #1428
I see "examples" as having different requirements from "real code." In "real code" a URL link to a file of prefixes and namespaces seems obviously efficient. The examples are likely to be looked at by humans, and in that case following a URL to discover the meaning of the namespace prefixes is extra work.

That doesn't mean that DCAT shouldn't provide a sample context file that can be grabbed by f

[2021-11-25 14:59] bertvannuffelen opened #1431 "Definition of dcat:service"
The definition of dcat:service is

But the range is dcat:DataService:

Why is the definition of dcat:service not:  A data service that is listed in the catalog?
As for me, there are now two "definitions" for Data Service: one via the property and one via the class.

Unless dcat:service is intented to relate to a subset of entities of all dcat:DataServices, I'd do not see the need to make such diff

[2021-11-25 16:59] makxdekkers commented on #1431
@bertvannuffelen An alternative could be to define the property as follows:

`dcat:service`
Definition: a [data service](https://www.w3.org/TR/2020/REC-vocab-dcat-2-20200204/#Class:Data_Service) that is listed in the catalog.

(with the cross-reference)

[2021-11-25 17:53] riccardoAlbertoni commented on #1406
I think @dr-shorthair's suggestion combining qualified attribution and externally-governed vocabularies provides a solution to this issue.

I also concur that defining a vocabulary for legal authorities is at the moment out the scope of DCAT being rather community-specific.

@simsong: Is it ok if we close this issue?

[2021-11-26 00:30] rob-metalinkage commented on #1428
+1 to providing the link in the README

Accept that human readability of examples requires careful consideration.  Developers are human too and examples tend to be a quick way of seeing how things are done - so taking care not to promote sub-optimal implementation patterns is important.

For a complete file, probably better to have a complete example - including a reusable context link.  For "snip

[2021-11-26 02:07] dr-shorthair commented on #1428
It is unfortunate that JSON doesn't allow comments.

[2021-11-26 13:17] makxdekkers commented on #1428
Sounds like a glaring omission to me. JSON files will be very hard to maintain over time.

[2021-11-26 14:21] simsong commented on #1428
JSON is not designed to be a language for configuration files or long-term documents maintained by humans. However you could add a `'comment:'` key anywhere you want, because most JSON consumers ignore keys that they are not looking for.

[2021-11-26 17:00] danbri commented on #1428
I believe there also patterns for doing this in JSON-LD where the comments
don't get mapped into rdf triples - so the rdf view doesn't get bloated

On Fri, 26 Nov 2021 at 14:22, Simson L. Garfinkel ***@***.***>
wrote:

[2021-11-26 19:10] riccardoAlbertoni commented on #1429
It might be worth noting that the current DCAT Editor Draft and the second DCAT working draft acknowledge some flexibility on what to consider as items of [dcat:datasetSeries](https://www.w3.org/TR/2021/WD-vocab-dcat-3-20210504/#Class:Dataset_Series), which already includes the use of Distributions in place of Datasets.

Indeed, the property [dcat:inSeries](https://www.w3.org/TR/2021/WD-vocab-dcat

[2021-11-28 04:23] dr-shorthair commented on #1428
Understood. The specific case here is example documents or fragments in a spec - these could be made much more effective if they could be fully commented.

[2021-11-28 05:20] rob-metalinkage commented on #1428
I think commenting examples is a separate concern to providing good examples in the first place - and examples that cut and paste contexts are not good examples:  they may possibly modify or only partially implement the spec - its impossible to know without fully parsing the examples, the spec vocabulary and performing a comparison on possibly differently serialised but isomorphic graphs with diff

[2021-11-28 06:14] danbri commented on #1428
On Sun, 28 Nov 2021 at 05:21, Rob Atkinson ***@***.***> wrote:

That feels inappropriately absolutist - you’re elevating person opinion to
a rule for others who may have different tradeoffs to make.

If you are going to be digitally signing some json-ld for example, that
gives you good readon not to write blank cheques by making the rdf triples
view of the content depend on external changeable (an

[2021-11-28 06:35] dr-shorthair commented on #1428
A common use for a comment is to add a label or annotation to explain a URI-reference.
Even in a 'canonical' documents.

[2021-11-28 16:35] makxdekkers commented on #1429
@riccardoAlbertoni This is indeed useful information. If this pattern is already foreseen, more information should be provided in the specification showing how to do this. I do see that this pattern is mentioned in the information about the property `dcat:inSeries`, but it should really also be described with the class `dcat:DataSeries`.

For one thing, the definition of the class says that the da

[2021-11-29 19:22] smrgeoinfo commented on #1429
Here's a couple sketches trying to elucidate some of these relations:
![DatasetSeriesSubset](https://user-images.githubusercontent.com/513380/143928622-165fdbb5-6a4d-4e49-b3f9-f9f7af2613d8.png)

![Packaging](https://user-images.githubusercontent.com/513380/143926570-b885a90d-04b5-4cc0-982f-8e18bb15ef97.png)

DatasetSeriesSubset Diagram:

Dataset: A collection of data, published or curated by a sin

[2021-11-30 01:55] rob-metalinkage commented on #1428
@danbri - you make a good point that there may be different underlying architectural assumptions about implementation constraints.  I think the appropriate non-absolutist approach however is to address this directly and provide examples for both implementation patterns - not assume any given pattern is a personal whim.

Admittedly this is tricky in that there is no universally accepted reference a

[2021-11-30 09:26] jakubklimek commented on #1429
I have to say I am very sceptical about allowing Distributions of a Dataset to be informatively non-equivalent, and on top of that, members of DatasetSeries.

In my experience, the prevailing argument for allowing informatively non-equivalent distributions of a dataset, also mentioned in this thread, is "there would be too many datasets". However, to be able to properly describe the distributions,

[2021-12-06 01:17] matthiaspalmer commented on #1431
I think it makes sense to point to some of the data services via dcat:service from the catalog and to some only via dcat:accessService from distributions. It provides a distinction between those data services that are "stand alone" (potentially serving many datasets) and those that are more a technicality of a distribution.

@bertvannuffelen if other agree with this position I think that this coul

[2021-12-06 02:12] matthiaspalmer commented on #1429
We have identified a similar problem in Sweden to what @sabinem described. In short, we need to make it easy for people to add more data into an existing dataset.

But we have solved the problem in another way in the Swedish profile. We have allowed the dcat:downloadURL to be repeated. Like this:

[code]

This approach has the following merits:
1. The distributions are comparable, they contain the

[2021-12-06 15:25] garfi303 opened #1432 "Support an indication of sharebility status"
### Sharebility status
Status: open

Identifier:

Creator: @garfi303 (Simson Garfinkel)

Deliverable(s): DCATv3

## Stakeholders
Users of DCAT within large organization.

## Problem statement
We are using DCAT for representing our internal organization data catalog. Some users have data that is not sharable but needs to be indicated in the catalog Others have data that is not ready for sharing but

[2021-12-06 17:50] andrea-perego commented on #1432
Thanks for sharing this use case, @garfi303 .

Currently, DCAT makes use of `dcterms:accessRights` for these purposes, but it does not mandate a specific code list ([§8 License and rights statements](https://www.w3.org/TR/vocab-dcat-3/#license-rights)).

For the discussion underlying this approach, see https://github.com/w3c/dxwg/issues?q=is%3Aissue+is%3Aclosed+label%3Adct%3AaccessRights

Could yo

[2021-12-06 18:18] simsong commented on #1432
`dcterms:accessRights` does not appear to have sufficient fidelity for our needs. We may have data that is legally publicly sharable but for which the organization is not yet prepared to share. It is that status of readiness that we need to document.

[2021-12-06 18:28] makxdekkers commented on #1432
@simsong In what way does `dct:accessRights` have insufficient 'fidelity'? Its definition is "_Information about who can access the resource or an indication of its security status_" which is fairly broad. Would it not be possible to satisfy your requirement by an appropriate controlled vocabulary for this property?

[2021-12-06 18:47] makxdekkers commented on #1429
@matthiaspalmer Thanks for the detailed information of your solution.

Not questioning at all that this approach fits your needs and the needs of your data providers, I am still a bit uneasy about all the different variants. Section [12.3](https://w3c.github.io/dxwg/dcat/#dataset-series-before-dcat3) in DCAT3 mentions two 'legacy' approaches:

1. The dataset series is typed as a `dcat:Dataset`, wh

[2021-12-06 19:01] simsong commented on #1432
The issue is that there are two different kinds of information that we want to represent. One with whom the dataset may be shared, the second is whether or not the dataset is ready to be shared. My understanding is that when you have two different kinds of information, it's better to represent them in two different kinds of elements, rather than combining them into one. Is that not the case here?

[2021-12-06 19:02] dr-shorthair commented on #1432
If you have very specific needs, then you may need to specify a 'profile' of DCAT for your community.
i.e. a metadata standard that is conformant to DCAT but introduces additional constraints, such as use of a specific set of licenses or usage rights.

[2021-12-06 19:15] simsong commented on #1432
We intend to do that if there is no interest in adding this level of description to DCATv3. However, I think that these are things that many organizations need to document, and I believe that it's better to document everything in one place in a consistent, standards-based approach, rather than having different organizations develop their own approaches.

[2021-12-06 20:35] kcoyle commented on #1432
Would [dct:available](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/available) help for "Expected to be sharable by..."? It is defined as: "Date that the resource became or will become available." It can take a future date.

The others seem to be access rights, as per dct:accessRights, which can have a standard list of values, and of course you can crea

[2021-12-06 23:07] matthiaspalmer commented on #1429
I understand your concern @makxdekkers, but at the same time I am just reporting what kind of needs I have observed. I am also of the opinion that it is better to adapt the model to the world rather than trying to fit the world into the model.

I think the key would be to provide good guidance when to use the Dataset series and when to use dcat:downloadPartURL. For instance, you need to use datase

[2021-12-06 23:20] matthiaspalmer commented on #1429
I would also like to point to the discussion we already had in september 2019 about this approach. Although at that point the discussion was postponed to DCAT3: https://github.com/w3c/dxwg/issues/868#issuecomment-532989569

[2021-12-06 23:40] matthiaspalmer commented on #1429
I am curious, how would you handle a dataset that can be either accessed via 10 files or via a single API (containing all the data) as a dataset series?

Would it be one Dataset series with a single distribution corresponding to the API and then have 10 datasets that all point to the dataset series via dcat:inSeries?

If this is the case, should it then not be stated somewhere that a Dataset serie

[2021-12-06 23:58] matthiaspalmer commented on #1429
I am curious about the 'legacy' option number 1 in [12.3](https://w3c.github.io/dxwg/dcat/#dataset-series-before-dcat3) you pointed to @makxdekkers . It seems to me that it is the same as the antipatern @sabinem described and @jakubklimek argued against.

The final statement in that section reads "These options are not formally incompatible with DCAT" somehow legitimizes that distributions need no

[2021-12-07 08:11] makxdekkers commented on #1429
Yes it is.

But the sentence continues: "_so they can cohexist with dcat:DatasetSeries during the upgrade to DCAT 3_", which seems to imply that applications that do it this way are expected to upgrade to DCAT3 and then move to the approach with dataset series.

But I agree you could read this in several ways, i.e. "_if they upgrade_" or "_when they upgrade_".

[2021-12-07 08:24] makxdekkers commented on #1429
The way I see it, there are two sides to this:

1. if data providers all do their own thing, i.e. create metadata according to their own interpretation of a standard, the burden of converting the various approaches to something coherent lies with the data consumer
2. if data providers, doing their own thing locally, map their interpretation to a common interoperable approach, the data consumer can

[2021-12-07 08:44] makxdekkers commented on #1429
That is a good point, but in this case, it might mean that if the world is a mess, the standard model should reproduce the mess. Or do you mean that DCAT should implement your model as the only one?

This is a fundamental question with standardisation. Either the "world" aligns with a standard so that everybody knows what to provide and what to consume, i.e. interoperability, or the standard align

[2021-12-08 16:57] smrgeoinfo commented on #1431
I agree. In ISO 19119 terms, there are services that are 'tightly coupled' to a dataset, and I'd argue are essentially distributions of that data, and services that  provide functionality that can work with many datasets, as long as they are accessible via the API&interchange format that the service understands.  Services in this second category should be described as services, and specify the int

[2021-12-08 17:27] bertvannuffelen commented on #1431
@matthiaspalmer  and @smrgeoinfo, with this request I only wanted to highlight the difference between the definition of the property dcat:service and the class dcat:DataService.
I did not intended to initiate a discussion on the nature of data service vs distributions.

My observation is that because of this distinction (which for the similar pair dcat:dataset + dcat:Dataset does not exists) there

[2021-12-08 19:57] matthiaspalmer opened #1434 "Distinguishing between stand alone and tightly coupled data services"
Should there be a way to indicate to data portals that certain data services are tightly coupled to datasets?
The value would be to allow data portals to filter out such tightly coupled data services from searches as they provide little value when viewed independently.

I can imagine at least three cases of how the relations to datasets look like:
A. One to one - There is a tight tight coupling be

[2021-12-08 20:01] matthiaspalmer commented on #1431
@bertvannuffelen fair point, I was only voicing my thoughts on a possible reason for having two different definitions. But, looking at the definitions again I agree with you that the current definitions cannot (easily) be interpreted like that. Also, the distinction that I am suggestion would fit better in a usage note than in a definition.

Hence, I just created a [separate issue](https://github.

[2021-12-08 21:33] smrgeoinfo commented on #1434
The only case in which it would make sense to me to have a DataService as a catalog entry would be case C in your examples, with a scenario like  'I'm looking for a service that does function X and uses API Y'.

 Otherwise it seems to me that its only useful to consider the DataService as the target of Dataset-->distribution-->Distribution--accessService.  Don't users come into a data catalog look

[2021-12-08 21:46] matthiaspalmer commented on #1434
@smrgeoinfo I thought so first, but we have a case with Statistics Sweden who provide over 4000 datasets, all of which are accessible via a single API via various filters. Hence, describing this API in some detail so it can be found independently as a high profile API is sensible at least to me. As a note, we only point from the distributions to the data service, pointing back from the data servic

[2021-12-08 21:48] smrgeoinfo opened #1435 "dcterms:conformsTo in Example 58 eea-csw.ttl"
currently have
` a:EEA-CSW-Endpoint  dcterms:conformsTo <http://www.opengis.net/def/serviceType/ogc/csw> ;`

but that URI resolves to a non-version specific service type concept, not a specification.  It seems that a common search scenario would be for a service endpoint that implements a particular version (and maybe event a particular profile) of a service, so I'd suggest this should be

`dcterm

[2021-12-08 22:02] smrgeoinfo opened #1436 "Example 59 servesDataset vs Distribution/accessService -- source of interoperability problem"
The dataset access information in [Example 59](https://w3c.github.io/dxwg/dcat/#ex-service-gsa) is of course technically valid, but would be problematic in an environment where most access information is represented as distributions.  The distribution approach for this example would look like:

[code]

The sparql query to pull the access information with this encoding is completely different from

[2021-12-08 22:08] smrgeoinfo opened #1437 "Example 60, 61, 62, why is accessURL included"
In Examples [60](https://w3c.github.io/dxwg/dcat/#compressed-distribution), [61](https://w3c.github.io/dxwg/dcat/#packaged-distribution), and [62](https://w3c.github.io/dxwg/dcat/#packaged-and-compressed-distribution) , both accessURL and downloadURL are included, and they are the same URLS. These are all downloadURLs, so I don't think accessURL should be included in the example rdf.

example from

[2021-12-08 22:17] smrgeoinfo commented on #1434
@matthiaspalmer -- that gets tricky, and sounds like there might be some overlap with the #1429 discussion about how to handle series.  I still suspect a dataset record about 'Statistics Sweden database' with a distribution//accessService pointing to a DataService object about the API (mostly detailed in the dcat:endpointDescription) would be a workable solution.

[2021-12-08 22:25] simsong commented on #1437
It seems from the demo that they both download a tar file. it would be really nice if the standard distinguished a URL from which a dataset was downloaded in its entirety from one where a dataset is accessed through an API, but I realize that this may not make sense.

[2021-12-09 10:23] matthiaspalmer commented on #1434
@smrgeoinfo I would not say the 4000 datasets are in a series. They are of the same character, i.e. datasets of a statistical nature that all have the same kind of datastructure wich means makes it easy to serve them from the same API, but that does not make them into a series.

I think presenting the whole API as a single dataset is not appropriate, it is a wide range of different data in there.

[2021-12-09 13:00] bertvannuffelen commented on #1432
In DCAT-AP there is the property _dcatap:availability_ defined for distributions. Having now as just published controlled vocabulary https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/planned-availability

W.r.t. accessRights, the DCAT profile for Flanders has identified that there is a difference between the accessrights to t

[2021-12-13 07:47] jakubklimek commented on #1437
@smrgeoinfo This example is from a DCAT-AP compliant catalog, where `dcat:accessURL` is mandatory, and should be a duplicate of `dcat:downloadURL` whenever `dcat:downloadURL` is available. This is just an explanation of the example. It does not mean that it needs to stay this way.

[2021-12-13 15:50] init-dcat-ap-de opened #1438 "Usage Notes for 6.8.19 Property: packaging format - tar not in IANA list"
https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_packaging_format

The example given for a packaging format (TAR) is not listed in the recommended controlled vocabulary ([IANA](https://www.iana.org/assignments/media-types/media-types.xhtml)).

Possible solutions:
- find other example
- add tar to the iana list
- recommend other controlled vocabulary

In my opinion very low priority. Just

[2021-12-14 14:31] #1406 closed, assigned to nobody

[2021-12-14 16:43] smrgeoinfo commented on #1437
@jakubklimek -- interesting, but isn't DCAT-AP provision inconsistent with the DCAT definitions of accessURL and downloadURL

[2021-12-14 16:53] jakubklimek commented on #1437
@smrgeoinfo I do not see a conflict here. DCAT says that `dcat:downloadURL` should be used when a direct download is available, but it does not prohibit duplication in `dcat:accessURL`

[2021-12-15 23:17] bertvannuffelen commented on #1357
Can't we see this as an sample (adms:sample) for a dataset/distribution?  A picture/tumbnail is a visual representation that actually contains sample data. So by the inspecting the type of the sample (e.g. its is a url ending in .jpg) it can be shown als a tumbnail.

[2021-12-16 01:55] agreiner opened #1440 "Clarification of definitions"
DCAT Scope section:   The definitions should avoid tautologies, like defining dcat:Dataset as "represents a dataset". We could shorten it to "represents a collection of data, published or curated..."
  "dcat:DataService represents a data service. A data service is a collection of..."
  change to "dcat:DataService represents a collection of..."
  grammar:
  "some common characteristics that groups

[2021-12-16 02:00] agreiner opened #1441 "Remove note in section 6.3"
Note in section 6.3 seems to be left over from DCAT 2.

[2021-12-16 02:06] agreiner opened #1442 "The definition of a version should not be limited to numbers"
In section 6.4.27, we have Property: version  = "The version number of a resource", but we don't want to prescribe numbers only.

[2021-12-16 02:14] agreiner opened #1443 "Properties relating to series can be confused with those for versions"
For a cataloged resource, previous and first and last properties can easily be confused with versions. Would it be more helpful to users if we called them previousInSeries, firstInSeries, lastInSeries?

[2021-12-16 02:27] agreiner opened #1444 "Rights statements can be handled in multiple ways, which makes interop difficult"
I wonder if we could make it a little easier to handle licensing and copyright statements. This section currently seems to direct people in three different directions (dcterms, ODRS, or ODRL).

[2021-12-16 22:27] bertvannuffelen commented on #1357
Some more additional thoughts after investigating this proposal: it does not seem necessary that the distribution it is referring to should obey the same rules as a dataset distribution. For a thumbnail distribution:

- downloadURL, mediatype are probably required for technical reasons to show on a portal.
- title & description are needed in case for supporting WCAG

In general the accessibility a

[2021-12-16 22:30] bertvannuffelen commented on #1431
For me, I expected a definition similar as @makxdekkers  suggested.

[2021-12-16 23:28] bertvannuffelen commented on #1428
I agree, for me json-ld is an aid for a developer, bridging the data semantics world and the software developer world. Actually if the URIs used are all dereferenceable then they will point the user to the intended semantics. Furthermore,  a json-ld context is bound to a data exchange, and not to a W3C spec, like DCAT. I can write perfectly a json in german and map it to DCAT, resulting is a fully

[2021-12-17 01:07] rob-metalinkage commented on #1428
@bertvannuffelen agree with all the logic until I come to the example function - the examples should exemplify potential real world usage - which should cover the two use cases identified: 1) canonical context published once, identifiable buy its reference and cacheable, and 2) "I must be self contained at all costs".

Currently examples promote ad-hoc context descriptions, which may have varying

[2021-12-17 09:31] makxdekkers commented on #1442
@agreiner I agree.

[2021-12-17 17:58] riccardoAlbertoni commented on #1440
Thanks, @agreiner.  PR #1445 should fix the issues you pointed out.

[2021-12-19 11:47] davebrowning commented on #1441
@agreiner - agree that this is redundant.  We discussed in the last editorial meeting what the best approach might be (partial discussion in the #1433 thread).  I have some ideas so will put together a prototype/suggestion by early January that  we can all discuss/critique.

Provisionally, the aim would be to
- clearly flag new entries in a recommendation (so for example those terms introduced by

[2021-12-20 05:18] dr-shorthair commented on #1442
'Releases' are often given names. So I agree. And even release 'numbers' often have three dot-separated parts, therefore not a number.

[2021-12-20 13:14] andrea-perego commented on #1442
Please note that the current definition is complemented by [a usage note](https://w3c.github.io/dxwg/dcat/#Property:resource_version):

So, we are not prescribing the use of numbers only.

For the records, the definition of `dcat:version` re-uses [the one of `pav:version`](https://pav-ontology.github.io/pav/#d4e869), where the notion of "number" is used in a broad sense - quoting:

[2021-12-20 13:39] andrea-perego commented on #1444
The intention of the guidance section on [Licence and rights statements](https://w3c.github.io/dxwg/dcat/#license-rights) is not to recommend the use of different approaches, but rather to indicate the approach to be used based on given requirements.

More precisely, the default / recommended approach is to use DCTERMS, whereas `odrl:hasPolicy` should be used only if the rights statement is specif

[2021-12-20 18:21] agreiner commented on #1442
Yes, I understand that we do not want to prescribe the use of numbers, which is why I think we need to define it without describing it as a number. The document should be consistent in this respect.
-Annette

[2021-12-21 17:20] kcoyle commented on #1442
version = a number or text that identifies a particular rendition of the resource
version = a number or text that identifies a particular variation of the resource
version = a number or text that identifies a particular variant of the resource
version = a number or text that identifies the content of a particular instance of the resource

("content of" could be used with the others as well)

Ok, n

[2021-12-21 19:04] agreiner commented on #1442
version = a number or text that identifies a particular revision of the resource

[2021-12-22 08:04] andrea-perego commented on #1346
This issue has been addressed via PR https://github.com/w3c/dxwg/pull/1391 by moving inverse properties to [a dedicated section](https://w3c.github.io/dxwg/dcat/#inverse-properties), and by requiring that they are all used in addition to the "default" ones (e.g., `dcat:next` can only be used in addition to `dcat:prev`).

Closing.

[2021-12-22 08:04] #1346 closed, assigned to nobody

[2021-12-22 08:06] andrea-perego commented on #1336
As no objections have been raised so far on the adopted approach, I propose we close this issue.

[2021-12-26 19:11] smrgeoinfo commented on #1437
[dcat:accessURL](https://w3c.github.io/dxwg/dcat/#Property:distribution_access_url): A URL of the resource that gives access to a distribution of the dataset. E.g. landing page, feed, SPARQL endpoint.   I don't think a link to a .tar file meets this definition.

[2021-12-27 07:35] jakubklimek commented on #1437
@smrgeoinfo If this would be a consensual interpretation, then it would be a much bigger issue for DCAT-AP, not only an issue in this example, as I explained above.

[2021-12-28 23:49] smrgeoinfo commented on #1434
"...presenting the whole API as a single dataset is not appropriate
... a standalone data service ... like [a] datasets works quite well ..."

hmm what does the service serve?  The API is one thing, the backend database (your stats data) is another. Since it doesn't appear that the backend is described as multiple datasets, if its not a single dataset (that is a big relational database), what is i

[2021-12-29 18:28] kcoyle commented on #1437
Hmmm. In DCAP-AP `dcat:accessURL` is **mandatory**, and defined as:

`dcat:downloadURL` is optional, and is defined as:

Given that there are two properties, it makes sense that they would have different semantics. It appears that DCAT-AP has blurred that. The general "rule" (if there is one) for APs is that they may not expand the definition of the properties that they are reusing, but may narrow

[2022-01-01 16:16] kcoyle commented on #1437
Thinking about this some more, I am more of the mind that the problem is in having assigned "mandatory" to one of them. I'm leaning toward having something like:

Mandatory:
`oneOf[dcat:accessURL|dcat:downloadURL]` - cardinality 1,0

Optional: (or recommended?)
`dcat:accessURL` cardinality 1,0
`dcat:downloadURL` cardinality 1,0

This doesn't quite solve the problem (because it depends on if the ca

[2022-01-05 16:24] init-dcat-ap-de opened #1446 "Question: Fundamental meaning of `dcat:servesDataset`"
I am trying to understand the various ways of using `dcat:DataService`. I created this little graphic:

![grafik](https://user-images.githubusercontent.com/14979304/148248785-1972d8e3-a00d-4700-8e84-63741630450b.png)

Until now my understanding of `dcat:servesDataset` was literal: the service delivers `dcat:Dataset`s, as in: it delivery meta-data.
But that's wrong? It means that the service delive

[2022-01-06 22:22] agreiner commented on #1444
@andrea-perego , what you wrote above is a big help for understanding the intention. I think it would help to start the section with a very clear statement similar to that.

[2022-01-07 09:07] init-dcat-ap-de commented on #1381
This might be a discussion we should adress at the DCAT-AP level, but since the discussion is already relatively advanced here...
in #1055 there is the idea to use dcat:Distributions within dcat:Datasets added to the dcat:DataService via dcat:servesDataset.
While this is possible, it doesn't seem suitable for the context of DCAT-AP and data portals. Datasets and Distribution come with their own se

[2022-01-10 07:06] #1446 closed, assigned to nobody

[2022-01-11 18:03] aisaac commented on #1444
Actually while we're at it, maybe we could present a sort of gradation, saying that ODRS is an alternative to DCTERMS, and ODRL goes one step further in the flexibility/complexity that it allows? For the current wording with ODRL is "in the particular case when rights are expressed via ODRL policies, it is recommended [...]". Maybe we could write "For more advanced cases, ODRL can be used to speci

[2022-01-11 18:29] makxdekkers commented on #1444
@aisaac I wonder if we should be in the business to give this type of advice at all. I think it is very hard for us to determine in which case any of the approaches are used. It is really up to a community to decide what they want to do.
For example, I am not sure if ODRL is always only used for complex cases -- it could well be that a particular community uses ODRL for everything, including very

[2022-01-11 18:30] aisaac commented on #1437
@kcoyle is your proposed solution for DCAT-AP or DCAT? If it is for DCAT-AP then it could be worth flagging to them!

Personally I think in any case we shouldn't change what DCAT says, and remove the `dcat:accessURL` from the examples. I remember it was quite difficult for me to understand the difference between `dcat:accessURL` and `dcat:downloadURL`, and the sentence that @smrgeoinfo mentions (a

[2022-01-11 18:49] agreiner commented on #1444
Hm, I keep thinking about this from the point of view of a developer. If all the data is using different ways to describe a very fundamental piece of metadata, it gets very difficult to handle it in an application. It's nice to be accommodating of the folks who are describing their data, but the value of a standard lies in having uniform inputs. Since including this type of information is crucial

[2022-01-12 19:45] kcoyle commented on #1437
@aisaac AFAIK DCAT itself doesn't include cardinality, so I believe this only relates to DCAT-AP. My reading of `dcat:accessURL` vs `dcat:downloadURL` is that the former points to a web site and the latter to an actual file to be downloaded. That seems clear enough. But it becomes muddied a bit in DCAT-AP because `dcat:accessURL` is mandatory, yet it seems that one doesn't always have a website UR

[2022-01-12 21:43] agreiner commented on #1437
As a developer, I much prefer the sort of requirement that DCAT-AP is using, because it's a pain in the neck to deal with extra conditionals for things like this in code. I would much rather be able to grab a bunch of variables from a database and send them to the UI without parsing them each in some special way. If you're building a web app that needs to return metadata for online datasets, you a

[2022-01-14 15:26] aisaac commented on #1211
Hi, I would like to know if this issue is still tracked somewhere. I'm still keen to discuss this with my colleague @nfreire !
For the moment we're still keeping the `dcterms:conformsTo` statement with the value `http://www.w3.org/TR/sparql11-query/` for the distribution that corresponds to a SPARQL endpoint. But we can still can change it later if the consensus here would argue for it.

[2022-01-18 16:58] smrgeoinfo commented on #1437
I agree with @kcoyle; accessURL should not be mandatory. A distribution might be via a landing page or there might be a direct download URL; either one might not exist.   For UI's I'm interested in, I'd like to let the user know if the URL is going to get data or if its going to get another web page. More importantly, for machine actionable metadata, the distinction is critical so a client app wil

[2022-01-18 19:27] agreiner commented on #1437
My understanding of accessURL has been that it is not specifically a landing page. It is the URL to which one would direct a user wanting to access a distribution. It may be a downloadable file, and it may be a landing page, and it may be an API endpoint. The latter is explicitly mentioned in the definition, so I don't think it was ever intended to be limited to landing pages. The fact that a down

[2022-01-25 16:36] aisaac commented on #1444
Maybe there can be a more neutral way. Actually the current section makes it quite technical. First the various dcterms properties and what they're supposed to point to according to their standardized semantics, and then the ODRL policies which are just presented as "in the particular case when rights are expressed via ODRL policies." This is hard to argue with, no? Also I believe that it states q

[2022-01-25 17:12] aisaac commented on #1437
Nice discussion! And I think that @agreiner 's point that a data client should try to always fetch `downloadURL` or `accessURL` is right.

I would just recommend warning against wording like this:

To me it doesn't flag clearly enough that in principle such match should never occur. `downloadURL` being for downloadable files and `accessURL` for pages, then there's something wrong if a page is indi

[2022-01-26 01:33] agreiner commented on #1437
I think maybe you misunderstand me. I don't agree that in principle such matches should never occur. If accessURL is taken as a single field to be used whenever one needs a reliable link for a dataset, it can potentially be a friendly landing page, a download location, or an API endpoint. In that case, there is nothing wrong if a file to download is indicated there. I'm not aiming at any kind of s

[2022-01-26 08:14] aisaac commented on #1437
Sorry @agreiner I misunderstood you, indeed. And for clarification then I'm on the side of trying to separate these two properties as much as possible, following the approach of "`dcat:downloadURL` is preferred for direct links to downloadable resources." ([in the notes for dcat:accessURL](https://www.w3.org/TR/vocab-dcat-3/#Property:distribution_access_url)). I agree that in principle having a si

[2022-01-26 18:26] agreiner commented on #1437
I don't see that use case of determining whether the accessURL is a landing page or a download or something else as a realistic one. If I were writing an app that needed one or the other, I would read just the one relevant field that I'm looking for, e.g., downloadURL. I'm thinking it would behoove us to see what others outside this group think. We see [DCAT-AP using it in the way I had expected](

[2022-01-26 19:36] smrgeoinfo commented on #1437
@agreiner  "If I were writing an app that needed one or the other, I would read just the one relevant field that I'm looking for, e.g., downloadURL. "  in the ODI example you link to, there is only a downloadURL, but the cardinality in DCAT requires an accessURL; the markup in the document only has an accessURL,  A machine client parsing this would have to guess that that URL is likely to be a dow

[2022-01-26 19:49] kcoyle commented on #1437
It does make me wonder why there are two different properties in DCAT, unless (and I didn't read it that way) dcat:downloadURL is a further specification of dcat:accessURL. If the latter is a sub-property of the former then @agreiner 's analysis makes sense, and dcat:accessURL could have as its value a URL that is also appropriate in dcat:downloadURL. However, the usage note reads:

Which tells me

[2022-01-26 21:03] agreiner commented on #1437
See the usage note under DownloadURL in DCAT 1. https://www.w3.org/TR/2014/REC-vocab-dcat-20140116/

[2022-01-27 19:13] kcoyle commented on #1437
@agreiner I see the difference between DCAT 1 usage note and the current one, but DCAT 1 seems to me to make an even stronger distinction between access and download, saying that download *is* "A file that contains the distribution of the dataset in a given format." Whereas accessURL is "A landing page, feed, SPARQL endpoint or other type of resource that gives access to the distribution of the da

[2022-01-27 22:46] agreiner commented on #1437
@kcoyle, I see the distinction you and others are making here, but I read it quite differently. I think we agree on what downloadURL is asking for. I think the operative words are under the definition of accessURL, where it says "A landing page, feed, SPARQL endpoint or other type of resource". It's very clear that they never intended to limit it to landing pages, and that they did intend it to ap

[2022-02-03 14:27] kcoyle commented on #1437
@agreiner What you describe is something I mentioned before, which it seems that downloadURL is a more specific property whose value could be included in accessURL, which I would define as a property/subproperty relationship. I don't know if it works this way, but perhaps in that case downloadURL would be considered an accessURL for the purposes of searching. I'm thinking of an analogy to the way

[2022-02-03 16:47] makxdekkers commented on #1437
@kcoyle Just to note that DCAT1 explicitly did not make download URL a subproperty of accessURL in the [usage note](https://www.w3.org/TR/2014/REC-vocab-dcat-20140116/#Property:distribution_downloadurl): "_DCAT does not define dcat:downloadURL as a subproperty of dcat:accessURL not to enforce this entailment as DCAT profiles may wish to impose a stronger separation where they only use accessURL fo

[2022-02-04 17:16] riccardoAlbertoni commented on #1331
The current draft for the section version says

I think the above implies versions represent any new release.  Moreover, the reference to DWBP provides further guidelines on versioning.

@aisaac: Do you have any objections if we close this issue?

[2022-02-05 10:30] #1336 closed, assigned to nobody

[2022-02-08 10:34] #1438 closed, assigned to nobody

[2022-02-08 23:18] riccardoAlbertoni commented on #1442
We discussed  this issue and the
PR #1451 in tonight call.

We agreed that PR #1451  addresses the core of this issue "version should not be limited to numbers" replacing the current definition of <code>dcat:version</code>

with

Resolution https://www.w3.org/2022/02/08-dxwgdcat-minutes.html#r03  summarizes the result of tonight discussion on the argument that we shouldn't use 'version' to define

[2022-02-08 23:22] riccardoAlbertoni commented on #1437
Closing as a result of the resolution https://www.w3.org/2022/02/08-dxwgdcat-minutes.html#r02

[2022-02-08 23:22] #1437 closed, assigned to nobody

[2022-02-08 23:24] riccardoAlbertoni commented on #1273
close as a result of the resolution  https://www.w3.org/2022/02/08-dxwgdcat-minutes.html#r04

[2022-02-08 23:24] #1273 closed, assigned to nobody

[2022-02-08 23:58] agreiner commented on #1442
yep, looks fine to me.

[2022-02-14 18:01] riccardoAlbertoni commented on #1443
I would be in favour of the change...  though I have just noticed that the properties' definitions refer to "ordered collections" besides series, see below the definition of `dcat:last`

Can we name the properties specifying inSeries if the properties are also for "ordered collections"? I guess no..

 On the other hand, in the current document, we have only four occurrences of the term "ordered co

[2022-02-15 19:59] #1442 closed, assigned to nobody

[2022-02-16 15:39] riccardoAlbertoni commented on #1331
Closing according to the "due for closing" policy which implies the issue can be closed after a 6 days period if no complaints are received.
More than 10 days have passed, in case of late reactions, we will consider reopening this issue or creating a new one.

[2022-02-16 15:39] #1331 closed, assigned to aisaac

[2022-02-16 15:41] #1440 closed, assigned to nobody

[2022-02-18 08:06] andreasgeissner opened #1454 "dcterms:hasPart in the context of nested Catalogs"
Dear DCAT Team,

When trying to model our institutional research data repository, I have come across something that, from the eye of a semantic web amateur, looks inconsistencies with the definition of dcterms:hasPart in the DCAT 3 11 January 2022 public draft.

We have a tree-shaped system of nested categories in our DSpace repository, called communities, subcommunities, and collections that I wa

[2022-02-18 18:47] smrgeoinfo commented on #1454
To figure this out, I'd need to understand what you're trying to do more clearly.
to quote "We have a tree-shaped system of nested categories in our DSpace repository, called communities, subcommunities, and collections that I want to model in DCAT. Any DSpace item (so bitstreams and metadata) is assigned to exactly one collection, which in turn belongs to exactly one subcommunity and so on. "
Wha

[2022-02-18 20:20] andreasgeissner commented on #1454
Thank you very much!

I’ll try my best to explain. Please let me know if it’s insufficient or still not clear enough.

In general, the category order would be
Community -> subcommunity -> subsubcommunity -> …-> collection

We are looking at research data from a university with a broad subject scope. The further we move up the tree, the more dissimilar the items would get. We plan to share our plat

[2022-02-21 10:39] #1441 closed, assigned to nobody

[2022-02-21 20:55] Haigutus commented on #1403
Hi, not so familiar with semantic web, but we are trying to provide metadata for schedules and models covering different periods of time, but are sent with specific periodicity. Any recommendation how to do this with dcat.

There is two needs:
1. Define process/publication event reoccurrence - here we would like to use cron syntax - https://crontab.guru/
2. Define process/publication temporal cove

[2022-02-22 15:32] garfi303 opened #1457 "Represent dataset encryption algorithm in DCAT"
If you are submissing a new USE CASE, please use the template below. Otherwise, delete the use case template before submitting your contribution.

---
### Add encryption Algorithm to DCAT.v3
Status:

Identifier:

Creator: Simson Garfinkel

Deliverable(s): DCAT3

## Tags

## Stakeholders
Data producer and data curator.

## Problem statement
With the anticipated move to post-quantum encryption algor

[2022-02-23 11:04] bertvannuffelen opened #1459 "Example 15: mistake in the used URIs?"
Hi,

In Example 15 in https://w3c.github.io/dxwg/dcat/#dereferenceable-identifiers the example starts with

[code]

but later in the example the URI  of the publisher is

[code]

This breaks the graph. Namely the upper part is not connected with the bottem part in the RDF graph. It might be intentional, but the description below the example does not highlight this.

[2022-02-23 17:30] riccardoAlbertoni opened #1460 "Use of word "context" in the definition of dcat:catalog and related properties"
As pointed out by Nobuyuki OGURA in a recent discussion, the use of  the word "context" in the definition of dcat:catalog and related properties (dcat:dataset, etc.) is quite vague. (see https://www.w3.org/2022/02/22-dxwgdcat-minutes#r02)

For example, in dcat 2 rec, the property dcat:catalog is defined as

 the class dcat:Catalog is defined as

Is there a better way to express the same idea?

[2022-02-23 17:35] riccardoAlbertoni commented on #1460
I wonder if dropping the reference to context could be a solution.
My hunch is that it would  simplify  the sentence maintaining the meaning in the definitions.

For example,  the property dcat:catalog would become

 the class dcat:Catalog  would be defined as

[2022-02-24 06:49] nobuogura commented on #1460
Yes, it seems that dropping "context" will improve understanding a lot.
If you allow examples in Definition,  I would like to suggest adding them as following:

A catalog whose contents are of interest of this catalog (e.g. parent  standard, related standard, etc.)

[2022-02-24 16:47] smrgeoinfo commented on #1460
dcat:catalog property is a sub property of [dcterms:hasPart](http://purl.org/dc/terms/hasPart), the implication of which is that the linked (object) catalog metadata collection is included in the subject catalog. A more precise definition would be
'a catalog whose content is included in this catalog'.  The motivation for inclusion ('of interest') is a note, but not part of the definition.
+1 on @r

[2022-02-25 16:07] rsc3 opened #1462 "Publisher as object property versus annotation property"
### Use case name
Status:

Identifier:

Creator: Sidney Cox

Deliverable(s): DCAT1.1, DCAT-AP
''Which deliverable or deliverables does this UC relate to?''

## Tags
''Optional space-separated list of tags out of the above catalog (extend on demand)''

## Stakeholders
data producer, data publisher
''Mandatory list of stakeholders experiencing the problem. When describing the stakeholder, please be

[2022-02-25 17:23] andrea-perego commented on #1454
Thanks for the additional details, @andreasgeissner .

The possible solutions depend on what exactly you plan to use DCAT for. Is it about having a DCAT representation inside your DSpace instance, or rather to expose a DCAT representation of your metadata from DSpace and/or from your OAI-PMH endpoint?

If it is related to DSpace, the first question is whether (sub-)communities should be actually r

[2022-02-25 17:37] andrea-perego commented on #1460
I've just realised that we are referring to the DCAT2 definition of `dcat:catalog`, which we have already revised in DCAT3 (see PR https://github.com/w3c/dxwg/pull/1370) to make it consistent with the definitions of `dcat:dataset`, etc. (https://github.com/w3c/dxwg/issues/1156):

I suggest we close this issue.

[2022-02-25 17:56] riccardoAlbertoni commented on #1460
Sorry, I was implementing the resolution https://www.w3.org/2022/02/22-dxwgdcat-minutes#r02 , and I hadn't realized this was not an issue in DCAT 3. Let's close it.

[2022-02-25 18:00] andrea-perego commented on #1457
@garfi303 , thanks for submitting this use case.

DCAT relies on the SPDX vocabulary to specify checksums, as well as the algorithms used:

https://www.w3.org/TR/vocab-dcat-3/#Property:checksum_algorithm

Indicating the security level of a hash algorithm is something that we have not considered in the scope of DCAT. This should rather be addressed by SPDX or a dedicated vocabulary.

[2022-02-25 18:04] simsong commented on #1457
Hi @andrea-perego . Than you for responding to my query.
I reviewed SPDX and see that it has *checksum* algorithms, but not *encryption* algorithms.
We need to be able to indicate that data at rest is encrypted with AES-128 or AES-256, for example.
We are not trying to indicate the 'security level.'

[2022-02-25 18:15] andrea-perego commented on #1462
@rsc3 , thanks for submitting this issue.

Please note that, even though not explicitly defined as such, `dcterms:publisher` is meant to be used as an object property, as indicated by the `dcam:rangeIncludes` statement in [the DCTERMS definition of this property](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/dublin_core_terms.ttl):

[code]

BTW, OWL annotation properties can als

[2022-02-25 18:25] andrea-perego commented on #1459
Thanks for reporting this typo, @bertvannuffelen .

We will address it via PR https://github.com/w3c/dxwg/pull/1463

[2022-02-25 18:33] andrea-perego commented on #1432
@simsong , unless you have any additional comments, we will consider this issue as closed.

[2022-02-25 18:41] simsong commented on #1432
Respectfully, this is not about accessRights. The issue is not whether the data is open or restricted.  The issue is not classification level. The issue is not how the data is being made available over the internet (accessURL/downloadURL). The issue is not if the data is available or not.

The issue is whether the file, stored on a disk, is encrypted with AES-128 or AES-256.

This is a very specif

[2022-02-25 18:44] andrea-perego commented on #1367
As there has been no further discussion in the thread, I propose we close this issue.

[2022-02-25 20:33] andrea-perego commented on #1409
@sde01 , apologies for the late reply.

The case you outline can be addressed by combining dataset series with dataset versions:

[code]

The link between versions is specified via property `dcat:previousVersion`:

[code]

So, Example 38 could be revised as follows:

[code]

[2022-02-25 21:00] andrea-perego opened #1465 "Aligning definitions of dcterms:hasPart and its subproperties"
The current definitions are as follows:

|Property|Definition|
|--|--|
|[`dcterms:hasPart`](https://w3c.github.io/dxwg/dcat/#Property:catalog_has_part)|An item that is listed in the catalog.|
|[`dcat:dataset`](https://w3c.github.io/dxwg/dcat/#Property:catalog_dataset)|A collection of data that is listed in the catalog.|
|[`dcat:service`](https://w3c.github.io/dxwg/dcat/#Property:catalog_service)|A

[2022-02-25 21:27] andrea-perego commented on #1465
The proposal has been implemented via PR https://github.com/w3c/dxwg/pull/1466

[2022-02-25 21:47] andrea-perego commented on #1460
Closing.

[2022-02-25 21:47] #1460 closed, assigned to nobody

[2022-02-25 22:11] andrea-perego commented on #1457
Sorry for the misunderstanding, @simsong .

To better understand your requirements, could you please provide an example?

E.g., besides the encryption algorithm, do you need to specify any other information? Also, is encryption applied on both data and checksums?

[2022-02-25 22:34] simsong commented on #1457
I can refer you to the NIST Post-Quantum Cryptography FAQ.
* https://csrc.nist.gov/Projects/post-quantum-cryptography/faqs
* https://csrc.nist.gov/projects/post-quantum-cryptography/post-quantum-cryptography-standardization/evaluation-criteria/security-(evaluation-criteria)

SQLite3 supports four encryption modes:
*  AES-256 in OFB mode (recommended for all new development)
*  AES-128 in OFB mode

[2022-02-25 23:03] andrea-perego commented on #1457
Thanks, @simsong .

So, if I got it right, your use case requires:
1. A property to specify the encryption algorithm used on a distribution or on a checksum
2. A code list / taxonomy of encryption algorithms

[2022-02-25 23:11] riccardoAlbertoni opened #1467 "Harmonizing the namespaces for example URIS"
We have used three different name spaces for example URIS: https://example.org/, http://example.org/, and https://dcat.example.org/ Perhaps we should consider to use one only.

_Originally posted in https://github.com/w3c/dxwg/issues/1463#issuecomment-1051287078_

[2022-02-25 23:12] simsong commented on #1457
Close. Here is better:

1. A property to specify the encryption algorithm used on a distribution.
2. A code list / taxonomy of encryption algorithms

We do not need to be able to represent encryption of checksums. We should have the ability to represent digital signatures, but I am assuming (hopefully correctly) that there is a way to represent digital signatures, although I do not know if there i

[2022-02-27 13:10] #1465 closed, assigned to nobody

[2022-02-27 13:13] andrea-perego commented on #1431
The definition of `dcat:service` has been revised accordingly via PR https://github.com/w3c/dxwg/pull/1466

Closing.

[2022-02-27 13:13] #1431 closed, assigned to nobody

[2022-02-27 21:26] andrea-perego opened #1469 "Replace dcterms:hasPart with a specific property"
`dcterms:hasPart` is re-used in DCAT as the generic relationship between a `dcat:Catalog` and the listed `dcat:Resource`'s, i.e., to specify that a given element (`dcat:Resource`) is in a given set (`dcat:Catalog`).

The problem is that `dcterms:hasPart`, as per its [DCTERMS definition](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/hasPart), may indicat

[2022-02-28 12:42] andreasgeissner commented on #1454
Thanks for the detailed response, @andrea-perego . I had typed but not yet proofread a lengthy text to clarify my concern (which is copied below in case you need information out of it for the new issue), but Issue #1469 is exactly the solution i imagined. Thanks again!

----
The issue I wanted to have addressed is indeed the definition of dcterms:hasPart.

I think you understood correctly what I w

[2022-02-28 18:53] andrea-perego opened #1471 "Editorial changes in view of DCAT3 4PWD"
- [x]  Update changelog with the changes after 3PWD -  via https://github.com/w3c/dxwg/pull/1476 and https://github.com/w3c/dxwg/pull/1486
- [x] Drop the DCAT2 changelog - done via PR https://github.com/w3c/dxwg/pull/1470
- [x] Align DCAT3 diagram to current specification (remove inverse properties, add new properties) - done via PR https://github.com/w3c/dxwg/pull/1472
- [x] Update ack section vi

[2022-02-28 20:56] andrea-perego commented on #1454
@andreasgeissner said:

If I'm not mistaken, the two main points you raise concern:
1. `dcterms:hasPart` vs `dcat:catalog`
2. `dcterms:hasPart` vs `dcterms:isPartOf`

About point (1), `dcterms:hasPart` and `dcat:catalog` have different semantics, as said in https://github.com/w3c/dxwg/issues/1469 . In particular, `dcat:catalog` (as well as `dcat:dataset` and `dcat:service`) is meant to link a set

[2022-03-01 07:29] andreasgeissner commented on #1454
Thanks for pointing me to the DCAT-AP use of dcterms:hasPart.

As I said, your suggestions #1469 look perfect to me, so I have nothing further to add. Thanks again!

[2022-03-01 20:18] andrea-perego commented on #1469
The proposal is implemented via PR https://github.com/w3c/dxwg/pull/1470

[2022-03-02 11:25] #1459 closed, assigned to nobody

[2022-03-02 13:32] riccardoAlbertoni commented on #1469
I am in favour of this proposal, doing so we leave dcterms:hasPart for Loosely structured catalog, and we have specific subproperties for more specific use cases.

[2022-03-04 11:21] riccardoAlbertoni commented on #1409
I propose to close this issue if there are no further requests by @sde01.

[2022-03-05 16:10] riccardoAlbertoni commented on #1443
We have  discussed this issue the last DCAT call [see  https://www.w3.org/2022/02/22-dxwgdcat-minutes]. During the discussion  Andrea reminded to me some of the motivations I missed  in my above posts.

The current version defines  Prev, Next, Last, and First at the level of resources, not only for datasets. This choice opens their use to ordered collections of other kinds or future use cases. The

[2022-03-07 08:11] sde01 commented on #1409
Hello Riccardo
Thanks for your feedback.
Your proposal is crystal clear.

Many thanks

[2022-03-07 17:54] agreiner commented on #1443
I can't think of an example that would not be a series. Non-data resources in an ordered collection would still be called a series.

[2022-03-07 19:50] andrea-perego commented on #1462
@rsc3 , unless you have any other comments, we consider this issue as closed.

[2022-03-08 01:28] #1469 closed, assigned to nobody

[2022-03-08 01:38] #1429 closed, assigned to nobody

[2022-03-08 21:40] agbeltran commented on #1409
I think it would be great to revise the example as @andrea-perego suggested to include this use case in the spec.

[2022-03-08 22:54] agbeltran commented on #1435
@smrgeoinfo I wanted to double-check: it seems that [http://www.opengis.net/doc/IS/cat/cws/3.0](http://www.opengis.net/doc/IS/cat/cws/3.0) should redirect to [http://docs.opengeospatial.org/is/12-176r7/12-176r7.html](http://docs.opengeospatial.org/is/12-176r7/12-176r7.html) but it is not, do you what the problem could be?

otherwise, should we be using  [http://docs.opengeospatial.org/is/12-176r7/

[2022-03-09 19:50] rsc3 commented on #1462
Thanks, that was super helpful!

On Mon, Mar 7, 2022 at 2:50 PM Andrea Perego ***@***.***>
wrote:

[2022-03-09 21:17] #1462 closed, assigned to nobody

[2022-03-12 08:18] #1409 closed, assigned to andrea-perego

[2022-03-12 09:42] andrea-perego commented on #1409
@sde01 , we have decided to add a consolidated version of your example in the specification. It is now included in the Editor's Draft (PR https://github.com/w3c/dxwg/pull/1473):

https://w3c.github.io/dxwg/dcat/#ex-dataset-series-and-versions

Thanks for your contribution.

[2022-03-15 11:00] riccardoAlbertoni commented on #1443
This issue was discussed in the last DCAT meeting, https://www.w3.org/2022/03/08-dxwgdcat-minutes#t07

The main pushback for changing the name is

[2022-03-15 11:57] #1335 closed, assigned to nobody

[2022-03-15 17:14] agreiner commented on #1443
I see; thank you for the explanation. I'm fine with leaving them as is then.

[2022-03-15 18:18] #1443 closed, assigned to nobody

[2022-03-16 18:02] riccardoAlbertoni commented on #1471
The editor’s note in section https://w3c.github.io/dxwg/dcat/#inverse-properties  says

Can we consider the list consolidated?
In any case, I do not think we have any inverse properties that have been left in section 6

I would consider removing the note. What do the other editors think?

[2022-03-16 21:10] agbeltran opened #1477 "Examples 37 and 38 not available in the examples folder"
The dataset series examples:
https://w3c.github.io/dxwg/dcat/index.html#ex-dataset-series-containment
and
https://w3c.github.io/dxwg/dcat/index.html#ex-dataset-series-releases
are not available in the examples folder.

They should be added in the 3 syntaxes we are considering (ttl, jsonld, rdf)

[2022-03-16 21:24] andrea-perego commented on #1471
@riccardoAlbertoni said:

I think there's yet a property to be added, i.e., `dcat:inCatalog`, inverse of `dcat:resource`. After that, I would agree to remove the EDNOTE.

[2022-03-16 21:41] agbeltran commented on #1467
I agree it would be better to be consistent - which URI do we go for? Perhaps  https://dcat.example.org/  ?

[2022-03-16 21:45] agbeltran opened #1479 "Issue with example file"
This file provided as an example for DCAT2:
https://github.com/w3c/dxwg/blob/gh-pages/dcat/examples/dryad-globtherm-sdata.ttl
has the same problems fixed in https://github.com/w3c/dxwg/pull/1474 for the same file in the folder /examples/vocab-dcat-3

Can we fix directly or do we need to consider some errata given that is for DCAT2?

I note that the spec points to the file directly, see https://www

[2022-03-16 21:46] agbeltran commented on #1479
By the way, the example text in the spec seems ok (without prefixes, but that's what we do for other examples too)

[2022-03-16 21:57] andrea-perego commented on #1479
I wouldn't then include any errata - these are supposed to be about what is in the spec.

[2022-03-17 07:37] #1477 closed, assigned to agbeltran

[2022-03-17 08:56] agbeltran commented on #1479
yes, thanks, the link to the file won't change as it is pointing to the github.io site (https://w3c.github.io/dxwg/dcat/examples/dryad-globtherm-sdata.ttl)

[2022-03-17 12:50] agbeltran commented on #1352
should we close this or we need to make this clarification somewhere else?

[2022-03-21 19:11] riccardoAlbertoni opened #1483 "Should dcat:resource be subproperty of rdfs:member?"
I have noticed that <code>dcat:catalog</code>, <code>dcat:service</code>, and  <code>dcat:dataset</code>  are  all defined as subproperties of <code>rdfs:member</code> in the TTL.  The recently added  <code>dcat:resource</code> which is the super-property of the above is not.

 Should we define <code>dcat:resource</code>  subproperty of <code>rdfs:member</code> ?

 <code>rdfs:member</code> is neve

[2022-03-22 01:16] dr-shorthair commented on #1483
`rdfs:member` is a pretty obscure element from RDFS.
In fact if you read the documentation it is not fully clear if it should be subclassed, and I'm not sure that I've seen it done anywhere else. for example `skos:member` is not a sub-property.

Probably remove it.

[2022-03-22 10:10] andrea-perego commented on #1483
@dr-shorthair said:

I concur. Let's remove it.

[2022-03-22 18:18] riccardoAlbertoni opened #1485 "Finalizing the inverse property table"
@riccardoAlbertoni said:

I think there's yet a property to be added, i.e., `dcat:inCatalog`, inverse of `dcat:resource`. After that, I would agree to remove the EDNOTE.

_Originally posted by @andrea-perego in https://github.com/w3c/dxwg/issues/1471#issuecomment-1069649226_

[2022-03-22 18:30] #1479 closed, assigned to nobody

[2022-03-22 19:56] agbeltran commented on #1483
I also agree with removing this restriction, note that there was a previous issue about relaxing the constraints on ```dcat:service``` (https://github.com/w3c/dxwg/issues/1363) and there was also a suggestion (by @dr-shorthair ) on removing the subproperty constraint with ```rdfs:member``` https://github.com/w3c/dxwg/issues/1363#issuecomment-844806375

[2022-03-22 22:32] riccardoAlbertoni commented on #1485
Closed by https://github.com/w3c/dxwg/pull/1484

[2022-03-22 22:32] #1485 closed, assigned to nobody

[2022-03-24 08:04] andrea-perego opened #1489 "Add example on the use of dcterms:conformsTo with a catalog record"
See resolution in https://www.w3.org/2022/03/22-dxwgdcat-minutes#r02

The proposal is to add an example in [§14.2.1 Conformance to a standard](https://w3c.github.io/dxwg/dcat/#quality-conformance-statement) to show how to use `dcterms:conformsTo` with a `dcat:CatalogRecord`.

The proposal is implemented via PR https://github.com/w3c/dxwg/pull/1488

[2022-03-24 10:09] riccardoAlbertoni commented on #1471
Changes are done via #1485

[2022-03-25 11:00] andrea-perego opened #1490 "Inconsistent use of "item" and "resource" in definitions"
Definition of properties under `dcat:Resource` use inconsistently "item" and "resource".

Some examples:

Definition of `dcterms:creator` in [§6.4.4 Property: creator](https://w3c.github.io/dxwg/dcat/#Property:resource_creator):

Definition of `dcterms:description` in [§6.4.5 Property: description](https://w3c.github.io/dxwg/dcat/#Property:resource_description):

The same situation occurs also in

[2022-03-25 18:07] andrea-perego commented on #1485
In the meeting of 22 March 2022, the group approved the addition of property `dcat:inCatalog` to the section on the use of inverse properties - see resolution https://www.w3.org/2022/03/22-dxwgdcat-minutes#r03

This revision was implemented via PR https://github.com/w3c/dxwg/pull/1484

[2022-03-26 16:25] #1483 closed, assigned to nobody

[2022-03-26 16:54] andrea-perego commented on #1483
Statements making `dcat:catalog`, `dcat:dataset`, and `dcat:service` sub-properties of `rdfs:member` have been removed via PR https://github.com/w3c/dxwg/pull/1482

[2022-03-26 17:21] andrea-perego commented on #1454
Thanks for confirming it, @andreasgeissner .

Issue closed.

[2022-03-26 17:21] #1454 closed, assigned to nobody

[2022-03-26 22:52] andrea-perego opened #1493 "Relationship with Data Mesh concepts"
Comment submitted by Martin East in https://lists.w3.org/Archives/Public/public-dxwg-comments/2022Feb/0000.html

[2022-03-26 22:53] andrea-perego opened #1494 "Data Sets not available via data services or downloadURLs"
Comment submitted by Martin East in https://lists.w3.org/Archives/Public/public-dxwg-comments/2022Feb/0000.html

[2022-03-26 22:55] andrea-perego opened #1495 "Guidance on when multiple Distributions are considered to pertain to the same Dataset, and when they are different"
Comment submitted by Martin East in https://lists.w3.org/Archives/Public/public-dxwg-comments/2022Feb/0000.html

[2022-03-26 22:56] andrea-perego opened #1496 "Versioning scheme"
Comment submitted by Martin East in https://lists.w3.org/Archives/Public/public-dxwg-comments/2022Feb/0000.html

[2022-03-26 23:02] andrea-perego commented on #1494
Possibly related issue: https://github.com/w3c/dxwg/issues/1240

[2022-03-28 10:50] #1489 closed, assigned to nobody

[2022-04-04 13:23] andrea-perego commented on #1490
PR https://github.com/w3c/dxwg/pull/1491 has been merged.

Closing.

[2022-04-04 13:23] #1490 closed, assigned to nobody

[2022-04-04 13:39] andrea-perego opened #1498 "Revisions to RDF files (dcat3-external.*)"
Following PR https://github.com/w3c/dxwg/pull/1488 & https://github.com/w3c/dxwg/pull/1491 , definitions and/or usage notes of some properties have been revised. Such revisions should be reflected in the corresponding RDF files.

The relevant properties are the listed below.

----

`dcterms:description` - [§6.4.5 Property: description](https://w3c.github.io/dxwg/dcat/#Property:resource_description

[2022-04-04 19:59] samuelweiler opened #1499 "Link to editors draft is broken"
In https://www.w3.org/TR/dx-prof-conneg

[2022-04-05 09:42] rossbowen commented on #1322
Hi @riannella, I had hoped an inverse of `dcat:distribution` would feature in the [table](https://www.w3.org/TR/vocab-dcat-3/#inverse-properties) which appears in V3 of the spec. I think I have a requirement which could not be solved without an inverse for `dcat:distribution`.

I'm wanting to use DCAT alongside the [CSV on the Web (CSVW)](https://w3c.github.io/csvw/primer/) standard for describing

[2022-04-05 15:58] smrgeoinfo commented on #1322
Seems like from the DCAT perspective, the resource of interest would be a DCAT dataset  with a CSVW distribution, no additional DCAT properties required.  From the CSVW perspective, you are describing a particular representation  (distribution) of a dataset, and want to link back to the 'abstract' (implementation independent) identifier for the dataset information. I would look for a CSVW property

[2022-04-06 07:07] riannella commented on #1322
Hi @rossbowen - I tried, but did not convince them :-)

[2022-04-06 13:37] rossbowen commented on #1322
Thankyou - hopefully this new use-case can be considered. I agree that the issue sits with CSVW (and I think if a new working group were to convene that one of the outcomes may well be that CSVW support the whole JSON-LD dialect), but I don't think CSVW coining a new property which is effectively the same as a `dcat:isDistributionOf` in the CSVW namespace is the solution.

[2022-04-09 08:44] andrea-perego commented on #1499
Thanks for reporting this problem, @samuelweiler .

The DXWG deliverable on "Content negotiation by profile" has a dedicated repository:

https://github.com/w3c/dx-connegp

I'm moving this issue in that space.

[2022-04-10 14:11] andrea-perego commented on #1425
A preliminary proposal for the mapping of DCAT spatial properties to the current draft of GeoSPARQL 1.1.

Have I missed anything?

|GeoSPARQL|Relation|DCAT|Comment|
|--|--|--|--|
|`owl:propertyChainAxiom`(`geosparql:hasBoundingBox` `geosparql:hasSerialization`)|`rdfs:subPropertyOf`|`dcat:bbox`|The domain of `dcat:bbox` (`dcterms:Location`) is broader than the one of `geosparql:hasBoundingBox` (`ge

[2022-04-10 18:56] agbeltran commented on #1467
Closed by https://github.com/w3c/dxwg/pull/1500

[2022-04-10 18:56] #1467 closed, assigned to agbeltran

[2022-04-26 20:21] plehegar opened #1502 "Wide review"
- [x] Working draft available for wide review: [10 May 2022](https://www.w3.org/TR/2022/WD-vocab-dcat-3-20220510/)
- [x] Send notifications to groups listed in [Charter coordination section](https://www.w3.org/2020/02/dx-wg-charter.html#coordination): SHACL CG, schema.org for datasets CG, Open Digital Rights Language (ODRL), EU ISA Programme, Research Data Alliance, GO-FAIR, FORCE11, CO-DATA, EPOS

[2022-05-02 10:49] #1398 closed, assigned to agbeltran

[2022-05-02 12:17] andrea-perego commented on #1398
Revision implemented via PR https://github.com/w3c/dxwg/pull/1501

[2022-05-02 12:36] agbeltran opened #1503 "dcat:DatasetSeries and other elements added in version 3 missing from RDF files"
The recent additions such as dcat:DatasetSeries class and related properties (https://w3c.github.io/dxwg/dcat/#Class:Dataset_Series) are not currently available in the RDF files (e.g. https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat3.ttl)

[2022-05-02 12:44] andrea-perego commented on #1503
It seems the versioning-related properties are missing as well.

[2022-05-02 12:45] riccardoAlbertoni opened #1504 "Short i18n review checklist"
Look at  [Short i18n review checklist](https://www.w3.org/International/i18n-drafts/techniques/shortchecklist) for more context on the questions.

-----------
1. 1.  [ ] _If the spec (or its implementation) contains any natural language text that will be read by a human (this includes error messages or other UI text, JSON strings, etc, etc),_

2. 2.  [ ] _If the spec (or its implementation) allows

[2022-05-02 12:48] andrea-perego commented on #1503
An editorial note:

In `skos:changeNote`'s we have:

and

There's no version 2.0 or 3.0, so better revise the above accordingly:

and

[2022-05-02 15:14] riccardoAlbertoni opened #1506 "Self-review accessibility checklist"
This is a self-review accessibility checklist based on  [https://w3c.github.io/apa/fast/checklist.html](https://w3c.github.io/apa/fast/checklist.html)  for the W3C DCAT 3 specification:

   DCAT 3 is an RDF vocabulary designed to facilitate interoperability between data catalogs published on the Web. It defines the metadata schema and provides examples for its use. Overall, it seems that the preca

[2022-05-04 08:49] riccardoAlbertoni commented on #958
This issue was discussed in the last DCAT submeeting [1].
The document available at [2] states that the text direction problem must be solved on the RDF level and analyzes possible alternatives. Therefore, DCAT expects to inherit a solution for expressing text direction from RDF.

 We keep this issue open and move it as future work, as we might want to integrate the DCAT examples when the solution

[2022-05-06 15:06] riccardoAlbertoni commented on #959
We discussed this issue in the last [DCAT subgroup meeting](https://www.w3.org/2022/05/03-dxwgdcat-minutes#r03).

@aphillips: do you think a "health warning" in the specification can solve the issue? And in such a case,  could you provide us with a text to include?

[2022-05-06 15:38] davebrowning opened #1507 "Self-review privacy and security checklist"
Following the guidance in [How to do Wide Review](https://www.w3.org/Guide/documentreview/), this issue is for discussion/agreement (when complete) of the privacy and security considerations for DCAT3 in line with current processes and standards.

Specifically, it provides responses to [Self-Review Questionnaire: Security and Privacy](https://www.w3.org/TR/security-privacy-questionnaire/) where fu

[2022-05-06 15:40] aphillips commented on #959
Having re-read this thread this morning and gone back to the editor's draft... the text [here](https://w3c.github.io/dxwg/dcat/#Property:resource_language) says:

I think this should say something entirely different. It should probably say something like:

Alternatively, if you don't want to change the recommendation, a health warning could be something like:

I'm happy to discuss the details here

[2022-05-10 19:47] plehegar commented on #1502
Draft published: https://www.w3.org/TR/2022/WD-vocab-dcat-3-20220510/

[2022-05-12 13:49] #1503 closed, assigned to agbeltran

[2022-05-12 15:47] andrea-perego commented on #1503
Revisions implemented via PR https://github.com/w3c/dxwg/pull/1505

[2022-05-13 09:05] andrea-perego opened #1509 "Issues to be addressed for DCAT3 CR"
This issue is meant to provide a checklist of what must or should be addressed before DCAT3 CR.

@agbeltran , @davebrowning , @dr-shorthair , @pwin , @riccardoAlbertoni , please add any you see missing.

Updating RDF (required):
- [x] https://github.com/w3c/dxwg/issues/1498
- [x] https://github.com/w3c/dxwg/pull/1508

Comments to be addressed:
- [x] https://github.com/w3c/dxwg/issues/959 - related

[2022-05-13 11:11] andrea-perego commented on #1349
Additional proposed revision are being added in PR https://github.com/w3c/dxwg/pull/1510

[2022-05-13 20:49] andrea-perego commented on #1223
@plehegar , could you please provide an update about this issue?

[2022-05-17 09:55] #1320 closed, assigned to nobody

[2022-05-18 18:01] plehegar commented on #1509
re #1332 , I think it's fine to make this change without having to restart the wide review.

[2022-05-18 18:02] plehegar commented on #1509
The other set ("Updating spec wrt the scope of DCAT3 & editorial issues") is totally fine to do as well btw.

[2022-05-24 08:34] stigbd opened #1513 "Domain, range and usage of dcat:first, dcat:last is hard to understand"
In an early attempt to use the much welcomed `dcat:DatasetSeries` in our Norwegian application profile [DCAT-AP-NO](https://data.norge.no/specification/dcat-ap-no/), I find it hard to understand how dcat:first and dcat:last is to be used.

None of the examples show the usage of these properties.

Based on the assumption that domain/range is `dcat:DatasetSeries`/`dcat:Dataset` and what I think is t

[2022-05-25 19:50] andrea-perego opened #1515 "Self-review TAG checklist [DRAFT]"
Draft based on the TAG review template from https://github.com/w3ctag/design-reviews/issues/new?assignees=&labels=Progress%3A+untriaged&template=010-specification-review.md&title=

This checklist needs to be complemented by an explainer document, following the examples from https://tag.w3.org/explainers/

The explainer document is being drafted in PR https://github.com/w3c/dxwg/pull/1514

----

Wo

[2022-05-30 15:06] riccardoAlbertoni commented on #959
@aphillips: We have considered your points, and after some discussions, we included the health warning you suggested.
Is it ok if we close this issue?

[2022-06-02 05:25] #1349 closed, assigned to nobody

[2022-06-02 08:46] andrea-perego opened #1517 "Broken URIs from http://registry.it.csiro.au/"
Following up from discussion in https://github.com/w3c/dxwg/pull/1510#issuecomment-1140330911

These URIs are used in examples of the DCAT3 specification.

To be decided if they need to be replaced.

[2022-06-02 09:25] andrea-perego opened #1518 "Check EDITORS' NOTEs and NOTEs to be removed and or updated"
We still have quite a few ED NOTEs, and some of the NOTEs may still be related to DCAT2.

[2022-06-02 09:53] andrea-perego commented on #1471
I moved planned revisions on RDF files to https://github.com/w3c/dxwg/issues/1509

Closing this issue.

[2022-06-02 09:53] #1471 closed, assigned to nobody

[2022-06-02 09:56] andrea-perego commented on #1425
@dr-shorthair , @nicholascar , could you please review this proposal?

[2022-06-02 10:02] andrea-perego opened #1519 "Check that we don't have any leftover from DCAT2"
Complements https://github.com/w3c/dxwg/issues/1518

We may have leftovers from DCAT2 in running text and examples.

[2022-06-02 10:12] andrea-perego opened #1520 "SpecRef doesn't return record for DCAT3 4PWD"
SpecRef does no return any record for DCAT3 4PWD - see:

https://api.specref.org/bibrefs?refs=vocab-dcat-3-20220510

This record is however present in

https://github.com/tobie/specref/blob/main/refs/w3c.json

[code]

@pchampin , @plehegar , could you please check why this happens?