[2020-06-03 16:35] riccardoAlbertoni commented on #1238
I share your concern in general, but here I think we are in the first case. ADMS is very lightweight, AFAIK, no restrictions, nor domain restriction are provided for adms:status. There is a range restriction to skos:Concept, which shouldn't be problematic.  Besides, we have already used a bit of ADMS in the non-normative part of DCAT 2 ( see adms:identifier).  I do not see issues if we continue to

[2020-06-03 22:19] riccardoAlbertoni commented on #92
We discussed this issue in tonight's [dcat teleconference](https://www.w3.org/2020/06/03-dxwgdcat-minutes.html), please see the discussion and the [resolution](https://www.w3.org/2020/06/03-dxwgdcat-minutes.html#r02) the tonight's restricted group has voted to register an initial consensus on using owl:versionInfo.

[2020-06-03 22:36] riccardoAlbertoni commented on #1238
Just an update on the discussion, part of this issue has been discussed in tonight's [dcat teleconference](https://www.w3.org/2020/06/03-dxwgdcat-minutes.html).

An  agreement on  provisionally including adms:status as a working solution has emerged  from the restricted group of tonight's attendants (see discussion and [resolution](https://www.w3.org/2020/06/03-dxwgdcat-minutes.html#r03))

[2020-06-03 23:27] rob-metalinkage commented on #1238
If ADMS is useful, its non-normative status is an issue - then this is already addressed by the fact ADMS is a profile of DCAT.  It can be dealt with as a suggested profile recommendation.  What is really achieved by duplication other than potential confusion?

Alignments are good - except there is no explicit behaviour requiring them to be used in a particular way. If you have an alignment, but i

[2020-06-04 01:46] dr-shorthair commented on #1238
I'm OK with using `adms:status`. ADMS is already very much part of the DCAT family anyway.

[2020-06-04 01:49] dr-shorthair commented on #92
Since `owl:versionInfo` is an `owl:AnnotationProperty` then it is mostly harmless. But I'm not really used to seeing OWL properties in a-box data ...

[2020-06-05 07:46] init-dcat-ap-de commented on #1238
+1 for using existing `adms:status` in short time but also
+1 establishing it on a long run at w3c dcat level.
The concern on the non-governance of ISA adms is true but could be fixed by the EU ISA DCAT-AP SEMIC team.
side note:
While https://www.w3.org/ns/adms#status namespace is save, the persistent EU-URI of adms is currently the only non-persistant one:  https://data.europa.eu/URI.html

Sebast

[2020-06-05 23:15] andrea-perego commented on #1213
Many thanks for considering my feedback, @tombaker & @paulwalk.

I still think the current solution is non-optimal, but of course I can live with it ;)

[2020-06-10 15:14] riccardoAlbertoni commented on #1223
The API bug has been addressed. Any objections to close this issue?

[2020-06-10 15:47] andrea-perego commented on #1223
I guess so. However, AFAIK, the inconsistency in SpecRef has not been addressed - see https://github.com/w3c/dxwg/issues/1177#issuecomment-577680178. Namely

https://api.specref.org/bibrefs?refs=vocab-dcat

still returns the entry for DCAT 2014.

[2020-06-11 19:59] plehegar commented on #1223
The issue is indeed ongoing. As of 2 weeks ago, the W3C API started to include versioning information. For example, see the "[Versioning section](https://www.w3.org/PM/Groups/chairboard.html?gid=99375#series)" in the chairboard. The information is not yet authoritative however, meaning that https://www.w3.org/TR doesn't use it yet.

[2020-06-14 12:54] dominik-s0 opened #1240 "Question: how to catalog relational database data in DCAT?"
Dear DCAT team,
I have a question regarding the correct use of DCAT to catalog data sitting in relational databases such as Oracle/MySQL/Postgres and data lake engines such as Apache Hive.
In my thoughts, I'd either model a database table or an entire database as a distribution of a dataset. This could apply to open accessible and private databases.

For referring to an **entire database**, I prob

[2020-06-14 21:54] andrea-perego commented on #1240
Thanks for bringing to our attention this use case, @dominik-s0 . I give below a preliminary answer, which may be complemented by other WG members.

I think there are two different aspects here: one is how to use DCAT to document a database, the other is how to publish it. The latter is not strictly in scope with DCAT, but rather with existing guidelines and best practices - as the Data on the Web

[2020-06-16 21:36] mathib opened #1241 "referencing named graph of endpoint or RDF quad file"
Hi, I've been studying DCAT besides VoID and SD (sparql description) and I'm looking for a way to express that a dataset with quads contains a subset of triples, selected by their graph (default or named graph). As far as I've seen, there is no way I can express this using DCAT, but I can of course have missed someting :).

I'm planning to mainly use it for internal data management, but it might a

[2020-06-16 22:41] dr-shorthair commented on #1241
Good work @mathib . This general approach is what we expect - extend the DCAT model with elements from other RDF vocabularies, while being appropriately careful about imported entailments.

Regarding the **subset** issue: DCAT provides a generic mechanism for dataset-dataset relationships - see https://www.w3.org/TR/vocab-dcat-2/#qualified-forms . This requires a separate enumeration of 'roles' fo

[2020-06-17 08:57] mathib commented on #1241
Thanks for the reply. That's very useful information. Some replies on the comments:

I looked at the `dcat:qualifiedRelation` but I'm a bit afraid that by selecting one of the many roles that are out there, the role might be misinterpretted. The closest IANA relation I've found is `http://www.iana.org/assignments/relation/item`. I don't have access to ISO 19115-1 and DataCite doesn't have URIs for

[2020-06-17 09:19] mathib commented on #1241
hmm, maybe it's better if I reintroduce the useful VoID terminology in my DCAT extension, since VoID terminology is not dereferenceable anymore [at least since 2015](https://lists.w3.org/Archives/Public/semantic-web/2015Aug/0013.html)...

[2020-06-17 11:46] dr-shorthair commented on #1241
Try https://github.com/cygri/void/blob/master/rdfs/void.ttl
(not the canonical namespace, for sure).

[2020-06-17 14:10] andrea-perego commented on #1230
Just to record that a similar requirement has been brought up in two recent use cases - see https://github.com/w3c/dxwg/issues/1240 and https://github.com/w3c/dxwg/issues/1241

[2020-06-17 20:52] dr-shorthair commented on #1241
FWIW - ISO 19115 codelists are cached here: http://registry.it.csiro.au/def/isotc211 and will (real soon now) be published using canonical URIs starting with https://www.isotc211.org/

[2020-06-17 22:35] riccardoAlbertoni commented on #89
We discussed this issue in last [dcat teleconference](https://www.w3.org/2020/06/17-dxwgdcat-minutes.html), we were in a restricted group, but we voted to register an initial consensus on using  [adms:versionNotes](https://www.w3.org/TR/vocab-adms/#adms-versionnotes).

[2020-06-17 22:49] riccardoAlbertoni commented on #91
We have discussed this issue in the last DCAT call.  We have agreed that dct:created can indicate the release date,  as we are assuming that each version is a new entity, for example, a new version of a dataset will be a new dataset, and we do not need to mint a specific property for "version date".

Connected to this, the discussion has drifted to solutions  adopted by other vocabularies (PAV and

[2020-06-18 10:55] mathib commented on #1241
woops, just noticed that RDF is still served at the VoID namespace via content negotation (e.g. http://rdfs.org/ns/void#Dataset). Only the HTML page is missing when navigating to the VoID namespace URI in the browser (content negotation to HTML still works though, redirecting to http://vocab.deri.ie/void.html)

[2020-06-20 23:11] andrea-perego opened #1242 "Service vs endpoint"
I propose we consider re-visiting the service-endpoint relationship, based on existing examples where such relationship is 1-to-many.

DCAT 2 includes two properties - `dcat:endpointURL` and `dcat:endpointDescription` - for specifying a service endpoint, plus property `dct:conformsTo`, which is used to specify its "protocol". As these properties take as subject a `dcat:DataService`, the service-en

[2020-06-21 19:03] jakubklimek commented on #1242
@andrea-perego What is the benefit of describing this case (and similar cases) as one service with multiple endpoints as opposed to multiple services?

Why is this one service and not two services? What makes the identity of a service?

Creating two ways of describing this makes it again harder for consumers of such metadata to work with it - more possibilities = harder to work with. There needs t

[2020-06-21 23:28] smrgeoinfo commented on #1242
I have been approaching this from the point of view of someone looking first for data, and then for how to access the data. From this point of view, the DataSet is the primary resource of interest, and different services to access the data would be different distributions.   This is similar to [Example 49](https://www.w3.org/TR/vocab-dcat-2/#ex-service-gsa), but I would add distribution elements i

[2020-06-22 08:38] dominik-s0 commented on #1240
Dear @andrea-perego,
thanks a lot for the reply on this!

I think one of the main points I have is that the data I want to catalog is not "on the web", as in "available via a REST API" (which I think is the focus of discussion also in [#1230](https://github.com/w3c/dxwg/issues/1230) )
Rather, data could be in an Oracle/Postgres/... database or a Hive big-data service reachable via a JDBC interface

[2020-06-26 11:01] riccardoAlbertoni opened #1243 "Examples of a manifest for DCAT2"
Opening an issue to track the request by @ericstephan  [[1]](https://lists.w3.org/Archives/Public/public-dxwg-wg/2020Jun/0039.html). A copy of the request is attached below.

---
Hi all,

I'm interested in the concept of a manifest file to identify datasets that belong to a dataset.  In the DCAT and DCAT2 recommendations, the following phrase appears "Aggregated DCAT metadata can serve as a manife

[2020-07-01 12:54] dominik-s0 commented on #1240
@andrea-perego @riccardoAlbertoni what are your thoughts about my comments? What would be the best approach here? Is this something that can be taken up for the next DCAT release?

[2020-07-01 21:16] dr-shorthair commented on #1243
Is this related to data-series - #806 #868 ?

[2020-07-01 21:36] dr-shorthair commented on #1243
This is essentially the bag-of-files example https://www.w3.org/TR/vocab-dcat-2/#examples-bag-of-files, but would perhaps be better if `dcterms:hasPart` were used in place of `dcterms:relation`

Note that all the sub-properties of `dcterms:relation` are already mentioned as being available on all `dcat:Resource` - see https://www.w3.org/TR/vocab-dcat-2/#Property:resource_relation - though the scop

[2020-07-01 21:45] dr-shorthair commented on #1205
I agree that in the documentation of `dcterms:hasPart` we should make it clear which scope notes apply in which specific context.  As mentioned in https://www.w3.org/TR/vocab-dcat-2/#Property:resource_relation `hasPart` can be used in other places, for example for a multi-part dataset.

So we should tweak the documentation here: https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat-external.ttl#

[2020-07-01 21:52] dr-shorthair commented on #868
@makxdekkers is 'Time series' different to 'Evolution'?

[2020-07-01 21:56] dr-shorthair commented on #868
@der said 'In our case we would likely want to treat each of our resources as an instance of both `dcat:DatasetSeries` and `dcat:Dataset`'

I would propose - if a new class is needed at all - that `dcat:DatasetSeries rdfs:subClassOf dcat:Dataset.`
Else just set `dcterms:type <http://registry.it.csiro.au/def/isotc211/MD_ScopeCode/series> ;` (or similar)?

[2020-07-01 22:02] dr-shorthair commented on #1230
Where schema.org uses `variableMeasured` we could also use QUDT:
[code]

[2020-07-01 22:17] andrea-perego commented on #868
@dr-shorthair said:

GeoDCAT-AP uses the latter approach - see [the section on resource types](https://semiceu.github.io/GeoDCAT-AP/drafts/latest/#resource-type---not-in-iso19115-core) and related example:

[code]

[2020-07-01 22:24] riccardoAlbertoni commented on #1243
@ericstephan: You can find  on the European data portal  some examples of  DCAT in the manifest, see the following two

https://www.europeandataportal.eu/data/datasets/diplomati-stranieri-a-scuole-di-specializzazione-anno-solare-2013?locale=en

https://www.europeandataportal.eu/data/datasets/593c5b46-5c92-475e-90fa-20077fc3c06e?locale=en

Do the guidance provided by @dr-shorthair's reply and the a

[2020-07-02 08:23] makxdekkers commented on #868
That depends on how these things are defined. The way I think about it is something like this:

Time series: a group of datasets that are related along a time dimension, for example a dataset with the budget for 2019 and another dataset with the budget for 2020; so two datasets that contain the same type of data for a different time period

Evolution: a single dataset that is updated '_in situ_' o

[2020-07-02 20:18] ericstephan commented on #1243
@dr-shorthair - I prefer hasPart because it has an inverse relation isPartOf that I can use to represent a list, tree or any dag structure for a dataset composed of other datasets.

@riccardoAlbertoni - A classic example in the modeling and simulation (M&S) world where a published dataset is comprised of many other datasets (in this case a dataset could be a file or a directory of files).

 simula

[2020-07-02 22:54] agreiner commented on #868
Hm, typical usage in my own circles is that a time series is a dataset that has time as one variable within that one dataset. I would suggest avoiding using the term to talk about a series of datasets, to avoid confusion.

[2020-07-02 23:58] andrea-perego commented on #1240
@dominik-s0 , we have discussed your use case [during our last meeting](https://www.w3.org/2020/07/01-dxwgdcat-minutes.html#t03). Our understanding is that your requirements fit better into a specific DCAT extension (see [§14. DCAT Profiles](https://www.w3.org/TR/vocab-dcat-2/#profiles)) rather than the "core" DCAT vocabulary, whose scope is meant to address more general use cases, and with a spec

[2020-07-03 07:22] dominik-s0 commented on #1240
Thanks a lot for the reply on this and for the provided example @andrea-perego . I'll take a look at the other referenced examples and at the discussion in #1230. I'll close this issue for now and will follow-up if required.

[2020-07-03 07:23] zeginis commented on #1240
Hi @dominik-s0 , @andrea-perego
I work for the EU project CYBELE (https://www.cybele-project.eu/). At the prohect we are using DCAT to create metadata for the data that will be inserted to the platform we build.  The data will be stored at a relational database while the metadata are stored at Virtuoso triple store. We are using these metadata in order to search for data (e.g. based on the geograp

[2020-07-03 07:36] dominik-s0 commented on #1240
Thanks for the reply on this @zeginis. I was under the impression that `dct:identifier` in this case would rather serve as a unique identifier (e.g. UUID/GUID) to this specific `dcat:DataService` and not to the referenced dataset, e.g. the table in your case. From my understanding how to reference the table itself is kind-of the discussion in #1230. But I may be wrong.
@andrea-perego can you indic

[2020-07-03 07:46] dr-shorthair commented on #1240
Note that there is no `dcat:Service` class - it is `dcat:DataService`.

The value of the `dct:identifier` would usually be a system identifier for the resource.
If the _service_ is just for a single table, then indeed it could make sense to record that as the value of the `dct:identifier`.
But if the _service_ is for the whole database then it doesn't really make sense to have the identifier for j

[2020-07-03 07:55] dominik-s0 commented on #1240
Ok this makes sense to me. In that case I think it's a feasible approach to make use of `dcat:DataService` with `dcat:endpointURL` pointing to the JDBC/ODBC string and `dct:identifier` to the table name and then having one `dcat:DataService` per table.

Maybe one could then even relate different `dcat:DataService` together, e.g. having one `dcat:DataService` as the service for the database with `d

[2020-07-03 08:07] zeginis commented on #1240
@dominik-s0 that's the approach we plan to follow -->  having one dcat:DataService per table.
Your proposal to relate different `dcat:DataService` together e.g. using the `dcat:Relationship` or the `dct:isPartOf ` is also interesting!

[2020-07-03 08:13] dominik-s0 commented on #1240
Yes, I think that could allow to still have a unique identifier on the database itself. Otherwise e.g. if you have a table named _XYZ_ in different databases, there would be multiple `dcat:DataService` with the same _XYZ_ identifier and there would be no way to distinguish them except to do some regex voodoo on the `dcat:endpointURL` :)

[2020-07-03 22:37] andrea-perego commented on #1240
@zeginis , @dominik-s0 , I would recommend against the use of `dct:identifier` for this purpose. As @dr-shorthair noted, it can work if you are going to have a `dcat:DataService` per table. However, one could argue that the table is the data available via the service, not the service itself (which is what `dct:identifier` is meant to be about), and this may lead to misunderstanding. To avoid any a

[2020-07-04 21:47] andrea-perego commented on #1243
Thanks for this clarification, @ericstephan .

May I ask if your requirements concern only describing the specific role played by each component (input parameters, model, etc.), or also the actual simulation workflow?

[2020-07-04 23:02] andrea-perego commented on #1242
@jakubklimek , @smrgeoinfo , thanks for your feedback, and sorry for my late reply.

This issue is yet to be discussed by DXWG, so no position has been taken for the moment. However, IMO, you rightly pointed out the key issue here, namely "what identifies a service".

I perfectly agree that, from a data-centric perspective, a service may correspond to an endpoint, using a given protocol, etc. This

[2020-07-05 16:34] smrgeoinfo commented on #1242
I'd argue that the only services that makes sense to include as 'first class citizens' (geospatial or not) are processing services.  I don't see the logic of cataloging a data service (view, download) separately from the data it serves.
What is an endpoint? Suggestion: an endpoint is a web location (identified by a base URL) at which one can access a particular service. That service might offer va

[2020-07-05 17:32] kcoyle commented on #868
Series v Evolution - just to give some support to this, library data recognizes series as:

"Serial: Bibliographic item issued in successive parts bearing numerical or chronological designations and intended to be continued indefinitely. Includes periodicals; newspapers; annuals (reports, yearbooks, etc.); the journals, memoirs, proceedings, transactions, etc., of societies; and numbered monograph

[2020-07-06 02:21] dr-shorthair commented on #1242
This was discussed at some length during the development of DCAT2. The key points are:

1. The simplest download service - which just gets a file from a file-system - might not merit a service description much beyond 'conforms to HTTP v1.1'. However, there is a rich spectrum beyond that. At the very least, even if the data is coming from a static datastore, there is usually a query mechanism to se

[2020-07-06 18:45] smrgeoinfo commented on #1242
@dr-shorthair I think we're in agreement.

[2020-07-07 16:46] riccardoAlbertoni commented on #1243
I think that DCAT qualified relationships pointed by @dr-shorthair work well in the case illustrated by  Eric. Of course, he might need to mint domain/case-specific roles.

If representing the workflows and their execution is a need, I would suggest reusing [OPMW-PROV](https://www.opmw.org/), which relies on PROV and OPMW.

@ericstephan:  Is that combination of vocabularies working for your case?

[2020-07-07 22:32] dr-shorthair commented on #1242
Also note this W3C note which proposes extensions to schema.org aligned with the DCAT2 model for DataService description - https://webapi-discovery.github.io/rfcs/rfc0001.html

[2020-07-08 18:38] ericstephan commented on #1243
@riccardoAlbertoni exactly, I think the existing provenance and workflow vocabularies are sufficient for describing the role of the various components.  @andrea-perego based on @riccardoAlbertoni this would provide the clarification necessary for inputs, outputs etc.

[2020-07-09 14:14] zeginis commented on #1240
We are thinkig of using this approach
[code]

Or Alternatively can we define the Database to be the Distribution?
In this case define
- `ex:Database rdfs:subClassOf dcat:Distribution` and
- ` ex:hasDatabase rdfs:subPropertyOf  dcat:distribution`

Then we can use:
[code]

[2020-07-09 19:12] smrgeoinfo commented on #1240
Another serialization option, putting the extensions in the dcat:endpointDescription, which takes a value rdfs:resource.

[code]

Should work as long as ex:accessDatabase subclasses from rdfs:Resource.  Nothing is inconsistent with DCAT

[2020-07-10 07:50] nicholascar commented on #1243
@ericstephan I suppose you know this, since you're the originator of both this enquiry and another about PROF, but just for the purposes of this thread: [The Profiles Vocabulary (PROF)](https://www.w3.org/TR/dx-prof/)'s `ResourceDescriptor` class supports a `hasRole` property and we have a vocab of `Role` instances so that a PROF `Profile` can be linked to a number of resources with roles, formats

[2020-07-10 08:42] zeginis commented on #1240
@smrgeoinfo thank you for this proposal. However, based on the previous comment by @andrea-perego I think there is a problem since in this case the Dataservice is bound to a specific table. We could add multiple `ex:tableName "THE_TABLE_NAME_XXX"` but in this case we cannot the map `dcat:Dataset` to the table name that is what we need to build some queries.

[2020-07-11 06:53] rob-metalinkage commented on #1240
Hi @zeginis -
(I am also working for the OGC in the dissemination workpackage for CYBELE, so availalable to help with any promotion (and testing ;-) ) of candidate best practices.

 in order to describe data well enough to be able to query it via a service you need at least five different things:
1) location of a service endpoint
2) description of the service API - whether it be SPARQL, OGC WFS, O

[2020-07-11 08:50] dr-shorthair commented on #1240
DCATv2 has slots for 1-5
1. the `dcat:landingPage` (human readable) and `dcat:endpointURL` (API) are separate if needed
2. `dcterms:conformsTo` shoudl indicate the API standard
3. the data schema and format/mediaType are part of the description of the payload (i.e. the `dcat:Distribution`, using `dcterms:conformsTo` and `dcterms:format` or `dcat:mediaType`)
4. the query model and details are expec

[2020-07-11 09:30] rob-metalinkage commented on #1240
@dr-shorthair  - the models for the value of conformsTo are not specified either - only an abstract type (dcterms:Standard) so for cases 2,3,4,5 the situtation is exactly the same, as out of scope for DCAT itself.

DCAT makes the relationships (available slots) canonical for cases 1- 3 - which is still a good starting point, but work will need to be done in another place to realize the use case, a

[2020-07-13 15:18] riccardoAlbertoni commented on #1243
If I am not misreading,  we have dealt with this issue.
Let's wait for the acceptance of pull #1244, and then I think we can close this issue.

@ericstephan: Am I right?

[2020-07-13 16:20] riccardoAlbertoni commented on #1240
I would expect that connecting via JDBC, a query is specified somewhere.
I am not sure where we should include this query.  It certainly depends on the kind of endpoint, and other attributes might be required to make it actionable (e.g., is the query an update or a select? I guess SQL 'select'  are the most relevant here)

The need to specify the query to apply to the endpoint specifically relates

[2020-07-14 00:24] rob-metalinkage commented on #1240
@riccardoAlbertoni - I thought long and hard about this in the context of WFS - and there seem to be a few possible patterns:

1) "traditional GIS" - download all the data (empty filter :-) ) then inspect it to work out what queries might make sense
2) "poke it with a stick" - keep trying possible queries until sensible data is returned (seems to work only the the most trivial cases where users al

[2020-07-14 08:46] zeginis commented on #1240
We are also using the 4 "dimensional characterisation" using the RDF-QB vocabulary to describe the structure of the dataset (dimensions, measures, ranges)

Regarding the relation of the dataset with a database/table we (+ @rapw3k) will finally use the following approach:

[code]
Where `ex:Database subClassOf dcat:Distribution`.
So we will model the Database as the distribution . The database has m

[2020-07-15 07:49] andrea-perego commented on #1240
@zeginis , making a database a subclass of `dcat:Distribution` have some issues.

Formally speaking, a database is a service from which a distribution is available. The approach you describe conflicts with the pattern defined in DCAT where, in such cases, the service should be pointed to from a distribution, and not described itself as a distribution. This also leads to interoperability issues.

Y

[2020-07-15 21:53] dr-shorthair commented on #1230
Going back to the original premise of this issue, I would answer NO.
That level of detail is beyond the scope of DCAT.
It might be provided in an _extension_, developed by a community with a specific interest and expertise in documenting RDBMS APIs, but not in 'core' DCAT.

My opinion of course.

[2020-07-15 23:21] rob-metalinkage commented on #1230
There is no way you can predict all the forms of Web based API that will emerge and die over the lifetime of DCAT. The appropriate response is to develop a profile of DCAT to achieve interoperability for a given API and service metadata form - and if it becomes very popular people will just use the profile to the exclusion of others.

In a project I am creating a draft DCAT-QB profile - and in pre

[2020-07-16 16:53] riccardoAlbertoni commented on #1230
I agree with @rob-metalinkage  and @dr-shorthair if we discuss describing the capability of the data service thoroughly. Though, I think the use case which has generated this issue (see #1197) was not asking that level of detail. My impression was that they wanted a quick solution to indicate a **predetermined query** (no parameters) to pose to the data services.

Before closing this discussion, I

[2020-07-16 23:28] rob-metalinkage commented on #1230
@riccardoAlbertoni - i think the problem is the assumption that a dataset has exactly one meaningful query - either its a very unusual case and perhaps not important for the wider community, or queries are very common in which case a single query is unlikely to work very well - too much interoperability loss by overloading the intention for related cases.

I could imagine a generic templated query

[2020-07-21 13:13] nfreire commented on #1230
@rob-metalinkage  - The use case that we have on our hands at Europeana, is about cultural heritage institutions that want to share a subcollection of their catalogue with Europeana.  Their whole catalogue is available in a SPARQL endpoint, but only part of it forms the collection intended for Europeana.
Cultural heritage institutions participate in several networks based on metadata aggregation,

[2020-07-21 23:45] dr-shorthair commented on #1230
1. could you add a link `dcat:accessService` from the Distribution to the Service?
2. the Service could also be classified `prov:Agent` (software-agent)

[2020-07-22 02:31] rob-metalinkage commented on #1230
@nfreire this looks like a good solution - i.e. to use other vocabularies to do the job you need.

for interoperability, you should then declare a profile of DCAT for this solution, so others can follow suit ( an  importantly declare that they are intending to be interoperable with your solution.)

as it happens I am writing a DCAT-PROV profile to support another project and was going to bring to

[2020-07-22 07:43] nfreire commented on #1230
@dr-shorthair :

Thanks, I had forgotten to add it to the diagram. It is there now.

We are using prov:Entity because prov:Agent is not in the range of prov:used. Its range is only prov:Entity and prov:Agent is not a subclass of prov:Entity.

[2020-07-22 20:54] dr-shorthair commented on #1230
`prov:Entity` and `prov:Agent` are not disjoint. There is no logical conflict in classifying something as both. Yes, if the predicate is `prov:used` then the object is a `prov:Entity` but there is no reason it is not also a `prov:Agent`.

[2020-07-23 08:54] aisaac commented on #1230
@dr-shorthair re. dcta:accessService, we're adding it to the pattern, but the people we work with may not implement it and we will not require it (i.e. only note it's recommended), because it's only a SHOULD - and it's not needed for our requirements. Is it ok?

About extra PROV types, in fact I think none of that PROV typing is required. It's completely superfluous, as the types can be infered fr

[2020-07-23 10:06] dr-shorthair commented on #1230
Understood and agreed. But I thought it was worth mentioning.

[2020-07-23 13:22] nfreire commented on #1230
@rob-metalinkage

Thanks, that sounds interesting. We cannot work on it before the last quarter of 2020, but let's maintain contact until then.

[2020-07-23 16:05] aisaac commented on #1230
@dr-shorthair thanks for the understanding. And yes I think it was relevant to mention it!

[2020-08-12 08:24] aidig opened #1246 "DCAT2.ttl: Request for minor changes"
1) Regarding the labels of properties such as dcat:dataset, dcat:distribution og dcat:catalog, it would be beneficial to prefer labels which highlight that the fact that these elements are properties and not classes by preferring labels such as “has dataset”, "has service", “has catalog” or “has distribution”. Currently, they differ only by way of capitalization. (also in normative spec)

2) Regar

[2020-09-07 14:46] riccardoAlbertoni commented on #92
@dr-shorthair: I wonder if you wanted to object to the `owl:versionInfo` usage or just provide a sort of "minor side comment" with your comment above.

owl:versionInfo is also one of the implementation examples considered in the "Data Web Best Practice 7: Provide a version indicator" https://www.w3.org/TR/dwbp/#dataVersioning.
Indeed, examples in the DWBP Rec have not normative status. Nevertheles

[2020-09-07 23:06] dr-shorthair commented on #92
Mostly a side-comment I guess. The description of `owl:versionInfo` is "The annotation property that provides version information for **an ontology** or another **OWL construct**." and I think the proposal here is to use it more generally in the context of data which often (usually) is not OWL. But it is from a trusted 'RDF vocabulary' so is preferable to minting something new.

[2020-09-12 19:24] andrea-perego opened #1248 "Wrong namespace prefix for dcat:bbox in §9.2"
<p>The first note in <a href="https://www.w3.org/TR/vocab-dcat-2/#spatial-properties">§9.2</a> uses the <code>dct:</code> prefix for <code>dcat:box</code>:</p>
<blockquote>
In the examples, for properties <code>locn:geometry</code>, <code>dct:bbox</code>, and <code>dcat:centroid</code>, the geometry is always specified with WKT.
</blockquote>
<p>It should be revised as follows:</p>
<blockquote>
In

[2020-09-14 05:56] #1248 closed, assigned to nobody

[2020-09-14 07:21] andrea-perego commented on #1248
Summary: Typo corrected via <a href="https://github.com/w3c/dxwg/pull/1249">#1249</a>. The corrections will appear in the next PWD.

[2020-09-16 12:51] riccardoAlbertoni commented on #90
DCAT 2 says: "The notion of version is very much related to the community practices. For this reason, we refrain from providing definitions or rules about when changes in a resource should turn in a new release of it."

I am in favor of keeping this line, and if no one is objecting, I think we can close this issue.

[2020-09-16 21:47] andrea-perego opened #1251 "Possible relevance of FRBR for versioning"
The DCAT subgroup has created a synoptic table for vocabularies possibly relevant to versioning:

https://github.com/w3c/dxwg/wiki/Material-for-a-SPRINT-on-Versioning#11-summary-table

We also included FRBR in that table, but our analysis is incomplete, and we would like to kindly ask WG members who are more familiar with FRBR to review it, and let us know if anything is wrong and/or missing.

[2020-09-16 23:44] dr-shorthair commented on #90
replace 'turn in' by 'become' or 'turn into' in the last line.

[2020-09-17 10:36] bertvannuffelen opened #1252 "dct:publisher is repeated twice in image"
In the image dct:publisher appears twice. As property from dcat:Resource and from dcat:Catalog.

Because dcat:Catalog is a subclass from dcat:Resource, only the association from dcat:Resource is sufficient.

Note that dct:creator only appears once.

[2020-09-17 11:32] dr-shorthair commented on #1252
The image is non-normative - as explained in the caption. Inherited associations are shown where it was judged helpful for people reviewing the model. (and anyway, 'inheritance' is a concept from OO/UML that does not really belong in OWL/RDF.)

[2020-09-17 12:18] bertvannuffelen commented on #1252
First a reaction on your comment on inheritance:

Inheritance or better the logical notion of subclass are part of OWL. cfr: owl:subclassOf.

Since here for the picture UML notation has been used and there are 2 arrow notations used in the figure, I can safely assume that the UML inheritance arrow corresponds with owl:subclassOf relation.

Unless you disagree with this interpretation, I think we c

[2020-09-17 16:00] kcoyle commented on #1251
Although not directly useful, perhaps, to this issue, I have been working on a number of uses of FRBR that are outside of the library context. There is a very short intro to this in my [blog post](http://kcoyle.blogspot.com/2019/01/frbr-without-fr-or-br.html). I could look at the DCAT use with that eye, which means extrapolating the semantics of WEMI but super-classed to the library semantics, and

[2020-09-17 19:51] andrea-perego commented on #1251
Thanks, @kcoyle .

The versioning aspects in the table are not scoped to a specific type of resource. Basically, what we did so far was to review existing vocabularies, and find out properties / classes that may be related to versioning - irrespective of the type of resource they apply to.

About FRBR, the terms I found out which might be relevant concern the notions of "translation", "alternate",

[2020-09-17 20:34] andrea-perego opened #1253 "Scope of spatial and temporal properties"
In DCAT2, spatial and temporal properties are specified only for `dcat:Dataset` and `dcat:Distribution`. They can however be relevant also for other classes, as `dcat:Catalog` and `dcat:DataService`. Actually, metadata of geospatial services (ISO 19119) do include them, and DCAT2 provides also an example of the use of `dct:spatial` with a service in §C.4:

https://www.w3.org/TR/vocab-dcat-2/#ex-se

[2020-09-17 22:04] kcoyle commented on #1251
Andrea, many of the relationships in FRBR express some type of "version." The problem with the FRBR properties is that they are all clearly defined as to domain and range, which means that they pertain to entities that have been defined as one of the FRBR WEMI classes, and the classes are defined as disjoint. Thus, "translation" has a domain of frbr:Expression and a range of frbr:Expression
![Scre

[2020-09-18 00:29] dr-shorthair commented on #1251
I'd be inclined to look at the FRBR conceptual model primarily for guidance, and not necessarily expect to use the implementation in the namespace http://purl.org/vocab/frbr/core#

[2020-09-18 07:20] andrea-perego commented on #1251
Thanks, @kcoyle . This would be very helpful.

[2020-09-18 10:54] riccardoAlbertoni commented on #1253
+1 to move these properties from dcat:Dataset to dcat:Resource.

[2020-09-18 14:19] kcoyle commented on #1251
The bibliographic version types found in FRBR (and elsewhere in bibliographic metadata), by type:

**note: modified description of successor**

1. versions that *replace*: has revision, is revision of (modified contents)
2. versions that are time-based (may or may not replace) successor to; has successor;
2. derived versions that are in addition to but do not replace: summary of (a reduction); ada

[2020-09-18 23:33] andrea-perego commented on #1251
Thanks a lot, @kcoyle . I think we should use this classification in DCAT to clarify the possible different version types, and the corresponding properties. IMO, it would be beneficial to guide users in understanding which of them are applicable to their use cases.

I started revising the table in the wiki accordingly, realising I misplaced some of the properties.

I have another question: I saw t

[2020-09-19 17:22] kcoyle commented on #1251
@andrea-perego Arrangement is specific to music, and reconfiguration is specific to serials. Arrangement is a kind of 3 but only for music; reconfiguration has to do with how paper serials are bound for storage, so I think you can ignore that one.

[2020-09-19 21:51] andrea-perego commented on #1251
@agreiner 's reply in https://lists.w3.org/Archives/Public/public-dxwg-wg/2020Sep/0037.html:

@kcoyle 's reply in https://lists.w3.org/Archives/Public/public-dxwg-wg/2020Sep/0038.html:

[2020-09-21 06:23] bertvannuffelen opened #1255 "Definition expressed machine readible"
The definition of Dataset

expresses a cardinality constraint between Dataset and Agent.
Is that cardinality constraint somewhere machine readable expressed? (e.g. as OWL or SHACL)

Or is it left to the implementers to determine on which property the constraint is imposed?

[2020-09-21 08:23] dr-shorthair commented on #1255
We did not use much OWL axiomatization. That was a deliberate choice, since there are many usage patterns.

SHACL was only in its infancy when we started in DCATv2 so it was not one of the planned deliverables.
However, for the same reason I think we would be reluctant to add much in the way of cardinality constraints.

It is highly likely that specific community implementations would want to tigh

[2020-09-21 09:25] bertvannuffelen commented on #1255
I understand.

Now I become philosophical: it is interesting to see that there is a very strict statement in the human readable definition, but that this cannot be translated in a machine readable form without the feeling that it would constrain the usage of the term more than the human readable definition is intends.

It seems that we encounter here in a knowledge representation challenge: we agr

[2020-09-21 16:28] kcoyle commented on #1255
The word "generally" inserted in that sentence can resolve the question.

In the Dublin Core community we have learned to prefer that vocabulary definitions, especially of vocabularies that are likely to be re-used in various contexts, should adhere to the "minimal semantic commitment" principle so that application profiles that utilize those vocabulary terms can apply their own constraints withou

[2020-09-21 19:03] andrea-perego commented on #91
@riccardoAlbertoni said:

I think it should be `dct:issued`. `dct:created` refers to the creation date (which does not necessarily correspond to the date when a resource is published).

[2020-09-21 20:50] andrea-perego commented on #1251
Thanks, @kcoyle .

Coming back to the 3 version types, I wonder whether, in the context of DCAT (and, therefore, in catalogues and registries), versioning would better be limited to types 1 & 2, whereas type 3 would rather correspond to the notion of derivative work - and so it should be addressed differently from versioning in DCAT (and we have already some example for this in the spec).

[2020-09-22 06:37] aidig commented on #1255
Great discussion! It would be fantastic if there was a greater alignment between the human readable definitions and the formal machine readable expressions. It would force knowledge engineers to consider the potential of resuse of a new element and not to add restrictions unless deemed necessary for it interpretation - but also the opposite, that is, making sure that the defining characteristics a

[2020-09-22 14:20] kcoyle commented on #1251
@andrea-perego You might have seen that in FRBR none of these are called "versions" - they are relationships between different "things" in that bibliographic universe. I think that the term "version" is quite vague and easily misunderstood. Perhaps the best exercise would be to look at the kinds of relationships that exist in the areas where DCAT is used, and from those form a (informal) taxonomy

[2020-09-22 14:37] kcoyle commented on #1251
This is a bit far afield of what I think DCAT versioning is intended to be, but it is an example of defining derivative relationships between datasets. The citation is:

McCusker, J. P., Lebo, T., Chang, C., McGuinness, D. L., & da Silva, P. P. (2012). Parallel identities for managing open government data. IEEE Intelligent Systems, 27(3), 55. http://tw.rpi.edu/media/2012/02/07/d641/EX_ISSI-2011-09

[2020-09-23 13:39] riccardoAlbertoni opened #1258 "Backward (in)compatibility among versions."
Whether or not a new version of the resource is backward compatible with the previous version might be relevant in concrete applications.

<code>owl:backwardCompatibleWith</code> / <code>owl:incompatibleWith</code>  can specify (in)compatibility among ontologies, but  [Section 3.5 in  OWL 2 specification](https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Ontology_Annotations) discourages their

[2020-09-25 10:52] riccardoAlbertoni commented on #90
I'm closing this issue as DCAT 2 already registered a shared view, saying:
"The notion of version is very much related to the community practices. For this reason, we refrain from providing definitions or rules about when changes in a resource should turn into a new release of it."

[2020-09-25 10:52] #90 closed, assigned to nobody

[2020-09-29 05:37] dr-shorthair commented on #1251
Indeed. The RDA study is fundamentally undermined by conflating many relationships into 'version'.

[2020-10-01 14:17] riccardoAlbertoni commented on #1251
@dr-shorthair: Are you suggesting to take a look at the following document or are there other sources I might have overlooked?

Klump, J., Wyborn, L., Downs, R., Asmi, A., Wu, M., Ryder, G., & Martin, J. (2020). Principles and best practices in data versioning for all data sets big and small. Version 1.1. Research Data Alliance. DOI: [10.15497/RDA00042](https://doi.org/10.15497/RDA00042)

[2020-10-02 01:48] dr-shorthair commented on #1251
Yes - that's the one. It has also been converted into an article submitted to DSJ (which I did a review for). But the essence comes from the RDA study.

[2020-10-02 16:24] kcoyle commented on #1251
I had hopes for their analysis when they went with "Revision, Release, Granularity..." but I think they lost the thread somewhere along the way, mixing versions with things like Manifestation and Provenance. That's too bad. There was potential.

[2020-10-14 21:13] #1243 closed, assigned to nobody

[2020-10-16 20:59] andrea-perego commented on #1251
Following this discussion thread, I have prepared with @riccardoAlbertoni an extended draft of the "Versioning" section:

https://w3c.github.io/dxwg/dcat/#dataset-versions

Although this draft does not address some of the last comments - in particular, @kcoyle 's and @dr-shorthair 's points on the risk of conflating into the notion of "version" different relationship types - the DCAT subgroup has

[2020-10-19 11:20] andrea-perego commented on #868
Discussion on this topic is also going on in the framework of DCAT-AP.

The following posts provide a survey on how dataset series (and versions) are dealt with in DCAT-AP extensions:

https://github.com/SEMICeu/DCAT-AP/issues/155#issuecomment-670503623

https://github.com/SEMICeu/DCAT-AP/issues/155#issuecomment-711944145

[2020-10-21 10:54] riccardoAlbertoni commented on #868
I have prepared a wiki page with a starting example depicting dataset time series. Do not hesitate to complete the page with other alternative examples and integrate the page  If I have overlooked any of the above discussion's key points. I hope that having common examples to reason upon might help to stabilize a solution in the next DCAT call.
see  https://github.com/w3c/dxwg/wiki/Examples-on-dat

[2020-10-23 18:57] andrea-perego commented on #868
Thanks, @riccardoAlbertoni .

I've added some examples, and made a few editorial changes.

[2020-10-23 19:10] andrea-perego commented on #806
@jakubklimek , as mentioned in https://github.com/w3c/dxwg/issues/868#issuecomment-713485006 , we have prepared a wiki page to collect examples of dataset series:

https://github.com/w3c/dxwg/wiki/Examples-on-dataset-series

Could you please check if the examples cover your use cases, and let us know if there's something different / missing?

Also, would you mind elaborating your first use case (i

[2020-10-25 00:37] andrea-perego commented on #1205
@dr-shorthair said:

I concur. However, I think we should drop the indication of the domain in the spec, to avoid any misunderstanding.

[2020-10-25 08:38] andrea-perego commented on #1205
Done via PR https://github.com/w3c/dxwg/pull/1260 . Also removed range.

Waiting for DCAT editors review.

@jakubklimek , does this address the issue?

[2020-10-25 08:47] andrea-perego commented on #1216
As the repo has been eventually split. I think we can close this issue.

Any objections?

[2020-10-25 09:09] akuckartz commented on #1206
Is there any feedback from IANA ?

[2020-10-25 09:38] andrea-perego commented on #1206
As we are moving to FPWD for DCAT3, fix this inconsistency should be fixed. Based on the discussion it seems that the preference leans towards the use of the `http:` URI scheme.

I created a PR implementing this revision: https://github.com/w3c/dxwg/pull/1261

[2020-10-25 09:41] andrea-perego commented on #1206
@akuckartz said:

Not to my knowledge.

Anyway, as I said in my previous comment, this inconsistency needs fixing. In case we get feedback from IANA, or the group eventually decides to go for `https:`, we can implement the corresponding revision in a future WD.

[2020-10-25 21:45] andrea-perego commented on #1225
@rob-metalinkage , can we close this issue, or you would like to re-launch it to collect additional feedback?

[2020-10-25 21:57] andrea-perego commented on #1213
As far as I was able to see, the changes done in the current version of DCTERMS have no particular impact on DCAT.

For our records, I include below the changelog available at

<blockquote>
<ul>
<li>Release: 2020-01-20 (<a href="/specifications/dublin-core/dcmi-terms/">Current Version</a>)
<ul>
<li>Definitions of properties and classes in the <code>/terms/</code> namespace follow <a href="https://

[2020-10-25 22:06] riccardoAlbertoni commented on #1213
+1 from me

[2020-10-26 01:39] rob-metalinkage commented on #1225
@andrea-perego - I guess the original issue can be closed - thanks to your very useful info. Pity no others have seemed to think about the issue. Looking at the examples you cite its very clear there is critically important semantics in the usage notes of the profiles.  I guess the default position is therefore DCAT doesnt specify what dcterms:conformsTo actually relates to - its up to profiles of

[2020-10-26 05:55] jakubklimek commented on #806
@andrea-perego regarding addresses in the Czech Republic - they are split for practical reasons, mainly the size of the resulting distributions - the publisher is not comfortable with serving multi-GB files over HTTP.

This use case is currently covered by what is in the wiki. I.e. the addresses are covered by the spatial (individual towns).

I can see other types of series as well (and I do not h

[2020-10-26 06:12] jakubklimek commented on #1205
@andrea-perego The PR solves the domain/range and side-effects issue.

What remains to be solved is the relation of usage notes in [dcat:relation](https://w3c.github.io/dxwg/dcat/#Property:resource_relation) and [dcat:QualifiedRelation](https://w3c.github.io/dxwg/dcat/#Property:resource_qualified_relation) to the solution to Dataset Series #806 .

[2020-10-26 06:29] jakubklimek commented on #1225
I came across the same problem when implementing DCAT-AP 2.0.1 in Czechia, specifically I came across `dct:conformsTo` on `dcat:DataService`.

In the [usage note](https://w3c.github.io/dxwg/dcat/#Property:data_service_endpoint_description) of `dcat:endpointDescription` there is a list of possible types of services that can be described, specifically:
- OpenAPI (Swagger)
- SPARQL
- WMS, WFS
- WSDL

[2020-10-27 23:13] andrea-perego commented on #806
Thanks, @jakubklimek . We'll look into your proposal.

About this point:

would you mind creating a separate issue, describing your use case?

[2020-10-28 22:30] #1206 closed, assigned to nobody

[2020-10-28 23:12] andrea-perego commented on #1213
Closing issue.

[2020-10-28 23:12] #1213 closed, assigned to nobody

[2020-10-28 23:16] andrea-perego commented on #1238
Aspects related to resource life-cycle are now addressed by the ED, as part of the section on versioning:

https://w3c.github.io/dxwg/dcat/#life-cycle

[2020-10-28 23:17] andrea-perego commented on #1128
There has not been any further discussion on this topic.

I propose to close it.

[2020-10-28 23:26] andrea-perego commented on #1225
Thanks, @rob-metalinkage & @jakubklimek .

I think that we should then keep this issue open.

Defining a URI registry for `dct:conformsTo` is out of scope of DCAT and of the DXWG's mandate. However, it might be possible to provide guidance for at least a subset of the specifications that `dct:conformTo` may point to. The WG needs to discuss about this.

Meanwhile, my personal feedback.

We actuall

[2020-10-28 23:33] andrea-perego commented on #314
There has not been further discussion on this issue.

I propose to close it.

[2020-10-28 23:33] andrea-perego commented on #72
There has not been further discussion on this issue.

I propose to close it.

[2020-10-28 23:45] andrea-perego commented on #1223
@plehegar , I wonder whether there's any update on this issue.

The SpecRef API is returning inconsistent entries when using the `vocab-dcat` keyword - title and editors are the ones of the 2014 version of DCAT, but the date is 4 Feb 2020.

See: https://api.specref.org/bibrefs?refs=vocab-dcat

[code]

[2020-10-28 23:46] andrea-perego commented on #1216
Closing.

[2020-10-28 23:46] #1216 closed, assigned to nobody

[2020-10-28 23:54] andrea-perego commented on #223
I think this issue has been addressed by the definition of a new class `dcat:Resource`, that can be used as an extension point for resource types different from `dcat:Dataset` and `dcat:DataService`.

Seeing also that there has been no further discussion on this issue, I propose to close it.

[2020-10-28 23:55] andrea-perego commented on #238
As there has been no further discussion on this issue, I propose to close it.

[2020-10-28 23:56] andrea-perego commented on #70
As there has been no further discussion on this issue, I propose to close it.

[2020-10-28 23:57] andrea-perego commented on #71
As there has been no further discussion on this issue, I propose to close it.

[2020-10-28 23:57] andrea-perego commented on #60
As there has been no further discussion on this issue, I propose to close it.

[2020-10-28 23:58] andrea-perego commented on #69
As there has been no further discussion on this issue, I propose to close it.

[2020-10-28 23:59] andrea-perego commented on #76
As there has been no further discussion on this issue, I propose to close it.

[2020-10-29 00:00] andrea-perego commented on #78
As there has been no further discussion on this issue, I propose to close it.

[2020-10-29 00:01] andrea-perego commented on #87
As there has been no further discussion on this issue, I propose to close it.

[2020-10-29 06:48] jakubklimek opened #1263 "Add support for spatial resolution specification via skos:ConceptScheme"
What is missing for me, is the ability to specify spatial resolution using a concept scheme instead of a number of meters. E.g. I cannot specify that the resolution (in the case of addresses) is to the level of districts, towns, regions, states, etc.

It might be that the term "spatial resolution" does not fit here exactly, in the light of the current spatial resolution coming from the GIS communi

[2020-10-29 06:49] jakubklimek commented on #806
@andrea-perego I created #1263 .

[2020-10-29 08:47] andrea-perego commented on #806
Thanks, @jakubklimek .

[2020-10-29 13:33] fanieli commented on #72
Hi all,

I have stepped down for the dxwg, so think it is best for you to decide.

Thanks
ixchel

From: Andrea Perego <notifications@github.com>
Sent: Wednesday, October 28, 2020 7:34 PM
To: w3c/dxwg <dxwg@noreply.github.com>
Cc: Faniel,Ixchel <fanielI@oclc.org>; Assign <assign@noreply.github.com>
Subject: Re: [w3c/dxwg] Profile definition [RPFDF] (#72)

There has not been further discussion on th

[2020-10-29 17:56] andrea-perego commented on #130
This issue was addressed by #110 and linked issues.

I propose to close it.

[2020-10-29 20:12] andrea-perego opened #1266 "Revisiting use cases for spatial resolution"
DCAT2 has defined a property `dcat:spatialResolutionInMeters` that can be used to express (as the property name says) spatial resolution as distance in metres.

There are however other "types" of spatial resolution, which cannot be expressed with this property, so the question is whether (at least some of) these other types should be supported in DCAT.

One is the use case reported in https://gith

[2020-10-29 20:16] andrea-perego commented on #84
I created a new issue to work on the discussion points still open:

https://github.com/w3c/dxwg/issues/1266

Closing this one.

[2020-10-29 20:16] #84 closed, assigned to nobody

[2020-10-30 07:55] jakubklimek commented on #1225
@andrea-perego What is the reason behind having `https://www.w3.org/TR/sparql11-protocol` for SPARQL in the list instead of `https://www.w3.org/TR/sparql11-protocol/`, i.e. without the slash? Is it a bug, or is there a rationale behind this?

[2020-10-30 17:00] andrea-perego commented on #1225
@jakubklimek said:

The reason is that the trailing slash is missing from the OSGeo's URI list (which, as I said, is re-used and extended in DCAT-AP-JRC):

https://github.com/OSGeo/Cat-Interop/blob/master/LinkPropertyLookupTable.csv

I don't know if there was any specific decision about this in OSGeo.

[2020-11-01 23:04] rob-metalinkage commented on #1225
Good to see this being looked at..  its a significant practical issue.

I have sympathy for the view that given the adopted charter DXWG scope is limited to DCAT, not resolving data exchange interoperability architecture concerns, (in spite of the name :-) ).  There are multiple separate architectural concerns here IMHO:
1) the domain of dct:conformsTo and how to make statements about the service

[2020-11-03 15:24] riccardoAlbertoni commented on #174
A Danish translation has been proposed via #1264

[2020-11-03 16:37] riccardoAlbertoni commented on #766
+1 to close this

[2020-11-03 16:38] andrea-perego commented on #766
Closing.

[2020-11-03 16:38] #766 closed, assigned to nobody

[2020-11-03 18:30] riccardoAlbertoni commented on #223
+1 to close it

[2020-11-03 18:35] riccardoAlbertoni commented on #62
+1 to close this.

[2020-11-03 21:03] andrea-perego commented on #223
Closing.

[2020-11-03 21:03] #223 closed, assigned to nobody

[2020-11-03 21:04] andrea-perego commented on #62
Closing.

[2020-11-03 21:04] #62 closed, assigned to nobody

[2020-11-04 10:57] #806 closed, assigned to nobody

[2020-11-04 10:57] #1205 closed, assigned to nobody

[2020-11-05 17:55] riccardoAlbertoni commented on #868
This issue was automatically closed by the last PR merge.
We need this open, as we want to collect feedback on this issue with the next FPWD.
Am I right @andrea-perego?

[2020-11-05 19:30] agbeltran commented on #868
should this issue also be referenced in the Editors' note stating "The creation of a specific class for dataset series is under discussion." or should we rather open an specific issue for that discussion?

[2020-11-05 20:11] riccardoAlbertoni commented on #868
I would suggest creating a new GitHub Issue, in which we can reprise the discussion quoting the views already expressed in the existing GitHub issue.

[2020-11-05 21:13] andrea-perego commented on #868
@riccardoAlbertoni said:

I'm actually more in favour of closing this one, and creating a new issue once feedback will be submitted.

[2020-11-09 14:39] riccardoAlbertoni commented on #868
In that case, should we get rid of the issue mentioned in the FWPD? or we plan to leave the mention of closed issues to provide context?

[2020-11-09 15:33] andrea-perego commented on #868
I suggest we decide about this during our next call.

[2020-11-11 21:51] #91 closed, assigned to nobody

[2020-11-11 21:53] #1238 closed, assigned to nobody

[2020-11-11 22:05] #92 closed, assigned to nobody

[2020-11-11 22:46] riccardoAlbertoni opened #1271 "Including more machine-actionable Version Delta?"
Besides the human-readable descriptions of the changes, we might want to discuss suggestions on also considering more machine-friendly references.

[2020-11-11 22:47] nicholascar commented on #91
Correct! I've not been following this closely - only saw the issue close notice - but I hope the sense of this last comment was adhered to.

[2020-11-11 22:52] #89 closed, assigned to nobody

[2020-11-11 22:57] andrea-perego commented on #1251
Closing this issue, as decided in the [11 Nov 2020 DCAT call](https://www.w3.org/2020/11/11-dxwgdcat-minutes#r08) and following the extension of the versioning section in the ED - see https://github.com/w3c/dxwg/issues/1251#issuecomment-710625680.

New issues should be created for further discussion on this topic.

[2020-11-11 22:57] #1251 closed, assigned to nobody

[2020-11-11 23:02] andrea-perego commented on #89
Issue closed as decided in the [11 Nov 2020 DCAT call](https://www.w3.org/2020/11/11-dxwgdcat-minutes#r09) and following the extension of the versioning section in the ED - in particular, see [§10.2 Version information](https://w3c.github.io/dxwg/dcat/#version-info).

A new issue has been created, concerning the specification of machine-actionable version deltas - see https://github.com/w3c/dxwg/i

[2020-11-11 23:03] andrea-perego commented on #1238
Issue closed as decided in the [11 Nov 2020 DCAT call](https://www.w3.org/2020/11/11-dxwgdcat-minutes#r09) and following the extension of the versioning section in the ED - in particular, see https://github.com/w3c/dxwg/issues/1238#issuecomment-718261919.

New issues should be created for further discussion on this topic.

[2020-11-11 23:07] riccardoAlbertoni opened #1272 "A separate class for DatasetSeries (?)"
Do we need a separate class for DatasetSeries?
Below some leftover of the discussion in issue #868

_Originally posted by @smrgeoinfo in https://github.com/w3c/dxwg/issues/868#issuecomment-518337457_

Richer treatment of relations between resources (esp. datasets) is one of the features that has been added in DCAT2, so we have the platform already.
https://www.w3.org/TR/vocab-dcat-2/#qualified-rel

[2020-11-11 23:09] andrea-perego commented on #91
Thanks, @nicholascar . It is - see last paragraph in [§10.2 Version information](https://w3c.github.io/dxwg/dcat/#version-info).

[2020-11-11 23:09] andrea-perego commented on #91
Issue closed as decided in the [11 Nov 2020 DCAT call](https://www.w3.org/2020/11/11-dxwgdcat-minutes#r06) and following the extension of the versioning section in the ED - in particular, see [§10.2 Version information](https://w3c.github.io/dxwg/dcat/#version-info).

New issues should be created for further discussion on this topic.

[2020-11-11 23:10] riccardoAlbertoni commented on #868
A section about the Dataset series is included in the DCAT FPWD.

[2020-11-11 23:10] #868 closed, assigned to dr-shorthair, nicholascar, makxdekkers, andrea-perego, davebrowning

[2020-11-11 23:17] andrea-perego commented on #92
Issue closed as decided in the [11 Nov 2020 DCAT call](https://www.w3.org/2020/11/11-dxwgdcat-minutes#r07) and following the extension of the versioning section in the ED - in particular, see [§10.2 Version information](https://w3c.github.io/dxwg/dcat/#version-info).

New issues should be created for further discussion on this topic.

[2020-11-11 23:28] andrea-perego commented on #82
DCAT2 includes an example on how to specify the reference system by using property `dct:conformsTo`:

https://www.w3.org/TR/vocab-dcat-2/#ex-dataset-crs

I propose to close this issue.

[2020-11-12 00:41] riccardoAlbertoni opened #1273 "Dataset series and inheritance"
Should we guide inheritance for other annotation properties in the dataset series?

[2020-11-12 01:48] agreiner opened #1275 "Notes on reviewing DCAT FPWD"
There is some interesting reading about possible uses of the term "version". I think it would be helpful to go a step further and clarify what our own definition of the term is. Moreover, I'm surprised, given the requirement to add support for versioning, that we do not seem to be ready to add a version term of our own. It's true that one can interpret the word to mean a handful of different thing

[2020-11-12 19:40] andrea-perego commented on #1275
Thanks, @agreiner . This is very helpful to move a step forward the revision and consolidation of the versioning approach proposed in [the current draft](https://w3c.github.io/dxwg/dcat/#dataset-versions).

I'm going to create specific issues for the points you are raising. I'm not sure we will be able to address them before the FPWD for DCAT3, but anyway we can already kick-start the discussion a

[2020-11-12 19:42] andrea-perego opened #1277 "Should DCAT adopt of specific definition of versioning?"
<p>DCAT does not take a position on what should be considered as a version, recognising that versioning is used and implemented differently across communities, domains, and platforms.</p>

<p>However, it is to be verified whether <a href="https://w3c.github.io/dxwg/dcat/#dataset-versions">the current guidelines </a> are useful enough for implementors, and to facilitate interoperability, or, rather

[2020-11-12 19:46] andrea-perego commented on #1277
@agreiner review in https://github.com/w3c/dxwg/issues/1275 provides a number of key discussion points.

Quoting:

And specifically about the first point:

[2020-11-12 19:46] andrea-perego opened #1278 "Should DCAT also cover software assets?"
We received some feedback on this topic - e.g.:
- https://github.com/w3c/dxwg/issues/1221
- https://lists.w3.org/Archives/Public/public-dxwg-wg/2020Oct/0086.html
- https://github.com/w3c/dxwg/issues/1275

Should we revisit the decision of providing native support in DCAT to other resource types besides data, catalogues, and data services?

[2020-11-12 19:46] andrea-perego commented on #1258
@agreiner said in https://github.com/w3c/dxwg/issues/1275 :

[2020-11-12 20:13] agreiner commented on #1275
I think it would be good to request feedback on the first point in the FPWD in particular. As of my reading, the text didn't make it clear to me that the proposed path forward was not to add explicit support for versions, since the draft contains references to the related requirements, and readers may well assume we do plan to add terms for them.

[2020-11-12 20:25] agreiner commented on #1258
The reason that I say backward compatibility isn't helpful for datasets is that it's pretty near impossible to predict what features of a dataset are being relied upon by any given usage. So if one were to come upon a revised dataset that claimed to be compatible with its previous versions, one would have to determine exactly what had changed to decide whether or not to believe it was indeed compa

[2020-11-12 21:50] andrea-perego commented on #1275
Indeed, @agreiner .

A reference to the relevant issue (https://github.com/w3c/dxwg/issues/1277) will be included in the FPWD - see PR https://github.com/w3c/dxwg/pull/1279

[2020-11-12 21:53] andrea-perego commented on #1275
@agreiner , about this point:

Could you please elaborate?

Currently, the versioning section recommends using `owl:versionInfo` to specify the resource identifier. Do you see any issue in re-using this property?

[2020-11-12 22:05] andrea-perego commented on #1258
@agreiner , about the changelog, there's a specific property  currently recommended in [the draft](https://w3c.github.io/dxwg/dcat/#version-info) - `adms:versionNotes` - for a free-text description of the version "delta", whereas an issue has been opened  for machine-actionable descriptions (diffs, etc.) - see https://github.com/w3c/dxwg/issues/1271

A possible revision we can then do is elaborati

[2020-11-12 22:27] andrea-perego commented on #1271
Relevant comments from https://github.com/w3c/dxwg/issues/89:

_Originally posted by @nicholascar in https://github.com/w3c/dxwg/issues/89#issuecomment-368896015_

An example where the textual approach works better would be where a publisher has changed coverage in some way, but the rest stays the same.  [This is fairly common practice with financial data - I may have a dataset that claims to cove

[2020-11-13 00:14] riccardoAlbertoni commented on #1275
Just providing more context to the discussion.
We provide an alignment between schema.org and DCAT, see [appendix B](https://rawgit.com/w3c/dxwg/dcat-adjustingReferenceToIssues/dcat/index.html#dcat-sdo) in the current FPWD. The alignment was already included in DCAT 2.

I wonder if we want to keep the same line and add a new line in the mapping for the correspondence between `owl:versionInfo` and

[2020-11-13 00:20] agreiner commented on #1275
Yes, I think owl:versionInfo is meant to describe versions of ontology terms and constructs specifically.

[2020-11-13 15:34] riccardoAlbertoni commented on #1275
@agreiner wrote:

Yes, it is mainly for ontology terms, but using it for datasets is a common practice.
For example, owl:versionInfo is one of the implementation examples considered in the "Data Web Best Practice 7: Provide a version indicator" https://www.w3.org/TR/dwbp/#dataVersioning. Examples in the DWBP Rec have not normative status. Nevertheless, they should still suggest proper ways to impl

[2020-11-14 00:12] agreiner commented on #1275
I think both those examples would have happily preferred a dcat:version had it been available, and neither was in a position to mint their own, so it's not surprising that they would use what was available, whether or not it was a strong choice.

[2020-11-14 07:51] andrea-perego opened #1280 "Should DCAT define a property for version identifiers?"
DCAT currently recommends the use of `owl:versionInfo` for specifying version identifiers.

It is to be decided whether a more specific property is needed, which may be possibly defined in the DCAT namespace.

NB: The discussion that led to the adoption of `owl:versionInfo`  is documented in https://github.com/w3c/dxwg/issues/92

[2020-11-14 07:53] andrea-perego commented on #1280
Original thread started in https://github.com/w3c/dxwg/issues/1275 , following feedback reported in  https://lists.w3.org/Archives/Public/public-dxwg-wg/2020Oct/0086.html

Copying below the comments submitted so far:

@agreiner - https://github.com/w3c/dxwg/issues/1275#issue-741202772

@andrea-perego - https://github.com/w3c/dxwg/issues/1275#issuecomment-726363227

@riccardoAlbertoni - https://git

[2020-11-14 07:53] andrea-perego commented on #1275
I created a new issue on this topic: https://github.com/w3c/dxwg/issues/1280

I suggest we move all discussion there.

[2020-11-14 07:58] andrea-perego commented on #1280
@riccardoAlbertoni said:

Just to add that `owl:versionInfo` is also used in DCAT-AP, and all the related profiles and extensions.

[2020-11-14 08:03] andrea-perego commented on #1280
@agreiner said:

I don't recall the DWBP rationale behind the decision of using `owl:versionInfo` in examples, but for ADMS the adoption of this property was based on the principle of re-using existing terms, when available. A specific term could have been defined in the ADMS namespace if deemed necessary, as it was done with `adms:versionNotes`.

[2020-11-15 13:19] andrea-perego commented on #1280
I forgot to mention that also DISCO is using `owl:versionInfo`:

https://rdf-vocabulary.ddialliance.org/discovery.html#versioning-information

[2020-11-15 17:18] aisaac commented on #314
+1 for closing. Especially I would add that the starting point of the issue doesn't apply anymore. As hinted in earlier discussions, now DCMI doesn't mandate a formal range of `rdfs:Class` for `dcterms:type`: https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/type

[2020-11-15 17:21] aisaac commented on #69
Why not just removing the DCAT tag from it, considering that it may be relevant for the other work (if we come back to it)?

[2020-11-15 17:36] aisaac commented on #72
As for other requirements I'm a bit lukewarm to close them for good as they are relevant for other areas of work. It could well be as efficient to untag DCAT from it. But well considering the fact that other areas of work may not be active anymore and that the splitting of github repos create quite some confusion on the fate of these 'shared' requirements, I'm not going to push to hard for keeping

[2020-11-15 19:24] andrea-perego commented on #314
Thanks, @aisaac . Closing.

[2020-11-15 19:24] #314 closed, assigned to nobody

[2020-11-15 19:25] andrea-perego commented on #69
Done.

[2020-11-15 19:27] andrea-perego commented on #72
Thanks, @aisaac . We'll try to see if we can address it in the 2PWD for DCAT3.

[2020-11-15 22:10] rob-metalinkage commented on #72
The requirements were captured as part of the UCR exercise - DCAT is profiled in practice so its certainly a useful thing for DCAT to define or reference a definition for what constitutes a profile of DCAT and what a user can therefore expect. Other areas of work (eg. PROF) are no longer using issues in this repo - active issues have been transferred and this repo is just historical background - s

[2020-11-16 08:47] makxdekkers commented on #1280
As far as I am concerned, the use of `owl:versionInfo` is both common usage (ADMS, DCAT, DISCO) as well as suggested best practice (DWBP), so I don't see why there is a need to create a property in DCAT that does exactly the same thing. To me, if feels like finding a solution where there is no (practical) problem.
My perspective is always: don't change things unless there is a serious problem, lik

[2020-11-16 21:30] aisaac commented on #72
@rob-metalinkage ok fair enough. If this issue has been copied in the PROF repo then clearly we can ignore it. And @andrea-perego I was really not asking for DCAT to "address it", merely suggesting to untag it so that (precisely) DCAT wouldn't be bothered by it now :-)

[2020-11-16 22:05] andrea-perego commented on #72
Fine, @aisaac . Just untagged.

[2020-11-17 17:56] agreiner commented on #1280
HCLS uses pav:version, so not everyone agrees on owl:version-info. From looking at the use case (one of only three we have, where the third is a special case of the first one, so in a way this is half our requirements), "Being able to publish dataset version information in a standard way will help both producers publishing their data on data catalogues or archiving data and dataset consumers who w

[2020-11-18 22:32] agbeltran commented on #1280
Related to [```pav:version```](https://pav-ontology.github.io/pav/#d4e869), we should consider that [PAV](https://pav-ontology.github.io/pav/) (the Provenance, Authoring and Versioning vocabulary) is not a W3C recommendation.

The notes on [```owl:versionInfo```](https://www.w3.org/TR/owl-ref/#versionInfo-def) indicate that <em>"Although this property is typically used to make statements about ont

[2020-11-18 22:37] agreiner commented on #1280
Thanks, Alejandra. I think we need to do more than just recommending. With this clarification, owl:versionInfo seems like a reasonable choice. I think what people are hoping for is an agreement to use one particular term as part of DCAT, not just a statement that there are many options and we like one of them.
-Annette

[2020-11-19 07:14] dr-shorthair commented on #1280
The RDF OWA means that we can't actually force anyone to do anything.
But I agree with @agreiner that we should make a recommendation wherever possible.
At the very least we need to provide worked examples showing the preferred approach for people to emulate.

Around 15 years ago I was involved in developing the Geography Markup Language. (Actually several versions between 2001 and 2007). We hedge

[2020-11-19 11:38] riccardoAlbertoni commented on #1280
@dr-shorthair:
I don't see any problem in recommending `owl:versionInfo` in the normative part under the class `dcat:Resource`, we can borrow terms from well-established vocabularies, similarly to what we did for dct, prov, odrl terms. If we haven't yet included the new terms in the normative part, it is mainly because we want to hear comments to consolidate the direction before embarking on a maj

[2020-11-19 15:17] agbeltran commented on #1280
I agree with @agreiner and @dr-shorthair's comments that we need to make a recommendation of specific terms and provide examples. As @riccardoAlbertoni hinted to, I think that is the intention for DCAT3, while for this FPWD we want to hear comments about the approach and properties chosen.

[2020-11-26 16:39] stain commented on #1280
`owl:versionInfo` is perfectly fine for versioning an ontology itself. PAV author here, in http://pav-ontology.github.io/pav/pav.rdf we even use that rather than "eat our own dog food" (as it would take it into OWL Full or pollute with OWL annotation properties):

[code]

But for tracking versions of datasets then `owl:versionInfo` `owl:priorVersion` etc becomes cumbersome as it implies you are ma

[2020-12-11 11:16] pwin opened #1284 "PROF - correctness of RDF serialisation in Example 3"
EXAMPLE 3: Demonstrating conformance via the vocabulary's dct:conformsTo/prof:isProfileOf property chain.
# Profile X, is a profile of Specification Y
<http://example.org/profile/x> a prof:Profile ;
      prof:isProfileOf <http://example.org/specification/y>
      dct:title "Profile X" .

missing ";" at the end of the penultimate line

[2020-12-14 18:46] plehegar opened #1285 "Example 47 seems to be missing relation links"
Example 47 seems to be incorrect, missing links such as in dct:conformsTo or dcat:landingPage.
[[
:d33937.owl
  a dcat:Dataset ;
  dct:conformsTo  ;
  dct:description "This is an RDF/OWL representation of the GeoSciML Geologic Timescale model ..."@en ;
  dct:identifier "http://resource.geosciml.org/ontology/timescale/gts" ;
  dct:issued "2011-01-01"^^xsd:date ;
  dct:modified "2020-05-31"^^xsd:dat

[2020-12-17 11:23] andrea-perego commented on #1284
@pwin , I guess this issue should be submitted at: https://github.com/w3c/dx-prof/issues

[2020-12-17 11:28] pwin commented on #1284
Indeed.  Sorry for the mistake.  Thanks

[2020-12-17 11:28] #1284 closed, assigned to nobody

[2020-12-22 14:57] riccardoAlbertoni opened #1286 "DCAT for particular Resources/CKAN catalog"
Posted by @Aymen-Charef

[2020-12-22 15:58] riccardoAlbertoni commented on #1286
@Aymen-Charef, Here a first a quick reply based on my personal view. Other DXWG members or DCAT editors might have different and more elaborated ideas on your cases.

You want to provide classifications as items of the catalog. Did I get this right?

In that case, as a first attempting solution  I would consider providing the classifications as datasets. That might make sense, especially if your c

[2020-12-23 04:01] dr-shorthair commented on #1286
I agree that it is quite sensible to consider a 'classification' (a kind of controlled-vocabulary?) as a 'dataset'.
A classification is a particularly high-value dataset, you might also call it a 'reference dataset' but managing and cataloguing it as a dataset makes sense.

[2020-12-23 08:31] Aymen-Charef commented on #1286
I want to have the classifications as items of the catalog.

Thank you . I can have them as "reference datasets".

For terms, I found the best matching  "Version information" to accommodate "Reasons of changes".

[2020-12-23 11:40] andrea-perego commented on #1286
@Aymen-Charef said:

StatDCAT-AP is available at:

https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/solution/statdcat-application-profile-data-portals-europe

There you can find also links to the existing releases.

The working space is on GitHub: https://github.com/SEMICeu/StatDCAT-AP . In case you have questions, you can create an issue there: https://github.com/S

[2020-12-23 11:54] makxdekkers commented on #1286
I am currently working on a project where a DCAT-based application profile is used for the description of "reference data assets" -- things like code lists and controlled vocabularies -- that are modelled as `dcat:Dataset`.

[2020-12-23 15:55] andrea-perego commented on #1286
To complement what said so far:

1. Existing examples of classifications (as well as code lists, thesauri, mappings, etc.) documented as datasets can be found in the [EU Open Data Portal](https://data.europa.eu/euodp/en/data/) and the [European Data Portal](https://www.europeandataportal.eu/). E.g., [all reference data maintained by the EU Publications Office](https://op.europa.eu/en/web/eu-vocabu

[2021-01-06 17:15] cristianolongo opened #1287 "Digest for DCAT distributions"
A digest of the file may be useful for downloadable dataset distributions, in order to verify the authenticity of the downloaded file and to verify that the dataset has not been updated after that the digest has been created (the digest should be updated just on the last update time)

[2021-01-15 01:07] riannella commented on #1272
Agree that this is very useful addition and would be welcomed in the Aviation industry, as datasets are published as part of a series each month.

[2021-01-15 03:12] riannella opened #1288 "Dataset to Catalog association"
It would also be useful to add a new explicit association from Dataset to Catalog.
(inverse of dcat:dataset)

[2021-01-15 03:33] dr-shorthair commented on #1288
Creating purely inverse relationships is often frowned upon, with the argument that the same effect can be gained by including a single triple in the original direction in the dataset, so having the inverse is unnecessary.

[2021-01-15 04:36] riannella opened #1289 "Describing the "Release Type""
## Stakeholders
Aviation industry
Healthcare industry

## Problem statement
The need to describe the "release type" of a dataset, such as "baseline" or "full", "snapshot" and "delta" (etc)

## Links
Aviation: http://portal.opengeospatial.org/files/?artifact_id=40502
Healthcare: https://www.digitalhealth.gov.au/newsroom/product-releases/snomed-ct-au-and-australian-medicines-terminology-january-2020

[2021-01-15 20:02] andrea-perego commented on #1287
@cristianolongo , I wonder whether the use case you are proposing is one of those addressed in DCAT-AP and its extensions by using [`spdx:checksum`](https://spdx.org/rdf/terms/#d4e165). Or you have additional / different requirements?

[2021-01-16 10:38] cristianolongo commented on #1287
thanks @andrea-perego , yes spdx:checksum do the case. However I can't find the specification of DCAT-AP

[2021-01-16 16:42] andrea-perego commented on #1287
https://github.com/SEMICeu/DCAT-AP

[2021-01-17 13:25] cristianolongo commented on #1287
great, thanks

[2021-01-18 17:40] agbeltran commented on #1287
Hi @cristianolongo @andrea-perego - this seems to me a quite generic use case that might be good to consider in DCAT too.

[2021-01-18 17:57] cristianolongo commented on #1287
of course, it is relevant for all downloadable datasets, and may be also for datasets provided via a SPARQL endpoint. Should I reopen the issue?

[2021-01-18 21:14] andrea-perego commented on #1287
@agbeltran said:

Agreed.

For our records:

DCAT-AP 2.0.1 describes the purpose of [`spdx:checksum`](https://spdx.org/rdf/terms/#d4e165) as follows:

An example of its use:

https://www.europeandataportal.eu/sparql?default-graph-uri=&query=describe+%3CnodeID%3A%2F%2Fb621486445%3E&format=text%2Fturtle

[code]

[2021-01-20 22:24] riccardoAlbertoni commented on #82
closing for the reasons suggested by @andrea-perego,  discussed and decided in https://www.w3.org/2021/01/20-dxwgdcat-minutes.html#r02

[2021-01-20 22:24] #82 closed, assigned to nobody

[2021-01-20 22:39] riccardoAlbertoni commented on #70
As pointed out by @makxdekkers, limiting the use of metadata is often considered unhelpful. Nevertheless, DCAT works under the open-world assumption, and guidelines/properties discussed in https://www.w3.org/TR/vocab-dcat-2/#license-rights can also be applied to dcat:CatalogRecord if needed by specific cases. See resolution https://www.w3.org/2021/01/20-dxwgdcat-minutes.html#r03

[2021-01-20 22:39] #70 closed, assigned to nobody

[2021-01-20 22:45] riccardoAlbertoni commented on #88
Closing the issue as we do not have enough use cases grounding a solution, see resolution and related discussion https://www.w3.org/2021/01/20-dxwgdcat-minutes.html#r04,

[2021-01-20 22:45] #88 closed, assigned to nobody

[2021-01-27 16:53] riccardoAlbertoni commented on #1287
@cristianolongo: we discussed the adoption of  [spdx:checksum](https://spdx.org/rdf/terms/#d4e165) in the last DCAT meeting  (see  [meeting minutes](https://www.w3.org/2021/01/20-dxwgdcat-minutes)).
   I wonder if you could specify the mentioned use case for "datasets provided via a SPARQL endpoint"  more, and whether you have any spdx example solution when it comes to SPARQL- distributed datasets

[2021-01-28 17:56] riccardoAlbertoni commented on #1286
@Aymen-Charef: Does the thread answer your request? If yes, can we close this GitHub issue?

[2021-01-29 07:39] cristianolongo commented on #1287
Yes, I dump my dataset via a construct query like

With appropriate ordering clauses, the output should be predictable (depending on the knowledge base content of course).

Other cases may be dataset exposed via a REST API which returns json-ld.

However, I'm not fully convinced that these examples are in the scope of DCAT.

[2021-02-03 17:18] coret opened #1290 "Improve discovery of datacatalogs by registering well-known suffix 'datacatalog'"
[RFC 5785](https://tools.ietf.org/html/rfc5785) defines a mechanism for reserving 'well-known' URIs on any Web server. By registering the 'datacatalog' suffix and promoting its use, the discovery of datacatalogs can be improved.

Although this proposal is not **DCAT** specific (eg. schema.org/DataCatalog would also benefit), [we](https://github.com/netwerk-digitaal-erfgoed/) do seek support of the

[2021-02-03 22:13] riccardoAlbertoni commented on #87
Closing this issue because the joint use with other vocabularies is already mentioned in the DCAT 2 Rec. DCAT Recommendation works under the Open Assumption, prescribing specific mapping on other vocabularies might depend on the use cases, a deeper comparison among vocabularies seems not core at this stage of work. (See resolution https://www.w3.org/2021/02/03-dxwgdcat-minutes.html#r03)

[2021-02-03 22:25] andrea-perego commented on #1290
Thanks for contributing this proposal, @coret .

We have discussed it during the WG call (https://www.w3.org/2021/02/03-dxwgdcat-minutes#t03), and we would like ask you if you can elaborate your use case, to better understand if this requirement falls in scope with DCAT.

We checked the issue you point to (https://github.com/netwerk-digitaal-erfgoed/registry-api/issues/36) and your spec (https://n

[2021-02-04 00:24] susheel opened #1291 "Advice on creating DCAT Profiles for controlled-access healthcare datasets"
Looking for some advice. Not sure if we are use case.

We created a rudimentary health dataset metadata specification, based on DCAT, Schema.org, Data Use Ontology and others. The latest spec in JSONSchema form is here - https://github.com/HDRUK/schemata. Is JSONSchema allowed for DCAT derived metadata specifications?

The specification is used to collect dataset specification from health data cus

[2021-02-04 03:08] rob-metalinkage commented on #1291
@susheel - sound like you are correct and you are profiling DCAT (and possibly other vocabs).

Re JSON schema this is a perfect example of a set of implementation constraints around a more general standard (and why we dont define a specific way of doing this - there are many.) You can use the PROF vocab (https://www.w3.org/TR/dx-prof/) to _describe_ you profile and how it works.

you might also be

[2021-02-04 10:34] coret commented on #1290
The [Dutch Digital Heritage Network (Netwerk Digitaal Erfgoed)](https://www.netwerkdigitaalerfgoed.nl/en/) is a partnership in the Netherlands that focuses on developing a system of national facilities and services for improving the visibility, usability, and sustainability of digital heritage. The network is open to all institutions and organisations in the digital heritage field. Together we can

[2021-02-04 11:01] Aymen-Charef commented on #1286
Dear all, Thank you very much for these clarifications. much appreciated.

[2021-02-04 12:40] #1286 closed, assigned to nobody

[2021-02-04 17:27] kcoyle commented on #1291
@susheel Thanks for this. The Dublin Core community is working on a [profile vocabulary ](https://github.com/dcmi/dctap) and I'd like to ask your permission to compare your profile against our work. It looks to me that there is high compatibility, but you also have some interesting features that we should put on our "to-do" list. Thanks.

[2021-02-04 20:43] andrea-perego commented on #1290
Many thanks, @coret .

If I correctly understand, this well-known URI is meant to advertise any data catalogue, irrespective of their thematic content and of the used/supported metadata schema(s). Should this be the case, do you plan to put in place mechanisms (besides harvesting only selected Web sites) to verify (a) if they fit into your domain and (b) if they use a metadata schema you support?

[2021-02-04 20:55] makxdekkers commented on #1290
Does this presuppose that a domain can host a maximum of one data catalog?

[2021-02-04 21:40] rob-metalinkage commented on #1290
@andrea-perego think this is largely orthogonal to connegp which allows resources to self describe alternative views rather than list different collections. A data catalogue view of the website itself would be an option to avoid having to specify a 'well known sub resource.

[2021-02-04 22:09] coret commented on #1290
@makxdekkers yes, a well-known points (redirects) to one resource (the same other well-knowns on the [IANA Well-Known URIs](https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml) list). But if I'm not mistaken, a dcat:Catalog can contain multiple catalogs.

[2021-02-04 22:15] coret commented on #1290
@rob-metalinkage where on a website could one find a data catalogue view? Is this the root of a website or can this be any URI? In the latter, well-known is a mechanism to specify a URI which redirects to the resource. well-known/datacatalogs helps machines _discover_ datacatalogs.

[2021-02-04 22:27] pwin commented on #1291
You asked about where you can see examples of profiles.  Here are some:

**DCAT-AP** - [https://joinup.ec.europa.eu/release/dcat-ap-v11](https://joinup.ec.europa.eu/release/dcat-ap-v11)  and [https://github.com/SEMICeu/DCAT-AP/tree/master/releases](https://github.com/SEMICeu/DCAT-AP/tree/master/releases) for others
**GeoDCAT-AP** - [https://semiceu.github.io/GeoDCAT-AP/releases/](https://semiceu.g

[2021-02-04 22:39] coret commented on #1290
@andrea-perego

That's correct.

Our crawler we will be "confined" to heritage institutions and will be able to process datasetsdescriptions in DCAT 2 and schema.org/Dataset, the latter will be converted to DCAT so we can more easily query a uniform set of dataset descriptions to get insights. For the well-known/datacatalog registration I think it's wise to be not to limiting in respect to datacat

[2021-02-05 00:22] rob-metalinkage commented on #1290
@coret - yes you could have any resource support connegp - you are correct the "well knownedness" is the issue - connegp would certainly be relevant to allow any well known location (either the site root or a known location - or both) to offer multiple different forms of data catalogue - as opposed to having many alternative well known locations for different forms and needing to poll a range of t

[2021-02-05 00:39] agreiner commented on #1290
How would a system know that it is encountering a data catalog that includes other data catalogs and then find those catalogs efficiently?

[2021-02-06 00:28] susheel commented on #1291
Thanks for the advice all.
@rob-metalinkage I'll start with you suggested route via PROF vocab (w3.org/TR/dx-prof) and thanks for the examples @pwin
@kcoyle - Of course. Happy to help.

[2021-02-10 09:38] init-dcat-ap-de opened #1293 "Range of locn:geometry"
You changed (already in DCAT2) the range of locn:geometry from locn:Geometry to rdfs:Literal.
According to the usage note to be "intentionally generic".

But rdfs:Literal is in my opinion more restrictive than locn:Geometry. According to the usage notes and examples of locn:geometry, it allows Literals AND IRIs: https://www.w3.org/ns/locn#locn:geometry

What am I missing?

[2021-02-12 14:23] jakubklimek opened #1294 "Editorial issue: change UML diagrams to SVG"
The UML diagrams in DCAT on a modern high-res monitor look terrible, because they are low-resolution bitmap graphics in PNG format.

I suggest switching to SVG vector graphics.

[2021-02-12 14:33] kvistgaard commented on #1294
Indeed, and overall using SVG is way more in the spirit of DCAT and other
RDF-based standards.

On Fri, 12 Feb 2021 at 15:24, Jakub Klímek <notifications@github.com> wrote:

[2021-02-12 15:08] riccardoAlbertoni commented on #1294
Yes, @jakubklimek, It would be great to have it. Could you suggest a free UML editor saving/exporting in SVG?   I haven't come up with anything quick and easy to use so far ...

[2021-02-12 15:19] jakubklimek commented on #1294
I use https://www.diagrams.net/
It is not ideal, as it is more of a paint tool that allows you to paint UML Class Diagrams, meaning you create an image, not data representing the data model. But it gets the job done.

See a created example: [Czech DCAT-AP](https://ofn.gov.cz/rozhraní-katalogů-otevřených-dat/2021-01-11/obrázky/rozhraní-katalogů-otevřených-dat.svg)

[2021-02-12 15:44] kvistgaard commented on #1294
Check out https://www.planttext.com

On Fri, 12 Feb 2021 at 16:19, Jakub Klímek <notifications@github.com> wrote:

--

[2021-02-17 10:02] ssstolk opened #1296 "Introduction repeats possible alternative implementations"
See paragraphs:

and

[2021-02-17 10:17] ssstolk opened #1297 "Example 4 indicates JSON should be expected, but HTML is provided"
Example 4 in https://www.w3.org/TR/2019/WD-dx-prof-conneg-20191126/ contains the following, which appears to be contradictory to me:

[code]

[2021-02-17 10:27] ssstolk opened #1298 "Example 5 uses no angle brackets in Content-Profile"
Example 5 of https://www.w3.org/TR/2019/WD-dx-prof-conneg-20191126/ shows a response that states the profile without angle brackets:

`Content-Profile: http://example.org/profile/x`

Note that the initial request does use angle brackets, which I assume is the intended way.

`Accept-Profile: <http://example.org/profile/x>`

Please ensure consistency throughout the document on the use (or lack) of a

[2021-02-17 10:39] ssstolk opened #1299 "URIs in figure 2 could be turned into links to increase clarity"
Figure 2 of https://www.w3.org/TR/2019/WD-dx-prof-conneg-20191126/ contains URIs abbreviated using prefixes.
In order for readers not to mistake these for unprefixed URIs (e.g., <cnpr:http>), perhaps consider making these links to the full address (where I assume the functional profiles themselves will be hosted).

[2021-02-17 10:48] ssstolk opened #1300 "Example 10 contains flawed Turtle"
Example 10 of https://www.w3.org/TR/2019/WD-dx-prof-conneg-20191126/ contains typos that mean it does not conform to the Turtle format.

[code]

Here, semicolons instead of commas ought to be used whenever a property follows (lines 7 and 15 in the snippet above).

[2021-02-17 11:09] ssstolk opened #1301 "Resource URLs prohibit the use of QSA in data aggregators and/or single page web applications"
Paragraph "7.3.2.3 Resource URL" in https://www.w3.org/TR/2019/WD-dx-prof-conneg-20191126/ mentions the following:

[code]

To me this seems like a missed opportunity. Is it not the case that in a decentralized Web, it is also desirable to be able to select services from data aggregators. These may not be the original content holder, but are still able to present information on a certain resource,

[2021-02-17 12:54] ssstolk opened #1302 "Invalid Turtle in Example 3 of "The Profiles Vocabulary""
Example 3 in https://www.w3.org/TR/2019/NOTE-dx-prof-20191218/ has invalid Turtle.
Line 3 should be followed by a semicolon. (It may be a good idea to check all Turtle snippets in an RDF editor/validator.)

[2021-02-17 20:47] agbeltran commented on #1294
I think this is a great idea and I had started work on a [mermaid](https://github.com/mermaid-js/mermaid) file, representing the class diagram in Markdown, which can be converted automatically to SVG.

See my current version in this [live editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG4gICAgUmVzb3VyY2UgPHwtLSBEYXRhU2VydmljZVxuICAgIFJlc291cmNlIDx8LS0gR

[2021-02-19 11:50] riccardoAlbertoni commented on #1294
I think that would be great!

Just a doubt before proceed.
I wonder how configurable is the layout of the classes. We might need to force a specific layout to make the diagram readable. For example, we might want to constraint Catalog on the top left part of the diagram, Resource placed on the top right part of the diagram, etc.

@agbeltran: Do you know if that is possible on "mermaid"?

[2021-02-19 14:15] andrea-perego commented on #503
Can we then close this issue?

[2021-02-19 14:35] andrea-perego commented on #460
This section has been included in all DXWG reports:
- DCAT: https://w3c.github.io/dxwg/dcat/#security_and_privacy
- PROF: https://w3c.github.io/dx-prof/prof/#security_and_privacy
- CONNEGP: https://w3c.github.io/dx-connegp/connegp/#security_and_privacy

@agbeltran , @davebrowning , can we close it?

[2021-02-19 15:43] andrea-perego commented on #736
Possibly related issue: https://github.com/w3c/dxwg/issues/244

[2021-02-19 16:51] andrea-perego commented on #1288
@riannella , is @dr-shorthair 's reply addressing your comment?

If this is not the case, could you please explain the use case behind the proposal of  supporting the inverse of `dcat:dataset`?

[2021-02-20 12:16] riannella commented on #1288
The use case is Aviation datasets.
We are working on a mapping to use DCAT now: https://ext.eurocontrol.int/aixm_confluence/display/ADS/DCAT2+and+ISO+19115+representation

You can see there is a requirement in the Dataset to refer to which Dataset Series (dcat:Catalog) it belongs to.

We currently use the general dct:isPartOf property.

(We prefer not to expose dataset users to owl:inverseOf conce

[2021-02-20 19:40] andrea-perego commented on #1288
Thanks, @riannella . So, basically, this is about how to map to DCAT the ISO 19115 element `MD_DataIdentification.citation.CI_Citation.series`.

Actually, your approach (`dct:isPartOf`) is the same used in [the dataset series section of the current DCAT3 ED](https://w3c.github.io/dxwg/dcat/#dataset-series-specification). Do you think a more specific property is needed?

On a different note:

I see

[2021-02-20 22:46] andrea-perego commented on #1289
@riannella , thanks for contributing this use case.

The current DCAT3 ED includes two sections describing possibly related aspects:

1. How to specify the version delta with a textual description: https://w3c.github.io/dxwg/dcat/#version-info
2. How to specify the "status" of a resource in its life-cycle: https://w3c.github.io/dxwg/dcat/#life-cycle

About point (1), based on the documents you cit

[2021-02-21 12:00] riannella commented on #1288
Hi @andrea-perego - given what is said in Section 11.1 - does this mean using dcat:Catalog as the "data set series" is not recommended?

[2021-02-22 02:08] riannella commented on #1289
The "release type" has to do with the temporal aspects related to the dataset.
(See this for full details in aviation: http://aixm.aero/sites/aixm.aero/files/imce/AIXM511/aixm_temporality_1.1.pdf)

Perhaps we can use prov:wasGeneratedBy and indicate the activity that lead to this specific release:

 prov:wasGeneratedBy http://aixm.aero/temporality/SNAPSHOT

[2021-02-22 08:49] init-dcat-ap-de commented on #1294
@riccardoAlbertoni I am afraid, that is probably not possible. Maybe someone knows a program that could import Mermaid files and allows to edit their layout? The same goes for PlantUML.

I decided to use PlantUML over Mermaid because of the problems with class names: https://github.com/mermaid-js/mermaid/issues/1635

[2021-02-22 20:04] andrea-perego commented on #1277
A new draft for discussion on versioning support in DCAT has been prepared - see PR https://github.com/w3c/dxwg/pull/1295

Compared with [the first draft in DCAT 3 FPWD](https://www.w3.org/TR/2020/WD-vocab-dcat-3-20201217/#dataset-versions), this section has been revised to focus specifically on versions derived from the revision of a resource, and by following the [[PAV](http://purl.org/pav/)] ap

[2021-02-22 20:04] andrea-perego commented on #1280
Thanks for your feedback, @stain .

We have a new draft of the versioning section, where we opted to focus on a more specific notion of version, and to build upon PAV for the specification of version history:

https://raw.githack.com/w3c/dxwg/dcat-versioning-v2/dcat/index.html#dataset-versions

[2021-02-22 20:04] andrea-perego commented on #1258
The new draft of the versioning section in PR https://github.com/w3c/dxwg/pull/1295 has temporarily moved this aspect to a specific section:

https://raw.githack.com/w3c/dxwg/dcat-versioning-v2/dcat/index.html#version-backward-compatibility

Based on what discussed so far, we have a number of options:

1. We remove this section, recognising that this aspect is specific to only some types of resour

[2021-02-22 20:04] andrea-perego commented on #1289
@riannella said:

Indeed. This approach is also documented in DCAT 2 - see [§C.2 Dataset provenance](https://www.w3.org/TR/vocab-dcat-2/#examples-dataset-provenance).

[2021-02-23 00:54] riannella commented on #1272
We have modelled the dcat:Catalog as representing a "Dataset Series" and dcat:Dataset for all the datasets in that Series.
The main reason for this is that a dcat:Dataset is defined as "A collection of data..." and dcat:Catalog as "A curated collection of metadata about resources". This closely maps the Series/Dataset relationship.

The proposals in section 11.1 do not seem to fit this model.
1) P

[2021-02-23 05:59] jakubklimek commented on #1272
I would argue against saying that a `dcat:Catalog` should be sometimes "reused" to also be a `dcat:DatasetSeries` just because a Catalog is often also connected to a software instance, web site, user interface, data dumps, etc., whereas a Dataset Series is something recorded in such Catalog.

In addition, in Czechia, we model some `dcat:Dataset`s as `dcat:DatasetSeries` and we have an additional c

[2021-02-23 06:34] riannella commented on #1272
I think we clearly and unambiguously need to define what a "Dataset Series" is first.
Section 11 says

Hence, a dataset series is a collection of datasets, not a dataset itself.

[2021-02-23 06:41] jakubklimek commented on #1272
I agree that we need a clear definition of the series.

First, I am not sure if the ISO-19115 definition (for geodata) should be taken as is also for DCAT.

Second, we could iterate that question and ask whether a collection of collections of data is a collection of data, i.e. whether in this sense, the collections can be flattened, in which case a dataset series would also be a dataset.

If not,

[2021-02-23 08:54] dr-shorthair commented on #1272
@riannella it depends on how you conceptualize it. I think there is a case for saying that a dataset series is _conceptually_ a single dataset, but composed of several subsets, which share most of their properties. A catalog is more heterogeneous.

[2021-02-23 14:18] sjskhalsa commented on #1272
Both datasets and dataset series are resources that can be catalogued.  Different dataset series can be created through different aggregations of datasets. These relations should be allowable in DCAT2

[2021-02-23 15:30] riccardoAlbertoni commented on #1272
I  agree with the view expressed by @dr-shorthair and the flattening idea from @jakubklimek.  This is also the direction followed in the early draft in Pr #1292.

Considering how dataset series are meant in different portals, standards, or application domains besides those already considered in the document might help us to ground and generalize better the current definition.

[2021-02-23 15:47] riccardoAlbertoni commented on #1272
@sjskhalsa wrote:

@sjskhalsa,   I think this is the idea supported in sections [11.1 Dataset series specification](https://raw.githack.com/w3c/dxwg/dcat-dataseries-issue1272/dcat/index.html#dataset-series-specification) when using `dct:hasPart `and its inverse `dct:isPartOf`,   do you have anything different in mind?

[2021-02-23 19:41] sjskhalsa commented on #1272
@riccardoAlbertoni, no, I think 11.1 is a good solution and agree with @jakubklimek that dcat:DatasetSeries should become a separate subclass of dcat:Resource. Datasets can be thought of as the data payload (e.g. files on a storage medium) whereas a Dataset Series could be a "virtual" Dataset in that it exists only by virtue of the metadata describing a collection of Datasets.

[2021-02-23 22:15] aisaac commented on #1280
@andrea-perego just a quick (formal) note: it looks a bit strange that this new text in PR #1295 presents the new dcat:version but still has an editor note (mentioning this issue) that seems not to acknowledge that DCAT has begun to move away from `owl:versionInfo`.

[2021-02-23 22:24] aisaac commented on #1277
I am very much in favour of specifying the DCAT approach to definition. Granted, DCAT shouldn't constraint publishers some specific details like the granularity of a new version (i.e. which data changes should lead to the production of a new version). But as you write, "version" in general can include notions like 'editions, adaptations' and this would go too far.

In this respect I think the new

[2021-02-23 22:26] andrea-perego commented on #1288
@riannella , @dr-shorthair , as the discussion has moved to https://github.com/w3c/dxwg/issues/1272 , I'm closing this issue.

[2021-02-23 22:26] #1288 closed, assigned to nobody

[2021-02-23 22:36] andrea-perego commented on #1293
Thanks for reporting this issue, @init-dcat-ap-de .

This is being addressed in PR https://github.com/w3c/dxwg/pull/1303 (still work in progress).

[2021-02-23 22:58] aisaac opened #1304 ""Current" vs "last" versions"
I'm afraid I'm not fully buying the new properties for versioning `dcat:hasCurrentVersion` and `dcat:hasLastVersion` introduced by #1295

First, I believe the words do not sound entirely appropriate.
I.e. it seems that the main difference regards status, especially publication status. I don't think the opposition between 'current' and 'last' reflect this. For many people, these adjectives mean the

[2021-02-23 23:05] andrea-perego commented on #1280
Thanks for pointing this out, @aisaac . As this is still a draft for discussion, a ref to all the relevant open issues has been kept, whereas EDNOTEs are used to explain how they are being addressed in the current version.

[2021-02-23 23:09] andrea-perego commented on #1277
Good point, @antoine . Do you have any suggestions on how to revise the current text?

[2021-02-23 23:18] aisaac opened #1305 "Issue with OWL compatibility properties?"
PR #1295 proposes to use `owl:backwardCompatibleWith` and `owl:incompatibleWith`. I agree with the need and the proposed pattern. But I'm not sure about re-using these two ontologies. The [formal semantics of OWL](https://www.w3.org/TR/2012/REC-owl2-rdf-based-semantics-20121211/) specify that the domain and range of these two properties are owl:Ontology. In general I'm not the one that is bothered

[2021-02-23 23:24] aisaac commented on #1280
Thanks @andrea-perego . You're right the reference to the issue should be kept, if the idea is not to close this issue when the PR is merged. And this is tricky to handle from an editorial perspective. Would it be possible to have the EDNOTE right after the issue note (i.e., moving the issue note on 1271 elsewhere)? This could make the story easier to understand for readers.

[2021-02-23 23:31] andrea-perego commented on #1280
Just done - see https://raw.githack.com/w3c/dxwg/dcat-versioning-v2/dcat/index.html#version-info

[2021-02-23 23:33] aisaac commented on #1277
For the precision, maybe we could start by amending the note on the focus (in the intro of the Versioning section) with something like this?

We could make a stronger guideline about releases, pointing to the DCAT release info properties, but as I'm not sure that everyone is on board with the idea I'm not going to suggest this yet :-)

[2021-02-23 23:34] aisaac commented on #1280
Excellent, @andrea-perego !

[2021-02-23 23:35] andrea-perego commented on #1305
This issue is begin discussed in https://github.com/w3c/dxwg/issues/1258

@aisaac , would you mind posting your comment there?

[2021-02-23 23:42] andrea-perego commented on #1277
Thanks, @aisaac . While waiting for feedback on including guidance for releases, I've revised the draft as per your suggestion - see https://github.com/w3c/dxwg/pull/1295/commits/3d6859d767f87ba74e6a441d3304b069f297d12c

[2021-02-23 23:54] andrea-perego commented on #1304
Thanks, @aisaac .

I think that probably we should first start with deciding whether these properties are useful and should be included in DCAT. Just a quick note: `dcat:hasCurrentVersion` reflects the semantics and naming of `pav:hasCurrentVersion`, but `dcat:hasLastVersion` is a DCAT (experimental) addition, to complement the former.

About the use of DCAT in the examples, I tend to agree. The r

[2021-02-23 23:58] dr-shorthair commented on #1304
Maybe `dcat:hasPreviousVersion` - 'last' has additional implications ('final') that could confuse a casual reader. I.e. clarify if you mean 'previous' or 'final'.

[2021-02-24 01:15] dr-shorthair commented on #225
I don't think we will actively pursue this

[2021-02-24 01:15] #225 closed, assigned to nobody

[2021-02-24 01:16] dr-shorthair commented on #71
Agree

[2021-02-24 01:16] #71 closed, assigned to pwin, davebrowning

[2021-02-24 01:18] dr-shorthair commented on #151
@andrea-perego is the update of GeoDCAT complete?

[2021-02-24 01:19] dr-shorthair commented on #161
@VladimirAlexiev are you interested in reviving this?

[2021-02-24 01:21] dr-shorthair commented on #168
Unlikely for this to be given any detailed attention in the near future.
Suggest closing to reduce the noise in the issue list.

[2021-02-24 01:25] dr-shorthair commented on #430
Appears to be stale/overtaken.

[2021-02-24 01:28] agreiner commented on #1258
As a part of DCAT, a binary indicator of backward compatibility for a dataset doesn't strike me as a good idea, since what makes a dataset unusable for one purpose has no effect on another, so I vote for 1. I agree it's a good idea to provide a changelog for a dataset, and VersionNotes is a very reasonable place for that. I think that backward compatibility should be noted for a vocabulary in the

[2021-02-24 04:55] agreiner commented on #430
I think we have one part of this that is resolved and one part that is not. As @kcoyle pointed out, we still don't really have a robust definition of conformance for a profile. If we end up writing guidance for using profiles, we will want the reminder here to put in something more precise.
I will admit to some lingering concern about the statement that a profile of DCAT must not deviate from DCAT

[2021-02-24 05:46] rob-metalinkage commented on #430
There are a few separate concerns here - the first is that the specification needs to define its own conformance rules - it may for example provide a series of tests that must be passed. Neither DCAT (nor PROF) should attempt to over-define this.

Secondly, if "conformsTo" = "may nearly conform to" then its impossible to tell how near, and the statement wont have much value - so a different predic

[2021-02-24 07:43] aisaac commented on #1258
Just a note on the very first problem here (I will not dive into the issue of whether we need properties to represent (in)compatibility!). The fact that the [formal semantics of OWL](https://www.w3.org/TR/2012/REC-owl2-rdf-based-semantics-20121211/) specify that the domains and ranges of `owl:backwardCompatibleWith` and `owl:incompatibleWith` are owl:Ontology is quite a showstopper for using these

[2021-02-24 07:44] aisaac commented on #1305
OK done at https://github.com/w3c/dxwg/issues/1258#issuecomment-784867334
It seems the issue there evolved into a more fundamental discussion on whether to represent (in)compatibility in the first place, but the beginning of the issue was indeed about the OWL semantics.
I think I can resolve this issue here then.

[2021-02-24 07:44] #1305 closed, assigned to nobody

[2021-02-24 08:59] aisaac commented on #430
This sounds like one of these overarching discussions that was supposed to be put in perspective by the profile guidance, as @agreiner says.
The DCAT space has made a choice of strict conformance so far, and I am ok with it. But perhaps we can keep the issue in the DCAT backlog, in case some feedback comes?
In fact at a stage where DCAT has been wonderfully progressed since the beginning of this i

[2021-02-24 09:06] makxdekkers commented on #1304
Please let's not (again) get into the discussion of what can or cannot be claimed to be a Dataset! I am, and have been, involved in activities that use DCAT to descibe vocabularies and ontologies, and it works very well.

[2021-02-24 09:18] andrea-perego commented on #430
@aisaac , as far as DCAT is concerned, I'd rather create a separate issue, asking for feedback (as you suggest), and keep this one linked specifically to the Profile Guidance deliverable. We can of course keep it here in the DXWG repo - unless we eventually decide to move the Profile Guidance deliverable to a separate one.

[2021-02-24 09:20] aisaac commented on #1304
@makxdekkers I'm not claiming that using DCAT for vocabularies and ontology doesn't work (and in fact I wouldn't hesitate characterize some 'vocabularies' as datasets, especially thesauri) but it's just that using this example may lead us to give more importance to rather untypical cases.
@andrea-perego  Maybe we could just continue with the bus stop example, for the sake of simplicity.

As for th

[2021-02-24 09:25] aisaac commented on #430
@andrea-perego I'm also fine with your alternative, if you think this issue here is already too noisy/general for DCAT.

[2021-02-24 09:27] andrea-perego commented on #1304
@dr-shorthair said:

The property is supposed to point to the most recent / latest version (irrespective of its status - draft or stable). So an option could be `dcat:hasLatestVersion`. I would not use "final", as this is can be understood to point to a stable version.

[2021-02-24 09:47] andrea-perego commented on #1304
@aisaac said:

That example is not completely fit to illustrate all the properties, but we can give it a try. Anyway, if the WG has any real-world cases we can re-use, that would be much better.

I am open to proposals.

Yes. It is likely that the presence of an instance of `dcat:hasLastVersion` implies also that an instance of `dcat:hasCurrentVersion` is used. But this does not mean that `dcat:ha

[2021-02-24 09:56] andrea-perego commented on #430
@aisaac said:

I think it is indeed a general one. For DCAT, this boils down to whether the conformance statement in the spec needs to be revised based on existing implementations.

[2021-02-24 10:17] andrea-perego commented on #151
@dr-shorthair asked:

Yep. The new version of GeoDCAT-AP is aligned with DCAT 2:

https://semiceu.github.io/GeoDCAT-AP/releases/2.0.0/

[2021-02-24 10:57] dr-shorthair commented on #151
So I think that means that this ticket is now superseded, and can be closed, right?

[2021-02-24 10:59] dr-shorthair commented on #1304
Yes, in that case, `dcat:hasLatestVersion` would be preferable. 'Last' can be interpreted in too many ways!

[2021-02-24 11:02] andrea-perego commented on #151
+1 from me.

[2021-02-24 17:30] agbeltran commented on #1294
Indeed, it is quite limited what can be done in terms of layout althought it looks that there are plans for enabling more configuration options according to the [documentation](https://mermaid-js.github.io/mermaid/#/classDiagram).

Good to see the issue about colons in class names.

[2021-02-24 22:49] agreiner commented on #168
In general, I don't think we should simply close anything just because it's causing clutter. We should probably park things elsewhere for future attention if we don't think we'll get to them.

[2021-02-24 23:05] agreiner commented on #1304
I think 'latest' is better than 'last' here, but it's still not intuitive in my opinion. Maybe we should have hasCurrentVersion and hasCurrentStableVersion.

[2021-02-24 23:56] dr-shorthair commented on #168
Fair enough. However, if there is no realistic prospect of work being done on this item, then it is effectively clutter.

[2021-02-25 02:15] riannella commented on #1272
I would be happy to see a new dcat:DatasetSeries class added that supports the metadata describing the collection of Datasets (as per @sjskhalsa comment above

[2021-02-25 07:00] HelloLudger commented on #1272
Might be related to the Dublin Core Collection Description Application Profile (#244).

[2021-02-25 08:06] andrea-perego commented on #244
@nichtich , a reference to the Dublin Core Collection Description Application Profile has been included in the Profiles Vocabulary and in the Profile Guidance draft:

https://w3c.github.io/dx-prof/prof/#eg-csiro-dummy-dcap

https://w3c.github.io/dxwg/profiles/#dcap

Is this addressing your request?

[2021-02-25 09:30] andrea-perego commented on #1304
@agreiner said:

Based on what discussed so far, I'm still unsure whether there's a consensus that `dcat:hasLast(est)Version` is needed.

About `dcat:hasCurrentVersion`, I'm actually re-considering my claim that this should point to a stable version, which was mainly reflecting the examples under discussion, but not alternative scenarios.

`dcat:hasCurrentVersion` (as `pav:hasCurrentVersion`) link

[2021-02-25 18:04] kcoyle commented on #1272
I see a distinct difference between a *collection* and a *series*. A collection is any grouping based on whatever characteristics you choose. A collection can be created after the fact with items that have no inherent interdependence (a collection of teacups, a collection of paintings). A series generally has a temporal basis and there is the implication of interdependence in the process of creati

[2021-02-25 21:18] andrea-perego commented on #1258
Thanks, @agreiner & @aisaac .

Based on what discussed so far, I would then suggest we go for option (1) and drop these properties.

As usual, we can revive this issue in case we receive relevant use cases.

Any objections?

[2021-02-25 21:50] agreiner commented on #1258
nope

[2021-02-26 02:00] dr-shorthair commented on #1272
Geospatial datasets arranged as adjacent or overlapping tiles or scenes are a common non-temporal series. Go into any map shop (!) and you will find map-series of the same theme and scale, covering a jurisdiction. So I don't think we would want to limit the idea of 'dataset series' to temporal series. The point is that _most_ of the metadata is shared, which is why it is more specific than 'collec

[2021-02-27 11:49] riccardoAlbertoni commented on #1258
Solution 1 is good for me.

[2021-02-27 16:44] andrea-perego commented on #1258
Thanks, @agreiner & @riccardoAlbertoni .

Revision implemented via commit https://github.com/w3c/dxwg/commit/79125c11398d6eb337c798a0e3a93491ec05c6e2

Summary of relevant changes:
- Removed section on backward compatibility
- Added usage note to `adms:versionNotes`, mentioning explicitly its use for describing backward compatibility issues:
  - https://raw.githack.com/w3c/dxwg/dcat-versioning-v2/d

[2021-02-27 16:58] andrea-perego commented on #1271
Not seeing any additional reaction on this issue, I would like to propose a vote to understand how to move this forward:

1. Let's close this issue - currently there's no evidence that this issue is supported by any use case
2. Let's discuss this issue further - there may be use cases out there we should find out

In case you vote for option (2), if you have or are aware of any use case, please sh

[2021-02-27 17:05] andrea-perego commented on #1289
@riannella , I wonder whether this issue needs further discussion.

Should  that be the case, could you please share some possible examples of the types of relationships you think could be used to specify the release type?

E.,g., should they just specify the "type" of release (snapshot, delta, etc.), possibly by using a code list? Or there's the need of having (also) relationships linking to diff

[2021-02-27 17:07] andrea-perego commented on #1275
@agreiner , @riccardoAlbertoni , as the discussion has been eventually moved to https://github.com/w3c/dxwg/issues/1280 , I propose we close this issue.

[2021-02-27 17:12] kcoyle commented on #1272
@dr-shorthair Yes, I am aware that there are non-temporal uses of "series" in the world. Perhaps I misunderstood but I was under the impression that that there was an interest in defining time-based, ongoing resources, things that are considered to be "serial" in nature. Those pose some particular metadata requirements and afford certain services which users of DCAT may need. For "serial" resource

[2021-02-27 17:25] makxdekkers commented on #1272
I think it might be good to distinguish between time series on one hand and slices on the other hand. In my mind, different maps covering a geographic area are more like slices than a series. But it does depend on the definition of 'series'.

[2021-02-27 17:50] riccardoAlbertoni commented on #1275
Fine to me.

[2021-02-27 23:11] andrea-perego commented on #1272
@makxdekkers said:

IMO, we should address these issues stepwise:
1. First we should agree on a general definition of dataset series, and decide which are the relevant properties
2. Then, if need be, we can specialise this notion (e.g., dataset series that are time series), and decide which additional properties should be added.

About point (1), I think [the current definition](https://raw.githac

[2021-02-28 00:45] kcoyle commented on #1272
Thanks, @andrea-perego. The use cases that I'm aware of for time-based datasets are:

* For a an ongoing serially issued dataset, the ability to know when each issuing cycle or date is expected such that one can program automatic downloads (e.g. first of every month)
* Conversely, this also allows a user to quantify if a scheduled update has not been received
* The complication is that there are o

[2021-02-28 01:33] dr-shorthair commented on #1272
A Map or Image Series usually has in common
- scale (e.g. 1:25,000, 1:50,000, 30m pixels)
- themes (e.g. roads, topography, history, wavelength bands)
- publisher
- some quality standards
- maybe revision cycle (version 1, version 1990)
- license

What might vary between tiles, scenes, or sheets is
- survey and publication dates
- surveyor or sensor
- area of interest (coverage) - which often has

[2021-02-28 07:51] andrea-perego commented on #1272
Thanks, @kcoyle & @dr-shorthair .

@kcoyle , at the moment, issuing cycles / updates are covered in DCAT by `dct:accrualPeriodicity`. Do you think something more specific / different is needed?

About metadata shared / varying between datasets in a series, the draft includes a section on "property values inheritance" trying to provide guidance on which information should be specified in records of

[2021-02-28 07:57] andrea-perego commented on #1272
@kcoyle said:

Maybe we can include some examples (either in the definition or in the usage note) to clarify this. E.g.:

WDYT?

[2021-02-28 16:33] riccardoAlbertoni opened #1307 "Should we specialize dcterms:hasPart for dcat:DatasetSeries?"
For data catalog, `dcterms:hasPart` is specialized into `dcat:dataset`, `dcat:service`, etc. Should we have some sort of specialization also for `dcterms:hasPart` used in `dcat:DatasetSeries`?

In particular, to distinguish more between datasets that are 'just a bag of files' (see examples in [Loosely structured catalog](https://www.w3.org/TR/vocab-dcat-3/#examples-bag-of-files)) from actual datas

[2021-02-28 17:07] riccardoAlbertoni opened #1308 "Any other properties to mention in class dcat:DatasetSeries?"
~~Should we add  <code>adms:next</code>, <code>adms:prev</code> in the <code>dcat:DatasetSeries</code> class description?~~

Should we include in the <code>dcat:DatasetSeries</code> class description the properties whose values are involved in [dataset series inheritance](https://www.w3.org/TR/vocab-dcat-3/#dataset-series-properties) (e.g. <code>dct:issued</code>,<code>dct:spatial</code>)?
The exp

[2021-02-28 19:12] kcoyle commented on #1272
@andrea-perego Thanks again. Because irregular periodicity is very complex it is probably best to wait until there is a concrete use case by someone employing DCAT. Solving it will be a misery akin to the versioning problem. Perhaps it can sit in the background until needed.

The section you refer to is quite complete. I do note that it says that items in a series are a subset:

Which is different

[2021-02-28 19:33] andrea-perego commented on #1272
Indeed, @kcoyle . Besides the definition of dataset series, we need to revise also the guidance section, to make it very clear that subsetting is just one of the possible cases of dataset series.

About the section on property value inheritance, I think it would be worth reviewing it to see if some of the discussed properties are specific to the dataset series itself, and not inherited from child

[2021-02-28 19:43] andrea-perego commented on #1308
@riccardoAlbertoni asked:

I think they should be placed under `dcat:Resource`.

I think this is an overall issue, not limited to dataset series. We have a number of properties under `dcat:Resource` whose use with some subclasses should be explained (e.g., the use of `dct:spatial` in `dcat:DataService`).

About replicating the property definition, an alternative option is to include such explanati

[2021-03-01 08:32] andrea-perego commented on #168
I agree with @dr-shorthair .

Besides the fact that there was no discussion on this issue since 2018, we no longer have a use case here - as pointed out by @davebrowning , it is not included in the UCR - which makes it almost impossible to exactly understand the requirements, and to proceed with the discussion.

[2021-03-01 08:36] andrea-perego commented on #976
@nicholascar said:

I therefore propose to close this issue. Any objections?

[2021-03-01 08:37] andrea-perego commented on #151
Noting no objections, I am closing this issue.

[2021-03-01 08:37] #151 closed, assigned to andrea-perego

[2021-03-01 11:40] andrea-perego commented on #1285
Thanks for reporting this issue, @plehegar .

The syntax error should have now been fixed via PR https://github.com/w3c/dxwg/pull/1309

Could you please review?

[2021-03-01 13:05] agbeltran commented on #1285
Reopening awainting @plehegar confirmation.

[2021-03-01 13:54] nicholascar commented on #976
Closing - indeed the issue has waited the mandatory week since marked "due for closing"!!

[2021-03-01 13:54] #976 closed, assigned to nobody

[2021-03-01 15:23] kcoyle commented on #168
I admit it never was clear to me what was intended, and I hoped that Jaro would explain it when we got to it. As no one else has brought it up, closing seems reasonable.

[2021-03-01 18:21] agbeltran commented on #168
I've been trying to trace back this issue to the UCR and discussions, and couldn't find a clear link (there are meetings referring 'use cases on real world objects' (see [here](https://www.w3.org/2017/dxwg/wiki/index.php?search=real+world&title=Special%3ASearch&go=Go)) but it is unclear if it relates to this issue - it would be good to hear from @jpullmann). Indeed, there seems to be no related us

[2021-03-01 18:41] makxdekkers commented on #168
Relaxing the range of `dcat:theme`, i.e. leaving it blank, removes the only thing that makes it different from `dct:subject`. It was introduced in DCAT2014 specifically to allow narrowing the range to `skos:Concept`. If there is a need to use a property that allows a reference to anything that the dataset 'is about', simply using `dct:subject` could do the trick. The range of `dct:subject` was lef

[2021-03-01 18:47] agbeltran commented on #168
Thanks @makxdekkers - then it seems it would be good to add some guidance on using ```dct:subject``` and one or more examples of this use case. Also, I suggest updating the alingment of ```sdo:about``` to ```dct:subject``` rather than ```dcat:theme```.

[2021-03-01 18:54] kcoyle commented on #168
@agbeltran Could you give an example of what you mean by "entity" when you say:

Thanks.

[2021-03-01 18:56] makxdekkers commented on #168
@agbeltran I don't think it is wrong to associate `dcat:theme` with `sdo:about`, the only thing is that it works only one way: every object of `dcat:theme` is a valid object for `sdo:about` but not the other way around.

[2021-03-02 01:28] agreiner commented on #1275
yes, that's fine with me.

[2021-03-02 05:51] riannella commented on #1272
The dataset series use case I am looking at (in the aviation sector) is based on both a theme (features) and time.
Such as aerodromes, vertical obstacles, airspace, etc
There are well defined release phases (called "AIRAC" cycles) that are released every X days (depending on the State (country).
Here are the EU dates: https://www.nm.eurocontrol.int/RAD/common/airac_dates.html
Here are the AU dates

[2021-03-02 06:07] riannella commented on #1289
I've tried to generalise these:

BASE - A release type in which the release dataset contains all permanent properties that are in effect
SNAPSHOT - A release type in which the release dataset contain all properties at are in effect at a particular time
DELTA - A release type in which the release dataset contains all new permanent properties
DELTATEMP - A release type in which the release dataset c

[2021-03-02 07:38] andrea-perego commented on #1275
Thanks, @riccardoAlbertoni & @agreiner .

Closing.

[2021-03-02 07:38] #1275 closed, assigned to nobody

[2021-03-02 09:33] makxdekkers commented on #168
@kcoyle As far as I understand, the 'entities' are things that are not `skos:Concept`s. Within DCAT, there is only `dcat:theme` to link to something the Dataset 'is about' but that does not allow to link to people, organisations, places, events.

[2021-03-02 11:23] andrea-perego commented on #168
@makxdekkers said:

I think that's still too generic. We need a use case to exactly understand what the issue is about.

[2021-03-02 11:38] andrea-perego commented on #1289
Thanks, @riannella .

Based on what you say, I think "release type" is more related to alternative editions of a resource (`prov:alternateOf`) rather than to the notion of "version" used in PR https://github.com/w3c/dxwg/pull/1295 currently under discussion - see preview here:

https://raw.githack.com/w3c/dxwg/dcat-versioning-v2/dcat/index.html#dataset-versions

About specifying the "types":

What

[2021-03-02 12:21] riannella commented on #1289
We planned to use `dct:type` for something else, but now I think we shall use it for the "release type" (and use our own URIs).
Thanks :-)

[2021-03-02 17:07] kcoyle commented on #1272
@riannella Would you want to specify future dates, or would periodicity suffice? In other words, could "next" indicate a future release?

[2021-03-03 04:20] dr-shorthair commented on #168
Predicates from [SOSA/SSN](https://www.w3.org/TR/vocab-ssn/) are relevant here:
- [sosa:madeBySensor](https://www.w3.org/TR/vocab-ssn/#SOSAmadeBySensor)
- [sosa:observedProperty](https://www.w3.org/TR/vocab-ssn/#SOSAobservedProperty)
- [sosa:hasFeatureOfInterest](https://www.w3.org/TR/vocab-ssn/#SOSAhasFeatureOfInterest)

[2021-03-03 06:30] riannella commented on #1272
@kcoyle Probably not at this stage. If we set the future dates as part of the description, then the expectation would be high that we meet it :-)
We would generally have a "system" that allowed customers to be notified of new additions to a dataset series (regardless of the actual dates).

[2021-03-03 20:57] agbeltran commented on #168
Hi, I'll think of an example of what I have in mind, but I was pointing to what @makxdekkers described. For that reason, my use case is related to the discussion in https://github.com/w3c/dxwg/issues/1153 around the range for ```dcat:theme```

[2021-03-03 21:57] agbeltran commented on #1278
for reference, adding here the link to the [ADMS profile for software](https://joinup.ec.europa.eu/sites/default/files/documentation/ADMS.FOSS_specification_v0.01.pdf) pointed out by @andrea-perego

[2021-03-03 22:11] makxdekkers commented on #1278
A later version of this work is the [ADMS-AP for Joinup version 2.0](https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/solution/asset-description-metadata-schema-adms/release/20) of 2015.

[2021-03-03 23:38] riannella commented on #1308
Will `dcat:DatasetSeries` be a subclass of `dcat:Catalog` ?

[2021-03-03 23:43] dr-shorthair commented on #1308
or of `dcat:Dataset` ...

[2021-03-04 00:00] riannella commented on #1307
Can we just use `dcat:dataset` as property from `dcat:DatasetSeries` and `dcat:Dataset` ?

(of course, I would like to see the inverse property as well  :-)

[2021-03-04 00:05] riannella opened #1311 "Integrity property?"
Has there been any prior discussion about supporting an "integrity" property for a dataset distribution?
For example, a CRC or MD5 ?

[2021-03-04 08:08] andrea-perego commented on #1311
There is an open issue on that: https://github.com/w3c/dxwg/issues/1287

@riannella , could you please check if the current proposal meets your requirements? It would be great if you could also add your use case there.

[2021-03-04 11:54] makxdekkers commented on #1308
Wouldn't it be confusing for `dcat:DatasetSeries` to be a subclass of `dcat:Catalog` -- which is itself a subclass of `dcat:Dataset`. What would be the advantage? Is it not enough for `dcat:DatasetSeries` to be a direct subclass of `dcat:Resource` without the intermediate subclass relations?

[2021-03-04 19:45] agreiner commented on #1287
For what it's worth, I have used checksums for datasets in a web app, though not with SPARQL. The use case was differentiating datasets of electronic potentials for use in quantum mechanical calculations.

[2021-03-04 21:55] bdonohue29 opened #1312 "DCAT files import wrong Dublin Core URL"
The DCAT file published [here](https://www.w3.org/ns/dcat.ttl) tries to import Dublin Core Terms (dct:) from the following URL: <http://purl.org/dc/terms/>

But it looks like Dublin Core updated their URLs, so this import statement can't resolve. For example, in desktop Protege, it simply fails to import Dublin Core. In Web Protege, it blocks any import of DCAT.

In my local copy, I updated the im

[2021-03-04 22:12] dr-shorthair commented on #1308
`DataSeries` is much more like a dataset that it is like a service (or a specimen or an instrument or any other kind of thing that you might model as a subclass of `dcat:Resource`). IMAO it absolutely belongs in the dataset/catalog branch of the resource tree. I think we are just exploring whether a series is conceptually merely a list of members (and therefore like a catalog) or is a conceptually

[2021-03-05 00:43] dr-shorthair commented on #1312
I just tested http://purl.org/dc/terms/ and got good RDF representations of Dublin Core when using the HTTP header "Accept: application/rdf+xml" and "Accept: text/turtle".  In fact the latter is identical to what you get from https://www.dublincore.org/specifications/dublin-core/dcmi-terms/dublin_core_terms.ttl . SO looks like Protege is choking on something other than just getting the correct RDF

[2021-03-05 01:50] kcoyle commented on #168
@makxdekkers @agbeltran I don't think that it is strictly true that a skos:Concept cannot be a person or organization or place or .... any other thing in the real world. The [SKOS Reference](https://www.w3.org/TR/skos-reference/#concepts) says:

"A SKOS concept can be viewed as an idea or notion; a unit of thought. However, what constitutes a unit of thought is subjective, and this definition is m

[2021-03-05 08:32] andrea-perego commented on #1312
@dr-shorthair said:

+1 from me.

[2021-03-05 14:25] andrea-perego commented on #1304
Following the discussion on these issues during [the last DCAT subgroup call](https://www.w3.org/2021/03/03-dxwgdcat-minutes#t03), it seems there's a general consensus on the following points:

1. `dcat:hasLast(est)Version` is not strictly necessary and potentially confusing.
2. For the versioning diagrams, using DCAT as an example is not representative of the most common cases, and it would be be

[2021-03-07 17:19] aisaac commented on #1277
Great, thanks @andrea-perego !

[2021-03-07 17:59] aisaac commented on #1304
@andrea-perego these changes improve the proposal greatly, I think!

[2021-03-08 01:26] riannella commented on #1311
ok

[2021-03-08 01:26] #1311 closed, assigned to nobody

[2021-03-08 01:37] riannella commented on #1287
Agree to the need for a "Checksum" (algorithm + value) for dataset integrity (like spdx).

[2021-03-08 01:56] riannella commented on #1308
Here is the draft model we are currently working on to give some context for our use cases...

![dcat-profile](https://user-images.githubusercontent.com/13191615/110264522-30fcd580-8005-11eb-88d9-2e9fca06b6b9.jpg)

[2021-03-08 02:43] dr-shorthair commented on #1307
My suggestion:

[code]

[2021-03-08 02:43] dr-shorthair commented on #1308
This model shows a Dataset Series as a member of a catalog. This is consistent with it being a kind of Dataset.

Then the relationship between Dataset Series and its Datasets is consistent with what was foreseen in DCAT v2 in the discussion of [relationships](https://www.w3.org/TR/vocab-dcat-2/#Property:resource_relation) and [qualified relationships](https://www.w3.org/TR/vocab-dcat-2/#qualified-

[2021-03-08 06:26] jakubklimek commented on #1307
@dr-shorthair @riannella From the point of view of an application developer, let me again state that I would strongly prefer to standardize only one of the two mutually inverse properties.

Otherwise, compliant applications and queries need to always account for the possibility that in one data catalog, the datasets are connected to the series using one property, in another using the second, which

[2021-03-08 14:29] #1293 closed, assigned to nobody

[2021-03-08 17:16] riccardoAlbertoni commented on #1293
Summary: Range changed from <code>rdfs:Literal</code> to <code>locn:Geometry</code> via <a href="https://github.com/w3c/dxwg/pull/1303">#1303</a>. The corrections will appear in the next PWD.

[2021-03-08 18:55] tombaker commented on #1312
Someone else has written to DCMI with the same problem, also with Protege, but I find that our server is correctly serving RDF/XML when this is requested (as @dr-shorthair also found).

If there is anything we can do to make it easier for Protege users, please let me know.

[2021-03-08 19:05] bdonohue29 commented on #1312
Gotcha, understood this is on the Protege side, which in my experience tends to have lots of issues with importing.

[2021-03-08 19:18] tombaker commented on #1312
@bdonohue29 , all - If anyone here can suggest a sentence or two of explanation, I will look for a way to add it to the DCMI terms documentation.

[2021-03-08 19:25] bdonohue29 commented on #1312
Sure

When loading DCAT into Protege (v5.x.x), either from the Web URL <http://www.w3.org/ns/dcat#> or from a downloaded local copy, Protege will fail to import the Dublin Core Terms vocabulary. (See screenshot below.)

![image](https://user-images.githubusercontent.com/20800587/110370572-d6ba3f80-8019-11eb-8716-53b097f4eb1f.png)

One workaround is to download a local copy of DCAT and update the r

[2021-03-08 20:00] dr-shorthair opened #1314 "Namespace prefix for DC Terms"
In our documentation we are using the prefix `dct:` to denote the Dublin Core Terms namespace, and `dcat:` for DCAT.
I have found that users often conflate these, probably because the prefixes are so similar.
I suggest using the prefix `dcterms:` instead.

[2021-03-08 20:11] tombaker commented on #1312
@bdonohue29 I have wrestled this down under the 280-character limit for a tweet:

I propose to tweet this, along with your screenshot, then add a reference to the tweet somewhere in the DCMI terms documentation.

Do you all like this approach, and do you all approve the text above?

[2021-03-08 20:21] bdonohue29 commented on #1312
@tombaker Looks good, except I haven't tested pointing the import to the dublincore.org url you get when it redirects from the purl.

Rather, I had to point to a .ttl file hosted on dublincore.org, namely: https://www.dublincore.org/specifications/dublin-core/dcmi-terms/dublin_core_terms.ttl

(Which is almost the same, but includes the "www" prefix and swaps out the "/#" for the ttl file name)

Un

[2021-03-08 21:47] tombaker commented on #1312
@bdonohue29 Can you confirm that this is an issue with Protege and not with how we have configured the PURL and the DCMI website?

[2021-03-08 23:14] bdonohue29 commented on #1312
@tombaker I mean, not with certainty. @dr-shorthair says it's working when requested over http. And apparently other Protege users are running into this issue, so sounds like it's on the Protege side

[2021-03-09 01:04] agreiner commented on #1307
I would suggest keeping only the inSeries property, so that one needn't worry about updating metadata for the series every time a new dataset is added to that series.

[2021-03-09 01:17] dr-shorthair commented on #1307
Agree with @jakubklimek and @agreiner . Only one needed and `dcat:inSeries` is more useful.

[2021-03-09 01:27] riannella commented on #1307
...but they are inverse properties...so you only need to define one, the other can be asserted or inferred.

[2021-03-09 01:28] dr-shorthair commented on #1307
Yes. Agree.

[2021-03-09 03:13] riannella commented on #1289
All done.

[2021-03-09 03:13] #1289 closed, assigned to nobody

[2021-03-09 09:35] tombaker commented on #1312
@bdonohue29 @dr-shorthair Thus tweeted: https://twitter.com/DublinCore/status/1369219886598262784 .

[2021-03-09 12:06] andrea-perego commented on #1307
I'm fine with defining only `dcat:inSeries` for the moment.

[2021-03-09 13:55] andrea-perego commented on #1314
Makes sense to me.

I created a draft PR, in case we go this way: https://github.com/w3c/dxwg/pull/1315

[2021-03-09 15:23] riccardoAlbertoni commented on #1314
It works for me as well.

[2021-03-09 18:43] kcoyle commented on #1312
I don't think that a tweet has reliable longevity. It seems to me that the area of the introduction ([in the DC terms document](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#section-1)) where the namespaces are documented is the place to do this. First, to explain that the purl.org namespaces resolve to the HTML page. Then that access to the RDF/ttl (? is there an RDF/XML versi

[2021-03-09 19:03] init-dcat-ap-de opened #1317 "Reasons for not adding properties to dcat:Resource (and therefore not to dcat:DataService)"
Hello,

we are in the process of integrating dcat:DataService into DCAT-AP.de.

We are wondering why you decided to add properties, who describe the temporal or spatial aspects of a resource to the dcat:Dataset and not to the dcat:Resource. E.g. dcat:spatialResolutionInMeters, dcat:temporalResolution or dct:accrualPeriodicity.

Most of these properties could also be relevant when one would describ

[2021-03-09 20:09] andrea-perego commented on #1317
Thanks for bringing your concern to our attention, @init-dcat-ap-de .

We actually have an open issue on this: https://github.com/w3c/dxwg/issues/1253 . Current discussion is going in the direction of moving these properties to `dcat:Resource`, but a final decision is yet to be made.

[2021-03-10 06:41] riannella commented on #1307
Sorry @andrea-perego - when I said "you only need to define one" - I really meant you only need to "assert" one.
Both properties should be defined (in the ontology).

[2021-03-10 07:13] init-dcat-ap-de commented on #1317
Thank you, discoverability... one place is enough.
I'll continue in #1253.

[2021-03-10 07:13] #1317 closed, assigned to nobody

[2021-03-10 09:46] tombaker commented on #1312
@kcoyle - @paulwalk and I agree that it would be helpful to add a short section to the [introduction to DCMI Metadata Terms](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#section-1) about RDF representations, with links to specs about content negotiation and direct links to the Turtle files. I have put this on my list of things to do.

[2021-03-10 14:21] #1314 closed, assigned to nobody

[2021-03-10 14:56] andrea-perego commented on #1314
Spec and RDF voc updated via PR: https://github.com/w3c/dxwg/pull/1315

We have yet to deal with the examples - also to decide where to place them.

@riccardoAlbertoni , would you create a separate issue for this?

[2021-03-10 15:16] init-dcat-ap-de commented on #1253
As written in #1317, we are looking for reasons for adding those properties to dcat:Dataset instead of dcat:Resource.

Additional properties would be
- dct:accrualPeriodicity
- and maybe: prov:wasGeneratedBy

[2021-03-10 16:08] andrea-perego commented on #896
Discussion now in https://github.com/w3c/dxwg/issues/1294

Closing this issue.

[2021-03-10 16:08] #896 closed, assigned to nobody

[2021-03-10 17:40] riccardoAlbertoni opened #1319 "Should we turn 'dct' into 'dcterms' also for the GitHub examples?"
Apparently, DCAT 2 REC points to the GitHub examples directly, so if we change dct in there, we will lose the coherence with the  DCAT 2 REC.

I see three options:
1) we wait for changing the examples till the very last moment before publishing dcat 3 CR.
2) we create a brand new copy of the directory 'examples/' named 'exampleDCAT3',  in which dct is replaced by dcterms and we keep the pointed fi

[2021-03-10 17:43] riccardoAlbertoni commented on #1314
Done in issue https://github.com/w3c/dxwg/issues/1319

[2021-03-10 17:57] riccardoAlbertoni opened #1320 "Changes to Class Diagram (figure 1)."
In this issue, we pile the changes to make to the DCAT class diagram  (figure 1 in the DCAT document) to do them all at once.

[2021-03-10 17:58] riccardoAlbertoni commented on #1320
~~Turn 'dct:' into 'dcterms' as for PR #1314 which has been merged.~~

[2021-03-10 19:30] #1258 closed, assigned to nobody

[2021-03-10 19:48] andrea-perego commented on #1277
PR https://github.com/w3c/dxwg/pull/1295 is now merged.

I suggest we close this issue and create a new one about the point about releases raised by @aisaac in https://github.com/w3c/dxwg/issues/1277#issuecomment-784557124

Any objections?

[2021-03-10 19:51] andrea-perego commented on #1304
PR https://github.com/w3c/dxwg/pull/1295 is now merged.

Unless there are any objections, I suggest we close this issue.

[2021-03-11 07:07] init-dcat-ap-de commented on #1307
`dcat:inSeries` would mean
[code]
instead of
[code]
?

I don't see why we would switch the logic for dataseries. Until now the "bigger" class states which "smaller" objects are part of them. Catalogs include Datasets, Datasets include Distributions.

[2021-03-11 13:47] andrea-perego commented on #1291
@susheel , do you have any additional points to discuss? Otherwise, we'll close this issue.

[2021-03-11 13:55] andrea-perego commented on #1285
@plehegar , I'm going to close this issue.

If there's something we have not addressed, please create a new one.

[2021-03-11 13:55] #1285 closed, assigned to nobody

[2021-03-11 14:04] andrea-perego commented on #1320
Another related issue to be taken into account is https://github.com/w3c/dxwg/issues/1252

[2021-03-11 14:45] andrea-perego commented on #1320
I think one of the things to be considered is whether we should limit the information in the diagram to increase its legibility.

Some options:

1. We keep only classes and relationship, and remove datatype properties.
2. We provide different views of the diagram - e.g., a general and incomplete one for the voc, and more specific and detailed views for the main classes

[2021-03-11 15:00] andrea-perego commented on #1240
@dominik-s0 , @zeginis , do you have any further point you would like to discuss? Otherwise, we are going to close this issue.

[2021-03-11 15:01] andrea-perego commented on #1241
@mathib ,  do you have any further point you would like to discuss? Otherwise, we are going to close this issue.

[2021-03-11 15:06] andrea-perego commented on #1223
Just noting that this issue is yet to be fixed - see https://github.com/tobie/specref/issues/640

[2021-03-11 15:08] dominik-s0 commented on #1240
@andrea-perego Thx for following up on that, fine for me to close.

[2021-03-11 15:08] #1240 closed, assigned to nobody

[2021-03-11 15:09] andrea-perego commented on #1128
Noting no objections, I'm going to close this issue.

[2021-03-11 15:09] #1128 closed, assigned to nobody

[2021-03-11 15:14] andrea-perego commented on #1085
@kurzum , do you have any further point you would like to discuss? Otherwise, we are going to close this issue.

[2021-03-11 15:18] andrea-perego commented on #1054
Following discussion in https://github.com/SEMICeu/DCAT-AP/issues/65 , the GeoNetwork plugin does not seem to implement DCAT2.

Closing.

[2021-03-11 15:18] #1054 closed, assigned to nobody

[2021-03-11 15:22] andrea-perego commented on #975
@dr-shorthair , @smrgeoinfo , I wonder whether you have any updates on this issue.

[2021-03-11 16:06] mathib commented on #1241
Hi @andrea-perego !

I have not been following the DCAT progress too close lately. Is there now a modeling approach for the referencing of named graphs in quadstores and RDF quad files? If this is not yet done but still wanted, I'll share below the final modeling approach I took in my research, using a self-made extension of DCAT, i.e. [CDC](https://w3id.org/cdc#). The modeling would be done as fo

[2021-03-11 16:45] joepio opened #1322 "Predicate to link from Distribution to Dataset"
We're implementing a Datasets and Distributions, and we have a need to link to a Dataset coming from a Distribution. Users can see a Distribution, and I want them to be able to see which Dataset it is part of. In the [specification](https://www.w3.org/TR/vocab-dcat-2/#Class:Distribution) I wasn't able to find a property / predicate URL for this. Maybe I'm missing something, or maybe there's a good

[2021-03-11 16:54] andrea-perego commented on #1241
Thanks for sharing this work, @mathib .

About your question, DCAT at the moment does not include the features you mention - the main point is whether they are in scope with DCAT or better left to DCAT profiles (as yours). We'll discuss this.

On a different note, looking at the CDC profile, I see that you have notions as [`cdc:AdditionAndDeletionDistribution`](https://mathib.github.io/cdc-ontolog

[2021-03-11 16:58] kurzum commented on #1085
@andrea-perego DCAT 2 failed to address this. It is still a huge gap. Are you moving things to DCAT 3?

[2021-03-11 17:17] andrea-perego commented on #1322
Thanks for contributing this use case, @joepio .

An inverse relationship for `dcat:distribution` was not present in the original version of DCAT, and it was not even included in DCAT2 as no use case or requirement was contributed about the need for such a feature.

At the moment, what you can do is to include also a statement `:dataset-xyz dcat:distribution :distribution-123 .` along with the des

[2021-03-11 17:21] mathib commented on #1241
I think it is, as I'm probably not the only one dealing with RDF publication mechanisms that include quads.

This is a bit more difficult to explain and different from the dataset versioning as required in the #1289. I developed the notion of dataset complements, i.e. a distribution of a dataset2 that complements an older dataset1 from another or the same organization  (e.g. in the case of heavy c

[2021-03-11 17:35] andrea-perego commented on #1085
@kurzum said:

DCAT3 is actually meant to include explicit support for versioning and dataset series.

The current drafts are available here:
- Versioning: https://w3c.github.io/dxwg/dcat/#dataset-versions
- Dataset series: https://raw.githack.com/w3c/dxwg/dcat-dataseries-issue1272/dcat/index.html#dataset-series (PR https://github.com/w3c/dxwg/pull/1292 yet to be merged)

Your comments would be we

[2021-03-11 18:46] joepio commented on #1322
Thanks for replying so quickly!

This could work in some cases, but it kind of conflicts with our linked data architecture, since it would require the server to be aware of which incoming links are relevant to a resource. [Our architecture](https://ontola.io/blog/full-stack-linked-data/) basically works like this: user fetches subject x, server returns all triples for that subject (but _not_ incom

[2021-03-11 22:29] dr-shorthair commented on #975
Not me, but @nicholascar may, as he is now helping ISO/TC 211 with linked data services

[2021-03-11 22:31] dr-shorthair commented on #1320
It was hard work making the Figure legible for DCAT2. So it might be time for option 2.

[2021-03-11 23:28] andrea-perego commented on #1287
I've created a draft PR to integrate the relevant SPDX class and properties: https://github.com/w3c/dxwg/pull/1323

A preview of the newly added sections:
- https://raw.githack.com/w3c/dxwg/dcat-distribution-digest/dcat/index.html#Property:distribution_checksum
- https://raw.githack.com/w3c/dxwg/dcat-distribution-digest/dcat/index.html#Class:Checksum

I've included a couple of EDNOTEs about additi

[2021-03-11 23:39] andrea-perego commented on #1319
I think the problem with option (3) is that we have already modified some examples in the draft of the DCAT3 spec, and added new ones.

So, I guess we should anyway maintain the examples of the different versions of DCAT separately, and go for option (2). We just have to decide where to place them. E.g., instead of creating a new folder under `dcat/`, an option is to have subfolders for each DCAT

[2021-03-12 10:38] riccardoAlbertoni commented on #1304
Yes, It can be closed.

[2021-03-12 10:38] #1304 closed, assigned to nobody

[2021-03-12 10:52] riccardoAlbertoni commented on #1320
As a first step, we might simplify the figure by removing the inherited data properties.  This would still provide the overall view. What do you think?

[2021-03-13 00:07] smrgeoinfo commented on #1307
The rational for the dcat:inSeries approach is that for series that are derived from e.g. continuous sensor feeds, there are new members of the series being added at periodic intervals. the dcat:inSeries approach allows the metadata for new members of the series to declare their membership without having to update the series metadata.
hmm, I suppose its easy enough to insert triples like (dataseri

[2021-03-13 10:12] andrea-perego commented on #1277
Thanks, @agbeltran & @riccardoAlbertoni .

@aisaac , could you please create a new issue on releases, following up from your point in https://github.com/w3c/dxwg/issues/1277#issuecomment-784557124 ?

[2021-03-13 10:14] andrea-perego commented on #1271
Noting no reaction, I'm flagging this issue as due for closing.

[2021-03-13 10:41] andrea-perego commented on #132
Noting no similar requirement was contributed since this issue was created, I'm closing this issue.

[2021-03-13 10:41] #132 closed, assigned to nobody

[2021-03-13 10:43] andrea-perego commented on #107
As no work is planned to update the UCR, this issue is not going to be addressed. Closing it.

[2021-03-13 10:43] #107 closed, assigned to nobody

[2021-03-13 10:46] andrea-perego commented on #130
Closing it, as no objections have been raised since flagged as due for closing.

[2021-03-13 10:46] #130 closed, assigned to aisaac, nicholascar, makxdekkers, rob-metalinkage, andrea-perego

[2021-03-13 10:48] andrea-perego commented on #163
I am closing this issue, as DCAT2 doesn't include alignments, besides schema.org, and we don't plan to work on this.

[2021-03-13 10:48] #163 closed, assigned to nobody

[2021-03-13 10:53] andrea-perego commented on #176
The DCAT vocabulary has eventually addressed this issue by adding `skos:changenote` - see https://github.com/w3c/dxwg/issues/923 , https://github.com/w3c/dxwg/issues/984 & al.

Closing.

[2021-03-13 10:53] #176 closed, assigned to nobody

[2021-03-13 11:08] andrea-perego commented on #224
As we have a specific issue (https://github.com/w3c/dxwg/issues/676) about adding examples to licences and rights, I propose to close this issue.

[2021-03-13 11:10] andrea-perego commented on #683
As no further work is planned on the UCR document, I'm closing this issue.

[2021-03-13 11:10] #683 closed, assigned to nobody

[2021-03-13 11:29] andrea-perego commented on #771
@dr-shorthair , based on what we have in DCAT 2, which work do you think is needed to address this issue?

[2021-03-13 11:34] andrea-perego commented on #545
An errata document is available for DCAT 2, and linked to from the spec:

https://w3c.github.io/dxwg/errata/

See https://github.com/w3c/dxwg/pull/1182 & https://github.com/w3c/dxwg/pull/1209

I'm closing this issue.

[2021-03-13 11:34] #545 closed, assigned to davebrowning

[2021-03-13 11:35] andrea-perego commented on #499
As no work is planned in DCAT on this issue, I propose to close it.

[2021-03-13 11:45] andrea-perego commented on #393
As work on profile guidance did not progress, the conditions above are not met, so I propose to close this issue.

[2021-03-13 11:55] andrea-perego commented on #313
There was no further discussion on this issue since 2018, and DCAT 2 has not eventually included a `dcat:size` property.

@agbeltran , do you think we can close it?

[2021-03-13 11:57] andrea-perego commented on #238
Noting no objections, I am closing this issue.

[2021-03-13 11:57] #238 closed, assigned to nobody

[2021-03-13 12:43] andrea-perego commented on #175
@davebrowning , unless you think we should still deal with this DCAT 2014 erratum, I propose we close this issue.

[2021-03-13 12:47] andrea-perego commented on #78
Noting no objections, I am closing this issue.

[2021-03-13 12:47] #78 closed, assigned to nobody

[2021-03-13 12:52] andrea-perego commented on #113
@makxdekkers , would you like to revive this issue? Or should we close it?

[2021-03-13 13:07] andrea-perego commented on #252
As no work is planned for a DCAT primer, I propose we close this issue.

[2021-03-13 13:16] andrea-perego commented on #1312
Unless there are any further actions to be taken, I propose we close this issue.

[2021-03-13 13:25] andrea-perego commented on #1272
These revisions are now implemented in PR https://github.com/w3c/dxwg/pull/1292

Preview of the relevant sections:
- https://raw.githack.com/w3c/dxwg/dcat-dataseries-issue1272/dcat/index.html#Class:Dataset_Series
- https://raw.githack.com/w3c/dxwg/dcat-dataseries-issue1272/dcat/index.html#dataset-series

[2021-03-13 13:53] andrea-perego commented on #60
Noting no objections, I am closing this issue.

[2021-03-13 13:53] #60 closed, assigned to nobody

[2021-03-13 13:54] andrea-perego commented on #5
@aisaac , unless there are any actions to be taken, I propose to close this issue.

[2021-03-13 13:56] andrea-perego commented on #8
@kcoyle , would you like to revive this issue? Otherwise, I propose we close it.

[2021-03-13 14:00] andrea-perego commented on #76
Noting no objections, I am closing this issue.

[2021-03-13 14:00] #76 closed, assigned to nicholascar

[2021-03-13 14:04] andrea-perego commented on #86
Trying to revive this issue, taking stock of the discussion in this thread:

Should we define a property `dcat:usageNote` (or similar), and suggest the use of DQV for more extended descriptions?

Otherwise, if we don't plan to address this requirement, I propose we close this issue.

[2021-03-13 14:05] andrea-perego commented on #87
Thanks, @riccardoAlbertoni .

Closing.

[2021-03-13 14:05] #87 closed, assigned to nobody

[2021-03-13 14:07] andrea-perego commented on #125
@dr-shorthair , would you like to revive this issue?

Otherwise, I propose we close it.

[2021-03-13 14:12] andrea-perego commented on #137
I wonder whether we should close this issue. DCAT 2 is out and we are receiving feedback on it. I don't we need a test suite at this stage.

[2021-03-13 14:17] andrea-perego commented on #144
I propose to close this issue, as it has been addressed in DCAT by maintaining access to the previous version of the RDF vocabulary from https://www.w3.org/ns/dcat

[2021-03-13 14:19] andrea-perego commented on #149
@agbeltran , is there any plan to create these alignments?

Otherwise, I propose we close this issue.

[2021-03-13 14:20] andrea-perego commented on #150
@agbeltran , is there any plan to create these alignments?

Otherwise, I propose we close this issue.

[2021-03-13 14:43] andrea-perego commented on #164
Should we revive this issue?

[2021-03-13 14:46] andrea-perego commented on #174
I don't think there's any need to keep this issue open - translations have been contributed and integrated.

I propose to close it.

[2021-03-13 15:02] andrea-perego commented on #266
@aisaac , @larsgsvensson , @nicholascar , @rob-metalinkage ,

Based on the discussion, it seems that this issue is about ConnegP and/or PROF, and that it has been addressed in both.

Should we close it?

[2021-03-13 15:07] andrea-perego commented on #302
@dr-shorthair , is there any work planned on this? Otherwise, I suggest we close this issue.

[2021-03-13 15:11] andrea-perego commented on #503
Noting no objections, I am closing this issue.

[2021-03-13 15:11] #503 closed, assigned to nobody

[2021-03-13 15:13] andrea-perego commented on #460
No objections raised. Closing this issue.

[2021-03-13 15:13] #460 closed, assigned to nobody

[2021-03-13 15:20] andrea-perego commented on #912
@dr-shorthair , would you like to revive this issue?

[2021-03-14 02:02] nicholascar commented on #164
I am still interested in this alignment as I'm about to start producing datasets from Australian census data that may need to be both DCAT2- and DDI-conformant. I'm happy to be drawn in to work here if DCAT core contributors lead.

[2021-03-14 02:04] nicholascar commented on #266
Yes, I think this is dealt with in ConnegP and the _Alternate Representations_ data model [ref in ConnegP](https://w3c.github.io/dx-connegp/connegp/#altr-detail). It's actually outside PROF's concerns as PROF only IDs and described the profiles.

[2021-03-14 02:04] #266 closed, assigned to nobody

[2021-03-14 06:10] dr-shorthair commented on #1320
I did that originally, but then it was requested to show the 'inherited' properties as well.
It might be that we need
1. one summary class diagram showing the relationships between the DCAT classes (i.e. the backbone)
2. one diagram-per-class with both local and 'inherited' properties

[2021-03-14 06:24] dr-shorthair commented on #1307
I agree with @smrgeoinfo that the more important relationship is from the part to the series - either `dcterms:isPartOf` or `dcat:inSeries`. And this case should be added to the description of `dcat:Dataset`.

This also impacts #1272.

[2021-03-14 06:27] dr-shorthair commented on #1272
The description of `dcat:Dataset` should be supplemented by recommendation to use `dcterms:isPartOf` (or `dcat:inSeries`) to match the recommendation to use `dcterms:hasPart` from a series to one of its parts.

[2021-03-14 06:31] rob-metalinkage commented on #258
Can this not be closed? - profile guidance seems to be descoped and this is not the right place for content neg issues, and its dealt with anyway.

[2021-03-14 06:34] dr-shorthair commented on #125
`xsd:decimal` does not make sense for `byteSize`. Should be `xsd:positiveInteger` or at least `xsd:integer`.

[2021-03-14 06:38] rob-metalinkage commented on #990
Closing this as no longer relevant to this repo. If something concrete that needs to be addressed about behavour or description can be identified it should be raised as a specific issue in the relevant project repo.

[2021-03-14 06:38] #990 closed, assigned to nobody

[2021-03-14 06:39] #978 closed, assigned to nobody

[2021-03-14 06:41] rob-metalinkage commented on #857
not a prof or connegp issue - its a profile guidance discussion as per @aisaac comment

[2021-03-14 06:50] rob-metalinkage commented on #802
This should be closed now as any further discussion should be raised with a specific proposal or evidence of an issue in dx-prof project repo.  No discussion about semantics of conformance is relevant there, since usage of a PROF described specification as range of dcterms:conformsTo merely applies the same semantics as dcterms:conformsTo - which is up to the community to determine.

[2021-03-14 07:12] dr-shorthair commented on #771
I think the documentation could be improved.

RDF Property: | dcterms:identifier
-- | --
Definition: | A unique identifier of the resource
Range: | rdfs:Literal
Usage note: | The identifier is a text string which is assigned to the resource to provide an unambiguous reference within a particular context. A resource may have more than one identifier assigned by different authorities, or for use in

[2021-03-14 07:29] dr-shorthair commented on #164
@agbeltran has been working on this.

[2021-03-14 07:34] dr-shorthair commented on #912
Yeah - I think it would be smart. SDO has continued to be very relevant in this space.

[2021-03-14 12:48] andrea-perego commented on #125
@dr-shorthair said:

No particular concern from my side.

If we are going to change it, then probably we should go for `xsd:positiveInteger` or `xsd:nonNegativeInteger`.

[2021-03-14 12:50] riannella commented on #1287
I would update the definition to be _"The Checksum includes the algorithm and value that allows the integrity of a file to be verified to ensure no errors were detected in transmission or storage."_

[2021-03-14 12:58] riannella commented on #1307
In our sector, for example, a Regulator would say the more important relationship was from the series to the parts.
Lets have both.

[2021-03-14 13:16] andrea-perego commented on #771
About the proposed usage note:

I think that suggesting that `dcterms:identifier` can be used for multiple identifiers has some issues ([UC11](https://www.w3.org/TR/dcat-ucr/#ID11) gives some background information) and it is not aligned with what said in [§7 Dereferenceable identifiers](https://www.w3.org/TR/vocab-dcat-2/#dereferenceable-identifiers), which makes a distinction between primary and

[2021-03-14 18:51] kcoyle commented on #258
This came up in the profile guidance discussions. Profile negotiation can be removed but it should remain for any future work on profile guidance.

[2021-03-14 19:04] andrea-perego commented on #258
Done.

[2021-03-14 19:10] andrea-perego commented on #802
Thanks, @rob-metalinkage . So, the question is whether this is or not in scope with the Profile Guidance document.

[2021-03-14 19:12] kcoyle commented on #771
@andrea-perego I don't think that you can limited the scope of `dcterms:identifier` to a single primary identifier - "primary" can vary based on usage by different communities. If you want an identifier that is specific to and limited to the catalog then I think you need a DCAT property for that.

[2021-03-14 19:58] kcoyle commented on #802
I do not recall the profile guidance document having considered this "profile of" relationship, although it would be good to think about the concept in general. My feeling is that the guidance document will state that "profile of" is not a precise or useful designation in most cases. However, I think this needs to be transferred to the PROF github area since this was specifically a response to the

[2021-03-14 21:39] andrea-perego commented on #1287
@riannella said:

I've added it as a usage note to `spdx:Checksum` - see https://raw.githack.com/w3c/dxwg/dcat-distribution-digest/dcat/index.html#Class:Checksum

[2021-03-14 23:29] rob-metalinkage commented on #802
Already addressed in PROF - it merely used assumes same semantics as dcterms:conformsTo - which is however a community chooses to interpret conformance, PROF allows description of _what_ is being conformed to, not _how_.

[2021-03-14 23:50] nicholascar commented on #771
Wouldn't it be simpler to stick to one property for everything, qualified if need be (thus indicating `adms:idnetifier`, rather than `dct:identifier`) as surely it will confuse users to see two properties with the same ID but different namespaces and different modes of use.

So use `adms:identifier` for 'the identifier assigned to the resource in the catalogue' but create some scoping for that (pe

[2021-03-15 00:28] riannella commented on #1272
In Example 35, can we add a parent `dcat:Catalog` entity to show the complete hierarchy:

[code]

[2021-03-15 00:40] kcoyle commented on #802
I find this area of the document quite confusing, tbh. The vocabulary includes [dct:conformsTo](https://www.w3.org/TR/dx-prof/#Property:conformsTo) as well as [prof:isProfileOf](https://www.w3.org/TR/dx-prof/#Property:isProfileOf). The latter has a range of dct:Standard. I don't see how the prof property has any relation to the dct property, other than a note. The statement under the former is unc

[2021-03-15 01:25] nicholascar commented on #802
You have indicated the note in the `prof:isProfileOf` property definition that points to the `dct:conformsTo` usage notes that
give the formal, ontological axiom: <https://www.w3.org/TR/dx-prof/#Property:conformsTo>, viz:

**Property Chain Axiom**: `owl:propertyChainAxiom ( prof:isProfileOf dct:conformsTo )`

This is precisely the mechanism used to formally relate the prof and dct properties

[2021-03-15 06:04] jakubklimek commented on #1307
Regarding the `hasSeriesMember` and `inSeries`, the way it is defined now it always connects an instance of dataset series to an instance of the dataset. However, the dataset series may have a hierarchical nature, with a different kind of series on each level, e.g. the top-level series is split according to topical facets, the next level according to geographical division, and the lowest level acc

[2021-03-15 06:08] dr-shorthair commented on #1307
@jakubklimek because of the subclass axiom
[code]
isn't the issue you describe already taken care of implicilty?

[2021-03-15 06:14] jakubklimek commented on #1307
@dr-shorthair ahh, ok, of course. I lost track of the state of the discussion about whether DatasetSeries should be a subclass of dataset/catalog/resource. I guess my use case is an argument for it being a subclass of dataset.

[2021-03-15 11:41] riccardoAlbertoni commented on #1272
added the catalog using  `dcat:dataset` instead of `dcterms:hasPart` in PR #1328

[2021-03-16 02:47] rob-metalinkage commented on #1211
@andrea-perego w.r.t. can you shed any light on these:

https://inspire.ec.europa.eu/metadata-codelist/ProtocolValue

they reference a sort of "abstract typing" for specific OGC specifications - not the specific implementing versions.

I suspect that what they really do implicitly is reference an INSPIRE profile of a particular version of a standard, as defined in some out of band rules or guidanc

[2021-03-16 06:21] riannella commented on #1272
The dcat:dataset property makes _sense_ when referring to a dcat:Dataset, but not a dcat:DatasetSeries.

In Example 35, it uses dcterms:hasPart to refer to the dcat:Dataset.

So, there are inconsistencies.

[2021-03-16 15:12] kcoyle commented on #802
@nicholascar Ah, I missed that, thanks - I was focused on the prof:isProfileOf definition, which doesn't include that. However, I still don't see that they have the "same semantics". In fact, their definitions differ considerably - which is fine.  I also vaguely understand that the property chain needs an "anchor" such as a super (or super-super) class. Anyway, I guess my response is "whatever". T

[2021-03-16 16:45] init-dcat-ap-de commented on #1272
What about making the dcat:DatasetSeries a subclass of dcat:Catalog?
I am not really a fan of this, but it seems like we are discussing a lot of parallel ideas.

[2021-03-16 20:50] riccardoAlbertoni commented on #1307
Some discussions about the names of these properties have taken place in PR  #1328.
I am going to report the gist of the discussions below, as this issue seems to be a better place where to discuss.

_Originally posted by @andrea-perego in https://github.com/w3c/dxwg/issues/1328#issuecomment-798960696_

_Originally posted by @riccardoAlbertoni in https://github.com/w3c/dxwg/issues/1328#issuecommen

[2021-03-16 22:40] dr-shorthair commented on #1272
@init-dcat-ap-de Please scroll up in this thread and you will see that this was already discussed - e.g. https://github.com/w3c/dxwg/issues/1272#issuecomment-784014802

[2021-03-17 03:05] smrgeoinfo commented on #912
my only reservation would be the SDO guidance for sdo:rangeIncludes:

[code]
I know those aren't binding in the rdf definitions....

[2021-03-17 03:38] dr-shorthair commented on #912
Mashing up this rule with RDFS entailments would merely make the target class _also_ a sub-class of sdo:Class. Harmless AFAICT.

[2021-03-17 07:17] riannella commented on #1307
I find _parts_ and _parent/child_ to ok for generic relationships. I think we can be more specific and use property names that are aligned to the domain of _data catalog publishing_.

@dr-shorthair proposal above with `dcat:hasSeriesMember` and `dcat:inSeries` is good for the relationships between the `dcat:DatasetSeries` and the `dcat:Dataset`.

I would then go further and propose (in the same wa

[2021-03-17 12:54] andrea-perego commented on #1225
@rob-metalinkage , @kcoyle , @jakubklimek ,

I've added a few paragraphs in the ED at the end of [§13.2.1 Conformance to a standard](https://w3c.github.io/dxwg/dcat/#quality-conformance-statement) (PR https://github.com/w3c/dxwg/pull/1310), to provide guidance on the URIs to be used with `dcterms:conformsTo`.

Do you think this is addressing the issue?

[2021-03-17 12:59] jakubklimek commented on #1225
@andrea-perego looks good to me.
There is a typo I think:
![image](https://user-images.githubusercontent.com/718827/111471281-09a2b880-8729-11eb-8dc0-e5cc3b5c4c79.png)

[2021-03-17 14:25] andrea-perego commented on #1225
Thanks for spotting this, @jakubklimek .

Fixed via commit https://github.com/w3c/dxwg/pull/1323/commits/03ca0bcd9ce699ca43beb05ab76123898cf4a8dc on existing PR (yet to be merged).

[2021-03-17 14:31] riccardoAlbertoni commented on #1307
Thanks for the comment, @riannella:

`dcat:catalog` is already used in existing implementations,  as it was defined in DCAT 2. Moreover,  it follows the same name convention of `dcat:dataset`, `dcat:distribution`, `dcat:record` defined in DCAT 1, and `dcat:service` defined in DCAT 2.

  I am afraid that changing the name of  `dcat:catalog` has more disadvantages than advantages. In particular, It

[2021-03-17 15:12] smrgeoinfo opened #1330 "DCAT Example 41: need different relation for CRS on spatial locations in dataset."
in the current editors draft in the ['Conformance to a standard'](https://w3c.github.io/dxwg/dcat/#quality-conformance-statement) section, there is the recommendation to specify the reference system (SRS or CRS) used in a spatial dataset using dcat:conformsTo (Example 41).  I don't think this relationship is conformance, its more like 'uses'. It should be a property of something like schema.org va

[2021-03-17 21:50] agreiner commented on #1307
Hm, I'm getting a little concerned about the direction here. This thread shows at least three people who agreed that it would be beneficial to only define the inSeries property and leave out hasSeriesMember or whatever, because it makes it difficult to determine membership in a series programmatically, since one doesn't know in advance which approach is taken in the metadata. Yet we have people sa

[2021-03-17 22:25] riccardoAlbertoni commented on #1307
In tonight's call,  `dcat:catalogMember`has been proposed  instead of `dcat:hasCatalogMember`  to maintain the consistence with `dcat:catalog`, `dcat:dataset`, `dcat:distribution`, `dcat:record`.

@andrea-perego, @riannella, @dr-shorthair: How  `dcat:catalogMember` sounds to you?

[2021-03-18 00:51] agreiner commented on #1307
I think that's okay if people really need to mark that up in metadata, but honestly, I don't see why anyone would use that if they can just use the catalog itself. If it's intended to be used for a series, I don't think most people will even think that it has anything to do with a series.

[2021-03-18 01:36] riccardoAlbertoni commented on #1307
Thanks for your comment, @agreiner.  I understand your concern.

As for your previous specific comment,

I suspect the metadata of the dataset series needs to be updated anyway. Especially if we keep the upstream inheritance explained in https://raw.githack.com/w3c/dxwg/dcat-dataseries-issue1272/dcat/index.html#dataset-series  where it is said: "The update date (dcterms:modified) of the dataset se

[2021-03-18 06:05] rob-metalinkage commented on #802
They dont have the same semantics at all.  The axiom makes the inference chain explicit, and does not state these are equivalent.
People dont like axiomitisation because its hard to read, and I get that, but it also makes things explicit and unambiguous so we reluctantly included it because this inferencing is the point here.

[2021-03-18 12:17] riannella commented on #1307
OK

[2021-03-20 09:15] andrea-perego commented on #1291
No additional points have been raised. Closing this issue.

[2021-03-20 09:15] #1291 closed, assigned to nobody

[2021-03-20 09:17] andrea-perego commented on #1271
Closing it.

[2021-03-20 09:17] #1271 closed, assigned to nobody

[2021-03-20 09:18] andrea-perego commented on #224
Noting no objections, I'm closing this issue.

[2021-03-20 09:18] #224 closed, assigned to nicholascar, makxdekkers

[2021-03-20 09:18] andrea-perego commented on #499
Noting no objections, I'm closing this issue.

[2021-03-20 09:18] #499 closed, assigned to nobody

[2021-03-20 09:19] andrea-perego commented on #393
Thanks, @kcoyle . Closing this issue.

[2021-03-20 09:19] #393 closed, assigned to dr-shorthair, agbeltran, davebrowning

[2021-03-20 09:20] andrea-perego commented on #313
Noting no objections, I'm closing this issue.

[2021-03-20 09:20] #313 closed, assigned to nobody

[2021-03-20 09:20] andrea-perego commented on #175
Noting no objections, I'm closing this issue.

[2021-03-20 09:21] andrea-perego commented on #113
Noting no objections, I'm closing this issue.

[2021-03-20 09:21] #113 closed, assigned to makxdekkers

[2021-03-20 09:21] andrea-perego commented on #252
Noting no objections, I'm closing this issue.

[2021-03-20 09:21] #252 closed, assigned to pwin, riccardoAlbertoni

[2021-03-20 09:22] andrea-perego commented on #1312
Thanks, @kcoyle . Closing this issue.

[2021-03-20 09:22] #1312 closed, assigned to nobody

[2021-03-20 09:23] andrea-perego commented on #86
Noting no reactions, I'm closing this issue.

[2021-03-20 09:23] #86 closed, assigned to nobody

[2021-03-20 09:24] andrea-perego commented on #137
Noting no objections, I'm closing this issue.

[2021-03-20 09:24] #137 closed, assigned to nobody

[2021-03-20 09:24] andrea-perego commented on #144
Noting no objections, I'm closing this issue.

[2021-03-20 09:24] #144 closed, assigned to dr-shorthair, RubenVerborgh, rob-metalinkage, andrea-perego

[2021-03-20 09:25] andrea-perego commented on #149
Noting no objections, I'm closing this issue.

[2021-03-20 09:25] #149 closed, assigned to agbeltran

[2021-03-20 09:25] andrea-perego commented on #150
Noting no objections, I'm closing this issue.

[2021-03-20 09:25] #150 closed, assigned to agbeltran

[2021-03-20 09:26] andrea-perego commented on #161
Unless there are any objections, I propose we close this issue.

[2021-03-20 09:26] andrea-perego commented on #174
Noting no objections, I'm closing this issue.

[2021-03-20 09:26] #174 closed, assigned to akuckartz

[2021-03-20 09:27] andrea-perego commented on #302
Noting no objections, I'm closing this issue.

[2021-03-20 09:27] #302 closed, assigned to nobody

[2021-03-20 09:33] andrea-perego opened #1331 "Should DCAT be more explicit on releases?"
ℹ️ Originally posted in https://github.com/w3c/dxwg/issues/1277#issuecomment-784557124 by @aisaac :

[2021-03-20 09:36] andrea-perego commented on #1277
I created this issue: https://github.com/w3c/dxwg/issues/1331

@aisaac , could you please check if it needs to be further elaborated?

Meanwhile, I'm closing this issue.

[2021-03-20 09:36] #1277 closed, assigned to nobody

[2021-03-20 15:55] andrea-perego commented on #771
Thanks, @kcoyle . Defining a specific property in the DCAT namespace can be an option, but I suggest we deal with this in a separate issue, and we first address the inconsistency between the possibility of using `dcterms:identifier` for both primary and secondary identifiers and what said in the relevant guidance section (https://www.w3.org/TR/vocab-dcat-2/#dereferenceable-identifiers)

[2021-03-20 23:01] andrea-perego opened #1332 "Review of DCAT conformance statement"
Originally raised in https://github.com/w3c/dxwg/issues/430#issuecomment-784919449 by @aisaac , in relation to the conformance statement in https://www.w3.org/TR/vocab-dcat-2/#conformance :

As per what suggested by @aisaac , we would very much appreciate feedback from implementers about possible issues in the DCAT conformance statement.

[2021-03-20 23:03] andrea-perego commented on #430
Issue created: https://github.com/w3c/dxwg/issues/1332

Removing "dcat" label and adding "profile-guidance".

[2021-03-20 23:37] andrea-perego commented on #1307
@riccardoAlbertoni , if I correctly recall the last meeting, the discussion was about the relationship between a series and its members, with a proposal of calling it `dcat:seriesMember`.

To be consistent, the relationship between a `dcat:Catalog` and a `dcat:Resource` should rather be `dcat:resource`. I would also avoid relating the two semantically, as the notion of "membership" in a catalogue

[2021-03-20 23:56] andrea-perego commented on #771
@nicholascar , I think `dcterms:identifer` / `adms:identifier` are already playing these roles - i.e., `dcterms:identifier` being used as the un-qualified form of `adms:identifier`.

[2021-03-21 20:54] agreiner commented on #1307
My understanding of W3C's process is that we take the best guess of the working group and publish that for input from the community, not that we take what feels the most inclusive and put that forth. By typing +1 in a meeting to publish, one says in effect that they are supportive of the text as it stands and okay with the assumption by the rest of the world that you stand by it. Notes can be help

[2021-03-22 02:46] dr-shorthair commented on #771
Indeed. That was what I meant by 'context' in my proposal.

[2021-03-22 04:36] riannella opened #1333 "Add on ODRL Policy Example"
To help the user understand how to use the odrl:hasPolicy (in a DCAT description) can we add a more detailed example to section 8?
For example....

--------
The below example shows how to express a dataset policy where the use of `<ds4242>` has very specific usage rules. In this case, the dataset can be read and derivatives can be created but no commercial use of the dataset is allowed. In additio

[2021-03-22 08:22] bertvannuffelen commented on #1332
Conformance is very complicated story. In particular if one takes into account machine conformance checking.

A first observation that one has to make is what should be included in the conformance check. That is open for interpretation.
Is the usage of the label part of it? Is the usage of the definition part of it? Is the usage of the Usage Note part of it?
The proposed conformance statement on r

[2021-03-22 08:36] bertvannuffelen opened #1334 "distribution > dcat:accessURL"
In https://www.w3.org/TR/vocab-dcat-2/#Property:distribution_access_url

is stated.

Why is this stated in this way, and why is it axiomatized? This brings a very strict one-on-one relationship between dataservice and distribution which I do not think is often the case.

In many services the dataservice endpointurl points to many datasets, and thus many distributions.
Eg. consider https://docs.git

[2021-03-22 09:18] andrea-perego commented on #1333
Thanks for the proposal, @riannella .

We actually have an open issue about adding examples on licences and access rights (https://github.com/w3c/dxwg/issues/676). We'll include your example.

[2021-03-22 10:04] andrea-perego commented on #1307
Looking at this thread, I think there's a general agreement on `dcat:inSeries` (which is what is issue was specifically about), but still some concerns on its inverse and other design issues (including those raised by @agreiner ).

Therefore, I propose we revise PR https://github.com/w3c/dxwg/pull/1292 by provisionally removing the inverse of `dcat:inSeries`, and then merge it (it has been around

[2021-03-22 10:18] riccardoAlbertoni commented on #1307
Yes, I agree with the direction you have suggested. I am going to update the PR and open a new issue accordingly.

[2021-03-22 10:27] riccardoAlbertoni commented on #1307
Thanks, @andrea-perego , you are right. I switched series with catalog for some mysterious reasons, but series was the one I meant. My apologies ... .

[2021-03-22 11:01] riannella commented on #1322
Sounds like more evidence for the requirement for inverse predicates to be defined.

[2021-03-22 13:11] riccardoAlbertoni opened #1335 "Do we need a new property dcat:seriesMember defined as dcat:inSeries's inverse?"
Do we need a new property (let's name it `dcat:seriesMember`) defined as `dcat:inSeries`'s inverse?

Requests for `dcat:inSeries`'s inverse to connect the dataset series to its children have been discussed in issue #1307.

Part of the previous discussion is reported below.

_Originally posted by @riannella in https://github.com/w3c/dxwg/issues/1307#issuecomment-798902564_

Let's have both.

Most o

[2021-03-22 17:38] riccardoAlbertoni commented on #1307
If we do not need to open other issues besides #1335, this issue can be closed as soon as we merge the changes in PR #1292.

[2021-03-22 17:41] riccardoAlbertoni commented on #1272
A class DatasetSeries is going to be added by PR #1292. If there are no objections I think we can close this issue as soon as the PR is merged.

[2021-03-22 23:13] andrea-perego commented on #1273
This topic was partially discussed in https://github.com/w3c/dxwg/issues/1307

I report below the relevant comments.

@agreiner - https://github.com/w3c/dxwg/issues/1307#issuecomment-793225598

@riccardoAlbertoni - https://github.com/w3c/dxwg/issues/1307#issuecomment-801550988

@agreiner - https://github.com/w3c/dxwg/issues/1307#issuecomment-803658293

[2021-03-22 23:16] andrea-perego commented on #1307
Thanks, @riccardoAlbertoni .

I wonder whether we should also open a separate issue about the general approach to be taken to deal with inverse properties.

BTW, part of the discussion in this thread fits into https://github.com/w3c/dxwg/issues/1273 . I posted there the relevant comments.

[2021-03-22 23:19] riannella commented on #1335
Yes.
(Also, it is important to note that it is not mandatory to "maintain" both properties.)

[2021-03-23 12:42] riccardoAlbertoni opened #1336 "Applying PROV's lightweight approach for DCAT inverse properties"
Discussions on adding inverse DCAT properties have appeared in distinct issues (e.g., #1322 and #1335).
Some people feel DCAT should recommend only one direction of properties, essentially to avoid extra efforts when maintaining and consuming the metadata. Others argue that inverse properties are not that difficult to maintain.

A middle-out option would be supporting inverse properties with a "li

[2021-03-23 12:47] riccardoAlbertoni commented on #1307
opened a new issue #1336

[2021-03-23 16:20] #1272 closed, assigned to nobody

[2021-03-23 16:20] #1307 closed, assigned to nobody

[2021-03-23 17:50] agreiner commented on #1335
The problem for developers with having both properties is that one doesn't know whether the creator of a dataset's metadata chose to list all the datasets in the series in the metadata for the series itself, or to assert membership in the series in the metadata for each dataset. Querying for those relationships would become treacherous, because one would have to detect both techniques and also dea

[2021-03-23 20:29] dr-shorthair commented on #1335
I tend to agree with @agreiner .

@riannella wants to keep track of members from the context of the series. But this is easily done with just the one predicate.. When he adds a new member `<m99>` to a series `<s88>`, he adds this triple to the graph:

[code]

then he can easily find all the members of the series with a simple query of that direction, e.g. in SPARQL

[code]

Doesn't that satisfy th

[2021-03-23 20:31] dr-shorthair commented on #1336
It is a bit clunky, but there is the PROV precedent.

[2021-03-24 04:08] riannella commented on #1335
@dr-shorthair That **is a possible** solution, but from this:

it cannot be **the** solution.

@agreiner  If someone has a Series and links this to 10 datasets, and only 9 of these datasets links back to the Series (for whatever reason)....how does his create difficulty? (from a specification point-of-view)

[2021-03-24 04:11] riannella commented on #1336
I was shocked to read that approach in a W3C recommendation.

[2021-03-24 04:36] dr-shorthair commented on #1335
Which aspect of that statement are you interested in here @riannella? Is it just the different serializations?
That is not important - I used TTL because it is easier to type into a GitHub issue. No problem if you prefer one of the other serializations.

The point I was trying to make is that if `dcat:seriesMember owl:inverseOf dcat:inSeries .` then
[code]
provides exactly the same information as

[2021-03-24 04:37] dr-shorthair commented on #1336
They implicitly reserved the keywords without actually implementing them.

[2021-03-24 05:40] riannella commented on #1335
The `SPARQL` bit. (I could describe my DCAT using RDFa in HTML files.)

I am slightly confused now...you say we have both properties (`dcat:seriesMember owl:inverseOf dcat:inSeries .`) - great - then you say you only need one assertion to be added to the graph (_assuming every implementations uses a graph_), - lets keep going - then you say, because we only need one  assertion (infer the other) th

[2021-03-24 05:49] dr-shorthair commented on #1335
I'm saying that if we notionally define the inverse pair like that, then we discover that we don't actually need both of them to represent the same knowledge. So best only include one, and explain to people who think they need the inverse why they actually don't.

If you are not implementing a graph or triple-store, then you must be mapping to RDF on the interface, in which case the same argument

[2021-03-25 23:36] andrea-perego commented on #1246
Dear @aidig ,

Many apologies for replying so late.

You points 1 & 2 are being addressed in PR https://github.com/w3c/dxwg/pull/1337

About point 3, this issue is under discussion in https://github.com/w3c/dxwg/issues/975 , and we have yet to take a decision.

About point 4:

(source: http://fis.uni-bonn.de/en/recherchetools/infobox/professionals/resolution/spatial-resolution)

I'm not sure about

[2021-03-26 10:30] aisaac commented on #1211
@rob-metalinkage maybe this could be a different github issue? I was much involved in the creation of the issue, and I can't make the link. There is probably one, but it's unclear and it seems it hints to a more general (or specific?) issue whether to pointing to time-stamped standards or more abstract ones.

The original issue was one of pointing either to the standard or to the document expressi

[2021-03-26 12:30] andrea-perego opened #1338 "Should dct:conformsTo point to a specific version of a specification?"
Originally posted by @rob-metalinkage in https://github.com/w3c/dxwg/issues/1211#issuecomment-799901653 :

[2021-03-26 12:30] andrea-perego commented on #1211
@aisaac said:

Yep, better to create a separate issue, not to overload this one.

@rob-metalinkage , I've copy-pasted your comment in https://github.com/w3c/dxwg/issues/1338 . I'll reply to you there.

[2021-03-26 14:52] andrea-perego commented on #1338
@rob-metalinkage said:

That's correct, as they use the URIs from the OGC Naming Authority - e.g.:

http://www.opengis.net/def/serviceType/ogc/wms

Actually, the ProtocolValue code list was set up primarily to ensure a consistent specification of service types in INSPIRE / ISO 19115 metadata. The URIs in that code list are a subset of those maintained in

https://github.com/OSGeo/Cat-Interop/blob/

[2021-03-26 16:29] andrea-perego commented on #1225
PR https://github.com/w3c/dxwg/pull/1323 merged.

[2021-03-26 16:51] andrea-perego commented on #1211
@aisaac said:

You're right, @aisaac . The revision you refer to stems from discussion in https://github.com/w3c/dxwg/issues/1225 - in particular, https://github.com/w3c/dxwg/issues/1225#issuecomment-719374471 -, and I'm afraid I forgot about what discussed in this thread.

Following the discussion in https://github.com/w3c/dxwg/issues/1225 , we have updated the draft by providing some guidelinles

[2021-03-26 17:44] agbeltran commented on #1246
About the first point on the labels, I would prefer to keep the labels as they are but add a ```skos:altLabel``` with the ```has x``` labels.

Actually, for some of the translations this as already been done, see:
https://github.com/w3c/dxwg/blob/be83b5cf4d2657cac23937a423158e6bae53177e/dcat/rdf/dcat2.ttl#L646

This would affect @riccardoAlbertoni 's PR (https://github.com/w3c/dxwg/pull/1337)

[2021-03-26 17:55] andrea-perego commented on #1246
I agree. I think we'd better keep aligned the labels with DCAT and DCAT2 for the properties used in those specs.

[2021-03-26 17:59] agbeltran commented on #1246
Following up from my previous comment - there are two aspects, the text of the specification and the RDF representation.
@aidig perhaps you can clarify, but my reading of your issue is that you were referring to the RDF representation rather than the spec when pointing out about the labels? Or were you referring to both?

I think that for the spec, it is clear when it refers to a class or a proper

[2021-03-26 18:21] agbeltran commented on #1246
Just one more thing, as per the subject on the issue, @aidig was talking about DCAT2.ttl.

[2021-03-27 16:23] andrea-perego commented on #676
Examples added via PR https://github.com/w3c/dxwg/pull/1339

[2021-03-27 16:24] andrea-perego commented on #1333
@riannella , I've added a slightly revised version of your example via PR https://github.com/w3c/dxwg/pull/1339

Could you please check and tell me if you are happy with it?

[2021-03-27 19:36] andrea-perego commented on #161
Noting no objections, I'm closing this issue.

[2021-03-27 19:36] #161 closed, assigned to jpullmann, rob-metalinkage, fanieli

[2021-03-27 19:38] andrea-perego commented on #1287
The relevant updates have been merged into the ED via PR https://github.com/w3c/dxwg/pull/1323

Unless there are any objections, I propose we close this issue.

[2021-03-27 23:28] andrea-perego commented on #1308
Coming back to the original topic of this issue:

I've created a PR (https://github.com/w3c/dxwg/pull/1340) to add `adms:last`, `adms:next`, `adms:prev` to `dcat:Resource`.

After having done that, I wonder whether we should define these properties in the DCAT namespace.

The reason is as follows:

`adms:last`, `adms:next`, and `adms:prev` are defined in ADMS as subproperties of `xhv:last`, `xhv:n

[2021-03-28 20:58] aisaac commented on #1211
@andrea-perego thanks for the answer. I must say I am mildly convinced by the discussion on #1225. The protocol URI seems to have appeared out of the blue there, without explanation.

I have tried to see if the European Data Portal could give us expectation of the usage of the protocol URI vs the query language URI. Firing the query
[code]
at [https://www.europeandataportal.eu/sparql-manager/en/](

[2021-03-28 21:30] andrea-perego commented on #1211
@aisaac said:

I think it came out after I made a reference - see https://github.com/w3c/dxwg/issues/1225#issuecomment-718265384 - to the list of URIs maintained by OSGeo, where they use https://www.w3.org/TR/sparql11-protocol :

https://github.com/OSGeo/Cat-Interop/blob/master/LinkPropertyLookupTable.csv

An argument could be that what distinguishes a service / API are the protocol and query para

[2021-03-28 21:38] andrea-perego commented on #1225
@rob-metalinkage , @kcoyle , @jakubklimek ,

Not having got further input on the guidelines added to the ED, I propose we close this issue, and we move the discussion to the following threads:
- for discussion about which URIs to be used with `dcterms:conformsTo`: https://github.com/w3c/dxwg/issues/1211
- for discussion on conformance with specific versions or profiles: https://github.com/w3c/dxwg

[2021-03-28 22:02] andrea-perego commented on #1020
@larsgsvensson ,

Trying to verify whether the remaining points you raised have been eventually addressed.

Many thanks for your patience.

About this one - https://github.com/w3c/dxwg/issues/1020#issuecomment-529351294 :

The corresponding revision has been implemented via PR https://github.com/w3c/dxwg/pull/1059

See: https://www.w3.org/TR/vocab-dcat-2/#bib-dcat-ap.de

About your point (2) , fol

[2021-03-28 22:11] andrea-perego commented on #152
The DataCite profile of DCAT-AP (CiteDCAT-AP) - mentioned in https://github.com/w3c/dxwg/issues/152#issuecomment-371339299 - is now aligned with DCAT 2:

https://ec-jrc.github.io/datacite-to-dcat-ap/#methodology

Unless there are any objections, I propose we close this issue.

[2021-03-28 22:56] andrea-perego commented on #1130
Reviewing this thread, it seems that some of the issues under discussion have been addressed as explained in https://github.com/w3c/dxwg/issues/1130#issuecomment-549077066

About the possible still open ones, I propose we address them more punctually by moving the discussion to issues https://github.com/w3c/dxwg/issues/1211 and https://github.com/w3c/dxwg/issues/1338 (if in scope) and, if need be,

[2021-03-28 23:06] rob-metalinkage commented on #1338
@andrea-perego - fair enough - this is a statement about service-type, which can be read as a very abstract version of a dct:Standard - where conformance (always a community practice) means implementation of some specific protocol that is classified as this service type.

I think the implication of this is that the OGC should mint formal profile definitions for serviceTypes - and make each specifi

[2021-03-28 23:36] andrea-perego commented on #1334
Just for the records, the decision behind the specification of the property chain stems from https://github.com/w3c/dxwg/issues/124

[2021-03-28 23:38] andrea-perego commented on #145
As https://github.com/w3c/dxwg/issues/124 has been addressed, I propose we close this issue.

[2021-03-28 23:43] andrea-perego commented on #352
It seems the discussion on this issue moved to https://github.com/w3c/dxwg/issues/763

I propose to close it, and continue the discussion there (if still relevant).

[2021-03-28 23:48] andrea-perego commented on #648
Are we still planning to add this example?

[2021-03-28 23:49] andrea-perego commented on #726
@pwin , are you interested in reviving this issue?

[2021-03-28 23:54] andrea-perego commented on #946
@dr-shorthair , are you interested in reviving this issue?

[2021-03-28 23:56] andrea-perego commented on #1227
@riccardoAlbertoni , are you interested in reviving this issue?

Noting it indirectly relates to https://github.com/w3c/dxwg/issues/124 and https://github.com/w3c/dxwg/issues/1334

[2021-03-28 23:59] andrea-perego commented on #1230
Going through the thread, the issue seems to have been addressed.

I propose to close it.

[2021-03-29 00:11] andrea-perego commented on #1235
@agbeltran said:

I therefore propose we close this issue.

[2021-03-29 02:39] riannella commented on #1308
If the definitions mention **versions** then they are not appropriate for these cases - so define our own is ok
If we have "last" should we have "first" ?

[2021-03-29 02:55] riannella commented on #1333
Some comments/feedback:

1) Why did you move the hasPolicy to the Distribution level? The policy statements are more relevant at the Dataset/Series level (ie they are not access control statements)

2) In the green NOTE, please also add [ODRL-MODEL] with [ODRL-VOCAB]

3) In the para above that (Starting with "Finally...") I never understood what this means "...in addition to the corresponding [DCT

[2021-03-29 05:07] jakubklimek opened #1341 "Make URIs vs. IRIs consistent in the DCAT document"
Throughout the DCAT document, both URIs and IRIs are used to refer to identifier types in various places.
I suspect that this is, at this moment, an unintentional inconsistency.
In many places (e.g. https://w3c.github.io/dxwg/dcat/#Property:resource_identifier) the usage of URIs is unnecessarily restrictive. For instance, in Czechia, those are almost always IRIs.

Since the document references RFC

[2021-03-29 05:22] jakubklimek commented on #1211
@aisaac this is not proof as this comes from our Czech catalog where I used it in connection to [the referenced discussion](https://github.com/w3c/dxwg/issues/1225#issuecomment-716334778).

I agree with @andrea-perego in the argumentation that the protocol (e.g. HTTP methods and Media types) is what characterizes the data service more than the specification of the query language.

[2021-03-29 10:08] dr-shorthair commented on #946
Hmm. The following properties from the DCAT namespace may be of general interest, so we might consider registering as IANA link relations: `dcat:accessService`, `dcat:endPointDescription`, `dcat:endPointURL`, `dcat:previousVersion`, `dcat:hasVersion`, `dcat:isVersionOf`, `dcat:hasCurrentVersion`, `dcat:inSeries`.