[2019-08-26 08:20] aisaac commented on #800
For the record I've searched for "Irene" in the whole DXWG comment list and it seems that we have never even acknowledged Irene's mail! And we have an issue for it? (the one here is only on a part of Irene's mail)

[2019-08-26 08:24] aisaac commented on #661
@rob-metalinkage my friendly advice, looking at all the discussion that there is going to be about 3PWD, would be to email Irene now. Anyway, it's better to warn commenters asap, in case they would have something to say, which would have been relevant to include in whatever PWD!

[2019-08-26 08:25] aisaac commented on #661
Another formality: now that so much time has passed I guess we should acknowledge the source of the comment (also in the answer): I guess it was https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0001.html ?

[2019-08-26 08:28] aisaac commented on #400
Everyone isn't this better for the Profile Guidance doc rather than PROF? It seems like it's about putting everything in a consistent picture, and we agreed a while ago that this is the job of the Profile Guidance (which already cites the Singapore Framework btw). No need to impose this redundant pain on PROF, which should focus on the technical aspect imo.

[2019-08-26 08:32] aisaac commented on #755
@nicholascar I agree that the issue should be closed, in the light of what happened in the past months. But I think that formally it makes sense (in order to close the issue) to let @makxdekkers look at the new definitions, so that he can agree with the approach and start raising new issues on the new definitions, if he thinks this should happen.

[2019-08-26 08:37] aisaac commented on #235
@nicholascar In principle the 'divide-and-conquer' approach (in agile dev) would dictate that we start from a general 'epic' like #405 and then create specific tasks like the one in this issue. But considering that the issue here is so cluttered, that it makes sense to close it.

And another comment: should you want to remove the 'Profile Guidance" label from an issue, please warn all other editor

[2019-08-26 09:16] makxdekkers commented on #749
@tombaker The 2PWD for PROF was announced on 2 April by Peter & Karen at https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Apr/0048.html.

[2019-08-26 09:23] makxdekkers commented on #755
Can someone provide a link to the 3PWD candidate please?

[2019-08-26 09:48] rob-metalinkage commented on #755
a 3PWD candidate has not been released.

[2019-08-26 09:50] tombaker commented on #749
@rob-metalinkage The [UCR Note](https://www.w3.org/TR/dcat-ucr/) is indeed a fine and valuable piece of work.

However, the "profile" tag used to tag requirements there refers not to PROF, but to the Guidance deliverable.  Indeed, most of the requirements so tagged are quite orthogonal to the content of metadata about profiles.

Please consider that all readers coming to PROF since the publication

[2019-08-26 10:05] tombaker commented on #400
@aisaac I agree that this is more appropriate for Profile Guidance.

[2019-08-26 10:09] rob-metalinkage commented on #400
todo - subgroup meeting to agree and remove label for profiles vocabulary - i have added guidance label.

[2019-08-26 10:13] rob-metalinkage commented on #800
not a good look - consequence of getting "put on hold" :-(

[2019-08-26 10:22] aisaac commented on #755
I think that for the sake of demonstrating that the definitions have changed a pointer to an editor's draft may be good enough. This is about group discussions, not PWD ones...

[2019-08-26 15:38] kcoyle commented on #755
@makxdekkers The roles are in the [2pwd](https://w3c.github.io/dxwg/profilesont/#resource-roles-vocab). The discussion about the roles was in a [Google Doc](https://docs.google.com/document/d/1q8OTx2FxIapCCuNPIDnGYl_kzvJBLT2eAn4Zp6JHrUI/edit). Those in the discussion were Nick, Rob, Makx, me and @andrea-perego. We have not gone back and reviewed the roles that are in the 2pwd, so that should be a

[2019-08-26 15:49] kcoyle commented on #749
The UCR is referenced in a [section of the PROF vocabulary](https://w3c.github.io/dxwg/profilesont/#resource-roles-vocab). It is, to me, a bit vague, as it isn't obvious from the text how those requirements are fulfilled by the vocabulary. It would be more convincing if the text said: "and PROF fulfills this requirement by offering ..." rather than just stating that it does fulfill it but not sayi

[2019-08-26 16:34] kcoyle commented on #800
@aisaac At the last meeting I linked to [feedback issues that are still open for PROF](https://github.com/w3c/dxwg/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Afeedback+label%3A%22ON+HOLD+profiles-vocabulary%22). Although Rob says this is a consequence of being put on hold, these are feedback to the first public working draft, received in January, not the 2pwd that was issued as PROF was p

[2019-08-26 19:59] kcoyle commented on #755
@aisaac We do need to review the definitions, and the issue as opened by @makxdekkers was about the content of the definitions, not about group discussions (if I understand your meaning). There was another issue (#536) for getting the definitions into the 2pwd (not looking at the content of the definitions) and that has been closed.

[2019-08-26 23:04] aisaac commented on #755
@kcoyle I agree we need to review definitions, it's just that this issue is about specific wordings that @makxdekkers and you have reviewed a long time ago, and I think that using the same issue to review newer definitions (while it still features old definitions at the top) would be quite cumbersome for us. If the definitions have changed since @makxdekkers have opened the issue, then if Makx (an

[2019-08-26 23:08] rob-metalinkage commented on #755
This issue is a general one - and definitions for classes have been extensively review against the general concerns which were taken on board.

Agreed that we need to look at the roles in particular and that we should always be open to improving defintions, and we have the luxury of being able to look at object naming too as there is no large installed base and planned implementers are on board to

[2019-08-26 23:09] aisaac commented on #800
@kcoyle that list is very useful. I glanced at the minutes but as the link was not clearly introduced by text I thought it was a side discussion... But I guess we all agree we should acknowledge and reply (and looking at @rob-metalinkage 's reaction it seems he agrees too)

[2019-08-26 23:25] rob-metalinkage commented on #800
@aisaac - I like your way of expressing this and acknowledge that we could inject some wording to make this more explicit. I am surprised its neccesary - because its kind of obvious and is what happens everywhere we have a description of a thing, in that the things themselves need to be examined to discover relationships not explicitly described in the descriptions.  But the evidence is there that

[2019-08-26 23:26] kcoyle commented on #755
@aisaac Did you look at the Google doc? There is considerable difference between the Google doc discussion and the 2PWD, and I, for one, (and I believe it is the same for Makx) never signed off on the roles in the 2pwd as being representative of the G-Doc discussion. So I don't know where to take this back up. We could do an issue for each role, but we would still need an issue for the general app

[2019-08-26 23:31] nicholascar commented on #800
+1 to "the vocabulary should focus on just describing the model not how it is to be used in all cases"

Other W3C vocabs are like this: look at the length of documentation around [ADMS](https://www.w3.org/TR/vocab-adms/) and even the [original DCAT](https://www.w3.org/TR/vocab-dcat/) compared with the new DCAT documentation (and perhaps even the eventual PROF documentation).

[2019-08-26 23:44] rob-metalinkage commented on #755
Its also obvious that the google doc didnt get to, or derive from, a common understanding of the separation of documents from conformance requirements. So lets attack it from the guidance perspective first, then we can make sure that we have the roles and matching descriptions needed to support the suggestions on how to describe profiles with different types of artefacts. The Profiles ontology isn

[2019-08-26 23:51] kcoyle commented on #800
@aisaac Note that although I posted the issue, it is a comment from Irene Polikoff of SHACL. I'll make that clearer in the opening comment.

[2019-08-27 06:33] aisaac commented on #755
@kcoyle, all I confess I've not. The discussion continued in this issue after it continued in the Google Doc, so I just didn't know what would be the reference for closing the issue - the Google Doc or the comments in the issue. In any case the definitions that open this issue are outdated now. It seems a good idea to keep the Google doc as reference for future discussion and check of other WDs. B

[2019-08-27 07:15] tombaker commented on #749
On Mon, Aug 26, 2019 at 02:16:04AM -0700, makxdekkers wrote:

@makxdekkers Thank you for the link, which I had also found.  My point was that there is no record of a WG resolution to publish in any of the meeting minutes. The only invitation to comment, AFAICT, was the one posting you cite, which is world-readable but internal to the working group.

[2019-08-27 11:37] #1025 closed, assigned to nobody

[2019-08-27 11:43] #957 closed, assigned to nobody

[2019-08-27 11:44] #987 closed, assigned to nobody

[2019-08-27 13:39] RubenVerborgh commented on #290
I have a couple of questions, the answers of which might help me understand the reasons for a client to use a token instead of a URI.

- Does the client, wishing to use a token, know the string value of this token in advance? (i.e., is the token programmed into the client?)
  - If no, I presume it must use the URI to look up the token?
    - Which then begs the question, why not use the URI?
  - I

[2019-08-27 17:05] kcoyle commented on #755
@aisaac <del>First, I apologize but I pointed to the wrong Google Doc - that one was about definitions for PROF properties and is much more extensive than the one for roles, which is [here](https://docs.google.com/document/d/1ddygq4EcKr1DzJykdhM_WxkkmTAoU1qQWsf8xuZxcKc/edit).</del>

(No, that was the right document; the other one I erroneously posted here was for roles. That discussions is at #535

[2019-08-27 18:01] tombaker commented on #535
@nicholascar Can you please provide a link?

[2019-08-27 18:41] kcoyle commented on #535
Here's a link to the Google doc where discussion was taking place: https://docs.google.com/document/d/1ddygq4EcKr1DzJykdhM_WxkkmTAoU1qQWsf8xuZxcKc/edit

That was prior to the publication, and there is no indication of resolution via consensus.

This is why I have been insisting that the roles question is not resolved because I see this as not following the necessary consensus process - the editors

[2019-08-27 19:20] kcoyle commented on #535
@nicholascar I think that @tombaker is asking for the link to the "one document" that you mention. I also do not know what you are referring to. Thanks.

[2019-08-27 19:44] kcoyle commented on #755
Here's an example of the discussion about definitions ([G-Doc](https://docs.google.com/document/d/1q8OTx2FxIapCCuNPIDnGYl_kzvJBLT2eAn4Zp6JHrUI/edit#heading=h.31ewniln6zbi)):

Definition
Current: A property for identifying this Profile for use in APIs

Andrea (Issue 453 (comment)): The preferred token for identifying a Profile, alternatively to its URI
Makx An alternative identifier for the Profile

[2019-08-27 19:59] aisaac commented on #1022
I'm still not buying this. I just don't see the need for calling these things profiles. I think it doesn't even fall in the scope of IETF profiles, which is quite broad already...

[2019-08-27 20:16] nicholascar commented on #798
Namespace in document (https://www.w3.org/TR/dx-prof/) and 2x RDF representations available, as per links in my previous comment.

[2019-08-27 20:37] nicholascar commented on #408
@dr-shorthair could you please characterise one of the recent [LocI](http://locationindex.org/) profiles as a PROF profile?

[2019-08-27 20:39] #1040 closed, assigned to larsgsvensson, nicholascar

[2019-08-27 20:40] #942 closed, assigned to nobody

[2019-08-27 20:40] #932 closed, assigned to nicholascar

[2019-08-27 20:40] #852 closed, assigned to rob-metalinkage

[2019-08-27 20:40] #603 closed, assigned to rob-metalinkage

[2019-08-27 20:41] #591 closed, assigned to nicholascar

[2019-08-27 20:42] aisaac commented on #575
Seriously I would like to review the version in PR #1037 before we can close this issue.
Is that version at https://raw.githack.com/w3c/dxwg/conneg-ACTION-356/conneg-by-ap/index.html @nicholascar @rob-metalinkage ?

[2019-08-27 20:48] aisaac commented on #279
@nicholascar do you remember why you've removed the profile-guidance label from this issue? I think it may be worth keeping the attachment...

And for the record I think it would be good to point to the places of 2PWD that meet the requirement.

[2019-08-27 20:52] aisaac commented on #644
@nicholascar could you add pointers to the specific places in the editor's draft that address this? I'd be happy to review!

[2019-08-27 21:00] aisaac commented on #852
@nicholascar is there a reference to a discussion on this?

For the record I'm ready to support a decision to "close-won't fix" for this issue. I would have like to see diagrams like for example https://www.w3.org/TR/swbp-vocab-pub/#recipe4 but I reckon that the interactions in this spec are simple enough, indeed!

[2019-08-27 21:29] nicholascar commented on #406
This issue is complete and has been marked due-for-closing for 8+ months

[2019-08-27 21:29] #406 closed, assigned to nicholascar

[2019-08-27 21:38] azaroth42 commented on #501
Yes, fine by me, thank you!

[2019-08-27 22:21] kcoyle commented on #798
@nicholascar Let's close this when the formal response has been given via the comments list.

[2019-08-28 00:49] rob-metalinkage commented on #290
client may or may not know the token or what it means - thats a different architectural question for each implementation we can only address by specifying how they could find out.

The token mapping exists is for three main reasons:
1) it allows us to characterize existing systems that use a token to identify a profile - in general that is how the most common and trivial case of negotiation ("i wa

[2019-08-28 05:00] kcoyle commented on #290
@rob-metalinkage I am totally unclear how this relates to the proposed guidance document, which is about general "best practices" for the 'creation' of profiles. I am not aware that it will say anything about content negotiation by profile, nor anything about "usage patterns".

I find @RubenVerborgh 's arguments against tokens to be quite sensible.

[2019-08-28 05:04] kcoyle commented on #852
@aisaac Please re-open this if you think there is more to discuss - otherwise we could lose track of it within the closed issues. The only way we have to keep track is to keep issues open (or create a label for closed issues that are questioned).

[2019-08-28 07:13] hvdsomp commented on #501
Oops, I had missed @larsgsvensson above suggestion. Minimalist change but ok for me. Cheers.

[2019-08-28 08:32] larsgsvensson commented on #501
OK, thank you all. There seems to be consensus that the [text in the IETF draft](https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation.html#rfc.section.6) covers this:

Now we only have to resolve #290 and we're ready to close.

[2019-08-28 08:41] aisaac commented on #852
I don't think there is need to re-open. As said I can support the resolution. It's just that I was wondering whether there was a reference for @nicholascar 's point.

[2019-08-28 14:00] larsgsvensson commented on #575
Since we've re-opened, I remove due-for-closing. (Obviously there isn't consensus on that...)

[2019-08-28 14:05] aisaac commented on #575
Well I'm actually quite confident that everything has been taken care of, considering the involvement of the editors. It's just that I thought that a final check (and the recording of it in the issue) could be useful, from the perspective of the formal process.

[2019-08-28 14:13] larsgsvensson commented on #575
@aisaac scripsit:

Yes, I think it is. Once you've posted your review here, I think we can add back the "due-for-closing" label again (and then add it to the plenary meeting agenda again).

[2019-08-28 18:04] RubenVerborgh commented on #290
That puts us in trouble for creating and assessing such a mapping.

The current proposal I've seen is:

[code]

However, this approach is useless for clients that don't know the token.

So I'm afraid we'll need better constraints. The minimum that I can imagine (but help me if I'm wrong) is that the client knows the token, but this begs the question (as I wrote above) why you wouldn't give it the

[2019-08-28 22:03] rob-metalinkage commented on #290
Thanks Ruben for pushing the architecture angle.. its where so many things fail to translate to implementation that works..

A client needs to "know" a URI in exactly the same way... but external systems are empowered to make unambiguous and navigable assertions using URIs  .. which is why the list profiles mechanism is provided, and can be added to a system that already expects clients know token

[2019-08-29 09:23] RubenVerborgh commented on #290
That's not the case for the IETF draft we are preparing through—URIs are just (unique) identifiers. Does the W3C document mandate resolving for _all_ URIs (not just HTTP URIs)?

If the main advantage of tokens is that they do not resolve, URIs can do the same thing.
It seems that we are building a complex system to not really solve anything.

But my earlier questions still stand: what can we assum

[2019-08-29 09:30] nicholascar commented on #401
ADMS is now referenced in the document, see https://w3c.github.io/dxwg/profilesont/#eg-adms

[2019-08-29 09:56] nicholascar commented on #407
Note that no other W3C vocabs have test suites.

There is a start to SHACL files for testing instance of PROF at https://github.com/w3c/dxwg/blob/gh-pages/profilesont/full-constraints.ttl. The relationship of this SHACL file to the other parts of PROF. e.g the HTML spec, will be described with... PROF!

[2019-08-29 09:57] nicholascar commented on #407
See the PROF description of PROF: https://github.com/w3c/dxwg/blob/gh-pages/profilesont/profile.ttl

[2019-08-29 09:58] nicholascar commented on #409
Marled due-for-closing since this is part of the main Rec work and doesn't need a GitHub issue per se.

[2019-08-29 09:58] rob-metalinkage commented on #290
There is no advantage in not being resolvable. The advantage is in being able to describe systems that already, or prefer to, use short tokens.. so we provide a way to map to URIs. As one of the implementations planned thats my motivating use case.. to connect those existing tokens to descriptons via URIs so i contend it is more than useful.. its critical.

[2019-08-29 10:04] nicholascar commented on #455
There are now multiple instances of resources conforming to profiles in the document, e.g. each of the `Resource Descriptors` in [Example 1](https://w3c.github.io/dxwg/profilesont/#example-1-a-full-example-described-using-the-profiles-vocabulary-in-rdf-turtle) and [Example 8](https://w3c.github.io/dxwg/profilesont/#example-8-adms-profile-of-dcat-according-to-prof-in-rdf-turtle) however a specific,

[2019-08-29 10:33] nicholascar commented on #455
Addressed by PR #1046

[2019-08-29 10:42] RubenVerborgh commented on #290
@rob-metalinkage I understand, but we won't be able to help your case without an answer to the questions I have written above.

Regarding your specific use case, it seems that a solution would also be to have a client-side mapping, so a server-side mechanism might not even be needed.

[2019-08-29 10:52] nicholascar commented on #492
General examples now in doc:
* [Initial example](https://w3c.github.io/dxwg/profilesont/#example-1-a-full-example-described-using-the-profiles-vocabulary-in-rdf-turtle)
* [Property isInheritedFrom in use](https://w3c.github.io/dxwg/profilesont/#example-2-property-isinheritedfrom-in-use) - incorrectly titled in doc, should be "Property isTransitiveProfileOf in use"
* [Property isInheritedFrom in us

[2019-08-29 11:23] aisaac commented on #808
PROF call 29 august: we agree that this is not a crucial issue. We keep the issue open for now but we think we could drop it. There is no formal requirement for it.

[2019-08-29 11:57] nicholascar commented on #452
Listed for Plenary 2019-08-20 so closing now after 1 week + no comment.

[2019-08-29 12:02] nicholascar commented on #535
The "one document" I referred to is the PROF document itself: https://www.w3.org/TR/dx-prof/. [Section 8](https://www.w3.org/TR/dx-prof/#resource-roles-vocab) contains the starting point roles vocabulary.

[2019-08-29 12:08] rob-metalinkage commented on #290
@RubenVerborgh I am assuming you mean these questions:

"But my earlier questions still stand: what can we assume about clients that need to access the mapping?

- nothing other that they are using mechanisms described this specification  (otherwise we are not interested in them)

Can you (and hopefully several others) confirm that clients always know the string of the token?

 - No - because as i

[2019-08-29 12:20] nicholascar commented on #1017
From @tombaker 2019-08-23 https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Aug/0003.html :

Dear Lars,

On Tue, Jul 16, 2019 at 11:49:12AM +0200, Lars Svensson wrote:

This is an important point with which I enthusiastically
agree.  For starters, profiles URIs _will_ inevitably
return 404s, increasingly over time, as resources are
moved or become unavailable.

The judicious use of SHO

[2019-08-29 12:21] nicholascar commented on #1017
From @tombaker 2019-08-23 https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Aug/0004.html :

Dear Lars,

On Mon, Aug 05, 2019 at 09:49:13AM +0200, Lars Svensson wrote:

On Wed, Aug 07, Lars wrote [1]:

I'm having trouble reconciling what look to me like three
quite different messages about the role of URIs in
conneg:

1. The notion that "From a conneg point of view, the
   profile URI

[2019-08-29 12:35] nicholascar commented on #1017
From discussion in the CNEG subgroup meeting 2019-08-29, when using the proposed CNEG mechanisms it is up to each community to determine what a profile identifier means in terms of expected responses. If a URI points to an ambiguous resource with no clear conformance requirements the nature of the server response may not be usefully predictable.

We will say this in the document with a forthcoming

[2019-08-29 12:40] nicholascar commented on #678
@kamhayfung can you please comment on the direction of the comments here?

[2019-08-29 12:54] RubenVerborgh commented on #290
Which gives them the token _and_ the URI—so why would they want to us the token then?

All of the above answers make me very concerned about the token mechanism, as it complicates things unnecessarily, since there seems to be no single action that a client can do with a token that it could not already do.

The argument above that this mechanism would allow to

is in my opinion not relevant, becaus

[2019-08-29 13:01] nicholascar commented on #290
The motivation for catering for tokens is that existing profile negotiation systems (pyLDAPI, OAI-PMH, OGC Name Server) all use tokens. The things clients using these services currently need to know is a resource URI as well as service endpoints, QSA parameters etc.

With the inclusion of tokens in `list profiles` responses, then the number of things client needs to know is reduced - just the reso

[2019-08-29 13:13] RubenVerborgh commented on #290
(Sorry to be the one that replies to every single comment; trying to limit my interactions to the strictly necessary.)

Check, that's a good list. It would be helpful if you could answer these questions: https://github.com/w3c/dxwg/issues/290#issuecomment-525306101, the most important one being: do those clients all _know_ the token before they make a request?

Let's deconstruct that argument. If

[2019-08-29 13:19] rob-metalinkage commented on #290
tokens do not require extra work for servers -they can simply not support them

tokens (in the context of conneg) require less work for clients that already use them (because servers do) because now there would be a way of automating finding  what they mean.

And as someone who is retrofitting an existing token based negotiation system, the proposed solution is the only option we've identified tha

[2019-08-29 13:23] nicholascar commented on #400
Since @aisaac, @rob-metalinkage, @tombaker and I all agree that this is more appropriate for Guidance, I'm removing the vocab label.

[2019-08-29 13:25] aisaac commented on #535
ok I think this fits what was required in the first comment. I still have some reservations about using a separate namespace for roles, but I'm going to raise this as a separate issue.

[2019-08-29 13:26] RubenVerborgh commented on #290
I have a hard time understanding that.

"finding what they mean" then equals "determining the URI for the non-URI identifier"?
To then use the URI in the future?
So those systems have to be _changed_ to look up the non-URI as URI?
If you have to change anyway, why not simply change it directly into a URI?

And changing non-URIs into URIs is not workable because?
As I wrote above, we could just mak

[2019-08-29 13:30] rob-metalinkage commented on #290
APIs with published tokens that describe what those tokens mean in documentations arent that easy  to change compared to adding a way to map them to URIs so such documentation can be found in future. yes they are just strings - but we are talking about strings that exist in the world - for example I have lots of data where such tokens have been used in entailed links based on the object type and w

[2019-08-29 13:34] aisaac opened #1048 "Should PROF roles be in a their own namespace?"
Currently [PROF roles](https://www.w3.org/TR/dx-prof/#resource-roles-vocab) are defined in their own namespace, separate from the "base" one for PROF.
In #535 and #536 points have been made for and against having them in separate namespace. But that discussion was mixed with the discussion on whether they should be documented in the same document as PROF, which is slightly different.
In the end I

[2019-08-29 13:36] RubenVerborgh commented on #290
- Old APIs and standards can remain just the way they are, no need to change.
- All that is needed is a mapping document from those tokens to URIs. (I don't see an inherent need to standardize that mapping document.)
- When communicating with a new API, clients can just use URIs, given that they have a mapping.

So I still see no reason for a new API to support legacy tokens, or to even have to su

[2019-08-29 14:34] nicholascar commented on #408
LocI Ontology itself documented as an ontology: http://linked.data.gov.au/def/loci

[2019-08-29 14:41] nicholascar commented on #555
It is clear that the issue is resolved: the single property unchanged at `:profileOf` was changed to `:isProfileOf`... 9 months ago!

[2019-08-29 14:43] nicholascar commented on #688
@kamhayfung can you please confirm you are happy with this change? We need specific acknowledgement for each Issue from the proponent.

[2019-08-29 14:50] nicholascar commented on #792
The way the words Standard & Specification are used in PROF have been altered greatly following WG discussions about definitions.

The specific sentence quoted at the top, "A Standard can be either a Base Specification (a Standard not profiling any other Standard) or a Profile (a Standard which does profile others).", is no longer present in the document.

The second issue "...I would expect a man

[2019-08-29 14:56] nicholascar commented on #792
@paulwalk are you happy/unhappy with the changes?

[2019-08-29 15:06] nicholascar commented on #698
@paulwalk can you please comment on where you feel this issue is up to?

[2019-08-29 15:12] nicholascar commented on #731
Original issue listed here, about Figure 3, long since dealt with. Other points raised have been hived off into other Issues so due for closing.

[2019-08-29 15:24] kcoyle commented on #452
We didn't get around to looking at those at the plenary as we had lots else to do. Let's try to get a short list of high impact issues and discuss them at the plenary.

[2019-08-29 15:26] kcoyle commented on #535
And I still have reservations about the roles that are included and their definitions, so I'll raise that as a separate issue.

[2019-08-29 15:30] azaroth42 commented on #290
I agree completely with Ruben.  When paving cowpaths, not every little bush causes the road to have an unnecessary curve. Standards need to consider the good of the overall environment, not just the ease of layering on top of existing non-interoperable systems. I share the opinion that a token is unnecessary, and trending towards harmful.

[2019-08-29 15:31] nicholascar commented on #990
Returning to the issue as phrased in the title "Provide a pathway for referencing profiles embedded in documents with broader scope", this is clearly an issue for Conneg by P (viz. "...referencing profiles...") for Conneg is the mechanism proposed to retrieve representations of a resource conforming to a profile. Conneg is dealing with this issue in #1017.

I cannot see how this Issue is directly

[2019-08-29 15:35] kcoyle opened #1049 "PROF roles and their definitions"
A small set of roles has been included in the PROF document as a starting set. That set is:

- constraints
- example
- guidance
- mapping
- schema
- specification
- validation
- vocabulary

There are questions about the definitions in a [Google doc](https://docs.google.com/document/d/1ddygq4EcKr1DzJykdhM_WxkkmTAoU1qQWsf8xuZxcKc/edit) that are still not addressed and may need additional discussion.

[2019-08-29 15:44] kcoyle commented on #400
If there is still a DCAP example using PROF it should be removed from the ProfOnt document (I don't see it there anywhere but have a memory of it ...). Thanks.

[2019-08-29 15:53] kcoyle commented on #731
@nicholascar There is no longer a "figure 3" in the profiles document - just 2 and 4. If figure 3 has been removed, please let us know. If the figures are mis-numbered and one of them is the "figure 3" spoken of here, then it can be fixed and we can look at that and determine if the issue should be closed. As it is, there's no there there. ;-) Note, I pointed this out [above](https://github.com/w3

[2019-08-29 16:12] kcoyle commented on #407
I think this is a question for @plehegar in terms of "what are the requirements for a vocabulary as Recommendation?"

[2019-08-29 22:40] rob-metalinkage commented on #290
The problem with the logic is here "So those systems have to be changed to look up the non-URI as URI?"
No - if systems already use tokens and understand them they dont need the URI - the lookup method allows better self-documentation and new clients to discover what tokens mean (something they cant do very well at the moment - it usually means discovering and reading human readable documentation

[2019-08-29 23:51] kcoyle commented on #290
@rob-metalinkage Can you give concrete examples of APIs using tokens for profiles, or needing them because profile discovery is currently done with tokens? And by "concrete" I mean either links to the API entry points (if they are browser-based) or their documentation. In the UCR document we have one [requirement](https://w3c.github.io/dxwg/ucr/#RPFALIAS) relating to tokens, although tokens are no

[2019-08-30 01:38] rob-metalinkage commented on #290
OK here's one (separate from the one I will implement)

  https://github.com/UKGovLD/ukl-registry-poc/wiki/Api

The OGC definitions server is based on a thing called the Linked Data API
which is also deployed on UK and Australian infrastructures:
https://documentation.ands.org.au/display/DOC/Linked+Data+API
(you need to either look at examples or dive down into specs at https://github.com/UKGovLD/

[2019-08-30 07:42] paulwalk commented on #698
@nicholascar Thanks for the invitation to comment - I have just read through all of this again. I have found some of this to be quite confusing and I suspect this is because people are talking about different things. I'm especially struck by the comment from @rob-metalinkage a couple of comments up from here:

...individuals may or may not "see the need" for this - it doesnt require an open issue

[2019-08-30 07:43] larsgsvensson commented on #501
The discussion over in #290 (unfortunately) has implications for this issue, too.
The preferred way of publishing URI/token mappings discussed there is to use the `Link` header and the target attribute `profile` discussed here. That way a host could declare that for the resource `https://example.org/some/resource` the URI `urn:example:foo` is mapped to the token `bar` by adding the following `Link

[2019-08-30 07:56] paulwalk commented on #792
@nicholascar I have not re-read the PROF Document in full (cannot spare the time right now) but the changes you report above do seem to address my original comments.

The issue in this thread broadened slightly to cover the semantics of `dct:standard` (my original comment was not about the semantics of the DC Term). @rob-metalinkage said:

On this point, I agree with @kcoyle 's comment earlier in

[2019-08-30 09:13] tombaker commented on #698
@nicholascar You asked @paulwalk to clarify comments he made seven months ago, on Janary 25, and to which the WG never responded.  In such cases, please [cite your sources](https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0006.html).  The burden should not be on readers of this (or any other) thread to click, scroll, or google around to find what you are referring to.  Given the t

[2019-08-30 09:18] tombaker commented on #698
@paulwalk

I agree with your point but would add that there is no common notion of "inheritance" shared by designers of profiles. Put another way, there is no common notion of "inheritance" that is shared by the technologies used to express profiles.  Each technology has _its own way_ of expressing dependencies among documents (sourcing, importing, citing, declaring namespaces...).  Trying to refl

[2019-08-30 10:51] ghost commented on #698
@tombaker I presume you missed my email to Paul that accompanied this request: https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Aug/0005.html

[2019-08-30 13:41] RubenVerborgh commented on #501
@larsgsvensson Agree with your assessment; extending the syntax is to be avoided.

[2019-08-30 18:43] dcmi commented on #698
@nicholascar I did indeed miss the mail to the list! It a bit confusing with so many channels in parallel, so may I suggest we simply try to link between the two as much as possible.

[2019-08-31 00:07] rob-metalinkage commented on #501
@larsgsvensson I think that is a good way to resolve this - if the IETF allows for additional parameters other specifications can standardise what they mean.

one minor tweak would be to allow token values to be lists (separated by , ? )
Certainly easy enough to implement this approach.

Also - it may be useful to allow servers to indicate what they know about profile hierarchies in a special toke

[2019-08-31 02:13] nicholascar commented on #382
This issue is now addressed to my satisfaction in the [Related Work section of the 2PWD](https://www.w3.org/TR/dx-prof-conneg/#relatedwork) and may be closed.

[2019-08-31 05:09] kcoyle commented on #290
@rob-metalinkage Thanks for the pointers. I may have been misunderstanding the goal here, but I was expecting that there would be examples that involve profiles, since that's the discussion here, tokens for profiles. Is the point that some future registries of profiles would use tokens? Unfortunately, when I try to see the [UK registry itself](http://data.gov.uk/linked-data) linked from there I ge

[2019-08-31 07:28] nicholascar commented on #385
Official repository provisioned by the W3C at https://github.com/w3c/conneg-prof-testing and links for it placed into document.

[2019-09-01 01:00] rob-metalinkage commented on #290
@kcoyle these are examples that use things that are consistent with the functional notion of a profile.  Not all things that can be called a dct:Standard will be called a "standard" - so profiles is a general term for constraints which include such things as "views" or "shapes" or "rules" or many other things.

It may help to understand that the gap between services that support specification of a

[2019-09-01 11:45] nicholascar commented on #400
@kcoyle I think you are referring to the [CSIRO Dummy Dublin Core AP](https://w3c.github.io/dxwg/profilesont/#eg-csiro-dummy-dcap) which is formulated according to DCAP. The example is still relevant as it's a PROF formulation of a dummy profile for illustrative purposes showing how guidance frameworks like DCAP/Singapore and PROF can work together. I'd like to leave it in the doc please.

[2019-09-01 12:25] nicholascar commented on #401
On re-considering this Issue, I feel that the "Reference" should occur in Related Work, not just Alignments. For this reason, I have created an ADMS Related Work subsection in the 3PWD candidate branch of PROF, see https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#related-adms and removed the "due for closing" label.

@andrea-perego please could you review the assertions in that

[2019-09-01 12:45] nicholascar commented on #402
Related work note added to 3PWD candidate branch: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#related-prov.

This is in addition to the stub of the informative alignment section at https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#alignment-prov.

[2019-09-01 13:50] larsgsvensson commented on #501
@RubenVerborgh scripsit:

Does that mean that you agree that we extend the syntax for the `profile` attribute to `absolute-URI[" "token=token]` or that you don't agree?

[2019-09-01 23:13] nicholascar commented on #240
@andrea-perego PROF has had, since 2PWD, an alignment declared with ADMS (https://www.w3.org/TR/dx-prof/#alignment-adms). Are you happy with the alignment and thus are we able to close this issue?

[2019-09-01 23:17] kcoyle commented on #400
As it references a DCMI vocabulary that is not considered current, I feel like the question should be posed to DCMI management before it appears in a W3C document. If this waits until publication, one result could be a formal objection, which can take a while to untangle. Should I ping the appropriate persons?

[2019-09-01 23:55] rob-metalinkage commented on #400
Is it possible to identify least one uncontroversial statement about profiles or data conformance in the DCMI canon that we can be confident is a true assertion so we can illustrate how one might then formalise it?  Some URI that can be referenced via the range of dct:Standard and ideally some data that claims such a thing?  If not, then perhaps its better to drop references to the DCMI world unti

[2019-09-02 08:58] hvdsomp commented on #501
I seem to remember having expressed significant concerns about the token approach in a private email exchange with @larsgsvensson and @RubenVerborgh. A very significant complication that is hard to motivate.

[2019-09-02 09:22] larsgsvensson commented on #501
@hvdsomp scripsit:

Yes, you have. That said, I think that an extensible syntax for the `profile` attribute that does *not only allow* for `token=foo` but for *any parameter* (e. g. `foo=bar`) does make sense. If people decide to use it for tokens, they may do so, but then that's outside of the IETF document's scope (which this issue is really about).

[2019-09-02 09:27] larsgsvensson commented on #501
@rob-metalinkage scripsit:

[RFC 7230 §3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6) defines `token` as follows:

   components (token, quoted-string, and comment) separated by
   whitespace or specific delimiting characters.  Delimiters are chosen
   from the set of US-ASCII visual characters not allowed in a token
   (DQUOTE and "(),/:;<=>?@[\]{}").

That means that URIs cannot be us

[2019-09-02 12:35] kcoyle commented on #400
The most heavily used profiles based on DCAP are those of [BIBFRAME](http://bibframe.org/). [Example](http://bibframe.org/profile-edit/#/profile/26be77be-0b94-4ad9-985b-f256df4f5d23) A side-by-side compare of others is [here](https://github.com/dcmi/dcap/blob/master/BIBFRAMEcompare.csv).

[2019-09-02 12:49] nicholascar commented on #483
Closing after a week's listing as "due for closing" in [Plenary 2019-08-27](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.08.27)

[2019-09-02 12:49] #483 closed, assigned to nobody

[2019-09-02 12:49] nicholascar commented on #641
Closing after a week's listing as "due for closing" in [Plenary 2019-08-27](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.08.27)

[2019-09-02 12:50] nicholascar commented on #658
Closing after a week's listing as "due for closing" in [Plenary 2019-08-27](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.08.27)

[2019-09-02 12:50] #658 closed, assigned to nicholascar

[2019-09-02 12:50] nicholascar commented on #689
Closing after a week's listing as "due for closing" in [Plenary 2019-08-27](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.08.27)

[2019-09-02 12:54] nicholascar commented on #235
In addition to the VOAF alignment, there is now also a VOAF Related Work section, see the 3PWD candidate: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#related-voaf

[2019-09-02 12:58] nicholascar commented on #279
@aisaac I don't remember why Guidance was removed but I think this Issues should really be for guidance, not PROF: PROF allows Constraint Language Resources and has multiple examples of them in 2PWD, e.g. [Example 3](https://www.w3.org/TR/dx-prof/#example-3-property-isinheritedfrom-in-use). Switching labels.

[2019-09-02 17:08] kcoyle commented on #400
I should mention that those are conceptually based on DCAP, but none use the [DSP](https://www.dublincore.org/specifications/dublin-core/dc-dsp/) constraint language which was defined as an XML schema. The BIBFRAME and Sinopia examples each interpret the basic structure (section 2) defined there, but while there is an application profile model, based on the [Dublin Core Abstract Model](https://www

[2019-09-02 18:57] kcoyle commented on #641
@nicholascar The reason for closing needs to be the resolution of the issue. Above you say: "This issue has been addressed in PR #664" - however, that doesn't say HOW it was addressed. So something like "prof:BaseSpecification was removed from the document" would be more helpful, and that will also give better information for the management review as they are not going to want to wander through al

[2019-09-02 19:59] RubenVerborgh commented on #501
+1 to that. There might indeed be use cases for key/value pairs in the future. However, could you remind me why we would be adding those _inside_ of `profile` rather than as extra attributes to the `Link` header itself?

[2019-09-02 21:13] aisaac commented on #641
I'm reopening just as reminder for @nicholascar to add something like what @kcoyle suggested. This doesn't cost much and makes everything way better. (and I'm ok deleting my comment and @kcoyle 's one after that, so that the process discussion doesn't stay in the way of seeing the resolution)

[2019-09-02 21:22] aisaac commented on #689
I'm reopening as
(1) a cheap way to flag a typo "two two" in the caption of figure 6.
(2) at the time of closing it seems that the two diagrams ([here](https://w3c.github.io/dxwg/profilesont/#eg-hierarchy) and [here](https://w3c.github.io/dxwg/profilesont/#eg-dcat-ap)) are actually different from what was in March. Especially there is no apparent color coding anymore, contrary to what is mentioned

[2019-09-02 21:27] aisaac commented on #658
I support the closing: there is nothing to discuss here as the original issue matter sounds more like a reminder assigned to editors than a real issue/comment. One could say that there will always need to be a general check on examples and images, until the document is declared closed for commenting and editing...

[2019-09-02 21:31] aisaac commented on #279
@nicholascar thanks I think the reference you give should be enough, but that for the sake of precision if you mention 2PWD you can use the real link, which in that case should be (I believe) https://www.w3.org/TR/2019/WD-dx-prof-20190402/#example-3-property-isinheritedfrom-in-use . Who knows, later on maybe the general URI in dx-prof will contain a document with different HTML anchors!

And ok if

[2019-09-02 21:43] aisaac commented on #402
@rob-metalinkage @nicholascar I do not understand. You say it's "determined not relevant" but in the end more is done about it than was done earlier. A note seems in order to clarify intentions here!

[2019-09-02 21:53] aisaac commented on #235
@nicholascar the link you give is interesting for judging on this issue, but let's be clear this is a 'FYI' comment. The new related work session does not essentially (I hope) change the alignment and thus the resolution on this issue.

[2019-09-02 22:00] aisaac commented on #409
If there's no second implementation for the current spec and we're still going for CR then we'll have to find one and then probably to create an action for it. But then indeed it could be an action. That said it could also be represented/discussed in a github issue. Considering the timing and the current WG apparent preference for targeting CR, I would think that it's more economical to just leave

[2019-09-02 22:04] aisaac commented on #453
Before closing it would be nice to have @andrea-perego 's confirmation, whether he thinks the current wording for the new element alleviates [his worry](https://github.com/w3c/dxwg/issues/453#issuecomment-470114418).

[2019-09-02 22:07] aisaac commented on #467
@nicholascar fair enough but at this stage it would make sense to show how's the 'normal admin' is being handled. Are you refering to the regular W3C Process (that indeed dictates that implementation and tests are documented)?

[2019-09-02 22:25] nicholascar commented on #452
#1049 PROF roles and their definitions is now open and that focusses on a discussion of the roles. That Issues is now live so this one, which is just about references the document, can be closed.

[2019-09-02 22:25] #452 closed, assigned to nicholascar

[2019-09-02 22:28] nicholascar commented on #467
@aisaac yes, the normal W3C processes will ensure that these links are present in the document so we don't need a GitHub issue for it and, in fact, we now have the officially-provisioned W3C repo present in the 3PWD candidate (https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html) which replaces the temporary repo I put there before.

[2019-09-02 22:31] nicholascar commented on #535
Separate Issue raised at #1049

[2019-09-02 23:14] nicholascar commented on #265
Re-tagged with profile-negotiation so the issue can still be found in relation to Conneg in perpetuity

[2019-09-02 23:21] nicholascar commented on #380
IETF doc referenced in 2PWD and beyond in [Overview of DXWG documents on profiles](https://www.w3.org/TR/dx-prof-conneg/#FamilyOfDocs), [Related Work](https://www.w3.org/TR/dx-prof-conneg/#relatedwork), [Functional Profile (Realization) HTTP](https://www.w3.org/TR/dx-prof-conneg/#http) and elsewhere.

[2019-09-02 23:24] nicholascar commented on #386
pyLDAPI implementation description within [Related Work > Linked Data APIs](https://www.w3.org/TR/2019/WD-dx-prof-conneg-20190430/#related-altviews) since 2PWD.

[2019-09-02 23:26] nicholascar commented on #387
@larsgsvensson did you want to make a specific reference to Deutsche Nationalbibliothek implementation  in the doc?

[2019-09-02 23:28] nicholascar commented on #388
schema.org has nothing specifically to say about conneg. Any conneg issues relating to shcema.org are really RDF or JSON-LD issues which are covered in the doc (see [Existing standards for transporting profile information in HTTP headers](https://www.w3.org/TR/2019/WD-dx-prof-conneg-20190430/#related-http) for JSON-LD) so this issue is redundant.

[2019-09-02 23:34] rob-metalinkage commented on #400
@kcoyle thanks for more info here - I think this is a useful illustration of the need to identify things unambiguously - as there are obviously multiple specifications here at different levels of abstraction.  PROF doesnt care if there is a constraint language representation or not - its about being able to make statements about how these thing relate to each other.  We still dont have a statement

[2019-09-02 23:42] nicholascar commented on #392
This Issue has been dealt with by defining the two QSA Functional Profiles in the 3PWD candidate, see https://w3c.github.io/dxwg/conneg-by-ap/#qsa-listprofiles, that implement *list profiles*.

[2019-09-02 23:59] nicholascar commented on #693
Conneg & PROF now both use the same "Overview of DXWG documents on profiles" text, see:

* [Conneg](https://w3c.github.io/dxwg/conneg-by-ap/#FamilyOfDocs)
* [PROF](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#FamilyOfDocs)

[2019-09-03 00:16] nicholascar commented on #235
@aisaac yes that's correct, the Related Work section is discursive and doesn't change the Alignment at all.

[2019-09-03 03:01] kcoyle commented on #689
Note:

1. Figure 7 has "prof class" in its key, but no elements of the diagram are coded as prof class.
1. Ditto the XSD datatype in the key, but not the diagram.
1. All of the relationships are labeled except the "type of" between DCAT and dct:Standard
1. The shading is pretty hard to see, but I suppose that aspect of the diagram could be beefed up for final publication. (I printed it on my laser

[2019-09-03 13:09] aisaac commented on #529
@nicholascar before closing we need to record what the decision was wrt the original matter: in the end is prof:Resource aligned with dcat:Distribution?

[2019-09-03 13:12] aisaac commented on #551
@nicholascar what would be needed to close this issue is a reference to the Conneg draft where the reference to PROF is made.

[2019-09-03 14:15] nicholascar commented on #661
As stated above, we have motivating use cases for a transitive property ("flattening" of profile hierarchies) so `prof:isTransitiveProfileOf` remains for now, however the discussion about it continues see #643.

Currently, [next to the property in question](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#Property:isTransitiveProfileOf), we have placed a rational for including

[2019-09-03 14:16] nicholascar commented on #660
Within the [Conceptual Model](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#conceptualmodel) it now states: “Resource Descriptors must indicate the role they play (to guide, to validate etc.), the formalism they adhere to (dct:format) and any dct:Standard that they themselves conform to (dct:conformsTo).”

Additionally: "Any rdfs:Resource MAY indicate conformance to a profil

[2019-09-03 14:27] nicholascar commented on #799
Further to my comments above on the question of "Is there any thought of testing whether a profile is a valid profile? Meaning that it does not contradict the base.":

Testing the profile itself - any schemas it declares for instance - is possible in a system-specific way (e.g. using inference on an ontology) but more useful and easy is to test to see if instance data created conforming to the pro

[2019-09-03 14:38] nicholascar commented on #800
A final comment on this issue unless we get further feedback from the proponent:

This sort of mechanics are though by the group to be out-of-scope for the Profiles Vocabulary as they would likely need to be community-specific to be implementable. Having said that, since the Vocabulary presents a set of Roles that can be extended, a community could extend that role list to suit their needs. They c

[2019-09-03 14:40] nicholascar commented on #659
Regarding definitions: Since the request for better descriptions of application profiles, profiles in general and how they may be used, we have updated both the definitions used in the profile documents and now the Profiles Vocabulary and the Content Negotiation by Profile document specifically define  profiles, application profiles, specifications and so on, see Section 3. In these Editor’s Draft

[2019-09-03 15:08] nicholascar commented on #753
Here I'll break down the statement into parts for answering:

1.a. it may be useful for clients to be able to 'get resource by profile' by a characteristic of the profile
Currently the Content Negoiation by Profile specification "Conneg" (https://w3c.github.io/dxwg/conneg-by-ap/) only supports getting a resource conforming to a profile by identifying that profile (by URI or token). You may also sp

[2019-09-03 15:19] nicholascar commented on #754
A summary of the response above was sent to the issue raiser, Melanie Barlow, via the DXWG public comments mailing list: https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Sep/0001.html

[2019-09-03 15:26] nicholascar commented on #792
@paulwalk thanks for the follow-up comments.

I understand the above points: in creating this vocabulary, we are hoping to move towards machine-readable things so we've used the notion of conformance to be central to a profile's definition: a profile conforms to things it profiles (specifications or other profiles) and things (instance data) may conform to profiles (or specifications). It may inde

[2019-09-03 15:32] nicholascar commented on #731
In https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/ I see Figures:

[Figure 1](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#conceptualmodel) OWL [OWL2-OVERVIEW] overview diagram of this vocabulary

[Figure 2](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#initial-examples) A full example profile described using common metadata and the Profile

[2019-09-03 15:47] nicholascar commented on #698
@paulwalk responding to your "user-story":

I think that what you ask for is there in PROF by design! If a profile is described using PROF, it will have each of the parts (files/resources) identified and allocated a role. A starting role list is in the specification in [Section 9](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#resource-roles-vocab) and it includes a role "Val

[2019-09-03 16:08] paulwalk commented on #792
@nicholascar thanks for the summary. However, I think we are misunderstanding each other...

I used the word 'validation' at the beginning of this thread, and I would define this in this context as the process by which conformance is evaluated.

I continue to think that validation is an important activity which I would like to see better supported by application profiles, and so it follows logical

[2019-09-03 16:37] paulwalk commented on #698
@nicholascar that sounds reasonable to me - so long as the framework recognises that preceding standards or application profiles - even where there is a notional "inheritance" - may not have been described with the same ontology, and that this would not prevent validation of data against a declared application profile.

[2019-09-03 17:56] kcoyle commented on #400
@rob-metalinkage There's no intention in the DCAP work to identify subject and object, if you are referring to the comparative table I mentioned. That's there to help us understand current use cases, and no one has a use case to point from one to the other in practice. So far the DCAP community has not expressed a need to encode relationships between profiles, and the product of the DCAP work will

[2019-09-03 20:52] kcoyle commented on #731
OK, now I see it! But that Figure 3 is very different from the other figures, and I wonder, given that it is a note, if it really belongs here. Even the 'figure' caption looks very different (respec DOES create difficulties!). Do you intend to keep the green note area in the spec?

[2019-09-03 20:53] andrea-perego opened #1051 "DCAT: Further updates to ack section"
There are other contributors to be added, following PR https://github.com/w3c/dxwg/pull/1021

E.g.:
- Tom Kralidis (see https://github.com/w3c/dxwg/issues/971)

Are there other ones?

[2019-09-03 21:10] andrea-perego commented on #1051
I created a draft PR adding Tom and Lars (we forgot you, sorry @larsgsvensson!): https://github.com/w3c/dxwg/pull/1052

@pwin , @dr-shorthair , @davebrowning , @agbeltran , @riccardoAlbertoni , please feel free to add any missing contributors in that PR.

Please remember that contributors are listed in two different paragraphs (the first for WG members, and the second for non-members), and in alph

[2019-09-03 21:25] aisaac commented on #535
I think this issue could now be closed.

[2019-09-03 23:39] kcoyle commented on #535
Yes, as long as we agree that the question of which roles are in the document/exist is not weighted based on the fact that some were entered into the document for the 2pwd. I don't want that to be cited as a precedent because those roles were not agreed by consensus. So if the closure statement could state this I would agree.

[2019-09-04 07:26] nicholascar opened #1053 "SheX feedback on example ResourceDescriptor"
The candidate 3PWD of PROF contains an updated example that characterises a ShEx resource for a profile, Example 4 [1].

[1] https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#eg-isInheritedFrom

The example is not specifically about ShEx or similar but it does contain the following RDF which lakes about a ShEx resource:

[code]

@tombaker, @ericprud: could either of you please indicate wh

[2019-09-04 10:31] kamhayfung commented on #688
Yes, it looks cleaner than before the change. FYI, removing unused namespaces will speed up schema validation of a document, I hope.

[2019-09-04 10:52] kamhayfung commented on #689
@kcoyle , regarding your note 4, I agree that symbols may turn out with different densities from different printers that the shades symbols might sometimes be indistinguishable from the hollow symbols. One way to fix is to use not shading but a different line type for drawing the symbol (e.g. dashed line in this case).

Regarding 1 & 2, since most diagrams use the same notations (i.e. element keys

[2019-09-04 11:37] nicholascar commented on #689
I'll try to move to shapes, not colours.

Great suggestion, will do!

[2019-09-04 12:26] andrea-perego opened #1054 "DCAT: Implementation of DCAT-AP in GeoNetwork"
See https://github.com/SEMICeu/DCAT-AP/issues/65

To be included in the DCAT2 implementation report for those classes/properties in DCAT2 already implemented in DCAT-AP.

[2019-09-04 14:18] riccardoAlbertoni commented on #960
+1 to have it in a primer (if we can resource writing one...).

[2019-09-05 00:29] kcoyle commented on #963
Decision (13 for, 1 against) in [poll](https://www.w3.org/2002/09/wbs/99375/profile-def/results). Final text is:

Data Profile

A data specification that constrains, extends, combines, or provides guidance or explanation about the usage of other data specifications.

Data Specification

A specification, with human- and/or machine-processable representations, that defines the content and structure

[2019-09-05 10:07] riccardoAlbertoni commented on #945
Further updates of acknowledgment are tracked by issue #1051 . So we can close this.

[2019-09-05 11:16] aisaac commented on #963
@kcoyle not sure we can put it due for closing. PROF is ok wrt having this definition represented, but Profile Guidance has not been updated yet. Maybe we can just remove the PROF label so that it doesn't stand in the way of PROF?

[2019-09-05 12:13] rob-metalinkage commented on #732
discussed in meeting https://www.w3.org/2019/09/04-dxwgprof-minutes  and confirmed these are the key questions.  We just need to make sure these are well described in the document.

[2019-09-05 12:14] aisaac commented on #732
Probably we need to come with an alignment between what is here and what is at https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#motivating-requirements

[2019-09-05 12:46] nicholascar commented on #963
@aisaac better not to remove the label as we’ll loose the association so marked the “prof-due-for-closing” so the full “due-for-closing” can be added when Profile Guidance gets there.

[2019-09-05 13:51] davebrowning commented on #1020
@larsgsvensson - the only remaining item in this list that we don't think we've addressed is point (2) - the suggestion about including a  URI to use.  Since we're now quite/very short of time, we'd prefer to hold this over so there is enough time to make sure its properly discussed (perhaps as some of the profiles work).

If that's okay, we'll move this issue across to the "Future Priority" miles

[2019-09-05 13:56] davebrowning commented on #960
So to summarise the state of this issue, the original reply to the feedback (in May) has been validated by this discussion, with some minor text improvements that can be incorporated in the future.  In addition, the examples would be good to incorporate in some further document.  If that's all agreed, I propose we move this to 'future work'.

[2019-09-05 13:57] davebrowning commented on #945
Agreed

[2019-09-05 13:57] #945 closed, assigned to andrea-perego

[2019-09-05 14:01] #531 closed, assigned to agbeltran

[2019-09-05 14:12] davebrowning commented on #971
Looking at the timeline that we need to follow to ensure the W3 process can complete, its now very unlikely that we'll be able to include these examples in the recommendation itself.  We will still be able to provide json-ld examples (equivalent to those in the text) as @dr-shorthair mentioned earlier, but as standalone example files.  and possibly include in other non-normative/discursive documen

[2019-09-05 14:28] davebrowning commented on #975
Leave as future work, pending any further discussion/update on https://github.com/ISO-TC211/XML/issues/205

[2019-09-05 14:32] davebrowning commented on #1051
I think this is complete with @riccardoAlbertoni 's additions (I don't know of any more)

[2019-09-06 07:36] oystein-asnes opened #1055 "How to express available formats for a dcat:Dataservice"
Sorry for coming in late in to this discussion, with the risk of missing out on obvious solutions and asking ignorant questions. We (Norway DCAT-AP-NO working group) are looking forward to be able to describe APIs in a DCAT-catalog, and the introduction of the dcat:DataService class seems to address that need neatly. Our biggest concern now is that users of a catalog of dcat:DataServices would exp

[2019-09-06 09:04] larsgsvensson commented on #501
@RubenVerborgh scripsit:

Because those key/value pairs would be attributes of the profile URI (i. e. the value of the `profile` attribute) and not of the link's context URI.

[2019-09-06 09:20] davebrowning commented on #1029
This was addressed in #1028 (now merged)

[2019-09-06 09:20] #1029 closed, assigned to nobody

[2019-09-06 09:25] davebrowning commented on #774
And it still is..

[2019-09-06 09:37] davebrowning commented on #725
On this splitting of the vocab file - which one is dcat.ttl, the ontology of just DCAT-defined elements  in DCAT namespace or the separate vocabulary file of the entire DCAT spec?

Since the [2014  dcat.ttl](https://www.w3.org/ns/dcat.ttl) includes just DCAT-defined elements, I'd assume we keep it that way....?

[2019-09-06 10:09] davebrowning commented on #972
As we are very near the deadline for DCAT 2 (possibly at it...), with a lot of review already done I'd like to propose that this discussion is held over for later work, if that's okay?

[2019-09-06 11:11] RubenVerborgh commented on #501
Ah yes. But that actually opens up another avenue: why not just use _another_ `Link` header with the profile as `context`? Then we can attach the attributes we want.
Seems cleaner than reinventing the attributes extension point inside of a string.

[2019-09-06 14:02] riccardoAlbertoni commented on #725
@davebrowning

+1
In my opinion, the second file might include only the "annotations" on external terms,  not replicating the dcat 2 terms. The second file is provided as it might be handy to have it in certain applications/contexts.

[2019-09-06 14:10] riccardoAlbertoni commented on #983
@nicholascar

In the current state, we have skos:definition for all the DCAT terms (terms from DCAT 2014 and DCAT 2).   We have maintained the rdfs:comments that were present in the dcat2014 for backward compatibility.

 I think we can close this issue. Any objections?

[2019-09-06 17:20] smrgeoinfo commented on #1055
As I understand the model, a dcat:Distribution may have multiple dct:format values, and by implication, those formats would be available via any dcat:accessService/dcat:DataService associated with that distribution. I think this addresses your first and second user story.

The third user story is about a dcat:DataService that is a data processing service, and agree that the current DCAT model does

[2019-09-06 23:09] rob-metalinkage commented on #501
Sounds like a good idea.. can you propose a pr with an example and correct wording by any chance, since you are most expert in this area?

[2019-09-07 05:27] nicholascar commented on #521
It looks like we might have bypassed this Issue by 1. detailing the competency questions used in the definition of `prof:isProfileOf` and by 2. dealing with resources via roles.

For 1.:
**IF** A isProfileOf B
**AND** X conformsTo A
**THEN** X conformsTo B

For 2.:
If a profile wishes to indicate a resource that can be used to assess conformance to it, such as a SHACL file, then that could be indi

[2019-09-07 05:41] nicholascar commented on #697
@paulwalk can you please see the diagrams in the [latest ED](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/) and indicate whether you think they are improved? If so I'll mark this "due-for-closing" since standardization had occurred and now the next step - to indicate a diagram key only once - is being addressed in #689.

[2019-09-07 05:43] nicholascar commented on #199
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:43] #199 closed, assigned to nicholascar, rob-metalinkage

[2019-09-07 05:43] nicholascar commented on #235
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:43] #235 closed, assigned to nicholascar

[2019-09-07 05:44] nicholascar commented on #409
I prefer to close, just to ensure the cycle of opening & closing is seen to be moving.

Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:44] #409 closed, assigned to nicholascar

[2019-09-07 05:44] nicholascar commented on #467
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:44] #467 closed, assigned to nicholascar

[2019-09-07 05:45] nicholascar commented on #492
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:47] nicholascar commented on #529
`prof:ResourceDescriptor` is conceptually aligned with `dcat:Distribution`, as per the [PROF/DCAT Alignment in the ED](https://w3c.github.io/dxwg/profilesont/#alignment-dcat).

Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:48] nicholascar commented on #535
No, there will be no assumption that the roles entered into the 2PWD are good/special/accepted. They were just a catalyst for discussion.

Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:48] #535 closed, assigned to nicholascar

[2019-09-07 05:50] nicholascar commented on #551
The [current Conneg ED](https://w3c.github.io/dxwg/conneg-by-ap/)'s [Overview of DXWG documents on profiles](https://w3c.github.io/dxwg/conneg-by-ap/#FamilyOfDocs) section lists all W3C & IETF Profile docs in this series. The IDs of the profile documents there are used in each other's documents for referencing.

Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetin

[2019-09-07 05:50] #551 closed, assigned to nicholascar

[2019-09-07 05:51] nicholascar commented on #555
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:51] #555 closed, assigned to nobody

[2019-09-07 05:53] nicholascar commented on #731
Removing "due-for-closing" since there is work to be done and labelling as "editorial" since we are now discussing styling of content.

[2019-09-07 05:53] nicholascar commented on #808
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:54] nicholascar commented on #279
OK, thanks @aisaac for the reminder to use the more persistent link!

Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 05:59] nicholascar commented on #641
Responding to @aisaac @kcoyle above:

The `prof:BaseSpecification` class has been removed from the vocabulary and thus the supporting documents with the recognition that the notion of a "base specification" is a term relative to a profile/standard and that an class (an absolute categorisation) is not needed. Where "base specification", in text, is mentioned in the documents, it is used to describe

[2019-09-07 05:59] #641 closed, assigned to nobody

[2019-09-07 06:00] nicholascar commented on #689
Removing "due-for-closing" until the changes I agreed to above are implemented.

[2019-09-07 06:02] nicholascar commented on #844
It is critical that the issue of the isProfileOf/conformsTo relationship be formalised, not that it be done so as suggested above.

[2019-09-07 06:05] nicholascar commented on #847
This issue has been superseded by wholescale redressing of roles in #1049 so I'm marking "due-for-closing" in recognition of that for Issue consolidation.

[2019-09-07 06:07] #239 closed

[2019-09-07 06:07] nicholascar commented on #265
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:07] nicholascar commented on #380
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:07] #380 closed, assigned to larsgsvensson

[2019-09-07 06:08] nicholascar commented on #382
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:08] #382 closed, assigned to nicholascar

[2019-09-07 06:08] nicholascar commented on #386
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:08] #386 closed, assigned to nicholascar

[2019-09-07 06:08] nicholascar commented on #388
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:08] #388 closed, assigned to nicholascar

[2019-09-07 06:08] nicholascar commented on #385
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:08] #385 closed, assigned to nicholascar, rob-metalinkage

[2019-09-07 06:08] nicholascar commented on #392
Closing after listing in plenary [2019-09-03](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.09.03) + 3-day wait period.

[2019-09-07 06:08] #392 closed, assigned to nicholascar

[2019-09-07 06:13] nicholascar commented on #575
@aisaac can you please perform that final check? Note that the branch conneg-ACTION-356 is gone since the content is merged into the ED at https://w3c.github.io/dxwg/conneg-by-ap/.

[2019-09-07 06:14] nicholascar commented on #1017
Removing "due-for-closing" since there are responses requested and actions proposed but not yet done.

[2019-09-07 09:28] RubenVerborgh commented on #501
Will do; just want to hear @larsgsvensson's feedback.

[2019-09-07 15:27] aisaac commented on #575
Issue 4 remains. The IETF doc is still mentioned in related work, which is misleading. It's not like other related work at all, since it's rather a 'companion' document. I reckon the opening paragraph in the related work section mentions it will be removed, so maybe I could leave with keeping IETF mentioned there for the time being. But then it's confusing as this is presented as regular text. It

[2019-09-08 01:23] kcoyle commented on #409
We could turn this into an action in the tracker if you think it still needs to be tracked.

[2019-09-08 01:26] kcoyle commented on #492
Check with @aisaac if his comment has been satisfied.

[2019-09-08 01:29] kcoyle commented on #529
Again, issues raised by @smrgeoinfo @andrea-perego @makxdekkers @aisaac need to be resolved, and at least those folks need to be pinged.

[2019-09-08 01:31] kcoyle commented on #535
@nicholascar it's best to say what the RESOLUTION of the issue is, not just that it was listed in an agenda. I believe that the RESOLUTION here is that there are still issues with roles, and that is being discussed at #1049.

[2019-09-08 01:32] kcoyle commented on #555
@nicholascar the closing resolution appears to be that the loading error was fixed in pull request #556

[2019-09-08 01:35] kcoyle commented on #279
@aisaac are you ok with closing this? You removed the label earlier. Also, there is quite a bit of discussion above - has it been captured in the document? @nicholascar remember to give the resolution of the issue, not just that it was listed in the plenary. That isn't the key bit of info; we need to know what happened with the ideas that came up here.

[2019-09-08 01:41] kcoyle commented on #265
@nicholascar how was it dealt with in conneg? You need to record that in the closing comment.

[2019-09-08 08:49] dr-shorthair commented on #1055
Thanks for the comments and suggestions. Unfortunately they arrive largely too late to be considered for the current release of DCAT. However, they should be added to the backlog for a future update. The plan is to maintain DCAT as an 'evergreen standard' so revisions should come reasonably frequently. Of course there is also nothing to stop you developing a DCAT extension for data-processing-serv

[2019-09-08 13:50] davebrowning commented on #922
#1056 (when merged) aims to address these final points....

[2019-09-08 15:44] paulwalk commented on #697
@nicholascar Thanks for following this up. I agree that the diagrams are improved, in the sense that I can follow them and believe that I understand what they are trying to convey in general.

Note: this is not an endorsement of the model - this comment refers to the *notation* used.

[2019-09-08 16:32] aisaac commented on #529
I was essentially waiting for a record of any decision, I think @nicholascar fulfills that.

An additional note: as of today, I find myself unable to weigh all possible consequences of the decision, so I may come with some remarks later. But considering the age of the issue, and the fact that questioning the decision made here would require a look at a PROF landscape that has changed a bit, I can

[2019-09-08 16:38] aisaac commented on #535
@kcoyle I believe that the discussion in March (starting from [this comment](https://github.com/w3c/dxwg/issues/535#issuecomment-469897015)) was decent enough for closing and then our new issue was visible enough. But as I've gone through the comments, I'll try a recap on behalf of @nicholascar and you:
- the original issue of styling has been addressed
- additional issues about roles' locations &

[2019-09-08 16:45] aisaac commented on #279
@kcoyle indeed I'm not ok closing this, well spotted. As said earlier I don't know if it has been handled for the Profile Guidance document, therefore we need to keep it open from the perspective of this deliverable. @nicholascar it should have disappeared from your list of issues to close, as it's not labeled for PROF anymore!

[2019-09-08 16:52] aisaac commented on #492
@kcoyle it's fine. Ideally these examples should be in the Profile Guidance (or they should at least be mirrored in it, somehow) but as the work on it has been delayed, I believe that the coming version of PROF must have them in.

Note that this is not a formal agreement about the content of these examples (which I've not checked), and I may still argue later for moving the examples. But that can

[2019-09-08 18:57] kcoyle commented on #808
@nicholascar Antoine suggested keeping this open. It isn't crucial but we also shouldn't lose sight of it. I'm going to reference it in another open issue, and we may be opening yet another issue around this topic, but not exactly the same.

[2019-09-08 19:16] kcoyle commented on #529
@aisaac Thanks. Do you have an idea of what would be the new issue (since this one has taken a rather crooked path)?

There is an open issue about a "formalism" between DCAT and PROF (#808), but I think this is more fundamental. We've had lengthy discussions about this, including #769, which questions the overall design, of which the "DCAT Distribution" shape would be one possible one. There is al

[2019-09-08 21:28] aisaac commented on #529
@kcoyle yes we should probably return to this only after reviewing the current draft. My comment was confusing: I said "I may come with some remarks". The "may" applies to everything that follows, too: i.e. I could see an issue, but I could also well not see an issue! (in fact I think I'm alright with the current mapping to dcat:Distribution, it's just that I've not re-examined all the context).

[2019-09-08 21:43] kcoyle commented on #492
I can live with keeping these examples in the document now, but I think that some of them are examples of properties and features that are not fully decided. That makes this a bit of a "chicken and egg" situation, and I will also say (as @aisaac does) that this is not agreement on the content of the examples.

[2019-09-08 21:58] aisaac commented on #698
This issue has gone a bit wild... but if we can all agree that:
- the "convention for finding how to validate data against a profile" would be that consumers of PROF profile metadata would seek to access the Resources with role "validation" and try to make sense of them
- that making sense of them cannot be specified further because there too many validation models/languages that could be used (bt

[2019-09-08 22:09] aisaac commented on #844
The suggested axiom seems the most natural one, especially considering the vagueness of the definition for conformsTo. And I think I've recently supported this.
That said, I'm puzzled, as I'm not sure it would apply to everything that I think is a profile of something else in the Europeana context.
Anyway, I don't have the time to dig up now, and I think it is worth bringing this to the group. If

[2019-09-08 22:47] nicholascar commented on #983
Thanks @riccardoAlbertoni, I see convergence (or is it groupthink?) around the use of definition v. comment. Either way, there is an emerging practice here that seems to work.

[2019-09-08 22:48] nicholascar commented on #409
@kcoyle yes, I think an ACTION is better.

[2019-09-08 22:49] nicholascar commented on #492
@kcoyle agreed: not agreement of content, just agreement to, as per title, "Determine which examples are to be published...".

So... still like to close!

[2019-09-08 22:55] nicholascar commented on #697
@paulwalk ok, I'll take what I can get and mark this due-for-closing on the basis of the editorial diagram issue bing improved, not anything to do with the model they represent!

[2019-09-08 22:56] nicholascar commented on #535
Thanks for the wrapping-up comment @aisaac. I've noted your style for future use!

[2019-09-08 23:07] nicholascar commented on #808
This issue was raised for the 2PWD release and dealt with for that release (informal alignment only).

The 3PWD candidate also has a [Related Work section that talks about PROF v. DCAT](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#related-dcat) in addition to the [informal alignment in the Alignments section](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#alignment-dcat)

[2019-09-08 23:13] rob-metalinkage commented on #698
@smrgeoinfo @tombaker  +1 to separating out the concerns of the validation procedure from the resources needed to perform it. This is not currently supported in proposed roles - so if we have a concrete example available it could be added. Create  new issue to suggest a name and description for such a role if desired.

[2019-09-08 23:43] rob-metalinkage commented on #808
If you want to propose a new approach to this, or focus on some specific aspect that has emerged that doesnt affect the decision not to formally align, then just open a new issue for that.  Leaving quite clearly addressed issues open because you might want to look at the topic in future or the discussion raises other issues just reduces our ability to focus on the merits of any specific concern or

[2019-09-09 02:15] nicholascar commented on #265
@kcoyle and for all other readers:

The "ability to negotiate the data profile via http" of internet resources is the core concern of Content Negotiation by Profile. The approach is "similar to the negotiation of data formats today" in that where a content request by format (Media Type) is implemented with the requester including the HTTP header `Accept` in an HTTP request, a request for content v

[2019-09-09 02:15] #265 closed, assigned to nobody

[2019-09-09 03:29] kcoyle commented on #698
All, we have #1049 for discussion of what roles to include, and how to define them.

[2019-09-09 03:34] kcoyle commented on #409
Done. ACTION-366

[2019-09-09 03:37] kcoyle commented on #492
Examples as listed in [comment](https://github.com/w3c/dxwg/issues/492#issuecomment-526133792) are now in [Section 10](https://w3c.github.io/dxwg/profilesont/#examples) of the editor's draft.

[2019-09-09 03:37] #492 closed, assigned to nicholascar

[2019-09-09 03:46] kcoyle commented on #808
I have trouble with this characterization in DCAT:

"The main subject that differentiates PROF from DCAT is that PROF specifically addresses the notion of conformance – of profiles to specifications or other profiles – about which DCAT is silent. DCAT does address the notion of instance data conforming to an "established standard" (see it's suggested use of the dct:conformsTo property and here – i

[2019-09-09 04:17] kcoyle commented on #844
We've been around the block on this one more than once. (#507, #660) The problem here is what "conforms to" and "profile of" mean. What happens when I have one profile with A, B, and C properties, and profile of that profile that has properties A, B, C, D, E? This is the case with the DCAT-AP variations that I have seen. Doesn't conformance depend on what the profile creators says is conformance?

[2019-09-09 06:00] makxdekkers commented on #844
@kcoyle

From what I know of DCAT-AP and 'extensions' like national DCAT profiles, those 'extensions' are not presented as profiles of DCAT-AP, but rather as profiles of DCAT that are compatible with DCAT-AP. See the rules established for such extensions: https://joinup.ec.europa.eu/release/dcat-ap-how-extend-dcat-ap. I would say that those profiles are '_compatible with_' rather than '_profiles o

[2019-09-09 07:47] larsgsvensson commented on #501
@RubenVerborgh  scripsit:

Seems cleaner than reinventing the attributes extension point inside of a string.

Brilliant! +1000, please go ahead!
Further thoughts: Then we can define the `Link` header attribute `token` in the W3C doc where we'd need to highlight that the mapping between the profile as `context` and the profile's token is only guaranteed to be valid for the requested resource.

[2019-09-09 07:49] aisaac commented on #844
@kcoyle it makes perfect sense to discuss this in the other issues, for finding out what isProfile and conformsTo mean. As I've said, if the discussion there leads to counter examples, then they can brought in the discussion here.
So @makxdekkers 'comment would be a better fit for #507, maybe. Same as @kcoyle 's remark on what conformance means: this is probably for #660 . But I think talking with

[2019-09-09 07:59] rob-metalinkage commented on #808
@kcoyle - thats all good points - can we move it to a new issue which addresses those called something like "improve description of relationship between DCAT and PROF" and close this one, since we are definitely not going to have time or interest to revisit the original topic and try to find a new motivation to do a formal alignment.

[2019-09-09 08:06] aisaac commented on #808
Actually I do have one comment about the alignment, as I'm looking at conformance discussions again...
The sentence that @kcoyle noted raises a big issue for me, as it seems that much more could be said to align with DCAT, rather than to differentiate from it, and this could be useful for all the discussions around PROF and conformance...

My starting point is that DCAT actually says quite a lot a

[2019-09-09 08:06] aisaac commented on #808
@rob-metalinkage I'm perfectly fine moving this to another issue!

[2019-09-09 08:07] rob-metalinkage commented on #844
Also, there is no real reason why we can't specify one set of semantics and if it doesnt fit some cases thats just tough.  These cases have not been specified in sufficient detail in the UCR process for anyone involved to tease out a requirement for anything else for what "compatible" may mean that is different from a valid use of "conformsTo" - though of course such cases may exist.

Making seman

[2019-09-09 08:14] aisaac commented on #844
Having vague semantics can be a way forward, as per the "minimal ontological commitment" design principle (and cf "Best Practice 16: Choose the right formalization level" [in earlier W3C work](https://www.w3.org/TR/dwbp/#dataVocabularies)). I believe PROF can be useful even if there's no axiom on conformsTo/isProfile of. But indeed, if there can be such axiom (i.e. there's no objection to it, base

[2019-09-09 08:14] rob-metalinkage commented on #808
@makxdekkers the example you cite is rather informative - but it supports the view in the profiles vocabulary rather than any suggestion that we need some weaker notion of "compatibility" to handle DCAT-AP profiles.

 " Extensions must not widen but may only narrow down the usage notes as specified in DCAT-AP v1.1, so that all information provided according to the extension remains valid for DCAT-

[2019-09-09 08:16] aisaac commented on #808
@rob-metalinkage your last comment seems like a comment for another issue (and if you put there please see Karen's and my comment there, that this discussion may be for yet another issue!)

[2019-09-09 08:16] larsgsvensson commented on #1020
@davebrowning scripsit:

Yes, fine with me. All other points have been addressed.

One very minor nit on point 10.: The text for the link to  https://dcat-ap.de/def/ reads "DCAT-AP.de als formaler Metadatenstandard für offene Verwaltungsdaten bestätigt". The actual title of the document is "Vokabulare und Dokumente für DCAT-AP.de".

[2019-09-09 08:23] rob-metalinkage commented on #844
@makxdekkers the example you cite is rather informative - but it supports the view in the profiles vocabulary rather than any suggestion that we need some weaker notion of "compatibility" to handle DCAT-AP profiles.

" Extensions must not widen but may only narrow down the usage notes as specified in DCAT-AP v1.1, so that all information provided according to the extension remains valid for DCAT-A

[2019-09-09 08:26] rob-metalinkage commented on #507
@makxdekkers cited https://joinup.ec.europa.eu/release/dcat-ap-how-extend-dcat-ap which   is rather informative - which may not have been the intention when citing it but it supports the axiomitisation proposed in #844

" Extensions must not widen but may only narrow down the usage notes as specified in DCAT-AP v1.1, so that all information provided according to the extension remains valid for DCA

[2019-09-09 08:28] rob-metalinkage commented on #808
@aisaac  thanks -  moved to correct issues #507 #844

[2019-09-09 08:39] dr-shorthair opened #1057 "DCAT - Move DCAT and imported elements into separate RDF files"
In the long discussions around #725 and #983 it became clear that there was some discomfort about the fact that elements from both the DCAT and non-DCAT namespace were included in the RDF file. The non-DCAT terms mostly only have some additional documentation and usage notes relative to their canonical external representations.

It seems that it might be preferable to separate these two sets of de

[2019-09-09 08:55] larsgsvensson commented on #387
@nicholascar the way things look right now, I don't think there will be a DNB implementation, at least not in time for the move to PR... Closing as WONTFIX seems the best option to me.

[2019-09-09 12:17] oystein-asnes commented on #1055
Thanks alot for comments.
@smrgeoinfo: We have to conform to  EUs DCAT-AP, and they have put 0..1 on both dcat:mediaType and dct:format for distributions. We will feed this back to their AP-work, but it is a hard sell since multible formats for distributions seems to be in breach with the concept of a dcat:distribution(?)

@dr-shorthair:  Yes, we are rudely late. I see the point of what to bring i

[2019-09-09 12:53] davebrowning commented on #922
Now merged

[2019-09-09 13:00] davebrowning commented on #1020
Thanks @larsgsvensson .

[2019-09-09 13:28] davebrowning commented on #972
@smrgeoinfo - Stephen, we've run out of time to try to factor these improvements into this version and still get everything through the process, so we're prosing leaving them on file to get factored into future work as and when that can happen - perhaps as early as next year, in a more incremental approach, though that's not guaranteed yet.

Hope this is okay - thanks for your time & effort - you

[2019-09-09 14:04] aisaac commented on #989
@pwin @kcoyle is there any reason to keep this issue open? It seems that the main matter (the definition of profile) is handled and recorded in #963 . We could still keep this issue open in case some stuff could be added in Profile Guidance (the last comments hint that something can be done here). But that would be rather an editorial action - and with a shared understanding that I can close the i

[2019-09-09 15:10] kcoyle commented on #963
This was to discuss the counter-proposal that Rob added to the [poll on the definition](https://www.w3.org/2002/09/wbs/99375/profile-def/results). As the results of the poll were 13 for the definition based on Tom's definition, and 1 against (Rob), I think we can close this, with the assumption that Profile Guidance will use the definition that 13 members voted for, not the counter-proposal.

[2019-09-09 15:11] aisaac opened #1061 "Suggested updates to definition of PROF constructs"
@nicholascar @rob-metalinkage As discussed in our last PROF call, here are suggestions for updating the definitions and notes of some PROF constructs. For now I've focused on the ones of section [8.3 Class: Profile](https://w3c.github.io/dxwg/profilesont/#Class:Profile) as this takes time, and I want to see how you react to my first suggestions before continuing this :-)

- [prof:Profile](https://

[2019-09-09 15:16] aisaac commented on #963
@kcoyle yes this is probably simpler. As a matter of fact I've just worked the new definition in the document that I (still) want to use to prepare for the next updates on Profile Guidance (https://docs.google.com/document/d/1Y4jP4SGZMnt63EpjTX11-hW6-3mxlaq1i-Lbiw4tx1M/)

[2019-09-09 15:40] nicholascar commented on #387
Marking due-for-closing & wontfix due to comment above.

[2019-09-09 15:44] kcoyle commented on #963
Decision (13 for, 1 against) in poll. Alternate text has not gathered adherents. Therefore this issue to discuss the alternate text can be closed. Documents will use the final text, which is:

Data Profile

A data specification that constrains, extends, combines, or provides guidance or explanation about the usage of other data specifications.

Data Specification

A specification, with human- and/

[2019-09-09 15:44] #963 closed, assigned to nobody

[2019-09-09 15:51] nicholascar commented on #402
@aisaac we (Rob & I) do think that PROV & PROF are doing different things, if not irrelevant to one another. But since dependency & conformance are clearly somewhat related and people have asked questions about PROV when considering PROF, it makes sense to have a Related Work and an Alignments piece about PROV, even if the outcome of work on those sections is that they are not so related and that

[2019-09-09 16:12] nicholascar commented on #753
The issue raiser has indicated her questions have been answered either in document edits or direct responses, as per her post to the public comments list https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Sep/0002.html so I'm marking due-for-closing.

[2019-09-09 16:19] #753 closed, assigned to nobody

[2019-09-09 16:58] smrgeoinfo commented on #972
No problem. People can refine guidance in local profile instructions to work in their community.

[2019-09-09 17:02] smrgeoinfo commented on #1055
:)

[2019-09-09 18:06] smrgeoinfo commented on #844
Given that the interpretation of dct:conformsTo is fuzzy, will vary from specification to specification, I think the proposed entailment is good because it conveys the intention of the 'profileOf' relation that distinguished it from other relations between specifications.

[2019-09-09 18:33] makxdekkers commented on #844
@rob-metalinkage @smrgeoinfo Are you saying that the kinds of rules specified in https://joinup.ec.europa.eu/release/dcat-ap-how-extend-dcat-ap are implied for the `prof:isProfileOf` property?
I don't see that in the definition or usage note at https://w3c.github.io/dxwg/profilesont/#Property:isProfileOf. I read: "_All constraints of these specifications are inherited, in the sense that an object

[2019-09-09 19:10] smrgeoinfo commented on #844
I think there's a problem with the interpretation of the term 'inherited', which I would understand (and it seems that you do as well) to mean the exact constraint rule applies. This is not consistent with "an object conforming to a profile conforms to all the constraints specified the targets of prof:isProfileOf relations", which if I understand [how to extent dcat](https://joinup.ec.europa.eu/re

[2019-09-09 19:44] rob-metalinkage commented on #844
If you conform to a narrower condition you also conform to the broad condition, so there isnt actually any difference in these interpretations of inherited...

This is why axioms are important - they are unambiguous and not subject to different people's preferred way of interpreting common words.  Given that the definition provides a very explicit way to interpret the usage of "inherit" IMHO it is

[2019-09-09 20:27] aisaac commented on #989
@riccardoAlbertoni I'm thinking of putting the note above in the[ "motivation" part of the Profile Guidance](https://w3c.github.io/dxwg/profiles/#motivation). It would look like the suggestion [in section 2 in this working document](https://docs.google.com/document/d/1Y4jP4SGZMnt63EpjTX11-hW6-3mxlaq1i-Lbiw4tx1M/). It's not right next to the definition, but it's really not far. Would it be ok?

[2019-09-09 20:30] aisaac commented on #402
@nicholascar perfect. I guess this fully clarifies (and perhaps nullifies) [the previous note](https://github.com/w3c/dxwg/issues/402#issuecomment-522369510) that confused me, and I think the issue can be closed.

[2019-09-09 20:50] aisaac commented on #844
Well actually I have just today made a suggestion to remove considerations of inheritance and conformance in the usage note of prof:isProfileOf, as it pollutes the discussion on semantics here, and it should probably be factored in a specific section, not spread across various bits in PROF. And it gives a bias: if we decide to follow what's in this note already, then the discussion here is moot, a

[2019-09-09 23:11] kcoyle commented on #844
@aisaac I can see that DCAT-AP and its recommendations for extension fit this model. Does that mean that EVERY profile that is a "profile of" fits this model? Are we describing a tautology, such that: if it fits this model then it is a "profile of" the related profile? DCAT-AP has a pretty comprehensive description of rules for extension, but I'm not at all sure that we can assume that all profile

[2019-09-09 23:19] kcoyle commented on #989
I admit that I'm confused about the various issues about defining profiles. I'm not sure where this one stands, but I'm confident that the definition that Rob proposed during the poll has not been championed by anyone else in the group, and the definition in the poll was overwhelmingly (all positive votes except Rob's - sorry , Rob) voted positively. For that reason I would favor closing this as a

[2019-09-09 23:51] rob-metalinkage commented on #844
So far we think all the identified motivating use cases ( including  DCAT-AP, ISO, OGC, Europeana. Conneg (abstract model), media type profiles )  fit this model and we have no examples of cases where we can show it doesnt or that something useful would be gained by modelling a different behaviour...

so lets leave it as is, and that's the scope of this model and its definitions.  Others could com

[2019-09-10 00:13] dr-shorthair commented on #1055
@oystein-asnes wrote:

Could you provide a concrete proposal?

[2019-09-10 01:18] agreiner commented on #844
Let's not forget the case where a profile is a profile of more than one specification. In that case, it is possible that the base specifications conflict in some use of terms. It would obviously be unwise to make a profile that includes conflicting terms, but a profile might use terms that do not conflict with each other but that come from base specifications that use other terms in conflicting wa

[2019-09-10 08:46] RubenVerborgh commented on #501
@larsgsvensson Thanks! Suggestion in https://github.com/w3c/dxwg/pull/1063.

[2019-09-10 08:53] RubenVerborgh opened #1064 "Remove "Alternate ways of conveying URI / token mappings""
There currently is a not in the conneg-by-ap document titled "Alternate ways of conveying URI / token mappings". However, every single listed option is incompatible with the `Content-Profile` header as defined.

I propose to remove this note once we have finalized the token mechanism (for instance, through #1063).

[2019-09-10 10:13] matthiaspalmer commented on #1055
Two things:

1. I agree with @oystein-asnes regarding the interpretation that a dcat:Distribution can only have one format. In part due to the DCAT-AP constraint and in part from the definition of dcat:Distribution in the original DCAT recommendation that says that distributions are used to "represent different formats of the dataset or different endpoints".
2. Maybe we do not need to introduce a

[2019-09-10 10:46] larsgsvensson commented on #1064
@RubenVerborgh scripsit:

+1

[2019-09-10 10:51] matthiaspalmer opened #1065 "Express dct:contributor explicitly or via qualifiedAttribution"
The text in [13.1](https://w3c.github.io/dxwg/dcat/#qualified-attribution) as well as the [hadRole description in the changelog](https://w3c.github.io/dxwg/dcat/#changes-since-20140116) seems to indicate that qualifiedAttribution should not be used when the relation is well captured by the semantics of dct:publisher, dct:creator and dct:contributor.

However, dct:contributor is not listed as one o

[2019-09-10 14:06] aisaac commented on #989
@kcoyle I would also want to close it, I think the definition stuff is handled. It's just that Riccardo wanted some bits of the discussion to be put in the Guidance, which I've just done. So one he says he's ok with the suggestion we can close.

[2019-09-10 14:19] aisaac commented on #844
@kcoyle yes indeed we can't assume that all profiles fit these rules. But I would say that here it's fair that the burden of proof falls on the contradicting side: we just need one legit counter-example to prove the axiom wrong.

Btw I'm not sure that the Europeana Data Model rules fit the axiom. As said earlier I just didn't have time to check it further. But I feel that @agreiner may be on a goo

[2019-09-10 15:47] kcoyle commented on #844
I guess it depends on what is considered a contradiction. In BIBFRAME, anyone can create a profile that uses a different vocabulary list for the value of things like subject or material type. And the profiles for specialized formats do that. While there is no actual mechanism for profiles of profiles, two profiles that are [profiles of BIBFRAME](http://bibframe.org/profile-edit/#/profile/list) can

[2019-09-10 16:16] nicholascar commented on #844
@agreiner seems to be describing something that's more akin to `owl:imports` or the `voaf:uses` than what `prof:isProfileOf` is intended for.

We can interpret `prof:isProfileOf` strictly - it's all about conformance - and then describe other ways in which specifications may relate that are not conformance relations.

[2019-09-10 18:37] agreiner commented on #844
owl:imports or voaf:reliesOn, voaf:specializes and friends seem like ways to encode a profile that works for the use case I describe, but I don't see how that makes it not a profile.

[2019-09-10 18:43] agreiner commented on #1055
I agree with matthiaspalmer on this one. If a dataset is available in multiple formats, each can be described as a distribution.

[2019-09-10 19:55] aisaac commented on #844
@kcoyle "two profiles that are profiles of BIBFRAME can be compatible with BIBFRAME but not compatible with each other." is not a contradiction to the axiom.
This is a formal axiom that states "if A is a profile of B, and a dataset conforms to A, than this dataset should conform to B"
It can be contradicted if you can find any specifications A, B, such as A is a profile of B and there can be a dat

[2019-09-10 20:00] riccardoAlbertoni commented on #174
PR #1035  completed the Italian translation.

[2019-09-10 20:23] rob-metalinkage commented on #1055
The cardinality of dc:format looks like an issue with  EUs DCAT-AP - DCAT isnt the source of the problem . I dont think DCAT should need to change here.   You could choose your own profile which uses an entailment rule to transform to DCAT-AP - thats a system decision what profiles to support.  Better to fix DCAT-AP though.

[2019-09-10 20:56] rob-metalinkage commented on #844
I dont see a counter-example in "is based on" cases - its either "based on but not a profile of" (prov:derviedFrom of something) or the community defines its notion of conformance around whatever it needs to interpret "based on" in some functional behaviour.

I think we should be happy just to provide the missing mechanism for describing strict conformance and leave other less easily described beh

[2019-09-10 21:04] rob-metalinkage commented on #844
@agreiner - some other "uses" relationship can handle cases where terms are used but conformance to a "base" is not.  If you import that base in OWL imports of course you buy _every_ restriction in the base - so if you conform to OWL semantics you conform to the base.

generally simple vocabs without OWL axiomitisation introduce just one type of constraint - if you use a term T then you honour its

[2019-09-11 01:35] dr-shorthair commented on #1055
Thanks @agreiner - indeed, each format corresponds with a `:Distribution`.

There is no direct relationship from `:DataService` to `:Distribution` (see https://w3c.github.io/dxwg/dcat/images/DCAT-summary-all-attributes.png) but I think the model is correct.
So in order to indicate multiple formats you could do something like
[code]

[2019-09-11 06:29] davebrowning commented on #1051
Marked 'due for closing' - if we need to add further commenters we should use a new issue for clarity

[2019-09-11 06:32] davebrowning commented on #1013
Will close after suitable period

[2019-09-11 06:48] aisaac commented on #844
@rob-metalinkage indeed @agreiner 's owl:import would be a case where the axiom works indeed. But the other types of profiling are more dubious.

Of course the question is whether these "is based on", as you say, would qualify as profiles, or more precisely, would make acceptable occurrences of [prof:isProfileOf](url) statements. This is perhaps more in scope for #507 and I'm going to add a commen

[2019-09-11 06:52] aisaac commented on #507
In #844 there's a discussion on whether one example of "profiling" between the [DPLA metadata application profile](https://pro.dp.la/hubs/metadata-application-profile) and the Europeana Data Model. The DPLA MAP is "based on EDM" as it re-uses quite some vocabulary elements from EDM (themselves inherited from other vocabularies) and some key patterns. But for one key type of resources it uses its o

[2019-09-11 07:06] makxdekkers commented on #507
@aisaac I think your point makes sense. Just a question, does the DPLA MAP strictly satisfy all the constraints defined in EDM for all the elements it reuses from EDM? If so, I would agree that it is a profile of EDM, because it does not violate EDM.
The case of DCAT-AP extensions is stronger: it also considers the use of 'similar' classes and properties -- of which the `dpla:SourceResource` as 's

[2019-09-11 07:18] makxdekkers commented on #1055
@rob-metalinkage

I don't agree. As @matthiaspalmer notes at https://github.com/w3c/dxwg/issues/1055#issuecomment-529869464, the definition of `dcat:Distribution` in DCAT 2014 suggests a Distribution has only one format: "_Represents a **specific** available form of a dataset_". In addition, the definition of `dct:format` in the DCAT spec at https://www.w3.org/TR/vocab-dcat/#Property:distribution_

[2019-09-11 08:05] kcoyle commented on #1055
I agree with @makxdekkers but also add that the object of dct:format is the format of the subject of dct:format, and it is hard to imagine single resources that are simultaneously more than one format.

[2019-09-11 08:19] kcoyle commented on #844
@aisaac If "profileOf" must have as its subject a profile and as its object a profile, which I think is the case, then that should be stated clearly in the document. In the past there were statements like "X is a profileOf Dublin Core terms" which is not true if both subject and object must be profiles. The axiom does show that both subject and object are profiles, but the definition of "isProfile

[2019-09-11 10:42] larsgsvensson commented on #501
Resolution: The IETF document will contain text to register the target attribute `profile` for the `Link` header as follows (cf. [my comment above](#issuecomment-525641306))

Since there is consensus on that, I mark this issue as "due-for-closing". The discussion about the mapping of tokens to URIs are really part of #290 so I shall comment there.

[2019-09-11 10:51] larsgsvensson commented on #290
The discussion over at #501 has lead to the following resolution:
Servers can use a second link header to publish any mapping between a profile URI and the corresponding token. This is now part of conneg-by-ap in [example 12](https://w3c.github.io/dxwg/conneg-by-ap/#eg-uri-token), and the `Link` header attribute `token` is defined in the same document in [§7.1](https://w3c.github.io/dxwg/conneg-by

[2019-09-11 12:41] larsgsvensson commented on #575
Summarising @aisaac's [comment](#issuecomment-529117871), the following of his points are still open:
* Issue 4 remains. The IETF doc is still mentioned in related work, which is misleading. It's not like other related work at all, since it's rather a 'companion' document. I reckon the opening paragraph in the related work section mentions it will be removed, so maybe I could leave with keeping IE

[2019-09-11 15:43] kcoyle opened #1068 "Definition of prof:isProfileOf"
The current definition of `prof:isProfileOf` is:

As "specification" has been defined, not all specifications are profiles. The "axiomatization" of isProfileOf (#844) implies that the object of `isProfileOf` is a profile.

I see two things that need to be clarified:
1) what is the relationship of a profile to the object of `isProfileOf`? It may constrain but it also may expand on, so defining this

[2019-09-11 16:54] smrgeoinfo commented on #844
seems like the object should be a specification, maybe dct:Standard?

[2019-09-11 17:42] nicholascar commented on #1068
The proposed axiom is:
[code]

This doesn't make any claim about the range value of `prof:isProfileOf`, only that if X conforms to Y and Y isProfileOf Z, then X conformsTo Z.

Here Y would have to be a profile as it's indicated as being as isProfileOf Z. Z could be a specification that doesn't profile anything, so the conformance chain ends there.

[2019-09-11 17:52] nicholascar commented on #844
Straight outa PROF 2PWD (https://www.w3.org/ns/dx/prof/):

[code]

[2019-09-11 19:24] kcoyle commented on #844
OK, so this "axiom" is more specific than the definition, because the axiom shows two profiles, not a profile that is a profile of any standard. To my thinking that requires a different axiom:

:aResource dct:conformsTo :Profile1 .
:Profile1 prof:isProfileOf :someStandard .

entails:
:aResource dct:conformsTo :someStandard .

This is also quite a more more ambiguous since "someStandard" can be jus

[2019-09-11 23:57] dr-shorthair commented on #1055
Just in case it was not clear, since `dcat:mediaType rdfs:subPropertyOf dct:format . ` the snippet above could also be written
[code]

[2019-09-12 01:07] nicholascar commented on #844
@kcoyle I agree with your characterisation above I'm not quite sure I follow your statement

If you're referring to Rob's starting comment containing :Profile1 & :Profile2 text of:

[code]

entails:
```:aResource dct:conformsTo :Profile2 .```

well that's just example text using individuals of :Profile1 & :Profile2 informally. So, despite perhaps awkward naming since, as you note, there's no hard

[2019-09-12 01:21] rob-metalinkage commented on #1055
If you cannot contemplate content negotiation occurring in your implementations then you are free to use the long-hand version @dr-shorthair suggests.  If you have content negotiation and use that pattern then there is a lot of redundant duplication of the resource identifier, but it doesnt break.  DCAT-AP is effectively saying thats the pattern you MUST use.   If that is unacceptable to a user of

[2019-09-12 01:53] rob-metalinkage commented on #1068
The questions are already addressed:

prof:isProfileOf rdfs:range dct:Standard

doesnt need any further decisions, and answers the questions posed.

The axiom makes the relationship clear within the formalism of OWL semantics, and its been stated in text already. This was relaxed from rdfs:range prof:Profile even though that would be correct, because it seems too hard to understand that any dct:St

[2019-09-12 07:22] aisaac commented on #1068
+1 for the range as it is.

Re. "expand" I guess this related to what we discuss (also wrt "combines" in the definition) in #507. Maybe it's better to have the discussion there?

Note that I had created #1061 as an attempt to have discussions on the definition (like this one - there would be no need to be worried about the wording with "constraints" if other words from the agreed WG definition wer

[2019-09-12 10:25] rob-metalinkage commented on #802
This is a rambling discussion as people try to understand - but there is not substantive issue here to address. The actual issue is being addressed at #844  where it looks like it is worthwhile introducing a formalism to prevent all sorts of interpretations being argued without any functional value evidenced for those other cases which could be handled by other vocabularies if required and actuall

[2019-09-12 10:30] rob-metalinkage commented on #844
much of the same ground has been covered in #802 - which is a "discussion only" issue with no resolution - the resolution of this issue will determine whether isProfileOf owl:equivalent dc:relation (some relation but it is not specified what it means) or whether it has useful semantics that allow entailment of conformance statements as defined by the property axiom proposed.

[2019-09-12 10:39] makxdekkers commented on #1055
@rob-metalinkage
As far as I am concerned, DCAT-AP implements the approach implied by DCAT, namely that one distribution is associated with one format. I do not understand how you can read https://www.w3.org/TR/vocab-dcat/#class-distribution differently. If DCAT had contemplated a shortcut for content negotiation, if would have said so.

[2019-09-12 11:16] rob-metalinkage commented on #802
The question in the issue is actually one about how communities define conformance - and this doesnt need to be addressed in prof beyond the improvement in wording - this has been discussed at length in multiple issues - but a clarification needs to be inserted into the text.

[2019-09-12 11:22] rob-metalinkage commented on #1055
@makxdekkers thats _an_ interpretation - but it explicitly states "This represents a general availability of a dataset it implies no information about the actual access method of the data" [1] and nowhere can I see where explicitly states "one distribution is associated with one format." ... can you provide a pointer to where that is stated?

[1] http://www.w3.org/ns/dcat#Distribution

[2019-09-12 11:24] rob-metalinkage commented on #1055
unless it is not obvious that "Examples of distributions include a downloadable CSV file, an API or an RSS feed" includes "API" and APIs can definitely support multiple formats... ?
anyway this is all just information - its up to DCAT contributors to decide if they wish to support an end-run around this, and if the intent is truly to restrict one format per Distribution then the add an axiom to de

[2019-09-12 12:29] aisaac commented on #844
@rob-metalinkage as much as my case may require not having a tight axiomatization for prof:isProfileOf, I reckon that prof:isProfileOf owl:equivalent dc:relation is just impossible. dc:relation is a super-property of many DC elements, and the suggested axiom would imply that these properties would then be also sub-properties of isProfileOf. Some of them may fit (e.g. for dc:references, maybe we ca

[2019-09-12 12:33] aisaac commented on #844
@kcoyle @nicholascar I guess we can agree that the suggested axiom should be rewritten with something like :baseSpecification instead of :profile2 . It doesn't change anything to what @rob-metalinkage has proposed but it would avoid unnecessary discussion whether :profile2 was a "true"  profile or just any spec.

By the way @rob-metalinkage @nicholascar can we stick to the convention that instance

[2019-09-12 13:15] rob-metalinkage commented on #548
This is moot now a mechanism for HTTP has been agreed and implemented in PR-1031

[2019-09-12 13:27] larsgsvensson commented on #976
@aisaac We discussed this issue in the CNEG meeting and couldn't figure out if your original issue is resolved or not... Can you give us some hints?

[2019-09-12 13:30] rob-metalinkage commented on #976
communities can decide what they call profiles and make up any conformance rules they like  - conneg just provides a means to deliver what they ask for.  At this stage this issue does not raise a specific problem, or suggestion regarding the conneg spec itself, and seems to be more about scope of the term profile...

[2019-09-12 13:42] larsgsvensson commented on #1031
There is a data model in the document at https://w3c.github.io/dxwg/conneg-by-ap/#altr including examples at https://w3c.github.io/dxwg/conneg-by-ap/#altr-detail

[2019-09-12 13:43] larsgsvensson commented on #1041
@nicholascar can you state if this issue has been dealt with to your satisfaction? Then we can mark as due-for-closing

[2019-09-12 14:17] larsgsvensson commented on #548
@rob-metalinkage scripsit:

should that be pulls #1063, #1066 and #1067?

[2019-09-12 14:20] larsgsvensson commented on #678
@kamhayfung since we're moving the work towards CR we'd really appreciate your feedback here

[2019-09-12 14:23] makxdekkers commented on #1055
@rob-metalinkage
I already admitted that the wording in DCAT 2014 is a little loose, so it indeed doesn't contain the exact text that you are looking for: "one distribution is associated with one format." But you knew that already; it wasn't really necessary for you to ask me.

However, at the same time, the specification does not anywhere imply that a single distribution could have more than one

[2019-09-12 14:40] kcoyle commented on #1017
@nicholascar I'm fine with this in theory and will look for it in the document when reviewing to see what it says. It sounds to me like there will be no stated mechanism for designating portions of documents, but also nothing that prevents it. If that's the case, that's fine with me.

[2019-09-12 14:54] kcoyle commented on #1068
Ah, sorry @aisaac I missed your issue on definitions. I'll add any suggestions I have over there and we can close them both together when we finalize the definitions.

[2019-09-12 15:05] kcoyle commented on #1061
isProfileOf: @aisaac suggests

I'd drop "another" and I am searching for a substitute for "relates" because that is a weak term. It's really making a statement about a relationship (and I cannot exactly express why relationship is a stronger term, but in my English-strict mind, it is).

[2019-09-12 15:17] kcoyle commented on #1061
hasResource

The object of this is an instance of the class ResourceDescriptor, which then contains a link to the resource. So I think this needs to read:

It can't have a role in "relation to" the profile, since the profile is essentially an abstract class. The various profile resources ARE the profile.

Again, I find "relates" to be weak, and think this could even be:

This follows how DCAT has

[2019-09-12 15:18] kcoyle commented on #1061
Using the DCAT definition model, isProfileOf becomes:

"a data specification that the profile constrains, extends, combines, or provides guidance or explanation about the usage of"

[2019-09-12 15:25] kcoyle commented on #1068
To be closed when #1061 reaches closure.

[2019-09-12 16:38] smrgeoinfo commented on #1055
It seems to me that the situation where a distribution might have multiple formats is via dcat:Distribution/dcat:accessService/dcat:DataService, for which the data service offers different formats via content negotiation.  As far as I can tell, there really isn't any mechanism to describe content negotiation options other than via the dcat:DataService/dcat:endpointDescription. The interpretation t

[2019-09-12 21:19] makxdekkers commented on #1061
@kcoyle
Which document are you looking at? In the editor's draft at https://w3c.github.io/dxwg/profilesont/, I see for hasResource: _A resource which describes the nature of an artifact and the role it plays in relation to a profile_, Your suggestion _The resource that has a specific role in the Profile_ (if we can change 'the' to 'a'), _A resource that has a specific role in the Profile_ sounds e

[2019-09-12 21:29] andrea-perego opened #1069 "DCAT: Updates to ack section"
- Øystein Åsnes (see https://github.com/w3c/dxwg/issues/1055)
- Matthias Palmér (see https://github.com/w3c/dxwg/issues/1065)
- Wouter Beek (see https://github.com/w3c/dxwg/issues/125#issuecomment-518629812)
- Dave Reynolds (see https://github.com/w3c/dxwg/issues/868#issuecomment-518294475)

[2019-09-12 22:00] andrea-perego commented on #1065
Thanks for pointing this out, @matthiaspalmer .

`dct:contributor` is not explicitly included in the DCAT vocabulary as none of the contributed use cases and related requirements was asking for that.

The references in the DCAT spec to `dct:contributor` were added to give an example of a generic agent role. But indeed this may be misleading / generate confusion.

We probably need to remove such re

[2019-09-12 22:30] agreiner commented on #844
I believe we discussed long ago the validity of having more than one base specification for a profile. Because those base specifications have a possibility of disagreeing on something, even if only one specification's approach to any conflicting term is used in the profile, it is not logically possible to claim that what conforms to the profile must conform to the base specifications. It might be

[2019-09-12 22:52] dr-shorthair commented on #1065
`dcat:hadRole` provides a generic or extensible place to attach semantics to a relationship. As mentioned in the text in https://w3c.github.io/dxwg/dcat/#qualified-forms it can be used any time, but in some cases a more specific predicate from DC Terms or PROV or maybe other places is suitable and already in wide use. I don't think we can enumerate all the possibilities.

[2019-09-12 23:48] rob-metalinkage commented on #1055
@makxdekkers thanks for the clarification around the intent - in that case to uphold that intention it looks like there are two fixes needed for DCAT :

1) make that intention absolutely clear in unambiguous wording and axiomitisation
2) clearly identify how APIs including content-negotiation (in various forms) can advertise the multiple formats they do offer (maybe revisit the proposed approach o

[2019-09-12 23:57] rob-metalinkage commented on #844
@aisaac - i think you mean the example - not the axiom?  If so fine.

I agree making profileOf have no specific relation semantics doesnt make sense and just entails "everything is a profile" which is clearly unhelpful - which is why we can focus on the specific case where profileOf is transitive and has a semantics as strong as "dct:conformsTo" - which is actually fairly loose.

@agreiner - if ba

[2019-09-13 00:04] dr-shorthair commented on #1055
Could we have specific wording proposals please? preferably in a PR!

[2019-09-13 00:17] rob-metalinkage commented on #844
Discussions have been about how to describe the looseness of dct:conformsTo semantics and the fact there may be cases where conformance is not transitive that are out of scope for this model and not evidenced strongly enough or early enough to consider supporting.

It seems that the intent can be clearly stated axiomatically, and that this is necessary to help understanding. So I propose we add th

[2019-09-13 00:25] rob-metalinkage commented on #1061
If you look at the conneg spec and the examples in the profile specification its quite clear that a "data profile" is a special type of profile.
Proposal:
 a subclass of Profile called DataProfile which carries the "data profile" definition agreed and does not  restrict the usefulness of the general model.

moved this issue to #1072

[2019-09-13 00:26] agreiner commented on #501
Maybe we don't really need to worry so much about indicating tokens in headers. We already agreed in issue #453 that these tokens don't need to be globally unique, that they are just suggested or preferred identifiers. I would suggest we take that one step further and say that they are suggested/preferred specifiers, not identifiers. Rather than calling them alternative identifiers for profiles, w

[2019-09-13 00:29] rob-metalinkage commented on #1061
@kcoyle making definitions terser is a good idea - but this example

dct:conformsTo
Definition: | An established standard to which the described resource conforms.

the defintion is actually about the object of the relationship "An established standard " and not about the relationship itself.
"identifies an established standard..." makes the definition about the relationship.  Nevertheless is it p

[2019-09-13 00:44] rob-metalinkage commented on #1061
I have created a new specific issue around actioning the request to change the term "constraints"...

https://github.com/w3c/dxwg/issues/1070

Please move any discussion about that there - I think Karen's suggestions can be incorporated there.

I have also created and actionable issue #1071 to accept proposed changes to definition of prof:isTransitiveProfileOf

[2019-09-13 01:02] agreiner commented on #844
There's no reason for the community to harmonize differences among  base specifications for terms not used in the profile. The value of the profile in this case is that it allows them to use what is helpful for them from each base without being saddled with the bits of each base that cause them headaches.

[2019-09-13 03:08] kcoyle commented on #1061
@makxdekkers I was working off of the definitions in Antoine's opening issue, which I assumed he had gotten from the document (but didn't check independently). If we're all working off of old defintions we should fix that ASAP.

[2019-09-13 05:24] nicholascar commented on #521
No further comment on this issue in a week and it appear to me to be bypassed (see comment above) and we are running out of time for vocabulary editions so I'm marking it "due for closing".

[2019-09-13 06:40] rob-metalinkage commented on #521
I think we can leave this - the OGC model has a target per requirement - not per "conformanceClass" (aka Profile) - so its not a direct evidence of the usefulness of such a pattern.  I think this can be considered as a future work item, because the typology of conformance targets will require some thought and experience.

[2019-09-13 06:49] rob-metalinkage commented on #844
@agreiner if we are talking just about selective term re-use then its not appropriate to describe this as profiles with this vocabulary - which is perfectly fine as the vocabulary supports a different need.  (unless some definition of "conformance" is adopted by that community, which is also compatible with the requirements in the base specifications, which allows statements of conformance to be m

[2019-09-13 06:52] rob-metalinkage commented on #501
@agreiner that is exactly how this requirement has been met in the conneg-by-ap specification.

We can discuss changing the word from identifier - but neither identifier nor "specifier" have any formalised meaning here that affects the specification functionality - so its just a wording change we could consider the merits via a PR or separate issue. This issues is about the requirement which has b

[2019-09-13 07:37] nicholascar commented on #887
The Acknowledgements section is in the Editor's draft: https://w3c.github.io/dxwg/profilesont/#acknowledgements

[2019-09-13 07:41] nicholascar commented on #943
`dc:relation` removed from 3PWD

[2019-09-13 07:54] nicholascar commented on #796
Section added to PROF to indicate its relationships to Constraint Languages including that PROF is not setting constraints like they are: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#related-constraintlanguages.

Examples throughout doc show profiles with Constraint Languages resources as parts of them.

[2019-09-13 07:59] nicholascar commented on #714
Link corrected in 3PWD candidate: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/

[2019-09-13 08:00] nicholascar commented on #689
* Pattern background used instead of shading.
* Diagram key moved to separate Figure.

Both changes in 3PWD candidate: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/

[2019-09-13 08:02] nicholascar commented on #507
Entailment axiom, usage notes (for `dct:conformsTo`) and examples added to 3PWD candidate: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/

[2019-09-13 09:08] aisaac commented on #1061
@rob-metalinkage I think for constraints we don't need to take into account IETF RFC 2119 yet. My suggestion is quite basic. It's only about consistency with the definition we agreed on. #1070 can be discussed later as it looks like it's about questioning again the agreed definition.
It's a bit the same for #1072 : whatever be our decision there, the next PWD needs to have the definition we've agr

[2019-09-13 09:09] andrea-perego commented on #1051
New issue created: #1069

I think we can close this one.

[2019-09-13 09:52] aisaac commented on #1061
Another note that I opened this issue especially to handle misalignment between definitions and typos, I believe that we could leave the matter of harmonizing the 'style' open in 3PWD.

This said I think we should be careful about using the notion of "descriptions" in definitions in the position of "resource", as in "relates a Profile to the description of the resource that has a specific role in

[2019-09-13 10:30] #1051 closed, assigned to nobody

[2019-09-13 10:31] #1013 closed, assigned to nobody

[2019-09-13 10:32] #1057 closed, assigned to nobody

[2019-09-13 10:32] #922 closed, assigned to nobody

[2019-09-13 10:33] #774 closed, assigned to nobody

[2019-09-13 10:39] davebrowning commented on #983
Closing this issue, since (as noted) we have a consistent approach here that seems to work (and more clear with the separating the RDF into dcat.ttl and dcat-eternal.ttl (see https://github.com/w3c/dxwg/tree/gh-pages/dcat/rdf).  Closing this specific issue.

(Note that #725 has some associated comments but covers a much wider ground).

[2019-09-13 10:39] #983 closed, assigned to nobody

[2019-09-13 12:39] aisaac commented on #943
Issue seems closable! When this is merged: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#Property:conformsTo

[2019-09-13 12:39] larsgsvensson commented on #1017
@nicholascar OK, if you make the PR, I'll review.

And @kcoyle's comment and @tombaker's thumbs-up renders my ACTION-372 void...

[2019-09-13 12:40] aisaac commented on #887
Seems closable!

[2019-09-13 12:58] aisaac commented on #844
@rob-metalinkage yes I meant the example.

And the comment "there may be cases where conformance is not transitive that are out of scope for this model and not evidenced strongly enough or early enough to consider supporting." could be a way forward.

But not for cases that are part of our use cases and requirements.
And not for situations (partial vocabulary re-use) that seem to be in scope of ou

[2019-09-13 13:10] aisaac commented on #507
@makxdekkers good question ("DPLA MAP strictly satisfy all the constraints defined in EDM for all the elements it reuses from EDM"?). I need to check and this is going to take time as there is an avalanche of DXWG stuff in my mailbox...

Re. DCAT-AP extensions vs my case, I'm split: DPLA may have a motivation for including a "similar" class to EDM's edm:ProvidedCHO, when that class is defined as "

[2019-09-13 14:33] kcoyle commented on #521
To close we need to poll the participants.

All - please upvote if you agree to leave this as a future work item.

[2019-09-13 14:43] kcoyle commented on #1061
@aisaac I'm not sure about your second paragraph, but PROF has "ResourceDescriptor" class as the object of "hasResource" not the resource itself. I've argued against this construction in ways that I read your comment to support, but the fact is that what "hasResource" links to is indeed a description. The actual resource is the object of "hasArtifact".

[2019-09-13 16:46] aisaac commented on #1061
@kcoyle let's try to DCATize or FRBRize a bit the elements in the definition _"A resource which describes the nature of an artifact and the role it plays in relation to a profile" ;-)
Roughly, the ResourceDescriptor is the resource that the artefact is a distribution/item of. This resource serves as an anchor for statements that relate to the artefact, but it's not a description itself. The same w

[2019-09-13 18:15] agreiner commented on #501
What I'm suggesting is that there would no longer even be a need to include token information in the headers.

[2019-09-13 18:18] kcoyle commented on #1061
@aisaac I wouldn't dislike such a structure for PROF, but if it is adopted then the class name "ResourceDescriptor" seems to contradict that definition.

[2019-09-13 18:33] kcoyle commented on #1061
Ah, look at #573 (e.g. Makx's [comment](https://github.com/w3c/dxwg/issues/573#issuecomment-439823763))where there was some convergence on renaming ResourceDescriptor to ProfileObject. That removes the implication that what follows is a description of the resource rather than the resource itself.

[2019-09-13 18:48] kcoyle commented on #796
Note some typos in that section: "used in profile profile definitions" and I would say "define" rather than "defined" in the first sentence. Although I must say that I'm not convinced that this section needs to be there at all.

Here's the full comment from Sikos, and I admit to having some trouble understanding what the actual suggestions are:

* Done - name has been changed

* This seems to be t

[2019-09-13 23:46] kcoyle commented on #507
@nicholascar Were there conclusions here that led to updates to the 3PWD? If so, could you say what they were? Thanks.

[2019-09-13 23:49] kcoyle commented on #1061
@aisaac as per "I believe that we could leave the matter of harmonizing the 'style' open in 3PWD." As we are within days of the drop dead date for a final version (Sep 17), nothing can be left open at this point unless it will be deferred. And I don't see how we can defer definitions of the vocabulary terms.

[2019-09-14 06:43] larsgsvensson commented on #1064
Addressed in PR #1075

[2019-09-14 06:52] larsgsvensson commented on #501
@agreiner The need (or not) for conveying token/URI mappings in a machine-readable fashion has been discussed at length here and elsewhere. There is a requirement in #290 that we need to supply such mappings if we decide to allow the use of tokens (which we do). Do you have an alternate proposal for the implementation of machine-readable mappings?

[2019-09-14 07:05] rob-metalinkage commented on #1061
I've never like "resourceDescriptor" particularly but wanted to distinguish it from the profile and the artefact ) @aisaac is correct in terms of the semantics.   Its not a problem to change names as its a tine vocabulary and we dont have a legacy to preserve - so we will publish with the best we can agree on, and what is there already if no agreement is reached - because what is there has survive

[2019-09-14 07:16] rob-metalinkage commented on #507
@makxdekkers - excellent point : "So the relationship between an extension of DCAT-AP and DCAT-AP would need to be a stricter sub-property of prof:isProfileOf."

This is essentially correct and natural and the implications are:

1) to have a stricter sub-property we would still need the existing super-property that handles all possible notions of conformance and supports the transitivity needed fo

[2019-09-14 11:23] RubenVerborgh commented on #501
@agreiner It seems that many people (including myself) do not need it, but it matters to @rob-metalinkage and @nicholascar (as seen in https://github.com/w3c/dxwg/issues/290 indeed).

The good thing is that, with the merge of https://github.com/w3c/dxwg/pull/1063, the token mechanism now no longer interferes with anything else. It's a completely separate mechanism that can be ignored without conse

[2019-09-15 05:17] nicholascar opened #1078 "Prof conformsTo axiom at risk"
The property chain axiom `dct:conformsTo owl:propertyChainAxiom ( prof:isProfileOf dct:conformsTo ) ;` is a "feature at risk" until discussion about its inclusion in PROF has reached a conclusion.

[2019-09-16 08:48] nicholascar commented on #1061
@rob-metalinkage we already have a `ResourceRole` class (it was formerly `Role` but we changes it at 2PWD). How about `ProfileDistribution`, a la DCAT?

[2019-09-16 08:48] nicholascar commented on #1061
I propose we close #573 when the issue of the `ResourceDescriptor` class' name is resolved here.

[2019-09-16 08:52] rob-metalinkage commented on #1061
@nicholascar agreed  - `ResourceRole` is already better for the Role descriptor itself so agree best to rename `ResourceDescriptor` as making it more obvious this akin to DCAT distribution pattern will help, particularly as we have decided not to make profiles dependent on DCAT. We have an informal consensus that the `ResourceDescriptor` placeholder needs changing.

[2019-09-16 14:52] aisaac commented on #1061
@kcoyle about the styling of definitions I meant little things, for example whether we should try to have all property definitions begin by "relates a Profile to X" or "links a Profile to X". I think that reaching such a level of editorial consistency in the text is not needed for PWD, as changing it later wouldn't change the semantics at all.

[2019-09-16 14:54] aisaac commented on #1061
@nicholascar no please let's not have the discussion on the naming of ResourceDescriptor here!
My original issue was about changing textual definitions for elements, which do not include ResourceDescriptor. And there's a perfectly valid issue (#573) for discussing this, we should end the discussion there.

[2019-09-16 15:47] nicholascar commented on #721
References to Constraint Languages have been added throughout the spec and a new 'Related Work' subsection has been added to the 3PWD candidate, see https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/index.html#related-constraintlanguages.

[2019-09-16 15:50] nicholascar commented on #687
@kamhayfung please see the updated spec: https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/

[2019-09-16 16:07] nicholascar commented on #644
@aisaac see https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#Property:isTransitiveProfileOf & https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#Property:isProfileOf where the formal semantics (`prof:isProfileOf rdfs:subPropertyOf prov:isTransitiveProfileOf`) is described in HTML tables and Usage Notes.

[2019-09-16 16:14] nicholascar commented on #1061
@aisaac ok, happy to peg names changes for `ResourceDescriptor` to #573.

[2019-09-16 18:35] makxdekkers commented on #1061
@aisaac

There is existing practice for the definition of a property to state what the object is, e.g. this is the approach for FOAF, Dublin Core, DCAT (!). It could of course be done differently, e.g. "_This property contains/refers to ..._", but is it worth the extra work?

[2019-09-16 19:46] andrea-perego commented on #453
Thanks, @aisaac .

I would recommend changing

into:

I think here "alternative" is misplaced, as there is no mention in the spec about "other" / "primary" profile identifiers.

[2019-09-16 20:01] andrea-perego commented on #240
Sorry for my late reply, @nicholascar .

I see that `prof:Profile` is neither a subclass of `dcat:Dataset` nor `adms:Asset`.

If this is the final decision, the only specified alignment is of course correct - i.e., the one about `prof:ResourceDescriptor`.

[2019-09-16 20:05] andrea-perego commented on #240
Actually, this depends on the semantics of `prof:ResourceDescriptor`, and I see that this is still being discussed in https://github.com/w3c/dxwg/issues/573

[2019-09-16 21:01] aisaac commented on #453
Adding to what @andrea-perego said...
I'm actually not convinced if the definition stops at "The preferred identifier for the Profile". This is really vague: is it more prefered than the URI?
I would much prefer if the definition includes the context in which the token is prefer, which is currently in the usage note.
I.e. having something like

[2019-09-16 21:04] aisaac commented on #1061
@makxdekkers Yes I started to think of this in my suggestions, but I've stopped thinking of it very soon. My point is *not* to make comments about this now. Basically as soon as the definitions are clearer, I'm happier, whatever stylistic approach they use.

[2019-09-16 21:08] aisaac commented on #644
Thanks @nicholascar , I would be happy with the issue being closed. Some definitions in the current draft may be criticized (for example in #507), but one cannot deny that the text now provides semantics, and this is what I was missing.

[2019-09-16 21:23] kcoyle commented on #453
Agree about "preferred" - preferred to what? I'm not sure it is only used where a URI cannot be, just that there are folks who want to use something other than a URI identifier.

[2019-09-17 11:03] aisaac commented on #453
Noting that in [the PR to remove the reference to this issue in PROF](https://github.com/w3c/dxwg/pull/1074) @nicholascar has changed the definition to:

and the usage note to:

I believe these two together are good enough for alleviating latest concerns. I.e. it expresses that this is how a profile's publisher says the profile should be refered to, when the URI can't be used. And examples are giv

[2019-09-17 12:47] tombaker commented on #697
@nicholascar I do not see why this issue should be closed before a new diagram has been proposed, discussed, and accepted.  Are you saying that diagram formalisms are purely editorial in nature and have nothing to do with the model they represent?

[2019-09-17 12:50] oystein-asnes commented on #1055
Thank you all for an enlightening discussion. Besides the discussion on cardinality for `dcat:Distribution` our concern is that a format property is the only one we need to complement an API-description based on `dcat:dataService` properties. Unless there are downloadable files involved, the rest of the class does not add any value.

By using `dcat:distribution` to express format (regardless of co

[2019-09-17 13:24] riccardoAlbertoni commented on #725
We have separated DCAT in two ontologies. The first includes all the dcat-defined elements, the second groups all the dcat extra-annotations for third-parties vocabularies.

As far as I have understood, there is no agreement on whether to use skos:definition or skos:usageNote in the second ontology. Some of the members prefer to maintain coherence in the use of skos:definition between the two onto

[2019-09-17 13:27] rob-metalinkage commented on #575
committed and added to PR https://github.com/w3c/dxwg/pull/1083

issue 4 - changed to note style as requested
issue 11 - added "as an ordering mechanism" to as thats what q-values are!
issue 15 - 8 and 9 are different and shows it works for both Linked Data (http-range-14) styles and static URLS) - this seems appropriate
issue 18 - unresolved - use of _mediatype as a recommended parameter marked a

[2019-09-17 14:07] riccardoAlbertoni commented on #725
I am marking this Issue as "due for closing", @kcoyle and @jakubklimek, you have been active in the discussion, I am hoping there are no strong objections from you. Please upvote if you are fine with the compromise. Thanks.

[2019-09-17 14:32] riccardoAlbertoni commented on #1065
I'd like to remind that  DCAT should be interpreted following the usual RDF open-world assumptions around the presence/absence of properties, relationships. So,  "not being listed" doesn't imply a property can't be used.

[2019-09-17 14:53] davebrowning opened #1084 "DCAT sotd needs updating for CR"
The existing [Status of this Document](https://w3c.github.io/dxwg/dcat/#sotd) section talks about changes from [FPWD](https://www.w3.org/TR/2018/WD-vocab-dcat-2-20180508/).  For CR, it should probably be more appropriate for it to talk of this as the (first) Candidate req of Version 2 and position it relative to DCAT 2014.

Some of the text from the FPWD sotd could be used....

[2019-09-17 19:18] andrea-perego commented on #1065
@dr-shorthair , @riccardoAlbertoni , I agree with you. But the fact that @matthiaspalmer raised this issue implies that readers may see it as an inconsistency.

[2019-09-17 19:55] nicholascar commented on #686
@kamhayfung we've addressed this issue a long time ago and you can see the latest Editor's draft at https://w3c.github.io/dxwg/prof/. Can you please respond here so we know what you think about it being addressed?

[2019-09-17 19:56] nicholascar commented on #687
@kamhayfung please now see the Editor's Draft at https://w3c.github.io/dxwg/prof/ and respond here so we know what you think of the change.

[2019-09-17 20:30] andrea-perego commented on #1069
Relevant PR merged: https://github.com/w3c/dxwg/pull/1081

I think we can close this issue.

[2019-09-17 20:32] aisaac commented on #575
issue 4 - ok!

issue 11 - I'm still only mildly convinced. I see that the text is now "It is possible to specify a range of acceptable profile URIs and also to indicate preferences by using quality indicators (q-values) as an ordering mechanism.". This does not rule out that q values may have ties. Or are you actually trying to rule it out, by this text? If yes it would be better to be much more e

[2019-09-17 21:11] rob-metalinkage commented on #575
11 Having ties does not stop it being an ordering mechanism.
15 - sorry if we didnt make that clear enough - we certainly took it forward but may have lost track with the tendency to duplicate matters across multiple issues.

[2019-09-17 21:59] nicholascar commented on #1064
The "Alternate ways of conveying URI / token mappings" is no longer in the ED at https://w3c.github.io/dxwg/conneg-by-ap/

[2019-09-17 22:06] agreiner commented on #453
Again, I think it would be better not to use the term identifier at all with regard to tokens. Otherwise, I think people will use them anywhere that the URI can be used. The preferred identifier is the URI. I think we should call a token a text string that can be used in content negotiation by query string argument, as the value designating a profile. The preferred token can be specified in the pr

[2019-09-17 22:25] rob-metalinkage commented on #453
@agreiner I think that is an editorial change we should be able to accommodate - the doc is frozen for now but we should attempt to reach an agreement here to make this wording change.

[2019-09-17 23:11] agreiner commented on #501
@larsgsvensson I've not seen discussion that convinces me that we really need token mappings, and my reading of previous discussion on this issue is that we no longer even expect there to be a one-to-one mapping. Suggested tokens are only the preferred one. Tokens are only needed for the case where you want to keep your URIs clean in a QSA implementation. All other possible uses for tokens can be

[2019-09-17 23:39] nicholascar commented on #453
If new wording will suffice here, I will make a PR to show how the change will be implemented (there may be multiple places that need changing if the term "identifier" is not to be used) but will hold off requesting a merge of that PR until the review period freeze is over.

[2019-09-18 03:40] dr-shorthair commented on #1055
The addition of `DataService` to the DCAT vocabulary is perhaps the most significant enhancement in this version. It was in response to a number of use-cases submitted in the early phase of the work. We worked on the details of the model starting around 18 months ago. DataService made it into the head on 10 June 2018 (sha 471a597427b8770c678c2ba03bb02938ee821a47), and the model was finalized with

[2019-09-18 07:42] rob-metalinkage commented on #501
The specification states ".. the profiles representations of resources conform to are unambiguously identified either by either a URI or a token. If the latter, it MUST be mappable to a URI within one particular client/server message pair."

There is no concept of "preferred token" in conneg-by-ap - its always specified by an unambguous mapping.

This is sort-of true "If URIs can be used everywher

[2019-09-18 07:55] RubenVerborgh commented on #501
I don’t think we should overstate the self-description. All it does is saying that a token T can be used instead of a URI U. That’s legacy compatibility, but no added value for description or otherwise. T does not carry more meaning than U (quite the contrary, because U has universal meaning and might be dereferenceable).

[2019-09-18 08:28] aisaac commented on #453
@agreiner I understand the concern, but the name of the name of the property does not include "prefered", it is only in the definition where (now) it is said it is for when the URI can't be used. https://w3c.github.io/dxwg/prof/#Property:hasToken

Also, for me the token can be useful in other circumstances than Conneg, and it's good that the spec would leave it also open a bit, when something can

[2019-09-18 10:03] aisaac commented on #575
ok @rob-metalinkage !

[2019-09-18 10:14] larsgsvensson commented on #575
Thanks @aisaac . Does that mean that we can mark this as due-for-closing?

[2019-09-18 10:25] aisaac commented on #575
@larsgsvensson yep.

[2019-09-18 10:38] larsgsvensson commented on #575
Thanks @aisaac. One down!
Resolution: All issues reported have been addressed (cf. [the](#issuecomment-518760959) [various](#issuecomment-529117871) [answers](#issuecomment-532389793) and [comments](https://github.com/w3c/dxwg/issues/575#issuecomment-532615714))

[2019-09-18 15:46] matthiaspalmer commented on #1065
As @andrea-perego said, it was confusing for me. Let me elaborate.
The two first sentences in 13.1:

I would use "basic associations" to refer only to the 2 properties to be expressed directly (dct:creator and dct:publisher). To include in the same sentence also the generic construction and one specific use of that construction (prov:wasAttributedTo with dct:contributor) is very confusing. Especia

[2019-09-18 16:27] kurzum opened #1085 "Monthly DBpedia releases"
### DBpedia Releases
Status:
Identifier: https://databus.dbpedia.org/dbpeda/
Creator: Sebastian Hellmann

### Description
We are releasing several thousand files per month now and I have specific questions about `dcat:Distribution` .

I our case group each version according to the generating Scala code: https://databus.dbpedia.org/dbpedia/mappings/mappingbased-objects/2019.09.01
In this example, e

[2019-09-18 16:47] matthiaspalmer commented on #868
A very simple solution is to point to multiple resources by repating dcat:downloadURL from a single distribution. If needed additional properties like dct:title, dct:temporal, dct:spatial can be provided on these resources.

We do it like this in EntryScape, allowing people to upload or point to multiple resources.

[2019-09-18 17:05] makxdekkers commented on #868
@matthiaspalmer If you repeat `dcat:downloadURL` on a single `dcat:Distribution`, how do you relate a property like `dct:temporal` to a particular `dcat:downloadURL`?

[2019-09-18 17:20] makxdekkers commented on #1085
@kurzum
From a cursory look at the metadata at https://downloads.dbpedia.org/repo/lts/mappings/mappingbased-objects/2019.09.01/dataid.ttl#Dataset, it looks to me that your `dataid:SingleFile` is very similar to `dcat:Distribution`.
If it is the case that all files contain the same data in different languages, they could be modelled as separate `dcat:Distribution`s under one `dcat:Dataset`.
If they

[2019-09-18 17:30] kurzum commented on #1085
The problem is the fine line between same and different. Here, the main thing all distributions have in common is that they were created by the same code in the same activity. Content-wise they are true variants of each other. All of them make up the dataset, but they are useful individually and in combination. `dataid:SingleFile` is already `subclassOf` `dcat:Distribution`, but we might should sw

[2019-09-18 18:11] makxdekkers commented on #1085
Indeed, there is a fine line between same and different. It's maybe useful to think from the perspective of a 'general' user, a person who is not aware of the way data is produced and how it is structured. While I guess that your regular users know what to expect, a non-initiated user might rightly expect that a dataset has distributions that all contain the same data. In fact, the current DCAT dr

[2019-09-18 18:22] kurzum commented on #1085
`Maybe your use case could be added for consideration for the next version of DCAT?`
hm, I was under the impression, that I already added it for DCAT 2.0 by posting it here. What else do I need to do?

`all distributions of one dataset should broadly contain the same data` -> still true. They are variants of the same data. You can fuse them consistently into one as well. The definition really depe

[2019-09-18 18:44] makxdekkers commented on #1085
@kurzum The content of DCAT 2 is frozen. We're about to transition to Candidate Recommendation. In this phase we can't include new use cases, so this could be on the list for DCAT 3.

As far as I can tell, 'partitioning of distributions' is not currently something that DCAT supports. The current note in section 6.7 uses the example of budget data for different years where you could imagine partiti

[2019-09-18 18:57] kurzum commented on #1085
Ok, this works for us in a sense. We consider this a contentVariant by time, whereas versions would be tied to updates of the dataset. There are good reasons to use distributions here. So this is a `SHOULD`
 in terms of the standard.

I guess DCAT 2 still doesn't tackle abstract dataset identity.

I will check 6.7 more closely. Does DCAT 2 use SHACL for anything?

[2019-09-18 19:02] kurzum commented on #1085
Thanks for the good explanation

[2019-09-19 01:58] dr-shorthair commented on #1085
Also see #868 on the backlog.

[2019-09-19 04:38] dr-shorthair commented on #1085
If each of the dumps is intended to be a representation of the same conceptual dataset, then even if the content is different (because they have different time-stamps) then they can still all be legitimately considered to be 'distributions' of that dataset. The `dcat:distribution` relationship is mostly about intention.

But I see that your application has some axes of complexity. There are some r

[2019-09-19 06:38] matthiaspalmer commented on #868
@makxdekkers I was thinking on adding additional properties on the resource I pointed to via dcat:DownloadURL. Like this:

[code]

Note 1: The temporal expression could of course be made with a startdate and enddate instead to indicate a timespan, I simplified for the example.
Note 2: Providing a dct:temporal expression on the dataset would be complementary in the sense that it indicates the whole

[2019-09-19 07:38] jakubklimek commented on #868
@matthiaspalmer The problem with your solution is that temporal coverage is something a catalog user would like to search for. Therefore, it is a property of a dataset. In your case, you would have:
[code]
This also allows you to use richer metadata for each downloadable file.

Next, using DCAT2, you would have to implement a dataset relation grouping those 2, probably by introducing a third datas

[2019-09-19 07:46] makxdekkers commented on #1085
@dr-shorthair Yes, that's what I meant by "_there is some modelling work to do_".

[2019-09-19 08:07] matthiaspalmer commented on #868
@jakubklimek I was describing an alternative solution to what you described. In fact I was describing the way we are doing it in Sweden right now, quite a few datasets have been expressed using repeated downloadURLs. Additional properties on the resources like dct:title and dct:termporal may be expressed in individual data catalogs but unfortunately at this stage they are not harvested to the nati

[2019-09-19 08:25] makxdekkers commented on #868
@matthiaspalmer
I would argue that you are extending the DCAT model. The problem is the one of files that are related in different ways than currently foreseen by the Catalog-Dataset-Distribution chain.
What I think you are doing is adding an extra class below the Distribution, i.e. DownloadableFile (even if you don't explicitly declare that) with additional metadata. In general, DCAT implementati

[2019-09-19 12:08] matthiaspalmer commented on #868
@makxdekkers I agree, adding additional properties on these resources (downloadable files) constitutes in some sense to extending the model from the perspective of DCAT. If this behaviour should be acknowledged and described in DCAT it would be appropriate to encourage the use of a new class like dcat:DownloadableFile.

However, I would like to point out two things:

**Just repeating dcat:download

[2019-09-19 12:33] makxdekkers commented on #868
@matthiaspalmer
One can argue that any behaviour is allowed as long as a specification does not explicitly prohibit it. I could point out that the definition of `dcat:downloadURL` -- _The URL of the downloadable file in a given format_ -- seems to indicate, by using the article '_the_', twice, that there should only be one. But indeed the definition does not say that explicitly so we could argue o

[2019-09-19 13:14] Aklakan opened #1086 "Dedicated support for HTTP compliant datasets"
I understand that DCAT 2 content is frozen, so this is a feature request to be considered for a future version.

While working with DCAT data catalogs I came across this challenge: The link between datasets and distributions seems to be used pretty much arbitrarily in practice. For example, picking an arbitrary entry from [data.gov](https://catalog.data.gov/dataset/epa-facility-registry-service-fr

[2019-09-19 13:16] matthiaspalmer commented on #868
@makxdekkers Fully agree that this issue should not be rushed. My intention was to provide input to the discussion about another (arguably simpler) solution. In lack of better agreed upon alternatives we (EntryScape platform and the current recommendation in Sweden) will continue to use this solution for expressing timeseries as the expression is close to trivial and requires little or no deviatio

[2019-09-19 13:56] andrea-perego commented on #1065
@matthiaspalmer , based on what you say, there's actually some confusion.

Properties `prov:wasAttributedTo` / `dcat:hadRole` has been added in order to provide a standard pattern to be used to express roles not available in existing vocabularies, and specifically in [DCTERMS]. So, if you want to use a role from [DCTERMS] which is not explicitly included in DCAT (as `dct:contributor`), you should

[2019-09-19 14:40] matthiaspalmer commented on #1065
@andrea-perego I appreciate the common understanding that there is confusion here :-)
I do not really have an opinion which way it should be, I just want it to be clear.

If your interpretation holds, that it should be expressed directly. Then how should this be formulated better in DCAT? Below is a clumsy attempt:

1. It is recommended to use dct:creator and dct:publisher as direct properties.
2.

[2019-09-19 14:48] andrea-perego commented on #1065
@matthiaspalmer , just to be crystal clear: the general principle to use existing roles if available does not apply to `dct:contributor` only, but to ALL available roles - e.g., in [DCTERMS] there are also `dct:mediator` and `dct:rightsHolder`.

[2019-09-19 23:29] #971 closed, assigned to nobody

[2019-09-20 04:01] nicholascar commented on #1041
Yes, this issue has been dealt with to my satisfaction through the model extension details in the [Appendix A.2](https://w3c.github.io/dxwg/conneg-by-ap/#altr-detail), particularly [Example 22](https://w3c.github.io/dxwg/conneg-by-ap/#eg-altr-ext).

[2019-09-20 06:34] larsgsvensson opened #1088 "Conneg Editorial Nits"
@tombaker has [reported some editorial nits](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Sep/0682.html) in the conneg-by-ap WD:

I see that PROFPWD is listed under B1 and assume this can be updated and moved to B2 later. (Can someone please confirm?)

Some fixable glitches:

Section 1
These narrower profiles constrains

4
demonstrations

5.4
so that profiles, (the comma)

6.2
may no be

[2019-09-20 09:05] davebrowning commented on #1084
Now merged, but the English could be improved - see suggestion in #1087.

Will keep this open, but no longer critical.  Should address as an editorial task when convenient

[2019-09-20 09:05] #1069 closed, assigned to nobody

[2019-09-20 11:05] makxdekkers commented on #868
@matthiaspalmer

Unfortunately, we don't have the issue tracker that we used for the development of DCAT-AP in 2013 anymore, but I can see that the first versions of the specification had 0..1. This changed to 0..n sometime around the end of April 2013, but I can't find out why.

[2019-09-20 13:23] kcoyle commented on #868
This actually makes sense to me, although my interpretation may not be what others see. Logically you can have only one format per resource since format defines the format of the resource in the subject position. However, if you have more than one copy, e.g. you have mirror sites, then you can have more than one download url. Each download URL links to a file in that single format.

[2019-09-20 13:45] jakubklimek commented on #868
@kcoyle This case, i.e. mirrors of the exactly same file, is the only case when it makes sense to me to have multiple downloadURLs, i.e. when all metadata of the dataset and distribution apply to all the linked files.

@matthiaspalmer When there is a difference in the files, such as budget for various years, I lean towards splitting this into datasets and defining their relations properly. Splitti

[2019-09-20 15:55] matthiaspalmer commented on #868
@kcoyle yes I agree with the mirror case, to distinguish from that case you would need to provide additional triples like I described, alternatively you could just provide some information in the dct:description of the distribution. Not perfect but it works as long as we have humans looking at the metadata.

@jakubklimek well, as I see it, if I have to choose between:
1. an approach which is close

[2019-09-20 17:36] makxdekkers commented on #868
Mirroring could indeed have been the reason for the 0..n cardinality in DCAT-AP.

[2019-09-20 17:58] makxdekkers commented on #868
It seems to me that, if files with different data are modelled as distributions of one dataset, the data portal also has to be smart enough to understand the relationship between the distributions. In both cases, you need the logic to make sense of the structure.
Personally, I find a model that says that all Distributions have the same data easier to understand, and easier to program for, than a m

[2019-09-20 22:32] matthiaspalmer commented on #868
@makxdekkers I think you misunderstood me. I fully agree that distributions corresponds to different representation of a dataset. Multiple distributions should **not** be used to point to individual files that together form the dataset. What I am proposing is that a **single** distribution is made up of **several files** pointed to by repeated dcat:downloadURL. I have said this higher up in the th

[2019-09-21 12:09] makxdekkers commented on #868
@matthiaspalmer I understood your approach, I think correctly, as repeating the downloadURL in a single distribution pointing to several files that have different contents. My argument is that that approach is based on your personal reading of the specification, one that I think is stretching both the letter and the intention of the specification too far.

Other than that, this discussion is very

[2019-09-21 23:38] andrea-perego opened #1089 "Reviewing DCAT issues"
Going through [the open issues labelled as "dcat"](https://github.com/w3c/dxwg/issues?q=is%3Aissue+is%3Aopen+label%3Adcat) (currently, 88), we have nearly a half of them not assigned to any milestones:

https://github.com/w3c/dxwg/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Adcat+no%3Amilestone

I guess that, before the transition to CR, we should proceed with assigning them to a milestone

[2019-09-22 02:31] kamhayfung commented on #687
They look much clearer in Figs 2-11 (excl 4). Nice work.

Here are some feedback:

**dct:conformsTo**
In Figure 2, "`dct:confromsTo`" should be "`dct:conformsTo`".
In Figure 11, both "`dct:conformsTo`" and "`conforms to`" appear. Do they mean the same thing?

**dct:format**
It inconsistently appears in many forms, e.g.
- "`dct:format`" (Figure 2)
- "`has format`" (Figure 3)
- "`format`" (Figure 7)

[2019-09-22 06:48] kcoyle commented on #687
dct:hasFormat is deceptively named. The definition is:

It would be more intuitive if it was "hasAnotherFormat" and the accidental pairing of `dct:format` and `dct:hasFormat` undoubtedly leads to quite a bit of confusion.

Since we don't have an example of how this is to be used, I can't tell if the object/value is supposed to be a URL pointing to the alternate-format file (which is what makes sen

[2019-09-22 10:22] nicholascar commented on #1088
This Issue is the sole subject of PR #1090

[2019-09-22 10:49] nicholascar commented on #687
I have attempted to address all points raised here in https://github.com/w3c/dxwg/issues/687#issuecomment-533844506 in PR [1091](https://github.com/w3c/dxwg/pull/1091).

You will see there that the commits deal with:

1. Figs 12 - 17 legends removal
2. inconsistent `dct:conformsTo` & "conforms to" (all moved to `dct:conformsTo`)
3. inconsistent `dct:format` & "conforms to" (all moved to `dct:forma

[2019-09-22 15:14] davebrowning commented on #1089
Indeed.

I've been unsure whether tagging or milestone is better.  Issues can only be in one milestone, which implies a scheduling decision - perhaps that is best.  I'll have a go with "alignments" and we can see what we think

[2019-09-22 15:20] davebrowning commented on #251
It looks to me that we have completed this, at least for DCAT2 - or is there something more to be done?  (It could always be re-visited....) Looks like this would be better in the 'DCAT Alignment' milestone?

[2019-09-22 15:22] davebrowning commented on #1089
So I've done that....and tried to put the relevant story in the milestone description

[2019-09-22 15:26] davebrowning commented on #499
This still seems like a good idea, but there has been no time to do it for DCAT CR.  Rather than close it, suggest keeping it open, but marked as future work.

[2019-09-22 19:57] andrea-perego commented on #1054
Moved to milestone [DCAT Implementation Evidence](https://github.com/w3c/dxwg/milestone/21).

[2019-09-22 20:00] andrea-perego commented on #761
To be decided if this should go to milestone [DCAT Future Priority Work](https://github.com/w3c/dxwg/milestone/15).

[2019-09-22 20:02] andrea-perego commented on #771
To be decided if this should go to milestone [DCAT Future Priority Work](https://github.com/w3c/dxwg/milestone/15).

[2019-09-22 20:15] andrea-perego commented on #1089
Thanks, @davebrowning .

I wonder whether it may be worth going through them during a subgroup call. The other option (not mutually exclusive) is to do some work offline (just started with old issues that might be moved to future work).

[2019-09-22 20:40] andrea-perego commented on #1089
Going through these issues, I think a number of them are more specifically related to other deliverables, so probably we should change the project / milestone assigned to them.

The relevant issues:
- https://github.com/w3c/dxwg/issues/393
- https://github.com/w3c/dxwg/issues/238
- https://github.com/w3c/dxwg/issues/223
- https://github.com/w3c/dxwg/issues/145

[2019-09-22 20:46] andrea-perego commented on #132
To be decided if this should go to milestone [DCAT Future Priority Work](https://github.com/w3c/dxwg/milestone/15).

[2019-09-22 20:51] andrea-perego commented on #1089
Just started adding the label future-work to possible candidates for milestone [DCAT Future Priority Work](https://github.com/w3c/dxwg/milestone/15).

[2019-09-23 04:00] dr-shorthair commented on #251
Indeed. Closing.

[2019-09-23 04:00] #251 closed, assigned to dr-shorthair

[2019-09-23 07:38] davebrowning commented on #111
Although this is linked to a number of other open issues, all of them are marked for the future priority milestone or are dependent on other work.  The dependencies for DCAT may change for future versions of DCAT but in the context of DCAT 2, the dependencies are listed at https://w3c.github.io/dxwg/dcat/#normative-namespaces.  Propose closing this.

[2019-09-23 07:40] davebrowning commented on #137
Handle as part of implementation evidence gathering, or at least in parallel with it?

[2019-09-23 07:47] davebrowning commented on #148
This looks to have been addressed (in that it was done at the time, but we moved away from saying very much more than 2014 did since it created too many dependencies with other deliverables.)

Since the placeholder was actioned, I propose closing this.  If there is a need for future work to say more, then we should track with a new issue.

[2019-09-23 07:54] davebrowning commented on #168
This potential requirement and related use case doesn't seem to be in the (current) published [UCR](https://www.w3.org/TR/2019/NOTE-dcat-ucr-20190117/) or in the current editors [draft](https://w3c.github.io/dxwg/ucr/).  Marking as (potential) future work

[2019-09-23 07:59] davebrowning commented on #144
The existing editors draft mentions this at https://w3c.github.io/dxwg/dcat/#RDF-representation but we don't have one....  Well, I don't thing dcat2014.ttl (which is a snapshot of what was published back then, I believe) is what we meant.

Is this easily do-able quickly (@dr-shorthair) - or am I incorrect and dcat2014 is adequate.

[2019-09-23 08:05] davebrowning commented on #496
@smrgeoinfo - did this get resolved?  Are you happy if we close it?

[2019-09-23 08:16] davebrowning commented on #430
Useful to clarify the status (and responsibilities) of this in the context of DCAT2 CR.  The existing document has made no normative (and little non-normative) change to the text from 2014.  Some of the issues here are tangled up with subjects that might get covered in profile guidance - the issue of competing/conflicting definitions in 'source' specifications seems to me to be  a general profile

[2019-09-23 08:24] davebrowning commented on #393
See also #430

[2019-09-23 08:40] davebrowning commented on #176
We haven't done this (yet), though I guess it could be added from the change note section in the [recommendation](https://w3c.github.io/dxwg/dcat/#changes).  Proposing we treat as future (editorial?) work... though perhaps prioritise for 2019?

[2019-09-23 08:46] davebrowning commented on #744
We have traceability from the changes through the github issues to the UCR since every UCR requirement has a corresponding issue.  Going that way means that anyone interested can see any issue discussion (or link to PR for actual changes) so its a 'richer' experience.  So I'm going to suggest we close this in part to provoke further discussion of the topic so we have clear consensus.

[2019-09-23 08:57] davebrowning commented on #766
This hasn't been done. Given the (no) time available - it might be possible to make a minimal editorial change by adding the word 'recommended' to the 'inherited' paragraph - so it says:

"The following _recommended_ properties are inherited from the super-class..."

This would apply to `dcat:Catalog`, `dcat:Dataset` and `dcat:DataService`.

Worth doing?

[2019-09-23 09:02] davebrowning commented on #912
Added to future work do to time constraints.  If the benefit was high enough perhaps it could be done in 2019 (assuming the changes were only in the non-normative rdf representations.)

[2019-09-23 09:23] davebrowning commented on #1089
Thanks @andrea-perego.  I've also had a go...  Generally I used the future-work tag - if we have agreement on the priority (or whether it goes into a primer or whatever) then we can allocate to a milestone.

With editing hat on = for the CR phase, [this query](https://github.com/w3c/dxwg/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Adcat+-label%3Afuture-work+-label%3A%22due+for+closing%22+n

[2019-09-23 09:29] davebrowning commented on #763
Note also discussion at #352 which came the the conclusion that this was best addressed by some examples.

We don't have time to do that in the recommendation document itself but we could do it as primer or just an example - I've tagged it like that to hopefully provoke discussion

[2019-09-23 09:30] #725 closed, assigned to nobody

[2019-09-23 09:32] davebrowning commented on #377
Now incorporated - any further new needs/requirements or defects can have there own issue

[2019-09-23 09:33] #377 closed, assigned to davebrowning

[2019-09-23 09:44] aisaac commented on #763
This is one issue I've seen when I reviewed DCAT this week indeed. Is there really no way to add a clarifying sentence in the definition? I mean, if the DCAT group has a n opinion it's probably doable to write it down. If not, then there's a deeper problem...

[2019-09-23 09:46] davebrowning commented on #317
(Noting this has been closed at least once before, though there has been quite a bit of discussion in #482 that touches on who makes the choice of what can be a distribution or just some other 'thing'.  That other issue drove some significant clarification of the concepts also of  where DCAT was deliberately remaining silent)

Suggest we either close this or mark it as future work.  Views, particu

[2019-09-23 09:50] davebrowning commented on #174
There's certainly more work that can be done to the dcat.ttl (and equivalent) files.  Since that file is informative and the translations are essentially editorial in nature, it can hopefully be done during CR phase.

[2019-09-23 10:01] riccardoAlbertoni commented on #744
+1 to close

[2019-09-23 10:01] aisaac commented on #430
I agree that strictly defining conformance is not appropriate for DCAT2. Well to be more precise, I think the [current conformance section](https://w3c.github.io/dxwg/dcat/#conformance) is doing a good enough job for it.

In my reading this week, I however encountered a problem that I think no other document than the DCAT2 spec can address: the issue of determining what is "all of DCAT" (as per th

[2019-09-23 10:17] nicholascar commented on #387
Closing after a period of due-for-closing and no further actions. wontfix label means this will be findable for post Conneg follow ups, if needed.

[2019-09-23 10:17] #387 closed, assigned to larsgsvensson

[2019-09-23 10:18] nicholascar commented on #548
Closing after a period of due-for-closing and no further actions. wontfix label means this will be findable for post Conneg follow ups, if needed.

[2019-09-23 10:18] #548 closed, assigned to nicholascar

[2019-09-23 10:18] nicholascar commented on #693
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:18] #693 closed, assigned to nobody

[2019-09-23 10:18] nicholascar commented on #1031
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:18] #1031 closed, assigned to nicholascar

[2019-09-23 10:19] nicholascar commented on #943
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:19] #943 closed, assigned to nicholascar

[2019-09-23 10:19] nicholascar commented on #887
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:19] #887 closed, assigned to nobody

[2019-09-23 10:20] nicholascar commented on #847
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:20] #847 closed, assigned to nobody

[2019-09-23 10:20] nicholascar commented on #808
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:20] nicholascar commented on #800
Closing after a period of due-for-closing and no further actions.

[2019-09-23 10:20] #800 closed, assigned to nobody

[2019-09-23 10:21] nicholascar commented on #698
Continuing action occurring elsewhere so closing this Issue after a period of due-for-closing and no further actions.

[2019-09-23 10:26] nicholascar commented on #697
@tombaker new diagrams proposed, discussed and accepted by other editors via [PR 1074](https://github.com/w3c/dxwg/pull/1074) and present in the ED. Feedback on the diagrams from outside the WG received and actioned (see #687). There is now a new [Diagram Conventions section in the ED](https://w3c.github.io/dxwg/prof/#diagramconventions) which included a diagram element key.

This issue was notifi

[2019-09-23 10:26] #697 closed, assigned to nicholascar

[2019-09-23 10:29] nicholascar commented on #661
Closing after notice period to whole WG and any continuing discussion with proponent via the Public Comments mailing list.

[2019-09-23 10:29] #661 closed, assigned to nobody

[2019-09-23 10:30] nicholascar commented on #659
Closing after WG notification period of due-for-closing and response forwarded to proponent via the Public Comments mailing list.

[2019-09-23 10:30] #659 closed, assigned to nobody

[2019-09-23 10:30] nicholascar commented on #644
Closing after WG notification period of due-for-closing and response above from proponent to changes made.

[2019-09-23 10:30] #644 closed, assigned to nicholascar

[2019-09-23 10:31] nicholascar commented on #529
Closing after WG notification period of due-for-closing and proponent's comment above that any additional remarks can be made on top of the 3PWD, which will necessitate a new Issue.

[2019-09-23 10:31] #529 closed, assigned to nicholascar

[2019-09-23 10:33] nicholascar commented on #521
Closing after WG notification period of due-for-closing and the vote above to leave this for Future Work. We'll review all Future Work-tagged Issues, close or open, in a final Issue search before final draft of this WG Note.

[2019-09-23 10:33] #521 closed, assigned to rob-metalinkage

[2019-09-23 10:34] nicholascar commented on #402
Closing issue due to WG notification period of due-for-closing elapsing and favourable comments from final issue raiser above.

[2019-09-23 10:34] #402 closed, assigned to nicholascar

[2019-09-23 10:46] dr-shorthair commented on #763
@agbeltran [makes a rather subtle case](https://github.com/w3c/dxwg/issues/763#issuecomment-464923119) for the distinction between `homepage` and `landingPage`, also backing it up with evidence from actual usage.

Nevertheless, I think the issue was actually triggered by us not spotting this consequence of the (new in version 2) sub-class relationships to `dcat:Resource`. In most cases there would

[2019-09-23 11:04] dr-shorthair commented on #317
While I stand by the model sketched [above](https://github.com/w3c/dxwg/issues/317#issuecomment-417501215) in principle, there is probably an overriding principle here: that if an abstract superclass only has one concrete sub-class, then it is probably redundant and confusing. I understand that it might be convenient for the Profiles vocabulary to be tied into a generalized `Resource --> Represent

[2019-09-23 11:45] aisaac commented on #763
I find @agbeltran 's case quite subtle indeed, but I think I can buy it, and there may be editorial ways to muscle it up. If just by reminding some basic lines as a note that could be added later on (I don't think there should be objections to adding notes between CR and PR):
- `foaf:homepage` is only for catalogs
- `dcat:landingPage` is for anything for which data can be accessed
- `dcat:landingP

[2019-09-23 18:22] agreiner commented on #430
@aisaac I think this is a different issue, though it is clearly related. For myself, I think a term is internal to DCAT if it is used in DCAT. That includes foaf: homepage and the like.

[2019-09-23 19:40] andrea-perego commented on #1089
Thanks, @davebrowning . I was unsure whether to create yet another tag, but eventually I opted to use future-work with the assumption that the issues tagged with it were not yet "officially" for future work. My apologies for my misuse of it.

Looking at the remaining 9 issues, I see that some of them are only related to changes in the RDF, so it may not be blocking for CR transition. Not sure, how

[2019-09-23 20:48] kcoyle commented on #808
The suggested resolution was to open a new issue, which has not been done yet. I'm afraid that we'll forget it if this is closed. Could someone open that issue (may Rob or Antoine), and then we can close this with a pointer to that issue.

Also, what has been decided about aligning PROF to DCAT? I don't see a clear resolution here. I think that Antoine's [comment above](https://github.com/w3c/dxwg

[2019-09-23 20:51] kcoyle commented on #800
@nicholascar I see that we never heard back from Irene. It might be good to note that here. I don't think that changes the decision but we didn't get a positive agreement from the SHACL group, in spite of answering all of the questions.

[2019-09-23 20:54] kcoyle commented on #698
@nicholascar Can you say what you think was resolved here? And also please link to the related discussions in the closing message. There are a lot mentioned above and it isn't clear to me which ones carry forward this discussion. Thanks.

[2019-09-23 22:06] aisaac commented on #529
For the record the remarks I was envisioning have now been made in #573. Discussion continues there, I guess.

[2019-09-24 08:32] aisaac commented on #976
OK let's try to close this.
As per the discussions in July and the vote on the definition of "profiles" (#963), it appears that "our" definition (meaning the WG definition) is focused on "data profiles".
So the scope of the issue becomes thus to agree that 1 and 2 in the descriptions are not [data profiles](https://github.com/w3c/dxwg/issues/963#issuecomment-529540738).

However I'm still unsure w

[2019-09-24 09:03] davebrowning commented on #1089
@andrea-perego I think what you did was fine - I was trying to use the same logic.

I agree that having a milestone as a container for 'work during CR/PR phases' may be good.  [There are things we'll have to do like setting up an errata page that only makes sense once things get that advanced.]

[2019-09-24 10:50] riccardoAlbertoni commented on #430
@aisaac
I think we refer to external terms as those not included in the vocabulary specification, [section 6](https://w3c.github.io/dxwg/dcat/#vocabulary-specification).

If the other editors (@andrea-perego, @dr-shorthair, @pwin, @davebrowning, @agbeltran ) agree on my interpretation,
One option would be replacing "the DCAT namespace itself" with  "DCAT vocabulary specification".

and the last oc

[2019-09-24 14:11] davebrowning commented on #1084
Missing text proposed as part of #1092

[2019-09-24 14:59] aisaac opened #1093 ""QSA alternate keywords" as feature at risk?"
I'm putting in the open a response I've given in the poll for pushing Conneg to CR...

I have just realized there's a complete set of features ([the "QSA alternate" stuff](https://w3c.github.io/dxwg/conneg-by-ap/#qsa-keydiscovery)) that is based on a data model ([here](https://w3c.github.io/dxwg/conneg-by-ap/#altr) and [more details](https://w3c.github.io/dxwg/conneg-by-ap/#altr-detail)) that I di

[2019-09-24 20:02] aisaac commented on #430
@riccardoAlbertoni thx! More than limiting the oddity, I think this would completely solve my issue. So maybe we don't need to create a new one :-)

[2019-09-24 20:18] nicholascar commented on #290
Most of the commenters (not @aisaac & @azaroth42) have 'thumbs up' above so I'm marking this due-for-closing.

[2019-09-24 20:47] nicholascar commented on #1041
Just recapping, this issue has been dealt with to my satisfaction and therefore it may be closed. The resolution here is that alignment between PROF & AltP is given in the document with sections [Alternate Representations Data Model - Details](https://w3c.github.io/dxwg/conneg-by-ap/#altr-detail) and [A.2.2 Extensions](https://w3c.github.io/dxwg/conneg-by-ap/#altr-extensions).

[2019-09-24 20:47] #1041 closed, assigned to nicholascar

[2019-09-25 06:25] davebrowning commented on #1084
Since #1087 has addressed the additional text, this is now ready for closing

[2019-09-25 06:30] davebrowning commented on #766
Now that #1092 is merged, the text of the document is more explicit on what the recommended properties are, though it's perhaps possible that people will mis-read if they only look at the diagram.  Possible that a future revision might want to take a run at re-drafting this, so rather than close this issue I suggest tagging as future work and letting it get pick up (or not) as per future prioritie

[2019-09-25 06:42] davebrowning commented on #313
There is clearly an area that could has the potential for revision as part of future work beyond DCAT 2.  As well as `dcat:bytesize`, there is the adjacent area of statistics for datasets as a whole (#84) which could pick up other "dimensions" (such a number of entities in some logical view of the dataset) beyond the size of the physical representation.

Tagging for future work, and moving to futu

[2019-09-25 06:45] davebrowning commented on #161
Also related to existing issue/requirement #84 and some of the discussion of  #313.

[2019-09-25 07:13] davebrowning commented on #119
Core issue resolved here, and actioned some time ago.  Use of `sdo:rangeIncludes` tracked via #912. I think we can close this one.

[2019-09-25 07:24] davebrowning commented on #110
Remaining or associated work here (#113, #125, #313 #317) is either due for closing or future work, so will mark this as due for closing as well since the specific issue does seem to have been addressed.

[2019-09-25 08:16] pwin commented on #430
I''m in agreement with this proposed change

On Tue, 24 Sep 2019 at 21:02, aisaac <notifications@github.com> wrote:

[2019-09-25 08:22] pwin commented on #119
agreed

[2019-09-25 08:22] #119 closed, assigned to nobody

[2019-09-25 12:25] larsgsvensson commented on #678
POST & PUT have been considered out of scope for this document.

There will be a note in the document documenting that decision.

The original poster has been pinged twice over the past four weeks and has not responded, so I mark this as due-for-closing again.

[2019-09-25 15:36] larsgsvensson commented on #1088
The corresponding PR has been merged.

[2019-09-25 21:56] davebrowning commented on #393
This issue/question was picked up again as part of #1089 (reviewing overall issue status as DCAT raises it transition request for CR).  Given the decision earlier this year for DXWG to prioritise work (and put profile guidance on hold) the DCAT spec hasn't implemented any profiles using Profile Desc (or made reference to profile Desc(or any other statement beyond what DCAT 2014 made).  From a DCAT

[2019-09-26 04:20] dr-shorthair commented on #430
Future Work? maybe **due-for-closing**

[2019-09-26 08:37] aisaac commented on #430
Now that my side problem is resolved, maybe the issue can be closed?

The text pointed in @agreiner is quite clear to me. Even if the general rules about profiling and conformance are a subject of discussion (see PROF issues on the matter), it seems quite legit that an individual specification like DCAT could make such rule to assess whether a specification based on DCAT counts as a valid profile.

[2019-09-26 09:03] andrea-perego commented on #430
Thanks, @aisaac .

@agreiner , do you agree we can close this issue?

[2019-09-26 09:14] andrea-perego commented on #1086
Thanks for your proposal, @Aklakan .

Indeed, DCAT 2 is frozen, so we are assigning this to future work.

[2019-09-26 09:55] riccardoAlbertoni commented on #144
as discussed in the [call](https://www.w3.org/2019/09/25-dxwgdcat-minutes.html#x07), we are not going to provide a profile but the files of the former DCAT 2014.

[2019-09-26 13:00] riccardoAlbertoni commented on #110
Specific open aspects are registered in other open issues which are linked to this issue, so this can be closed without harm.

[2019-09-26 13:00] #110 closed, assigned to nobody

[2019-09-26 13:01] #1084 closed, assigned to nobody

[2019-09-26 13:01] #148 closed, assigned to RubenVerborgh, rob-metalinkage, andrea-perego

[2019-09-26 13:02] #111 closed, assigned to nobody

[2019-09-26 15:08] aphillips commented on #957
I18N is satisfied by these changes. Thanks.

[2019-09-26 15:12] aphillips commented on #958
Thanks for adding language tags to the examples. For extra credit in future updates, try using some non-English exampled :-)

For direction metadata, proposals at the JSON-LD level are moving forward, but there remains no solution at the RDF level. Keeping this for "future-work" is a satisfactory solution for your CR transition. Thanks.

[2019-09-26 19:25] agreiner commented on #430
If we are just reiterating text from DCAT 2014, then I think it's okay to stay in there, the claim has already officially been made. My concern here is putting in a new requirement for something we don't really understand (conformance of profiles to what they "profile"). I do want it to be possible to reuse parts of multiple specs in a profile as desired by the community or app.

[2019-09-26 19:30] agreiner commented on #430
Just to note a thought here for possible future work: we might distinguish profiles that conform to their base spec(s) and those that do not with conformsTo, once we understand what conformance actually means.

[2019-09-26 21:02] rduerr opened #1100 "Wierd Protege 5.0 load issue with lastest versions of dcat.rdf and dcat.ttl - opens as inconsistent"
As an add on to #944, I opened both the latest version of dcat.ttl and dcat.rdf by URL from within Protege 5.5.0 Build beta-8.  In both cases, the ontologies loaded OK, but contained spurious Error1, Error2, and Error3 (only in the .rdf version) entities (see screen shot below).

Strangely enough, if I download the files from github and then open them in Protege, I get the very same errors!  Howev

[2019-09-26 22:21] rob-metalinkage commented on #430
this is a strange conversation to be having at this point... you just use prof:profileOf (or some other relationship with those specific semantics) to distinguish conformsTo transitivity and some other relationship such as voaf:usedBy for other relationships that  are useful to know but do not necessarily carry any conformance implications.

As always, if you have a different functional requiremen

[2019-09-26 23:40] aphillips commented on #959
I'm a little confused by the outcome. I think the situation is necessarily confusing. For example, the purl.org link on the RDF property `dct:language` in the draft takes you to a page that outright references RFC4646 (a version of BCP47), but the range in the document has normative `SHOULD` language for both the use of ISO 639-1/2 and normative `SHOULD` (which is actually much weaker than BCP47)

[2019-09-27 07:32] #317 closed, assigned to dr-shorthair, pwin, agbeltran, davebrowning

[2019-09-27 07:44] dr-shorthair commented on #144
We should draft SHACL or ShEX descriptions of 2014 profile and other APs.

[2019-09-27 11:51] dr-shorthair commented on #144
In fact I think I would like to re-open this but tag it 'future work' - OK?
(alongside the other profiles)

[2019-09-27 11:53] agbeltran commented on #144
I agree on leaving this open as future work.

[2019-09-27 12:02] riccardoAlbertoni commented on #144
Ok from me.

[2019-09-27 12:10] dr-shorthair commented on #1100
This is almost certainly because two axioms that were added in ec746b24b333218771594bfffd49908fd0e5361a
[code]
were then moved into dcat-external.ttl in c7504d07b425054dc4c5452694c43c44b32b49df

I guess they should be moved back so that Protege users are not inconvenienced.

[2019-09-27 13:30] riccardoAlbertoni commented on #1089
DCAT issues have been reviewed in the last call and the recent interactions. The related housekeeping activity has closed many of the issues and reassigned the remaining issues to the following GitHub Projects/Milestones:
- Project ["Use Cases and Requirements for dataset exchange"](https://github.com/w3c/dxwg/projects/1) includes use cases to be considered in future work.
- Milestone ["DCAT2 rati

[2019-09-27 13:30] #1089 closed, assigned to nobody

[2019-09-27 15:07] larsgsvensson opened #1102 "Add motivating text to the HTTP Alternate Representation Data Model"
In his conneg-by-ap-to-CR vote, @riccardoAlbertoni  suggests that we add some motivating text to [§7.3.1.1 of conneg-by-ap](https://w3c.github.io/dxwg/conneg-by-ap/#http-altp)

(I assume it's section 7.3.1.1 since there is no §7.2.1.1 and we've shuffled things around a bit...)

@nicholascar, can you have a look at that?

[2019-09-29 14:22] nicholascar commented on #144
Tagging with *profiles-vocabulary* since it's related to that too.

[2019-09-29 17:19] kcoyle opened #1105 "Drop "family of documents" section from conneg"
The "[DXWG family of documents](https://w3c.github.io/dxwg/conneg-by-ap/#FamilyOfDocs)" section in Conneg should be removed because:

1. The documents do not make up a "family" because there is no direct relationship or dependency between them
1. The way that most groups handle this is that the home page for the group lists the documents created by the group, including working group notes
1. The I

[2019-09-29 17:44] kcoyle opened #1106 "Replace "functional profiles" with "methods" or "implementations""
The Conneg document states:

"While this specification only describes these two Functional Profiles, it is expected that implementers will want to implement methods, and thus Functional Profiles of the Abstract Model, for other environments, some of which may not yet be realized – future environments. " ([Introduction](https://w3c.github.io/dxwg/conneg-by-ap/#introduction), paragraph 6)

In this,

[2019-09-29 17:57] kcoyle commented on #144
@nicholascar Can you give a sentence or two on how you see this relating to profiles vocabulary? Otherwise we may puzzle over this in the future when trying to remember. Thanks.

[2019-09-29 20:32] kcoyle commented on #1106
Oh, I should say that I think that calling these implementations "functional profiles" would be less of a problem or not at all a problem if the main thrust of the document weren't "content negotiation by *profile*". There is a great possibility for confusion for readers between the profile as the subject of content negotiation and the profile as the implementation method, so avoiding the function

[2019-09-30 00:45] rob-metalinkage commented on #144
the profile of DCAT is a "Thing" you need to make statements about - including the role and availability of SHACL and SHEX resources. This can be in a human-readable-only form in a doc somewhere and/or it could be done in PROF -   (SHACL and other forms of constraint language dont support these relationships even if people would be willing to inspect every possible type of implementation that may

[2019-09-30 06:43] nicholascar commented on #144
Something like this @kcoyle:

[code]

[2019-09-30 07:11] larsgsvensson commented on #1106
@kcoyle scripsit:

This feels like a repetition of the discussion about "Differentiating Functional & Data Profiling in Conneg" starting in https://github.com/w3c/dxwg/issues/1022#issuecomment-530830723...

[2019-09-30 07:12] nicholascar commented on #1106
Yes, I'm not in favour of changing wording  now. We've discussed this to death and put a lot of effort into the differentiation.

[2019-09-30 15:16] kcoyle commented on #1106
@nicholascar I don't know who has "discussed this to death" but the working group in general has not given input to Conneg. Having more time means that there can be more input from the whole group. Also, as you know, you will need now to make a wider solicitation of reviews, so I'm afraid that all of Conneg is up for discussion until that wider review takes place. If there is a text for review, I

[2019-09-30 21:53] nicholascar commented on #1106
Please just send out the ED. We’ve now merged in all PRs we had.

[2019-09-30 23:27] kcoyle commented on #1106
It needs its introductory text. What are you sending out to mailing lists?

[2019-10-01 06:47] larsgsvensson commented on #1106
Wouldn't it make more sense to publish the a 3PWD once the discussion in #544 has been resolved? Then we can ask for wide review on that document.

[2019-10-01 07:52] davebrowning commented on #1100
(Github auto-close reversed)

@rduerr - we believe we've addressed this - would appreciate confirmation that it works in your environment.

[2019-10-01 13:22] nicholascar commented on #1106
Sure, happy to wait until #544's resolved.

Previously we've used [this letter on our Wiki](https://github.com/w3c/dxwg/wiki/Profiles-Ont-&-Conneg-RFQ-emails) which we can modify for this round.

[2019-10-01 13:38] nicholascar commented on #501
The original question of this Issue's been addressed, as @larsgsvensson says: the IETF document will contain text to register the target attribute profile for the Link header as follows:

Also, as @RubenVerborgh notes: with the merge of #1063, the token mechanism now no longer interferes with anything else.

This Issue's now been marked due-for-closing for quite some time and discussion here seems

[2019-10-01 13:38] #501 closed, assigned to larsgsvensson

[2019-10-01 13:38] #290 closed, assigned to nobody

[2019-10-01 13:42] #575 closed, assigned to nicholascar

[2019-10-01 13:43] #678 closed, assigned to larsgsvensson

[2019-10-01 13:43] #1064 closed, assigned to RubenVerborgh, larsgsvensson, nicholascar, rob-metalinkage

[2019-10-01 14:19] nicholascar opened #1108 "Improve description of relationship between DCAT and PROF"
Motivated by the suggestion here https://github.com/w3c/dxwg/issues/808#issuecomment-529345225 and the points here https://github.com/w3c/dxwg/issues/808#issuecomment-529288999 which are:

[2019-10-01 14:24] nicholascar commented on #808
As per the suggestion here https://github.com/w3c/dxwg/issues/808#issuecomment-529345225, a new issue has been created, #1108, titled "Improve description of relationship between DCAT and PROF".

Addressing @kcoyle's question:

Exactly as per the [referenced comment](https://github.com/w3c/dxwg/issues/808#issuecomment-526142935): "PROF call 29 august: we agree that this is not a crucial issue." &

[2019-10-01 14:24] #808 closed, assigned to nicholascar

[2019-10-01 14:25] #721 closed, assigned to nicholascar

[2019-10-01 14:32] nicholascar commented on #453
I've just checked the doc: "identifier": appears 4 times: 3 in relation to token in the `hasToken` property definition & usage note. In those two areas, qualification text such as "in circumstances where its URI cannot be used" is present, so there doesn't seem to be much point changing anything.

[2019-10-01 17:22] aphillips commented on #959
Note: I have opened an [action item](https://www.w3.org/International/track/actions/837) in I18N to address the lack of resolvable URLs for language tags and have contacted various people at IETF/IANA about potentially hosting it.

[2019-10-01 18:47] makxdekkers commented on #959
@aphillips Maybe you also want to include the people at http://www.lexvo.org/ in your discussions? They have done quite a lot of work on minting URIs for language-related objects which might be useful.

[2019-10-01 21:25] rduerr commented on #1100
Hmmm... the dcat.ttl file worked fine; but the dcat.rdf file still has the same problems.

[2019-10-01 22:26] dr-shorthair commented on #1100
Looks like I may have overlooked the need to regenerate the RDF version. Try this now: https://raw.githubusercontent.com/w3c/dxwg/dcat-issue1100/dcat/rdf/dcat.rdf

[2019-10-01 22:35] rduerr commented on #1100
Aargh!  Relationship is still showing up as error1; but the other two are gone.  So, it is better!  Close but no cigar.

[2019-10-02 00:00] dr-shorthair commented on #1100
But the dcat.ttl file loads fine? Protege can be a bit fierce about some OWL issues, but that should not depend on the serialization.

The only thing that is special about the axiomatization of `dcat:Relationship` is a cardinality constraint on an outgoing `dct:relation`, without which the Relationship is incomplete.

We are using the ttl version as the reference version.
I converted to the other