[2019-05-11 06:12] andrea-perego commented on #922
Done in #919 - made sections 7-14, B, C "informative":

https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html

[2019-05-11 08:09] dr-shorthair commented on #922
Since most of the rec is written in terms of 'recommended for use ...' probably the only really normative elements are the descriptions of the existence of classes and properties. 7-14 are all good illustrations of usage, best practice etc. I guess that makes them non-normative, which only leaves chapter 6 and the conformance chapter as normative - is that what we intend?

[2019-05-11 10:04] riccardoAlbertoni commented on #918
I am happy, Thanks!

[2019-05-11 12:41] andrea-perego commented on #918
Another issue:

At the end of [Section 10 (Versioning)](https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html#dataset-versions), there's the following NOTE:

Should we drop it?

[2019-05-11 13:16] andrea-perego commented on #923
Done in #919:

https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html

I used consistently the following sentences (let me know if I missed any):
- For new classes / properties in the DCAT namespace:

- For classes / properties from other namespaces added in DCAT 2:

Pointers to the relevant issues are yet to be added.

[2019-05-11 13:25] agbeltran commented on #923
Adding the links to the issues is good for people to be able to track the discussions - are you aware of others specs doing this though?

[2019-05-11 20:14] andrea-perego commented on #922
The following comments from @larsgsvensson are yet to be addressed:

[2019-05-11 20:22] andrea-perego commented on #922
@dr-shorthair said:

Makes sense to me. But I would keep normative also Section 3 (Namespaces).

Not sure about Section 15 (Security and privacy).

About Section A (Acknowledgments) and Section D (Change history), I don't think there's a need to mark them explicitly as "informative".

[2019-05-11 20:38] andrea-perego commented on #918
[Section 6.3 (Class: Catalog)](https://w3c.github.io/dxwg/dcat/index.html#Class:Catalog) includes the following NOTE:

I wonder whether we should also mention that:
- `dcat:Catalog` was made a subclass of `dcat:Dataset`
- A generic class `dcat:Resource` was added as an extension point for resource types not included in DCAT

[2019-05-11 21:53] dr-shorthair commented on #918
+1

[2019-05-12 11:05] dr-shorthair commented on #918
Maybe also remove the note at the beginning of the conformance chapter as part of thus pr .

[2019-05-12 14:56] davebrowning commented on #918
@dr-shorthair suggested

(Updated once i engaged brain)

+1 to removing it -  especially since there's little change in what the text tries to say (at least for DCAT conformance.  We've been more expansive on profiles.

The auto-included text in that part of the document now  throws an error source of a broken link that should go to a reference entry for RFC8174...  I guess this will go away at so

[2019-05-12 15:30] andrea-perego commented on #918
@dr-shorthair said:

Done in #919 via https://github.com/w3c/dxwg/commit/b194250e088c02d822ce4d7da18adb47955e5d83

[2019-05-12 16:23] andrea-perego commented on #918
About this one:

I revised accordingly the text in #919 via https://github.com/w3c/dxwg/pull/919/commits/4074c9444dd6bd9c6656f4e21a1234e18a6949d0

I also realised that there was no entry in the change history about the changes made to class `dcat:Catalog`. So, I added one at the end.

However, I am unsure which are relevant issues concerning:
- `dcat:Catalog` made a subclass of `dcat:Dataset`
- ad

[2019-05-12 16:25] andrea-perego commented on #918
@davebrowning said:

I don't see the error now. Maybe it was just a temporary problem with the SpecRef API...

[2019-05-12 16:54] davebrowning commented on #923
I've done a parallel set of edits to the ttl file (just for editorial and change notes) in #926.

@andrea-perego question on [6.4.4](https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html#Property:resource_creator) - should that use the 'added in this context' language?  [For example, like [6.4.14](https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html#Prope

[2019-05-12 17:06] davebrowning commented on #920
Work moved from #921 to #926

[2019-05-12 22:01] andrea-perego commented on #923
@davebrowning said:

Thanks!

Thanks for spotting this. Fixed in #919 via https://github.com/w3c/dxwg/pull/919/commits/a84b690c4d8fd730f832c905f52876e64031db11

Thanks!

[2019-05-12 22:02] andrea-perego commented on #923
@agbeltran said:

Not sure - I should check.

[2019-05-13 10:00] andrea-perego commented on #922
Unless anybody disagrees, I would drop the last sentence in the abstract, pointing to the dcat.ttl file.

[2019-05-13 16:51] davebrowning commented on #175
Since we're nearing the approval process for DCAT2, should we not at least log this on the 2014 DCAT errata page at https://www.w3.org/2001/sw/wiki/DCAT_Errata ?  [It looks like a wiki page editable by any W3 WG member though I haven't tried to save it yes].  SInce we will be providing a new dcat schema file it would be good to have some audit trail on the old file?

(I'm not sure of the process f

[2019-05-14 10:06] kamhayfung commented on #785
I personally prefer to see a complete list if possible in case some permutations of media types and profiles are invalid.

[2019-05-14 12:28] andrea-perego commented on #918
Done in #919 via https://github.com/w3c/dxwg/pull/919/commits/d744c8be8935172c47bb5c762df0b3f85fb74e15

[2019-05-14 12:33] andrea-perego commented on #922
Done in #919 via https://github.com/w3c/dxwg/pull/919/commits/fc8e3a156d8b0f44a9a1d9d336abd83475fe43a3

[2019-05-14 13:13] andrea-perego commented on #922
@larsgsvensson dixit:

Fixed in #919 via https://github.com/w3c/dxwg/pull/919/commits/2f79ace948358ad7d394099b5ae8fdb1a19d09a4

[2019-05-15 15:57] andrea-perego commented on #922
The following comments from @larsgsvensson are yet to be addressed:

[2019-05-15 16:29] larsgsvensson commented on #785
@kamhayfung scripsit:

In that case it seems that we cannot avoid combinatorial explosion of media types and profiles... And yes, there will definitely be cases where some media types are available in some profiles and other media types in other profiles. The case we have in the DNB is that data published in traditional library formats (MARC 21 and MARC-XML) will be available in one profile and da

[2019-05-15 23:14] andrea-perego commented on #918
Fixed in #919 via https://github.com/w3c/dxwg/commit/132f35597c41d03605685e316cd617dafeb97c66

[2019-05-15 23:15] andrea-perego commented on #918
All the reported issues have been addressed.

I think we can close this one.

[2019-05-15 23:23] #918 closed, assigned to nobody

[2019-05-16 10:32] larsgsvensson commented on #785
Thinking about this again, I really think we need to publish the cartesian product of media type and profile URI. If we decide to make it a two-step process it would (in my understanding) look like this:

1. Client asks for a resource expressing interest in one or more profiles and one or more media types
2. Server answers with some content (according to its content negotiation algorithm) and also

[2019-05-16 12:45] nicholascar opened #932 "Should a server list all profiles it supports, even those in a hierarchy"
A server might support DCAT, DCAT-AP (profiling DCAT), GeoDCAT-AP (profiling DCAT-AP), StatDCAT (profiling DCAT-AP) etc. Should it list all of these or just the leaf node profiles?

[2019-05-16 13:48] jakubklimek opened #933 "dcat:accessURL mentioning SPARQL endpoint in rdfs:comment"
`dcat.ttl` says:
[code]

It seems confusing to mention a SPARQL endpoint here, when this should be modeled as a `dcat:DataService`, since we have the endpoint URL.

[2019-05-16 14:20] jakubklimek opened #934 "URL/URI inconsistency in dcat:endpointURL comment"
`dcat.ttl` says:
[code]

We should be consistent - if it is a URL, we should say URL. Since this is actually used to locate the service, it is a URL.

[2019-05-16 14:41] jakubklimek opened #935 "dcat:compressFormat and dcat:packageFormat description inconsistency"
In `dcat:compressFormat`, there is:
[code]
In `dcat:packageFormat`, there is:
[code]
The question is which one is correct, but it should be only one of them. I would vote for "file".

[2019-05-16 14:45] makxdekkers commented on #935
I agree that both should refer to 'file'.

[2019-05-16 16:16] smrgeoinfo commented on #932
From the point of view of a client, it seems that it would be simpler if all profiles supported were listed, rather than requiring the client to be aware of or figure out hierarchical relationships.

[2019-05-16 16:46] smrgeoinfo commented on #785
This is only an issue if the profile does not specify the valid media types for representations following that profile.  If media types are part of the profile, a client looking for that profile can reasonably be expected to also know what media types are available, and the 'type' parameter is unnecessary in the link.

[2019-05-16 16:48] smrgeoinfo commented on #785
Isn't it valid to include a comma-delimited list as a header parameter value, e.g.
[code]

[2019-05-16 17:33] larsgsvensson commented on #785
@smrgeoinfo scripsit:

Profiles are orthogonal to media types so a media type can never be "part of a profile".

[2019-05-16 17:59] larsgsvensson commented on #785
@smrgeoinfo scripsit:

`type="text/html, application/xml"`

I don't think so. [RFC 8288 §3.4.1](https://tools.ietf.org/html/rfc8288#section-3.4.1) says

The ABNF for the type parameter's value is:
     type-name "/" subtype-name ; see Section 4.2 of [RFC6838]

So it does not seem that `type="text/html, application/xml"` is valid.

[2019-05-17 00:42] dr-shorthair commented on #934
I had originally written "The **location** of the ..." but this got overruled in some later discussion :-)

[2019-05-17 00:45] dr-shorthair commented on #933
The sentence below the definition box addresses this issue.

[2019-05-20 07:20] jakubklimek commented on #933
@dr-shorthair OK, shouldn't this be also present in the notes in the `.ttl` file? Or how do we decide whether a note is in `.ttl`, in the actual doc or in both?

[2019-05-20 13:35] andrea-perego opened #937 "DCAT: Inconsistent use of "profile" / "application profile""
I got some feedback concerning the fact that, in the DCAT spec, we are using sometimes "profile" sometimes "application profile", and whether we mean two different things or, at least, we use on purpose the different terms in different contexts.

As far as I know, we actually mean the same thing, but anyway we have to address this issue by
1. be consistent in how we use these two notions
2. pointi

[2019-05-21 01:47] dr-shorthair commented on #933
In this case it is axiomatized:
https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat.ttl#L500

Usually the text in the tables is copied into the scope-notes in the TTL, but the text in the surrounding text, not.

[2019-05-21 08:38] tombaker commented on #932
@nicholascar [StatDCAT](https://joinup.ec.europa.eu/release/statdcat-ap/100) "defines a certain number of additions to the DCAT-AP model".  So is DCAT narrower than DCAT-AP, which is narrower than StatDCAT?  Or the opposite?  Does it even make sense to characterize one as "narrower" than the other?  The position of @smrgeoinfo seems the most realistic, but I'd take that one step further and assert

[2019-05-21 14:57] #63 closed, assigned to nobody

[2019-05-21 15:19] riccardoAlbertoni commented on #937
@andrea-perego  wrote:

I agree "DCAT application profile" and "DCAT profile" are used interchangeably,  we have used mainly "DCAT application profile".
We have also defined the term "DCAT profile" in the conformance section, as

I have found some occurrences of  "profile" where we generically refer to profiles that are not necessarily of DCAT. However, I do not think this is a problem if we make

[2019-05-21 16:04] agbeltran commented on #937
I think that we should, in the first appearance in the document, point to the definition of profile given in the Content Negotiation by Profile spec (https://www.w3.org/TR/2019/WD-dx-prof-conneg-20190430/#definitions), clarifying again that they are used indistinctively. So, option 2 of the ones that @andrea-perego proposed.

[2019-05-21 18:09] jakubklimek commented on #933
OK then, that should be enough.

[2019-05-21 18:09] #933 closed, assigned to nobody

[2019-05-21 20:17] nicholascar commented on #932
@tombaker

We understand profiling to be about conformance to, not narrowness of element (class etc) element definitions so something that extends something else with more or specialised class definitions is profiling it.

So if DCAT-AP instances conform to DCAT, DCAT-AP, however constructed, is the profile. If DCAT instances don’t necessarily conform to DCAT-AP, it’s not the profile.

So yes Stat

[2019-05-21 21:23] tombaker commented on #932
@nicholascar [CONNEG](https://w3c.github.io/dxwg/conneg-by-ap/) talks about "adherence".  Is that the same as "conformance"?  I note that neither term is used or explained in the [section on definitions](https://w3c.github.io/dxwg/conneg-by-ap/#definitions).

[2019-05-21 22:22] rob-metalinkage commented on #932
it looks like we are having to fill a hole in the general concept of specifications - so we have a choice
1) expand the scope of profiles ontology to capture core issues around specification conformance (i.e. a conformanceTarget property on dct:Standard or some subclass
2) ignore it and take it as read that these are well understood concepts
3) continue to add more and more explanation of every wo

[2019-05-22 20:09] andrea-perego opened #939 "DCAT: Subtitle not included in SpecRef entries"
See https://github.com/w3c/respec/issues/2353 and https://github.com/w3c/specberus/issues/838

[2019-05-22 21:34] andrea-perego commented on #937
This issue was discussed during [the DCAT subgroup call of 22 May](https://www.w3.org/2019/05/22-dxwgdcat-minutes#x08).

This is what was decided:
1. A definition of profile is already included in the conformance section, so we can stick to it
2. We'll consistently "profile" instead of "application profile", unless when referring to specifications which include "application profiles" in their name

[2019-05-22 23:12] andrea-perego commented on #937
Revisions implemented in PR https://github.com/w3c/dxwg/pull/941

Please review / revise

[2019-05-23 02:52] rob-metalinkage commented on #937
+1 for resolution.

just to note, some communities feel quite strongly that "profile" is "downstream" of their core specifications, even if their core specifications may be profiles to some other groups view of the world.  The conneg-by-ap view is that all specifications are profiles, and the choice of "root" specifications is arbitrary - so you can declare something conforms to (or a resource is

[2019-05-23 10:47] andrea-perego opened #942 "CONNEG: Reference to WFS3"
I don't remember if any reference has been made to WFS3 in relation to profile negotiation:

https://rawcdn.githack.com/opengeospatial/WFS_FES/3.0.0-draft.1/docs/17-069.html

Notably, in [Section 10 (Media Types)](https://rawcdn.githack.com/opengeospatial/WFS_FES/3.0.0-draft.1/docs/17-069.html#mediatypes), WFS3 makes use of a `profile` param in the HTTP headers / quoting:

/cc @cportele

[2019-05-23 11:18] cportele commented on #942
The `profile` parameter is discussed in the media type definition of GML (https://www.iana.org/assignments/media-types/application/gml+xml) and is consistent with RFC 6906, which is discussed in the conneg by profile draft.

[2019-05-23 12:20] andrea-perego commented on #942
Thanks, @cportele . I guess I misunderstood then: this is the standard `profile` parameter used to specify the "profile" of the current resource, and not to request a specific profile.

Is there anything in WFS3 that is related to profile negotiation, and/or you think it is worth including in the CONNEG spec? I mean, something similar to the `outputSchema` parameter in CSW.

[2019-05-23 12:58] nicholascar opened #943 "Remove redundant super property for dct:conformsTo"
Even though it is indicated in the DCT spec, it's redundant to say that `dct:conformsTo` refines both `dct:relation` & `dc:relation` since `dct:relation` itself refined `dc:relation`.

Remove `dct:conformsTo` refines `dc:relation`.

[2019-05-23 12:59] rob-metalinkage commented on #942
relates to #662 - we have attempted to distinguish these issues.  If a WFS3 based  example around use of outputSchema (as opposed to outputFormat) is available we will consider it as an example of Query String base negotiation - if there is a way to list options and schemas wont be further profiled in practice.

[2019-05-23 14:40] cportele commented on #942
Yes, we have ignored profile negotiation aspects for now and only use the media type etc. as foreseen by HTTP. The idea is to maybe add such capabilities once there is a more broadly accepted practice, but this will always be outside of the core spec.

[2019-05-23 20:47] andrea-perego commented on #942
Thanks, @cportele . So, we are not going to point to WFS3 for the moment.

I think this issue can be closed.

[2019-06-01 04:52] rduerr opened #944 "Current https://raw.githubusercontent.com/w3c/dxwg/gh-pages/dcat/rdf/dcat.ttl is inconsistent"
Using the ELK 0.4.3 reasoner on the dcat.ttl results in Error2 on:

'Catalog Record' SubClassOf foaf:primaryTopic only 'Catalogued resource'

I expect this is related to  #771; but thought I should mention it anyway... Yes, we are trying to use DCAT 2 too early... Sorry about that...

[2019-06-03 22:40] andrea-perego opened #945 "DCAT: Updates to ack section"
To be added:
- WG members:
  - Linda van den Brink (see https://github.com/w3c/dxwg/issues/970)
- External feedback:
  - Ruth Duerr (see https://github.com/w3c/dxwg/issues/944)
  - Renato Iannella (see https://github.com/w3c/dxwg/issues/955)
  - Addison Phillips (see https://github.com/w3c/dxwg/issues/957, https://github.com/w3c/dxwg/issues/958, https://github.com/w3c/dxwg/issues/959)
  - Yves Coe

[2019-06-06 06:18] dr-shorthair opened #946 "Should any DCAT predicates be registered as IANA relations?"
From time to time elements/properties/predicates from W3C vocabularies are also registered with IANA in one place or another. e.g.
- two media-types and one relation from POWDER https://www.w3.org/TR/powder-dr/#appB
- four relations in Resource Hints (in progress) https://www.w3.org/TR/resource-hints/#iana-considerations
- 15 interval relations from OWL-Time - see https://github.com/link-relations

[2019-06-06 12:27] andrea-perego opened #949 "DCAT: ODRL CG review"
Submitted on 6 Jun 2019:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jun/0000.html

Quoting:

[2019-06-06 12:57] andrea-perego commented on #949
Requested revisions implemented in https://github.com/w3c/dxwg/pull/950

[2019-06-06 17:06] kcoyle commented on #949
I noted in their email the phrase: "to the relevant dct property." In that sentence, "dct property" should be changed to "DCMI metadata term". Thanks.

[2019-06-06 19:32] nicholascar commented on #516
OAI-PMH is described as a QSA implementation in Related Work

[2019-06-06 23:05] andrea-perego commented on #949
Thanks, @kcoyle .

The proposed revision has been implemented as follows:

Can this work, or we should revise it?

BTW, the reason behind using "property" was that the DCMI terms recommended for specifying rights as `dct:rights`, `dct:license`, `dct:accessRights`, which are all RDF properties.

[2019-06-06 23:13] kcoyle commented on #949
Thanks Andrea. I think that's ok since it points to a reference that has the full citation. All of the DCMI terms are properties, yet they get called "terms". However, the way you have done that includes all the concepts. Great!

[2019-06-07 01:14] dr-shorthair commented on #868
The [Interest Group on Data Discovery Paradigms](https://www.rd-alliance.org/groups/data-discovery-paradigms-ig) of the Research Data Alliance has a task force on Data/metadata granularity, which is considering a taxonomy of data aggregation. @andrea-perego and @dr-shorthair are in contact and will likely bring more detailed requirements that can form the basis of developing DCAT patterns for this

[2019-06-07 12:17] andrea-perego commented on #949
Thanks, @kcoyle .

Unless of any additional comments, I'll reply to the ODRL CG's mail.

[2019-06-07 17:00] andrea-perego commented on #949
Mail sent: https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jun/0001.html

Waiting to have confirmation that the implemented revisions address the reported comments.

[2019-06-18 20:18] nicholascar opened #953 "Duplicate Conformance heading"
Duplicate heading in Conneg doc: https://w3c.github.io/dxwg/conneg-by-ap/#conformance or https://www.w3.org/TR/dx-prof-conneg/#conformance

[2019-06-19 12:36] larsgsvensson opened #954 "Incorrect reference to PROF-IETF in conneg-by-ap"
The reference to PROF-IETF in the [conneg-by-ap reference section](https://w3c.github.io/dxwg/conneg-by-ap/#references) points to https://profilenegotiation.github.io/I-D-Accept--Schema/I-D-accept-schema/. The current working document is https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation.

[2019-06-19 13:01] larsgsvensson commented on #501
See also @hvdsomp 's [suggestion to include the attribute 'profile' in the new Link-Hints registry](https://github.com/ProfileNegotiation/I-D-Profile-Negotiation/issues/17#issuecomment-498547785)

[2019-06-20 16:05] dret commented on #501
On 2019-06-19 06:01, Lars G. Svensson wrote:

just as a note: the link-hint draft has been around for a while and
abandoned for a while, and it's less than certain that the draft (and
thus the registry) will make it to the finish line.

[2019-06-20 21:20] hvdsomp commented on #501
Yes, I get that. I still feel that this attribute should be defined generically, not tied to this specific spec. Solidarity!

[2019-06-21 12:33] riccardoAlbertoni opened #955 "vCard and FOAF?"
Submitted on 21 Jun 2019:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jun/0003.html

Quoting:

[2019-06-21 12:47] jakubklimek commented on #955
One point against doing this is that it complicates interoperability instead of improving it. If one publisher uses foaf and another one vcard, the consumer has to know both, has to know which is used by which publisher etc. Compared to specifying one and relying on everyone using the one.

[2019-06-21 12:53] danbri commented on #955
you could also use Schema.org! :)

On Fri, 21 Jun 2019 at 13:47, Jakub Klímek <notifications@github.com> wrote:

[2019-06-21 13:13] agbeltran commented on #955
We had a previous discussion about this at https://github.com/w3c/dxwg/issues/109

The conclusion was that "the property is `contactPoint` so it is contact information that is expected.
General descriptions of agents may be needed somewhere else, but not here."  (see https://github.com/w3c/dxwg/issues/109#issuecomment-404710582)

[2019-06-21 17:33] ltrani commented on #955
I would definitely appreciate a change or clarification here (maybe more examples?).
We started piloting the application of DCAT2 and we are very happy with the new features. However, the intended usage of FOAF and VCARD and how they could/should be combined/related are aspects that can generate confusion (especially to new DCAT users).

For instance, suppose the following situation:
John is the `

[2019-06-22 21:25] andrea-perego commented on #949
ODRL CG replied on June, 21st, that they are happy with the revisions:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jun/0002.html

This issue can be closed.

[2019-06-22 21:32] andrea-perego opened #956 "DCAT review: Support both FOAF a vCard for agents"
Comment posted by @riannella on June, 21st to mailing list:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jun/0003.html

Quoting:

And FOAF can also express the Contact Point.

[2019-06-22 21:34] andrea-perego commented on #956
Duplicates #955

[2019-06-22 21:34] #956 closed, assigned to nobody

[2019-06-22 22:43] andrea-perego commented on #955
I have no strong feeling about using or not interchangeably FOAF and vCard, although there may be some concerns in terms of backward compatibility for DCAT - as already mentioned by @jakubklimek

On a related note (and maybe not completely relevant to solve this issue), I include below some considerations about the use of `dcat:contactPoint`, that could be relevant to the problem reported by @ltra

[2019-06-23 06:34] riannella commented on #955
Perhaps consider following the approach of the W3C POE WG for the ODRL recommendation in which it allowed for a range of current agent descriptions:
  https://www.w3.org/TR/odrl-vocab/#term-Party

[2019-06-23 10:45] makxdekkers commented on #955
My view:

Firstly, from a more theoretical, modelling perspective:

From my recollection of the discussions in the Government Linked Data WG back when DCAT 2014 was developed, we understood that there was a difference between the semantics of `foaf:Person` and `vcard:Individual`. Whereas members of the class `foaf:Person` are people, like Dan or Renato or Makx, members of the class `vcard:Individu

[2019-06-23 13:41] makxdekkers commented on #955
@andrea-perego  I understand what you're doing there and I agree it is a practical solution, but I also think that you're bulldozering through fundamental aspects of SemWb/LinkedData by using an e-mail address as the object of `dcat:contactPoint`. You imply, and require a consuming application to understand, that it is 'shorthand' for `dcat:contactPoint [ vcard:hasEmail "mailto:user@some.org" ]`.

[2019-06-23 22:37] andrea-perego commented on #955
You're right, @makxdekkers , and actually I said "we have also been seriously thinking to ..." implying that we are not going that way (and exactly for the reasons you say).

My point was more in reply to @ltrani 's argument, and to note that there are good reasons why dataset authors and dataset contact points should not always correspond to the same agents.

[2019-06-24 16:45] aphillips opened #957 "[I18N] Various date types could be more specific"
Property: release date
https://www.w3.org/TR/2019/WD-vocab-dcat-2-20190528/#Property:resource_release_date

A number of date values have range text like this:

This is not very specific, since 8601 and schema provide a plethora of date/time types/value spaces. It might be better to be more specific and restrict this to RFC3339 full-date or date-time (i.e. in the case of a timestamp) or by specifyi

[2019-06-24 16:49] aphillips opened #958 "[I18N] Examples provide no language or direction metadata"
Examples 1-5 (for example)
https://www.w3.org/TR/2019/WD-vocab-dcat-2-20190528/#ex-catalog

Examples in the document do not include language or direction metadata, even though they contain natural language strings. Example 1 shows the way:

[code]

While this example does include a language value, other examples do not. There is also no mention of direction metadata, a gap in linked data that I18N

[2019-06-24 16:54] aphillips opened #959 "[I18N] References to ISO-639 vs. BCP47"
6.4.9 Property: language (and other locations)
https://www.w3.org/TR/2019/WD-vocab-dcat-2-20190528/

Dublin Core, which is the source for this reference, is unclear (AFAICT) in its relationship to BCP47 and language tags. The use of ISO 639 parts 1 and 2 (without reference to part 3) and the lack of support for the various kinds of subtags in BCP47 (not to mention the stability guarantees found in

[2019-06-24 23:56] riannella commented on #955
@makxdekkers

1) The FOAF description for Person says "The Person class **represents** people."
(in this case the description is more useful than the definition :-)

2) The POE WG (ODRL) choose those agent options as the community suggested they where the most useful. No doubt things will change in the future!

3) My point is not to add more options, but to be consistent in the two that have been

[2019-06-25 14:06] makxdekkers commented on #955
@riannella
1. I guess there might have been some confusion over the semantic shift that took place between https://www.w3.org/Submission/2010/SUBM-vcard-rdf-20100120/ -- where I think, but correct me if I am wrong, the object was a representation of a business card -- and https://www.w3.org/TR/2013/WD-vcard-rdf-20130502/ -- where the object represented persons, organisations etc. That shift came d

[2019-06-25 15:16] smrgeoinfo commented on #955
Coming at this from the ISO 19115 perspective, it looks like this:
pointOfContact is a role filled by an agent (ResponsibleParty), who might be a person, a role-filler in an organization (e.g. 'metadata curator') or simply an organization.
Persons, Role-fillers and organizations (agents or ResponsibleParties) have contactInformation (ContactInfo);  telephone numbers or e-mails seem to be most usef

[2019-06-25 15:24] ltrani commented on #955
@makxdekkers I agree that the two properties are semantically different but I don’t think that it is only a matter of elegance of design. In my view there is also a component of usability due to overlapping definitions.
In the current situation you are implicitly making quite strong assumptions and suggesting choices that affect implementation e.g as @andrea-perego pointed out the same physical pe

[2019-06-25 16:11] andrea-perego opened #960 "DCAT: Request for clarification on dcat:endpointDescription"
Feedback submitted by Yves Coene.

See: https://lists.w3.org/Archives/Public/public-dxwg-comments/2019May/0003.html

The mail above includes a preliminary reply, to be validated / confirmed by the WG.

[2019-06-25 16:22] makxdekkers commented on #955
@smrgeoinfo I agree that contactPoint can be seen as 'someone to contact' -- which I think is where @riannella comes from -- and 'contact information' -- which what the intention in DCAT 2014 was. That's what I called the difference in intention between `dct:publisher` and `dcat:contactPoint`.

@ltrani I don't think your example implies that the person is duplicated. It would be perfectly possible

[2019-06-25 16:29] smrgeoinfo commented on #955
+1 on limiting flexibility to favor interoperability.

[2019-06-25 19:25] ltrani commented on #955
@makxdekkers

you mean something like `<#meURI> a vcard:Individual, foaf:Person .` ?

[2019-06-25 20:01] makxdekkers commented on #955
@ltrani yes

[2019-06-25 20:26] ltrani commented on #955
Ok but then you are moving the issue on the users' side aren't you?
From the point of view of the interoperability I am not sure whether this solution would make things easier as it might encourage mix and match and proliferation of application profiles.
E.g. when it comes to express `name` which vocabulary should I use `foaf:name` or `vcard:name` or both?
Why not simplify and have just one choice

[2019-06-25 21:27] makxdekkers commented on #955
@ltrani I was just responding to your point that you would need to create two URIs, which I argued was not necessary.
Which properties to use from either FOAF or VCard is an application choice. DCAT just specifies that the object of dct:publisher is a foaf:Agent (or a dct:Agent which is the same) and that the object of dcat:contactPoint is a VCard:Kind. An application profile or a community guidel

[2019-06-25 21:54] dr-shorthair commented on #960
The only thing I would add is to make clear that the endpointDescription describes the instance, not the type. e.g. it is the GetCapabilities response, not the WFS spec.

[2019-06-26 09:07] makxdekkers commented on #957
Doesn't the instruction that the string should be "_typed using the appropriate XML Schema datatype [XMLSCHEMA11-2]_" already solve the issue? Or could it be made more explicit by saying "_typed using the appropriate XML Schema datatype [XMLSCHEMA11-2], i.e. `xsd:date` or `xsd:dateTime`_"?

[2019-06-26 09:29] pwin commented on #957
@makxdekkers I think the more explicit approach is a better recommendation.  There are so many options for data/datetime formatting and given that this is a pretty fundamental nugget of information then reducing the hassle of processing when it comes to aggregating across catalogues is a real benefit

[2019-06-26 09:34] makxdekkers commented on #959
To me, this seems to be a comment addressed to DCMI. DCAT just reuses/imports the property `dct:language`.
The DCMI term is aimed at providing a way to advertise a language used in the described resource by linking to a resource (through its URI) that represents that language. In Linked Data terms, one can resolve that link and find out more about that language. E.g. resolving http://id.loc.gov/vo

[2019-06-26 09:51] makxdekkers commented on #957
Another point is also that the text "_rdfs:Literal encoded using the relevant ISO 8601 Date and Time compliant string [DATETIME]_" does not allow the "_plethora of date/time types/value spaces_" of ISO 8601, as it points to DATETIME which refers to https://www.w3.org/TR/NOTE-datetime, a W3C Note that proposes to only use a small subset of the options in ISO 8601.

[2019-06-26 11:06] riannella commented on #955
@makxdekkers Yes, I see creator, publisher, contact as three roles.

[2019-06-26 14:21] andrea-perego commented on #957
The point of not being bound to a specific date/time datatype is that information as dataset release / modified date are expressed with different levels of precision by different communities / tools. Some are using a date (`xsd:date`), others a date-time (`xsd:dateTime`), others just the year (`xsd:gYear`).

About processing issues, I don't think this should be the case if the literal is typed.

[2019-06-26 14:29] andrea-perego opened #961 "DCAT: s/getCapabilities/GetCapabilities/"
Submitted by James Passmore (@nmtoken) on 26 Jun 2019:

http://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jun/0004.html

Quoting:

[2019-06-26 15:03] smrgeoinfo commented on #957
https://www.w3.org/TR/NOTE-datetime defines 6 options for date or date+time formatting. Here they are with xsd equivalents if they exist:
Year:
      YYYY (eg 1997)  == xsd:gYear
   Year and month:
      YYYY-MM (eg 1997-07)  == xsd:gYearMonth
   Complete date:
      YYYY-MM-DD (eg 1997-07-16) == xsd:date

   Complete date plus hours and minutes:
      YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:0

[2019-06-27 04:36] nicholascar opened #962 "Replace prov#Role with #Class:Relationship for hadRole"
Range value of `dcat:hadRole` in HTML links to PROV's Role (`http://www.w3.org/ns/prov#Role`) but should link to the DCAT 2 Role (`https://www.w3.org/TR/vocab-dcat-2/#Class:Role`).

[2019-06-27 17:18] kcoyle opened #963 "Revisiting the definition of "profile""
As per the meeting of June 25, 2019, this is an area for the discussion of the definition of "profile". Let's put each definition in a separate comment so people can  up or down vote them.

[2019-06-27 17:19] kcoyle commented on #963
The current definition:

A named set of constraints on one or more identified base specifications, including the identification of any implementing subclasses of datatypes, semantic interpretations, vocabularies, options and parameters of those base specifications necessary to accomplish a particular function.

[2019-06-27 17:23] kcoyle commented on #963
A modification of the definition suggested by Antoine in [this email.](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0106.html) changing "on one or more" to "can be based on", resulting in:

"A named set of constraints which can be based on one or more identified
base specifications, including the identification of any implementing
subclasses of datatypes, semantic interpretations, v

[2019-06-27 17:28] smrgeoinfo commented on #963
A profile is a specification that applies additional constraints for validation of conformance targets to those defined in one or more base specifications.  Resources that conform to a profile must conform to all provisions of the profile's base specifications.

Note-- without the conformance to base profiles provision, a profile is just another specification.

[2019-06-27 17:50] kcoyle commented on #963
@agreiner Annette responded to Antoine's thoughts with an [email](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0110.html) that states that

"Profiling is about acknowledging a reuse. The threshold at which that
acknowledgment is called for would be hard to define, but it seems to me
that it is up to the creator of the spec or profile what level of
acknowledgment they want to adverti

[2019-06-27 20:28] andrea-perego commented on #961
Suggested revision implemented in PR https://github.com/w3c/dxwg/pull/964

[2019-06-27 20:39] andrea-perego commented on #962
Thanks, @nicholascar .

Link fixed via PR https://github.com/w3c/dxwg/pull/965

[2019-06-28 08:26] tombaker commented on #963
data profile

        A human- or machine-readable specification that
        clarifies, constrains, combines, excerpts,
        extends, or annotates one or more given data
        specifications.

        A well-designed data profile provides
        information, useful for describing data in a
        given context, without semantically contradicting
        the data specifications on which it

[2019-06-30 22:28] smrgeoinfo opened #966 "dcat:Resource description edits, section 5.1"
Current text states:
"dcat:Catalog represents a catalog, which is a dataset in which each individual item is a metadata record "
and in the next paragraph:
"dcat:Resource represents an individual item in a catalog."

This seems likely to confuse a careful reader (is a dcat:Resource a metadata record?).  suggested edit for dcat:Resource

_dcat:Resource represents a dataset or data service described

[2019-06-30 22:32] smrgeoinfo opened #967 "dcat conformance question"
Section 4 on conformance states:
"Access to data is organized into datasets, distributions, and data-services.
An RDF description of the catalog itself and its datasets, distributions, and data-services is available"

then in section 5:
"Member items in a catalog should be members of one of the sub-classes, or of a sub-class of these, or of a sub-class of dcat:Resource defined in a DCAT profile or

[2019-07-01 01:20] dr-shorthair commented on #967
Good question Steve. I think per section 4 the answer is strictly 'no' but the wording in section 5 does leave that door open, so section 5 needs to be tightened a bit, else section 4 tweaked to allow for this.

The question is whether a catalog that is designed consistent with DCAT design, but whose contents describe things other than datasets or dataservices, should be considered a conformant DC

[2019-07-01 06:14] tombaker commented on #963
Karen suggests a slightly different wording at https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0146.html - which would also be fine with me:

    A human- or machine-readable specification that defines additional
    constraints, conventions, or extensions over one or more given data
    specifications.

[2019-07-01 06:21] pwin commented on #963
Looking at the [W3 site](https://www.google.com/search?q=site%3Aw3.org+%22is+a+profile+of%22) , aside from our work I see things like:

- The Registered Organization Vocabulary **is a profile of** the Organization Ontology for describing organizations that have gained legal entity

- ADMS **is a profile of** DCAT

- Appendic C was a profile of a specific XHTML syntax but **not a profile of** a spe

[2019-07-01 09:26] tombaker commented on #963
[Antoine suggests](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0106.html) that the definition of "profile" be modified to read:

    A named set of constraints, which can be based on one or more other identified specifications...

I think we are all in agreement that a profile typically constrains some other (base) specification(s) and we might even accept that a profile is not _ne

[2019-07-01 09:36] pwin commented on #963
So, @tombaker , the challenge is that much of what was in my list above was from a different era, and that we need a development that looks forward to the increased use of profiles that are likely to have a certain amount of rigour based on set membership etc.  If we had this approach in our minds at the start, things like licenses wouldn't be as difficult to work with as they currently are.  So I

[2019-07-01 12:32] dr-shorthair commented on #963
@tombaker asked:

Could they be enumerated in a checklist? If so, then 'set' is fine AFAICT, in fact it is a useful idea.

I understood that the goal of the profile-vocabulary was to help in expressing a profile more formally.
Wouldn't this converge towards enumerating the _set_ of concerns?

[2019-07-01 13:41] riccardoAlbertoni commented on #967
@dr-shorthair wrote:

I tend to say 'yes'. Otherwise, we risk discouraging the use of DCAT in unforeseen scenarios.

Let us be rather inclusive and let the users decide by themselves whether when and how DCAT can serve or not their non-data catalogs.

A catalog of non-data resources would interoperate only on the notion of "catalog" and "resource" but I can't exclude this is useful for someone. Wh

[2019-07-01 14:08] riccardoAlbertoni commented on #962
PR  #965 approved by three editors and merged

[2019-07-01 14:08] #962 closed, assigned to nobody

[2019-07-01 14:17] larsgsvensson commented on #501
@hvdsomp scripsit:

we're certainly on the same page when it comes to solidarity. And I don't see how defining the 'profile' attribute in the RFC restricts it to be used only within the scope of that specific spec.
The RFC is only specification document for the attribute. That does not tie the attribute to be used only in the context of profile-negotiation (i. e. `Accept-Profile` and `Content-Prof

[2019-07-01 14:20] kcoyle commented on #963
@dr-shorthair I'm not sure what exactly you are including in "they". If you look at DCAT-AP, which I assume we consider an application profile, then there is a significant portion of that document is cannot be ennumerated. There is introductory material, and the organization of the document includes the division of terms into categories, which would suggest that these are all subsets.

If you are

[2019-07-01 14:20] dr-shorthair opened #968 "Segregate namespaces into normative and non-normative sets"
Clause 3 (normative) contains a long (rather overwhelming!) list of namespace prefixes, of which a significant fraction are used only in examples. I suggest splitting this list in two, so that it is clear which subset is normative.

[2019-07-01 14:27] kcoyle commented on #963
@pwin You found one "profile" that was stated to be "an extension of" another. That is in contradiction to the definition that considers profiles to be "constraints". What fits better in the definition is the statement that a profile "defines additional constraints, conventions, or extensions " that comes from [RFC 6906](https://tools.ietf.org/html/rfc6906). Limiting to constraints - or I could sa

[2019-07-01 14:46] pwin commented on #963
Yes @kcoyle .  I wanted to find usage of the term 'in the wild' with examples that we might be able to use to clarify our thinking and also try to evidence the components of our definition.  That example was from a US Federal source in 1998/9.

[2019-07-01 15:06] pwin commented on #967
I think we should be comfortable with much wider usage than just cataloging 'data' content to any other type of asset.  The key use of DCAT imo is the publication on the web of a catalogue of resources .  most anything that we catalogue will be some sort of information

[2019-07-01 15:21] smrgeoinfo commented on #967
I agree -- I think the catalog framework defined in the current spec has wide potential application that could be useful. I am working on a [resource registry for the US NSF EarthCube project](https://www.earthcube.org/resource_registry), and although our serialization is currently required to use schema.org, the conceptual framework in DCAT can be applied to all the resources of interest, and dca

[2019-07-01 16:23] riccardoAlbertoni commented on #966
Thanks, @smrgeoinfo.

I would propose to rephrase the sentence for dcat:Resource in
"dcat:Resource is a metadata record which represents an individual item in a catalog."

Rather than
"dcat:Resource represents a dataset or data service described by a metadata record in a catalog."

 As we are discussing in issues #967, Datasets and data services are not the only items we want to represent and, in

[2019-07-01 20:02] smrgeoinfo commented on #963
The question that interests me is whether 'profile' should mean something that has implications for software implementations, or if it is a sort of qualitative statement something like 'a lot of what is this spec is adopted from pre-existing spec X (or specs X, Y, and Z)'.

There are pre-conditions to be software actionable-- the base spec has to define some software-testable conformance requireme

[2019-07-01 20:29] pwin commented on #963
@smrgeoinfo I think that software development should be a (perhaps significantly increasing) subset of the use cases for a 'profile'.  This is why I think we need to be inclusive in our definition, but quickly move to some broad taxonomy of profile types that can then permit development of good practice documentation.  There might also be a migration path that could be suggested between things whi

[2019-07-01 20:32] smrgeoinfo commented on #966
Yes, that works for me. I posted #966 before starting consideration about #967. I like the more general language.

[2019-07-01 20:39] andrea-perego commented on #966
@riccardoAlbertoni , saying that a `dcat:Resource` is a "metadata record", implies that `dcat:Resource` is a subclass of `dcat:CatalogRecord`, which is not the case.

I think it is more correct @smrgeoinfo 's proposed revision - maybe, slightly modified as follows to take into account the role of `dcat:Resource` as "extension point":

[2019-07-01 21:05] andrea-perego commented on #961
@agbeltran , I suggest we keep this issue open until James confirms he's happy with the revision.

[2019-07-01 21:13] agbeltran commented on #961
good point, issue re-opened...

[2019-07-01 21:45] smrgeoinfo commented on #963
@pwin I think your suggestion that a taxonomy of profile types is what is needed. Perhaps this could be approached (partly) as a taxonomy of relationships between specifications. This is based on the view that a profile is just a kind of specification that has a particular relationship with one or more base specifications.
Some possible relationships (just a start...)

- inheritsFrom - source spec

[2019-07-01 21:54] andrea-perego commented on #961
Thanks, @agbeltran . I just informed James about the implemented revision:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jul/0000.html

[2019-07-01 22:05] andrea-perego commented on #963
@smrgeoinfo , the relationships you outline look very similar to the ones defined in VOAF (http://purl.org/vocommons/voaf) - probably with the exception of the conformance aspect.

[2019-07-01 22:18] riccardoAlbertoni commented on #966
@andrea-perego wrote:

 I am afraid that I don't see the implication about subclassing that you are mentioning, as in my mind not all the metadata record are catalogRecord.
 CatalogRecord is a specific metadata record for an entry in the catalog (..it is the metadata record of a metadata record .. ),  but aren't dcat:Dataset and dcat:dataService metadata records for the actual datasets and service

[2019-07-01 23:55] andrea-perego commented on #966
@riccardoAlbertoni , to me, using "is a" states that `dcat:Resource` is a subclass or instance of a metadata record - and therefore it represents a metadata record (and so "metadata about metadata", a `dcat:CatalogRecord`), not a resource described in a catalogue. I understand from your reply that this is not what you intended to state, but I think this is how many people will read it, so it may l

[2019-07-02 06:36] tombaker commented on #963
@pwin @kcoyle We need not look back to a "different era" to find profiles that "extend" (one of the patterns enumerated above by @smrgeoinfo).  The GeoDCAT-AP and StatDCAT-AP listed in [Section 14 of DCAT](https://w3c.github.io/dxwg/dcat/#profiles) clearly describe themselves as "extensions".  If the German adaptation of DCAT-AP listed there is at all typical, the language and country adaptations

[2019-07-02 06:46] lvdbrink opened #970 "Basic Geo vocabulary considerations"
As raised during the [SDWIG telco last week][1], I would like to caution against using the [Basic Geo][2] vocabulary in DCAT2 for expressing location. As Dan Brickley pointed out to us, it was designed as an exercise and has not had careful review. In the [SDW roadmap][3] we describe this vocabulary as discontinued.

On the other hand, it is still a widely used property for describing location on

[2019-07-02 07:00] dr-shorthair commented on #970
Thanks @lvdbrink I had not realised Basic Geo was so far down the stack now.
Is a warning note enough?

[2019-07-02 07:05] tombaker commented on #963
@dr-shorthair

I think you are asking whether "constraints" defined in profiles could be enumerated.  If we had a coherent definition of "constraints" (which we do not), I'm sure this could quite trivially be done.  But it is terribly reductive to characterize profiles as "sets of constraints" as if they were data structures like RDF graphs ("sets of triples") or Python dictionaries ("sets of key:

[2019-07-02 07:13] larsgsvensson commented on #963
@tombaker scripsit:

Would it help to call them "collections of constraints" or "lists of constraints" in order to get away from the mathematical notion of sets?

[2019-07-02 08:07] tombaker commented on #963
@larsgsvensson  wrote:

The problem is that profiles consist not just of constraints alone, but also of extensions and usage annotations.  (I emphatically resist the notion that extensions and usage annotations can be characterized as "constraints".  If constraints do not "constrain" something, they fail the test of common sense.  If everything is potentially a constraint, then the term is effecti

[2019-07-02 08:10] tombaker commented on #963
@smrgeoinfo @pwin I agree re: need for taxonomy along these lines.  This is precisely the sort of analysis one would wish from a Guidance document.  Indeed, [Section 1.2 of the Guidance draft](https://docs.google.com/document/d/1Y4jP4SGZMnt63EpjTX11-hW6-3mxlaq1i-Lbiw4tx1M/edit) points in that direction.

[2019-07-02 11:41] tomkralidis opened #971 "JSON examples"
Looking at https://www.w3.org/TR/vocab-dcat-2/, it would be valuable to have explicit JSON examples for those wishing to represent in same.  Happy to add this if folks agree/find useful.

[2019-07-02 12:24] rob-metalinkage commented on #963
This is all getting rather convoluted - at this stage we dont need a taxonomy because we only need to deal with strict conformance - uses, or guided by  or any other possible relationship may be described by some other process - its an open world - its not relevant to conneg.

Other rather obvious points:  text in a document describing a profile is not the same as the profile - all specifications

[2019-07-02 12:59] agbeltran commented on #961
Replied by James agreeing with the revision:
https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jul/0002.html

Closing issue now.

[2019-07-02 12:59] #961 closed, assigned to nobody

[2019-07-02 13:27] riccardoAlbertoni commented on #966
Ok, let's keep the first sentence as it is, and let's revise @smrgeoinfo's proposal differently.
 (changes to @smrgeoinfo's proposal are marked below in bold)

Would this make happy both @andrea-perego and @smrgeoinfo?
If you prefer we can even use "resource" in place of "item", but it would be a little tautological.

[2019-07-02 13:35] dr-shorthair commented on #971
Many (but not all) of the examples  in the document, and some others, are here https://github.com/w3c/dxwg/tree/gh-pages/dcat/examples Some are already in JSON.
We should complete the collection from the document and their re-serialisation in JSON here for starters.

Are you also suggesting that some JSON should be included in the document? JSON-LD?

[2019-07-02 13:35] tombaker commented on #963
@rob-metalinkage

The [taxonomy proposed by @smrgeoinfo](https://github.com/w3c/dxwg/issues/963#issuecomment-507437561) nicely shows that different types of profile imply different notions of conformance.  In such a context, what does "strict conformance" even mean?

I think we can agree that [DCAT-AP](https://w3c.github.io/dxwg/dcat/#bib-dcat-ap) is a profile, correct?  The various things _in DCA

[2019-07-02 13:51] riccardoAlbertoni commented on #966
@andrea-perego wrote

I would say that what is only suggested is not recommended and shouldn't be a big problem, but perhaps, I am oversimplifying ...

Said that, If you think it is a "risk" we need to address, I suggest you opening a dedicated git issue about it.

[2019-07-02 14:03] dr-shorthair commented on #966
@andrea-perego wrote

Perhaps we should say 'catalogable' in the sense of 'potentially included in a catalog' which I think is the sense of what we are talking about, i.e. description of these things of a form that is suitable for inclusion in a catalog but which may not yet appear in any specific catalog instance.

[2019-07-02 14:04] kcoyle commented on #963
We do have:

6.12.1 Profile documentation [RPFDOCU]

A profile should have human-readable documentation that expresses for humans the main components of a profile, which can also be available as machine-readable resources (ontology or schema files, [SHACL] files, etc). This includes listing of elements in the profile, instructions and recommendations on how to use them, constraints that determine

[2019-07-02 14:22] smrgeoinfo commented on #966
I prefer 'represent' to 'denote' for the relationship between the dcat:Resource and the thing in the world it describes.  If I'm following, the suggested language is now something like

[2019-07-02 14:31] dr-shorthair commented on #966
@andrea-perego [wrote](https://github.com/w3c/dxwg/issues/966#issuecomment-507466065)

which illustrates how plain 'is a' is ambiguous. Much better to be explicit and say either
- 'is a kind of {class}' or 'is a sub-class of {class}'
or
- 'is an instance of {class}' or 'is an individual {class}'

[2019-07-02 14:33] dr-shorthair commented on #966
@smrgeoinfo indeed, 'denote' means 'name' rather than 'describe'.

[2019-07-02 14:36] kcoyle commented on #966
This may be too far afield from DCAT, but in libraries we say that metadata _describes_ a resource, and also that the metadata record is a _surrogate_ for the resource itself. To me, "represent" doesn't quite carry the idea that it contains key information about the resource. You could use a triangle to represent a mountain on a map, but it doesn't say much about the mountain.

[2019-07-02 14:39] aisaac commented on #959
I find this quite puzzling actually and went below my radar while I should have perhaps flagged it earlier... Some comments that could have an impact on discussion here:
- the reference to LC's URIs doesn't come from DCMI, see http://purl.org/dc/terms/language
- DCMI is going to soften its stance on ranges, i.e. (among others) dct:language's range will "include" LinguisticSystem but this will not

[2019-07-02 15:20] aisaac commented on #963
wow this discussion really goes into too many aspects: using "constraints" or not, "being based on something" or not, being a "set" or not...
Maybe we should split and identify the different facets of the issue? ('m pessimistic about it, as every attempt to do this seems to lump again everything together. But maybe we can try...)

On these different aspects:
- group/list/collection works fine for

[2019-07-02 15:33] aisaac commented on #963
And I disagree with the notion of taxonomy proposed by @smrgeoinfo . Not that the notions are meaningless, it's rather that it presents them as alternatives, while to me they can be combine (i.e. an extension is a form of constraint on the data too, see my comment above)

[2019-07-02 15:34] kcoyle commented on #963
@smrgeoinfo Here's what we have in the very drafty draft of profile guidance for profile "types" :

[2019-07-02 15:38] aisaac commented on #963
And I'd like to emphasize that @kcoyle 's "types" above are more exclusive than the other taxonomy. We've factored out notions like "use", "constrain" and "inherit" because all these type do these things, to some degree.

[2019-07-02 15:38] kcoyle commented on #963
@aisaac As an English-speaker, extensions do not make sense as "constraints". Constrain really means to limit and is the opposite of expand or extend. This is why I favor listing contraints AND extensions in the definition. I understand how the dictionary definition could be used to include a profile with extensions, but it is going to be quite counter-intuitive to readers and will cause confusion

[2019-07-02 15:47] aisaac commented on #963
@kcoyle my problem is really that my extensions are constraints on the data.
I think we're talking about "constraints/restriction over an existing specification" (your sense) and "constraints over data, independently on whether they are derived from an existing specification" (my sense). What word to use for my sense?

Maybe what I'm after is 'validation of conformance targets'  as @smrgeoinfo has

[2019-07-02 15:48] smrgeoinfo opened #972 "Scope notes for URL properties"
In spite of the discussion in #249, #655, #740,  I think the scope notes in the current editor draft for accessURL, downloadURL and endpointURL are confusing, and the Range value 'rdfs:Resource' opens to the possibility for all kinds of incompatible/interoperable implementations that are consistent with the spec.

In all the implementation examples, the value provided for these ...URL properties i

[2019-07-02 15:54] smrgeoinfo commented on #655
Sorry to bring this up again, but I don't think that the property-chain dcat:accessService/dcat:endpointURL actually matches the intention of dcat:accessURL.  I think the interpretation of accessURL that seems to be in use is to identify a web page (landing page, web form...) that a human has to interact with to get the desired distribution.   A service endpoint is oriented to machine interaction,

[2019-07-02 15:58] aisaac commented on #963
@tombaker for the record I've -1'ed your proposal at https://github.com/w3c/dxwg/issues/963#issuecomment-506650168 mostly because of the definition of data specification, which I find too document centric. And (probably as a result) then the definition of data profile is only in terms of machine- or human- readable doc, while I still would like a conceptual aspect (which you've correctly identifie

[2019-07-02 16:05] tombaker commented on #963
@aisaac I really like your distinction between [specification and document](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0051.html), so if my definition can be improved to make that clearer, I'm happy.  Instead of "family of documents", would reference to related "representations" be clearer?

[2019-07-02 16:10] smrgeoinfo opened #973 "6.7.19 mention other data package formats"
The usage note for dcat:packageFormat only mentions TAR as an example. There are other package formats the are emerging (e.g. this [RDA compilation](https://docs.google.com/spreadsheets/d/1Tg-oYGPdBDs5LORt0olD5t4X1R_YliUrwr6bNmImjTk/edit#gid=0) ), and I assume that this would be the place to document use of one of these package formats.

suggested revised text:

[2019-07-02 16:43] aisaac commented on #963
@tombaker this is better but I'm still hesitant - it depends on the final wording. I see the specification as something conceptual, a "hub" between representations/documents, so I'd prefer something that hints that a data specification *has* a family of representations, rather than *is* a family of representation (even though of course the representations are an essential part of the data specific

[2019-07-02 16:43] tomkralidis commented on #971
Exactly, to have some examples directly in the doc.

[2019-07-02 17:00] kcoyle commented on #963
@smrgeoinfo Nothing in our definitions or the guidance document say that profiles CANNOT be actionable. Actionable profiles are one of the many possible kinds of profiles, and we have more than one use case that speaks to validation of data based on profiles. (5.41 Vocabulary constraints [[ID41](https://w3c.github.io/dxwg/ucr/#ID41)]) (5.37 Europeana profile ecosystem: representing, publishing and

[2019-07-02 17:11] smrgeoinfo opened #974 "notes on 6.15.4 and 6.15.5 latitute and longitude"
The NOTE says:

for w3cgeo:lat, w3cgeo:long, and w3cgeo:alt. I assume it should be

for latitude and

for longitude

[2019-07-02 17:28] kcoyle commented on #963
+1 to representations, without saying more about what they are or their relation (could be from a single SHACL or ShEx document; could be separate).

? Do we exclude profiles without one or the other? Can we say "may have" to be inclusive?

[2019-07-02 17:47] kcoyle commented on #963
RE: Constraints

@aisaac when you say:

I think we're talking about "constraints/restriction over an existing specification" (your sense) and "constraints over data, independently on whether they are derived from an existing specification

I suspect that we are tripping over the fact that we are sometimes talking about different things:

1) the profile in relation to an existing specification, whe

[2019-07-02 17:49] tombaker commented on #963
data profile

        A data specification, with human- and/or
        machine-processable representations, that defines
        the content and structure of data used in a given
        context, often by constraining, extending, or
        annotating other data specifications.

    data specification

        A specification, with human- and/or
        machine-processable representations, that

[2019-07-02 18:41] smrgeoinfo opened #975 "better link for ISO19115-1 codelist, section 13"
The text in section 13 paragraph one:

the reference points to the ISO standards document, which is not freely available;  a more useful link to see the codelist would be https://standards.iso.org/iso/19115/resources/Codelists/gml/CI_RoleCode.xml, which shows up in a browser as a readable html page.
the CI_RoleCode list is also referenced in paragraph 1, section 13.1

likewise for DS_AssociationTy

[2019-07-02 20:06] aisaac commented on #963
Some comments on @tombaker 's definition (thanks! I like it better indeed):
- I'd like really the "named" element of our earlier spec to be kept. It's essential to our view of profile
- I also like the ideas of "collection" of constraints, even though we could replace constraints by something else
- describing data is not prescriptive enough for me. I'd like more to keep "defines/constraints" in @

[2019-07-02 20:27] andrea-perego commented on #966
@kcoyle , "representation" is the typical term used in RDF/OWL to denote the semantic level of the description of a resource (see also "knowledge representation"), as opposed to "encoding" / "serialisation", which denotes the syntactic level.

Using other terms for the same purpose in DCAT will just add confusion.

[2019-07-02 20:30] smrgeoinfo commented on #963
I don't see the value of calling something a profile if it doesn't constrain, extend, or annotate some other specifications-- in which case it would just be another specification as noted by @agreiner  in the [e-mail thread](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jul/0057.html).

@tombaker 's definitions could reduce  to

     A specification, with human- and/or
    machine-proces

[2019-07-02 20:32] andrea-perego commented on #966
@riccardoAlbertoni said:

I would indeed replace "item" with "resource", and I would rephrase the above definition as follows:

[2019-07-02 20:41] andrea-perego commented on #966
@dr-shorthair said:

I tend to agree, but the meaning of "catalogable" may be not crystal-clear to a non-native speaker, and it can easily be mistaken with "cataloged". I think it is safer to use a more "expanded" formulation of this statement.

[2019-07-02 21:05] tombaker commented on #963
@smrgeoinfo

Yes, that is what I meant.  I like your reduction of my proposed definitions!

[2019-07-02 21:19] tombaker commented on #963
@aisaac What does "named" actually add?  Can we not take it for granted that a profile would have a name?

I agree, and that is indeed why I changed "describes" (from my earlier proposal) to "defines" - borrowed from Karen.

When I dug a bit deeper, I found that the wording ("subclasses of datatypes, semantic interpretations, vocabularies, options and parameters... necessary to accomplish a partic

[2019-07-02 21:24] smrgeoinfo commented on #971
Since some of us will need to implement schema.org records that parse with the Google Structured data testing tool, working up more examples using the schema.org mappings (e.g. /dcat/examples/dataset-004-sdo.jsonld) would be useful as well.

[2019-07-02 21:29] aisaac commented on #963
@tombaker yes "defines" is better. And I am not claiming that we should keep all the enumeration of examples verbatim. But I think some enumeration helps.

@tombaker I'm keen on "named" because this paves the way for URIs. And it's a requirement we've identified, I believe.

@smrgeoinfo @tombaker yes replacing "annotating" by your suggested paraphrase would be very helpful. "Annotate" is perhaps t

[2019-07-02 21:30] aisaac opened #976 "Two things that our "profiles" are not"
Wrt [Action 342](https://www.w3.org/2017/dxwg/track/actions/342) from the [July 2 call](https://www.w3.org/2019/07/02-dxwg-minutes.html), here's a super quick attempt to introduce two "profile" notions that should be excluded from our scope.
Comments are really welcome - I had to rush this as I probably won't have time to work on it between now and next week.

1. "Syntactic profiles".
These are va

[2019-07-02 23:26] rob-metalinkage commented on #976
media type profiles - are a just a type of profile that profiles one specific aspect of a dataset - this is the general pattern that all communities may use a narrower concept of profiling within their domain without creating a broader definition that we must all bow down to..

we still need one broad enough to handle all the use cases of describing what specifications data conforms to, and how th

[2019-07-03 01:46] dr-shorthair commented on #975
And they are all available as linked data (one URI per value, conneg enabled) here: http://registry.it.csiro.au/def/isotc211

I stood this up as a temporary measure 3 years ago, pending ISO getting their act together ...

[2019-07-03 01:49] dr-shorthair commented on #655
No - that would be `dcat:landingPage`.

[2019-07-03 01:51] dr-shorthair commented on #972
@smrgeoinfo you might have overlooked [`dcat:landingPage`](https://w3c.github.io/dxwg/dcat/#Property:resource_landing_page).

[2019-07-03 06:45] pwin commented on #976
Isn't an "application profile" as distinct from the definition #2 from @aisaac a "precondition" or a "stipulation" for the form of the data that is required for its correct processing within the application?

[2019-07-03 08:37] aisaac commented on #976
@rob-metalinkage are you arguing that media type profiles (well, considering that JSON-LD profiles are within one media type, i.e. they don't specify their own media type)? This would be interesting. I guess I could see this working, but it requires a definition of profile that would probably be too flexible for some people in the group. I mean, I had to retract my one unifying definiton because p

[2019-07-03 08:39] aisaac commented on #976
@pwin I'm not sure I understand your question but I'll try: an application profile is a data specification, which is indeed expected to be conformed to, so that a given (range of) application(s) can work with the data.

[2019-07-03 09:24] lvdbrink commented on #970
That would be the minimal solution I guess. Since it is used a lot, I'm hesitant to recommend not to use it at all. On the other hand, DCAT2 is a standard, so should it reference such an ad hoc created vocabulary?

[2019-07-03 10:21] riccardoAlbertoni commented on #967
IMO, If they duplicate existing properties is not a problem,  that might be needed to interoperate with other metadata schemes.  The issue is if they use not-dcat properties in place of the recommended properties.

I would rather opt for mentioning cataloged resources explicitly in the second and third item of section 4,  (text in bold indicates the changes compared with the current working draft

[2019-07-03 10:29] makxdekkers commented on #959
@aisaac If I remember correctly, the GLD WG thought it would be good to recommend one particular set of URIs for `dct:language`, to help interoperability. After some discussion, the group decided to refer to LoC's URIs. The reasons were (a) that those URIs were the most authoritative, as LoC is the maintenance agency for ISO639-2 and (b) that LoC maintains _resolvable_ URIs for both ISO639-1 and I

[2019-07-03 13:54] aisaac commented on #959
@makxdekkers thanks for the clarification. GLD is not DCMI indeed. I can agree with the fact that LoC's URIs are probably the best around for ISO codes, but am still a bit unsure about making a strong recommendation for something that would capture only a part of the multilinguality needs (especially, no subtags). We could still leave the door open to BCP47.

Note that's also a problem we have for

[2019-07-03 14:53] riccardoAlbertoni commented on #966
with the previous commit, I have updated the definition of dcat:Resource as agreed with @andrea-perego, i.e.,

If we add at the end of the sentence above

would it address the second part of the discussion?

[2019-07-03 14:55] makxdekkers commented on #959
@aisaac As far as I have understood the intention of `dct:language`, in many cases that I have seen it being used, is to give users information about  what kind of content they can expect to find in a resource. In most cases, the fact that a resource has content in a particular language can help the user to decide that the resource could be useful -- that it is English is the main concern, while t

[2019-07-03 17:17] smrgeoinfo commented on #967
Good point, duplication is OK, as long as the corresponding DCAT properties are also populated.

The intention would be more like

I think your second bullet point expresses this.

[2019-07-03 17:51] smrgeoinfo commented on #976
@rob-metalinkage I agree,

The relationships tossed out as examples in https://github.com/w3c/dxwg/issues/963#issuecomment-507437561 are a starter for defining what the roles mean functionally (if I understand your comment!).  From the discussions so far, it seems that the defining aspect of a profile is that it has a relationship to one or more existing specifications (base specifications) that m

[2019-07-03 21:08] smrgeoinfo commented on #972
I did indeed. foaf:Document is the Range for dcat:landingPage and for foaf:homePage, which is a property of dcat:Catalog.   In practice (the dcat examples and foaf spec examples), properties that have Range foaf:Document get populated with http URI references that are urls to get the document, which might be a web page, or some other file that gets returned to the requesting client.

Instantiating

[2019-07-03 21:25] smrgeoinfo commented on #655
It seems like in practice many access URLs point to landing pages and there's no difference.

Sometime the access URL might get you to a form that lets you set up filters to get more precise access to what you want, something like ERDDAP TableDAP [Data Access Pages](https://coastwatch.pfeg.noaa.gov/erddap/tabledap/erdCalCOFIlrvcntAtoAM.html).  In this case I guess you could argue that the form is

[2019-07-03 22:07] agreiner commented on #963
I like the reduced form of Tom's definitions

[2019-07-03 22:56] dr-shorthair commented on #655
My point is that DCAT has slots that clearly differentiate between the different functions - API vs. LandingPage. But of course we can't control how people (mis-)use the spec.

[2019-07-03 23:28] dr-shorthair commented on #970
Yes, that is a good point. In the current draft `w3cgeo:lat`, `w3cgeo:long` and `w3geo:alt` are ['recommended for use' on individuals from the class `dct:Location`](https://w3c.github.io/dxwg/dcat/#Class:Location). I'm now thinking that these probably should not appear in the normative clause at all. We might leave the [example](https://w3c.github.io/dxwg/dcat/#ex-spatial-coverage-centroid-w3cgeo)

[2019-07-04 12:56] nicholascar commented on #287
From conneg's point of view:

`Content-Profile: <PROFILE_1>, <PROFILE_2>`

I will add an example of this to the Conneg doc

[2019-07-04 14:13] kcoyle commented on #287
Would it be possible to use real examples and not symbolic ones? Or would that be too prescriptive? I find that the conneg document remains fairly abstract without any real examples.

[2019-07-04 16:28] smrgeoinfo commented on #975
As far as I know they're not available as linked data except from the csiro.au service, but I do think its better to provide a link in the DCAT text that actually lets you look at a list of the terms from a TC211 hosted site (instead of pointing to the pay-walled spec, in which the vocabs are buried and not easy to find).  If the csiro.au/isotc211 services are intended to be persistent, I think it

[2019-07-04 20:32] andrea-perego commented on #970
I'm also not sure. One reason to keep it is that, in DCAT2, w3cgeo is the only option to specify point coordinates separately, which may be relevant for some use cases - the other properties use WKT as a recommended encoding.

I'm also unsure about recommending against the use of w3cgeo. It is indeed used a lot - LOV reports 48 incoming links:

https://lov.linkeddata.es/dataset/lov/vocabs/geo

I r

[2019-07-04 21:12] andrea-perego commented on #963
+1 from me too. Maybe with a slight revision:

I also wonder whether we should include "combine" for profiles based on multiple specifications:

[2019-07-04 21:33] andrea-perego commented on #976
Reading the discussion, I'm still unclear whether we have an agreement on whether profiles are only about semantics (as per @aisaac 's comment, and [RFC6906](https://tools.ietf.org/html/rfc6906#section-3)), or they can also be about syntax (as @rob-metalinkage 's comment).

Because of the impact of this distinction on the definition of what is and is not a profile, I think it may be worth having a

[2019-07-04 21:36] andrea-perego commented on #975
Maybe we can still keep the bib ref, but add a link to the publicly available code list - e.g.:

[2019-07-04 23:32] rob-metalinkage opened #978 "New UC - Specification documents with multiple roles"
### Specification documents with multiple roles
Status: Proposed

Identifier:

Creator: Rob Atkinson

Deliverable(s): (AP Guidelines)

## Tags
''Optional space-separated list of tags out of the above catalog (extend on demand)''

## Stakeholders
In the main, people describing conformance of data in relation to requirements embedded in documents that contain multiple specifications or other informa

[2019-07-04 23:39] rob-metalinkage commented on #976
I have added a proposed new Use Case, which I hope helps to untangle what seem to be quite different but legitimate views of documents and specifications. https://github.com/w3c/dxwg/issues/978

in short, we must accept that a document may contain multiple specifications - and we may treat the set of mandatory requirements as one specification and a set of suggestions as another, and have differen

[2019-07-04 23:44] rob-metalinkage commented on #963
I dont think there is actually a consensus yet on what a profile is, so we cant vote for wording and expect a good outcome.

I have proposed a new UC which hopefully covers the concerns people have over things like "recomendations" in documents co-existing with testable requirements:

https://github.com/w3c/dxwg/issues/978

We may need to update examples to add identifiers for different "sets" wit

[2019-07-04 23:46] rob-metalinkage commented on #963
ps - i think we are finding we cannot "take it for granted that a profile would have a name" - life would be easier if we could :-(

[2019-07-05 07:08] sjskhalsa commented on #975
perhaps https://github.com/ISO-TC211/schemas/tree/master/19115/resources/Codelist/gml ?

[2019-07-05 12:41] riccardoAlbertoni commented on #966
Considered that we have agreed to add the sentence

Do we want to remove "in a catalog" in the definitions of dataset and data-service that follow? Otherwise, these definitions might be perceived as contradictory with the previous adding.

What do you think?

[2019-07-05 16:15] smrgeoinfo commented on #975
@sjskhalsa the links to  https://standards.iso.org/iso/19115/resources/Codelists/gml/CI_RoleCode.xml are the 'release' versions of what's at https://github.com/ISO-TC211/schemas/tree/master/19115/resources/Codelist/gml

[2019-07-05 16:50] smrgeoinfo commented on #978
@rob-metalinkage This is a good use case, but bears largely on the construction of specifications. I definitely agree that much of the difficulty with defining 'profile' has to do with specifications that aren't constructed to address the problems you outline!

[2019-07-05 17:48] agreiner commented on #978
I think I agree with the idea behind this use case, but I find it confusing as written. It says "It is common practice to write a single document" and then goes on to say that "Some of this may be one or more formal specifications". Are you talking about a document or a specification? Are you using "may be" to mean "may call for" or perhaps "may refer to"? You correctly state that there is a tende

[2019-07-05 18:02] smrgeoinfo commented on #976
@andrea-perego I"d suggest that what a profile is about (semantics vs. syntax) depends on the scope of the base specification that is being profiled.  If the base spec is a conceptual (semantics only), then the profile will be about semantics. If a base spec is about syntax and usage conventions (e.g. an interchange format like ISO19139, GeoSciML v4), then profiles of that would be about syntax an

[2019-07-05 18:21] agreiner commented on #976
I think it also likely that people would want to add syntactic constraints to semantics-only specifications by using profiles.

[2019-07-05 19:22] smrgeoinfo commented on #970
including both dcat:centroid and w3cgeo:lat, w3cgeo:long as 'SHOULD be used' works against interoperability- two ways to do the same thing.  The WKT point representation allows encoding the same information as w3cgeo lat,long,alt, I'd prefer to see the recommendation for dcat:centroid,  to avoid having multiple ways to encode the same information.

[2019-07-05 19:36] agbeltran opened #979 "Change owl:versionInfo"
Currently, the [dcat.ttl](https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat.ttl) file has the following information for the ```owl:versionInfo```:

[code]

This should be updated to v2.0. for CR.

[2019-07-05 20:09] agbeltran opened #980 "dcat:Resource usage note"
In the usage note for [dcat:Resource](https://w3c.github.io/dxwg/dcat/#Class:Resource), indicates "It is strongly recommended to use a more specific sub-class when available."

This is clear for the subclasses that are defined in the spec but, should we clarify that it is recommended to extend dcat:Resource when no specific sub-class is available?

If changes are made, they also need to be reflect

[2019-07-05 20:32] andrea-perego commented on #976
So, does this imply that, e.g., `application/rdf+xml` should be considered a profile of `application/xml`, etc.?

[2019-07-05 20:50] agreiner commented on #976
I hope not. That would become pretty confusing for conneg. I think the kind of profiles we are talking about need to be about schemas, not media types.

[2019-07-07 20:43] pwin commented on #976
@aisaac  - I'm using this to look at vocabulary that steers us away from the word 'profile' - so 'precondition'  or 'stipulation' are the sorts of words that give the characteristics that distinguish the 'application profile'

[2019-07-07 23:28] rob-metalinkage commented on #976
its not likely we'll find any word that hasnt been used in related contexts.  IMHO we should just accept that each community may have its own narrow notion of profile (and conformance for that matter) but there is a general sense we can use that covers those cases.

[2019-07-08 01:17] rob-metalinkage commented on #978
The text decouple the notion of document from specification - so I dont think it is confusing the thing and representation at all - but you are highlighting the natural tendendency of a reader to do so - and you are right examples are needed. This use case is in response to people saying their "profiles" do more than constrain requirements - so we should unpack one of those examples - it should be

[2019-07-08 17:41] riccardoAlbertoni commented on #944
@rduerr wrote

Thanks, @rduerr for warning us.
any other detail on the kind of environment you are using might be useful.
For instance, are you using ELK standalone or as a plugin of some Ontology editor?

[2019-07-08 17:43] rduerr commented on #944
From within the latest version of desktop Protege

[2019-07-08 17:44] riccardoAlbertoni commented on #944
Opening DCAT with protege5.0 returns the message
"Entity not properly recognized, missing triples in input?"
in correspondence of the unqualified cardinality restriction
[code]
I have made different attempts to fix this, but with very limited success.
Just reporting some of the many attempts I made

***Attempt A***:
Simply Drop the restriction, which produces a ttl which can be opened by Protege w

[2019-07-09 14:24] riccardoAlbertoni opened #983 "do we want to use skos:definition or rdfs:comment in the dcat.ttl?"
Why dct:language, dct:hasPart, dct:relation, dct:type have no skos:definition in the dcat.ttl while dct:PeriodOfTime and others have?
In the DCAT WD,  we provide definitions for every term. Should we add the missing skos:definition in the dcat.ttl?

[2019-07-09 14:33] agbeltran commented on #983
yes, I think it is an oversight and we should add the definitions

[2019-07-09 14:46] aisaac commented on #959
@makxdekkers We should forget the limitation of dct:language in the base DCMI namespace. This is going to be lifted very soon. Then there will remain a *soft* recommendation to use URIs for LinguisticSystems. And examples including ISO 639-2 and 639-5 from Library of Congress, but also BCP46 including subtags. So it will still be rather open to using subtags for scripts and other variants.

I agre

[2019-07-09 15:11] aisaac commented on #976
I guess we have to try and go both your directions, @pwin and @rob-metalinkage . We can't avoid using terms that are ambiguous, but we can combine them with other terms that have different ambiguities, hoping that the intersection will carry some meaninful semantics.
Anyway this was not the intention for this issue. I was just tasked to present two things that are not profiles!

I think that re it

[2019-07-09 15:14] makxdekkers commented on #959
@aisaac I wasn't talking about the limitation of `dct:language`. I was arguing, as I often do, that increasing flexibility for data providers comes at a price of requiring data consumers to implement the logic to handle the additional flexibility.

[2019-07-09 15:19] aisaac commented on #959
@makxdekkers I think I understand this point. I could point to the fact that some data consumers could be happy to invest in more logic, if they can get more value. But I won't do it too much. My main point here was really to make  100% clear to someone else than us that the constrain wouldn't come from the dct:language property itself, as the thread got a bit convoluted and may have hinted that i

[2019-07-09 15:36] aisaac commented on #978
@rob-metalinkage I think I agree with this use case, even though I am a bit puzzled by the fact that it quickly dives into self-reflection (i.e. "This needs explicit recognition for several reasons"). Maybe this could be mitigated by providing with example of documents that accomplish several specification roles?

Other suggestions:
- "role of documents w.r.t. specification" and "role w.r.t. speci

[2019-07-09 15:41] riccardoAlbertoni commented on #983
For some terms, we provide definitions using the property skos:definition,  for others, we use rdfs:comment?
I think we should choose one of the two and harmonize the dcat.ttl accordingly. Which one do we prefer?

[2019-07-09 15:51] smrgeoinfo commented on #959
can dct:language be multiple-valued?  Then the spec could recommend ('should') use of  LoC 639-1 and 639-2 URIs, but allow ('May') additional dct:language elements with values from other more granular schemes like BCP46.  This would make client logic simpler I think.

[2019-07-09 15:55] agbeltran opened #984 "Indicate DCAT version in the `skos:changeNote`s"
For the change notes where we say things like:

```skos:changeNote "Property added in this context in this revision of DCAT"@en ;```

I think it would be better to say

```skos:changeNote "Property added in this context in DCAT 2.0"@en ;```

now that we know the version number.

This will make these notes future proof, in case there are new DCAT versions in the future.

I would also change in same

[2019-07-09 16:11] riccardoAlbertoni commented on #984
@agbeltran

I agree I think it is important to change it!

[2019-07-09 16:22] kcoyle commented on #963
Copying email comments to github (my bad)

Karen said:

as a title on a document?

have a web-based identifier (URI/IRI). When a profile is a document
(e.g. PDF) then I would say that it SHOULD have an identifier, but if it
doesn't it does not cease to be a profile.

Antoine replied:

[2019-07-09 16:25] kcoyle commented on #963
@aisaac I would be fine with giving ourselves slack on names if it weren't that the primary statement that is made in the definition is "A named set ...." That's pretty definitive. If the definition read "A set ..." and in the document we talked about optional and preferred naming, I would feel better about it. But the definition opens with "named" in a way that would make later "slack" very hard

[2019-07-09 18:22] kcoyle commented on #978
First, I am trying to work out the relationship described here between specifications and documents. It seems to me that some documents ARE specifications, and some specifications ARE documents. Are we in agreement on that? If not, what is the relationship that people see?

I'm much less clear on how one can separate out some part of a "document" and call it a "specification" and give it a separat

[2019-07-09 18:44] smrgeoinfo commented on #978
I think the idea is that the specification is a 'Work'-- a collection of requirements, conformance classes, and tests (a conceptual thing); the document is an expression of the specification.

Have a look at http://docs.opengeospatial.org/is/16-008/16-008.html. Section 8.2-8.9 and section 9 lay out requirements, Annex A defines conformance classes. Each conformance class asserts that some set of r

[2019-07-09 19:09] pwin commented on #978
@rob-metalinkage  I come across this sort of compound document quite often, such as [STATS21](https://www.transport.gov.scot/media/13222/stats21_scottish_2011_.pdf)  where there is mixed contents and different audiences:  this doc has procedural,  interface and data schema and constraint aspects.  The different levels of interoperability (Legal; Procedural; Semantic) are all there.  Being able to

[2019-07-09 19:50] kcoyle commented on #978
@smrgeoinfo @pwin Given the great variability of the kinds of documents that "specify" is there a way to achieve greater clarity regarding specifications v. documents? If one is to identify the specifications, how are they defined? What if they aren't in a separate section or appendix from more documentary contents? (DCAT-AP seems to be of this type.) It sounds like we are talking about creating a

[2019-07-09 20:03] pwin commented on #978
@kcoyle  - yes, in that it could be a reference architecture similar to [EIRA](https://joinup.ec.europa.eu/sites/default/files/distribution/access_url/2019-03/76cb237b-0de8-464c-84ca-1327945eac3e/EIRA_v3_0_0_Overview.pdf) and from some time ago the US DoD [data reference architecture](https://web.archive.org/web/20070617034325/http://www.defenselink.mil/cio-nii/docs/DoD_DRM_V04_5aug.pdf)

[2019-07-09 20:13] aisaac commented on #959
@smrgeoinfo yes this could be an interesting option. There is nothing against having multiple values for `dct:language`, if just because a resource could be in several languages.
It may be awkward to have multiple values when they are (slightly) redundant together, though, like a URI and a string that represents the same language with an extra script info. But formally there is nothing against it.

[2019-07-09 20:16] aisaac commented on #963
@kcoyle well my request for slack is for sorting out the detail later. I am fairly sure there is a need for a name, even though the type of name may be flexible (and I include "having a URI" among the options for "being named"). Otherwise how would you refer to the profile? I mean, having an anonymous profile sounds a bit pointless. All cases we have for profiles are somehow named.

[2019-07-09 20:26] smrgeoinfo commented on #978
@kcoyle OGC has a specification for specifications like you suggest (http://xml.coverpages.org/OGC-08-131r2-SpecificationModelModularSpecifications.pdf).  That degree of formalization was motivated by the desire to have specs that can be used to build interoperable automated systems, and is not warranted for specifications that are not so constrained.

[2019-07-09 20:40] smrgeoinfo commented on #959
following "Recommendation 7. Encoding schemes should be implemented using a 'scheme' attribute of the XML element for the property. The encoding scheme name should be given as the attribute value. For example:" in http://www.dublincore.org/specifications/dublin-core/dc-xml-guidelines/2002-04-14/, (has that been superseded?), one could go as far as something like
<dct:language scheme = 'ISO639-2'>

[2019-07-09 21:12] aisaac commented on #978
@rob-metalinkage at the call today there is a scoping question: does your use case apply to the "generalized" notion of DCAT#1/CONNEG "data profile" or the "specific" one of DCAT#2/APs (in https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0106.html)?

And now trying to not use my artificial labels... I feel that the UC is agnostic on whether the specification is based on another specific

[2019-07-09 21:16] kcoyle commented on #978
As per discussion on June 9, questions came up as per:

1. Can we get an idea of how this relates to Conneg and DCAT, which are our main goals? The labels only refer to the profiles projects
1. Can we find a better word for "roles" which is vague and doesn't fit well with IT functions
1. Does this refer to all types of existing specifications and profiles? If not, is its intention to be prescripti

[2019-07-10 00:12] rob-metalinkage commented on #963
It feels like we are at last getting to grips with this beast :-).

It seems the concept of specification is made more complex by the sense its something to conform to, and the use of it for documents that do more than specify things, or may contain multiple such specifications.

Simon was on the money when he explicitly modelled "conformanceClass" as the specifying component of a specification do

[2019-07-10 00:25] rob-metalinkage commented on #978
1. ok - could label this DCAT and CONNEG - but it wont actually affect them - this is making sure in DCAT context usage of conformsTo is useful, and addresses the issue for CONNEG that a profile is any specification that can be conformed to (and named so it can be asked for!)  We could break those senses with a bad definition, but we dont need to change those deliverables if we get it right

2. wh

[2019-07-10 07:37] aisaac commented on #963
@rob-metalinkage just checking: is this comment really for this issue? As it mentions "documents", "specifications", "conformance classes" and "documents that contain multiple specifications", that makes me think of #978

[2019-07-10 07:41] aisaac commented on #978
@rob-metalinkage thanks your point 1 exactly answers my question (and I bvelieve @kcoyle's , sorry we wrote our stuff at the same time). So the UC is about what I've called DCAT#1/CONNEG (and because this subsumes that, also about DCAT#2/APs)

[2019-07-10 08:28] rob-metalinkage commented on #963
I should have put the link to #978 into this issue - that UC is input into solving this issue - trying to untangle the conflated notions we have identified...

[2019-07-10 08:31] rob-metalinkage commented on #978
And i vbeleive there seems to be plenty of people understanding the nature of the problem and providing examples - in fact the first example to prompt this was the vaguely referenced cases of DC application profiles doing more than just constraining - so those folk who raised it are in a better position to provide the definitive example for that. (the OGC is a special case beacuse they have explic

[2019-07-10 09:01] aisaac commented on #963
@rob-metalinkage it is still not too late: you could move your comment to #978 and replace it by a link?

[2019-07-10 09:16] riccardoAlbertoni commented on #984
This seems related to #923

[2019-07-10 09:45] rob-metalinkage commented on #963
no the comment belongs here - its all about the definition - which relates to what the thing is (i hope)

[2019-07-10 09:53] tombaker commented on #963
## UPDATED PROPOSAL

* Update 2019-07-10: added "combines" as per @pwin, "provides guidance" as per @aisaac

Taking into account the discussion above, here is an updated proposal for a definition of "profile" to use both in DCAT and CONNEG:

    data profile

        A data specification that constrains, extends,
        combines, or provides guidance or explanation
        about the usage of othe

[2019-07-10 09:58] riccardoAlbertoni commented on #983
I suspect that rdfs:comment(s) were used in the previous version of dcat and we have mostly inherited their usage, while skos:definition(s) have been added for terms defined dcat2.

AFAIK, skos:definition is not a sub-property of rdfs:comment, so If we want to be back compatible with the systems that already exploit rdf:comments in their GUI, I see the following possibilities:
A- turning all the s

[2019-07-10 10:34] RubenVerborgh commented on #963
I was alerted to this discussion by [@tombaker's mail](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jul/0205.html) kindly forwarded by Peter. I was surprised to see that the profile definition is indeed still a concern. I had already voiced a strong opinion against the definition of "named set of constraints on one or more identified base specifications", which non-related concepts like

[2019-07-10 10:35] aisaac commented on #963
@tombaker I would really push for *replacing*  "annotates other specification"  by "provides guidance or explanation about usage of other specifications". The addition is not very long and "annotates" can be really confusing.

[2019-07-10 10:41] aisaac commented on #963
@RubenVerborgh the problem you see with the recursive definition is one of naming. We agree that we need two things, one for specs based on other specs and one for specs that could be self-standing (https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jun/0106.html). I was rather in favour of naming "data profiles" the latter, which I believe matches your "I don't think the essence of a profile

[2019-07-10 10:43] RubenVerborgh commented on #963
Thanks, @aisaac. I don't mind that strongly; I am only involved with the IETF part, and as long as we have compatibility (IETF will be more generic), then all is good.

[2019-07-10 10:49] aisaac commented on #963
@rob-metalinkage I think I'm still a bit reluctant including [your comment](https://github.com/w3c/dxwg/issues/963#issuecomment-509856042) in the base definition. It's relevant, but for me it's the next step. I.e. we first agree on something short and then we expand on the details of how profiles can exist, what their components (documents) are and how they work together. What I have in mind is th

[2019-07-10 10:58] pwin commented on #963
I want to include into @tombaker  proposal the word "combines" as first mentioned by @andrea-perego in [https://github.com/w3c/dxwg/issues/963#issuecomment-508577664](https://github.com/w3c/dxwg/issues/963#issuecomment-508577664) as many APs such as CPSV-AP etc are just that.  they don't constrain, extend, etc.  They just aggregate a few building blocks defined elsewhere.

[2019-07-10 11:03] tombaker commented on #963
@pwin Since I was the only one who had yet updated my proposal (above), I have added "combines".
@aisaac Fine with me to replace "annotate" with something more explicit.

I have amended the proposal.

[2019-07-10 11:31] pwin commented on #963
https://www.w3.org/2002/09/wbs/99375/profile-def/

Please can colleague vote on this

[2019-07-10 11:52] andrea-perego commented on #963
@pwin , I confess it is not clear to me which is (are) the definition(s) we are voting on.

Can we have it/them explicitly included here in a specific comment?

[2019-07-10 11:57] pwin commented on #963
@andrea-perego
The definition is in 2 parts, but is a single definition;

    A data specification that constrains, extends,
    combines, or provides guidance or explanation
    about the usage of other data specifications.

    A specification, with human- and/or
    machine-processable representations, that defines
    the content and structure of data used in a given
    context.

The vote is

[2019-07-10 13:29] riccardoAlbertoni commented on #934
I propose to uniform the dcat.ttl to the current DCAT WD, which says

as for the  @jakubklimek's comment, we might need to drop "(an IRI)"

[2019-07-10 15:27] riccardoAlbertoni opened #987 "usage note and definition for odrl:hasPolicy need to be updated in TTL"
[related to issue #949]
usage note and definition for odrl:hasPolicy have been changed in the DCAT WD, but they still need to be updated in DCAT TTL

[2019-07-10 15:52] riccardoAlbertoni commented on #980
Should we force the user to extend dcat:Resource whenever the type of resource considered in not represented explicitly as a class?
I wonder if there is any case in which a cataloger does not want to define explicitly the subclass, and use Resource as a generic resource...

[2019-07-10 15:57] agbeltran commented on #980
I don't think we should *force* the user, but I was suggesting *recommending* to extend dcat:Resource. I would imagine that it is always useful to know what kind of entity you are cataloguing.

When we said  "It is strongly recommended to use a more specific sub-class when available.", the point is that the only available subclasses are `dcat:Dataset` and `dcat:DataService`, so I think we should a

[2019-07-10 16:32] smrgeoinfo commented on #934
maybe

[2019-07-10 16:37] riccardoAlbertoni commented on #980
what about the following sentence?

[2019-07-10 17:07] smrgeoinfo commented on #980
Since dcat:Resource has a dct:Type property, it might be better for interoperability if the recommendation is to use dcat:Resource for other resource types if no additional properties are required to describe them, and define new sub classes if additional properties are required.  Soft typing vs. hard typing....

[2019-07-10 17:51] kcoyle commented on #963
I have to say that I really like the essence of this clear, simple definition from the IETF document:

I'm a bit unclear on the "of a group of documents", but I like the "structural and/or semantic".

Also, I'd be happy to shorten the statement "or provides guidance or explanation about the usage of" in Tom's proposal because the "or"s there saddle us with some language ambiguity: "(or provides gu

[2019-07-10 18:11] RubenVerborgh commented on #963
Yes… the intent was "certain documents". Will change that.

This was specifically meant to contrast with media types, which additionally provide syntactic constraints.

[2019-07-10 18:37] tombaker commented on #963
@RubenVerborgh I kinda like the IETF definition too, but I'm also unclear on "of a group of documents" because the wording seems to support two quite different interpretations:
* constraints are somehow contained in a group of documents
* there are some constraints that apply to a group of documents.

In any case, the term "document" is both very broad and very specific. It is specific because it

[2019-07-10 18:38] RubenVerborgh commented on #963
The IETF definition is now:

-----

It actually means "representation" to me, in the REST sense of the word, but I thought that would be too specific.

That was intended as "certain documents that conform to the specification"; clarified now.

[2019-07-10 18:50] smrgeoinfo commented on #963
My reading of that IETF definition is that it defines 'profile' to only apply to profiles of MIME types-- certainly a narrower scope that our discussions here.
On close parsing: _a profile is a DESCRIPTION of constraints {on documents that have MIME types}._  Use of 'CAN' is not standard specification language; my reading would interpret CAN to denote 'possible', not permitted (MAY), recommended (

[2019-07-10 20:18] #939 closed, assigned to nobody

[2019-07-10 20:19] #937 closed, assigned to nobody

[2019-07-10 20:20] #920 closed, assigned to nobody

[2019-07-10 20:22] RubenVerborgh commented on #963
That's not what it says though.

Actually, yes. It is possible that documents conform to a profile. If we change the _can_ into a MAY, then the constraints seemingly becomes optional. Let me see if I can further refine.

[2019-07-10 20:23] agbeltran commented on #935
I agree that 'file' definitely makes sense, but given that the domain of the properties is `dcat:Distribution` I wonder if we are not causing confusion by only saying file. I note that the specification uses 'file' in both cases too.

However, we have a whole section of examples of compressed and packaged distributions: https://w3c.github.io/dxwg/dcat/#examples-compressed-and-packaged-distribution

[2019-07-10 21:05] agbeltran commented on #935
We discussed this today and there was agreement on using 'distribution' for consistency - https://www.w3.org/2019/07/10-dxwgdcat-minutes.html

[2019-07-10 21:07] agbeltran commented on #935
BTW, the changes should be made in both spec and ttl file. We also discussed on the option of adding a `skos:usageNote` where we clarify that in many cases the distribution will be a file.

[2019-07-10 23:31] dr-shorthair commented on #944
@cmungall have you seen this before?

[2019-07-11 03:55] dr-shorthair commented on #983
Indeed:
[code]

`skos:definition` looks like better semantics, but `rdfs:comment` is more widely used.

[2019-07-11 07:35] dr-shorthair commented on #980
Indeed - `rdf:type` gives you the 'hard type' with entailments, while `dct:type` is a classifier without consequences (... soft) ;-)

Soft-typing can be quite useful, perhaps as a first step towards developing a fully axiomatized hard-type, but maybe just as a flag for use in a particular context.

[2019-07-11 09:33] davebrowning commented on #974
Good point - but the resolution of  #970 (with associated PR #988) will recast this, so this issue will be superceded (as per discussion at DCAT sub-group meeting https://www.w3.org/2019/07/10-dxwgdcat-minutes#x05)

[2019-07-11 11:53] davebrowning commented on #968
Addressed in #969 (now merged)

[2019-07-11 13:20] nicholascar commented on #287
For example, a response from a server that conformed to both GeoDCAT-AP and also StatDCAT-AP, given that neither profiles the other and thus no single indication of conformance will suffice for both (they both do profile DCAT-AP, see the [DCAT-AP Hierarchy example in PROF](https://www.w3.org/TR/dx-prof/#eg-hierarchy)) could respond with:
[code]

[2019-07-11 14:18] nicholascar commented on #538
Are perhaps [Well-Known Uniform Resource Identifiers (URIs)](https://tools.ietf.org/html/rfc8615) something worth considering?

[2019-07-11 14:22] nicholascar commented on #511
This issue is dependent on Issue https://github.com/w3c/dxwg/issues/538

[2019-07-11 16:42] riccardoAlbertoni commented on #935
Rereading the usage notes we have for dcat:packageFormat and dcat:compressFormat (see below)  I think this is already quite explicit.

dcat:packageFormat Usage Note:

dcat:compressFormat Usage Note:

[2019-07-11 17:29] agbeltran commented on #935
Agreed - then we don't need to add anything else.

[2019-07-11 20:09] smrgeoinfo commented on #980
You could also set up SWRL rules based on soft types...?

[2019-07-11 23:29] rob-metalinkage commented on #963
I think I can live with this - (its two definitions - but it has proven necessary to state that there is a special case of specification that relates to "data used in a given context" - this seems to match OK with "certain documents" in the IETF version - and propose a useful clarification.

The only problem is that it may still be too hard to see how the (undefined) term "usage" resolves the ambi

[2019-07-12 00:12] pwin opened #989 "refining the definition of profile in response to the poll"
Following the [poll](https://www.w3.org/2002/09/wbs/99375/profile-def/results) there is a counter proposal;

The original presentation was:

A data specification that constrains, extends, combines, or provides guidance or explanation about the usage of other data specifications.

A specification, with human- and/or machine-processable representations, that defines the content and structure of data

[2019-07-12 00:56] rob-metalinkage opened #990 "Provide a pathway for referencing profiles embedded in documents with broader scope."
Many documents that are called "specifications" or "profiles" actually contain a range of information, and profiles may be defined within the same document that defines one or more base specifications. The onus is thus on communities using these documents to unambiguously identify the sections which constitute a specification for which conformance can be declared, or a concept of conformance compa

[2019-07-12 04:39] akuckartz commented on #963
What is meant with "a description of" ?

[2019-07-12 06:18] larsgsvensson commented on #989
Should this be "the given context **of** the profile"?

[2019-07-12 06:46] larsgsvensson opened #992 "Change all occurences of "Dublin Core Terms" to "DCMI Metadata Terms" in Conneg-by-AP"
The classes and properties in `dct` or `dcterms` should be referenced by their proper name "DCMI Metadata Terms". Thanks @tombaker for [alerting us to this](https://lists.w3.org/Archives/Public/public-dxwg-comments/2019May/0001.html).

[2019-07-12 07:56] tombaker commented on #990
@rob-metalinkage

Saying that a "profile" is not a specification; that, rather, the "real" profile is a section (or sections) _embedded_ in a specification, seems like a non-starter.  Putting the onus on communities to "unambiguously identify" sections of a specification, and even assuming that authors of profiles have a notion of conformance that can be so explicitly formulated, is simply unreali

[2019-07-12 07:58] rob-metalinkage commented on #989
fixed

[2019-07-12 08:10] tombaker commented on #989
@pwin I voted this down because it adds to the original proposal a note of prescriptive intent.  The first half of the definition says what profiles _are_, and the second half (starting with "whereby") is actually a good-practice guideline, though I agree that a profile indeed _should_ remain "compliant" with a base specification.

Also, it is unclear to me what the longer definition is saying.  H

[2019-07-12 08:38] pwin commented on #989
Hmmmm, isn't the profile to be the data specification for a specific application?  So isn't the data specification is (a significant part of) the profile?  and that for a specific application the data needs to be compliant with the profile, rather than the other way round?

[2019-07-12 08:49] tombaker commented on #989
@pwin Do you mean the following?

    The data specification to which the profile refers should be compliant
    with the profile.

[2019-07-12 08:53] rob-metalinkage commented on #989
you would need a definition of compliant to make that work - which would state something like a profile P is compliant with a specification S if all objects compliant with the profile P are compliant with the specification S.

understanding what is the "conformanceTarget" is necessary - its "data in a given context" - not profiles themselves.

[2019-07-12 08:57] rob-metalinkage commented on #989
Yes there is a prescriptive intent - it is vital that it is possible to identify what specification data conforms to - and if there is no prescription that data must conform to a specification when it is claimed to do so (e.g. the object of a dct:conformsTo predicate)  then its all just random 1s and 0s in the ether in terms of information content.

[2019-07-12 09:03] rob-metalinkage commented on #989
"given context" could be replaced by "data used in a given context" - its fairly obvious thats the only interpretation -  but only if you read the data specification definition - so agree being more explicit would help there.

 The rationale for the downvote is therefore not relevant as its based on a misunderstanding of this meaning- as per my comment above there is no statement, intent or requir

[2019-07-12 09:20] pwin commented on #989
https://uxdesign.cc/charles-eames-has-the-perfect-definition-of-design-5e47c61a6a6c

Q: “What is your definition of ‘Design,’ Monsieur Eames?
A: “One could describe Design as a plan for arranging elements to accomplish a particular purpose.”

Isn't that the bare bones of 'profile' too?

[2019-07-12 10:38] tombaker commented on #989
@pwin

Indeed, my [original proposal](https://github.com/w3c/dxwg/issues/963#issuecomment-506650168) added:

    A well-designed data profile provides
    information, useful for describing data in a
    given context, without semantically contradicting
    the data specifications on which it is based.

[2019-07-12 13:05] tombaker commented on #989
@rob-metalinkage I wonder if we are actually saying the same thing?

[2019-07-12 18:14] kcoyle commented on #963
@rob-metalinkage

I do not believe that this is an inference that can be made from Tom's definitions. The definition of specification is not about A specification, but specifications in general. The definition of profile is that it IS a specification. There aren't two different things here so there's no "same" to be read into it.

[2019-07-12 22:13] andrea-perego commented on #989
@rob-metalinkage , I voted down for the counter-proposal since, IMO, it is adding unnecessary complexity, and in any case the wording is far from being straightforward or unambiguous. I don't catch exactly what the notion of "context" means here.

I suggest using as definition the original one proposed by @tombaker . Any additional statement with SHOULD / MAY can be included as an explanatory note

[2019-07-12 22:25] andrea-perego commented on #970
@lvdbrink , @smrgeoinfo , this issue was discussed during the last call of the DCAT subgroup, and the decision was to remove w3cgeo properties from DCAT - see https://www.w3.org/2019/07/10-dxwgdcat-minutes#x05

This revision has been implemented via PR https://github.com/w3c/dxwg/pull/988

Thanks a lot for your feedback.

[2019-07-13 01:16] rob-metalinkage commented on #963
Thats not the point at all. Its the "context" that must be consistent with the base specification. Of course context is an undefined term introduced by this definition but i am happy enough with it, except that other people dont seem to understand that its the important part of the functional requirements for profiles.. i dont think "conformance target" is great.. but at least it highlights its an

[2019-07-13 02:40] rob-metalinkage commented on #990
If you have multiple specifications, and other things like recommendations you want to make statements about, then you simply have to identify them. so happy to leave it up to communities to decide how thier "profiles" conform to a clear functional definition - rather then blur the definition to try to catch all cases.

in practical terms the intention is to have a valid object for the usage of th

[2019-07-13 02:55] rob-metalinkage commented on #989
@tombaker - yes we are :-)  - but having lost your original wording I'd like some form of it back !
I do think the wording needs to make it clear that "semantically consistent" applies to the "given context" - i can see how a specification that requires data not to be semantically consistent can be itself characterised as not "semantically consistent" - all i actually care about is that such a cas

[2019-07-13 03:01] rob-metalinkage commented on #989
@andrea-perego The "complexity" is already there - I'm trying to remove the complexity of having to look at the data specification definition to even find out what a profile is about...  thats where "given context" is introduced and is therefore critical part of this definition whether stated or not in the definition of profile.

Find wording that solves that showstopper and I'll be happy.

[2019-07-13 04:30] tombaker commented on #989
@rob-metalinkage My [original wording](https://github.com/w3c/dxwg/issues/963#issuecomment-506650168) said:

    A well-designed data profile provides information useful for describing data in a
    given context without semantically contradicting the data specifications on which it is based.

This goes beyond the scope of a definition (which should be about what something is) into that of a usage

[2019-07-13 16:08] kcoyle commented on #963
@rob-metalinkage My point was that there is no "base specification" in Tom's definition. The relationship between specification and profile is an IS A relationship: a profile is a kind of specification, like a dog is a kind of mammal. There is no "specification" that a profile is a profile of, at least not in that definition. Whether that concept is included in, say, the profiles guidance document

[2019-07-13 16:58] kcoyle commented on #990
Hmm. Not sure why "mandatory" requirements are given special consideration. There are often a lot of non-mandatory aspects to a profile but that still make use of constraints and get validation. It is perhaps an extreme case, but the main library data schema has about 1400 data elements of which one is mandatory. Emphasis on mandatory is not relevant to that set of data.

I agree with Tom that thi

[2019-07-13 17:52] kcoyle commented on #989
@tombaker 's "A well-designed data profile provides information useful for describing data in a
given context without semantically contradicting the data specifications on which it is based." would be a great statement to make in the guidance document. Since this is a definition, not a prescription, I always ask the question: if this isn't true about this instance, does that make it "not a profile

[2019-07-14 05:18] rob-metalinkage commented on #990
what is mandatory is that is you use a term you use it according to its definition - mandatory cardinality is one case of this, but you cannot have dc:author "3"xsd:int to indicate there were 3 authors - therefore there is a specification you can validate against. I can see that "mandatory" is too confusing a general term - we could find something else that means "semantically consistent with and,

[2019-07-14 05:31] rob-metalinkage commented on #989
We dont have any UC for describing "non-profiles" and there is no propose metric for optimality - so profiles either meet the requirements of a profile or they dont. Introducing undefined concepts without evidence they are needs or useful doesnt move us forward.

There are two issues we need to satisfy ourselves on:
1) Does the notion of profile specify anything (and just saying its a type of spec

[2019-07-14 14:20] #954 closed, assigned to nicholascar

[2019-07-14 18:43] kcoyle commented on #989
I don't know what "undefined concepts" are present in that sentence of Tom's.

1) What is a "profiled specification"?
2) "no requirement for conformance" begs the question of "what is conformance?" Again, what exactly does one test for? As an example, DCMI Metadata Terms do not include any rules about cardinality. If one creates a profile and adds cardinality, is that conformant? If there is a pro

[2019-07-14 23:03] rob-metalinkage commented on #989
Quite obviously i have  referenced the undefined concepts "non-profile" and "sub-optimal" you just introduced. Either you have not read the comment carefully or are misdirecting the conversation to avoid addressing the actual issues.

[2019-07-14 23:05] rob-metalinkage commented on #989
Addressing the substantive issue you have re-raised - about the nature of conformance - i will reiterate the answer I suggest, in the absence of any other feedback on this topic: its up to specifications themselves to define what conformance means for those specifications.  Many specifications have explicit conformance tests defined for example.

[2019-07-14 23:08] rob-metalinkage commented on #989
And finally "As if often the case, I wonder which statements refer to profiles and which refer to the instance data that the profile defines. In some of our discussions I feel like we are mixing those two, which may be some of the confusion."

Yes i believe this is the case and I am continually pointing this out. Profiles (as with all data specifications) describe instance data - so profiling rela

[2019-07-15 01:17] #500 closed, assigned to larsgsvensson

[2019-07-15 03:28] nicholascar commented on #963
As per PROF so far:

[code]
So yes, every `prof:Profile` IS A `dct:Standard` but also:

[code]
And it's this that really makes `prof:Profile` something a bit more than just a rewrite of the `dct:Standard` class. Profiles really are a profile of something, even if that profiling is trivial (a Standard being a profile of itself).

Don't forget the expected use of:
[code]
So things can conform to pro

[2019-07-15 05:10] dr-shorthair commented on #963
The global constraint is not enough. It merely says 'if there is a `prof:isProfileOf` relationship then it is from a `prof:Profile` to a `prof:Standard`'. But it does not require that the relation be present in every instance. To achieve that you also need a local constraint on the `prof:Profile` class
[code]

Aside: IS A is ambiguous. I assume you mean 'is a kind of', rather than 'is an instance

[2019-07-15 06:07] larsgsvensson commented on #963
@dr-shorthair scripsit:

Or you create a profile and declare the constraint using SHACL:
[code]

[2019-07-15 06:31] rob-metalinkage commented on #963
We chose not to make this mandatory even though it logically exists, because it may be hard to determine a canonical URI for what something is actually a profile of - and instances should be valid and are useful even if missing this information.

[2019-07-15 14:45] dr-shorthair commented on #963
If you don't have a canonical URI or even artefact, for the dependency, you can always describe it, in a blank-node if necessary:
[code]

If you want to define 'profile' using a formal, RDF-based notation then you should follow it through all the way.

[2019-07-15 14:55] riccardoAlbertoni commented on #983
@akuckartz seems to dislike Solution A,  we might still choose between
B- use both skos:definition and rdfs:comment for all the terms
C- replacing all the rdfs:comment in skos:definition (losing back-compatibility with systems that expect rdfs:comments as in dcat 1.0)
Any preference?

[2019-07-15 14:55] kcoyle commented on #963
https://stackoverflow.com/questions/2218937/has-a-is-a-terminology-in-object-oriented-language
http://java8.in/is-a-relationship-and-has-a-relationship/

IS A and HAS A are fairly commonly used both in O-O and in the preceding
philosophical branch. It refers to typing, and therefore is a class
relationship. I don't know of an equivalent that indicates "instance of"
although now that I think about

[2019-07-15 16:00] kcoyle commented on #989
It seems to me that we have two "levels" of definition.

1. To define what a profile is
2. To define what is the relationship of instance data to the profile.

I think that Tom's definition covers 1. I also think that a profile doesn't itself do or implement anything. There needs to be some intermediary between the data definitions in the profile and the instance data that one hopes will conform t

[2019-07-15 16:26] riccardoAlbertoni commented on #934
Thanks, @smrgeoinfo and @jakubklimek, as a compromise point, I have proposed

 in PR #999
Would this work for you?

[2019-07-15 20:29] makxdekkers commented on #955
Dear Renato,

We have discussed your suggestion to change the specification of DCAT, where you argued that vCard, which is currently only specified as the recommendation for `dcat:contactPoint`, could also be used for properties to identify persons and organisations, i.e. `dct:creator` and `dct:publisher`.
While we appreciate your suggestion and understand that in your opinion this would increase

[2019-07-15 22:14] rob-metalinkage commented on #989
Yes... note the model of profile in the PROF vocabulary which makes this distinction and the point i keep making that conformance is a matter for each community and platform to define and implement. We only need to define the relationship between specifications and data.

[2019-07-16 12:56] larsgsvensson commented on #963
@nicholascar scripsit:

As I see it, yes: Every profile is a kind of standard but not every standard a kind of profile, so the axiom holds:
[code]
And yes, given
[code]
a standard can be a (trivial) profile of itself.
So
[code]
also means that `aSomething` conforms to `:aStandard`.
(aside: This brings up the question if `prof:isProfileOf` should be declared transitive and also if there is a rule `

[2019-07-16 13:06] larsgsvensson commented on #989
@kcoyle scripsit:

Nitpicking here: Didn't we agree on __specifications__ instead of __documents__? From the Conneg point of view, the only important thing is the URI, so technically spoken the profile can be used (per its URI) even if it isn't documented anywhere (which of course is a _very_ bad practice, but nonetheless...)

And yes, the profile is not a validation process. To say that `:a dct:c

[2019-07-16 13:54] larsgsvensson opened #1000 "Add text to clarify that profile URIs don't have to resolve"
Regarding the point, that profile URIs don't necessarily have to resolve, @tombaker noted:

The same thing could happen to a profile URI, but it could continue to serve its purpose for CONNEG, so perhaps it is indeed worth pointing this out.

We should add some text to clarify this.

[2019-07-16 14:34] kcoyle commented on #989
RE: specifications v documents. Specification, as we've defined it, isn't a particular format/mime type. The issue I brought up is that we include those specifications that are not in a program-actionable form, such as Word documents or PDFs.

As for conformance, in Rob's question: "Can you cite any other profile that does not require conformance to a specification it claims to profile?" I agree t

[2019-07-16 17:25] riccardoAlbertoni commented on #989
I voted against the counter-proposal, as I think it is less clear than the original definition.    I  would be in favor to add the tom's note, reported below, as an explanatory note after the original definition in order to convey  @rob-metalinkage's remarks.

given context without semantically contradicting the data specifications on which it is based.

[2019-07-16 18:49] aisaac commented on #989
@riccardoAlbertoni I think this should be material for the Profile Guidance document indeed.

[2019-07-16 19:14] aisaac opened #1002 "Question on IETF definition of Profile"
This is especially for @RubenVerborgh but I'm eager to hear from others.
In https://github.com/w3c/dxwg/issues/963
the new proposed definition for IETF profiles is:

And now as per [this commit](https://github.com/ProfileNegotiation/I-D-Profile-Negotiation/commit/33818075f0544193ecc9af68ea403d1813f2d37a) it is

@smrgeoinfo suggested that

@RubenVerborgh refuted that, and I note that indeed the las

[2019-07-16 19:22] aisaac commented on #963
@nicholascar yes I believe that all these long discussions don't change what we've tried to specify for some months already. Also the profiles use cases and the profile guidance draft won't be impacted that much I believe.

I'm not a big fan of profiles being profiles of themselves, but as I see it in the formal definitions floated around this is merely a possibility not a duty so I can live with

[2019-07-16 19:32] aisaac commented on #990
@rob-metalinkage do you have examples about such cases?
As much as I'm ready to accept the case for #978 I have doubts about the requirement here, which is a bit the converse case. This issue here is about documents possibly specifying several profiles at the same time? I can accept that this may exist, but I would immediately flag this as sub-optimal practice as part of our guidance/recommendatio

[2019-07-16 20:48] agbeltran commented on #980
Then, what about

```It is strongly recommended to use a more specific sub-class when available. If cataloging other resources different from dcat:Dataset or dcat:DataService, it is recommended to rely on the dcat:Resource or extend it, while including the dct:type to indicate the specific type/genre```.

?

ping @riccardoAlbertoni @dr-shorthair @smrgeoinfo

[2019-07-16 21:06] dr-shorthair commented on #980
[code]

[2019-07-16 21:30] riccardoAlbertoni commented on #980
I agree that we should let the users decide between soft- and hard- typing or even both.
IMO the following @dr-shorthair's proposal is a more direct formulation than the previous

[2019-07-16 23:53] dr-shorthair commented on #975
@smrgeoinfo Could the stylesheet `CodelistDictionary-v32.xsl` be modified to show the `gml:id` values so that the URIs of the individual entries are visible?

[2019-07-17 07:16] RubenVerborgh commented on #976
If you interpret a JSON-LD document as an RDF graph, than no, its semantics do not change.

If, however, you interpret the JSON-LD document as a JSON document (which is a primary reason for JSON-LD profiles and framing), then yes, semantics do change from the JSON perspective. A JSON key that didn't exist in one JSON-LD profile, can have meaning in another.

Hence, I find the exclusion of JSON-LD

[2019-07-17 08:07] rob-metalinkage commented on #976
the premise of this is wrong - mime type profiles are a subclass of the more general notion of profile we need.  some profiles constrain syntax, some semantics - the only requirement is they fit into whatever notion of conformance a community may be using. I'm happy to consider a MIME type profile within the context of syntactical conformance, and a profile providing a set of suggestions about how

[2019-07-17 13:22] larsgsvensson commented on #963
@aisaac scripsit:

Yes, I think they are.

[2019-07-17 16:31] riccardoAlbertoni commented on #944
Following the discussion on PR 1003, I have made a further attempt:
Attempt D: Deleting all the multiline literals between """,  but It does not resolve the issue.

[2019-07-17 17:05] dr-shorthair commented on #944
The SWEET team have just uncovered a bug in OWLAPI which is currently preventing SWEET loading in Protege. It appears that there are issues with the latest OWLAPI - so it might not be a DCAT problem at all.
https://github.com/ESIPFed/sweet/blob/master/CONTRIBUTING.md#avoiding-presence-of-httporgsemanticwebowlapierrorerrorn-in-contributions-when-editing-using-protege

[2019-07-17 18:23] cmungall commented on #944
Is there a ticket on the owlapi issue tracker?

[2019-07-17 18:24] cmungall commented on #944
I just tried parsing https://raw.githubusercontent.com/w3c/dxwg/gh-pages/dcat/rdf/dcat.ttl

Missing semicolon on line 797 - is this hand-authored?

[code]

[2019-07-17 18:29] cmungall commented on #944
I think you need to declare primaryTopic to be an OP

This works as expected:

[code]

however, omitting the declaration causes the parse error.

I believe this is consistent with the specs:

https://www.w3.org/TR/owl2-mapping-to-rdf/

Sometimes the owlapi will infer these declarations but this isn't guaranteed. Missing OP declarations is a common source of errors, especially when trying to repurp

[2019-07-17 18:53] dr-shorthair commented on #944
Thanks @cmungall
I had a sneaking suspicion that FOAF could be causing the issue.
Good intel - I hope I remember it in future!

I think I've fixed it (and the missing ;) in https://github.com/w3c/dxwg/tree/dcat-issue-944

[2019-07-17 20:21] agbeltran commented on #983
I would select solution B - so that we are backward compatible and we also provide the more specific skos:definition. We should probably try to automate the copy, considering one of those as the master one - otherwise we might start having inconsistencies.

[2019-07-18 11:05] #966 closed, assigned to nobody

[2019-07-18 11:06] #967 closed, assigned to nobody

[2019-07-18 11:07] #968 closed, assigned to nobody

[2019-07-18 11:09] #934 closed, assigned to nobody

[2019-07-18 11:10] #935 closed, assigned to nobody

[2019-07-18 11:11] #949 closed, assigned to nobody

[2019-07-18 11:13] #970 closed, assigned to nobody

[2019-07-18 11:14] #974 closed, assigned to nobody

[2019-07-18 16:02] dr-shorthair commented on #975
My stylesheet suggestion is for ISO to deal with. It does potentially provide visibility for normative URIs for the ISO codes, but still in XML and not 'real' linked data :-) But we should not delay merging #1001 because it could be a looong wait, from my previous experience.

(A few more tweaks to the PR as well.)

[2019-07-18 16:15] dr-shorthair commented on #531
Ultimately it is the prerogative of the provider or cataloguer or indexer to make a judgement about how to factor the descriptions between Datasets and Distributions. Different applications and different communities will have different needs and different practices and I do not think we can provide universal guidelines. The big NOTE in https://www.w3.org/TR/vocab-dcat-2/#Class:Distribution partial

[2019-07-18 17:11] wood-chris opened #1009 "Range of dct:type"
In DCAT v2, the property`dct:type` in the class of `dcat:Resource` has range of `rdfs:Class`, with a usage note of:

DCMI Type vocabulary [DCTERMS]
[...]

I've got 2 questions about this

1. I see that all classes listed in DCMI Type are of type `rdfs:Class`, as I'd expect, but I don't see how any of the 12 classes given can be used to describe the _nature or genre_ of a dataset in a way that the

[2019-07-18 18:10] dr-shorthair commented on #1009
1. the intention of `dct:type` and `dcat:theme` are different. 'theme' is a keyword _from a controlled vocabulary_ - i.e. from a well-governed set of terms, and not just free text - and would usually relate to the **content** of the dataset. OTOH 'type' is usually more related to the **form** or **structure** of the dataset.
Note, both of these properties were present in DCAT-2014 and there has be

[2019-07-18 18:31] makxdekkers commented on #1009
@wood-chris As I see it, the dct:type of a described resource is what it *is* while `dcat:theme` (or `dct:subject` of which it is a subproperty) is what it *is about*. E.g. a book about cats has `dct:type`=Book and `dcat:theme`=Cats -- in which both Book and Cats would be represented by URIs.
The list of 12 types in DCMI Type is just a very general list that was thought to be useful across domains

[2019-07-18 19:14] agreiner commented on #976
If JSON-LD profiles are included in the conneg definition of profiles, then how do users decide which mechanism to use in order to negotiate for a (document that has a) specific JSON-LD profile?

[2019-07-18 19:16] RubenVerborgh commented on #976
They can use both mechanisms; if the server supports profile-based conneg, that takes precedence.

[2019-07-18 19:20] agreiner commented on #976
Isn't that a bit messy from the point of view of the person (or script) making the request? From a practical point of view, one would have to try both mechanisms before concluding something was not available.

[2019-07-18 19:22] RubenVerborgh commented on #976
…simultaneously though. It's the same HTTP request.

So in `Accept` you list `application/ld+json;profile=x,application/ld+json;profile=y`, and in `Accept-Profile`, you list `x,y,a,b,c` (both with `q` values if desired).

[2019-07-18 19:27] kcoyle commented on #1009
Unfortunately I think it is even more complex, although it may be a complexity that isn't significant for all communities.

1. dct:Type vocabulary describes a created work expression form: text, sound recording, moving image.
1. dct:format describes the physical or digital carrier for the expression.
1. "genre" (in metadata that I am familiar with) speaks to a category or role of the content, such

[2019-07-18 21:54] wood-chris commented on #1009
I hadn't understood what DCMI Terms was (and I'm not sure I really still do, or maybe the organic evolution makes more sense if you've seen the evolution!), but the example given by @makxdekkers has helped. I had always assumed that _genre_ was used to describe data, rather than its format. (In music, genre would be how we define the music, rather than its format, such as saying it is a CD).

@kco

[2019-07-18 23:33] rob-metalinkage commented on #976
+1 @RubenVerborgh - as you pointed out elsewhere its the nature of limited mechanisms that they can get  re-covered by more general ones.  Clients can just use the profile negotiation mechanism if they have it - if an information profile implies a MIME type profile as well then its perfectly legal just to ask for the generic MIME type and receive  the matching specific MIME type profile.  (i.e. yo

[2019-07-19 06:19] smrgeoinfo commented on #975
I'll  put an issue in the ISO XML github on the gml:id

[2019-07-19 09:05] jakubklimek commented on #725
During the translation to Czech, I came across the annotations of external vocabularies and there is an issue with this approach. We SHOULD NOT annotate external properties and classes (such as DCTERMS) with DCAT specific texts, as those statements then apply to ALL instances of those properties, regardless of DCAT.

Example: I have an endpoint where I use `dcterms:issued` for the date a book was

[2019-07-19 10:13] makxdekkers commented on #1009
@wood-chris Apparently, my post wasn't really helpful because your conclusion was completely contrary to what I tried to argue. "CD" would not be a `dct:type` but would be a `dct:format`. The example of a type "Book" that I mentioned, is not a format; its format would be "Hardcover" or "paperback" or "ePub".
The property `dct:type` refers to the _kind of thing_ the resource is. As far as I can see

[2019-07-19 13:54] wood-chris commented on #1009
@makxdekkers - sorry, I think I mixed terms up; your original answer did help more than I think you thought it did.

Cambridge Dictionaries define genre as:

What genre does the book fall into - comedy or tragedy?

I think my confusion was that `dct:type` is defined as _The nature or genre of the resource._ - but without realising just _how_ wide the spectrum it covers was. I probably know even le

[2019-07-19 14:10] kcoyle commented on #725
Perhaps what this also shows is that "definition" is the wrong property for that information. Each usage community will have its own business rules for a property; maybe we need a property that specifically indicates the local definition and the local business rules, separate from the definition at the origin. In the case of DCMI Terms, there are comments that give recommendations for usage that a

[2019-07-19 14:26] dr-shorthair commented on #725
@jakubklimek I disagree. Following the RDF OWA 'anyone can say anything about anything' these annotations apply to these elements _in this context_. The annotations are in a file (graph) called 'dcat.ttl' so the context is clear. You should only load this graph when you want the DCAT context. You say that you have multiple applications accessing 'the same endpoint' so you are trying to switch cont

[2019-07-20 06:37] jakubklimek commented on #725
@kcoyle I agree, it is important to agree that we want to say "this is how this property is used in DCAT", not "this property means something DCAT-specific universally". There is a huge difference. And I don't think SHACL nor ShEx will help us here - they work on top of existing data, i.e. when the damage is already done.

@dr-shorthair And I disagree with your argument in multiple points.

1. `an

[2019-07-20 15:47] makxdekkers commented on #725
@jakubklimek @dr-shorthair I can see good points in both your opinions. I agree with @dr-shorthair that people who load dcat.ttl are obviously interested in that particular context, but I agree with @jakubklimek that it is dangerous to make any 'local' assertions about other peoples' classes and properties for the reasons he outlines. I myself made the error once to make an assertion (really a cut

[2019-07-20 18:49] jakubklimek commented on #725
I would either remove the non-DCAT terms or I would investigate the option of using the [Web Annotation Vocabulary](https://www.w3.org/TR/annotation-vocab/) for that, if possible (I am not sure, I have not used it yet).

[2019-07-20 21:50] smrgeoinfo commented on #725
The problematic scope note on dct:issued is for its use as a property on dcat:CatalogRecord, (see the text, [section 6.5.3](https://w3c.github.io/dxwg/dcat/#Property:record_listing_date)). Because in the ttl file, the property context is not noted, the scope note should be revised:

 skos:scopeNote "When used as a property of dcat:CatalogRecord, this property indicates the date of listing the data

[2019-07-21 01:44] dr-shorthair commented on #725
I disagree strongly. It is completely legitimate to add annotations to any class or property from any namespace, to indicate expectations _in a particular context_. The context here is DCAT. That is clear from the fact that this annotation appears in the RDF representation of DCAT, as packaged in an artefact called dcat.ttl and distributed by W3C. What is done with that information in a particular

[2019-07-21 23:09] kcoyle commented on #725
If you can't add annotations for your context that greatly limits the concept of application profiles. If dct:title is "The name given to the resource" and if your context is that the resource is a dataset, then you will want to convey to users of your metadata specifically that this is the name given to the dataset, as "resource" may not express that well. DCMI Terms give this information in an r

[2019-07-22 03:55] dr-shorthair commented on #725
@jakubklimek you have a good point here. There are a small number of cases where the usage guideline is different depending on context, even within DCAT.

Yes, the [web-annotation vocabulary](https://www.w3.org/TR/annotation-vocab/) might provide a platform - I've just skimmed it and can see the general intention. It might be interesting to develop some patterns relating to our use case here - per

[2019-07-22 07:37] jakubklimek commented on #725
@dr-shorthair On a philosophical level, I agree that it is legitimate. Semantically, the way it is done now seems wrong to me, because there is no machine-readable way of determining that the context is DCAT. The fact that the triples reside in a particular file is lost the moment the data is loaded into a triplestore and I do not think that leaving this to application developers is a good idea. B

[2019-07-22 09:57] makxdekkers commented on #725
@jakubklimek I do not see how using OA solves the context issue? The Turtle snippet  in your comment appears to be about `dct:issued` in general, not just about the DCAT context. The fact that the annotation is attributed to the DCAT WG might be a helpful piece of information, but nowhere is it stated (machine-understandably) that the annotation only applies to DCAT. Or am I missing something?

[2019-07-22 10:21] jakubklimek commented on #725
@makxdekkers This is true. It just explicitly attributes the annotation to the DCAT WG, which is, nevertheless, better than human-readably saying that everything in dcat.ttl is in the context of DCAT, in my opinion. I was just trying to suggest a bit more acceptable alternative to the direct annotation of `dcterms:issued` with no contextual info.

If we were to focus on the machine-readable expres

[2019-07-22 11:21] makxdekkers commented on #725
Maybe a solution lies between 1 and 2?
In cases where the usage note in the DCAT-context doesn't really have a lot of additional value -- as in the replacement of 'resource' by 'distribution' -- I would opt for 1: keep the information in the human-readable part of the specification, and delete it from the TTL file.
In cases, where the usage note really makes a difference, in the sense that people

[2019-07-22 14:28] smrgeoinfo commented on #725
I don't think OA solves the problem, there doesn't seem to be any way to indicate that the annotation is about the annotation target in some context, e.g.
issued as a property of CatalogRecord
vs.
issued as a property of Distribution

and that is what would be needed for a machine  readable representation.

[2019-07-22 23:53] dr-shorthair commented on #725
@jakubklimek That's the application-builder's choice. For example, they could load the data from dcat.ttl into a named-graph in a quad-store, which would differentiate it from all the other data in the store.

I agree with you and @makxdekkers that, if the semantics are really being constrained, then strictly there is a sub-property involved. But I think we all see the interoperability risks of ma

[2019-07-23 05:43] jakubklimek commented on #725
OK, to sum up, the proposed solution now is to:

1. change all properties attaching texts to properties and classes of external vocabularies to `skos:scopeNote` or `skos:usageNote` (i.e. no `skos:definition`)
2. Start all such texts with "In the context of DCAT 2.0 class <x>, ..." so that the context is humanly understandable

correct?

[2019-07-23 09:14] davebrowning commented on #958
Language tags added in #1007

[2019-07-23 09:25] larsgsvensson commented on #287
Would it be better to use this URI to identify StatDCAT?
<https://joinup.ec.europa.eu/release/statdcat-ap/101>

[2019-07-23 12:35] riccardoAlbertoni commented on #725
I am preparing a PR implementing this solution.

[2019-07-23 21:24] agreiner commented on #976
" if you know the resource conforms to the conneg-by-ap behavioural specification". There's the rub, eh? By enshrining the non-orthogonal treatment in the new spec, we make that question a perpetual one that people will have to deal with. Since there hasn't been an official spec before this, I'm surprised that we are addressing any kind of legacy behavior. Are there a lot of examples of people bui

[2019-07-24 03:32] #992 closed, assigned to nobody

[2019-07-24 09:05] davebrowning commented on #1009
Can I assume that this issue can be closed - its been a useful discussion but needs no change to the DCAT draft?

[2019-07-24 11:06] davebrowning commented on #923
Looks like this should close with #984 (which is 'due for closing')

[2019-07-24 12:48] davebrowning commented on #960
I read this as meaning we don't need to change the Rec -but would be good to provide that clarity to the provider of the feedback, @andrea-perego ?

[2019-07-24 13:45] davebrowning commented on #959
Thanks for the useful input, and interesting discussions.

The DCAT editing group have discussed this issue at some length and our consensus view is that now is not the best time to change the DCAT position (as in DCAT 2014) ahead of DCMI softening its stance on ranges.  We’d hope that this could be re-visited as part of a future revision that could take account of any such changes, and at that po

[2019-07-24 16:13] riccardoAlbertoni commented on #983
dct:hasPart, dct:language, dct:relation and dct:type are duplicated in the DCAT ttl.
We were adding definitions to duplications of dct:hasPart, dct:language, dct:relation and dct:type. Definitions for the aforementioned properties are already included so I deleted my PR #998

[2019-07-24 16:22] riccardoAlbertoni commented on #983
The part of the discussion related to using both skos:definition and rdfs:comment is still relevant and to be implemented. According to issue #725, we use skos:scopeNote instead of skos:definition for definitions introduced in dcat for the external terms.

[2019-07-24 20:30] dr-shorthair opened #1013 "Editorial nits"
Correct text at the top of section 5 from 'eight' to 'six' main classes, and add link to figure 1;

Also: delete most commented sections (but not the ones that are links to the backlog)

[2019-07-24 20:41] dr-shorthair commented on #972
Indeed we are being caught up with loose semantics inherited from FOAF ...
This property was introduced in DCAT-2014 so there is a backwards-compatibility concern.

The intention is for this property to hold a URL which links to a web-page, which is a kind of document. Perhaps we just need to tighten up the usage notes to clarify this?

[2019-07-24 21:54] smrgeoinfo commented on #972
@dr-shorthair Do you think the suggested language in the original issue text (above) will work?

[2019-07-25 00:56] dr-shorthair commented on #972
The text for `dcat:Distribution/dcat:downloadURL` and `dcat:DataService/dcat:endpointURL` are OK, but I don't think you got it quite right for `dcat:Distribution/dcat:accessURL` which needs to fit together with the explanation of `dcat:Resource/dcat:landingPage`.

not just humans

'only' is definitely not the case here. And typicaly the accessURL will be an endpoint, not a landing page - as clearl

[2019-07-25 03:43] smrgeoinfo commented on #960
Perhaps the examples from the e-mail could be incorporated into the text to show some valid approaches to endpoint description?

[2019-07-25 11:28] davebrowning commented on #960
That's a good idea - or it could be in a primer (if we can resource writing one...).  We may be a bit short of effort/time to get this done for this version though - we'll keep it under review.

[2019-07-25 12:49] rob-metalinkage opened #1017 "Clarify need for unambiguous profile URIs when compound specifications referenced."
in response to question from @tombaker

"if.. sections of those documents were not clearly defined, any DCAT profile (or indeed most profiles that currently exist in the wild) would not be suitable for content negotiation as per CONNEG?"

need to clarify in the document that if you can't identify what a profile means you cant make any statements about it, such as referencing it in a conneg request

[2019-07-25 21:24] kcoyle commented on #1017
@rob-metalinkage Can you link to the source context for this? And hopefully it includes the question that was asked. Thanks.

[2019-07-25 23:38] rob-metalinkage commented on #1017
https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jul/0004.html

included question and updated original comment to make it more readable.

[2019-07-26 14:43] kcoyle commented on #1017
I like the idea of tying this to functionality, such that IF you wish certain functionality then you MUST provide a "hook" (URI) into the description that supports that functionality.

Perhaps the statement in the document could be generalized to say something simple like: Any document or specification or portion thereof that is suitable for content negotiation must be unambiguously identified wit

[2019-07-27 08:29] rob-metalinkage commented on #1017
@kcoyle  +1 to  "such that IF you wish certain functionality then you MUST provide a "hook" (URI) into the description that supports that functionality."

I'm not sure the second sentence is clear enough though - it sounds as though content negotiation might apply to the document /specification/portion itself - not to the set of data instances described by it, which is the real functionality descr

[2019-07-29 03:01] nicholascar commented on #479
Adoption of DCAT-style information in PR https://github.com/w3c/dxwg/pull/907

[2019-07-29 08:04] #955 closed, assigned to nobody

[2019-07-29 08:04] #944 closed, assigned to nobody

[2019-07-29 08:06] #973 closed, assigned to nobody

[2019-07-29 08:06] #980 closed, assigned to nobody

[2019-07-29 08:08] #923 closed, assigned to nobody

[2019-07-29 08:09] #984 closed, assigned to nobody

[2019-07-29 08:09] #1009 closed, assigned to nobody

[2019-07-29 08:11] #895 closed, assigned to agbeltran

[2019-07-29 13:05] larsgsvensson commented on #575
@aisaac
As part of ACTION-351 I've reviewed this issue (again) and came to the following conclusions:

Of your original comments, the following can be considered addressed:
Issue | Comment
----- | ----------
1 | OK
2 | OK
3 | OK
8 | OK
9 | OK
10 | OK (the text "The list profiles request MAY be an independent request or part of another realization's request" has been removed)
12 | OK
13 | OK
14 | O

[2019-07-29 13:56] larsgsvensson opened #1020 "Minor editorial comments on DCAT CR candidate"
First of all: Kudos to the editors! The CR candidate is a great piece of work.

Minor nits:

1. [4. Conformance](https://w3c.github.io/dxwg/dcat/#conformance): The last bullet point in the list of conformance criteria reads very differently from the other ones.

* DCAT-compliant catalogs MAY include additional ...

I propose to take that bullet point out of the list, like

DCAT-compliant catalogs

[2019-07-29 22:56] nicholascar commented on #594
Issue closed after removal of it from document, 2 months after *due for closing* label applied and no changes

[2019-07-29 22:56] #594 closed, assigned to nicholascar

[2019-07-30 03:05] nicholascar commented on #511
This issue is long resolved with support in the specification for alternate SQA key names. This is formally described with the *qsa-alt* profile of the specification.

[2019-07-30 14:21] aisaac commented on #976
@RubenVerborgh @rob-metalinkage I am quite puzzled by your points: the position I'm reflecting here wrt JSON-LD results from plenary discussions with the JSON-LD WG: https://www.w3.org/2018/10/26-dxwg-minutes#x06
And as stated, it seems that they've even acted on this since then, as they've embarked on renaming as "forms" what they used to refer to "profiles":
https://www.w3.org/TR/json-ld11/#form

[2019-07-30 15:28] RubenVerborgh commented on #976
There's no contradiction; just different terminology. IETF profiles are constraints on structure and/or semantics; a JSON-LD form is a constraint on structure (over the JSON-LD semantic interpretation).

RDF profiles are a kind of profile indeed.

That's fine; the IETF definition is as open as possible.

[2019-07-30 16:15] andrea-perego commented on #945
Revisions implemented in PR https://github.com/w3c/dxwg/pull/1021

[2019-07-30 16:34] andrea-perego commented on #1020
Thanks for your review, @larsgsvensson .

Your points 4, 5, 6, 9, 10 have been addressed in PR https://github.com/w3c/dxwg/pull/1021

[2019-07-30 20:36] aisaac commented on #976
@RubenVerborgh ok I think it's a matter of scoping: this issue is about "our" data profiles, which was not chiefly focusing on the IETF one. As you voiced objections here I thought it was about the DXWG data profiles. But if your points were about the wider IETF profiles, then we're good. I may still be puzzled about what the IETF profiles cover (it sounds like it's about everything that can be ca

[2019-07-31 01:13] nicholascar opened #1022 "Differentiating Functional & Data Profiling in Conneg"
From @aisaac in PR https://github.com/w3c/dxwg/pull/1018:

[2019-07-31 13:19] davebrowning commented on #958
Thanks for the feedback - we've taken the comments on board and addressed the language tag point.

On direction metadata - in principle we're supportive of this but after WG/DCAT editor review and [discussion](https://www.w3.org/2019/07/24-dxwgdcat-minutes#x0), and given the limited time and specific skills, we'd look to consider provision of  suitable examples in future versions or in an associat

[2019-07-31 13:55] davebrowning commented on #377
See also https://github.com/w3c/dxwg/pull/881#issuecomment-516859294

[2019-07-31 14:05] davebrowning commented on #896
Moving to future release....

[2019-07-31 14:37] davebrowning commented on #1020
On point 2 - interesting question.

For dcat2 I think it would be
[code]

That uri points at the latest version of the recommendation which I guess might be what people would want to do.  I guess some cautious publishers might want to use a specific/dated version just in case of some kind of future change that they hadn't foreseen....

[2019-07-31 21:17] davebrowning opened #1025 "Features at risk/Implementation evidence"
The DCAT 2 recommendation includes some new features which may have implementation maturity concerns - essentially that adequate implementation evidence won't be available in the timeframe we plan to move to approval.  [Examples could be some of the geospatial elements, and/or the qualified relation section]

Where this is possible, these sections should be marked at 'Feature at Risk' as the docum

[2019-07-31 23:59] nicholascar opened #1027 "Align all Link header requirements & examples"
The QSA Alt Realization is dependent on HTTP Link headers to communicate other profile & Media Type URIs which contain the QSA keys it uses. All Link header requirements & examples need to be checked for consistency.

[2019-08-01 12:43] nicholascar commented on #1027
Done with PR https://github.com/w3c/dxwg/pull/1026

[2019-08-01 12:55] nicholascar commented on #287
This example is now present in the document, section **6.2.2 get resource by profile**

[2019-08-01 12:56] nicholascar commented on #384
The LDP does not appear to be a critical system to reference in this document so we won't cite it thus this issue is "won't fix",

[2019-08-01 12:56] #384 closed, assigned to nicholascar

[2019-08-01 12:56] #511 closed, assigned to RubenVerborgh, larsgsvensson, nicholascar, rob-metalinkage

[2019-08-01 12:57] #516 closed, assigned to nicholascar

[2019-08-01 12:57] nicholascar commented on #538
This is being addressed in PR https://github.com/w3c/dxwg/pull/1026

[2019-08-01 13:01] nicholascar commented on #953
Solved in document editorial updates,

[2019-08-01 13:01] #953 closed, assigned to nicholascar

[2019-08-01 13:09] nicholascar commented on #589
@jpullmann we have considered using a dedicated parameter but our preference, for the QSA Realization, is not to do this but to use `_profile=all`. This is to reduce the number of keys that require support by servers (2: `_profile` & `_mediatype`). In the looser QSA realization, alternate keys may be specified by implementers so anything is possible there, as long as implementers define it. So we

[2019-08-01 13:12] nicholascar commented on #904
The proposed solution is now in the document in [Section 7.1.1.1 Token mappings](https://w3c.github.io/dxwg/conneg-by-ap/#listprofiles-tokens).

[2019-08-01 13:15] larsgsvensson commented on #287
Sorry, we cannot close even if it's solved for profile-negotiation since this is still an issue for other deliverables...

[2019-08-01 13:17] nicholascar commented on #932
+1 @smrgeoinfo's comment https://github.com/w3c/dxwg/issues/932#issuecomment-493134831: we should list all profiles.

[2019-08-01 13:18] #1027 closed, assigned to nicholascar

[2019-08-01 13:27] nicholascar commented on #287
@larsgsvensson, ok, that's true if the Guidance Doc wants to talk about this. We should remove the conneg label though since, from that deliverable's point of view it's gone through a due-for-closing period and is now off the Milestone's books. Doing that now.

[2019-08-05 14:03] der commented on #868
Sorry to be late with this comment, haven't been following this work.

As an outsider to this WG can I reinforce the importance of this issue. This has been, and continues to be, a substantial pain point in our attempts to use dcat. Sad to hear that it won't be addressed for DCAT 2.

In our experience with public sector datasets it is relatively rare for a dataset to be a unitary thing which be do

[2019-08-05 15:12] makxdekkers commented on #868
@der My opinion is that, if we want to support dataset series in DCAT -- and I agree it is a very common request -- the best approach might be to define a new class (subclass of `dcat:Resource`), e.g. `dcat:DatasetSeries`. The related datasets could then be linked using `dct:hasPart` and `dct:isPartOf`, or similar properties.
The advantage is that we would not be 'repurposing' existing classes whi

[2019-08-05 16:00] der commented on #868
Thanks @makxdekkers. That would work for me.

In our case we would likely want to treat each of our resources as an instance of both `dcat:DatasetSeries` and `dcat:Dataset`. That way we could give a distribution (and extent) for the overall aggregate as well as distributions for the individual elements within the series. It would also give us a transition plan - publish resources now as `dcat:Data

[2019-08-05 16:17] makxdekkers commented on #868
@der I was just expressing my personal opinion, and the group might not agree.
In any case, I think we need to discuss this in more detail before making some sort of statement for the future -- it would not be good to make such a statement now and then to backtrack on it...

[2019-08-05 18:02] smrgeoinfo commented on #868
for future reference (v3?) I agree DatasetSeries should be a separate subclass of dcat:Resource. Noting that a series would have all the properties that are specific to dataset, from a modeling perspective it might be treated as a subclass of Dataset,  with the addition of a mandatory(2..N) 'hasPart' relationship, and properties indicating how the 'granules' in the collection are defined (time, sp

[2019-08-05 20:37] dr-shorthair commented on #868
Yes @smrgeoinfo that is my thinking as well.

Richer treatment of relations between resources (esp. datasets) is one of the features that has been added in DCAT2, so we have the platform already.

https://www.w3.org/TR/vocab-dcat-2/#qualified-relationship

[2019-08-06 11:29] wouterbeek commented on #125
It's good to see that `dcat:byteSize` may be changed from `xsd:decimal` to `xsd:integer`, since a distribution cannot have a fractional number of bytes (unless I'm mistaken).

However, since a distribution can also not have a negative number of bytes, `xsd:nonNegativeInteger` would be even better / semantically more accurate.

[2019-08-06 12:57] davebrowning commented on #1020
#1023 and #1024 address points 1, 3, and 7.  Thanks for the help.

I'm minded to hold fire on the second point for now - bit wary of getting it wrong, so I'd suggest  keeping this open for now.

[2019-08-06 13:19] davebrowning opened #1029 "DCAT broken links"
The latest editors draft has some (persistently) broken links - at least using my environment.

1. EPSG registry (line 3352, 3634)
2. Link to isni.org

[2019-08-06 13:27] davebrowning commented on #1029
On further analysis, link to isni seems functional from browsers - See paragraph after https://raw.githack.com/w3c/dxwg/dcat-broken-links/dcat/index.html#ex-proxy-id.

Still throws a HTTP 403 using curl (which I guess is similar to what  link checker does?) but since this is link is targetted at providing information to humans, I assume this is acceptable.

[2019-08-06 14:06] aisaac commented on #932
+1 @smrgeoinfo @nicholascar
Whatever definitions we add, requiring clients to use the "hierarchy of profiles" is going to be very demanding, as they would have to follow their nose to the profile description and then do some inferencing over the links they find there.
I think enabling such thing to happen is good, especially in case the data services are "lazy" (i.e. for some good or bad reason or

[2019-08-06 17:12] aisaac commented on #575
Hi @larsgsvensson , thanks for coming back to this!

1, 2, 3, 8, 9, 10, 12, 13, 14 can be considered addressed indeed.

For the others:
.4. Yes. Note that I'm agnostic wrt #380
.5,6,7. Yes. Indeed, renaming the subsection may improve the situation. Still it would be better to sort out what's about context from what's about proposals in the doc. And 7 is quite a contradiction with other parts.
.11.

[2019-08-06 17:35] #383 closed, assigned to nicholascar

[2019-08-06 17:36] nicholascar commented on #602
Long due for closing since content addressing this is present in spec.

[2019-08-06 17:36] #602 closed, assigned to nobody

[2019-08-06 17:38] #748 closed, assigned to nicholascar

[2019-08-06 17:39] nicholascar commented on #290
de-tagging for Profile Negotiation as the issue is handled in the doc

[2019-08-06 17:42] nicholascar commented on #74
de-tagging as Profile Negotiation

[2019-08-06 18:05] tombaker commented on #384
What is the "LDP" please?  I do not see enough information here to warrant closing the issue because the issue itself is not clear.

[2019-08-06 18:10] jakubklimek commented on #384
@tombaker see https://github.com/w3c/dxwg/pull/257

[2019-08-06 21:31] nicholascar opened #1031 "Create a data model for representing alternate profiles"
The `Link` headers in section [7.1 Hypertext Transfer Protocol Headers](https://www.w3.org/TR/dx-prof-conneg/#http) and QSA alternate profiles listing such as in [Example 10: Requesting a list of profiles for a resource by QSA in HTML](https://raw.githack.com/w3c/dxwg/conneg-ACTION-343/conneg-by-ap/index.html#qsa-listprofiles) all use a data model for profiles, tokens for them and Media Types that

[2019-08-06 21:59] nicholascar commented on #1031
The *Alternates View* as implemented by [pyLDAPI](http://github.com/rdflib/pyLDAPI) can be expressed in HTML or in machine-readable forms like RXF & JSON, see, for example, <http://pid.geoscience.gov.au/sample/AU100?_view=alternates>. I'll be using this data model (see the turtle format of it [here](http://pid.geoscience.gov.au/sample/AU100?_view=alternates&_format=text/turtle)) as a starting poin

[2019-08-07 06:30] larsgsvensson commented on #384
@tombaker scripsit:

The "LDP " is the [Linked Data Platform](https://www.w3.org/TR/ldp/). We first thought it would make sense to list that spec under "related work" but then decided against it in the CNEG Meeting on August 1, 2019 since LDP does not talk specifically about profiles.

[2019-08-07 06:38] larsgsvensson commented on #575
Thanks @aisaac,

Rob and Nick are currently doing some major rewrites of the document (as part of [ACTION-356](https://www.w3.org/2017/dxwg/track/actions/356) and [ACTION-357](https://www.w3.org/2017/dxwg/track/actions/357)) and we'll discuss that again in tomorrow's meeting (2019-08-08). So stay tuned...

[2019-08-07 06:55] tombaker commented on #384
That's the link I was looking for.  The decision not to list it makes sense.  Thanks!

--
Tom Baker <tom@tombaker.org>

[2019-08-07 13:02] dr-shorthair commented on #1025
Features likely at risk:

- `dcat:service`
- `dcat:catalog`
- `dcat:accessService`
- `dcat:packageFormat`
- `odrl:hasPolicy`
- `dcat:qualifiedRelation`
- `prov:qualifiedAttribution`
- `prov:wasGeneratedBy`
- `dcat:Relationship`
- `dcat:hadRole`
- `dcat:Role`
- `dcat:startDate`
- `dcat:endDate`
- `dcat:bbox`
- `dcat:centroid`
- `dcat:spatialResolutionInMeters`
- `dcat:temporalResolution`

[2019-08-07 14:12] larsgsvensson commented on #1025
In case it helps, DNB uses `dcat:compressFormat`, cf. https://d-nb.info/datasets/authorities_20190328.ttl

[2019-08-07 14:42] davebrowning commented on #983
I think some of this was addressed in #1010 (now merged) but possibly not all.

[2019-08-07 14:44] davebrowning commented on #725
#1010 now merged, so this is complete?

[2019-08-07 14:49] jakubklimek commented on #725
@davebrowning  Actually, I do not think so. There are still `skos:defintion`s while we [agreed](https://github.com/w3c/dxwg/issues/725#issuecomment-514190654) to change them to `skos:usageNote` and `skos:scopeNote`s.

[2019-08-07 15:05] davebrowning commented on #725
:smile: That's what question marks are for - I was going to check when I had a moment.....

[2019-08-07 15:12] davebrowning commented on #1025
@nicholascar At the plenary you asked which properties might be in the at risk category

[2019-08-07 15:49] riccardoAlbertoni commented on #725
@jakubklimek wrote:

As discussed in the related PR #1010, we have decided to keep the skos:definition when we include the original definitions from third-party vocabularies. See https://github.com/w3c/dxwg/pull/1010#issuecomment-519081757.

So unless there are some oversights, I think we can close the issue.

[2019-08-07 16:23] wouterbeek opened #1032 "Alignment issue between dcat:contactPoint and sdo:contactPoint"
The DCAT2 specification (currently under development) indicates the following alignment with Schema.org:

[code]

The domain of `dcat:contactPoint` is `dcat:Resource` which is something very generic, aligned with `sdo:Thing`.

At the same time, `sdo:contactPoint` is intended to have either persons or organizations in its domain.

Conceptually speaking there is a conflict when we assert that a DCAT

[2019-08-07 17:18] riccardoAlbertoni commented on #983
No, it isn't ;)  According to my understanding, we still need to make sure that both skos:definition and rdfs:comment are used.

[2019-08-07 18:45] makxdekkers commented on #1032
@wouterbeek As far as I understand, schema.org does not do domains the way RDF does. It only asserts that a property is merely "Used on these types" which does not stop people from using it on other types.
They actually state that "_We expect schema.org properties to be used with new types, both from schema.org and from external extensions_" (https://schema.org/docs/datamodel.html).
In fact, `sdo:

[2019-08-07 22:25] dr-shorthair commented on #983
For the elements from other vocabularies, I copied over the original definitions (from DCT, PROV, FOAF, ODRL) into `skos:definition` in our dcat.ttl.
This was partly as an aid to editing the local re-definitions/refinements.

Then where the DCAT defs vary, they are also in `skos:definition` props but the text is prefrixed with "In the context of DCAT 2.0 ..."

I think all of the other annotations

[2019-08-07 22:31] dr-shorthair commented on #725
Yes - the local definitions are now all in `skos:definition` props, but they are now clearly scoped to DCAT  in the text. I believe the elements are all correctly annotated now, and the context of the annotations are all clear.

@jakubklimek is correct - at one point we mooted moving all the annotations into `skos:scopeNote`, but when I was executing the changes, I realised that the text prefix re

[2019-08-08 02:51] jakubklimek commented on #725
@riccardoAlbertoni @dr-shorthair I don't see a discussion related to what was discussed here (i.e. `skos:definition` vs others) in https://github.com/w3c/dxwg/pull/1010#issuecomment-519081757.
The current state concerns me for the following reasons:

1. There are now multiple `skos:definition`s for external vocabularies in one language - one original, one `In scope of DCAT` - this again seems like

[2019-08-08 07:16] dr-shorthair commented on #983
@agbeltran I automated copying `rdfs:comment to `skos:definition` for all the DCAT classes and properties.

As we've been editing the ttl manually over the last few rounds, TopBraid was likely to re-order on save. So, in order that you can trace the diffs, I did it in two steps:
1. load in TopBraid, only make tiny changes, and then save. First commit 01db5afa6bdd69e31f6c1dec72d3001ec6f7e5de
2. SPA

[2019-08-08 07:17] nicholascar commented on #983
Profiles Vocab uses `skos:definition` for all its properties as it's *defining* the, not just offering comment about them.

[2019-08-08 07:19] dr-shorthair commented on #725
During the discussion,  two remedies were proposed, namely
1. moving local definitions to scope-notes
2. prefixing the text with a note about the context.

My judgement is that 2. is a better solution, and also removes the need to do 1. Furthermore, as the text in the `skos:definition` reflects the text in the document, which is labeled "Definition", this makes the RDF representation consistent wi

[2019-08-08 07:28] nicholascar commented on #1025
The DCAT *view* ('profile') of the [Geofabric Linked Data](linked.data.gov.au/dataset/geofabric) dataset in RDF (turtle), http://linked.data.gov.au/dataset/geofabric?_view=dcat&_format=text/turtle,  shows that it's using:

* `dcat:DataService`
* `dcat:servesDataset`
* `dcat:endpointDescription`

And, with little work, we cna probably get it to to deliver these as well:

* `prov:wasGeneratedBy`
* `

[2019-08-08 07:45] dr-shorthair commented on #1025
@nicholascar I see that it currently is showing `dcat:DataDistributionService` which was removed a few months ago. `dcat:DataService`, with `dct:type <https://inspire.ec.europa.eu/metadata-codelist/SpatialDataServiceType/download> ;` is recommended now - see https://w3c.github.io/dxwg/dcat/#ex-service-gsa

[2019-08-08 10:55] nicholascar commented on #1025
@dr-shorthair yes, I'm aware of the need to update some out-of-date things. Which is why I wanted this at-risk list now so I can do one-time updates to all the RDF.

Have just arranged update processes for me with repo owners.

[2019-08-08 12:43] wouterbeek commented on #1032
@makxdekkers I was not aware of the precedent sent by `sdo:HealthInsurancePlan`.  In that case DCAT is simply following a widening of the applicability of the `sdo:contactPoint` property that is already in effect.  Closing...

[2019-08-08 12:43] #1032 closed, assigned to nobody

[2019-08-08 12:53] nicholascar commented on #852
Dependent on Issue https://github.com/w3c/dxwg/issues/603

[2019-08-08 13:18] nicholascar commented on #785
We;ve updated the example at the top of this Issue in the soon-to-be-released 3PWD (already in the ED, see https://w3c.github.io/dxwg/conneg-by-ap/#eg-link-headers) to show a single, unchanging, resource URI with different `rel=`, `type=` & `profile=` keys in the `Link` header which demonstrate the 'dynamic' nature of conneg. So this answers the original Issue.

Further, we are working on a formal

[2019-08-08 13:41] nicholascar commented on #1017
Regarding the 'hook' statement:

The specification, in the Abstract Model's [6.2 Profile Identification](https://raw.githack.com/w3c/dxwg/conneg-ACTION-356/conneg-by-ap/index.html#profileid) states:

So, from this document's point of view identification by URI is mandated.

Regarding the "separate URI and not a URI with document fragment":

The specification never mentions fragment URIs, only URIs

[2019-08-08 13:55] riccardoAlbertoni commented on #725
Though examples in SKOS [reference](https://www.w3.org/TR/skos-reference/#notes) and [primer](https://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secdocumentation) use just one skos:definition for language,  no integrity conditions state such an expectation (contrary to what SKOS documents state for other properties such as skos:prefLabel).

I understand the perplexity raised by @jakubklimek, bu

[2019-08-08 17:26] jakubklimek commented on #725
@dr-shorthair One issue I have with the approach is that while I am OK with using `skos:definition` for DCAT classes and properties in scope of DCAT, as DCAT clearly defines then, I am not OK with using `skos:definition` with classes and properties from reused vocabularies simply because their meaning is not DCAT`s to define.

What happens if, hypothetically, after DCAT becomes Recommendation, the

[2019-08-09 15:40] kcoyle commented on #725
+1 for skos:usageNote -1 for skos:definition

+1 for an ontology of just DCAT-defined elements in DCAT namespace and a separate vocabulary file of the entire DCAT specification. To me this makes the discovery and re-use of DCAT-defined terms clearer. It separates the origin of elements from their use in a specific context.

[2019-08-11 21:58] andrea-perego commented on #1025
@dr-shorthair , I would remove the following properties from the list of features at risk, as they are already implemented (see [implementation evidence spreadsheet](https://docs.google.com/spreadsheets/d/1eEVUuPFAGO2GjS5ocxylY8T1AlpqlwnOTc3er_Mhcv4/edit#gid=1108132380)):
- `dct:accessRights`: it is supported on different classes by DCAT-AP, GeoDCAT-AP, CiteDCAT-AP, and DCAT-AP-JRC
- `dct:isRefere

[2019-08-12 01:03] rob-metalinkage opened #1040 "response header if 303 used"
currenlty text says "A <a>server</a> SHOULD set a <code>Content-Profile</code> header in HTTP <a>response</a> to the profile
          identifier (URI) that the Client requested, not the identifier of any narrower profile that is also applicable	          identifier (URI) that the Client requested, not the identifier of any narrower profile that is also applicable
          since the client might

[2019-08-12 01:05] rob-metalinkage commented on #1040
largely addresses #603 - which is preserved to capture full example elucidation one this sub-issue is addressed.

[2019-08-12 01:07] rob-metalinkage commented on #603
Note that the underlying issue is now #1040 - once that is addressed examples need to be checked and updated and sequence diagrams added.

[2019-08-12 02:30] nicholascar opened #1041 "Align Alternative Representations Model and PROF"
Some parts of the Alternate Representations Data Model in Conneg by P appears to border PROF concepts. We have not yet deliberately aligned the two models.

[2019-08-12 02:38] nicholascar commented on #1041
It appears to me that PROF is giving us profile modelling - out of scope for Conneg by P - but also hooks from profiles to resources that conform to them, viz `rdfs:Resource dct:conformsTo prof:Profile` and also a description of a `Resource`, viz. the `prof:ResourceDescriptor` class.

Conneg by P seems to require (from our testing) that there is a `Representation` class, instances of which represe

[2019-08-12 03:26] nicholascar commented on #1040
There seems to be no reason why servers can't include much more information in a redirect header response than they usually do other than expectation/precedence. That is, most documented cases of redirect responses I can find look like this:
[code]
...and that's it, but there's nothing preventing:
[code]
e.g.:
[code]
Which would allow the redirecting server to tell the client what profile the reso

[2019-08-12 05:15] dr-shorthair commented on #125
Unfortunately this didn't get any attention during this phase of DCAT revision. While it is a small, logical, change, folks always get concerned about backward compatibility.

In fact the current `rdfs:range` (from DCAT 2014) is `rdfs:Literal`, with a _recommendation_ to use `xsd:decimal` but which also allows shorthands like "3.5k" or "10MB" which are sometimes used as approximations. IMHO those

[2019-08-12 08:34] larsgsvensson commented on #1040
Yes, I agree @nicholascar. And we need to make this interaction scenario explicit in the specification as a best practice.

[2019-08-13 05:58] nicholascar opened #1042 "Appendix showing an example of of conneg use in DCAT"
@rob-metalinkage: we declare a DataService for a dataset that uses one of the Conneg functional profiles

How do we describe both functional and data aspects of a service?

From DCAT:

From [Conneg by P](https://raw.githack.com/w3c/dxwg/conneg-ACTION-356/conneg-by-ap/index.html#conformance-profiles):

Perhaps:

[code]

[2019-08-13 06:10] rob-metalinkage commented on #1042
[code]
Note that there doesnt appear to be a way of saying in DCAT that each member of the dataset may be accessed by conneg-by-ap - this applies to the identifier of the dataset as a whole. Possibly this could be expressed in VoiD as a void:technicalFeature using a "well known" feature, or alternatively by a profile of conneg-by-ap?

[2019-08-15 04:43] #904 closed, assigned to nicholascar

[2019-08-15 04:44] #785 closed, assigned to larsgsvensson

[2019-08-15 04:44] #589 closed, assigned to nicholascar

[2019-08-15 04:44] #538 closed, assigned to nicholascar

[2019-08-15 23:21] ghost commented on #575
The remaining issues here are addressed in PR #[1037](https://github.com/w3c/dxwg/pull/1037)

[2019-08-15 23:22] ghost commented on #591
Addressed by addressing https://github.com/w3c/dxwg/issues/575

[2019-08-15 23:58] nicholascar commented on #1040
Changes made via PR 1037: better 303 normative text & e.g, better narrower profile e.g.

[2019-08-15 23:59] rob-metalinkage commented on #932
Addressed along with #603 and #1040 in PR-1037

[2019-08-15 23:59] nicholascar commented on #603
Addressed in PR [1037](https://github.com/w3c/dxwg/pull/1037)

[2019-08-16 00:09] nicholascar commented on #678
POST & PUT have been considered out of scope for this.

We have placed this Issue in the document so we leave it there for comment.

[2019-08-16 00:10] nicholascar commented on #852
Determined this issue is not necessary due to the simplicity of all Client/Server interaction

[2019-08-16 00:15] nicholascar commented on #1031
First full description & examples of an *Alternative Profile* model in PR [1038](https://github.com/w3c/dxwg/pull/1038).

[2019-08-16 12:43] larsgsvensson commented on #678
I remember that we spoke about this in the 2019-08-08 Meeting (and it's in the [minutes](https://www.w3.org/2019/08/08-dxwgcneg-minutes#x07)), but I cannot remember that we decided to close this issue. It's true that we don't have a use case for POST and PUT, but can we really ignore it?

[2019-08-18 23:21] nicholascar commented on #279
This requirement is clearly met by the 2PWD of PROF

[2019-08-18 23:23] nicholascar commented on #280
If this issue is still about individual properties, it's out of scope for PROF so we are de-tagging it from that.

[2019-08-18 23:41] nicholascar commented on #405
**DCAT**:
* add: "for the purposes of cataloguing resources"

**PROV**
* remove alignment as not relevant

**OWL**
* remove as not relevant

**VOAF**
* Add diff purpose of PROF is v. purpose of VOAF
* text: VOAF provides specialised vocab/vocab relationships, e.g. via `voaf:specializes`
* remove formal alignment diagrams / RDF

**OGC ModSpec**
* @rob-metalinkage to work this one out

**SKOS**
* ad

[2019-08-18 23:42] nicholascar commented on #407
Consider the prevision of a Test Suite to support the vocabulary. Won't be a normative part of the specification

[2019-08-18 23:43] nicholascar commented on #408
CSIRO dummy profile is at: https://github.com/CSIRO-enviro-informatics/csiro-epub-dcap

[2019-08-18 23:44] nicholascar commented on #409
Closing as this is part of normal spec work that is underway

[2019-08-18 23:45] nicholascar commented on #449
De-tagging this from PROF as it's not a profiles vocabulary issue.

[2019-08-18 23:47] rob-metalinkage commented on #402
determined not relevant -remove stub from doc.

[2019-08-18 23:52] nicholascar commented on #453
Closing the issue as we have decided that `adms:identifier` and the accompanying `adms:Identifier` can't replace the simple token statement for use in conneg and for legacy profiles without URIs.

[2019-08-18 23:54] nicholascar commented on #467
Closing as being handled as part of normal admin

[2019-08-18 23:56] nicholascar commented on #479
Closing as the considerations, including questionnaire, are in the document

[2019-08-18 23:56] #479 closed, assigned to nobody

[2019-08-18 23:56] #493 closed, assigned to nicholascar, rob-metalinkage

[2019-08-18 23:59] nicholascar commented on #492
Examples to be delt with case-by-case

[2019-08-19 00:00] nicholascar commented on #499
DCAT are not doing this so there is nothing here for PROF. De-tagging for PROF

[2019-08-19 00:01] nicholascar commented on #507
To be dealt with via a formal statement about competency questions

[2019-08-19 00:03] nicholascar commented on #519
No strong requirement to narrow the scope of this property and we are unwilling to introduce a dependence on DCAT for just 1 property.

[2019-08-19 00:03] #519 closed, assigned to nicholascar

[2019-08-19 00:09] nicholascar commented on #529
Closing as the primary issue here is dealt with as part of the DCAT alignment in the document.

If other issues raised here till need addressing, separate issues should be raised.

[2019-08-19 00:09] nicholascar commented on #535
Redundant as now in the one document.

[2019-08-19 00:10] nicholascar commented on #551
Closing since there is current (3PWD) alignment happening in both documents and the PR is merged

[2019-08-19 00:19] nicholascar commented on #638
Long addressed with remaining issues in #747 so closing.

[2019-08-19 00:19] #638 closed, assigned to nicholascar

[2019-08-19 00:19] #642 closed, assigned to nobody

[2019-08-19 00:24] nicholascar commented on #644
The PR that was claimed to address this issue did do so - by adding axioms into the RDF document which are reflected in the HTML description. The PR also added examples, discussion of which is off-topic for this Issue, interesting though it may be.

[2019-08-19 00:26] nicholascar commented on #658
Changes are available for discussion: all changes are seen as PRs and the results of changes - the files within the profilesont/ folder - can all be seen and Issues about them can be raised.

[2019-08-19 00:28] nicholascar commented on #659
This has been covered by recent (July) work on shared definitions. I will ensure that 3PWD of PROF is sent to the raiser (Irene) for review.

[2019-08-19 00:30] nicholascar commented on #660
This issue is now handled by #521

[2019-08-19 00:34] nicholascar opened #1043 "Review transitivity intentions & descriptions"
This issue supersedes several redundant issues to motivate a complete review of PROF's hierarchy transitivity.

[2019-08-19 00:34] nicholascar commented on #661
We have removed the inverse property for `prof:isProfileOf` and the transitive properties (`prof:isTransitiveProfileOf`) have motivating use cases so they need to remain.

We believe this issue is now addressed but we have also created a new Issue to review transitivity: #1043

[2019-08-19 06:29] larsgsvensson commented on #678
@nicholascar scripsit on [public-dxwg-wg](http://lists.w3.org/Archives/Public/public-dxwg-wg/2019Aug/0147.html):

If it is to be reviewed during 3PWD it's not due for closing yet, so I remove that tag.

[2019-08-19 09:38] larsgsvensson commented on #942
Since @andrea-perego as the creator of the issue thinks it can be closed, I guess it's safe to add "due-for-closing"

[2019-08-19 09:51] larsgsvensson commented on #501
I have a general feeling that this issue has been adequately discussed and that we've reached consensus that the [text in the IETF draft](https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation.html#rfc.section.6) covers this. @dret, @hvdsomp, @azaroth42: do you agree?
If yes, I think we can mark this issue as "due-for-closing"

[2019-08-19 10:08] dret commented on #501
On 2019-08-19 11:51, Lars G. Svensson wrote:

fine with me. thanks!

[2019-08-19 11:08] hvdsomp commented on #501
Lacking a registry for target attributes, defining one in an RFC is probably the next best thing. It can be interpreted to be aligned with the [Target Attributes](https://tools.ietf.org/html/rfc8288#section-2.2) section of RFC8288.

I wonder, however, whether the text in the current I-D makes the below intent expressed by @larsgsvensson clear enough, especially since that text also talks about Con

[2019-08-19 11:53] larsgsvensson commented on #501
@hvdsomp scripsit:

Would it help to change this text to

?

[2019-08-19 14:11] kcoyle commented on #449
Nick, if PROF will have a role that is some version of the term "validation" then it needs a definition, doesn't it? It may not be as extensive as the one in the guidance document, but one would expect each role to have a short definition.

[2019-08-19 14:35] kcoyle commented on #661
Was the commenter informed?

[2019-08-19 14:36] kcoyle commented on #660
Please link to response sent to commenter, and ask if this satisfies the concern. A positive response should also then be linked here so we know this was resolved.

[2019-08-19 14:37] kcoyle commented on #659
This is a public comment that needs a response and an agreement from the commenter. Do not close until that is complete.

[2019-08-19 14:46] kcoyle commented on #641
Let's give people a chance to review before closing. There was considerable interest in this change.

[2019-08-19 14:52] kcoyle commented on #555
@agbeltran will need to say whether her issue has been resolved. Re-opening.

[2019-08-19 14:53] kcoyle commented on #551
Need consensus that this change solves the issue.

[2019-08-20 18:04] kcoyle commented on #1017
I'm reopening this to make sure that @tombaker is satisfied with this response to his comment.

[2019-08-20 21:29] kcoyle commented on #400
I actually don't think that the DCAP is analogous to PROF, but maybe there is a useful statement to be made as a comparison. The general consensus under DCAP is that there is a single THING that is the profile in most people's minds, and that there can be extensions, like ShEx files. Or the ShEx file can be the profile, and the documentation is periferal. But when we tried to have a discussion abo

[2019-08-20 22:58] nicholascar commented on #400
The PROF view of a profile is very much aligned with DCAT’s view of a dataset.

In DCAT, we don't have a single THING that is the dataset, rather a catalogue entry with a landing page that the dataset URI is likely to dereference to and then any number of Distributions of that dataset either directly available from the catalogue or just linked to from it.

PROF would have here a profile descriptio

[2019-08-20 23:22] rob-metalinkage commented on #400
I dont think we can attempt to reconcile poor object identification practices in every community (and i've worked with dozens of domains and they all have to get over this hurdle at some stage to improve interoperability of data).  We can just allow them to declare behaviour of the objects they want to identify - and if they find that they are declaring things inconsistently because of the nature

[2019-08-21 15:14] kcoyle commented on #400
@rob-metalinkage If you are side-handedly referring to Dublin Core AP concepts as "poor" practices, that is insulting language and does not meet the congeniality conduct that is required by the W3C code of conduct. Please refer to the [W3C Code of Ethics and Professional Conduct](https://www.w3.org/Consortium/cepc/). PROF would undoubtedly be further along toward completion if others were encourag

[2019-08-21 15:23] kcoyle commented on #400
@nicholascar Yes, I agree that PROF does appear to be a vocabulary for a DCAT-like view of profiles. It might find better reception if being aligned with the DCAT model is made explicit in the PROF document. That would show people coming from non-DCAT environments where to look to better understand the PROF view.

I am not aware of other data environments that are analogous to the DCAT model, and

[2019-08-21 15:56] kcoyle commented on #400
@nicholascar, @tombaker reminds me that the [Singapore Framework](https://www.dublincore.org/specifications/dublin-core/singapore-framework/) of DCMI refers to a number of components of the application profile. In general these are not the same as the components referred to in PROF,  and some are not necessarily conceived of as actual documents but as informational background. For example, Singapo

[2019-08-21 23:01] rob-metalinkage commented on #400
PROF and DCAT are different - DCAT is about cataloguing and PROF is about making assertions that conformance to a profile implies conformance to more general specifications and the role of resources in describing the conformance requirements.  They are complementary but not at all the same or dependent on each other:

* Profiles can be catalogued in DCAT
* DCAT environments can choose to describe

[2019-08-21 23:03] rob-metalinkage commented on #400
@kcoyle i quite explicitly stated that this is a ubiquitous challenge and part of a natural learning process. Its not helpful to assume any community is perfect and cannot learn from experience or others.

[2019-08-21 23:05] nicholascar commented on #400
@kcoyle  @tombaker if you could supply us with that short description of Singapore Framework and how it both aligns with and differs from PROF, that would be really great, thanks!

Even better would be if you could also point to a resource or two that's characterised using the framework so I can try and re-characterise that same resource using PROF. As you will recall, some time ago I created [a d

[2019-08-21 23:59] kcoyle commented on #400
@nicholascar There are no "singapore framework instances" - it is a very broad conceptual model and, in a sense, every application profile is a kind of instance of it. It's not intended to be instantiated as code. Think of it more as being a diagram of the topics covered in a textbook on data modeling, but in this case it's data modeling of application profiles.

@rob-metalinkage I was responding

[2019-08-22 00:02] kcoyle commented on #400
@rob-metalinkage You quite clearly referred to "reconcile poor object identification practices" and there is nothing neutral about the use of "poor". It is quite derogatory, and I do not accept your attempt to gloss over it with gobbledy good about "ubiquitous challenge". If you'd said that instead of "poor practices" we wouldn't be having this discussion.

[2019-08-22 00:13] nicholascar commented on #400
@kcoyle ok, thanks for the clarification. Happy to have those descriptive paragraphs and also anything else you think appropriate. Would you like to place those paragraphs here and have me enter them into the document or would you prefer to formulate them directly in (a branch of) the document and create a PR for them? I'm happy either way.

[2019-08-22 03:25] kcoyle commented on #400
I'll check with Tom but it's probably easiest to put it here, plus it fits perfectly with this issue topic.

[2019-08-22 11:22] rob-metalinkage commented on #661
Just need to inform actioned this suggestion on release of 3PWD

[2019-08-22 11:24] nicholascar commented on #686
Addressed in [2PWD](https://www.w3.org/TR/dx-prof/)

[2019-08-22 11:25] nicholascar commented on #687
Addressed in [2PWD](https://www.w3.org/TR/dx-prof/) with Base Specification removed

[2019-08-22 11:30] nicholascar commented on #688
Addressed in Commit https://github.com/w3c/dxwg/commit/6e2083d97cfd1a2fd71fdc78b6b73ea563fd26c7

[2019-08-22 11:34] nicholascar commented on #697
Addressed in [3PWD](https://w3c.github.io/dxwg/profilesont/) by standardising all diagrams.

[2019-08-22 11:36] nicholascar commented on #698
@paulwalk Even though we have suggested ways of doing this here and lots of discussion, actually proposing a conventional way to automatically validate data instances of application profiles is out of scope for the Profiles Vocabulary document so we won't be taking any action here.

[2019-08-22 11:39] nicholascar commented on #755
This issue has been superseded by WG discussion with new definitions entered into the 3PWD candidate. We'll take new Issues created about definitions in the document from here onwards.

[2019-08-22 11:41] nicholascar commented on #788
Roles now in [2PWD](https://www.w3.org/TR/dx-prof/).

[2019-08-22 11:43] rob-metalinkage commented on #788
Roles released for feedback already - i still think further thinking is worthwhile but need to be new and concrete proposals for specific role descriptions to revisit.

[2019-08-22 11:45] nicholascar commented on #800
This appears to be out-of-scope and no comments have come back here in several months so marking as both out-of-scope and due-for-closing.

[2019-08-22 11:47] nicholascar commented on #808
The editors of PROF have decided not to formally align PROF to DCAT since PROF is all about a dependency (`isProfileOf`) that DCAT doesn't know anything about. There is no prohibition on using DCAT with PROF of course.

[2019-08-22 11:52] nicholascar commented on #199
This issue has now been addressed by a series of updates to the GA example (see https://www.w3.org/TR/dx-prof/#example-7-ga-profile-of-iso19115-according-to-prof-in-rdf-turtle) so this comment is no longer relevant.

@larsgsvensson are you happy with the updated example?

[2019-08-22 11:56] nicholascar commented on #235
This is now being addressed in Issue #405 so this is being marked due-for-closing in favour of that Issue.

[2019-08-22 12:02] larsgsvensson commented on #199
Yes, much happier, thank you.

I COULD start picking nits about the use of IANA-URIs vs w3id-URIs for media types, but I won't...

[2019-08-22 12:36] nicholascar commented on #1041
Being dealt with in PR [1038](https://github.com/w3c/dxwg/pull/1038)

[2019-08-22 12:38] nicholascar commented on #1041
This Issue depends on completion of Issue #1031 and the associated PR #[1038](https://github.com/w3c/dxwg/pull/1038)

[2019-08-22 15:59] kcoyle commented on #788
@nicholascar The roles in 2pwd are not what was "determined" from the discussion. In fact, there were no agreed roles or definitions as that discussion was only just getting started and consensus was far from being reached.

Also note that as per the [March 19 meeting](https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.03.19) github issues are to be marked "due for closing" and @pwin  and I wi

[2019-08-22 16:01] kcoyle commented on #800
Because this came in as a public comment, there must be a response to the commenter on the public list, and the issue can only be closed when that commenter agrees with the solution.

[2019-08-22 16:05] kcoyle commented on #808
@nicholascar Who is we? Could you bring this to the full group for consensus, please. Given how thin we are on the ground, it being August, we can add this to the plenary agenda (cc: @pwin ) but may need to conclude it via email or poll.

I'm not sure where the original idea/issue came from. Could you include that information for the discussion? thanks.

[2019-08-22 16:19] kcoyle commented on #788
@rob-metalinkage "released for feedback already" - are you refering to the editors' draft? Has there been a published draft and call for comment since these were added? It doesn't appear so from the list on the group's home page, but I worry that I may have missed something while I was away. Thanks.

[2019-08-22 20:46] ghost commented on #800
We will be contacting all those who have provided feedback on the public mailing list before closing.

[2019-08-23 01:19] nicholascar commented on #808
Above commented edited: s/We/The editors of PROF/

The idea, for formal alignment, originated with me: I raised the Issue to test ideas and I proposed Pros & Cons as above.

The reason for not seeking alignment that I, as issue raiser, am happy with, is outlined in the comment above.

[2019-08-23 07:12] rob-metalinkage commented on #788
@kcoyle 2PWD
@pwin - the point is to close this issue as superseded and raise specific issues based on concrete proposals to improve the released 2PWD draft.  No one is saying these are perfect (and i am keen to explore improvements based on actual examples)  - but its a matter of applying common sense to closing issues when things have moved on from general to specific.  New issues can be tagged

[2019-08-23 09:42] tombaker commented on #698
@nicholascar In my reading, @paulwalk  is not asking that PROF propose a conventional way to automatically validate data instances of application profiles, as you imply in your [first](https://github.com/w3c/dxwg/issues/698#issue-403402577) and [last](https://github.com/w3c/dxwg/issues/698#issuecomment-523867509)  postings to this issue.  Rather, he is questioning the value, for validation, of doc

[2019-08-23 20:15] smrgeoinfo commented on #698
I haven't digested all of this lengthy thread, but it seems to me that it would be useful to include a link to a validation resource (xml schema, schematron, SHACL) that can be used to test conformance with a profile, and the existing prof:hasResource and prof:hasRole seem that they would support this kind of linkage (as in https://github.com/w3c/dxwg/issues/698#issuecomment-458102895, above). For

[2019-08-23 22:04] kcoyle commented on #698
I'm basically confused, but I did add a link to Paul's original email to the first comment as a way to getting back to that context.

If the discussion here is whether PROF should have a role "validation" and a description of the validation resource (as in https://github.com/w3c/dxwg/issues/698#issuecomment-458102895, above), then I don't think there is disagreement. So I would +1 that, and this s

[2019-08-23 23:16] rob-metalinkage commented on #698
@kcoyle - correct those concerns are dealt with in different issues.

There is one other concern hidden in here, but its out of scope for this issue as stated - and that is whether it is possible to create a "consolidated" form of validation resource for a given choice of constraints language (and the answer is of course but thats a matter for constraints languages) and describe the role it plays

[2019-08-24 15:39] kcoyle commented on #698
@rob-metalinkage Can you explain what a "consolidated form of validation resource" is?

[2019-08-25 10:13] tombaker commented on #749
It is worth noting that [UCR document](https://w3c.github.io/dxwg/ucr/#introduction) defines its own scope as that of identifying use cases and requirements for the three chartered DXWG deliverables: 1) revising DCAT, 2) publishing guidance on the use of application profiles, and 3) providing guidance on content negotiation.  The document makes no reference to a "profiles vocabulary" or "profiles

[2019-08-26 00:26] rob-metalinkage commented on #749
The charter also states that

"Subject to its capacity, the working group may choose to develop additional relevant vocabularies in response to community demand."

it also states: "The goal of the working group is to extend the existing DCAT standard in line with wider practice but also to recognize and support diverse approaches to data description and Dataset Exchange more generally."

At the ti

[2019-08-26 00:29] rob-metalinkage commented on #749
i have updated the milestones and status to reflect that this issue was dealt with in the 2PWD.

[2019-08-26 06:06] tombaker commented on #749
@rob-metalinkage What the charter [actually says](https://www.w3.org/2017/dxwg/charter#deliverables) is that additional vocabularies can be created as "non-normative documents" (i.e., WG Notes):

I see no reference in the body of the [UCR Note](https://www.w3.org/TR/dcat-ucr/) to a need for a "formal" vocabulary for describing profiles.  Can you please point me to the relevant section?

I see no e

[2019-08-26 06:25] rob-metalinkage commented on #749
Feel free to work out how to meet the requirements requirements any other way.  If you do not share or understand the motivation of others thats fine, but coming in late to a process you are probably missing a lot of context of why people have thought this was a worthwhile thing to do.  It was extensively discussed, a range of people have seen fit to comment on it and no one has invalidated its ex

[2019-08-26 08:18] aisaac commented on #800
@nicholascar that is fine but this seems not really matching the idea of 'due for closing' I would mark an issue such as the one here as 'due for closing' after an email has been sent, and we've received a reaction, or one month has passed and we got no reaction... This would be the idea of the label, for me.

@kcoyle @makxdekkers  all sorry I have not reacted because there are so many issues to r