[2018-10-06 07:51] kcoyle opened #448 "Profile and Application Profile"
The Charter for the deliverable reads:

_Guidance on publishing application profiles of vocabularies._

_A definition of what is meant by an application profile and an explanation of one or more methods for publishing and sharing them._

The group to this point has used the term _profile_ not _application profile_. Note some discussion in a previous working document [here](https://www.w3.org/2017/

[2018-10-06 17:58] agbeltran commented on #443
Thanks both - it is in the figure but not in the text https://w3c.github.io/dxwg/dcat/#Class:Resource; I'll add this.

The other classes that require it and don't inherited from ```dcat:Resource``` would be ```dcat:Distribution``` and ```dcat:CatalogRecord```

[2018-10-06 21:54] dr-shorthair commented on #443
I was also thinking that we should list the inherited properties in the introduction to each class, and not just expect users to cross check the parent class. So the text in section 6 would better reflect how it is presented in Figure 1 in section 5.

[2018-10-07 21:33] aisaac commented on #435
I am not 100% sure about ODRL but this seems rather right to me anyway.

The same for the rest. I cannot vouch for everything as I've got a pretty bad bird's eye view of our requirements right now and no time to check. Therefore I can't say whether our requirements overlap or exactly match with these MUST/SHOULD/MAYs, these functions and these types. But I must recognize that (1) the general appro

[2018-10-07 21:47] aisaac commented on #448
This is a very good point.
I wouldn't mind adding back 'application'. But I would prefer to do it at the very end, when we're sure that adding it wouldn't mess with the understandability of what we're trying to do (and in the light of all our requirements).
I feel indeed there's always an ambiguity that can be harmful about the meaning of 'application' in 'application profile'. I.e. between profil

[2018-10-07 21:53] pwin commented on #417
The everyday understanding of profile covers both the view from a
perspective and also a pattern from which material can be either tested for
goodness of fit or assembled to match the pattern. That's what I am trying
to include early in the document.

I think that these are the two senses in which we are using the term.

I think that thinking that my text described a view is too simplistic an
inte

[2018-10-07 22:47] rob-metalinkage commented on #417
Perhaps the actual sense is that profiles are specifications of views - they provide a basis for validation and identification of viewpoints.

Everything is observable via some viewpoint(s) - but viewpoints are not necessarily interoperable (i.e. understandable in a domain without further information not immediately accessible). Profiles provide for identification of views, and discovery of specif

[2018-10-08 01:44] nicholascar commented on #399
OK, if we are free to implement sub-namespaces with any namespace that's allocated, that will serve the purpose for which I raised this issue, which was to ensure a separate (sub)namespace is available for SHACL constraints for the Profile Ontology (or whatever it will eventually be called) compared to the one used for the main ontology itself.

Closing this Issue as complete given that it is able

[2018-10-08 01:44] #399 closed, assigned to nicholascar

[2018-10-08 01:47] nicholascar commented on #276
TopBraid, the tool, uses SHACL to generate forms that then are used to collect human input according to the SHACL Shape and such use (form generation) was always one of TopQuadrant's SHACL Use Cases. We've also recently had a student work on making HTML forms from SHACL shapes graphs that can be used for human input.

[2018-10-08 02:13] nicholascar commented on #428
That text, in grey, was an early attempt to show how Issues (Requirements) may be addressed. I think Rob authored that one but the logic for the answer was taken from discussion.

I have created a commit (to soon be PRed) to remove this now vestigal text from the doc since we are now dealing with Issues directly in GitHub, not in the doc, until final text is agreed to.

Closing Issue with commit h

[2018-10-08 02:17] nicholascar commented on #368
I've removed all static title for "issues" class divs in the doc with commit https://github.com/w3c/dxwg/commit/159f745dbb2fddd143f58720552ab2a6a1163de3 as this will ensure that titles always match those in GitHub.

[2018-10-08 02:18] nicholascar commented on #420
Just confirming that indeed the diagram was removed with the document restructure after this issue was lodged.

[2018-10-08 02:22] nicholascar commented on #417
+1 to dropping "application". We've done this everywhere in the Conneg & Prof Ont docs as it really adds nothing of value and becomes another term that then needs to be defined and understood for effective use. Happy to elaborate in a distinct issue if created (over here it seems: https://github.com/w3c/dxwg/issues/448).

[2018-10-08 02:24] nicholascar commented on #448
As indicated in https://github.com/w3c/dxwg/issues/417, I prefer dropping "application" but I'm happy to wait until our doc is more complete to review if its retention is useful.

[2018-10-08 02:27] nicholascar commented on #418
This issue was created before the main doc structure change and, as mentioned above, is covered by Issue https://github.com/w3c/dxwg/issues/371. I propose closing this one to just reduce the total number of open issues as that would be better than just not including it in the doc as it's eacier to include all open Issues tagged appropriately in the doc as this is then an additional logic rule (don

[2018-10-08 02:36] rob-metalinkage commented on #276
Having recommendations and warnings that do not constitute validation errors suggests that we may need to provide an example of a profile where the implementing resource has multiple roles - validation and guidance.  is input form specification a separate role too?

My feeling is that the profiles ontology should provide pre-defined definitions for such obvious roles, especially where they directl

[2018-10-08 02:40] rob-metalinkage commented on #276
Mandatory, repeatable, not repeatable  are redundant if you have min and max cardinality.  given OWL and SHACL support the latter, is it just adding potential for confusion to include additional equivalent options?

[2018-10-08 03:12] nicholascar commented on #435
Can we extend that to say rather

"The profile MAY be based on one or more known community standards, for interoperability within that community ("profile of X") *and, when it is, it must indicate that basis*".

[2018-10-08 04:32] nicholascar commented on #372
Closing this Issue in favour of https://github.com/w3c/dxwg/issues/371

[2018-10-08 04:32] #372 closed, assigned to nicholascar

[2018-10-08 04:32] nicholascar commented on #373
Closing in favlour of Issue https://github.com/w3c/dxwg/issues/371 with the comment from here added there.

[2018-10-08 04:32] #373 closed, assigned to nicholascar

[2018-10-08 04:33] nicholascar commented on #371
From now closed https://github.com/w3c/dxwg/issues/373: Extend the second paragraph of 'profile' to indicate data use, not just metadata

[2018-10-08 06:36] kcoyle commented on #276
@rob-metalinkage While implementable profiles will undoubtedly use min and max, if you look at human-facing instructions you will find the use of "mandatory, repeatable, etc." along with "recommended" and at times "mandatory if applicable" "recommended if applicable". These latter cannot be expressed mathematically. That means that we have two kinds of cardinality - one that can be expressed with

[2018-10-08 07:13] aisaac commented on #417
Maybe the discussion on 'view' risks too much simplifying what we say about the notion of profile, especially if it can be understood as 'database views'. But I think it's worth keeping the reference to it though (if just because some profiles could actually be implemented by a DB view...)
Keeping @pwin 's original questions would maybe be a way to keep that 'view' metaphor but instruct the reader

[2018-10-08 07:19] aisaac commented on #418
I sense we should keep this one open. I like closing issues, but I'm afraid if we put @agreiner's opening comment here as a comment in #371 it will be soon overflowed by discussions on the structure (which #371 is rather about for the moment)

[2018-10-08 07:23] aisaac commented on #428
@nicholascar thanks for the answer. This sounds very good but I'm not fond of closing the issue until your commit is deployed at https://w3c.github.io/dxwg/profiles/. Where is it?

[2018-10-08 07:35] pwin commented on #417
Exactly my intention @aisaac
I wrote it as a "funnel" to draw the reader in from the general
understanding of the term to help us then be specific about what *we* mean
by the term.

Every time I mention to people that we're working on profiles the initial
response is something along the lines of "that's a loaded term. What
exactly do you mean by 'profile'?"

On Mon, 8 Oct 2018, 08:13 aisaac, <noti

[2018-10-08 07:39] aisaac commented on #364
For the time being @dr-shorthair 's suggestion is good.
This said my very issue is whether there should be a same 'family of documents' section in the DCAT spec and in the profiles specs. This is nice for selling our work but it may not be very helpful for readers. Well, maybe it can help in DCAT, I don't know. But for the profile specs, I currently don't see why we should hint that readers should

[2018-10-08 07:42] aisaac commented on #391
@nicholascar yes and I believe it could be relevant for the UCR group as well. And maybe the entire DXWG - I suspect DCAT people may have something to say too ;-)

[2018-10-08 07:58] rob-metalinkage commented on #276
I dont see it too hard to use such terms based on cardinality constraints - but what you are doing has two aspects:
1 formalising constraints
2 recommending specific language to explain constraints

probably best not to confuse these.

The actual guidance could be something along the lines of
1) where applicable fully or partially describe profiles with a formal constraint language appropriate to

[2018-10-08 08:06] kcoyle commented on #276
@rob-metalinkage said: " is input form specification a separate role too?"

My feeling about the roles is that they need to be a separate vocabulary namespace and it should be easy to add roles. I can imagine someone having a document that is written as input to a user interface in a particular software who would want to express: "input to Libris UI".

One place where I think we'll have difficulty

[2018-10-08 08:12] kcoyle opened #449 "Defining validation"
The profile guidance document will include some statements about the validation of profiles. Digging into this deeper, it is going to be necessary to say what we mean by validation.

A set of validation rules can themselves represent a view, and thus a profile. Validation can be limited to a few "necessary" rules, or it can be strict and validate every constraint expressed in the profile.

There i

[2018-10-08 08:41] nicholascar opened #450 "Reference Data on the Web Best Practices"
This issue was formerly a Note in the document

[2018-10-08 08:52] nicholascar commented on #449
Currenty the ProfilesOntology contains a `ResourceRole` class to indicate the role played by various profile implementation documents. There is also a [demo vocabulary of Role instances](https://rawgit.com/w3c/dxwg/gh-pages/profilesont/resource_roles.html) (and [here in RDF](https://github.com/w3c/dxwg/blob/gh-pages/profilesont/resource_roles.ttl), some updated version of which will shortly be rol

[2018-10-08 08:59] larsgsvensson commented on #448
I'd prefer to keep "application". In my view, it's about tailoring data for a specific application ("application" in the sense of "usage", not of "software application").

[2018-10-08 09:02] kcoyle commented on #435
@nicholascar updated as indicated

[2018-10-08 09:05] nicholascar commented on #276
Yes, agreed, we want to do the pattern that the ISO does of a data model (ontology) that's fairly fixed but vocabs (instances) that can be publsihed somewhat separately and added to.

For this reason we kept the `ResourceRole` [insances](https://github.com/w3c/dxwg/blob/gh-pages/profilesont/resource_roles.ttl) separate from the [ontology](https://github.com/w3c/dxwg/blob/gh-pages/profilesont/profi

[2018-10-08 09:22] kcoyle commented on #276
@rob-metalinkage said: "example of a profile where the implementing resource has multiple roles" -

I do know of use cases (using Europeana vocabulary, as I recall) so if needed we can have a real example of a profile that returns information about guidance from a validation step. It's easy to find profiles that include UI information (display forms, short definitions) and even complex input rules

[2018-10-08 09:32] kcoyle commented on #450
DBs? Was this about referring to the _Data on the Web_ [best practices for metadata](https://www.w3.org/TR/dwbp/#metadata)? Or?

[2018-10-08 09:48] nicholascar opened #452 "Determine how to reference ResourceRole vocab"
Alongside the Profiles Ontology a vocabulary of ResourceRole instances has been made (see [the RDF file](https://github.com/w3c/dxwg/blob/gh-pages/profilesont/resource_roles.ttl) however the way this is referenced from the Profiles Ont doc has not yet been determined.

[2018-10-08 10:47] nicholascar opened #453 "Consider use of adms:identifier instead of prof:token"

[2018-10-08 10:54] bertvannuffelen opened #454 "vocabulary specification of VoiD is dead"
Dear,

a topic to be considered: the namespace domain http://rdfs.org/ns/void for the vocabulary https://www.w3.org/TR/void/ is down (404). Hence referencing this vocabulary creates a dead-link in the specification. It seems that the hosting organisation has removed the vocabulary.

I quickly scanned the text, it only refers to VoiD as to the w3c document. So an immediate impact on the specificati

[2018-10-08 11:17] nicholascar opened #455 "Provide an example of both a profile and a resource adhereing to it"
Currently we haven't actually articulated how a resource claiming to conform to a profile indicates that cliamed conformance. Is it by simple use of `dct:conformsTo`? If so, what's the pattern of going from a resource to the Profile it conforms to then to a Resource Descriptor with some sort of Constraints Resource Role so it can be tested?

[2018-10-08 11:59] kcoyle commented on #455
By "resource" do you mean instance data?

[2018-10-08 12:10] makxdekkers commented on #454
I have no problem accessing http://rdfs.org/ns/void#. It redirects to http://vocab.deri.ie/void.

[2018-10-08 12:11] makxdekkers commented on #453
@nicholascar Can you provide a description for the issue?

[2018-10-08 12:14] agbeltran commented on #454
It wasn't working earlier but it seems to have been fixed, possibly thanks to @philarcher's tweet (https://twitter.com/philarcher1/status/1049254726024552448)
thanks for pointing this out @bertvannuffelen - closing issue now

[2018-10-08 12:27] nicholascar commented on #454
Confirming it is indeed fixed. I emailed the owners of the system at DERI but it seems a few people did as they knew all out the issue and fixed it. Closing this issue now.

[2018-10-08 12:27] #454 closed, assigned to nobody

[2018-10-08 13:04] aisaac commented on #450
@kcoyle @nicholascar I guess so!

[2018-10-08 13:05] aisaac commented on #450
I'm changing the title myself. I am impatient to see it magically updated in the view for @nicholascar 's last PR :-)

[2018-10-08 13:38] nicholascar commented on #455
Yes, poorly worded of me since we have a *resource* property in use in the ontology too and it’s a general word.

So if I have a profile, described using the ont which may include Resource Descriptor instances for things like SHACL constraints, I’m now talking about an instance of the profile, like a metadata record claiming to adhere to the profile.

I’ll make an instance of my demo profile here

[2018-10-08 13:42] nicholascar commented on #453
Sure: we have a real need for non-URI identifiers for profiles when we need to referee to them where URIs are unsuitable, say in Query String Args in an HTTP API. We have, till now, presented a *token* property for the *Profile* class pointing to an *xsd:token* object for this but couldn’t we just use an *adms:identifier* instead? We can then fully implement *adms:Isentifier* instances with format

[2018-10-08 13:44] nicholascar commented on #450
I totally, totally, blame autocomplete for that one...

[2018-10-09 07:18] kcoyle commented on #449
Thanks, @nicholascar . That brings up another question for me: do we talk about validation (the act of validating) or do we talk about constraints (the definition of rules), or both? They are different, but sometimes are realized in a single code - that is, a SHACL document defines constraints but it also can be used to implement the act validation (checking the instance data against the defined c

[2018-10-09 07:38] kcoyle commented on #448
The ISO definition includes the phrase: "necessary to accomplish a particular function." That implies the "application" part of the term. In the GLAM* world, however, metadata is often not directly application-based. In fact, in that world metadata is designed to meet certain intellectual needs of description of resources, and applications must adjust to the metadata, not vice versa. This argues a

[2018-10-09 08:50] aisaac commented on #417
OK I miss the time the make a new suggestion for text, but I'm going to try to help by make sure that other comments that were made in @kcoyle 's PR about an earlier version of her text are visible in this issue, and can be tackled in future suggestions:
https://github.com/w3c/dxwg/pull/446#issuecomment-427430817
https://github.com/w3c/dxwg/pull/446#pullrequestreview-162323738
https://github.com/w

[2018-10-09 10:16] larsgsvensson commented on #448
When you say "not any specific application", do you mean "not any specific __software__ application"?

[2018-10-09 10:31] larsgsvensson commented on #449
This might be splitting hairs, but we probably need to differentiate between "a set of validation rules" and "validation", where the latter is the act of applying the former on some kind of data. In PROV-O terms the "validation" would be a `prov:Activity`, whereas the "set of validation rules", the data to be validated and the validation report are all `prov:Entity`s. The "validation" is performed

[2018-10-09 11:19] kcoyle commented on #448
@larsgsvensson I don't think I would limit it necessarily to software, but to any automated process. So in a sense my answer is "yes" but I might also include formal algorithms that could be implemented in more than one software solution. Could we use another term? "automated function?" "formal process?" To illustrate, I've written algorithms for de-duplicating files that can have more than one me

[2018-10-09 11:25] kcoyle commented on #449
@larsgsvensson I agree that validation is an activity, whereas the rules are what feeds into that activity. However, where do you stand on the question of constraints vs validation rules? Do you see them as the same thing, or different? And do we include written rules in non-actionable documents, as in the DCAT-AP PDF, or must constraints be implementable? (This is essentially where I am stuck, bu

[2018-10-09 11:53] rob-metalinkage commented on #449
We definitely include constraints expressed in non-actionable documents, but we should recommend that as far as possible constraints are written in a formalism that allows validation activities to be formed.
e.g. DCAT-AP has a partial SHACL implementation *non-normative I believe*.  All constraints should  be testable - even if it is manual inspection. So constraints SHOULD be expressed as validat

[2018-10-09 12:05] larsgsvensson commented on #449
@kcoyle scripsit:

_In this context_ I'd say that validation rules and constraints are the same thing (it's about constraining the set of possibilities). In order not to confuse them with OWL constraints (a different kind of beast) we'd probably better just use the term "validation rules" and not talk about "constraints".

Here I'm with @rob-metalinkage that we "include constraints expressed in no

[2018-10-09 12:16] larsgsvensson commented on #448
@kcoyle scripsit:

Thinking about this again, it might be better to say "any formal process", since validation can be a manual task, too.

Yes, sort of Postel's law. OTOH you could say that MARC is a profile of ISO 2709: You can use a generic parser to pick fields and subfields, but you need to know more about the semantics of fields and subfields to do the de-duplication. So the data was profiled

[2018-10-09 15:02] riccardoAlbertoni commented on #431
I agree with Makx's remark

and I strongly believe that users must read definitions and shouldn't solely rely on the class name.

However, I have also had the impression the dcat:resource is a quite confusing name. As a matter of fact,  in the document, the paragraph related to dcat:Resource is titled as ["Catalogued Resource"](https://w3c.github.io/dxwg/dcat/#Class:Resource)

 I suspect we'd bett

[2018-10-09 17:32] agreiner commented on #431
@riccardoAlbertoni I don't feel that the name change solves it, though I think moving away from an already overloaded term where possible is good. My concern is that I think that a different distribution would deserve to have its own catalog entry, certainly its own URL, so that people know the various options exist.

[2018-10-09 17:45] agreiner commented on #449
There are two kinds of validation relevant here. One is validation of profiles and another is validation of datasets against particular profiles. To meet the W3C publishing requirements for a rec, I think we need to enable the former. To help people understand how to write good profiles, we probably ought to provide at least some guidance about the latter as well.

[2018-10-09 17:59] agbeltran commented on #353
Current warnings shown related to this are here:

<img width="885" alt="screen shot 2018-10-09 at 15 49 37" src="https://user-images.githubusercontent.com/1417033/46688519-7bd85000-cbf5-11e8-815d-da921e6370c8.png">

[2018-10-09 19:13] kcoyle commented on #449
Great points, @agreiner , thanks. This is definitely something we should cover.

[2018-10-09 19:15] kcoyle commented on #353
I think this answers the question regarding normative references in
non-normative sections - they get flagged as errors.

kc

On 10/9/18 7:59 PM, Alejandra Gonzalez-Beltran wrote:

--
Karen Coyle
kcoyle@kcoyle.net http://kcoyle.net
m: 1-510-435-8234 (Signal)
skype: kcoylenet/+1-510-984-3600

[2018-10-09 19:16] dr-shorthair commented on #353
That is a very incomplete list in fact.

Those ones are easy to fix - remove the "!" before the specref.

However, there are also quite a few MUST SHOULD MAY and NOT sentences in the non-normative sections.  In those cases (a) they should be re-phrased using non-normative terms (b) if the content is required normatively, it should be copied down into a normative section.

[2018-10-09 19:33] dr-shorthair commented on #353
[It was suggested](https://github.com/w3c/dxwg/issues/353#issuecomment-423159765) to just add a **note** acknowledging the issue, and leave the fix until the next draft. Or is @draggett asking that it be fixed now?

[2018-10-09 19:39] dr-shorthair opened #457 "Re-write intro to DCAT"
We copied the Intro text from DCAT 2014.
It does not read much like an intro as it only mentions RDF serializations ... either the section needs s new title, or we need a better intro. At the least, need a motivation and background about dataset catalogues.

[2018-10-09 19:49] aisaac commented on #449
For the sake of our mental health, now that @agreiner has identified the dichotomy, I would prefer not to address the issue of validating profiles. Or just say that we expect profile expressions/representations to conform to whatever format/language/best practices they're supposed to follow.
First, we don't have a concrete requirement about it, I think. Second, it's quite obvious that a profile be

[2018-10-09 20:02] aisaac commented on #449
On the more general thread: I agree it's appropriate to distinguish validation actions vs validation rules. It may be splitting hair actually too, but it may bring some useful modeling for the profile ontology.

I'm less sure about constraint vs validation rules. In fact OWL constraints do "constrain the set of possibilities", it's just that they do it in an open world and that is quite different

[2018-10-09 20:03] agbeltran commented on #353
We do need to fix the warnings before 2nd PWD publication - the text can be treated now with a note and fixed later.

[2018-10-09 20:05] rob-metalinkage commented on #449
I think we do not need to say anything about validation processes - neither DCAT nor Profiles model the results of validation checks, so there is no explicit process we need to reference, hence no need to get too deep into defining them.

[2018-10-09 20:08] aisaac commented on #449
+1 for not venturing in the validation process, after we've identified that there's some process.

Ultimately probably all this is an area where we should stick very closely to the requirements we have and not get trapped in long discussion without having the list under our eyes and not venture beyond what we are asked to do to meet these requirements

[2018-10-09 20:48] agbeltran commented on #457
Agreed - the new intro is where we should also clarify that the initial DCAT was targetting more e-gov catalogues and that now we have expanded the scope to consider, e.g., research data catalogues.

[2018-10-10 04:13] dr-shorthair commented on #431
The name of the class was discussed at the f2f in Genova. The conclusion there was that the `dcat:` namespace was sufficient to indicate the scope of the class. Note that the `rdfs:label` of the class in the [RDF representation](https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat.ttl) (line 352 today) is "**Catalogued resource**" (the namespace is not visible there to give the hint) and this i

[2018-10-10 04:54] dr-shorthair commented on #156
@rob-metalinkage is this still alive?

[2018-10-10 05:21] rob-metalinkage commented on #156
Addressed with profiles ontology :-) https://github.com/w3c/dxwg/tree/gh-pages/profilesont

[2018-10-10 05:21] #156 closed, assigned to andrea-perego

[2018-10-10 05:40] dr-shorthair commented on #156
Good. Maybe take a look through if there any other issues that could be closed as a consequence.
https://github.com/w3c/dxwg/labels/profile-description
https://github.com/w3c/dxwg/labels/profile-guidance
I suspect there is more cruft in the tracker, but it is hard to fight past Nick's issue-blizzard.

[2018-10-10 06:50] dr-shorthair commented on #443
See https://github.com/w3c/dxwg/pull/459

[2018-10-10 09:27] agbeltran opened #460 "Add 'Security and privacy' section to all the documents"
During the publication process, W3C advice to add a 'Security and privacy' section to all the documents (even if indicating that is not relevant or not covered)

See https://www.w3.org/TR/security-privacy-questionnaire/

I searched for examples and found e.g. ODRL: https://www.w3.org/TR/2018/REC-odrl-model-20180215/#privacyConsiderations

[2018-10-10 19:07] nicholascar opened #461 "Conneg doc Security and Privacy"
This section needs discussion: whether to have such a section at all, if so, what's in it etc.

[2018-10-10 19:11] agbeltran commented on #461
As per #460, the section is needed for publication, even if you indicate that there are no security and privacy considerations for the document.

[2018-10-10 19:37] nicholascar opened #462 "Content for the Abstract Model section"
This issue is for the [Abstract Model Section in the Content Negotiation by Profile document](https://w3c.github.io/dxwg/conneg-by-ap/#abstractmodel).

[2018-10-10 19:46] nicholascar commented on #462
How should we define a list of actions (methods?) in the abstract that a client and server must/may etc implement? What formal function description languages are available? Should it be something like this:

[code]

[2018-10-10 19:55] nicholascar opened #463 "Determine where and how to describe the QSA implementation"
Currently the QSA realisation has no separate home document from the Conneg doc, as the HTTP realisation does with the IETF document. It looks therefore that this realisation needs to be fully described in the Conneg doc.

[2018-10-10 23:11] nicholascar commented on #385
I have created a repo for the jMeter test suite at https://github.com/CSIRO-enviro-informatics/prof-conneg-jmeter-test-suite for us to use for that implementation for the moment. I expect it will move but it's there for now so we can get a move on while waiting for a better location.

[2018-10-10 23:40] dr-shorthair opened #465 "Improve wording in Profiles ontology Abstract and Introduction"
The abstract is currently too terse and telegraphic.

The introduction launches into a description of the model without providing any motivation or context.

[2018-10-11 02:19] nicholascar opened #467 "Model implementation reporting as done in SHACL"
The [SHACL](https://www.w3.org/TR/shacl/) Recommendation contains a link to an [SHACL Test Suite and Implementation Report](https://w3c.github.io/data-shapes/data-shapes-test-suite/) that we should emulate to implementations.

[2018-10-11 08:20] dr-shorthair opened #470 "Move DCAT examples from Overview to an Annex"
Chapter 5 has become too long, with unrelated examples.
Needs to be stripped back to a single evolving worked example, and move the rest to a portfolio of more extended examples in an annex, or maybe a separate document or register. Applies to 5.7-5.9. Add just one new elaboration for services to chapter 5, but a simple one based on the existing (imaginary) example.

(From DCAT telecon 2018-10-11)

[2018-10-11 11:19] nicholascar commented on #465
Improvements merged

[2018-10-11 11:19] #465 closed, assigned to nobody

[2018-10-11 12:01] nicholascar commented on #463
Possible QSA functions:

* get profiles list (URIs) (client requests server)
  * ?_profile=list
  * Content-Type: text/uri-list

* get profiles list (non-URIs) (client requests server)
  * ?_mediatype=list&_mediatype={MEDIATYPE-TOKEN}
    * probably only text/plain, applications/json

* get mediatype list (URIs) (client requests server)
  * ?_mediatype=list
  * Content-Type: text/uri-list

* get m

[2018-10-12 16:28] agbeltran commented on #114
Addressed in https://github.com/w3c/dxwg/pull/442

[2018-10-12 16:28] #114 closed, assigned to makxdekkers

[2018-10-14 10:02] nicholascar opened #476 "Profile Guidance doc Abstract"

[2018-10-14 10:40] nicholascar commented on #417
Please close - issue addressed and relevant changes pulled to doc

[2018-10-14 10:41] nicholascar commented on #196
Please close - main structure both discussed elsewhere and now established in doc

[2018-10-14 21:28] agbeltran commented on #470
PR #471 merged

[2018-10-14 21:28] #470 closed, assigned to nobody

[2018-10-15 15:29] aisaac commented on #417
The issue is not addressed, there are still some comments pending as per the discussion above and the list to other tickets. For one, I can see that the intro still includes "Good metadata practice".

[2018-10-15 15:34] aisaac commented on #196
Agreed. #242 is more recent.

[2018-10-15 15:34] #196 closed, assigned to nobody

[2018-10-15 17:28] aisaac commented on #417
@nicholascar I'm not asking you to solve it btw. I guess that now that you were ready to close it, and @rob-metalinkage has chimed in on several aspects, moving on this issue is probably something @kcoyle and I could do at TPAC.

[2018-10-16 06:40] rob-metalinkage commented on #290
Profile negotiation requires an identifier for the profile to be passed from client to server, and from some source of metadata (such as the server itself) to the client (either at run-time or at some prior configuration step).

With MIME encoding based negotiation, tokens are registered at IANA

There will be potentially many more profiles across application domains than distinct encodings, as pr

[2018-10-16 06:49] nicholascar commented on #476
Initially adding in an abstract taken from the definition we have for Profile, just to include some text in doc rather than a blank space: commit https://github.com/w3c/dxwg/commit/2e816316e939a65f7d5e12565d61ecff503fc94a

[2018-10-16 06:54] kcoyle commented on #290
Added @rob-metalinkage 's comment to f2f agenda.

[2018-10-16 07:18] kcoyle commented on #476
I'm liking this statement from @rob-metalinkage in #290:
"There will be potentially many more profiles across application domains than distinct encodings, as profiles are simple content rules scoped to communities of practice, whereas encodings require software clients to be implemented."

We could rework this to talk about the difference between encodings and profiles in the introduction or abstr

[2018-10-16 20:33] nicholascar opened #478 "Profiles Guide doc Security and Privacy"

[2018-10-16 20:34] nicholascar opened #479 "Profiles Ont doc Security and Privacy"

[2018-10-17 09:47] larsgsvensson commented on #290
There was a longer discussion between @azaroth42 and @nicholascar in the google doc so I copy that here for completeness

Rob S:
-1, unnecessary complication and introduces non-uniqueness challenges. Short tokens are good for humans, but humans are not the actors for content negotiation. Each token would need to be publisher specific to avoid collisions, requiring additional time and architecture

[2018-10-17 13:39] nicholascar commented on #290
I have started work on a QSA dummy Implementation of the abstract model for profile neg that we have slated for the Conneg by AP document: https://github.com/CSIRO-enviro-informatics/profile-conneg-qsa-realisation

Not working yet but will by next week but the code’s goal is to implement, in a simple few file Python app, all of the QSA functions necessary to emulate the full set of HTTP profile Co

[2018-10-18 09:47] kcoyle commented on #371
Definitions have been moved. Should we close this and open another for the content of the definitions? The current ones could be pasted into an issue and we would work on the definitions there.

[2018-10-18 09:56] kcoyle commented on #374
We seem to have both related works and examples of profiles in this section. We should separate these. Related works would be other attempts to define what a profile is (e.g. DCAP, ADMS, perhaps ODRL); examples would be actual profiles (DCAT-AP, BIBFRA.ME). This would mean that we could put the profiles ontology in the "what is a profile" section as it describes profiles generally. So that would m

[2018-10-18 16:20] riccardoAlbertoni commented on #352
I think some explanations and examples would help users in a deeper understanding. Can we consider to add the following items to the document?
- An example of  dcat:landingPage for catalog
- An example/ note/ whatever suggesting that the use of foaf:homepage requires some extra care, in particular,
  1. foaf:homepage must not be used as a replacement for dcat:landingPage;
  2. Reasoning will consi

[2018-10-19 12:36] riccardoAlbertoni commented on #404
The choice between an OWL or UML diagram might depend on the kind of user target we want to address.

 A UML diagram addresses a larger audience and it is probably more effective in giving an overview of the data properties to use but it might also be a source of misunderstanding (e.g. OWA /CWA interpretations). So I am quite split about this.

[2018-10-19 12:43] agbeltran commented on #404
This is for the conceptual model section: https://w3c.github.io/dxwg/profilesont/#conceptualmodel

I think that if clearly stated that the UML diagram is for visualization purposes and that it should be interpreted within the open world assumption (as it was done in the revised DCAT spec), the UML diagram could be effective for a wider audience.

[2018-10-20 05:47] nicholascar commented on #371
Yes, that seems like a good idea, please close

[2018-10-20 06:17] kcoyle commented on #371
@aisaac I'll wait to hear from you on whether to close the issue on moving definitions and how we should work with the definitions themselves.

[2018-10-22 07:00] dr-shorthair opened #482 "Distribution composed of more than one file, but not packaged"
A Distribution may be composed of multiple files which cannot be used independently, such as a shapefile and its attendant sidecars (index and database files). These might not be packaged into a single distributable artefact, such as a tar or zip archive (see #54 and #259) . So a dataset's distribution, while a single entity, is composed of multiple artefacts. We need to show patterns about how th

[2018-10-22 08:57] davebrowning commented on #160
There was a battle re; access rights at the dataset level?

[2018-10-22 09:28] davebrowning commented on #434
@agreiner - so we can close this now?

[2018-10-22 11:48] larsgsvensson commented on #462
**Definitions for the "Abstract Model" section extracted from the I-D**

The I-D does not define much terminology. It does use the following:
* **profile:** "a document that expresses the structural and/or semantic constraints of other documents"
* **application profile:** "schemas which consist of data elements drawn from one or more namespaces, combined together by implementors, and optimised fo

[2018-10-22 15:33] larsgsvensson commented on #422
Looking at [§6 Realisations](https://w3c.github.io/dxwg/conneg-by-ap/#realisations) in the current ED, I wonder if it wouldn't be better to group the descriptions by use case, e. g.
* Profile Listing (#285, #286, #288, #73)
  * Realisation through QSA
  * Realisation through Conneg
* Profile Negotiation (#287, #289, #266, #265, #261, #74, #162, #217)
  * Realisation through QSA
  * Realisation thr

[2018-10-22 15:59] larsgsvensson commented on #86
I agree with @azaroth42 that this does not relate to `content_negotiation` nor to `profile_negotiation`, so I remove the tag.

[2018-10-22 16:05] larsgsvensson commented on #235
Should the tag for this one be `profile guidance` instead of `profile negotiation`?

[2018-10-22 20:33] aisaac commented on #235
@larsgsvensson indeed. I've changed it. There was 'profile-description' that seemed appropriate so I've added that one too.

[2018-10-22 20:36] aisaac commented on #160
There was a battle on rights in general: https://github.com/w3c/dxwg/issues/104

[2018-10-22 20:51] aisaac commented on #371
@kcoyle thanks for the notice. I am unpiling the notes from the last 4 days so may miss the context of the discussion. And may revise what I'm writing here...

But for the moment I still stand with the position I've expressed at https://github.com/w3c/dxwg/issues/242#issuecomment-409352612 and which used to be in the document (apparently it was removed this week-end). There I had suggested to put

[2018-10-22 21:14] aisaac commented on #404
I guess I don't have a strong preference, except that it doesn't matter as long as it's easy to read. Recent specs have gone for many variants:
https://www.w3.org/TR/vocab-dcat/#vocabulary-overview
https://www.w3.org/TR/odrl-model/#infoModel
https://www.w3.org/TR/vocab-duv/#Vocab_Overview
(and of course this one by @riccardoAlbertoni and I: https://www.w3.org/TR/vocab-dqv/#model ;-) )

These are s

[2018-10-22 22:06] aisaac commented on #374
@kcoyle I don't understand the starting point of your comment. This section (today, A.3, https://w3c.github.io/dxwg/profiles/#relatedworkdefns) is only meant to include definitions (from other works) as a way to contrast them with ours. The examples of profiles are already moved to another section (two, actually: 1.3 and 5).
It could be that some of the explanations about related work in 1.3 would

[2018-10-22 22:22] agreiner commented on #434
yes, I think so.

[2018-10-22 22:32] #434 closed, assigned to nobody

[2018-10-22 22:44] dr-shorthair commented on #374
As previously noted, the [OGC's Modular Specification](https://portal.opengeospatial.org/files/?artifact_id=34762) model encodes a related effort.
Clause 4 gives the terms and definitions, within which the following are immediately relevant:

# 4.9 direct dependency (of a requirements class)
another requirements class (the dependency) whose requirements are defined to also be requirements of this

[2018-10-22 22:49] rob-metalinkage commented on #404
This UML diagram was specifically a sequence diagram for the negotiation steps - as this isnt covered in RDF type info diagrams at all :-)  I need to have the object names and the sequences defined in the text then I will diagram them up.  (Assuming the sequence will be so simple we dont need straw men sequence diagrams during design phase to disentangle complex interactions!)

[2018-10-22 22:51] rob-metalinkage commented on #404
Likewise, I'm agnostic - UML has special types of arrows to shortcut subclassing relationships but the whole thing is so simple it shouldnt be a big deal.

[2018-10-22 22:58] dr-shorthair commented on #404
I used a UML IDE for the DCAT diagram. That makes it easy to layout and maintain, but means that some UML aspects cannot be adjusted.

If someone wants to re-draft it to be less UMLy then you are welcome.

[2018-10-22 23:21] rob-metalinkage commented on #404
note i deleted my comment here about sequence diagrams - that was for the conneg document :-)

[2018-10-22 23:22] rob-metalinkage commented on #404
but then again - this is assigned to me - and there isnt for for the conneg document - so maybe it was the right place and this is mis-labelled?

[2018-10-23 03:19] nicholascar commented on #404
@aisaac "...what counts as an 'OWL diagram', anyway..."
Just diagram using OWL classes and properties, as your DQV diagram does and the current diagram is this already.

Perhaps all I've not done so far then is to add in some colour!

[2018-10-23 04:30] kcoyle commented on #371
@aisaac I've looked at a handful of W3C recommendations (linked from the home page) and most of them cover "important terms" or "definitions" early on in the document. The manual of style doesn't mention term definitions. I suggested putting them early in the document just based on what I saw in other documents. I think the key thing is that they are linked in the text.

[2018-10-23 04:37] kcoyle commented on #374
@aisaac I was referring to the section in the introduction, currently at 1.3, not the appendix. My main comment on that section is [here](https://github.com/w3c/dxwg/issues/435#issuecomment-426928897). I wouldn't expect that section to be a list of profiles, but would use some existing profiles as examples of what we are talking about. It wouldn't go into great detail.

[2018-10-23 07:35] aisaac commented on #404
@nicholascar ok then I guess I'm fine with an "OWL diagram" if it's whatever renders the OWL ontology in a clear way - it's not very different from the UML diagrams after all.

I guess a conclusion to the issue is that yes there needs to be a diagram, and until further guidance it can be in whatever the editors feel appropriate?

[2018-10-23 07:43] aisaac commented on #371
@kcoyle ok we shall try to retain a linking, then!

I understand that definitions at first look good, especially in other specs. In the case of our definitions (at least the ones we have now) we could just keep the profile one in the intro.
My point in #242 is that the others (formalism, standard, specification) are going to require a lot of time to discuss.
Besides, they will look controversial a

[2018-10-23 07:47] aisaac commented on #374
@kcoyle ok I was confused because your comment starts with 'this section' and within the issue here, this section is the appendix, as the issue has been raised in the document in the context of the appendix.

@dr-shorthair thanks for the input. It's a bit overwhelming but gives a good example of the direction in which this section (the appendix labeled A.3 now) could go.

[2018-10-23 08:04] kcoyle commented on #371
@aisaac I agree. It isn't yet clear to me that we need to define things like "formalism" - maybe it would be better to use words that are less ambiguous.

So let's begin with having "profile" defined early on as part of our introduction, and drop the rest to the bottom of the document to be scrutinized when we get further along. Does that sound ok?

[2018-10-23 09:41] aisaac commented on #371
@kcoyle ok I can work this this evening.
@nicholascar @rob-metalinkage any objection?

[2018-10-23 10:36] nicholascar commented on #371
No objections from me. Makes sense that "profile" is our up front main definition and then others taht we need are perhaps demoted as being secondary.

[2018-10-23 10:36] aisaac commented on #374
(before I forget this) @nicholascar has started an example of comparing the definition of 'profile' in DCAP and in DXWG, which can be used for this section. This is in an email entitled 'ProfDesc representation of a DCAP' send on Sept 3 2018.
A wider thread branched out of the same original discussion (but without the material in the private mail) and could bring additional, useful ideas: https://

[2018-10-23 10:39] nicholascar commented on #374
The profile (a DCAP, expressed in DCAP DSP and Prof Ont terms) is here: <https://github.com/CSIRO-enviro-informatics/csiro-epub-dcap>

[2018-10-23 13:22] riccardoAlbertoni opened #483 "profile ontology: rdfs:Class vs owl:Class inconsistency between turtle and document"
Classes are defined as  "RDF class" in  profile ontology document (section 6) while they are  owl:Class in the TTL

[2018-10-23 13:26] aisaac commented on #371
OK PR #484 is up for you to approve! And I'm changing the description of this issue so that what's included in the guidance doc makes a bit more sense.

[2018-10-23 13:29] riccardoAlbertoni opened #485 "prof:profileOf sub-property of prov:wasDerivedFrom (!?)"
Is there any specific reason why the property prof:profileOf is not defined as a sub-property of prov:wasDerivedFrom?

[2018-10-23 14:23] riccardoAlbertoni opened #486 "property profileOfTransitive"
I guess the intention for profileOfTransitive was to replicate the modelling pattern adopted for the broaderTransitive and broader properties in SKOS.
In that case, I have two issues:

- I would consider renaming this property in "transitiveProfileOf". Of course,  I leave the last word to native speakers   but while "broaderTransitive"  works well to me, "profileOfTransitive" is a little confusing

[2018-10-24 07:13] kcoyle opened #487 "Profiles in relation to Data on the Web Best Practices"
_This is a very rough draft of a reading of DWBP in relation to profiles. I don't know if it fits into the document directly but using DWBP would fit this document into a W3C context. Obviously  if we use this it would include links to those BPs._

Using the assumption that a profile on the web has some characteristics in common with data on the web, we can look to the Data on the Web Best Practic

[2018-10-24 12:18] larsgsvensson commented on #461
I did a first shot at answering the questionnaire: https://www.w3.org/2017/dxwg/wiki/CnegPrivacyAndSecurityQuestionnaire. My proposal for a privacy and security section text would be
"The use of profile preference information during content negotiation adds information to that process that -- together with other information such as user agent, accept-headers, IP address etc -- can potentially be u

[2018-10-24 12:58] kcoyle commented on #450
_This is a very rough draft of a reading of DWBP in relation to profiles. I don't know if it fits into the document directly but using DWBP would fit this document into a W3C context. Obviously if we use this it would include links to those BPs._

Using the assumption that a profile on the web has some characteristics in common with data on the web, we can look to the Data on the Web Best Practice

[2018-10-24 12:58] aisaac commented on #487
This is a candidate solution for #450

[2018-10-24 15:56] larsgsvensson commented on #462
I don't quite understand the function `get_profile`. If a client calls the `get_profile` function, is that a request for the actual profile or for a resource that conforms to a specific profile?

I also don't understand the server functions. If we say that profile negotiation is a request-/response-pattern, I would expect that the client calls a function and that what is here modeled as server fun

[2018-10-24 16:51] larsgsvensson commented on #285
Perhaps the latter part of the sentence should read "the representation most appropriate for their use".

[2018-10-24 16:56] larsgsvensson commented on #266
This feels more like a solution than a requirement. A req could be: "There need to be an http-based mechanism to point to representations conforming to other profiles". Using Link-headers could be a way of implementing that.

[2018-10-24 22:36] dr-shorthair commented on #411
The matter of 'information equivalence' of 'Distributions' has come up in a couple of conversations I'm having:
- in remote sensing, each spectral band of an image is typically distributed in a separate file. Each has the same spatio-temporal footprint, but can be used independently - e.g. see https://github.com/radiantearth/stac-spec/blob/master/item-spec/examples/landsat8-sample.json
- in long-r

[2018-10-24 22:39] nicholascar commented on #285
Changed as per Lars' suggesting.

These requirements retain lineage - to check that changes like this don't break with the original intention - by being linked to from the originals in the Google Doc.

[2018-10-24 22:41] nicholascar commented on #266
Changed as per Lar's suggesting with the original wording indicated in the description

[2018-10-24 22:49] nicholascar commented on #462
I admit @larsgsvensson that this is far from polished! I tried defining functions above (badly) in order to separate from the HTTP client/server request/response directly but perhaps this is just confusing since all of our realisations (HTTP, QSA and perhaps REST) are all client/server-based.

I have changed `get_profile` to `get_profile_of_resource` for you first point and, for the second, I've r

[2018-10-25 01:25] rob-metalinkage commented on #462
I'm not sure the model is
get_resource_according_to_profile(resource, profile)

so much as
get_resource(resource,  prefs)
where prefs is a list of
aspect: [ordered list of options]

[2018-10-25 01:46] rob-metalinkage commented on #462
We should perhaps look at the style of this document and try to match it?

https://www.w3.org/TR/swbp-vocab-pub/#recipe6

[2018-10-25 03:10] nicholascar commented on #462
Sections 1.2 (Compliance), 1.2 (Notation Conventions) added to support Section 5 (Abstract Model) to which content has been added: https://raw.githack.com/w3c/dxwg/conneg-doc/conneg-by-ap/index.html (branch, no PR yet).

Sorry Lars, I had typed this all out before reading your comments above (didn't expect them now at this time of night for you). Will read the SWBP you link to next.

[2018-10-25 05:42] larsgsvensson commented on #462
Thanks for the updates @nicholascar. I'm not looking at the notational conventions (yet) but more at the general pattern and I'm pretty sure that we should focus on client-side functions with server-side responses since I we don't have a use case where the server initiates the conversation.

[2018-10-25 06:40] nicholascar commented on #290
Dummy (https://github.com/CSIRO-enviro-informatics/profile-conneg-qsa-realisation) seems to be now pretty complete.

[2018-10-25 06:44] aisaac commented on #290
Rename from "There needs to be metadata about the views provided by profiles (“named collections of properties”) that can included in a http header [ID5] (5.5)" to "Requirement: A short token to specify a profile may be used as long as there is a discoverable mapping from it to the profile's identifying URI"

[2018-10-25 06:47] aisaac commented on #289
Changing title from "Invocation of a profile may be by profile name, a schema choice, an encoding, and/or a language. (schema? And assume that encoding is type as in type="application/xml".) [ID5] (5.5)" to "When requesting a representation, a client must be able to specify which profile it prefers the representation to adhere to. This information about the requested profile is not a replacement f

[2018-10-25 07:02] rob-metalinkage commented on #264
The mechanisms for describing available profiles for a given resource should provide the tokens needed to perform content negotiation (i.e. metadata and protocol-level mechanisms should use the same identifiers)

[2018-10-25 07:07] aisaac commented on #265
Oct 24 2018: changed metadata to data

[2018-10-25 07:14] aisaac commented on #266
I think we should still (as part of the requirement derived from 5.30) list the "necessary relations": URL of the source document, etc (so, keeping the feature but removing the http link header that was suggested as solution)

[2018-10-25 07:21] nicholascar commented on #290
A demo of the QSA demonstrator linked to above is now online at http://13.236.122.60/qsa/

[2018-10-25 07:24] aisaac commented on #287
Duplicate of #217

[2018-10-25 07:26] aisaac commented on #217
This is a duplicate of #287 and should be removed

[2018-10-25 07:47] nicholascar opened #492 "Determine which examples of use are to be published in the Profiles Ont doc"
We have a series of existing profiles modelled using PROF already and we have to decide which of these, and any other examples, get included in the Profiles Ontology Doc (https://w3c.github.io/dxwg/profilesont/). Other examples might be listed elsewhere.

[2018-10-25 08:31] nicholascar opened #493 "Announce the PROF FPWD via email"
An email will be sent to communities requesting comment on the PROF FPWD. Here we list the content of the email and the list of organisations to be contacted.

[2018-10-25 08:34] nicholascar commented on #493
Email content:

The [Dataset Exchange Working Group](https://www.w3.org/2017/dxwg/wiki/Main_Page) has published a [First Public Working Draft of The Profiles Ontology](https://www.w3.org/TR/2018/WD-prof-20181025/) (PROF). This small ontology is designed to describe the resources required for a standard or a profile of one or more standards, such as schemas, ontologies, and rules, and for specifyin

[2018-10-25 08:45] davebrowning commented on #109
By my reading, this discussion has concluded (with the result that `contactPoint` is fine as is) so I propose to close this issue.

[2018-10-25 08:45] #109 closed, assigned to andrea-perego

[2018-10-25 10:12] larsgsvensson commented on #461
The use of http also makes it possible to geolocate the user and identify as a member of a specific institution!

[2018-10-25 11:09] nicholascar commented on #461
But we are not doing anything about the use of HTTP *per se* - the user's already doing that and this spec doesn't really deal with that any more or less than without this spec. The reason I mention this is that surely you don't have to recursively address all privacy issues a user might face to even get to using this spec's recommendations, only the new thing that this spec deals with. Else you w

[2018-10-25 11:45] larsgsvensson commented on #461
No, but we're supposed to address things people should watch out for even if they are only side-effects of the use of our specification, sort of "user, beware!". The W3C team contacts were very particular on that.

[2018-10-25 11:55] dr-shorthair commented on #81
I made a proposal for this in the Wiki page: https://github.com/w3c/dxwg/wiki/Qualified-relations#related-datasets

[2018-10-25 12:31] larsgsvensson commented on #251
The aligments `dct:format owl:equivalentProperty schema:encodingFormat` and `dcat:mediaType owl:equivalentProperty schema:encodingFormat` imply `dct:format owl:equivalentProperty dcat:mediaType` if `owl:equivalentProperty` is transitive.

[2018-10-25 12:32] agbeltran commented on #149
Some initial work on DATS/DCAT alignment is available here as JSON-LD context files:
https://github.com/datatagsuite/context/tree/master/dcat

[2018-10-25 13:18] agbeltran commented on #53
Dropping here a link to Wikidata identifiers as it was mentioned today in the F2F: https://www.wikidata.org/wiki/Wikidata:Identifiers

[2018-10-25 13:52] agbeltran commented on #68
DataCite specifies a set of identifiers types in this XSD: https://schema.datacite.org/meta/kernel-4.1/include/datacite-relatedIdentifierType-v4.xsd

[2018-10-25 19:14] smrgeoinfo opened #496 "rdf:property and owl:datatypeProperty, problem with poolParty import"
I'm trying to import dcat.ttl into a poolParty project, and errors are getting thrown along the lines of
[code]
It appears that this is because the property is declared
[code]
and according to [owl ref](https://www.w3.org/TR/owl-ref/) Both owl:ObjectProperty and owl:DatatypeProperty are subclasses of the RDF class rdf:Property. it looks like the rdf:Property declaration is leading to interpretatio

[2018-10-25 21:54] dr-shorthair commented on #496
Hmm. The axiomatization is not wrong, but the ` rdf:type rdf:Property ;` is unnecessary.
I'd be comfortable removing it.
Would it break anything that anyone knows about.?

[2018-10-26 05:18] kcoyle commented on #492
For the FPWD you might just point to the github folder with examples, or point to the individual examples. For the final document you could have an examples section, or you may decide to create a primer that has the examples if you have many of them. Having a primer would allow you to add any explanation that will help readers understand decisions, options, etc.

[2018-10-26 05:29] kcoyle commented on #461
Could we say that all P/S issues that are relevant to HTTP are also relevant here? without reiterating them, but giving the reader a direction to go in to follow up.

[2018-10-26 05:56] agbeltran commented on #496
```rdf:type rdf:Property;``` is unnecessary but it shouldn't affect either - @smrgeoinfo were you importing some other resource too?

[2018-10-26 07:13] dr-shorthair commented on #68
Yeah - DataCite hide a lot of useful stuff inside XSDs. Shame they aren't even tabulated somewhere!

[2018-10-26 07:25] agbeltran commented on #431
The difference is described in the CatalogRecord usage note (see https://w3c.github.io/dxwg/dcat/#Class:Catalog_Record): "It exists for catalogs where a distinction is made between metadata about a dataset or service and metadata about the entry in the catalog about the dataset or service. "

I would suggest to change to definition from
"A record in a catalog, describing the registration of a sing

[2018-10-26 07:31] makxdekkers commented on #411
@dr-shorthair I really like the approach you're proposing. I can see it solving a lot of the problems I've seen -- including people attaching per-year data to a multi-annual dataset.

[2018-10-26 07:41] makxdekkers commented on #411
@dr-shorthair Could it also work for granularities? E.g. the map of a region in different scales?

[2018-10-26 08:54] larsgsvensson commented on #461
@kcoyle Would this be what you mean:

"The use of http to negotiate and transport implies that all privacy and security issues that are relevant for that protocol are also relevant for profile negotiation. E. g., information such as user agent, accept-headers, IP address etc.  can potentially be used as identifying information, and particularly, the IP address adds information about geolocation an

[2018-10-26 08:58] aisaac commented on #364
Resolved at F2F 26 Oct: only the group of profile documents should appear in each of the profile-related documents; the DCAT document will remove the family of documents section
https://www.w3.org/2018/10/26-dxwg-minutes.html#x05

[2018-10-26 09:00] davebrowning opened #499 "DCAT-Rev profile to simulate 2014/DCAT-AP"
While the WG charter explicitly puts the production of profiles for 'narrow' domains out of scope, the possibility of creating a DCAT profile that has the effect of backward compatibility with the 2014 spec or DCAT-AP (details and precise goal tbd).

After discussion at F2F4,  the general feeling was that it was worth keeping this idea on the list, to be re-assessed for final decision closer to th

[2018-10-26 09:03] larsgsvensson opened #500 "Consider requirements for specifying the order in which content negotiation is performed"
It would appear that it will necessary to negotiate for profile before language or content-type.  Memento specifies that time-based negotiation MUST take place before any other negotiation.

[2018-10-26 09:10] larsgsvensson opened #501 "Registration of target attribute "profile" for the Link-Header"
The examples given for the use of the http `Link` header uses the target attribute `profile` that is not yet registered. Cf. https://tools.ietf.org/html/rfc5988#section-5.4

[2018-10-26 09:26] nicholascar commented on #499
We have a couple of draft Profiles Ontology representations of the DCAT, DCAT 2014, DCAT-AP & GeoDCAT & GeoDCAT-AP relations of course which will shortly be re-added back into the Profiles Ont doc now that it’s heading for FPWD.

We, in profiling land, would love to assist with this task to fill out the profiles’ parts to make them the very best of examples.

[2018-10-26 09:30] agbeltran commented on #482
One particular case for the multiple files of a distribution is that of the checksum files. This is something we want to include in DATS (see https://github.com/datatagsuite/schema/issues/11) and it would be good to have specific vocabulary to refer to them.

[2018-10-26 09:52] nicholascar commented on #501
I don’t understand as I see it register here:
https://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1

[2018-10-26 09:59] larsgsvensson commented on #501
https://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1 is the registry of link _relation types_ (i. e. what comes in `rel="..."`. The issue about `profile="..."` requires a new target attribute in `Link`

[2018-10-26 10:00] nicholascar commented on #500
Yes I think we need to although will an assertion in this doc be respected by other IETF docs?

Will the PROF-IETF doc, when accepted, necessarily reorder other conneg processes or, put differently, how will clients/servers  know  which order to believe in  the event of a collision of intentions? Does the IETF process sort out those issues before acceptance?

[2018-10-26 10:16] larsgsvensson commented on #500
The IETF document will have to say something on that topic, just as memento does. The question is what we will have to specify.

[2018-10-26 10:24] agbeltran opened #502 "Add dct:conformsTo to dcat:CatalogRecord"
This refers to #58 and discussions in the F2F

[2018-10-26 11:23] kcoyle opened #503 "Namespace for profiles ontology (and other things?)"
Pinging @nicholascar and @draggett to discuss here.

Note: suggestion that came up at lunch: /dx/

[2018-10-26 11:26] kcoyle commented on #461
Yes. That's even more than I would have said, but I think your proposal is better.

[2018-10-26 11:26] andrea-perego commented on #502
Examples of the use of `dct:conformsTo` with `dcat:CatalogRecord` are included in DQV:

https://www.w3.org/TR/vocab-dqv/#ExpressConformanceWithStandard

[2018-10-26 11:28] agbeltran commented on #503
duplicate of https://github.com/w3c/dxwg/issues/398

[2018-10-26 12:10] danbri commented on #251
my notes from yesterday towards a mapping tested by applying it to turning Google Dataset Search documentation into DCAT RDF is in https://twitter.com/danbri/status/1055787656318214144

The [python notebook](https://colab.sandbox.google.com/drive/1FKoN3HR69vqVN3fVH36E3MRkB7wSXGEt) runs a SPARQL CONTEXT query, based on consulting @dr-shorthair 's term mappings:

[code]

It would be interesting to g

[2018-10-26 12:25] azaroth42 commented on #261
@azaroth42 to add additional use cases specific to JSON-LD here.

[2018-10-26 16:22] aisaac commented on #364
I've tried to implement this resolution at https://github.com/w3c/dxwg/pull/506.
The result is visible at https://raw.githack.com/w3c/dxwg/guidance-new-document-overview/profiles/index.html#ProfileDocs
Hopefully it works for all documents.
Two notes:
- I've refrained from indicating the formal status of the documents now. It makes the section more robust wrt what will happen in the coming months.

[2018-10-27 01:03] smrgeoinfo commented on #496
Yes, there are various other ontologies in the workspace. I removed the rdf:Property declarations and the the error went away. But then I got a new error "An internal server error occurred. If this happens again, please contact your server administrator."  Not much to go on for debugging that; I wrote to the PoolParty developers to see if they have any ideas.

[2018-10-27 05:11] nicholascar commented on #496
@smrgeoinfo: “it looks like the rdf:Property declaration is leading to interpretation that the property is both and ObjectProperty and DatatypeProperty”

Is that’s happening it’s definitely a PoolParty error as you can’t infer *downwards* to more specialised subclasses like that. Definitely worth raising with Semantic Web Co

[2018-10-27 05:28] smrgeoinfo commented on #411
maybe dcat:derivedDistribution  for distributions that serialize (for spatial data) different scales or map projections, upsampling or down sampling.
dcat:serviceDistribution would be an end point that supports parameterized request for filtering, subsetting, and maybe does thing like dynamic visualization. ERDDAP and THREDDS servers, OGC servers would support this kind of access.

I like the idea

[2018-10-27 05:49] kcoyle commented on #251
Following on @larsgsvensson comment (and maybe this should be in its own github issue) all of the one-to-many equivalencies are implying that the "many" have the same semantics, which probably is not the case or schema.org would not have different properties. One could look at using subproperties here if that fits. @dr-shorthair

dct:spatial | owl:equivalentProperty | schema:spatial
-- | -- | --
 

[2018-10-27 07:49] agbeltran commented on #502
This would address "Metadata conformance with a metadata standard." from https://www.w3.org/TR/dcat-ucr/#ID14

[2018-10-27 11:00] kcoyle commented on #502
@andrea-perego Thanks, Andrea. It would be great if this could be given as an example when the work is done on examples (either in the document or in a primer) because it makes the usage very clear.

[2018-10-27 11:10] kcoyle commented on #251
I have another question about the 1-to-many entries. Wouldn't they only work in the direction of many-to-one? You can translate schema:datasetTimeInterval and schema:temporal (etc.) to dct:temporal, but if you are going in the direction from DCAT to schema.org, which of the three schema.org properties would you translate dct:temporal to?

It seems that if the two vocabularies in a cross-walk are n

[2018-10-27 13:32] aisaac commented on #492
+1 for pointing for the folder for the moment.

A Primer sounds a good idea but it adds another document that has "explanation that will help readers understand decisions, options, etc." - both Ontology and Guidance documents may have this...
Actually I'd make a bold suggestion: if the Prof model is not much different from the Guidance model (which we all hope will be the case) and if the number o

[2018-10-27 13:46] larsgsvensson commented on #496
In the second note about Properties, the [OWL 1 specficiation](https://www.w3.org/TR/owl-ref/#Property) says "In OWL Full owl:ObjectProperty is equivalent to rdf:Property". Don't know if that's relevant here, though...

[2018-10-28 00:12] nicholascar commented on #492
Very happy to work Prof Ont examples into the Guidance doc. We have many of the Guidance examples listed just with headings already modelled so I will tidy those up and PR them into Guidance. Perhaps then there will still be a need for snippets and one full example in the Ont doc (I’m just uncomfortable about having none!) but the majority of examples that keep the Guidance and Ont in sync will be

[2018-10-28 05:51] kcoyle opened #507 "What does prof:profileOf entail?"
Copying discussion from #486: [Karen](https://github.com/w3c/dxwg/issues/486#issuecomment-432291471), [Rob](https://github.com/w3c/dxwg/issues/486#issuecomment-432521577), [Karen](https://github.com/w3c/dxwg/issues/486#issuecomment-432543964), [Nick](https://github.com/w3c/dxwg/issues/486#issuecomment-432837732), [Karen](https://github.com/w3c/dxwg/issues#issuecomment-432917154). The basic questio

[2018-10-29 08:08] dr-shorthair commented on #411
@smrgeoinfo

Is that the inverse of [dcat:servesDataset](https://w3c.github.io/dxwg/dcat/#Property:datadistributionservice_servesdataset), which links from a `dcat:DataDistributionService` to a `dcat:Dataset` - see topology in [Figure 1](https://w3c.github.io/dxwg/dcat/#vocabulary-overview) - see examples at https://w3c.github.io/dxwg/dcat/#a-dataset-available-from%20a%20service and https://w3c.gi

[2018-10-29 10:45] rob-metalinkage commented on #501
profile is defined - and explained here https://tools.ietf.org/html/rfc6906

AFIACT it is consistent with our model, but not as explicitly defined (seems a bit vague really)

note that is says:
"Note that, at the same
   time, it is possible for profile target URIs to use dereferencable
   URIs and to use a representation (which is outside the scope of this
   specification) that represents the in

[2018-10-29 12:07] larsgsvensson commented on #501
I might have gotten this wrong, so apologies up front...
[RFC 6906](https://tools.ietf.org/html/rfc6906) defines the _link relation type_ "profile" (as in
`Link: <urn:example:profiles:1>; rel="profile"` relating the context URI to `<urn:example:profiles:1>` as the profile URI for the context URI).
The case I'm trying to model is that two URIs are linked through the relation "alternate" (saying tha

[2018-10-29 13:12] rob-metalinkage commented on #501
ahh - i see - you dont want the link relation "profile" at all - we need to explain this better both both cases.

so rel="profile" is to designate the profile of the current resource
and rel="alternate"  profile="X"

Agreed - we can see

what about the list of alternates (profiles) supported - does this need a special link rel too?

[2018-10-29 15:35] larsgsvensson commented on #501
@rob-metalinkage scripsit:

My suggestion is to have a `Link` header that lists the cartesian product of all media types and profiles as shown in [Example 2](https://w3c.github.io/dxwg/conneg-by-ap/#ex-2-using-a-link-header-to-point-list-available-profiles). Would that work for you?

[2018-10-29 16:55] kcoyle commented on #507
As profileOf has a range of profile, is it only to be used for profiles of profiles?

[2018-10-29 20:58] agbeltran opened #508 "Remove DXWG family of documents from the revised DCAT document"
as resolved in https://www.w3.org/2018/10/26-dxwg-minutes#ResolutionSummary

[2018-10-29 21:11] rob-metalinkage opened #510 "Review implications of OPTIONS cacheability"
reportedly HTTP OPTIONS are not inherently cacheable

is this a showstopper for this - we should discuss it anyway

we should consider whether we should force the one mechanism of link rels,

[2018-10-29 21:20] rob-metalinkage opened #511 "Support for existing QSA parameter names"
Many systems use query string argument (QSA) to control profiles of representations to be returned - even when not using this terminology. whilst much of this is ad-hoc, standard API specifications may include canonical parameter names for these concepts.  The specification proposed here is a recommendation in the absence of an alternative.  The implication however is that a canonical means to dis

[2018-10-29 22:14] nicholascar commented on #511
I don’t disagree Rob, just wanted to go end-to-end with a full Implementation using fixed terms to get all the functionally right before adding in other term flexibility.

[2018-10-29 23:49] rob-metalinkage commented on #507
ah - i think we could make the range dct:Standard or axiomitise the entailment

X a dct:Standard
X prof:profileOf X (the "null" profile)

i prefer to relax the range.

[2018-10-29 23:56] aisaac commented on #507
I was just about to comment about relaxing the range, so it's going to be a +1 on this one :-)

And about the semantics I'm not sure there should be much semantics put at this stage. Maybe once we've got all requirements considered... But for now I'm unsure about implications of what 'profile of' could mean. We've got different kind of profiles, and each of these types may imply a different type o

[2018-10-30 00:23] aisaac commented on #487
I'm not sure which manipulation made me close this issue for no valid reason, sorry

[2018-10-30 00:39] aisaac commented on #487
@kcoyle I think this is very good a starting point. I have not thought it through yet, though, because I'm contemplating a first basic question before diving in: shouldn't we have two levels of applying the BPs wrt profiles?
The first one, to which I believe a lot of what you have written belongs to, is applying BPs to the design/publication of profiles. I think this is good as 'design principles'

[2018-10-30 01:22] rob-metalinkage commented on #487
I think we are "all good" (now we have the profiles ontology as at least one mechanism to publish descriptions) - however its useful to reinforce these expectations in the guidance.)

many of these practices relate to deployment: e.g. BP12

The implementation I will do for the OGC will expose as a lightweight XML (not RDF/XML) and JSON-LD - these are general "Linked Data" concerns IMHO - how much

[2018-10-30 05:35] kcoyle commented on #507
@aisaac From what I can tell, the [DSP](http://dublincore.org/documents/2008/03/31/dc-dsp/) did not include the Singapore Framework relationships, so "uses" was not defined there. In SF, the relationship between a profile and vocabulary is defined:

"Description Set Profiles typically use properties and classes defined in standard Metadata Vocabularies such as the DCMI Metadata Terms."

This says

[2018-10-30 05:40] kcoyle commented on #487
@aisaac I'm about to hop on a plane but with a quick reading of your comment I think it is worth thinking about in this way. My text was just to capture what we can from BP but wasn't organized in any way. The next time my brain is working I'll think about how it might be organized in the document, taking your suggestions. Then maybe we can talk.

[2018-10-30 08:15] larsgsvensson commented on #510
I'm definitely not pushing OPTIONS as a way of listing profiles, so I'd be happy to remove that. It also means that there is one requirement less that implementers need to care about so it lowers the barrier...

And it should be mentioned that we rely on the blog post [NO OPTIONS](https://www.mnot.net/blog/2012/10/29/NO_OPTIONS) by Mark Nottingham here.

[2018-10-30 08:33] larsgsvensson commented on #288
tl;dr: IMHO this requirement is not in scope for conneg-by-ap.

The UC for this requirement is [Discover available content profiles](https://w3c.github.io/dxwg/ucr/#ID5). Having built up the motivation for the feature, the UC goes on to say:

Discoverability and invocation of profiles is handled by the abstract methods [list profiles](https://w3c.github.io/dxwg/conneg-by-ap/#listprofiles) and [get

[2018-10-30 10:04] #508 closed, assigned to nobody

[2018-10-30 10:20] aisaac commented on #507
@kcoyle thanks for the clarification. So 'uses' is not so much specified in DC. Which is fine by me. We probably need a relation that is quite abstract. And then we may need specializations with stronger semantics, to answer more specific requirements and the various motivations for profiles you've raised in #435 (indeed it's relevant here!)

In any case I think we should first agree that 'profile

[2018-10-30 10:24] #443 closed, assigned to agbeltran

[2018-10-30 12:59] aisaac commented on #487
@kcoyle this sounds great. I may be able to give it a thought myself, but you are probably going to be able to work on it before me...

[2018-10-30 14:23] nicholascar opened #513 "Complete attribution of term definitions"
In the profile conneg document https://w3c.github.io/dxwg/conneg-by-ap/#abstractmodelcontext

[2018-10-30 14:26] nicholascar opened #514 "Reference ARK"
This issue was created in the [Conneg by Profile document](https://w3c.github.io/dxwg/conneg-by-ap/) and is listed in it. Once consensus on addressing it is reached here in comments below, the results will be added to the document and the issue closed.

[2018-10-30 14:28] nicholascar opened #515 "Articulate profiles must be identified by URIs"
This issue was created in the [Conneg by Profile document](https://w3c.github.io/dxwg/conneg-by-ap) and is listed in it. Once consensus on addressing it is reached here in comments below, the results will be added to the document and the issue closed.

[2018-10-30 14:28] nicholascar commented on #515
Reference the point in the Guidance Doc that says this and the Ontology to describe the dependency of tokens on URIs.

[2018-10-30 14:33] nicholascar opened #516 "Refer to OAI-PMH as an implementation of QSA"
This issue was created in the [Conneg by Profile](https://w3c.github.io/dxwg/conneg-by-ap) document and is listed in it. Once consensus on addressing it is reached here in comments below, the results will be added to the document and the issue closed.

[2018-10-30 14:35] pwin commented on #507
daft laddie question:  if we are relaxing range of prof:profileOf then shouldn't we make the classes (e.g. Profile and ResourceDescriptor) disjoint?

[2018-10-30 14:47] #463 closed, assigned to nicholascar

[2018-10-30 14:47] nicholascar commented on #463
Clearly now done in doc

[2018-10-30 15:04] nicholascar commented on #507
This would follow the DCAT Dataset/Distribution disjointness I suppose? Depends on how much relaxing is going on! If relaxation to dct:Standard (my preference as this then allows profiles of standards and other profiles) then this wouldn't be needed although it might be a good idea anyway.

[2018-10-30 21:02] agbeltran commented on #70
Is the same pattern we indicated for Datasets and Distributions (https://w3c.github.io/dxwg/dcat/#license-rights) applicable here for dcat:CatalogRecord?

[2018-10-30 22:00] agbeltran commented on #432
Dropping here this link to an example implementing ```dcat:DataDistributionService``` provided by @nicholascar:

http://linked.data.gov.au/dataset/gnaf?_format=text/turtle

[2018-10-30 23:30] nicholascar opened #519 "Emulate dcat:mediaType instead of dct:format"
We use dct:format with range dct:MediaTypeOrExtent in several places. Should we emulate DCAT and introduce a prof:mediaType or reuse dcat:mediaType property with a range of just dct:MediaType?

[2018-10-31 03:39] nicholascar opened #520 "Illustrate transitivity with diagrams"
To further spell out that PROF provides for a profile transitivity patterns and what the pattern is, we could quote the transitivity illustration from SKOS https://www.w3.org/TR/skos-primer/#sectransitivebroader in the PROF ont doc.

We then need to indicate that while PROF provides the pattern, it doesn't provide the mechanics and explanation of specific situation results (inference results).

[2018-10-31 04:01] nicholascar commented on #507
Range of profileOf and profileOfTransitive relaxed from prof:Profile to dct:Standard (of which prof:Profile is a subClassOf) in commit https://github.com/w3c/dxwg/commit/be299e465b76d99a2a36c1df681840bbed15dbbd

[2018-10-31 05:22] nicholascar commented on #520
Issue addressed in commit https://github.com/w3c/dxwg/commit/1c165cca1fd1ac342f2ade9b6017ad6f41c1c6f9

[2018-10-31 05:31] nicholascar opened #521 "Consider the addition of a conformanceTarget property"
Following the OGC's Modular Specification [[modspec]], consider adding a property conformanceTarget (domain: prof:Profile, range: ?) that allows for the linking of Profiles to the *sorts of thing* or *instances of the sorts of thing* that are expected to conform to it.

What might the inverse property of this be?

[2018-10-31 15:05] kcoyle commented on #507
Great, thanks Nick. Now we need to understand how we are defining profile and how we are defining profileOf in relation to profile. These may need to depend on clarifications in the guidance document, but this seems to me to be a strong interrelation between the ontology and the guidance document, and we should keep both in mind while working.

[2018-10-31 15:13] riccardoAlbertoni commented on #507
I think this discussion might also relate to issue "prof:profileOf sub-property of prov:wasDerivedFrom" https://github.com/w3c/dxwg/issues/485

[2018-10-31 15:16] kcoyle commented on #521
Nick, can you give a functional link to the OGC spec? Thanks.

[2018-10-31 15:37] kcoyle commented on #507
@riccardoAlbertoni , thanks. I really like the idea of "was derived from" because it allows the derived profile to differ and doesn't force it to be hierarchical. It may be that both are needed in profileOnt to cover both the hierarchical and the non-hierarchical derivations. I also think that "was derived from" is more conceptually similar to the DC Singapore Framework's "uses". It makes a connec

[2018-10-31 17:15] smrgeoinfo commented on #521
In answer to @kcoyle question [The Specification Model - A Standard for Modular specifications (08-131r3) ](https://portal.opengeospatial.org/files/?artifact_id=34762)

[2018-10-31 17:27] smrgeoinfo commented on #521
An example spec using this approach:
https://docs.opengeospatial.org/is/16-008/16-008.html .
Requirements for three standardization target types are considered:
• Logical Model
• Encoding
• Data instance.

[2018-10-31 18:08] smrgeoinfo commented on #521
The Energistics Energy Industry Profile of ISO 19115-1:2014 (v1.1) (https://www.energistics.org/wp-content/uploads/2017/03/EIP_v1.1.pdf) Defines a URI to identify instance documents conforming to the profile in section 4.2.9 Metadata Standard:
http://w3.energistics.org/energyml/profiles/EIP/v1.1/metadataStandard_citation.xml

[2018-10-31 19:36] nicholascar commented on #485
The relationship has occurred to us but we are not sure it’s Really a derivative relationship. It may be a subPropertyOf prov:wasInfluencedBy instead.

Happy to bash this one out here.

[2018-10-31 20:08] smrgeoinfo commented on #435
What is a profile for?   My answer would be that the purpose is to convey to an agent (human or software) information necessary for it to determine whether the target of a hypermedia affordance ([machine actionable link](http://usgin.github.io/usginspecs/ContentModelForLinks.htm)) is available in a representation (serialization + vocabulary + conventions) that the agent can use for some process it

[2018-10-31 20:21] nicholascar opened #524 "Examine JSON-LD Framing specification for relation to Profiles abstract model"
https://w3c.github.io/json-ld-framing/

[2018-10-31 20:29] nicholascar opened #525 "Define conformance target and implementation evidence for Guidance doc"

[2018-10-31 20:31] nicholascar commented on #525
What does W3C require as implementations for a Guidance document?

[2018-10-31 20:43] nicholascar opened #526 "Should the Guidance doc recognise existing, non-interoperable, profiles as valid"

[2018-10-31 20:45] nicholascar commented on #478
Answer this W3C questionnaire to assist with answering this:

https://w3ctag.github.io/security-questionnaire/

Here are the CNEG answers:

https://www.w3.org/2017/dxwg/wiki/CnegPrivacyAndSecurityQuestionnaire

[2018-10-31 20:47] nicholascar commented on #364
Dealt with in doc

[2018-10-31 20:47] #364 closed, assigned to nicholascar

[2018-10-31 20:48] nicholascar commented on #428
Text removed

[2018-10-31 20:48] #428 closed, assigned to nicholascar

[2018-10-31 20:49] smrgeoinfo commented on #507
Seems to me a basic problem here is defining 'profileOf', which partly depends on what we want to use this for, see discussion at https://github.com/w3c/dxwg/issues/435#issuecomment-434829948. I think what is useful is to be able to say that for some Profile X of Specification Y, a resource conformingTo profile X also conformsTo specification Y. This requires that there is some conformance test fo

[2018-10-31 20:52] nicholascar commented on #371
Closing

[2018-10-31 20:52] #371 closed, assigned to nobody

[2018-10-31 20:58] nicholascar commented on #369
There is a mechanism within the [Profiles Ontology](https://w3c.github.io/dxwg/profilesont/) for giving resources within a profile a *role* (`ResourceRole`) and a role could be *guidance* and defined to be human readable and the vocabulary of roles already present in the ontology already contain a *guidance* role.

[2018-10-31 21:02] nicholascar commented on #229
There is a mechanism within the [Profiles Ontology](https://w3c.github.io/dxwg/profilesont/) for giving resources within a profile a *role* (`ResourceRole`) and a role could be *conformance* and defined to be for machine-readable constraints. The example vocabulary of roles includes such terms.

[2018-10-31 21:02] smrgeoinfo commented on #367
This section should reference and summarize ISO/IEC TR 10000-1:1998 Information technology -- Framework and taxonomy of International Standardized Profiles -- Part 1: General principles and documentation framework, and ISO 19106:2004 Geographic information -- Profiles; There are various profiles of ISO19115 for metadata-- Energistics, INSPIRE, BlueNast, various national profiles.

[2018-10-31 21:27] kcoyle commented on #507
The other complication is that "conforms to" can be very complex between profiles and vocabularies. That instance data conforms to a profile is one thing. But profiles are by their nature decisions that differ from their base standard (whether a vocabulary or another profile) or else they wouldn't exist. How they differ can be pretty variable - some add constraints, some add vocabulary terms, many

[2018-10-31 22:14] rob-metalinkage commented on #507
There is currently NO notion of a relationship  "conformsTo" between profiles in either identified requirements or the ontology - this relationship is between data instances and profiles. If there is wording in docs that suggests this it needs to be corrected.

This suggests the "conformance Target" discussions for both profile guidance doc #525 and individual profile descriptions #521 need to be

[2018-10-31 22:44] smrgeoinfo commented on #507
I revised my original comment. The conformance issues isn't about profile A conforming to B, its about resource instance conformance.  If there are not testable implications of asserting that some resource conforms to A, which is a ProfileOf B (the basic entailment question that started this conversation), then what is the use of making the assertion? It would boil down to little more than asserti

[2018-10-31 23:31] rob-metalinkage commented on #507
@smrgeoinfo - thanks - that clarification will hopefully help us back out of this rathole :-)

Note that the profiles ontology, which provides an implementation pathway for these concerns, allows us to reference multiple artefacts with different roles - and these roles can include conformance validation - or guidance. They are agnostic of the actual language (none seems perfect and universally app

[2018-11-01 00:10] nicholascar commented on #288
I suggest removing label profile-negotiation and leaving profile-guidance to let the gGuidance group examine this Requirement.

[2018-11-01 00:30] nicholascar commented on #367
Thanks for the listing Stephen. I (and Rob of course) are across 19115 & 19106 but not (or at least not me) across 10000.

I've started with Profile Ontology examples in the ontology doc (see https://raw.githack.com/w3c/dxwg/profilesont-doc/profilesont/index.html#examples - not in the main doc yet as not complete) and there we'll ad some examples of profiles in hierarchies. After the purely Prof O

[2018-11-01 00:32] nicholascar commented on #287
I've added a label 'due for closing' so we can tag issues that look like they are ready for a subgroup decision to close.

[2018-11-01 00:36] kcoyle commented on #435
@smrgeoinfo Thanks for that. Our charter asks us to define and create guidance for profiles in general, not specifically DCAT profiles. With that in mind, could you revise/devise an answer that is not specific to DCAT? I think the new wording would begin after "whether the target ... " It would be great if you could complete that sentence. Much appreciated!

[2018-11-01 00:52] kcoyle commented on #507
@rob-metalinkage said: "This becomes very relevant to the "flattening" discussion too - no one ever duplicates every vocabulary they use in a "flat" profile. i.e. they are never truly standalone (nor would they be useful if they were)."

I disagree with this, and this tells me that we aren't talking about the same thing. A profile lists every property that is _intended_ to be used by users of that

[2018-11-01 01:04] agreiner commented on #507
Excellent point, @smrgeoinfo! To answer @rob-metalinkage from the other thread,  I don't dispute the existence of cases where hierarchical relationships exist between profiles. That is central to the concept of profiles. My concern is that we address real-world use cases for making additional statements about those relationships. I can see that it could be helpful to point out that a certain profi

[2018-11-01 01:12] nicholascar commented on #404
Due for closing as we are using an improved version of the current 'OWL' diagram for now.

[2018-11-01 01:12] nicholascar commented on #462
Due for closing as we have a section with content. Other issues can be raised for improvements.

[2018-11-01 01:25] nicholascar commented on #483
Thanks for pointing out this obvious error. All doc references changed from RDF Class (which was just copied from DCAT) to OWL Class with link to the OWL syntax spec, see commit https://github.com/w3c/dxwg/commit/8145dec094340ebdbb12e29aa9443b9107b05f3b.

Rob please review.

[2018-11-01 01:37] rob-metalinkage commented on #435
@smrgeoinfo - we have implemented a profiles ontology to meet precisely these concerns.  It also is limited to those concerns _not_ expressable in other canonical vocabularies.

So it does directly define all the properties a given community may need to define a specification - but under the open world assumption things like skos:Definition, prov:wasDerivedFrom, dc:author would be appropriate.

w.

[2018-11-01 03:31] rob-metalinkage opened #527 "Add section on conformance"
There has been some confusion, and discussion around the actual conformance target for profiles. To clarify this two steps are proposed - support for stating this in profile descriptions #521 and updating the abstract model of profiles and introduction.

Proposed text something like:
<text>
Specifications relate to requirements that instances of objects must conform to - i.e. the "conformance targ

[2018-11-01 05:38] nicholascar commented on #492
Two examples now in ProfOnt doc: a basic profile described and a small hierarchy. Likely there will be one or two more examples to demo all parts of the ontology. When complete there, we will be more easily able to decide what examples the Guidance doc might benefit from.

E.g. in the Prof Ont doc all in words, diagrams & RDF.

[2018-11-01 07:13] nicholascar commented on #485
From [PROV-O' explanation of wasDerivedFrom](https://www.w3.org/TR/prov-o/#wasDerivedFrom):

*"A derivation is a transformation of an entity into another, an update of an entity resulting in a new one, or the construction of a new entity based on a pre-existing entity."*

It is appropriate to say directly that `:DCAT-AP prov:wasDerivedFrom :DCAT` when taking about the provenance of DCAT-AP as a *t

[2018-11-01 12:48] kcoyle commented on #288
I think we can distill something usable from this but not take it whole-cloth. The part about "how to invoke the offered profiles" seems out of scope for the profile guidance document. That is because profgui isn't going into how to use profiles, only what they are and how to publish them. I do think that the guidance should address the issue of discoverability and make some suggestions on how to

[2018-11-01 18:10] smrgeoinfo commented on #288
I agree the 'how to invoke' is probably out of scope; it should be sufficient for the profile representation document (whether graph, html, xml...) to specify the protocol; clients will be expected to look for affordances using protocols the client implements.

[2018-11-01 18:49] smrgeoinfo commented on #435
@kcoyle I revised language to talk about '[hypermedia affordance](http://amundsen.com/blog/archives/1109)', which I believe is the generalized concept we're interested in.

@rob-metalinkage sounds like we're on the same page, but isn't this dxwg project more about the information model/vocabulary for describing a specification and its relationship to other base specifications (if it's a profile)?

[2018-11-01 20:23] smrgeoinfo commented on #411
Yes I think it would be

[2018-11-01 21:50] dr-shorthair commented on #411
@smrgeoinfo the `DataService` class, and its sub-classes, is perhaps the key innovation in DCAT-rev. It seemed to most of us that an API is sufficiently different to a representation (serialization) that it was worth treating them separately.

Note that we have had comment elsewhere (from Clemens on the comments email list [here](https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Oct/00

[2018-11-01 22:22] dr-shorthair commented on #521
Also see this paper: [Configuration management of a system of interdependent standards](https://doi.org/10.1109/SIIT.2011.6083604) as mentioned in https://github.com/w3c/dxwg/issues/72#issuecomment-382207466

[2018-11-02 00:47] kcoyle commented on #435
Possible wording about conformance (if we decide to address conformance) [here](https://github.com/w3c/dxwg/issues/486#issuecomment-435219146).

[2018-11-02 01:53] dr-shorthair commented on #521
![figure 1](https://user-images.githubusercontent.com/608303/47889448-23b40700-de9e-11e8-9e8e-fa300ee9ca5f.png)
_Figure 1. Conceptual model of normative dependencies in ISO/TC 211 standards_

![figure 2](https://user-images.githubusercontent.com/608303/47889462-3b8b8b00-de9e-11e8-9c74-b5f3beb48286.png)
_Figure 2. Conceptual model of a modular standard (from OGC, 2009)_

[2018-11-02 09:46] azaroth42 commented on #261
From discussion at TPAC, adding JSON-LD relevant scenarios:

Given the graph,
[code]
available at `https://example.org/graph/1`

## 1. Client has no preferences

The server has some data (as per example above) and wants to make it available.

The server must be able to do what it wants, in the case of no content negotiation preferences expressed by the client.  It must be able to express the choic

[2018-11-02 10:11] nicholascar commented on #261
Thanks for the explanation Rob. I'm starting to come to terms with the JSON-LD methods and motivations. Yes your characterisation of 6. seems to be correct to me.

Perhaps we have an issue here with overloading of the term 'profile'? I think I see very different schema-like (JSON-LD) and information model-like (scenario 6.) use going on here.

[2018-11-02 12:16] kcoyle commented on #487
_Here's my first pass at reordering the best practices using the document outline. Again, this is not the text suggested for the document, this is an analysis of BPoW in relation to our work, without saying how we would use it._

Using the assumption that a profile on the web has some characteristics in common with data on the web, we can look to the [Data on the Web Best Practices](https://www.w3

[2018-11-02 16:14] smrgeoinfo commented on #411
Isn't a dcat catalog just one more variety of registry? The important thing is information model for the descriptions of items in the catalog (i.e. the subtypes of resource). The interesting thing to me about dcat is not Catalog, but Dataset, and adding DataService is an excellent improvement. Maybe there is an argument that the vocabularies for describing different kinds of resources should be in

[2018-11-03 00:20] smrgeoinfo opened #529 "FPWD comment: use dcat:Distribution for Resource"
In the Figure 1. OWL [owl2-overview] diagram of this ontology, the ResourceDescriptor class is basically an associationClass that associates a resource with the Profile in some role with some purpose.  There might be multiple representations of this resource available, and these will have different linking information (URL, Mime Type etc.). The dcat:Distribution class is defined to model exactly t

[2018-11-03 21:57] kcoyle commented on #526
Notes from the minutes of the meeting:

there are existing things that are called profiles in the wild. Does the guidance document recognize those
20:42:36 [roba]
    Should guidance about profiles identify existing practices using implicit profiles as valid examples or as prior work only
20:42:38 [kcoyle]
    ... as valid profiles, or non-conformant prior work?

(_Aside: non-interoperable or non-

[2018-11-04 07:07] dr-shorthair commented on #526
Of course they are valid! However, existing profile documents might not be formulated so rigorously...

A key thing here is to be clear about the distinction between an instance of a _profile_ as the conceptual thing, and one or more cencrete artefacts which express and support it, including the guidance documents, schemas ontologies and shapes documents, controlled vocabularies, etc. Many legacy

[2018-11-04 16:42] davebrowning opened #530 "Data catalogs should not treat services as first class citizens"
(Issue created to track comments received on Second PWD of DCAT Recommendation from Clemens Portele - email archived [here](https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Oct/0002.html))

The rationale for making services first class citizens in data catalogs is not clear to me. The model of DCAT 1.0 is in this area, in my view, clearer and more useful from an end user perspective.

[2018-11-04 16:45] davebrowning opened #531 "Profiles and distributions"
(Issue created to track comments received on Second PWD of DCAT Recommendation from Clemens Portele - email archived [here](https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Oct/0002.html))

Additional question about the interplay of profile choice and distribution:

Say I have a dataset of buildings and it is made accessible according to two different profiles (e.g. two different XML

[2018-11-05 09:32] makxdekkers commented on #531
This issue seems to be related to the discussion about 'informational equivalence' between distributions. If I understand correctly, serving up data according to a particular profile will deliver a different set of data -- assuming a profile will always deliver a selection/subset of the available data. If we require informational equivalence, in the sense that, for distributions A and B, a transfo

[2018-11-05 11:04] nicholascar commented on #382
Info about profile in Accept/Content-Type needed

[2018-11-05 11:26] agbeltran commented on #530
Including here an extract of other comment received from Luca Trani (message available [here](https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Oct/0003.html)) with reference to data services and more clarifications needed:

"In particular, the introduction of additional resources (beyond Dataset) as first-class citizens in a Catalogue was definitely required and we accommodated that b

[2018-11-05 11:37] larsgsvensson commented on #65
If this is only about selecting content that is packaged using schema.org, this issue is out of scope for profile-negotiation.

[2018-11-05 15:43] riccardoAlbertoni commented on #485
+1 to @nicholascar  that was my implicit suggestion ;)

I think prov:wasInfluencedBy leaves prof:profileOf too underspecified. It actually subsumes generation and other relations that do not properly characterize prof:profileOf. Anyway, I am open to change my mind if anyone has an answer to my original question.

[2018-11-06 04:13] rob-metalinkage commented on #531
Each distribution can have multiple values of dct:conformsTo to indicate profiles the distribution conforms to. Different distributions can conform to different sets of profiles.

The range of conformsTo is dct:Standard

The profiles ontology subclasses dct:Standard - so the mechanisms are available for the declarations required.

The issue of enforcing informational equivalence seems fraught howe

[2018-11-06 04:49] nicholascar opened #534 "Harmonise property labels"
Some of the ontology's properties start with a has-, like `hasRole`, `hasResource` but not all do, like `token` and the inverse  properties `hasProfile` and `profileOf` don't follow the same naming pattern. Also, in some places, like the example diagrams and the RDF ontology, property names are inconsistent.

Best practice for property naming, as exemplified by the SSN ontology, is to use has- and

[2018-11-06 04:58] nicholascar commented on #534
I have harmonised property names across all HTML, RDF & image resources, including examples in a branch. I have prepared this pull request: https://github.com/w3c/dxwg/pull/532 showing the changes.

[2018-11-06 05:02] nicholascar opened #535 "Update Roles vocab and publish W3C styling"
The `ResourceRoles` vocabulary published formerly only as an RDF file (https://github.com/w3c/dxwg/blob/gh-pages/profilesont/resource_roles.ttl) and an image (https://github.com/w3c/dxwg/blob/gh-pages/profilesont/resource_roles.png).

Following discussion with Dave Raggat, Ralph Swick and others within F2F4, it was suggested that the vocab be published as an auxiliary document in W3C styling now,

[2018-11-06 05:04] nicholascar commented on #535
I have created an updated vocab document here: https://raw.githack.com/w3c/dxwg/profilesont-doc/profilesont/resource_roles.html and have created a PR to bring it, and updated RDF & img files, into the head gh-pages branch: https://github.com/w3c/dxwg/pull/532.

Currently no direct references (links) from the ontology document point to this vocabulary as it hasn't been 'live'. Such links will need

[2018-11-06 05:05] nicholascar commented on #406
All content transferred long ago, due for closing.

[2018-11-06 05:08] nicholascar opened #536 "Link to the Resource Roles vocab in the Profiles Ont doc"
Currently the Resource Roles vocab is referenced in the Prof Ont doc (see last para https://w3c.github.io/dxwg/profilesont/#introduction) but no actual link is given. [PR  532](https://github.com/w3c/dxwg/pull/532) brings the Resource Roles vocab into W3C styling and updates it so now a link to that doc needs to be added.

The reason for this whole issue here is that how it is referenced needs dis

[2018-11-06 05:37] nicholascar commented on #513
All terms now listed (Sec 2) are attributed.

[2018-11-06 05:50] akuckartz commented on #534
I doubt that there is consensus that this is considered a "best practice".

[2018-11-06 06:19] rob-metalinkage commented on #534
I see some pros and cons for this proposal:

pros:
- there has been a lot of discussion about what defines a profile vs what properties a profile has.. and the is/has dichotomy probably helps here
- now is the best time to make any such changes - people are looking and after it goes into the wild its harder to change
- there is no installed base we need to keep happy yet
- there is no change to th

[2018-11-06 06:42] nicholascar commented on #379
Motivation & Intro not overlapping so ready for close.

[2018-11-06 06:43] nicholascar opened #537 "Harmonise definitions across Profile docs"
Currently the definitions sections for the Guidance & Ontology docs need updating and the Conneg doc is updated but now different and probably needs further updating.

We need to solicit feedback in the FPWDs on the granularity of definitions and, when we have a result, ensure that the same definitions are used in all 3 docs.

[2018-11-06 06:53] nicholascar opened #538 "QSA Profile Conneg realisation must support QSA discovery"
If the QSA realisation of the profile conneg Abstract Model (https://w3c.github.io/dxwg/conneg-by-ap/#abstractmodel) doesn't mandate the use of particular QSA keys (such as `_profile` & `_mediatype`) then it needs to provide a way for users to discover what QSA keys are used.

[2018-11-06 07:24] makxdekkers commented on #531
@rob-metalinkage I do not understand your statement that you haven't seen a 'cogent argument'. Is it that you haven't seen any arguments, or that you think that arguments made are not cogent?
Let's try this argument: Suppose there is a dataset that says it contains the data for the budget for the year 2019. As a user, I think it would be reasonable to expect that every one of the distributions con

[2018-11-06 10:37] agbeltran opened #540 "References in profile negotiation document"
The references to the profile guidance document and the profiles description ontology say "Editors' Draft" but point to TR URLs that don't exist yet.

https://w3c.github.io/dxwg/conneg-by-ap/#bib-prof-guide

[2018-11-06 10:41] agbeltran commented on #540
This includes the link to
https://profilenegotiation.github.io/I-D-Accept--Schema/I-D-accept-schema/ (giving a 404), which it should be:
http://profilenegotiation.github.io/I-D-Accept--Schema/I-D-accept-schema.txt

[2018-11-06 11:56] agbeltran commented on #378
Dropping here the link to the wiki where definitions were discussed:
https://www.w3.org/2017/dxwg/wiki/ProfileContext

The document currently defines: formalism, specification, standard and profile.

There are mentions to "application profiles", "metadata application profiles", "metadata profiles" - as equivalent - is the intention to clarify these definitions too?

[2018-11-06 12:02] nicholascar commented on #540
Should actually be https://profilenegotiation.github.io/I-D-Accept--Schema/I-D-accept-schema (no trailing slash)

[2018-11-06 12:04] nicholascar commented on #378
We haven't worked that out yet @agbeltran! We have a series of other terms in the conneg doc too in Definitions, e.g. *client* & *server* but they are all from the HTTP & URI RFQs.

We plan to take feedback on the definitions needed from the WG and also from the public after FPWD release.

[2018-11-06 12:20] agbeltran commented on #378
Thanks @nicholascar - I know there is the issue about normative and non-normative sections but maybe it would be better to have the definitions in one single place, combining [section 2](https://w3c.github.io/dxwg/conneg-by-ap/#definitions) and [section 5.1](https://w3c.github.io/dxwg/conneg-by-ap/#abstractmodelcontext)?

[2018-11-06 14:10] larsgsvensson commented on #540
@agbeltran does https://raw.githack.com/w3c/dxwg/larsgsvensson-editors-list/conneg-by-ap/index.html look OK to you?

[2018-11-06 14:17] larsgsvensson opened #542 "Clear up references in conneg-by-ap"
The [use of `localBiblio` is discouraged](https://github.com/w3c/respec/wiki/localBiblio), instead we should use the [references database](https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#references) wherever possible.

[2018-11-06 14:38] pwin commented on #531
@makxdekkers  would https://w3c.github.io/dxwg/ucr/#ID50 come into play here?  ... a flag could indication if the distribution was the result of a lossy transformation of the dataset

[2018-11-06 14:45] agbeltran commented on #540
thanks @larsgsvensson - yes, I think all the references are ok in that branch

[2018-11-06 14:52] larsgsvensson commented on #540
OK, thanks. Then we just wait for @nicholascar or @rob-metalinkage to merge that branch.

[2018-11-06 15:00] agbeltran opened #543 "Add list of contributors to the DCAT document"

[2018-11-06 15:01] makxdekkers commented on #531
@pwin Indeed. The important part in the use case is "these events do not reduce the information content" which to me sounds a lot like "informationally equivalent".

[2018-11-06 15:04] pwin commented on #411
@smrgeoinfo  - aren't these DAP/2 and similar sophisticated APIs for slicing and dicing?    I don't think that the web application, the front end bit, should be included,  whereas a specialised API should be in scope.

[2018-11-06 16:05] kcoyle commented on #378
@agbeltran We talked about the placement of definitions in the guidance document. Placing them all at the beginning was seen (by @aisaac) to be unfriendly to readers, who probably aren't ready for all of that so early in the document. At the same time, without a definition of profile at the very beginning the early text is ambiguous. I don't have a suggestion, just putting this here for context re

[2018-11-06 16:17] agbeltran commented on #378
thanks @kcoyle - but it might have been a cache issue in my browser before, as the latest version of the document has now all the definitions in the same section at the beginning:

https://w3c.github.io/dxwg/conneg-by-ap/#definitions

[2018-11-06 16:23] kcoyle commented on #450
Here is the respec guide on referencing best practices:

https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#best-practice-documents

[2018-11-06 16:30] kcoyle commented on #487
Here is the respec guide on how to reference best practices:

https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#best-practice-documents

[2018-11-06 18:58] nicholascar commented on #378
Alejandra meant the Conneg doc, not the Guidance doc but yes, they are in one place now after the latest update.

[2018-11-06 21:16] aisaac commented on #378
Indeed it was for the Profile Guidance doc that I didn't like to have all the definitions at the beginning. I would say that I don't like much that the Conneg doc, either. But but for now I certainly I won't object to what the editors of the Conneg prefer.

[2018-11-06 21:21] aisaac commented on #534
My recommendation on this is to get labels harmonized and discuss prefered convention later. After all, this issue is only about getting labels harmonized :-)

In any case transition to FPWD cannot result in enshrining anything like this.

[2018-11-06 21:23] agbeltran commented on #378
I was referring to the conneg doc before, but I'm actually in favour of putting all the definitions in a single section in all the documents - this works like a glossary that one reads when needs clarification of the terms used across the document (and people can choose to read all the definitions in one go or not)

[2018-11-06 21:27] aisaac commented on #536
At this stage just add it in the same place as the rest, please!
There's no evidence that it's better to separate them, as there's no obvious reason to judge one part is less mature than the other.
As per the point I've tried to convey in the F2F in Lyon, the ability to allow extensions of role shouldn't be an argument against providing a list of roles as a default. That list can then be extended.

[2018-11-06 21:41] aisaac commented on #535
Sorry but your reflection on F2F4 doesn't match my own position there, which I've mentioned at https://github.com/w3c/dxwg/issues/536#issuecomment-436414686
I believe that we should have all the default roles in the main vocabulary, just like the Web Annotation model and vocabulary do. I'm ok revisting this later, when/if W3C has something. For the moment I would go for the simpler option.

[2018-11-06 22:07] aisaac commented on #378
@agbeltran you mean to have the definitions in one section in one doc, which would be refer to from other docs? Or each doc has their own section, possibly redundant with the one of other docs?

[2018-11-06 22:18] aisaac commented on #526
I'm not sure I understand this issue. Trying to rephrase: do we mean that there are profiles that exist prior to our recommendations and that do not follow them, and the questions are whether (1) we agree to name them profile and (2) we seek to judge them as valid or not?

On (1) I'm keen to recognize as profiles everything that matches our definitions even a bit losely - especially if it names it

[2018-11-06 22:37] aisaac commented on #507
@agreiner I think I would rather postpone the discussion on what profileOf entails in terms of conformance until we've finished our requirements. So for the moment I would concur with you that  profileOf is at the level of an annotation.
BUT we're trying to enforce best practices in terms of structuring and linking data, so when a note-level bit of data is about expressing that there is a relation

[2018-11-06 22:45] aisaac commented on #485
So I guess a resolution on this issue depends on how we close #507.
But I have to say that my experience with PROV is that it's likely that any property will include some domain or range declaration that will be quite strong. And that is going to bring us to endless and unnecessary discussions about whether the inherited domains and range make sense :-/

[2018-11-06 22:57] agreiner opened #544 "Query string implementation of profile selection"
I understand the value of offering an example of how to implement selection of a dataset by its profile in ways other than using content negotiation. My expectation has been that we would describe one example of how a system could be designed to enable requests for datasets that implement specific profiles. I would expect that to appear in the profiles guidance document. The conneg document, howev

[2018-11-06 23:00] rob-metalinkage commented on #526
Its not the profiles which are non-interoperable - its the descriptions which cannot be interoperable without a canonical description formalism..

so we can retrofit an interoperable description to any prior profile work - so long as those profiles conform to our semantics.

A "lump of green putty" is not a profile..   a "specification inspired by but not actually interoperable with another spec"

[2018-11-06 23:36] smrgeoinfo commented on #411
Its just that those front end apps are built into the servers that implement the API, and I suspect (unfortunately I don't have hard data...) that a lot of users use those web apps to get the data they need, so its really useful to be able to provide links to them in metadata; currently in the ISO world the distribution is most commonly used for that. Any ERDDAP, THREDDS OPENDAP users out there wa

[2018-11-07 00:18] agreiner commented on #288
I don't think hardly anybody uses sitemaps anymore.

[2018-11-07 00:28] agreiner commented on #411
We use PyDAP as a handy way of making custom slices of HDF5 files shareable. It gets used particularly heavily by climate researchers. I agree that the collections we make available with that are well described as DataServices. The difference in my mind is that they are meant for human consumption rather than programmatic consumption.

[2018-11-07 00:49] agreiner commented on #536
I agree that the roles should go in the profiles ontology doc.

[2018-11-07 01:26] agreiner commented on #482
I have a use case where we have log files that we release as datasets. One "log" could contain hundreds of raw files, making it impractical to treat each as a separate dataset. They are often grouped in multiple layers of directories, such as a directory per cabinet, and within that a directory per chassis, and within that a directory per slot, etc. We've been releasing them as a single gzip, but

[2018-11-07 07:10] aisaac commented on #288
Hardly anybody uses sitemaps? As in 'sitemaps to be consumed by search engines'? This is still step 1 of SEO in many cases...

[2018-11-07 07:39] aisaac commented on #404
Fine with me. Maybe one suggestion (which I'd let you editors decide on, freely) to use UML style for subclass arrows.

[2018-11-07 08:43] larsgsvensson commented on #288
+1 to @aisaac
Can perhaps @danbri weigh in on this?

[2018-11-07 09:23] aisaac commented on #526
@rob-metalinkage I think I see where you're going to: you would like to describe 'old' profiles with our apparatus and see whether that works? If yes, then this sounds good to me. I guess this is what I had in mind for some of the 'example/implementation' stuff at the end of the Profile Guidance doc.

[2018-11-07 09:27] makxdekkers commented on #482
This seem to be a completely new requirement. And, given the resource and time constraints, I think it will be hard to incorporate a solution in the current revision of DCAT. I also think that it might be difficult to define a single approach/vocabulary that covers all possible relationships -- even the three examples from @dr-shorthair, @agbeltran and @agreiner seem to require different solutions

[2018-11-07 09:33] davebrowning opened #545 "Add support for errata in Req track documents (e.g. DCAT)"
Its likely that our deliverables will have errors that only come to light after ratification.  There are a number of ways this has been addressed in use by other groups.  The easiest seems to be a link to a simple page where potential errata can be recorded and/or processed (subject to W3C procedure, of course).  This is the approach used for 2014 DCAT recommendation [here](https://www.w3.org/2001

[2018-11-07 10:10] rob-metalinkage commented on #526
@aisaac  that is my Use Case for implementation - I need to describe all the existing OGC specifciations, including profile relationships, and then set up tooling for communities to publish more specific profiles as they need them... just waiting for ontology to hit some visible status - maybe 2PWD - or even FPWD if we are not getting requests to change - so I can implement and get feedback from t

[2018-11-07 13:43] nicholascar commented on #536
I have seen several scenarios where code lists are published within a spec "to be extended" but then never are: ISO19115 (old and new versions), IGSN models with sample type and others. People wanting to extend the lists have no go-to place close to the spec to publish extensions for others to reuse.

Here we want to initially publish a vocab independently (at least a different doc) from the ontol

[2018-11-07 14:18] dr-shorthair commented on #482
@agreiner I wonder if this is just another case of part-whole, as discussed in #411 (proposed new property `dcat:componentDistribution`) ?

@makxdekkers Yes - I tend to agree - our docket is quite full. However, perhaps we can recommend the solution agreed for #256 (i.e. use `dct:relation` ) and leave stronger semantics to another day.

[2018-11-07 14:57] kcoyle commented on #536
I'm going to agree with @aisaac - a list of clearly obvious roles should at least be included in the document. For the FPWD the current roles could be listed and that would elicit feedback. Anything that is not in the document is less likely to be seen and commented on. That they are in the FPWD document does not determine where they could be in future versions.

[2018-11-07 17:48] agreiner commented on #288
That is sitemaps as a form of site navigation. Look around any major site and see how readily you can find a site map.

[2018-11-07 18:32] aisaac commented on #536
@nicholascar I would add that creating a place for people to put extensions can be done besides adding a set of roles in the main spec. You can still create your extension place besides the main spec, as Web Annotation have done.
One may argue that 'seeding' the roles could help, but whatever you do, there will always be a difference of status between the 'first, DXWG born' roles and the others. A

[2018-11-07 18:59] agreiner commented on #482
dcat:componentDistribution seems like it would work for my use case. dct:relation, if restricted to files that have no relationship, would not. The tricky bit is to find a place to use componentDistribution. I don't fancy giving people separate RDF descriptions for each of the hundreds of files in a set. I would really like to have a property of a distribution that is a list of component parts, by

[2018-11-07 19:51] makxdekkers commented on #482
@agreiner You can always use `dcat:accessURL` and link to a page or directory where you files live, with a README file to explain what the files are. Or even use `dcat:landingPage` on the Dataset description to link to such a page.

[2018-11-07 20:04] larsgsvensson commented on #288
@agreiner scripsit:

Ah, I assumed that @kcoyle meant XML-Sitemaps.

[2018-11-07 20:13] akuckartz commented on #538
I am not a huge fan of QSA, but I suggest that this discovery should also work for mandated keys.

[2018-11-07 20:50] larsgsvensson commented on #513
Handled in the document.

[2018-11-07 20:50] #513 closed, assigned to nicholascar

[2018-11-07 20:51] larsgsvensson commented on #379
Decision in CNEG meeting 2018-07-11 to close as resolved.

[2018-11-07 20:53] #540 closed, assigned to nicholascar

[2018-11-07 20:54] larsgsvensson commented on #515
Closed through PR

[2018-11-07 20:54] #515 closed, assigned to nicholascar

[2018-11-07 21:14] larsgsvensson commented on #462
Closed in CNEG meeting 2018-11-07

[2018-11-07 21:14] #462 closed, assigned to nicholascar

[2018-11-07 21:20] larsgsvensson commented on #461
Closed in CNEG meeting 2018-11-07

[2018-11-07 21:20] #461 closed, assigned to nicholascar

[2018-11-07 21:23] larsgsvensson commented on #287
This has been addressed in the conneg-by-ap document.

[2018-11-07 21:37] agreiner commented on #482
That would certainly work for the purposes of getting things into a catalog in a helpful way. What I've been hoping for is a way to reason about these things using RDF. I realize the main purpose of DCAT is just to let people catalog datasets, but it is so close to being useful for this use case, and there are now several related use cases that seem like they would benefit, it just seems a shame n

[2018-11-07 21:37] azaroth42 opened #546 "Normative requirement for list profile tokens operation"
Post FPWD:

https://rawgit.com/w3c/dxwg/conneg-doc/conneg-by-ap/index.html#requestsandresonses

Operations 1 and 2 are MUST, but there is no normative assertion about what clients are to do with the list profile tokens operation.

Proposal:  Servers MUST implement the specification (yes, I know this is not what the informative text says).

Rationale: If the server does not use tokens, then the res

[2018-11-07 22:14] aisaac commented on #280
As per our call on June 12 2018 (https://www.w3.org/2018/06/12-dxwg-minutes) we had decided to rename this requirement from "Profiles should be able to indicate what external standards are expected to be applied/have been applied to the data provided.[ID43] (5.43)" to "Profiles should be able to indicate which external specifications are expected to be applied/have been applied to values of indivi

[2018-11-07 22:35] aisaac commented on #268
This requirement as been approved but it needed to be rewritten from "A vocabulary or data model can be a profile of several other vocabularies or data models at once" to something else. There were four suggestions:
- A profile can be based on several data models or vocabularies at the same time
- A profile can be dependent several vocabularies or data models at the same time
- A profile can be de

[2018-11-07 22:55] aisaac commented on #270
The resolution mentioned on the Google doc expresses that we've removed "(constructs, axioms...)", I'm removing it.

[2018-11-07 23:05] aisaac commented on #275
Could this be reworded as "data" or "(meta)data"? It's perhaps better to make it more general.

[2018-11-07 23:20] kcoyle commented on #275
The issue here was the use of "properties" and whether that applies only to RDF. So "or metadata terms" was (awkwardly) added to show that solutions other than RDF are included. Any wording that you can come up with that gets that across would be acceptable to me.

[2018-11-07 23:24] aisaac commented on #272
NB: this requirement was APPROVED with agreement that it may need to be re-worded or shortened

[2018-11-08 01:40] kcoyle commented on #272
Yes, it was assumed that the UCR group would propose better wording. You should feel free to do so.

[2018-11-08 07:15] nicholascar commented on #536
A compromise might be to both list instances of Resource Roles in the Resource Role definition and examples using real Resource Role instances in the ontology. This way, real Roles are present in the ontology for discovery and use, along with lists to the full and growing vocabulary of all Roles, but we head off "the 'first, DXWG born' roles and the others" which is, indeed, my main goal here.

Th

[2018-11-08 07:20] nicholascar commented on #538
@akuckartz a standardised function would return all the keys that an implementation uses for profiles, Media Types, etc. and this would be required to be implemented for all QSA implementations, even ones that use the "standard pattern" keys of `_profile` & `_mediatype`. I already have many API instances that use `_view` & `_format`.

This function would really be the starting point function that

[2018-11-08 07:27] nicholascar commented on #280
I'm adding the label profile-description just in case the Ontology needs to know about this Requirement.

[2018-11-08 12:39] kcoyle commented on #536
Looking at the SSN document, the roles are not even described. I don't know what the intention of that document is in relation to roles but I don't see it as analogous to profont, where the roles are really essential to the purpose of the ontology. I still vote for a list of initial roles in the FPWD, and we'll see how they play out for the final document. But I can't imagine that even the final d

[2018-11-08 12:52] aisaac commented on #536
@nicholascar I'll need your help as I'm not familiar with SSN. It seems the results there are a whole module/extension with its own classes and properties too, isn't it?
The situation for PROF is a bit different then, as the property that relates to roles is in the core ontology, so it would be legitimate that the roles to be used with it appear in the core, if we expect (and recommend) them to be

[2018-11-08 12:58] aisaac commented on #272
I will probably have to pass for now...

[2018-11-08 12:59] aisaac commented on #275
ok I won't add to the currently ongoing work by suggesting new wording now, but this is worth keeping in mind, thanks.

[2018-11-08 13:10] aisaac commented on #526
@rob-metalinkage this sounds very good, and I'd be happy to include (at least a part of) it in the Guidance doc.

[2018-11-08 15:02] davebrowning commented on #482
While its clear that we have quite a bit to do, I'd prefer that we don't absolutely rule a problem area out  quite yet.  We have a list of high priority requirements  referenced [here](https://lists.w3.org/Archives/Public/public-dxwg-wg/2018Nov/0210.html) as discussed and agreed at the F2F, and a target date of mid-January for the rec-track work.  We've also talked about generating more examples a

[2018-11-08 17:46] smrgeoinfo commented on #482
For distributions that are aggregations, pointing to something like an [OAI-ORE resource map](http://www.openarchives.org/ore/1.0/rdfxml) would be a solution.  See also [DataOne discussion of packaging](https://releases.dataone.org/online/api-documentation-v2.0/design/DataPackage.html#package-content-associations-using-oai-ore) for an implementation

[2018-11-08 17:59] smrgeoinfo commented on #280
seems like this is related to the whole what does 'profileOf' question.  What does applying an external specification to something mean?  If it means that instances that are the target of this 'applying' conform to some requirements (conformance class) in the 'external specification', then what is the difference between this and saying 'profileOf'?

[2018-11-08 21:38] azaroth42 opened #548 "Clarify abstract list operations can be realized in a single API"
(conneg)

The two abstract operations for listing could be implemented in a realization using a single call, e.g.
[code]
As a response includes the list of URIs _and_ the short token to use for it.
If this is an acceptable realization, this should be clarified in section 5.

This is covered a little bit by:

But this text is not repeated for list profiles tokens. Propose to abstract the text and m

[2018-11-08 21:47] azaroth42 commented on #510
:+1: to removing. OPTIONS is not a common pattern for this sort of thing, and has the potential to conflict with CORS requirements.

[2018-11-08 21:52] azaroth42 commented on #501
:+1: to this issue. There isn't a registry for parameters on the link header entries, so this would require a new RFC to add the parameter, obsoleting 5988.

[2018-11-08 21:55] azaroth42 opened #549 "Consider HTTP 300 as realization for list profiles / list tokens"
OPTIONS is not cacheable, and there isn't a profile parameter for the Link header construct ... so ... how about an HTTP 300 Multiple Choices response?

HTTP 300 says:

This would allow the response to describe the URIs of the representations, and their metadata, thus including both profile URI and token, if any. The disadvantage is that it would be a custom response format, but one that is likely

[2018-11-08 22:23] nicholascar commented on #536
Yes, the SSN ont has such an extension. The Reference to the SOSA document wasn't to suggest that Roles might be a module within PROF - just a vocab -  but the reference was just to show another W3C document referring to non-normative individuals in examples.

It would indeed be legitimate but is it preferable? I think not, given the static nature (after completion) of the ontology but the dynamic

[2018-11-08 22:30] nicholascar commented on #272
In PROF terms a Profile, <http://example.org/resource/profile-x>, SHOULD have this:

[code]

[2018-11-08 22:34] nicholascar commented on #280
@smrgeoinfo there may be no difference - can't say for sure yet! This is a result of us still having to tidy up all of the Requirements we've had placed on the Profile Guidance doc. There are many Requirements that are similar or even duplicates, we just need time to deal with them all still.

[2018-11-08 22:48] nicholascar commented on #548
Yes, I think we may be able to tidy things up, as you say, with fewer operations. Certainly a QSA Realisation - or any realisation able to respond with complex data structures like JSON - might only need one function for the current two.

My worry is for HTTP where a Profiles listing in a link header may not have the expressive power to list URIs & tokens and, within HTTP, there's no need anyway a

[2018-11-09 02:52] nicholascar commented on #534
Due for closing as the issue has been resolved in the now merged https://github.com/w3c/dxwg/pull/532

[2018-11-09 09:31] aisaac commented on #536
OK so if there's not a full module this also means that the price to include some roles in the nromative part is very small. I really, really don't see the point of making everyone's life (especially the one of the reader of the spec) more complex at this stage. Again:
- we don't have any idea that there will be a W3C registry for real
- even if there are roles in the normative set they can still

[2018-11-12 00:31] aisaac commented on #269
Apparently this one was rejected. Frankly I'm not sure why anymore.
@kcoyle would you have a recollection of this?

[2018-11-12 03:06] rob-metalinkage commented on #269
I can't guarantee I remember any discussions correctly, but I am reasonably sure we currently have no supporting Use Case for such a requirement.  It seems to be a speculation about possible combinatorial models with no real world examples or requests to consider it to meet some need.

[2018-11-12 06:07] nicholascar opened #551 "Harmonise Ont/Conneg references and content"
The last part of the [motivation section of the prof-ont document](https://w3c.github.io/dxwg/profilesont/#motivation) refers to machine interpretation of profiles and how the ontology could help in conneg with fallback options (e.g. retrieving a more generic version of a requested resource, which the server could not deliver, based on a profile link). Then, a note points to the prof-conneg docume

[2018-11-12 14:02] aisaac commented on #379
As part of my reviewing, I actually disagree with this: the second small paragraph of the motivation does overlap with the last paragraph the intro. And once this would merged, there is not much interest to one one paragraph of motivation standing alone. It would be a good addition to the current intro, making it more clear what we mean, that is not negotiation by Media-Type or Language

[2018-11-12 14:03] aisaac commented on #379
Just to be clear: I don't think the text in either section reads bad. But I see it could be quite easily merged.

[2018-11-12 15:51] kcoyle commented on #269
The discussion is in this meeting minutes: https://www.w3.org/2018/07/17-dxwg-minutes. That supports what Rob says, that we didn't have a use case for it.

[2018-11-12 17:06] larsgsvensson opened #553 "Improve naming of §6.1 and §6.2 in conneg-by-ap"
Change names of the headings in §6.1 and §6.2 of conneg-by-ap to "HTTP Headers" and "URI Query String Arguments" respectively.
This is factored out as a quick editorial fix from #544 so that we can correct this one for the FPWD.

[2018-11-12 21:05] agbeltran commented on #551
This issue is the one that I submitted in a [message](https://lists.w3.org/Archives/Public/public-dxwg-wg/2018Nov/0300.html) to the mailing list. This PR https://github.com/w3c/dxwg/pull/554 adds a link to this issue in the prof-ont document.

[2018-11-12 21:12] agbeltran commented on #404
+1 to using UML style for subclass arrows, I think it would make the diagram clearer

[2018-11-13 02:02] nicholascar commented on #404
@agbeltran agree in principle, it's only a practical thing preventing me from implementing this: I can't make open arrowheads in PowerPoint easily! I'll work out how to do this or ultimately use another diagramming tool in final versions if I can't.

[2018-11-13 06:27] agbeltran opened #555 "Unfishined renaming of properties in profiles ontology causing loading error"
In the commit https://github.com/w3c/dxwg/commit/6477e3f894e0952bc0ae48329c89f10130732e5c related to #534, one property name remained unchanged. This line:
https://github.com/w3c/dxwg/blob/78a2a3d79dbad042f4c324b91f1f4f69847cf7e3/profilesont/profilesont.ttl#L131
has ```profileOf``` instead of the newly defined ```isProfileOf``` causing errors when loading the ontology in Protege.

Also, several of

[2018-11-13 06:37] agbeltran commented on #534
Getting the labels harmonised is important and except for what I reported in #555 and proposed fix in #556, it should be ok in the ontology.

In terms of the names themselves, I would have preferred the shorter names (e.g. ```profileOf``` rather than ```isProfileOf```) but this is only about naming styles preferences and indeed affects not ontology the ontology but document and diagrams, etc, so t

[2018-11-13 06:41] agbeltran commented on #534
Actually, the document still has some misalignments with respect to the ontology:
e.g. for ```isProfileOf``` the label in the document is still ```profile of``` instead of ```is profile of```
document: https://w3c.github.io/dxwg/profilesont/#Property:isProfileOf
ontology: https://github.com/w3c/dxwg/blob/78a2a3d79dbad042f4c324b91f1f4f69847cf7e3/profilesont/profilesont.ttl#L82

[2018-11-13 08:40] aisaac commented on #404
@nicholascar maybe you can send us the source and we see whether we can fix it? Different versions of powerpoint offer different features. Who knows, maybe I have this in mine :-).

[2018-11-13 10:37] larsgsvensson commented on #404
I think there is an error in the diagram: Shouldn't the property arrow `isProfileOf` between `Profile` and `BaseSpecification` go from `Profile` to `BaseSpecification` similarly to the relation between `Profile` and `dct:Standard`?

[2018-11-13 11:06] larsgsvensson opened #560 "Conformance section of conneg-by-ap is not compliant with ReSpec"
[ReSpec says](https://github.com/w3c/respec/wiki/conformance) that a section with ID "conformance" will automatically add everything about normative language.
[code]
This text is currently hard-coded in §1.2

[2018-11-13 11:50] nicholascar commented on #404
How about this redraw! Open subClassOf arrows + a few other fixes (consistent property naming) Grey classes are those declared in PROF:

![profilesont](https://user-images.githubusercontent.com/7321872/48411698-09c3cf80-e78e-11e8-9c08-1b9fd51e3f1d.png)

[2018-11-13 11:56] nicholascar commented on #404
@larsgsvensson:

No, the cardinality on this arrow, [0] shows that a `Base Standard` is just a `Profile` (or, more generally, a `dct:Standard`) that doesn't profile anything else.

No again, sorry! A `prof:Profile` should be  `prof:isProfileOf` of a `dct:Standard`. Since  `prof:Profile` is also `rdfs:subClassOf` of a `dct:Standard`, a  `prof:Profile` could happily be `prof:isProfileOf` another `pr

[2018-11-13 12:01] larsgsvensson commented on #404
@nicholascar scripsit:

Ah, I didn't catch the cardinality constraint. Thanks for your clarification!

[2018-11-13 12:46] makxdekkers commented on #404
I note that the Usage Note of `prof:BaseSpecification` says: "_This may not be a useful class: documents of any specification can be regarded as a trivial profile, so applications only need to be concerned with Profile conformance_". If it is not useful, why should it be there?

[2018-11-13 13:03] aisaac commented on #404
@nicholascar this looks better.
And I'm wondering: is there an issue somewhere to discuss the cardinality of isProfileOf? If our official definition implies that a profile is always a profile of something then the min cardinality of isProfileOf can't be 0.

[2018-11-13 15:44] kcoyle commented on #404
And I was wondering if ResourceDescriptor should have dct:format or if that should be on the Resource artifact.

That said, I find "ResourceDescriptor" quite confusing because I always read it as "something (a descriptor) that describes the Resource" not "A resource that defines an aspect of a Profile". The adjective "resource" is what is confusing. I think it needs to be "ProfileDescriptor" becau

[2018-11-13 15:49] kcoyle commented on #404
Not to mention that Resource Description is 2/3 of Resource Description Framework and in that context it means the description of resources.

[2018-11-13 17:07] makxdekkers commented on #404
I agree with @kcoyle that Resource Descriptor is really a bad name. I read in the document: "_can have Resource Descriptors associated with them that define rules for implementing it_" (btw "it" should be "them"). Maybe a better name could be Implementing Rules? Because that is what they are defined to be.

[2018-11-13 18:58] aisaac commented on #404
I too have plenty comments on the ontology, but I think they will be for later. This issue is just about the diagram anyway :-)

[2018-11-13 20:22] rob-metalinkage commented on #404
Renaming the metadata carrier for implementing artefacts (now
ResourceDescriptor) has been raised multiple times over the last 6 months,
so its great we are finally having a discussion.

I dont have a position other than requirement for naming accuracy against
the required scope. I.e.  the use cases include resources such as
specification documents, primers and guidance notes.. so 'rules' is a rol

[2018-11-13 20:32] smrgeoinfo commented on #404
Related suggestion about ResourceDescriptor: https://github.com/w3c/dxwg/issues/529

[2018-11-13 21:17] nicholascar opened #569 "Jaroslav's conneg doc edits"
From: https://lists.w3.org/Archives/Public/public-dxwg-wg/2018Nov/0400.html

1. clarify what is meant here:
    - non-existent: profile identifier not understood by server?
    - unsupported: generally well known profile applicable to variety of contents that happens to not be supported by given server?
        - this may imply there will be registry of profiles, like IANA offers for Media Types.

[2018-11-13 21:19] nicholascar opened #570 "Jaroslav's profiles ont doc edits"
From https://lists.w3.org/Archives/Public/public-dxwg-wg/2018Nov/0402.html:

1. the introductory sentence is opaque, abstract and provides no clues about the purpose/use of the document,
  replace by a more "introductory" section.

 "An ontology for listing the set of resources required for a standard or a profile of one or more standards,
 such as schemas, ontologies, and rules, and for specifyin

[2018-11-13 21:23] nicholascar opened #571 "Alejandra's profiles ont doc edits"
The last paragraph of the introduction mentions:

"Base Specifications (a Standard not profiling any other Standard)"

However, the definition and the ontology indicate that BaseSpecification is a subClass of Profile:

https://w3c.github.io/dxwg/profilesont/#Class:BaseSpecification

The ontology goes further to indicate a cardinality restriction, indicating that BaseSpecifications won't be associa

[2018-11-13 21:33] nicholascar opened #573 "Rename Resource Descriptor class"
The Resource Descriptor class' name may not convey its intention well. This name needs to be reconsidered with discussion about it here.

[2018-11-13 21:50] nicholascar commented on #560
Issue addressed for both Profile and Conneg doc in the same commit: https://github.com/w3c/dxwg/commit/410bd1f5d5bfdc9431eb50db2234550ee591c116

[2018-11-13 22:22] nicholascar opened #575 "Antoine's conneg doc edits"
Note that there is one matter which I think should stand out: it's
#15, on compatibility with Linked Data conneg.

I hope this helps,

Antoine

=============

1. Abstract
The two last paragraphs ("For details about what a profile is, see the [PROF-GUIDE] [...]" and "For the formal ontology describing profiles, [...]") are clearly not abstract-level material.

2. Introduction (section 1)
"Thus, res

[2018-11-13 22:27] dr-shorthair commented on #404
The diagram appears to show that `Profile` is a sub-class of `skos:Concept` - is that intended?

[2018-11-13 23:07] aisaac commented on #274
I'm not sure why this requirement has been categorized as 'profile' in the google doc. It seems rather related to profile negotiation or DCAT.

[2018-11-13 23:37] nicholascar commented on #404
@dr-shorthair: that's a mistake, removed in a re-issue of the diagram

[2018-11-14 00:19] andrea-perego opened #579 "Sentence to be fixed in PROF spec"
See last paragraph of [Section 8.2](https://w3c.github.io/dxwg/profilesont/#eg-hierarchy):

I found it out while working on PR https://github.com/w3c/dxwg/pull/578 , but I'm unsure how to fix it.

[2018-11-14 00:35] andrea-perego commented on #404
Just an editorial consideration (and not about the entities and relationships in the schema...), but cannot we have the diagram as SVG? Using a Web-friendly vector format would improve readability and it can be easily resized without being blurred (and maybe we could also provide a zoom-in option...).

[2018-11-14 00:49] nicholascar commented on #404
Sure, I'll switch the PNG for an SVG. I produce SVG anyway. This will appear in the https://github.com/w3c/dxwg/tree/fpwd-sprint branch which will contain all these small editorial things.

[2018-11-14 01:05] andrea-perego commented on #404
Grand! Thanks, @nicholascar .

[2018-11-14 01:22] nicholascar commented on #404
Here is an rendered version of the updated image (and other edits): https://raw.githack.com/w3c/dxwg/fpwd-sprint/profilesont/index.html

[2018-11-14 06:36] andrea-perego commented on #211
@azaroth42 said:

+10 to changing the title, which is now basically identical to the one of #209.

[2018-11-14 07:34] aisaac commented on #404
Discussion on Resource Description happens now on #573

[2018-11-14 09:17] larsgsvensson commented on #560
Looking at the conneg document, I think that https://github.com/w3c/dxwg/commit/410bd1f5d5bfdc9431eb50db2234550ee591c116 didn't solve this issue since we now have both a compliance _and_ a conformance section with much duplicate text... I'll make a new PR.

[2018-11-14 09:57] #560 closed, assigned to nobody

[2018-11-14 11:14] larsgsvensson commented on #461
Removed label due for closing since it's really closed...

[2018-11-14 11:28] larsgsvensson commented on #462
Removed label since the issue is closed

[2018-11-14 11:29] larsgsvensson commented on #513
Removed label since the issue is closed

[2018-11-14 14:22] larsgsvensson commented on #569
@jpullmann scripsit:

        https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.14

Hmm, don't quite understand this: `http://example.org/a/resource.prof1.ttl` is a representation URI (or URL). The profile URIs are `urn:example:profile:1` and `urn:example:profile:2`.

And as an aside: Please don't quote RFC 2616 but RFC 7230-7234. RFC 2616 is obsolete...

[2018-11-14 14:34] larsgsvensson commented on #569
@jpullmann scripsit:

        <link rel="profile" .. >?

It could make sense to add that too, since it would link the current resource (the representation specified in the `Content-Location` header, `Context IRI` in RFC 5988 lingo) to the profile. In this example I've chosen to use the same pattern for all representations of the generic resource. This is done by enumerating all existing representa

[2018-11-14 17:18] andrea-perego commented on #71
Sorry for the late reaction, @agbeltran . The work is now on GH (I just updated the link in the original comment):

https://ec-jrc.github.io/datacite-to-dcat-ap/

[2018-11-14 21:30] #553 closed, assigned to larsgsvensson

[2018-11-14 22:06] smrgeoinfo commented on #430
Seems that the upshot of the discussion at #486 is that a resource instance that conforms to a profile MUST  also conform to any specification linked via the profileOf predicate.

[2018-11-14 22:39] kcoyle commented on #575
Point 2 resolved in pull request https://github.com/w3c/dxwg/commit/1fb870f32d0fe00fec76a24795947f2b7bab37d7#diff-da8389897e0fe9c86843de139503a4e7

[2018-11-14 23:30] nicholascar commented on #579
Fixed in commit https://github.com/w3c/dxwg/commit/54c736b055a749a1370f0a91f57c1e05dd865e6a so Due for Closing.

[2018-11-14 23:57] smrgeoinfo commented on #53
after a review of the discussion, it looks like there are two proposals:
ADMS kind of approach-- identifiers have a datatype like skos:notation, i.e. typed literal, and the value for the typed literal is the identifier type. e.g.
dcat:identifier "978-3-16-148410-0"^^<https://www.iso.org/standard/36563.html>
 Its not clear to me how ADMS would serialize the other properties (version and managing au

[2018-11-15 00:05] nicholascar commented on #571
I have addressed this issue in Commit https://github.com/w3c/dxwg/commit/b0b64918802671162ca6ecf72e3ae8328c341531 in two ways: better description text (both Introduction, conceptual Model and Specification (Base Specification part) and also by indicating on the Conceptual Model diagram that the `Base Specification` class shall not have a `isProfileOf` property leading to a `dct:Standard`. This is

[2018-11-15 00:30] andrea-perego commented on #579
Thanks, @nicholascar , but it still needs fixing - see https://github.com/w3c/dxwg/commit/54c736b055a749a1370f0a91f57c1e05dd865e6a#commitcomment-31306654

[2018-11-15 02:02] nicholascar commented on #569
These changes in Commit https://github.com/w3c/dxwg/commit/ddcdfafc0f3937ee9b7f05d3f8dbb89dcb1f9c8e:

1. I have changed "When a non-existent or unsupported profile is requested, a server returns default content" to "When no profile or an unsupported profile is requested, a server returns default content, that is, content conforming to the default profile supported by the server.". I think this is

[2018-11-15 02:17] nicholascar opened #587 "Consider merging 'list profiles' & 'list profiles tokens' functions"
It might be possible to have a single function, `list profiles` in place of the currently proposed 2: `list profiles` & `list profiles tokens`.

Two factors at least need to be considered:

1. whether all Realizations can support a single function
 - we suspect that HTTP cannot support delivery of a dictionary

2. whether it's clearest expressed as one or two functions
 - this is qualitative thing

[2018-11-15 02:22] nicholascar opened #588 ""get resource by profile" should indicate profile applied"
Extracted from Jaroslav's comments in Issue https://github.com/w3c/dxwg/issues/569.

[2018-11-15 02:30] nicholascar opened #589 "Consider not using _profile QSA key for _profile=list"
a dedicated parameter may by used (_list), e.g. allowing for listing of profile (_list=profile) or media type (_list=media-type)

Extracted from Jaroslav's edits: Issue https://github.com/w3c/dxwg/issues/569

[2018-11-15 04:46] smrgeoinfo commented on #66
An important fact that needs to be associated with the dataset is an identifier for the funding instrument-- i.e. the grant number. Can a grant be a prov:Agent?
DataCite v4 model is a good template: a fundingReference (class) has properties funderName, funderIdentifier, awardNumber, and awardTitle.  Of course if there were a pattern for an award class, and the awardNumber was awardURI that would d

[2018-11-15 05:40] nicholascar opened #591 "Map get resource by profile preferencing from abstract to HTTP & QSA"
Ensure that the mechanisms described for `get resource by profile` that allow for profile preferencing are equivalent. Is an ordered list (the QSA approach) as rich as the HTTP method that uses both a list an quality ('q') values? Does the Abstract Model function capture all the possibilities of the HTTP realization?

[2018-11-15 06:04] nicholascar commented on #575
1. Resolved with Commit https://github.com/w3c/dxwg/commit/67b483a9b1229a076c04945c4c06c02fc4aae241

2. Karen's commits has fixed it

3. You've re-opened Issue https://github.com/w3c/dxwg/issues/379 so we will address that there

4. I have moved all the inline descriptions of the other PROF docts to the end of the Introduction, so Commit https://github.com/w3c/dxwg/commit/67b483a9b1229a076c04945c4

[2018-11-15 07:08] dr-shorthair commented on #66
In the research community I think 'Grant' is usually used to denote a kind of _Activity_, approximately equivalent to 'Project supported by a philanthropy or government funding agency or foundation'.

In PROV-O terms the funder is an Agent associated with the Activity. In the [Project ontology](https://dr-shorthair.github.io/ont/project/#project-stakeholders) I have proposed `FundingAssociation` a

[2018-11-15 08:20] makxdekkers commented on #430
@agreiner I think you are right, and I think that it make sense to have the obligation that a profile P of base specification B does not violate rules set for B.

[2018-11-15 09:17] davebrowning commented on #502
Looking at the text for this use of `dct:conformsTo` in association with `dcat:CatalogRecord` and its companion in `dcat:Resource` as well as the example @andrea-perego gave above I get a bit lost in which resource's metadata we're talking about so I'm a bit confused.

Isn't this use about having a standard that the metadata of the dataset conforms to?  If so, why does the text in the note ([curre

[2018-11-15 10:25] jpullmann commented on #255
The requirement still confuses me. Does it mean, there might be next to
1. a structured, machine-enforceable profile definition (schema)
2. a single property containing an opaque rule/structure as subject to human interpretation?

[2018-11-15 10:27] makxdekkers commented on #53
@smrgeoinfo ADMS also makes the identifier a class, namely adms:Identifier.
The spec at https://www.w3.org/TR/vocab-adms/#identifier indeed does not provide a full recommendation on how to express the other properties of the Identifier, but I would suggest:

- the identifier string in skos:notation
- the identifier scheme in skos:inScheme
- the version in owl:versionInfo
- the agency in dct:creato

[2018-11-15 10:37] jpullmann commented on #273
If this requirement is concerned with validation, I'd merge with implementation/definition - there are other ways to implement a validating profile then schema languages. The latter seem covered by   #279.
What about: _Profiles should allow for different types of data validation (structure, values, conventions)._

[2018-11-15 11:25] pwin opened #592 "Do we need to say anything specific about URLs"
Throughout the conneg-by-ap document the term URI is used, but there is the specific situation of QSA where the GET request uses a URL with query string arguments.  In practice (rather than in the standard) there are length constraints in both servers and browsers for URLs and a request with a URL exceeding what a server could handle returns a 414 error code.  See https://stackoverflow.com/questio

[2018-11-15 13:30] riccardoAlbertoni commented on #53
adms:identifier is already adopted in some DCAT application profiles, so I second the idea of using it rather than introducing new terms, at least as a first attempt.

As part of the [action 259](https://www.w3.org/2017/dxwg/track/actions/259) which has been assigned to me in the last week dcat call, I have drafted the following wiki page,  [DCAT-Identifiers](https://github.com/w3c/dxwg/wiki/DCAT-

[2018-11-15 16:14] smrgeoinfo commented on #53
@riccardoAlbertoni thanks, that wiki page is helpful. A couple comments:
in the [Representing HTTP dereferenceable secondary identifier  section](https://github.com/w3c/dxwg/wiki/DCAT-Identifiers#representing--http-dereferenceable-secondary-identifier), there seems to be an assumption that the ^^xsd:anyURI type implies that the literal is an HTTP URI, but the data type allows any valid RFC-3986 UR

[2018-11-15 16:14] kcoyle commented on #255
2. So we can add something like "human-understandable rules" if that helps. In the [Singapore Framework](http://dublincore.org/documents/singapore-framework/) diagram this is the yellow box in the upper area that reads "usage guidelines" and is defined:

Usage guidelines (optional)

The optional usage guidelines describe how to apply the application profile, how the used properties are intended to

[2018-11-15 16:39] smrgeoinfo commented on #273
This seems like a statement related to the modular specification approach, where in a conformance class defines a subset of requirements and tests to determine (validate) that they are met by instance documents.  Can ID37 be met by pointing out that profiles (or any standard) can define one or more conformance classes indicating various levels or types of (partial) conformance.

[2018-11-15 18:11] smrgeoinfo commented on #502
I suggest some edits to resolve the ambiguity in index.html in my fork of the projects, updating the language for conformsTo property on the [resource](https://smrgeoinfo.github.io/dxwg/dcat/index.html#Property:resource_conformsto), [catalogRecord](https://smrgeoinfo.github.io/dxwg/dcat/index.html#Property:record_conformsto), and [distribution](https://smrgeoinfo.github.io/dxwg/dcat/index.html#Pro

[2018-11-15 18:21] kcoyle commented on #430
@makxdekkers The key to this hinges on "violate rules set for". Conformance needs to be carefully defined. As @agreiner says above, it could mean that no additional terms from other vocabularies can be included, because those do not "conform" to DCAT. That would make the DCAT-APs all non-conformant. It also could mean that all classes and properties in the base specification are actually or algori

[2018-11-15 19:00] agbeltran commented on #502
@davebrowning this issue was about adding the conformance to a standard for ```dcat:CatalogRecord``` (as per @andrea-perego example), as we had it already for the other classes.

The problem with the note about ```dct:Standard``` seems to have been that of copying and pasting without modifications from another section (https://w3c.github.io/dxwg/dcat/#Property:distribution_conformsto)

@smrgeoinfo

[2018-11-15 19:11] kcoyle commented on #274
@aisaac It looks to me to be part of the profile description ontology, and thus fits in the guidance document, as well as profile negotiation. It has a strong element of profile publication.

[2018-11-15 19:15] kcoyle commented on #273
@smrgeoinfo I don't actually see the modularity here. The Guidance for Profile Publication document needs to say that there may be more than one file or resource that describes a profile, with different roles or functionality. Current DCAT profiles are often a PDF (for humans) plus a SHACL file (for validation). This requirement recognizes that situation.

[2018-11-15 20:51] smrgeoinfo commented on #411
reviewing the current draft, I see that this issue is linked to a comment in the [6.7 Class:Distribution](https://w3c.github.io/dxwg/dcat/#Class:Distribution) section  that says
[code]
Looking back over the discussion (and assuming that we accept DataService as a valid resource type for  a dcat:Catalog), [Simon's comment (above)](https://github.com/w3c/dxwg/issues/411#issuecomment-432851965) start

[2018-11-15 21:34] smrgeoinfo commented on #145
Yes-- the solution for that issue should also solve this one.

[2018-11-15 21:42] dr-shorthair commented on #411
@smrgeoinfo asked:

Not quite. The way it is modelled the `dcat:Catalog` is essentially just the _contents_ - a list of catalogued resources. It is a subclass of `dcat:Dataset`. Some governance and lifecycle factors are supported by the `dcat:Records` that are optionally included, but I would argue that a lot more is needed to make a registry.

Note also in Figure 1 that `dcat:DiscoveryService` is

[2018-11-15 22:01] smrgeoinfo commented on #273
I was focusing on the idea of 'partial implementation' and 'different levels of data validation'.  The SHACL file, or an XSD, or maybe some text in the PDF define conformance classes.  There may be guidance documents with different functionality; if different guidance documents provide different validation rules (whether testable with tools, or stated in text), they define different conformance cl

[2018-11-15 22:05] smrgeoinfo commented on #502
Yes, if you look at the links in https://github.com/w3c/dxwg/issues/502#issuecomment-439137127 for   [resource](https://usgin.github.io/dxwg/dcat/index.html#Property:resource_conformsto), [catalogRecord](https://usgin.github.io/dxwg/dcat/index.html#Property:record_conformsto), and [distribution](https://usgin.github.io/dxwg/dcat/index.html#Property:distribution_conformsto) you'll see slight variat

[2018-11-15 22:50] kcoyle commented on #273
My gut is that if there are different validation rules or different guidance rules then you have a different profile. That is definitely how it would be judged in the library/archive world.

What gets tricky is the whole "equivalence" issue - and the need for a "center". If you have a profile with a SHACL validation file and a separately developed ShEx validation file, what is the requirement for

[2018-11-15 23:45] dr-shorthair commented on #530
1. There is no cardinality constraint on the `dcat:servesDataset` property, so a single service can provide access to multiple datasets
2. if multiple APIs are available, I would suggest describing these as multiple service instances, even if the endPointURL is the same.

[2018-11-15 23:59] smrgeoinfo commented on #273
Good questions!  Perhaps the only solution is for the provider to declare the authoritative validation rules (the 'center'); as far as DCAT, there would need to be some way to identify these artifacts.

[2018-11-16 00:19] smrgeoinfo commented on #66
+1 Since (in NSF land...) a grant might have various co-PIs at different institutions, with different workplans (subprojects), it makes sense that the 'SumOfMoney' is on the association from a project to the grant. In my experience the major use case here is for funding agencies to be able to find all the products (datasets, services, software, publications) resulting from a particular grant.

[2018-11-16 00:20] nicholascar commented on #273
One could posit an additional Role for a central validator resource in the Resource Roles vocab for this purpose: https://w3c.github.io/dxwg/profilesont/resource_roles.html. I think focusing on the various Roles within a vocab of roles would be a good step forward for clarity.

[2018-11-16 00:30] nicholascar opened #594 "Advisability of alternative method of content negotiation"
There is a question within the working group regarding the advisability of specifying an alternative method of content negotiation conducted via query strings rather than HTTP headers. We have a requirement to show how datasets with different profiles can be made discoverable by humans, but there is disagreement whether this requirement extends to implementing the same negotiation scheme used in H

[2018-11-16 02:27] dr-shorthair commented on #66
In the [Project ontology](https://dr-shorthair.github.io/ont/project/#project-stakeholders) there is no class `Grant`. So it depends on whether by 'grant' you mean

(a) the _project_ , or

(b) a _funding-arrangement_ associated with a project.

I think it is probably the latter, though the word 'grant' is often used synonymously with 'project' in the research community.

Note also that `prov:Activ

[2018-11-16 10:17] makxdekkers commented on #430
@kcoyle It also is dependent on what it means to be a profile. We had that discussion at one point at DCMI when someone asked whether you could call something a profile of Dublin Core if it only contained  one DC property.
Also, on the basis of what you write about the DCAP, DCAT itself is a profile of DC -- as it specifies the use of DC terms for the description of datasets.

[2018-11-16 11:12] makxdekkers commented on #66
My question would be whether the grant was specifically to produce the dataset, or was it funding the project/activity that produced the dataset? If it is the latter, the link to the grant would be at the level of the project, not of the dataset.
About the funding amount, I would think that this is could be fairly complicated -- are grant amounts earmarked for individual datasets produced, what is

[2018-11-16 15:36] kcoyle commented on #430
@makxdekkers "... DCAT itself is a profile of DC..." I struggle with the difference between a profile and a vocabulary that "borrows" from other vocabularies. I'm not convinced that DCMI made a clear distinction. However, I detect in the profiles ontology that there is a notion of profile that is not the same as a vocabulary. Unfortunately, it's not made explicit. We need to tease that out.

[2018-11-16 16:14] makxdekkers commented on #430
@kcoyle You are right. I was just looking at the definition of a DCAP. Other than that, it has been argued that a BaseSpecification is a kind of profile, one that does not specify rules and constraints on other specifications. At DCMI, sometimes the 15 elements have been called a (simple) profile of DC.
The point with DCAT is that it embeds DC (and FOAF and vCard and SKOS) classes and properties i

[2018-11-16 16:43] andrea-perego commented on #66
@smrgeoinfo said:

I agree. It may be worth building upon what done in other communities and metadata schemas (as DataCite), where a similar discussion has already taken place, and for which they provided a solution.

A possible DCAT-based representation of the DataCite approach is available in the documentation to the DataCite / DCAT-AP mapping we did at JRC:

https://ec-jrc.github.io/datacite-to

[2018-11-16 17:06] makxdekkers commented on #66
I wonder whether the main characteristic is the funding relationship, or just that the Dataset was produced in the context of a project, funded or not. If it's more general, a different property could be better, e.g. foo:project.

[2018-11-16 17:15] andrea-perego commented on #66
@makxdekkers said:

In this case, it's specifically the funding relationship. For the one denoting the "project" that produced the dataset, there's the option of using `prov:wasGeneratedBy`.

[2018-11-16 17:23] makxdekkers commented on #66
OK. It still feels a bit odd to me to state that a Dataset was funded by a project. It's rather that a Dataset was produced by or in the context of a project, which was funded in some way.

[2018-11-16 17:35] andrea-perego commented on #66
@makxdekkers said:

Yes, I agree. It's a bit stretched.

This is another option (using `schema:funder` instead of `frapo:isFundedBy`):

[code]

[2018-11-16 18:06] riccardoAlbertoni commented on #53
I see your point @smrgeoinfo,  the title is slightly misleading.
I suspect that the only way to know if a URI is HTTP dereferenceable is to try to resolve it as It can be broken.

 As far as I can understand, indicating an urn is useful as well.  Independently from their dereferenceability,  secondary IDs are indicated to say that others might refer to the same dataset with different IDs, they are

[2018-11-16 18:18] makxdekkers commented on #66
I see you duplicate the `schema:funder` in two places. I just wonder whether there is a strong case for such duplication -- for example, would a user really want to search for all Datasets funded by `a:Funder`? If so, it's OK with me.

[2018-11-16 20:09] smrgeoinfo commented on #66
The upshot of the  extensive, multi-threaded conversation about this on the schema.org wiki (https://github.com/schemaorg/schemaorg/issues/383), led @danbri to[ propose several classes and properties there ](https://github.com/schemaorg/schemaorg/issues/383#issuecomment-398355608)
[Grant](https://webschemas.org/Grant)
[MonetaryGrant](https://webschemas.org/MonetaryGrant)
[Project](https://webschem

[2018-11-16 20:57] smrgeoinfo commented on #151
Actually, having a reviewed set of xpaths for mapping from ISO19139 and ISO19115-3 XML to DCAT would be very useful.  I haven't gotten around to building the xslt for the transform yet, but have done [ISO19139 to Schema.org,](https://github.com/usgin/metadataTransforms/blob/master/ISO19139toHTMLandSDO/ISO19139ToSchemaOrgDataset1.0.xslt) [DataCitev4 to Schema.org](https://github.com/usgin/metadataT

[2018-11-16 21:05] andrea-perego commented on #151
@smrgeoinfo , the GeoDCAT-AP XSLT is here:

https://github.com/SEMICeu/iso-19139-to-dcat-ap

[2018-11-16 21:17] andrea-perego commented on #66
@makxdekkers said:

This is exactly one of the possible use cases.

I think it is important we consider both simple and complex scenarios. With simple ones, I mean catalogues which (compared to those in the complex scenario) are more "flat", in terms of the supported metadata schema, or that don't include the representation of projects/funders as standalone entities. In such cases, if they want to

[2018-11-16 23:24] andrea-perego commented on #411
@makxdekkers said:

I think we must be very careful in not overcomplicating the use of DCAT. Making explicit the different level of granularity, accuracy, spatio-temporal coverage of distributions may be relevant in some specific use cases, but it is more common that metadata maintainers don't have this information.

I would be more in favour of extending the existing approach, by keep on using `d

[2018-11-17 09:39] makxdekkers commented on #411
@andrea-perego That is a sensible alternative.
There could indeed be an option to indicate spatial and temporal coverage for each Distribution if different from the coverage of the Dataset as a whole.
For other types of granularity, accuracy, map scales, zoom levels, wavelengths, I don't know if there are any existing properties that we could include -- and maybe that goes too much into domain-spe

[2018-11-17 15:13] andrea-perego commented on #411
@makxdekkers , we are actually missing a way to indicate a number of aspects of data quality (here intended in its general sense), and indeed some of them can be considered as domain-specific, so it may be better in scope of profiles of DCAT. One of them is the Coordinate Reference System (CRS), which is one of the key pieces of information for geospatial data. This is supported in GeoDCAT-AP, whe

[2018-11-17 15:17] andrea-perego commented on #66
@nicholascar said:

+1

[2018-11-18 09:52] dr-shorthair commented on #66
Folks - we already agreed to use the property `prov:wasaGeneratedBy` to link from a `dcat:Dataset` to the activity that generated it, such as a project. See https://w3c.github.io/dxwg/dcat/#Property:dataset_wasgeneratedby

So I think the remaining question is whether
1. that's enough, and funding arrangements belong with the description of the project, (which may be available nearby, but probably

[2018-11-18 22:07] andrea-perego commented on #66
@dr-shorthair , I personally don't question the use of `prof:wasGeneratedBy` to say that a given dataset is the output of a given project / activity.

As you say, we need to understand whether the link to the funding should or not be attached directly with the dataset (which I personally think should be useful). I would also say that the question, in such a case, is whether such link should point

[2018-11-18 22:27] aisaac commented on #267
This is not yet approved as of today, see ACTION 243 on Roba to work out (with Antoine) what #267 means. https://www.w3.org/2018/10/25-dxwg-minutes

[2018-11-18 22:38] rob-metalinkage commented on #404
Due for closing, diagram included in FWPD. Reopen specific issues about diagram content as needed,

[2018-11-18 22:38] #404 closed, assigned to rob-metalinkage

[2018-11-18 22:49] aisaac commented on #273
@smrgeoinfo your interpretations are interesting, but they don't apply here. The requirement here is more basic. "(partially)" was just added because we needed to accommodate cases where the "implementation" of a profile according to a schema language would fail to express all the validation rules, just because the schema language is not expressive enough. For example, XML Schema can't express eve

[2018-11-18 23:27] aisaac commented on #274
@kcoyle I'm not sure how it could relate to the profile description ontology. I understand this requirement to be about the specific (instance) data published according to one profile (or several profiles, in this case) not about the description of the profile in general.

[2018-11-19 01:53] nicholascar commented on #274
Agree with @aisaac: the Prof Ont doesn't link from data to profiles, only amongst profile parts and in between profiles, so it has nothing to say here.

[2018-11-19 01:58] nicholascar commented on #273
@aisaac: I agree that "advise to not spend time on it", hence the suggestion to create a Role for this and then leave it there. A vocab of roles, as per ISO codelists, can include some commonly used and other less commonly used codes. If some people wanted a centre, they could use the corresponding role. Others need not. This moves the discussion out of the core ontology and provides for such a po

[2018-11-19 03:09] dr-shorthair commented on #66
Good.

The [Project ontology](https://dr-shorthair.github.io/ont/project/#project-stakeholders) provides some clarity about the distinction- and relationships- between projects, funders, and grants. It takes a project-centric viewpoint, in which a 'grant' appears to correspond with the `FundingAssociation` class.

A direct link from a _dataset_ to a (description of a) _grant_ would match the prope

[2018-11-19 04:25] kcoyle commented on #273
I also agree that the concept of "center" is huge and beyond our abilities at this moment and for this deliverable. It's one of those things that we can put into a note that talks about "what else needs to be done to make profiles more useful" and hope that it becomes someone's future charter.

[2018-11-19 04:33] kcoyle commented on #274
OK, I think I see what it means, so fine to drop 'profile' and leave it as 'profile negotiation.'

[2018-11-19 08:06] aisaac commented on #274
@kcoyle I was only questioning the first part of the sentence, about the Prof ontology!

And now I'm not sure I was arguing about removing the general 'profile' flavor of the requirement in my own comment (https://github.com/w3c/dxwg/issues/274#issuecomment-438472878). The more I think of it, and the more I wonder about this being a key requirement for many things we do in DXWG. It underpins the n

[2018-11-19 16:00] kcoyle commented on #274
Now I'm re-reading (and re-re-reading) the requirement, and it isn't terribly clear, but it reads to me like

1) a DCAT requirement for publishing data relating to profiles, but I think it's wrong to say "in one same distribution" because I would see different profiles as different distributions. I don't think that DCAT has anything that would allow it to identify that a distribution relates to a

[2018-11-19 16:43] smrgeoinfo commented on #274
can't the dct:conformsTo property on the dcat:distribution be used to indicate that the distribution relates to a specific profile?

[2018-11-19 17:28] aisaac commented on #273
@nicholascar @kcoyle if it's a role, then actually I wouldn't object if it's in the core spec, as long as (1) it's not for the version being released now (and that would allow us to see what happens with W3C registration process); (2) it carefully avoids any semantic over-commitment, possibly leaving to another group the option to make it more precise. Some of the 'motivations' in Web Annotations

[2018-11-19 17:28] aisaac commented on #273
@nicholascar @kcoyle in the end, whether it's in the core or not, what would be needed is a documented case and requirement!

[2018-11-19 18:35] aisaac commented on #274
@kcoyle yes it's both.
And I think a while ago we've had a discussion about the possibility of having distributions conforming to different profiles. This is maybe not the prefered option (and indeed profile negotiation has the potential to have 'clean', profile-specific distributions). But it is possible, and in many cases, desirable, for example when different profiles would use largely overlapp

[2018-11-19 18:48] kcoyle commented on #274
What concerns me about 'conformsTo' is that the object is any standard. So how do you know that the object URL of 'conformsTo' references a profile and not some other standard? Anyway, I think that will occur to folks when the time comes, so best to let it go for now.

[2018-11-19 19:05] kcoyle commented on #273
The lack of a use case could indicate that it isn't core. At the same time, I think the profiles ontology brings with it issues that we didn't create use cases for at the beginning, and maybe we should consider scoping our work based on the use cases we have. The UCR document doesn't include profiles ontology as a filter so unfortunately we would have to dig through both the profiles and conneg re

[2018-11-19 21:09] aisaac commented on #273
@kcoyle considering the amount of requirements we currently have for profiles and conneg it won't be very hard to identify these that could be relevant for the profile ontology :-)

[2018-11-19 21:58] aisaac commented on #575
Thanks a lot for the detailed answer and having already fixed many of my issues. And sorry that I have not reacted earlier.
A detailed reaction follows for the first 15 issues.

1. OK

2. OK (but there's now an incomplete sentence just before it!)

3. OK let's discuss!

4. Partly solved. To me the IETF ID (and issue 380) is about a PROF document, even if it's not in W3C space, and thus doesn't bel

[2018-11-19 22:13] nicholascar commented on #273
I think we can generate a cogent Use Case in time for a 2PWD easily enough. @aisaac, would you like to create an Issue for this? I'm interested to assist on this one as I want to test out thr thoughts here.

[2018-11-19 22:21] nicholascar commented on #534
Thanks @agbeltran, I have update the label "profile of" -> "is profile of".

It's perhaps not thrilling styalistically to have these longer property names but it is consistent...

[2018-11-19 22:22] kcoyle commented on #575
Antoine's 2: OK (but there's now an incomplete sentence just before it!) - I think instead there's an erroneous "." after `Accept-Encoding`. Is that what you are referring to?

[2018-11-19 22:24] aisaac commented on #273
@nicholascar ok I've created #597 thanks for the suggestion.

I think now we can close the parenthesis and come back to @jpullmann 's original comment:

[2018-11-19 22:25] aisaac commented on #575
@kcoyle yes it is. Sorry I didn't even take the time to relate these two bits of sentence...

[2018-11-19 22:29] nicholascar commented on #575
Can someone please quote the line number in the gh-pages doc now? Then I'll try and fix.

[2018-11-19 22:58] aisaac commented on #575
l43-44 at https://github.com/w3c/dxwg/blob/gh-pages/conneg-by-ap/index.html

[2018-11-19 23:09] kcoyle commented on #273
I didn't think this was about TYPES of validation, just that validation schemas themselves can be considered aspects/objects of a profile. And it recognizes that a profile may provide more than one schema, and the schemas may not necessarily cover the same ground. I definitely would not use "should" here because we are not requiring data validation.

[2018-11-19 23:12] kcoyle commented on #575
https://github.com/w3c/dxwg/pull/598

I did the change

[2018-11-19 23:15] smrgeoinfo commented on #273
If a "profile may provide more than one schema, and the schemas may not necessarily cover the same ground",  these various validation procedures must be clearly identifiable such that e.g. a dcat:distribution  can point to the identifier for the profile validation that has been run on the dataset in the dct:conformsTo property.

[2018-11-19 23:34] kcoyle commented on #273
@smrgeoinfo I agree but I'm not sure that what we're working on will solve that - I don't know of any vocabulary that would tell you, of the various documents, vocabularies, validation files in a profile exactly WHAT they represent in terms of content. The only useful file relationship that I'm aware of is the dct:hasFormat that I suggested in [this comment](https://github.com/w3c/dxwg/issues/573#

[2018-11-19 23:47] smrgeoinfo commented on #273
Seems like what is needed is an identifier for a resourceDescriptor (whatever that ends up being named) that you can use as the value for dct:conformsTo.

[2018-11-20 00:37] nicholascar commented on #273
Careful all: a starting assumption here is that it is the Profile that is being conformed to, not a part thereof. This is so a Profile can have guidance docs etc, as well as validator files. If we ID the validator file and people conformsTo to that, I think we've breached a concpetual contract like identifying a Dataset by one of its Distribution URIs.

Unless we work out specialised axiomes to ch

[2018-11-20 00:38] nicholascar commented on #575
Thanks very much Karen!

[2018-11-20 01:34] kcoyle commented on #273
@nicholascar Remember that anyone can say anything about anything (and they probably will). I hope that profile resources/objects will have identifiers, because if they don't they'll be blank nodes (/me making the 'go away vampire' sign). Also, I want people to be able to say things about them, like who created them, what version they are, etc.

dct:conformsTo has no domain and therefore the subje

[2018-11-20 02:35] kcoyle commented on #273
@nicholascar I just noticed that "dct:conformsTo" is listed in the Profiles Ontology document under 7.5 Class Resource Descriptor. Isn't that the opposite of what you say above?

[2018-11-20 09:10] aisaac commented on #273
I'm not sure I understand the link between identifiers, conformsTo and the original wording of the requirement, or @jpullmann 's rewording. This goes in solution space, no?

My take is that the requirement is about expressing that a profile can serve the validation of data. That the profile contributes to such validation goal by providing specifications for validation rules, expressed in various (

[2018-11-20 12:21] jpullmann commented on #275
Please consider rewording in more requirement-oriented , imperative terms of RFC 2119, e.g.
 "Profiles may/should comprise a named collection of properties or metadata terms, if not specified by RDF."

[2018-11-20 14:50] kcoyle commented on #275
I'd prefer:

Profiles should comprise a collection of metadata terms
(The "if not RDF" was added because of the use of "properties" but I think that "metadata terms" covers both.) I think "comprise" is a difficult word and will try to think of something better.

(addding:)
Profiles should be made up of a collection of metadata terms that have been defined in published vocabularies.

This matches t

[2018-11-20 16:14] aisaac commented on #275
Actually I would argue against 'comprise' in @jpullmann 's suggestion because it feels strange to say that profile comprises a collection with a name, while the original idea is that the name of the collection is the name of the profile itself.
@kcoyle 's rewording fixes this, but then the name is gone!

Then the fact that the elements of a profile are from published vocabularies is probably relev

[2018-11-20 16:58] andrea-perego commented on #66
Just to note that the inclusion of a property for funders / funding agencies is also in scope with #76.

[2018-11-20 20:42] kcoyle commented on #275
@aisaac I'm open to your suggestions - maybe:

Profiles should made up of a collection of properties or terms, and the collection should have a name.

The problem is that it is a named collection but it can't be "made up of a named collection" (because it can't be made up of a single thing, a named collection) although it can be that they "are a named collection".

[2018-11-20 21:06] aisaac commented on #275
"Profiles should be made up of a collections of properties or data terms and have a name"?

Sorry I wasn't very constructive: in fact my only issue about the original wording was on the specific aspect of data vs metadata.

[2018-11-20 21:48] dr-shorthair commented on #66
See also the proposal for [Qualified Relations](https://github.com/w3c/dxwg/wiki/Qualified-relations#agent-roles) - I  just added 'funder' to the worked example there. Following this pattern the link to the funder is through a property chain
[code]
_but with the constraint that the value of `dcat:hadRole`  is fixed_ to `<http://id.loc.gov/vocabulary/relators/fnd>`

[2018-11-20 21:51] dr-shorthair commented on #66
Maybe http://id.loc.gov/vocabulary/relators/fnd

[2018-11-20 22:20] smrgeoinfo commented on #273
Given that the validator files provide the only concrete way to test conformance, if

Then either these different validators represent different profiles, or there needs to be some concrete way to declare that a representation has passed some particular validation test.  It is certainly possible that validators might operate on some canonical version of the dataset or on a particular representatio

[2018-11-20 22:42] rob-metalinkage commented on #273
@smrgeoinfo the issue of validation is no different for any other declarative statement. The semantics of conformsTo is that all constraints are met and all normative validation tests pass.

People can still lie, or configure machines to do it for them by accident...

at this stage there is no "a little bit like" or "partially conformsTo" mechanism - "aspiresTo" ?

We lack a motivating Use Case fo

[2018-11-20 22:43] smrgeoinfo commented on #273
How about ID21?

[2018-11-20 22:53] rob-metalinkage commented on #273
https://www.w3.org/TR/dcat-ucr/#ID21  doesnt seem to have these matters called out, and they dont appear to be readily found in the linked white paper http://usgin.github.io/usginspecs/ContentModelForLinks.htm

[2018-11-20 23:20] smrgeoinfo commented on #273
Sorry if the use scenarios in the white paper aren't spelled out in detail--they leave a bit to the imagination. The gist of ID21 is there needs to be something in the metadata so a client can parse the distributions for the dataset and pick the one it can work with-- I thought that's one of the possible purposes for a conformsTo profile declaration (correct me if I'm wrong and I'll shut up, don't

[2018-11-21 02:38] rob-metalinkage commented on #273
The sense is correct - its declarative, but there is still no explicit statement about validation test history.  I think its a great use case for DQ that perhaps ought to have a section in the guidance document - and in the DCAT with a suggestion for how to attach such info.

[2018-11-21 12:47] andrea-perego opened #600 "Profile Guidance - Examples of application: CMDI"
I don't remember if ISO 24622-1:2015 (CMDI - Component MetaData Infrastructure), which is used by [CLARIN](https://www.clarin.eu/content/component-metadata) was ever mentioned as an example of profile application.

Their notion of profile may not completely match the one we are using. Quoting from https://office.clarin.eu/v/CE-2016-0880-CMDI_12_specification.pdf (page 3):

[2018-11-21 12:55] andrea-perego opened #601 "Profile Guidance - Examples of application: IHE Profiles"
There's a possibly relevant example of profile application in the health domain, namely, IHE Profiles:

https://www.ihe.net/resources/profiles/

Quoting:

They also have a specific page about profile design principles and conventions:

https://wiki.ihe.net/index.php/IHE_Profile_Design_Principles_and_Conventions

[2018-11-21 13:31] andrea-perego commented on #66
Thanks, @dr-shorthair .

BTW, if we have enough evidence, I think we could also define a "funder" role in the DCAT namespace (`dcat:funder`).

[2018-11-21 17:20] riccardoAlbertoni commented on #53
@smrgeoinfo wrote

@smrgeoinfo Please take a look at [example 7](https://github.com/w3c/dxwg/wiki/DCAT-Identifiers#representing--http-dereferenceable-secondary-identifier), Have I correctly interpreted your suggestion?

[2018-11-21 19:49] agbeltran commented on #53
To answer 'Question 1' in ['Proposal 1'](https://github.com/w3c/dxwg/wiki/DCAT-Identifiers#proposal-1) from @riccardoAlbertoni's notes on the wiki, the DataCite schemas include an XSD with a list of identifier types/schemes here:

https://schema.datacite.org/meta/kernel-4.1/include/datacite-relatedIdentifierType-v4.xsd

[2018-11-21 19:54] agbeltran commented on #53
Also FAIRsharing keeps a registry of identifier schemes: https://fairsharing.org/standards/?q=&selected_facets=type_exact:identifier%20schema

[2018-11-21 20:50] agbeltran commented on #53
As regards @smrgeoinfo point on identifying both the identifier scheme and the organisation minting the identifiers, it seems to me that is a use case not covered by ADMS, as ```adms:schemaAgency``` covers the name of the "agency that manages the identifier scheme" as a literal, while ```dct:creator``` would be used to point to the representation of such organisation rather than a separate one? is

[2018-11-21 20:55] larsgsvensson commented on #379
Removed "due for closing" since this issue is not yet resolved. cf #575

[2018-11-21 20:56] larsgsvensson commented on #390
Has been addressed in dx-prof-conneg

[2018-11-21 20:56] #390 closed, assigned to nicholascar

[2018-11-21 20:57] rob-metalinkage commented on #379
Thanks Antoine - I will have a copy edit pass over this...

[2018-11-21 20:58] agbeltran commented on #67
Following from discussions in #53 and @riccardoAlbertoni's proposal in the [wiki](https://github.com/w3c/dxwg/wiki/DCAT-Identifiers), neither [Dublin Core](http://dublincore.org/documents/dcmi-terms/) nor [ADMS](https://www.w3.org/TR/vocab-adms/#identifier) have terms to represent alternative identifiers.

In DATS we followed [DataCite](http://schema.datacite.org/meta/kernel-4.1/metadata.xsd) appr

[2018-11-22 03:56] dr-shorthair commented on #66
OK - how about

[code]

with the expectation that the range is usually a `foaf:Agent` or `prov:Agent`

[2018-11-22 05:25] rob-metalinkage opened #602 "Explore whether list_profiles operation could be provided by an external component"
Many existing systems that support use of alternative information profiles do not provide an explicit list. However, external catalogues or other sources of metadata may provide this list, and the server may perform negotiation over a specific request.

Feedback is sought on whether this should be deemed mandatory.

[2018-11-22 05:47] rob-metalinkage opened #603 "Determine responsibilities for listing available profiles when a redirect is used"
If a server redirects the client to another resource using profile negotiation, then the server may know the profile but the existing resource may not.
This is compounded when a resource conforms to multiple profiles, which for part of a hierarchy. Generally speaking it will be hard for static resources to list multiple profiles, whereas the redirecting service must know this information.

[2018-11-22 10:56] riccardoAlbertoni commented on #67
[Proposal 1 in the wiki](https://github.com/w3c/dxwg/wiki/DCAT-Identifiers#proposal-1)  suggests using
- dct:identifier for primary id
- adms:identifier for secondary id

as far as I have understood, this was the guideline made by [DCAT-AP to manage duplicates](https://joinup.ec.europa.eu/release/dcat-ap-how-manage-duplicates), though I am not 100% sure this suggestion is still valid in the newest

[2018-11-22 18:34] makxdekkers commented on #67
That proposal sounds OK to me.

[2018-11-22 18:44] makxdekkers commented on #53
@agbeltran Yes, dct:creator and adms:schemaAgency should be for the same organisation. The literal option was provided because schema agencies might not be in Linked Data space and have no URI.

[2018-11-22 22:31] aisaac commented on #286
Apparently there's a new wording: "There should be a way to look up additional information about a profile - this may be machine readable for run-time mediation or used to develop or configure a client "

[2018-11-22 22:45] nicholascar commented on #600
I'll try and model this in Profiles Ont.

[2018-11-22 22:51] nicholascar commented on #66
Here you have a funded *by* with a range of Agent and yet your proj property for an activity funding, same range Agent, is was funded *through*. Any reason to not have ...By in both cases?

*through* to me sounds like it should be used like this: funded through an on-going, perdurant, thing. An Agent is endurant so funded *By* seems better.

Summarising: can you align proj suffixes with the propos

[2018-11-22 23:02] dr-shorthair commented on #66
- funded _through_ has range `FundingAssociation` (i.e. a grant or contract) - this is just one element in the full path
- funded _by_ has range `Agent` - is shortcut for the full path

[2018-11-22 23:16] andrea-perego commented on #66
@dr-shorthair , @nicholascar , just noting that, maybe, `dcat:funder` (in analogy with [`schema:funder`](http://schema.org/funder)) might more clearly suggest that the object is an agent.

[2018-11-22 23:18] andrea-perego commented on #67
+1 from me as well.

[2018-11-22 23:25] dr-shorthair commented on #66
[code]

[2018-11-23 00:46] nicholascar commented on #602
Do you mean mandatory for servers that serve resources for which profiles are listed to represent that listing if requested, perhaps by handoff?

client: give me the list of profiles supported for resource_x
server: see catalogue listing for resource _x

Which catalogue profile list formalisations should we support? Would it be that a catalogue uses Profiles Ontology to describe resource_x conform

[2018-11-23 03:05] rob-metalinkage commented on #602
that would be one redirect case - the other is whether the returned resource is responsible for listing all the profiles it supports - and what happens if a redirect occurs - how does the ultimate resource even know what profile was asked for? (may need statements about headers being preserved in redirects)

[2018-11-23 09:02] miselico commented on #66
To give some context on the proposed schema.org , some of these were elaborated in a wikidata workshop. The outcome of which is presented here: https://github.com/shexSpec/schemas/blob/master/Wikidata/research_funding/

One issue I see is that the complexity of this topic will end up in it being rarely (correctly) used.

[2018-11-23 09:23] makxdekkers commented on #66
It may be late in the day for my comment, but I do think that the indication of a funding source for a dataset as discussed here is quite domain-specific as it applies mostly to datasets that were produced in the context of a research grant. This may be a very real need in this particular domain, but I am not sure it needs to be in the core of DCAT -- especially because there are other ways to exp

[2018-11-23 14:48] riccardoAlbertoni commented on #53
Then, assuming we want to distinguish between  (a) the authority that defined the identifier scheme (DOI foundation), and (b) the authority responsible for assigning and maintaining identifiers using that scheme (IEEE),   we need to consider a property distinct from dct:creator for (b)

 I see two alternative options here

1. add a new extra dcat property ( e.g., named dcat:idMantainer/dcat:IdAuth

[2018-11-23 16:50] kcoyle commented on #286
Hmmm. That new wording addresses "way" but not "additional".

Here's what ID2 says:

"In order to inform clients that a representation conforms to a certain profile, servers should be able to explicitly indicate which profile(s) a response conforms to. This then allows the client to make the additional structural and/or semantic interpretations that are allowed within that profile. "

So how about

[2018-11-24 12:10] makxdekkers commented on #53
@riccardoAlbertoni I am not in favour of your proposal.
As I understand it, the DOI Foundation is the schema agency for DOI. Period. The fact that DOI is organised in such a way that there are registration agencies and registrants for sub-spaces under DOI should be irrelevant. Moreover, naming the registrant goes against the philosophy of DOI where the sub-spaces are abstracted from the organisati

[2018-11-24 13:30] riccardoAlbertoni commented on #53
Thank @makxdekkers for your comment.
If I have correctly interpreted your message you are  **not**  in favour of the requirement behind my modelling attempt, namely the need to mention both
a) the authority that defined the identifier scheme (DOI foundation), and
b) the authority responsible for assigning and maintaining identifiers using that scheme (IEEE),
 as it was suggested by @smrgeoinfo. @s

[2018-11-24 18:29] makxdekkers commented on #53
Correct, I am not in favour of the requirement to model more than one authority for identifiers.

[2018-11-24 22:03] nicholascar commented on #286
I don’t think this is possible! Responses may conform to profiles or profiles may conform to things but a request cannot. A request is usually something like:

`GET http://example.com/resource/a`

perhaps with parameters such as HTTP headers or Query String Arguments.

Do you mean “...which profile-conformant representations of a resource may be requested...”?

[2018-11-24 22:04] smrgeoinfo commented on #53
short story:

I think what a user really needs to know is what is the identifier scheme (not who defined it), in particular, if those identifiers can be dereferenced, how  can they are dereferenced, and what kind of representations of the identified resource should be available. The agent defining the scheme is not the info needed for this use case.  Back to the original question, if identifiers a

[2018-11-25 10:34] aisaac commented on #274
I've re-assigned the profile-guidance label to reflect the difficulty categorizing this requirement.

[2018-11-25 11:01] aisaac opened #608 "Some data may conform to one or more profiles at once [ID3] (5.3)"
Our Google Doc for requirements (https://docs.google.com/document/d/13hV2tJ6Kg2Hfe7e1BowY5QfCIweH9GxSCFQV1aWtOPg/)
	  indicates that we decided to split another requirement, resulting in this one, which is in the general 'profile' category.
But it is quite overlapping with #274  and there is a lot of uncertainty on where this requirement should be categorized.

[2018-11-25 11:11] aisaac commented on #274
I've created a new requirement that's quite overlapping with this one, but it reflects a decision we made in a plenary meeting and was recorded so in the [google doc](https://docs.google.com/document/d/13hV2tJ6Kg2Hfe7e1BowY5QfCIweH9GxSCFQV1aWtOPg/).

[2018-11-25 14:18] aisaac commented on #288
Let's come back to some of the original discussion for this requirement. @agreiner had suggested in a old call to re-word it as "It must be possible for profiles to be made discoverable through machine-readable metadata that describes what is offered and how to invoke the offered profiles."

While I'm not sure it fixes all the questions one could have about this requirement, I feel it would be a p

[2018-11-25 20:28] aisaac commented on #273
@smrgeoinfo the more you discuss about this, the more I think your concern is about something related but not equal to this requirement.
I can see indeed a need to represent that a certain validation test to check the conformance of data to the profile was done using a specific distribution (XMLSchema, SHACL).
But that's quite different from the requirement here, where what just said is that there

[2018-11-25 20:55] aisaac commented on #286
Whatever the result of this discussion is, I'm changing the title of the requirement from "There should be a way for a client to look up additional information about a profile. (What kinds of information? Can we clarify this?) [ID2] (5.2)"
to
"There should be a way to look up additional information about a profile - this may be machine readable for run-time mediation or used to develop or configur

[2018-11-26 00:42] dr-shorthair commented on #66
I have similar concerns to @makxdekkers about being tied too closely to one (admittedly important) application. As I showed above, the funder information is already available through two property chains:

1. via a `proj:Project` instance
[code]

2. via a qualified relationship with an agent
[code]
when the value of dcat:hadRole is http://id.loc.gov/vocabulary/relators/fnd or http://registry.it.csi

[2018-11-26 09:50] dr-shorthair commented on #251
Thanks @kcoyle -

Concerning the one-to-many relations - `schema:spatial` is supersededBy `schema:spatialCoverage`, and both `schema:temporal` and `schema:datasetTimeInterval` by `schema:temporalCoverage` so the older forms are not included in the document, only in the issue thread here.

[2018-11-26 10:45] dr-shorthair commented on #251
I've fixed the incorrect equivalent class axioms, and relaxed some of the stronger alignments from equivalent to `skos:closeMatch` - see https://github.com/w3c/dxwg/pull/609

[2018-11-26 11:53] dr-shorthair commented on #79
I've written up the qualified relation pattern for _attribution_ - see #611

[2018-11-26 11:55] dr-shorthair commented on #66
See #611

[2018-11-26 12:06] kcoyle commented on #288
It is indeed clearer, although I'm still not sure what we mean by "how to invoke" - what kind of invoking are we talking about? Is this more than indicating that it's a PDF vs. a SHACL file or an XSD?

[2018-11-26 12:24] kcoyle commented on #286
@nicholascar The use case was written by Ruben and I'll admit that it never made sense to me - I just assumed it would make sense to others. Unfortunately Ruben isn't around and we're kind of stuck with the use case, so maybe it needs some re-wording? Could you read through it and see what does and doesn't make sense? Thanks!

[2018-11-26 13:45] RubenVerborgh commented on #286
@kcoyle I'm around when tagged 🙂

[2018-11-26 14:15] RubenVerborgh commented on #286
So the idea is as follows.

A profile has a certain identifier, let's say MyAppProfile.
Some clients will already be preprogrammed for MyAppProfile. So if they see MyAppProfile, they will know what to expect.

Other clients will not know about MyAppProfile.
So they need learn more about MyAppProfile. For instance, it might be that MyAppProfile is actually compatible with MyOtherProfile, which migh

[2018-11-26 15:01] nicholascar commented on #286
I understand this requirement as @RubenVerborgh explains it so shouldn’t have a problem dealing with this.

Not yet sure where the mechanism will be detailed but presume in the Conneg doc but this is an extension to current scope. That’s fine: it just indicates this Req isn’t yet covered in the FPWD so we need to make sure it gets noted there.

The need and outline of a solution could be mentioned