[2019-10-02 00:19] dr-shorthair commented on #1100
I've regenerated the RDF and JSON-LD encodings using Protege instead of TopBraid.

[2019-10-03 12:57] draggett opened #1115 "DCAT2 implementation reports"
Please add your implementation report, or a link to it, to this issue.

[2019-10-03 20:15] andrea-perego commented on #959
Thanks for suggesting the inclusion of a "health warning", @aphillips . This would indeed be important to address the possible confusion caused by the pointer to the inconsistent definition in DCMI you pointed out - where the textual definition says `dct:language` should be used with ISO language codes, whereas the defined range is not a literal, but class `dct:LinguisticSystem`.

So, we can deal

[2019-10-04 02:37] dr-shorthair commented on #1115
[This endpoint](https://gnafld.net/2016-05/) has a rich example of DCAT embedded in the header.
It includes examples of the following at-risk elements:
- `:accessService`
- `:bbox`
- `:hadRole`
- `prov:wasGeneratedBy`
- `:spatialResolutionInMeters`
- `:endpointDescription`
- `:endpointURL`
- `:servesDataset`
- `prov:qualifiedAttribution`

[2019-10-04 04:45] nicholascar commented on #1115
...and that RDF can also be returned as pure RDF, i.e. not embedded in anything, by using Conneg or this URI with query strings:

https://gnafld.net/2016-05/?_view=dcat&_format=text/turtle

[2019-10-04 13:54] nmtoken opened #1117 "EXAMPLE 49 Data Catalog Vocabulary (DCAT) - Version 2 coordinates are in wrong order"
Example 49 has:

    ga-courts:jc
      rdf:type dcat:Dataset ;
      dct:description "The dataset contains spatial locations, in point format, of the Australian High Court, Australian Federal Courts and the Australian Magistrates Courts."@en ;
      dct:spatial [
        rdf:type dct:Location ;
        dcat:bbox """<http://www.opengis.net/def/crs/EPSG/0/4283> POLYGON((
          115.864566 -42.88

[2019-10-07 09:03] kurzum commented on #1085
Here is the model which we will adopt:
* Datasets for us are version snapshots with a list of files
* Datasets are not glued together with `dcat:DatasetSeries`, but with these properties as theyy follow the Maven POM:

[code]
Order will be lexicographically over the version string, so it goes with SPARQL Order by.

Then we will create:

[code]
which will have:
* each dataset will have several `dat

[2019-10-07 18:02] kcoyle opened #1118 "PROF in normative areas of Conneg"
The profiles vocabulary (PROF) is integrated into normative sections of the document, in particular section 7.3.1.1 and Appendices, in particular A.1. These appear to be normative based on the conformance section statement:

"As well as sections marked as non-normative, all authoring guidelines, diagrams, examples, and notes in this specification are non-normative. Everything else in this specific

[2019-10-07 22:48] rob-metalinkage commented on #1118
Good catch -

what we need to do is explicitly declare the appendices as non-normative - its natural but not safe to assume that would be the case,

I think we can remove the reference to prof:Profile in 7.3.1 because dct:conformsTo is sufficient (though we may need to make statement that any dct:Standard referenced this way is assumed to be an instance of a "data profile" - we can refer to append

[2019-10-08 06:44] dr-shorthair commented on #868
[STAC](https://stacspec.org/) is important emerging standard for spatial data series - mostly for continuous/imagery and similar. We should make sure to align with its approach and language.

[2019-10-08 10:24] nicholascar commented on #1118
I have removed all references to PROF in PR #1120 and emphasised in *Conformance* that appendices are non-normative.

[2019-10-08 20:30] aisaac commented on #1106
@kcoyle for the record the "discussion to death" that @nicholascar alludes is #1022 : basically my preference for closing #1022 was to rename 'functional profiles' into something else, quite like what you've suggested in the issue here.
I've not yet reviewed the last changes pushed to me by Lars (sorry for that @larsgsvensson !) but I have accepted the fact that 'functional profiles' may remain as

[2019-10-08 20:42] kcoyle commented on #1106
@aisaac Thanks, Antoine. I'm coming to your same conclusion, and won't object if functional profiles is left in.

[2019-10-11 20:01] Aklakan commented on #1086
A quick example to clarify what I mean by the HTTP content negotiation aspect:

Let's say there is a DCAT catalog on the Web with an n-triple and turtle distribution
[code]

Then I would assume that if someone wrote a DCAT HTTP server that can serve datasets based on DCAT (I call that a data node), that a client could do:

[code]

And the data node would choose the appropriate distribution from it

[2019-10-13 00:01] andrea-perego opened #1123 "DCAT: Add reference to §13 / §13.1 / §13.2"
The description of the following classes and properties may not provide enough information to understand their actual use:
- §6.12 Class: Relationship
- §6.12.1 Property: relation
- §6.12.2 Property: had role
- §6.13 Class: Role

A possible option is to add a reference to §13 / §13.1 / §13.2, where their use is explained.

[2019-10-14 11:27] andrea-perego opened #1124 "DCAT: Again about "recommended" properties"
Reviewing again the DCAT2 spec while working on the implementation report, I think we need to sort out the issue already raised in https://github.com/w3c/dxwg/issues/766 about what we list as "recommended" properties.

Re-thinking about it again, I'm no longer convinced of my proposal in https://github.com/w3c/dxwg/issues/766 . Rather, I'm questioning whether the use of "recommended" is actually w

[2019-10-14 11:38] jakubklimek commented on #1115
[LinkedPipes DCAT-AP Viewer](https://github.com/linkedpipes/dcat-ap-viewer/commit/0f23874cf3c98d779a25304bcc4d608bc26aba19) (currently used as part of [Czech National Open Data catalog](https://data.gov.cz)) is adding support for DCAT2 at the moment. The range of newly supported properties will still grow. So far, it supports:
`packageFormat`, `compressFormat`, `DataService`, `endpointURL`, `serve

[2019-10-14 11:40] jakubklimek commented on #1115
[LinkedPipes DCAT-AP Forms](https://github.com/linkedpipes/dcat-ap-forms/commits/feature/dcat2) (currently used as part of [Czech National Open Data catalog](https://data.gov.cz)) is adding support for DCAT2 at the moment. The range of newly supported properties will still grow. So far, it supports: `packageFormat`, `compressFormat`, `DataService`, `endpointURL`, `accessService` and `endpointDescr

[2019-10-15 09:47] davebrowning commented on #744
What we have in the CR now seems to have passed muster (and this has been marked due for closing for a while now).   Will close, since I doubt we have bandwidth/effort available to add a new section at this stage unless there is a strongly voiced need... in which case we re-open/create a new issue

[2019-10-15 09:47] #744 closed, assigned to nobody

[2019-10-15 12:41] jakubklimek opened #1126 "Relation among Dataset, Distribution and Data Service"
I am working on an implementation of DCAT2 (and DCAT-AP 2.0.0) in [LinkedPipes DCAT-AP Forms](https://github.com/linkedpipes/dcat-ap-forms), [LinkedPipes DCAT-AP Viewer](https://github.com/linkedpipes/dcat-ap-viewer) and the [Czech National Open Data catalog](https://data.gov.cz), and currently, I am wondering about the relationship among Dataset, Distribution and Data Service, basically seeking a

[2019-10-15 19:33] kcoyle commented on #1118
Closing as the changes were made in #1120.

[2019-10-15 19:33] #1118 closed, assigned to nobody

[2019-10-17 18:50] NancyJean opened #1128 "Stability of DCAT version URIs"
My institution is investigating use of DCAT but has a very basic concern about the stability of DCAT Class and property URIs among versions.  DCAT v2 has made changes to DCAT v1 properties (e.g., loosening constraints) and Classes (e.g., changing definition of Distribution); however, the URIs for those properties and Classes do not appear to have changed from version 1 to version 2.  Hence, local

[2019-10-17 19:54] bertvannuffelen opened #1129 "specification of range restrictions"
Hi,

in https://w3c.github.io/dxwg/dcat/#Property:distribution_compression_format it is stated that the range is restricted to be a iana Mediatype.

In https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat.ttl the range is dct:MediaType.
Q1: Is there another Machine readible document, like shacl, that expresses then the restriction?

Also, not all language definitions in https://github.com/w3c/d

[2019-10-17 21:01] bertvannuffelen opened #1130 "definitions clarifications of conforms to"
Hi,

`conforms to` appears twice as property. Having the definition _An established standard to which the described resource conforms._

However it is not clear to what the conforms to actually refers. To the metadata that is in the catalog, or the information that is described by the metadata.

the usage notes state
- [cataloged resource](https://w3c.github.io/dxwg/dcat/#Property:resource_conform

[2019-10-17 21:57] bertvannuffelen opened #1131 "machine readible contributors in line with the html page"
Hi,

in the machine readible documents the list of contributors is different from the list in the html document? Maybe best to align them.

[2019-10-17 23:56] rob-metalinkage commented on #1130
On a related matter - there is a proposal in this issue #1042 (which we just agreed to in last Conneg-by-AP subgroup meeting) to include an informative appendix to the Conneg-by-AP spec to illustrate how we thing DCAT might reference Distributions and DataServices that support Conneg-by-AP.

It would be good to have a critical review of this proposal  - using _this_ issue as a motivation for provi

[2019-10-18 11:43] makxdekkers commented on #1128
@NancyJean We discussed the options for a new namespace for DCAT2 some time ago. See https://github.com/w3c/dxwg/issues/131.

As I see it, we are following best practice at W3C and other places where the namespace remains the same for different versions (e.g. RDF: http://www.w3.org/1999/02/22-rdf-syntax-ns#; OWL: http://www.w3.org/2002/07/owl# -- note that OWL2 still uses the OWL namespace; SKOS:

[2019-10-18 17:34] riccardoAlbertoni commented on #1126
Hi @jakubklimek,  thanks for your comments, please see my replies below.

Yes,  I would connect SPARQL endpoint to a different distribution than the trig file.  Something of similar is illustrated in  [EXAMPLE 45](https://www.w3.org/TR/vocab-dcat-2/#ex-elaborated-bag).

Distribution and DataService are two distinct things, and there might be cases where you need to specify a licence for both. For

[2019-10-18 20:28] andrea-perego commented on #1117
Thanks for pointing this out, @nmtoken .

@dr-shorthair , would you please look into this?

[2019-10-19 05:16] jakubklimek commented on #1126
@riccardoAlbertoni Thank you, this definitely clarifies things.

However, to avoid future confusion by other readers, I would suggest adding some clarification of these issues to the document itself. Maybe an example more concise than 48 and 49 (which are quite extensive and therefore lack clarity).

Also this:

should be added more prominently, not just given in an example, as I think this will b

[2019-10-22 16:28] riccardoAlbertoni commented on #1131
Thanks for the comment.
Up to now, we have maintained the same principle used in DCAT1, whose RDF lists a broader number of contributors not mentioned in the normative document. This choice is in the spirit of acknowledging the authors and translators of the previous dcat releases and others who specifically contributed to the RDF encoding of DCAT 2.

[2019-10-22 20:40] nicholascar commented on #1042
I've implemented an example as above for the Media Types implementation: https://conneg.info/mediatypes?_format=text/turtle.

[code]

[2019-10-23 14:26] riccardoAlbertoni commented on #1128
Dear @NancyJean,
Thanks a lot for the comment.
As explained by @makxdekkers, and as documented by the discussions he pointed at, we use the same namespace as DCAT2 changes do not break the existing implementations.   DCAT is then stable.
If you do not have other observations on this, we are going to close this issue on git.
Is it ok for you?

[2019-10-23 15:08] NancyJean commented on #1128
I appreciate the explanation and do think that you need to make your versioning policy explicit in the documentation.  As to following the versioning policies of DCMI and W3C  - well, I suppose that's their choice as much as it is yours.

That said, I'm not entirely convinced that the reasons posited for not versioning are in the best interest of the DCAT user community.  Among the reasoning in is

[2019-10-24 12:17] dr-shorthair commented on #1117
Hmm. The error is in the original catalogue entry:
https://ecat.ga.gov.au/geonetwork/srv/eng/catalog.search#/metadata/74767
I will check with GA, but meanwhile I guess I could flip the coord order.

[2019-10-24 13:19] riccardoAlbertoni commented on #174
I have already done my assignment on this providing Italian translation, so I have removed myself from the assignees.

@akuckartz If you are available for providing the German translation, please prepare a Pull Request. Merging a single new language shouldn't be problematic.

At the moment, besides English, we have Italian, Spanish, and Czech translations in place. I wonder if, at this stage of th

[2019-10-24 14:45] chris-little opened #1137 "5.1 DCAT Scope states 6 main classes, then shows 7."
Section "5.1 DCAT scope" states there are 6 main classes. The text and Figure 1 both show 7 classes. Is one class not a main one, or are there 7?

Or am I missing something?

Creator: @chris-little

[2019-10-24 15:08] agbeltran commented on #1137
Thanks for checking this.

The class that is not listed in section 5.1 is ```dcat:Relationship```.

This class is 'at risk' (as indicated in 6.1 https://www.w3.org/TR/vocab-dcat-2/#Class:Relationship) pending evidence of its implementation.

In any case, it would be good to add a clarification, and take your comment into account once a decision is made around ```dcat:Relationship``` to have consis

[2019-10-24 15:10] chris-little commented on #1137
@agbeltran Thanks.

[2019-10-27 23:19] andrea-perego commented on #1115
@dr-shorthair , @nicholascar , @jakubklimek , thanks for your feedback!

The implementation you reported are included in the DCAT2 implementation report - see PR https://github.com/w3c/dxwg/pull/1138

[2019-10-27 23:23] andrea-perego commented on #1137
Actually, `dcat:Relationship` is not one of the key classes around which DCAT2 is built, as it has been specifically defined as a means to specify qualified relationships between resources. So, I would not consider it as a **main** class for DCAT2.

[2019-10-27 23:27] andrea-perego opened #1139 "DCAT: updates to ack section"
- Chris Little (https://github.com/w3c/dxwg/issues/1137)
- Nancy Fallgren (https://github.com/w3c/dxwg/issues/1128)

[2019-10-27 23:51] andrea-perego commented on #1124
I created a draft PR implementing this proposal: https://github.com/w3c/dxwg/pull/1140

[2019-10-28 04:49] dr-shorthair commented on #1124
I believe that by 'recommended' we mean 'recommended for use in the context of individuals from this class'.

[2019-10-28 04:51] dr-shorthair commented on #1137
We can remove it from Figure 1. if you like.

[2019-10-28 11:50] riccardoAlbertoni commented on #1128
We have added the following note in the document section ["dcat history"](https://w3c.github.io/dxwg/dcat/) putting upfront why DCAT 2 maintains the same namespace as DCAT 2014

"DCAT 2 maintains the DCAT namespace as it preserves backward compatibility with DCAT. DCAT 2 relaxes constraints and adds new classes and properties, but these changes do not break existing DCAT implementations."

Providi

[2019-10-28 13:13] andrea-perego commented on #767
For the current version of the implementation report, see PR https://github.com/w3c/dxwg/pull/1138

I think we can close this issue.

[2019-10-28 13:15] andrea-perego commented on #680
For the current version of the implementation report, see PR https://github.com/w3c/dxwg/pull/1138

I think we can close this issue.

[2019-10-28 13:18] riccardoAlbertoni commented on #767
yes, let's close this!

[2019-10-28 13:23] andrea-perego commented on #1117
Thanks, @dr-shorthair , for fixing this in PR https://github.com/w3c/dxwg/pull/1135

@nmtoken , could you please check if you are happy with this revision?

https://w3c.github.io/dxwg/dcat/

[2019-10-28 13:31] #767 closed, assigned to nobody

[2019-10-28 13:31] andrea-perego commented on #767
Done.

[2019-10-28 13:38] andrea-perego commented on #979
@agbeltran , following PR https://github.com/w3c/dxwg/pull/1125 , do you think we can close this one?

[2019-10-28 19:19] fellahst commented on #62
The subclassing of dcat:Catalog from dcat:Dataset is problematic and a mistake in my opinion. It reduces its reusability, While Catalog class can reuse many properties of Dataset, it does not mean that it should be a subclass of Dataset. In Geoplatform, a Catalog can refer to different types of assets (closely matching to dcat:Resource) including maps, layers, services, reports etc. We define the

[2019-10-28 20:49] smrgeoinfo commented on #62
I think the idea is that a catalog is essentially a dataset in which each item is a resource description.  Definition of different subclasses of dcat:Resource would enable catalogs describing different kinds of resources.

[2019-10-28 21:03] fellahst commented on #62
I am sorry I have a hard time conceptualizing a Catalog as a dataset.  For me, it is a more collection of resources (its part).  A collection of maps (map series) or a collection of services does not have the attributes of dataset, or collection. I would suggest making dcat:Catalog subclass of Resource to avoid future problems.

[2019-10-29 08:40] kcoyle commented on #62
However, the definition in the document is: "A collection of data, published or curated by a single agent, and available for access or download in one or more representations." which would include a collection of maps. This would also make a digital library or a digital archive a dataset. This is definitely distinct from the computer science use of the term, which is for a set of files of data poi

[2019-10-29 10:56] dr-shorthair commented on #62
The more general notion of 'dataset' was one of the very first things that we resolved when we started work two years ago. See #64, #98, #351 I have no problem in conceiving of a map collection, or digital library as a 'dataset', since both items and datasets can be members of datasets.

The special thing about a 'catalog' is that it is primarily a collection of metadata records, which are a kind

[2019-10-29 16:56] chris-little commented on #1137
@andrea-perego and @agbeltran have resolved my issue and the action to update is being tracked.

[2019-10-29 16:56] #1137 closed, assigned to nobody

[2019-10-29 20:51] #9 closed

[2019-10-29 21:13] fellahst commented on #62
What about a catalog of physical assets, e.g trucks, equipment for emergency management? Physical assets could be modeled as a subclass of Resource, they are not datasets (even if they describe metadata about these physical assets). The catalog would be a logical grouping of these assets. It is not obvious to me that this catalog can be seen as a dataset. Based on the current definition of dcat:Da

[2019-10-29 22:27] dr-shorthair commented on #62
We intentionally left that door open. While DCAT is about datasets and data-services, the introduction of the `dcat:Resource` class intentionally provides a potential extension point for the kind of applications you describe. The goal was to reflect the potential for the DCAT model for catalogs to be generalized beyond data, though actually doing any extensions was beyond the scope of DCAT2.

[2019-10-30 00:03] andrea-perego commented on #1139
Addressed via PR https://github.com/w3c/dxwg/pull/1142 (thanks, @riccardoAlbertoni !).

I think we can close this one.

[2019-10-30 00:06] andrea-perego commented on #1100
@rduerr , could you please confirm PR https://github.com/w3c/dxwg/pull/1142 fixes the issue?

[2019-10-30 00:08] andrea-perego commented on #174
Because of time constraints, I suggest we move this to future work.

[2019-10-30 00:14] andrea-perego commented on #1054
I suggest we move this one to future work, because of time constraints.

[2019-10-30 00:17] andrea-perego commented on #545
Should we move this one to future work?

[2019-10-30 00:22] andrea-perego commented on #137
I wonder whether we should move this to future work, until we receive feedback about backward compatibility issues (I may be wrong but, to my knowledge, we have not received any so far).

[2019-10-30 05:27] rob-metalinkage opened #1146 "Provide a means to declare conneg-by-ap is supported by URI identified items within a dcat:Dataset."
dcat:endpointDescription

"The endpoint description gives specific details of the actual endpoint instances, while dct:conformsTo is used to indicate the general standard or specification that the endpoints implement."

the range is rdfs:Resource

It would appear to be useful to be able to canonically declare that conneg-by-ap is available on a distribution or each item in a dataset or both.

Decl

[2019-10-30 07:46] akuckartz commented on #174
@riccardoAlbertoni I will try to do that until next week.

[2019-10-30 09:06] nicholascar commented on #1146
Here's my first attempt at declaring a dcat:Dataset, a dcat:DataService and dcat:distributions: https://conneg.info/mediatypes-service/?_mediatype=text/turtle

It includes:

[code]

[2019-10-30 11:41] riccardoAlbertoni commented on #137
+1 to move it on future work

[2019-10-30 11:45] riccardoAlbertoni commented on #174
@andrea-perego : Yes let's move it on future work. In case @akuckartz is providing the german tranlsation, we can keep his PR ready for merging, and merge it as soon as the process constraints allow it.

[2019-10-30 12:34] andrea-perego commented on #174
Done.

[2019-10-30 12:34] andrea-perego commented on #137
Done.

[2019-10-30 12:42] #680 closed, assigned to nobody

[2019-10-30 12:43] #1139 closed, assigned to nobody

[2019-10-30 12:44] #1131 closed, assigned to nobody

[2019-10-30 12:46] #496 closed, assigned to nobody

[2019-10-30 12:48] #979 closed, assigned to nobody

[2019-10-30 12:49] andrea-perego commented on #1117
PR #1135 should have addressed the issue. If this is not the case, this should be reported in a new one.

Closing.

[2019-10-30 12:49] #1117 closed, assigned to nobody

[2019-10-30 12:50] andrea-perego commented on #1100
PR #1142 should have fixed the issue. If not, a new one should be created.

Closing.

[2019-10-30 12:50] #1100 closed, assigned to nobody

[2019-10-30 12:50] #202 closed, assigned to nobody

[2019-10-30 12:55] andrea-perego commented on #1115
The DCAT2 implementation report has been published:

https://w3c.github.io/dxwg/dcat-implementation-report/

I think we can close this issue.

[2019-10-30 12:57] andrea-perego commented on #1126
To be moved to future work, as it cannot be addressed at this stage.

[2019-10-30 12:58] andrea-perego commented on #1124
PR #1140 merged.

Issue closed.

[2019-10-30 12:58] #1124 closed, assigned to nobody

[2019-10-30 14:19] riccardoAlbertoni commented on #1126
+1 to move it on future work

[2019-10-30 21:46] andrea-perego commented on #1115
Closing.

[2019-10-30 21:46] #1115 closed, assigned to nobody

[2019-10-31 03:28] rob-metalinkage opened #1149 "Content-Profile default behaviour not explicit for single profiles or single profile hierarchy"
The spec states

"When a resource is returned that conforms to two or more profiles that are not within a profile hierarchy (i.e. none of the multiple profiles the resource conforms to is a profiles of another), the server MUST indicate all conforming profiles individually within the Content-Profile header as such:

Content-Profile: <PROFILE_1>, <PROFILE_2>"

but it hasnt stated explicitly that th

[2019-10-31 10:58] barthanssens opened #1150 "DCAT2 implementation in RDF4J"
Not sure if this really counts as an implementation, but I'm working on adding the URIs of the DCAT2 classes and properties as a convenience class with java constants to Eclipse RDF4J (which already contains a class for DCAT 1.x)

https://github.com/eclipse/rdf4j/issues/1580

[2019-11-01 14:46] andrea-perego commented on #1150
Thanks for reporting this implementation, @barthanssens .

[2019-11-01 15:17] kcoyle commented on #1130
@bertvannuffelen I don't know your use case so I can only speak to the intention of the Dublin Core property. The object of the property should always be some standard, schema, or specification that is adhered to by the subject. Obviously this is somewhat open to interpretation, and perhaps the DCAT descriptions are not sufficient to explain what is intended in this context. But I think it is corr

[2019-11-01 22:11] rob-metalinkage commented on #1130
this may be a major showstopper for DCAT if @kcoyle's interpretation is correct - its at odds with the way this could be interpreted: "An established standard to which the described resource conforms."

each of the DCAT properties tends to describe whether it relates to the dcat class instance or the described resource - and its a mix.

this appears to be a requirement that hasnt been articulated

[2019-11-02 03:59] smrgeoinfo commented on #1130
CatalogRecord.conformsTo  should identify the 'standard' that the dcat record at CatalogRecord.foaf:PrimaryTopic conforms to (however the metadata producer interprets 'conformance, which hopefully they document somewhere). In the dcat context I would expect this to be some dcat profile.

dcat:Resource.conformsTo should identify the 'standard' that the content of the described resource 'conforms to

[2019-11-02 05:59] kcoyle commented on #1130
@smrgeoinfo I don't understand this statement:

because I don't see how that could be expressed as an RDF triple. `dct:conformsTo` can't reify to `foaf:primaryTopic` via `CatalogRecord.foaf:PrimaryTopic`. The statement:
[code]

is a statement about the specification of the rules for the catalog record, and only the catalog record. It seems to me that since `foaf:primaryTopic` has as its object the

[2019-11-02 08:38] makxdekkers commented on #1130
@kcoyle As far as I am concerned, the statement `ex:catalogRecord1 dct:conformsTo ex:DCATv2` does say something about the set of metadata statements that describe the dataset. That is true for **all** properties associated with the `dcat:CatalogRecord`: the title is the title give to the set of metadata statements that describe the dataset, the issued date is the date the metadata for the dataset

[2019-11-02 09:13] makxdekkers commented on #1130
The way I see this working is:

If we just have the metadata and the dataset, this is the diagram:
![image](https://user-images.githubusercontent.com/7534601/68068730-6bdb6300-fd58-11e9-9577-74eed0926410.png)

The URI identifies the dataset, and the metadata statements describe the dataset identified by the URI.
Now when we add the description of the catalog record, we get:

![image](https://user-

[2019-11-02 09:35] kcoyle commented on #1130
@makxdekkers What you diagram may be the result of the use of `foaf:primaryTopic`. I'm not clear on the usage of that, but it seems to say that the catalog record is a document about the resource.   If it does, then what Richard says may be the case, however that makes the `dct:conformsTo` on the `dcat:Resource` to be redundant with the `dct:conformsTo` on the `dcat:Record`, which may be part of m

[2019-11-02 09:59] makxdekkers commented on #1130
@kcoyle I don't think this is about reification: the object of dcat:primaryTopic is not the _metadata for the dataset_, but the _dataset_. As per the definition at https://w3c.github.io/dxwg/dcat/#Property:record_primary_topic, it is the _`dcat:Resource` (dataset or service) described in the record_. So in my diagram, the value of `dcat:primaryTopic` in the left-hand metadata box is the URI of the

[2019-11-02 10:20] makxdekkers commented on #1130
So, the way I see it, the `dct:conformsTo` in the left-hand metadata says to which standard the metadata in the middle conforms, while the `dct:conformsTo` in the middle metadata says to which standard the dataset on the right conforms.

[2019-11-02 11:14] riccardoAlbertoni commented on #1130
I agree with the following @makxdekkers's and  @smrgeoinfo views:

The DQV example  ["Express the conformance of a dataset's metadata with a standard"](https://www.w3.org/TR/vocab-dqv/#ExpressConformanceWithStandard) shows how to express compliance to a DCAT profile, and it is coherent with the views expressed above.

@rob-metalinkage:  is the  DQV example close to the example you are looking for?

[2019-11-02 13:54] pwin commented on #1130
I have restored the 'future work' label because we are close to completion of this phase of DCAT development (v2); there are several areas of 'future work' - so it is clear that this phase of the DCAT development isn't perfect and needs further work; experiences coming from the wider implementation of catalogues compliant with the DCAT v2 standard will give more insight into the issue #1130 proble

[2019-11-02 15:25] kcoyle commented on #1130
@riccardoAlbertoni The DQV standard says that the "conforms to" statement relates to the metadata, not to the resource which the metadata describes:

[code]

Given that the GeoDCAT-AP is a standard for metadata, not for the resources that are pointed to from a DCAT catalog, then I think this says the opposite of what @makxdekkers and @smrgeoinfo were saying. That DQV statement is consistent with t

[2019-11-02 16:29] makxdekkers commented on #1130
@kcoyle I think you are misreading this. I think that you view the set of metadata statements that go into the left-hand metadata 'record'  as the catalog record. However, as I see it, **the catalog record is the set of metadata statements in the middle metadata box**, namely the set of metadata statements that describe the dataset. In that sense, `dcterms:conformsTo :geoDCAT-AP` in the example ab

[2019-11-02 16:39] riccardoAlbertoni commented on #1130
Sorry, I don't see the contradiction with what @makxdekkers and @smrgeoinfo were saying. But of course, It is possible that I am misreading.

Where you apply the conformsTo depends on what kind of standards you are considering. The rule of thumb should be something like

- If it is a metadata standard or profile of a metadata standard, than you have to apply the conformsTo to  CatalogRecord, which

[2019-11-02 17:33] kcoyle commented on #1130
@riccardoAlbertoni You seem to be saying what I said [above](https://github.com/w3c/dxwg/issues/1130#issuecomment-548827214), but Richard said:

which sounds to me like it is applying `dcat:catalogRecord1 dct:conformsTo` to the object of foaf:PrimaryTopic. Could we get this as code, Richard? Because I'm not sure what "the dcat record at CatalogRecord.foaf:PrimaryTopic" means - are you referring to

[2019-11-02 19:18] makxdekkers commented on #1130
@kcoyle Apologies if I misunderstood. I thought you were arguing that `ex:catrec1 dct:conformsTo ex:standard1` said something about the `dcat:Resource` conforming to `ex:standard1`. If not, I misunderstood.

So maybe we all agree and we are confusing ourselves.

If we go back to the question @bertvannuffelen asked, I think the answer is that

`ex:catalogRecordX dct:conformsTo ex:metadataprofileP`

[2019-11-02 19:29] pwin commented on #1130
@makxdekkers  - that last set of 3 examples is exactly how I see dct:conformsTo being used

[2019-11-02 19:45] rob-metalinkage commented on #1130
I can live with this interpretation and if communicated then DCAT is not broken.. but suboptimal in its explanation.

It does introduce a constraint that all catalog records need to conform to the same set of profiles  .. and as @kcoyle pointed out conneg could be used if multiple are possible.  Managing heterogeneous catalogs can be considered out of scope or future work.

I also suggest contribu

[2019-11-02 19:48] pwin commented on #1130
@rob-metalinkage  - I think that this sort of issue, as part of 'future work', gets carried forward into the primer doc

[2019-11-02 20:00] makxdekkers commented on #1130
@rob-metalinkage I don't think this means that all catalog records in a catalog need to conform to the same profile. As far as I can see, there is no rule that prohibits two catalog records in the same catalog to conform to different profiles:

`ex:catalogRecordX dct:conformsTo ex:metadataprofileP`
`ex:catalogRecordY dct:conformsTo ex:metadataprofileQ`

In practice, catalogs may often contain cata

[2019-11-02 20:13] riccardoAlbertoni commented on #1130
+1 to  pwin's statement:

Just for future reference,  there are some examples in the dcat document illustrating the different use of dct:conformsTo

- [Example 33](https://www.w3.org/TR/vocab-dcat-2/#ex-inspire-conformant-dataset) shows  a well-known pattern to represent the conformance  of a dataset  to a standard

- [Example 45](https://www.w3.org/TR/vocab-dcat-2/#ex-elaborated-bag) shows differ

[2019-11-03 03:38] rob-metalinkage commented on #1130
OK - from my perspective I think the response is definitive and DCAT is not broken and there are examples enough to back it up. Future work might just be to tune the way its presented or a primer.

This is perhaps at odds with the statement "that it applies to the subject of the triple itself, not a resource that the content of the subject may be describing. " but I guess thats something for the D

[2019-11-04 06:36] rob-metalinkage opened #1152 "Reduce profile list network traffic burden by making optional unless explicitly asked for"
The "cartesian product"  form of profile listing can become quite onerous.

We should consider making it a "MAY" to return this  for GET requests - and to ensure the mechanism is actually supported making it mandatory only if a specific named profile is asked for - so we'd need to mint that id.

(we could make it HEAD specific - but that violates HEAD=GET without body expectation..)

[2019-11-04 08:44] bertvannuffelen commented on #1130
@all thanks for the feedback.

Taking the examples, which clarified the intention,  by @makxdekkers

The scope of this statement is the dcat:Resource (because it catalogrecord points to dcat:Resource) and its related distributions. Does the scope include the metadata of the catalog to which the the catalogrecord belongs?  If so then the remark https://github.com/w3c/dxwg/issues/1130#issuecomment-5

[2019-11-04 09:26] makxdekkers commented on #1130
I don't understand what you call the 'scope of this statement'. This statement is about the metadata that describes the dcat:Resource, not about the dcat:Resource itself.

Again, what do you call the 'scope'? The statements associated with a dcat:CatalogRecord are only about the set of metadata that it describes and not about anything else.

[2019-11-04 09:36] makxdekkers commented on #1130
@bertvannuffelen

In my mind,

`ex:catalog dct:conformsTo ex:standard`

says that the Catalog itself conforms to some standard or implementation rules. This could be related to a law or regulation that governs the establishment of a particular type of catalogue or the quality rules that govern it. This does not need to say anything about the items in the catalogue, but I don't think it excludes th

[2019-11-04 18:24] smrgeoinfo commented on #1130
Perhaps the root of the problem that the subject of the triples in dcat:Resource is a resource in the world; the subject of the triples in dcat:CatalogRecord is a set of triples that describe a resource, and the subject of triples in dcat:Distribution is a representation of a resource documented in a dcat:Resource instance that links to the dcat:Distribution instance. Apparently this is not clear

[2019-11-04 21:20] aisaac commented on #545
Lesson learnt from past experience: creating a fully fledged errata page is probably not needed for PR, but it's good to include a URL for it  in the spec document (ie the main DCAT spec) now, though, even if it's a stub. Such link obviously helps readers find the fixes you want them to find. And adding the link at later stage in the process may prove more difficult! (especially if you forget it b

[2019-11-04 22:33] aisaac opened #1153 "Inconsistency between usage note of dcat:themeTaxonomy and range of dcat:theme?"
The usage note of dcat:themeTaxonomy says "It is recommended that the taxonomy is organized in a skos:ConceptScheme, skos:Collection, owl:Ontology or similar, which allows each member to be denoted by an IRI and published as Linked Data.".
But the range of dcat:theme is skos:Concept, so it seems that the expectation for the members of the objects of dcat:themeTaxonomy statements is a bit more prec

[2019-11-04 22:34] bertvannuffelen commented on #1130
With _scope_ I mean to the entities the standard document which is mentioned as value is referring to.

`ex:dataset1 dct:conformsTo ex:EUROSTATmethod` is stating that the data entries in the dataset `ex:dataset1` are collected/maintained/... according to the `ex:EUROSTATmethod` document.

`ex:distribution1 dct:conformsTo ex:SHAPEfileBE` is stating that the data entries in the distribution `ex:dist

[2019-11-04 22:44] aisaac opened #1154 "Why are resolutions are defined in terms of 'minimum' separation?"
This is issue is both for spatial and temporal resolution. both are defined in terms of 'minimal separation'. But shouldn't it be 'maximal separation' instead?
For example at https://w3c.github.io/dxwg/dcat/#Property:dataset_spatial_resolution
"Minimum spatial separation resolvable in a dataset, measured in meters."

For me if a dataset has reports for points separated by one meter in some areas (

[2019-11-04 23:07] smrgeoinfo commented on #1154
The typical usage or 'resolution' for spatial data is related to numerical precision-- what is the smallest distance (in geographic space) between two points that can be asserted to be in different locations. Locations reported to the nearest km in that dataset would be reported with different accuracy or location uncertainty.

[2019-11-04 23:17] smrgeoinfo commented on #1130
@bertvannuffelen As far as I can tell, the triples in your example above make no assertion about what specification the catalogXY conformsTo, and that specification is where the answers to your last question would need to be.  Otherwise, FR applies to X, DE applies to Y, and SmartAggregator makes X and Y accessible some fashion that is not specified.  The spec for SmartAggregator would need to det

[2019-11-05 00:08] dr-shorthair commented on #1153
Concepts are not always organized into ConceptSchemes, Collections or Ontologies. Sometimes they are free-floating (e.g. specified at run time).

[2019-11-05 00:47] nicholascar commented on #1153
@aisaac  is correct that the range gives an ***expectation*** of use, even if in general Semantic Web work you don't *have* to use `skos:Concept`s within a `skos:ConceptScheme` or `skos:Collection`.

[2019-11-05 05:17] akuckartz commented on #1153
What does `It is recommended` mean? Is it normative or only a suggestion?

[2019-11-05 05:46] dr-shorthair commented on #1153
'recommended' is still normative language, but it is a lower bar than 'required'.

https://tools.ietf.org/html/rfc2119
https://www.iso.org/sites/directives/current/part2/index.xhtml#_idTextAnchor030

[2019-11-05 07:23] makxdekkers commented on #1130
@bertvannuffelen I think your examples may be beyond what you would normally find in practice. In which cases would descriptions of datasets conform to both a French GeoDCAT-AP and a German StatDCAT-AP? It seems a bit far-fetched to me, but I understand your point.
Now on you more general question:`

My answer would be: yes. As long as there are no conflicting requirements in the two profiles that

[2019-11-05 07:36] kcoyle commented on #1153
The range actually assigns all values of dcat:theme the class of skos:Concept.

"... *are* instances ..." This is regardless of whether the value of dcat:theme has elsewhere been defined in a taxonomy using SKOS.

It would be interesting to understand the functional purpose; perhaps this aids in queries by class rather than by property? Presumably this was discussed long ago, so no one may remembe

[2019-11-05 07:44] aisaac commented on #1154
Thanks @smrgeoinfo !
I'm still a bit puzzled that this practice would lead to indeed reporting the minimum distance as the resolution. But I'm ready to accept it. And your wording is more understandable than the efficient but less friendly "spatial separation resolvable"

Would it be similar for time? I.e. if one has a dataset with three observations, two that are one second apart and the third th

[2019-11-05 07:56] aisaac commented on #1153
Adding to what was said, and clarifying my words...

It is perfectly fine to use a (regular) ontology like Schema.org, or even a (instance-level) database like Wikidata for dcat:themeTaxonomy. And with the current axiomatization, formally it's fine to use the members of these, e.g., an OWL class from the ontology (schema:Painting), or a city from DBpedia (dbpedia:london), as the object of dcat:the

[2019-11-05 08:15] kcoyle commented on #1153
The other possibility is that assigning the range of skos:Concept has no functional necessity and can be left undeclared, which would also allow for literals as themes, true? Because as defined it requires a URI, and some validation schemas would see a literal as an error.

[2019-11-05 08:40] aisaac commented on #1130
@bertvannuffelen  @makxdekkers I think we should be careful about discussing conformance at catalog level.

It could be that a conformsTo at the level of the catalogue would somehow cascade down to records and datasets. But it's certainly not a universal rule. As a matter of fact I would be uncertain about asserting a triple like `ex:catalog1 dct:conformsTo <GeoDCATAP>`. Does the DCAT spec include

[2019-11-05 09:03] aisaac opened #1155 "What kind of dataset is dataset-001?"
Are the small examples given in the DCAT spec supposed to be building up a more complete picture of a bigger example?

If yes, then I'm puzzled by the story told for dataset-001. In example 6 its primary type says it is a dataset of manuscripts. But its content type in example 7 is "standard office documents", which hints these were not created purely by hand. And its temporal coverage elsewhere s

[2019-11-05 09:09] aisaac commented on #1153
@kcoyle yes removing the range of dcat:theme (and keeping it merely as an 'expected range' in a usage note) could be an option. I'm keen on keeping dcat:theme used with URIs though. It can be very valuable to force a bit of structure here. And it's good to keep this as a difference with [dcat:keyword](dcat:keyword). Otherwise implementers may wonder which one to use, leading to a diversity of usag

[2019-11-05 09:27] dr-shorthair commented on #1153
That was intentional. `dcat:keyword` is for literals; `dcat:theme` is to link to concepts that are more formally defined elsewhere, and in particular are available for re-use. This is unchanged from [DCAT 2014](https://www.w3.org/TR/2014/REC-vocab-dcat-20140116/#vocabulary-overview)

[2019-11-05 09:56] makxdekkers commented on #1153
@aisaac

From my memory of the GLD WG that developed DCAT version 2014, the idea behind `dcat:theme` was that its super-property `dct:subject` was too broad because it allowed any `rdfs:Resource` to be a subject, including people, places and, indeed, paintings. It was felt that it was necessary to restrict the objects to just instances of `skos:Concept`. If we now want to remove the restriction, a

[2019-11-05 10:09] dr-shorthair commented on #1153
https://github.com/w3c/dxwg/issues/119

[2019-11-05 10:10] aisaac opened #1156 "naming convention of dcat:catalog"
This is probably too late for this round, but re-reading the spec I realize that the naming of dcat:catalog is not great: if follows the same convention as dcat:service, dcat:record and dcat:dataset, but instead of linking to a resource that is being catalogues, it links to a resource that catalogues. The naming could instead have better represented that the case here is to represent a part (and t

[2019-11-05 10:11] dr-shorthair commented on #1153
Here is the earlier discussion: #119 #123

[2019-11-05 10:11] makxdekkers commented on #1153
I note that there is no explicit dependency between `dcat:themeTaxonomy` and `dcat:theme`. It is not a requirement that all objects used in `dcat:theme` must be from the KOS identified by `dcat:themeTaxonomy` -- for example, a catalog might not even specify `dcat:themeTaxonomy` -- nor that terms in  `dcat:themeTaxonomy` must be used in `dcat:theme` for any dataset in the catalogue -- they could al

[2019-11-05 11:28] kcoyle commented on #1153
Thanks for pointing out the dcat:keyword property to be used with keywords.

"It was felt that it was necessary to restrict the objects to just instances of skos:Concept."

Note, however, that the result of the range skos:Concept does not _restrict_ the objects to instances of topics previously defined as being of class skos:Concept; it has the function of inferring the class skos:Concept to any U

[2019-11-05 11:39] bertvannuffelen commented on #1130
@aisaac that is the issue I have with `dct:conformsTo`. If it is unclear how one should use this property if the semantics is varying based on the subject and the object. In particular if the object (in this case the standard) expresses statements on the subject and the relationships of that subject with other entities in the same formalism. That leads to statements that cannot be used and has no

[2019-11-05 11:41] rob-metalinkage commented on #1130
It might be useful to declare propertyChain axioms to declare semantics - if for example all catalogrecords in a catalog are expected to conform to something, then a propertyChain could be defined that shows how statements that each catalogrecords also conform can be entailes

[2019-11-05 12:01] kcoyle commented on #1130
@rob-metalinkage Doesnt' that assume an OWL-DL reasoner? I suspect that is a bridge too far for most uses of DCAT. ?

[2019-11-05 12:51] aisaac commented on #1130
@bertvannuffelen the answers given about the semantics of conformsTo are appropriate in my opinion.
So for catalogue records, one could say for example that they conform to an application profile of DCAT, suich as GeoDCAT-AP.
I was expressing (and I am happy with) the fact that DCAT does not try to express semantics of conformance across levels, as could be expressed by the property chain axioms t

[2019-11-05 13:33] riccardoAlbertoni commented on #1156
@aisaac, thanks for the comment.

 I understand your point, I am not sure that your point offers a reason to change the property name in the future. Surely that is something we cannot do at this stage.

 Anyway,  I agree that your observation is something to consider for discussion in future. For this reason, I have labelled this issue as "future work".

[2019-11-05 14:44] riccardoAlbertoni commented on #1155
Thanks for this editorial suggestion. Though it is not substantial, I agree that we could aim at presenting slightly more consistent chimaeras. So,  as a reminder, I have labelled this issue as future work.

[2019-11-05 16:26] smrgeoinfo commented on #1154
W.r.t. the time question, as long as the encoding scheme for temporal position has precision sufficient to resolve one second, yes.

[2019-11-05 19:54] rob-metalinkage commented on #1130
@kcoyle - specification of the semantics says nothing about the implementation - it merely means an OWL-DL reasoner _could_ be used.  I'm not really expert enough in OWL reasoning but my expectation is formal semantics and OWL reasoning could be used to test the definitions even if no-one needs to implement this as a run-time behaviour.

Its also easy enough to implement property chains with simpl

[2019-11-05 19:58] rob-metalinkage commented on #1130
@isaac - I agree with this in general "running the risk of over-formalizing" - but if there is a tricky ambiguity it is necessary to constrain to achieve interoperability, then it may be necessary.  Words are ambiguous, and complex chains of examples can get hard to follow.

 We added such a property chain axiom to PROF because we ended up in circular arguments where it was too easy to forget the

[2019-11-05 20:54] riccardoAlbertoni commented on #1130
Labelled "future-work" as for discussion in the [2019-11-05 telecon](https://www.w3.org/2019/11/05-dxwg-minutes.html)  and  related [resolution](https://www.w3.org/2019/11/05-dxwg-minutes.html#resolution05)

[2019-11-05 20:58] riccardoAlbertoni commented on #1153
Labelled "future-work" as for discussion in the [2019-11-05 telecon](https://www.w3.org/2019/11/05-dxwg-minutes.html)  and  related [resolution](https://www.w3.org/2019/11/05-dxwg-minutes.html#resolution05)

[2019-11-05 20:59] riccardoAlbertoni commented on #1154
Labelled "future-work" as for discussion in the [2019-11-05 telecon](https://www.w3.org/2019/11/05-dxwg-minutes.html)  and  related [resolution](https://www.w3.org/2019/11/05-dxwg-minutes.html#resolution05)

[2019-11-05 21:08] aisaac commented on #1154
ok, thanks @smrgeoinfo !
@riccardoAlbertoni actually I think we can close this issue now, my questions are answered :-)

[2019-11-05 21:10] riccardoAlbertoni commented on #1154
Good, Thanks @aisaac and  @smrgeoinfo!

[2019-11-05 21:10] #1154 closed, assigned to nobody

[2019-11-05 21:16] riccardoAlbertoni commented on #1129
Labelled "future-work" as for discussion in the [2019-11-05 telecon](https://www.w3.org/2019/11/05-dxwg-minutes.html)  and  related [resolution](https://www.w3.org/2019/11/05-dxwg-minutes.html#resolution05)

[2019-11-05 21:42] agreiner opened #1160 "correcting the naming of realizations of profile negotiation"
This is not really a new issue, but it's probably never been an issue on its own before. Can we get rid of the instances where header-based negotiation is called "http"? Query strings are part of http, too. Browsers use http, including headers. And query strings are as likely to be used programmatically as in a browser, so I would suggest we stick with header-based negotiation and query-string-bas

[2019-11-05 23:03] nicholascar commented on #1160
I'm ok with "HTTP Header" and "URI Query String Arguments" as naming for the two environments. That seems pretty unambiguous.

[2019-11-06 06:56] kcoyle commented on #1160
Note that the [IETF document](https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation) that parallels Conneg uses the term "HTTP header".

[2019-11-06 10:36] nicholascar commented on #1149
@rob-metalinkage's suggestion is for him to create an example for this by PR in time for 3PWD release

[2019-11-06 10:36] bertvannuffelen commented on #1130
I agree that my examples indicate that addressing DCAT profile conformance might not be obvious and it is hard to estimate its impact. And that there should be more evidence how it might be used in practice.

Leaving it as it is now means also that the decision on how dct:conformsTo is being interpreted will be left to the users of the vocabulary. I think my examples showed that there are differen

[2019-11-06 10:41] rob-metalinkage commented on #1106
discussed in CNEG meeting 6/11 closing due to consensus

[2019-11-06 10:41] #1106 closed, assigned to nobody

[2019-11-06 10:42] nicholascar commented on #1042
Example added in a new appendix and merged as a result of PR #1147

[2019-11-06 10:42] #1042 closed, assigned to nicholascar

[2019-11-06 10:50] rob-metalinkage commented on #1017
Closing as all have agreed the interpretation here.

[2019-11-06 10:50] #1017 closed, assigned to nobody

[2019-11-06 11:11] nicholascar opened #1161 "Remove Open World declarations from AltR"
@rob-metalinkage suggests moving this:

[code]

to this

[code]

(restriction removed)

If needed, a later SHACL graph can be used to ensure that `rdfs:Resource` instances in the AltR context have the `altp:hasRepresentation` properties with appropriate values.

[2019-11-07 12:33] makxdekkers commented on #1130
@bertvannuffelen I certainly understand your point, that the DCAT Recommendation does not say exactly what is and what is not a valid object for `dct:conformsTo` -- other that it can be inferred to be a `dct:Standard` of some sort.  If I understand correctly, you would want the object to be something that is machine-actionable, like a SHACL file that a machine can use to perform validation. Howeve

[2019-11-07 20:08] dr-shorthair commented on #1130
Machine actionability all round would be terrific. But the current reality is that there is a huge diversity of expressions of 'standards' and the chances of this converging on a small number of machine actionable forms is very very slight. Like @makxdekkers says, this would be a suitable thing for a profile to specify.

[2019-11-10 23:27] rob-metalinkage commented on #1130
I think @bertvannuffelen and @makxdekkers are talking at cross-purposes here - I dont think there is any debate aboiut the rdfs:range of dct:conformsTo - and @dr-shorthair is right in saying that constraining this is a matter for profiles of DCAT

The semantics issue is about the how the property relates to the subject - the rdfs:domain - which dct:conformsTo does not bound.

If the subject is a p

[2019-11-11 09:52] makxdekkers commented on #1130
@rob-metalinkage

I think your make things even more confusing:

In my opinion, your statement implying that the "thing" is a "non-information resource" is incorrect. The "thing" being described in the metadata statements associated with a `dcat:CatalogRecord` is the set of metadata statements associated with the `dcat:Dataset`; see my diagram at https://github.com/w3c/dxwg/issues/1130#issuecommen

[2019-11-11 18:04] proccaserra commented on #868
I am closely following this issue and would be interested in obtaining guidance from the group on how best to represent a `dcat:Dataset` that would have `dcat:Dataset` as its parts.
If I understand correctly, the group leans towards creating `dcat:DatasetSeries` class but this won't be happening before v3 so do I get right that the `recommended` way would be to rely on `dcat:qualifiedRelation` sho

[2019-11-11 19:31] agreiner commented on #1149
Can someone explain the benefit of doing this? It's not clear to me that this is really needed. When someone requests a dataset with a certain profile, does it really matter to them that the dataset returned happens to fit a different profile as well? It can be confusing compared to just stating which profile was chosen among the preferences given.

[2019-11-11 22:31] rob-metalinkage commented on #1149
I put the PR in shortly - but its actually only about reinforcing the simplest case of a single profile being reported - as you are focussing on.  We were guilty of addressing the inevitable complex case to make sure our model worked under all circumstances and failed to state the obvious - so this risks the complex case confusing the issue.

[2019-11-11 22:49] rob-metalinkage commented on #1130
@makxdekkers I have to agree with you "because it only created more confusion"  : I dont recognise any of my points (or the underlying concerns in http:range-14) in your re-characterisation of them !

"a dataset" is a conceptual thing, an encoding of a dcat:Dataset entity is an information resource describing it and a dcat:CatalogRecord is an information resource describing a dcat:Dataset (for exa

[2019-11-12 00:11] rob-metalinkage commented on #1149
On careful reflection the issue is the reference to MUST for HTTP in the abstract model - rewritten to make the HTTP example an example, also relaxed to SHOULD - as conceptually a response may conform to profiles the server does not actually know about.

[2019-11-12 08:56] makxdekkers commented on #868
@proccaserra As far as I am concerned, this group should **not** recommend a particular way to model dataset series until we have started and completed that discussion for V3. I am not even sure that this group leans towards creating a class `dcat:DatasetSeries`, but that should be one of the options to be discussed.

[2019-11-12 18:12] proccaserra commented on #868
@makxdekkers thank you for this insight, much appreciated. Could you (or anyone from the group comment) on my other questions? I owe the group an explanation: I am trying to create DCATv2 based JSON-LD context files for DATS (data article tag suite JSON schema) and I am currently weighing my options since DATS allows DATS.Dataset type to have DATS.Dataset as part.
I am currently considering `dcat:

[2019-11-13 01:06] dr-shorthair commented on #868
@proccaserra `dct:hasPart` is specifically mentioned here: https://www.w3.org/TR/vocab-dcat-2/#Property:resource_relation Note that we also very much accept the OWA rules, so any other RDF property or class can be used if required. I would encourage you to experiment with patterns for describing data-series in a DCAT context, and then bring your experience to the table so we can learn.

(Personall

[2019-11-19 02:45] rob-metalinkage commented on #1149
merged

[2019-11-19 02:45] #1149 closed, assigned to nobody

[2019-11-19 02:47] #1088 closed, assigned to nobody

[2019-11-19 05:28] nicholascar commented on #1160
Addressed by PR https://github.com/w3c/dxwg/pull/1165 with the names "HTTP Header" and "URL Query String Arguments" used throughout.

[2019-11-19 13:43] davebrowning opened #1169 "Broken Creative Commons link"
DCAT  has a link to the Creative Commons website in Section 8 (http://raw.githack.com/w3c/dxwg/dcat-remove-at-risk-notes/dcat/index.html#license-rights) in the third Note that is no longer valid.

Would https://creativecommons.org/share-your-work/licensing-considerations/ be a suitable replacement or is https://creativecommons.org/share-your-work/licensing-examples/ a better choice?

[2019-11-19 14:27] riccardoAlbertoni commented on #1169
I probably prefer the first link which links quite straightly to the "License Chooser". The second offers examples, but also many links in which one can get lost.

[2019-11-20 07:13] kcoyle commented on #1160
@nicholascar I still see HTTP used alone in the introduction section. Can you leave this open as an editorial change so that can be fixed? Thanks.

[2019-11-20 07:34] nicholascar commented on #1160
Aaarrgh, I missed that one! I've created a tiny PR for it: https://github.com/w3c/dxwg/pull/1171

[2019-11-21 11:56] nicholascar commented on #844
This axiom has been added to the ED, see https://w3c.github.io/dxwg/prof/#Property:conformsTo. I will close this issue since the title problem has been addressed and follow-on topics can generate new issues.

[2019-11-21 11:57] nicholascar commented on #916
Usage note now in ED: https://w3c.github.io/dxwg/prof/#Property:conformsTo

[2019-11-21 11:59] #916 closed, assigned to nicholascar

[2019-11-21 12:00] #686 closed, assigned to nicholascar

[2019-11-21 12:01] #687 closed, assigned to nicholascar

[2019-11-21 12:02] #453 closed, assigned to nicholascar

[2019-11-22 09:42] nicholascar commented on #407
DCAT has no Test Suite while Conneg does. Since PROF is a vocabulary, like DCAT, this Issue is now redundant - we won't be making a Test Suite for the vocab *per se*, although we might make one (SHACL stuff) for other purposes.

[2019-11-22 10:10] nicholascar commented on #408
This dummy profile has been assigned the PID URI of https://w3id.org/profile/csiro-epub-dcap alongside all the other profiles within https://w3id.org/profile/.

No further work is anticipated for this demonstration profile unless needed for particular purposes in future versions of PROF or if someone asks for it.

[2019-11-22 10:15] nicholascar commented on #507
The question in the title of this Issue, "What does prof:profileOf entail?" is answered by the axiom in the ED, see https://w3c.github.io/dxwg/prof/#Property:conformsTo.

[2019-11-22 11:25] #714 closed, assigned to nobody

[2019-11-22 11:26] #749 closed, assigned to nicholascar

[2019-11-22 11:29] nicholascar commented on #401
@andrea-perego could you please review references to ADMS in the ED: https://w3c.github.io/dxwg/prof/

[2019-11-22 12:14] kcoyle commented on #407
There are no such requirements for WG notes, so you needn't worry about these kinds of formalities. Of course, lots of *examples* aid in uptake, but that's up to you.

[2019-11-22 12:22] kcoyle commented on #507
I don't see what dct:conformsTo has to do with this. The question here is prof:profileOf, and if it means the same thing as dct:conformsTo then that is what should be used. Those are two different properties. And the question is: what is entailed by "profileOf"? which isn't answered.

[2019-11-23 06:01] nicholascar opened #1175 "Improved link to ISO codes"
In the [Property: type/genre](https://www.w3.org/TR/vocab-dcat/#Property:resource_type) section of the [DCAT PR](https://www.w3.org/TR/vocab-dcat/), ISO 19115-1 is cited but the link to the ScopeCode codelist given in Usage Note 2. is to an [unofficial ISO19139 codelist (from NOAA)](https://geo-ide.noaa.gov/wiki/index.php?title=ISO_19115_and_19115-2_CodeList_Dictionaries#MD_ScopeCode) which has th

[2019-11-24 13:33] VladimirAlexiev opened #1176 "Bad Geonames URL"
https://www.w3.org/TR/2019/PR-vocab-dcat-2-20191119/#ex-dataset:
dct:spatial <http://www.geonames.org/6695072> uses a non-semantic Geonames URL. Use http://sws.geonames.org/6695072/ instead

[2019-11-24 18:40] pwin opened #1177 "Are we superseding DCAT 1 or not once DCAT 2 is a REC?"
There is a status of recommendation document - "Recommendation Superceded" which is described at https://www.w3.org/2019/Process-20190301/#rec-rescind [there is interesting discussion about this at https://github.com/w3c/w3process/issues/36 ]

Please can we discuss here.  Do we want to supercede DCAT v1?

[2019-11-24 19:25] makxdekkers commented on #1177
The question for me is whether there is a strong incentive to move people from DCAT1 to DCAT2. In my mind, DCAT1 remains valid and if people don't have a need for the new bits in DCAT2 (e.g. Data Services, geo-stuff, time intervals, qualified relations, packaging etc.), they may not need to upgrade.
So, I would say that we don't have to make DCAT1 a superseded recommendation, just link from DCAT1

[2019-11-24 23:18] nicholascar commented on #1177
The PID URI for DCAT, https://www.w3.org/TR/vocab-dcat/, now redirects to DCAT 2. It means it's now no-longer possible to find DCAT 1 online. Is this as intended?

[2019-11-24 23:45] nicholascar commented on #1061
The definitions as arranged by the WG are present in the ED.

[2019-11-25 00:07] dr-shorthair commented on #1177
I'm leaning towards Makx view - perhaps with some nuances.

1. There is just one 'DCAT' and one dcat: namespace.
2. There are two descriptions of it, one which has additional features.
3. Existing DCAT users don't need to change anything to remain in conformance with DCAT.
4. The DCAT 2014 document describes what is essentially a 'profile' of (current) DCAT, which is currently reflected the DCATv2

[2019-11-25 00:14] dr-shorthair commented on #1177
Apart from the DCAT 2014 document, @davebrowning does the NS document have a link to the old RDF representation?

[2019-11-25 00:19] nicholascar commented on #857
From the definition of `prof:isInheritedFrom`:

[code]

This description may not have been fully present in PROF which this issue was first raised.

The reference to *base specification* in the description above indicates that the 'level' may be any 'level' by which I mean path distance through a hierarchy of `prof:isProfileOf`. A profile's `ResourceDescriptor` instances can be inherited from anyt

[2019-11-25 00:26] nicholascar commented on #802
The following sentence is now present [in the ED's Introduction](https://w3c.github.io/dxwg/prof/#introduction), immediately after the `isProfileOf` / `conformsTo` axiom:

[2019-11-25 00:31] dr-shorthair commented on #1176
@VladimirAlexiev could you create a PR?

[2019-11-25 01:53] nicholascar commented on #794
The reason for taking this qualified relations approach (`hasResource/hasRole`) is that there are potentially many `ResourceRole` roles and thus there could be many properties. [Already the vocabulary contains 8 Roles](https://w3c.github.io/dxwg/prof/#resource-roles-vocab) and we hope for and expect more to be created. So it's true that perhaps nothing would be *lost* in using direct properties bu

[2019-11-25 02:00] nicholascar commented on #795
"transitive inheritance" is now demonstrated in the PROF ED in examples and also in a [long note after the `prof:isTransitiveProfileOf` property](https://w3c.github.io/dxwg/prof/#Property:isTransitiveProfileOf).

The axiom `dct:conformsTo owl:propertyChainAxiom ( prof:isProfileOf dct:conformsTo )` also now present in the ontology defines the entailments that can be made with `prof:isProfileOf` and

[2019-11-25 02:16] nicholascar commented on #792
@paulwalk I remember some of the "WS-*" issues, since I was, and ma, a web service developer!

I need to be able to draw this issue to a close - to resolve something, leave it unresolved, point to future work etc. Your final words here that suggest a course of action are:

We, the PROF editors, do believe that PROF contains a "a good, understandable and efficient process for describing application

[2019-11-25 02:30] nicholascar commented on #792
Addressing the ShEx community comments:

We have used the word 'specification' and/or throughout the document and have given a series of definitions within it too that were agreed on by the WG.

All `prof:Profile` instances are `dct:Standard` given `prof:Profile rdfs:subClassOf dct:Standard`. The property linking profiles & standards, `prof:isProfileOf`, is now the only linking property with the i

[2019-11-25 02:42] nicholascar commented on #698
PROF indicates a. how you would identify a profile such that it can be used as a conformance target (with a PROF definition & a URI) and b. how to link resources to that conformance target (via `ResourceDescriptor` instances). Resources can be associated with roles (`ResourceRole` instances) from an open-ended vocabulary to indicate if they are suitable for validation or related purposes.

PROF le

[2019-11-25 02:43] nicholascar commented on #698
PROF indicates a. how you would identify a profile such that it can be used as a conformance target (with a PROF definition & a URI) and b. how to link resources to that conformance target (via `ResourceDescriptor` instances). Resources can be associated with roles (`ResourceRole` instances) from an open-ended vocabulary to indicate if they are suitable for validation or related purposes.

PROF le

[2019-11-25 02:58] nicholascar commented on #797
The current [Editor's Draft](https://w3c.github.io/dxwg/prof/) contains both a [Related Work section](https://w3c.github.io/dxwg/prof/#relatedwork) section detailing relations of PROF to  PROV-O and other ontologies and also an [Alignments section](https://w3c.github.io/dxwg/prof/#alignments) which contains alignments to Dublin Core, SKOS, VOAF and others.

There are now many property notes for th

[2019-11-25 03:01] nicholascar commented on #798
Email sent to raiser via public comments list, awaiting response or suitable time before closing.

[2019-11-25 03:05] nicholascar commented on #797
Email sent to raiser via public comments list, awaiting response or suitable time before closing.

[2019-11-25 03:11] nicholascar commented on #796
I assume when you say "ontologies for particular resource types" you mean something like the [DCMI Type Vocabulary](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#section-7) and perhaps more details ontologies that provide taxonomies of resource types?

If so, my answer here is that: PROF doesn't provide a taxonomy of resource types only a way of associating resources to profile

[2019-11-25 03:11] nicholascar commented on #796
This s addressed in https://github.com/w3c/dxwg/issues/797

[2019-11-25 03:11] nicholascar commented on #796
Email sent to raiser via public comments list, awaiting response or suitable time before closing.

[2019-11-25 03:26] nicholascar commented on #405
The current [Editor's Draft](https://w3c.github.io/dxwg/prof/) contains both a [Related Work section](https://w3c.github.io/dxwg/prof/#relatedwork) section detailing relations of PROF to  PROV-O and other ontologies and also an [Alignments section](https://w3c.github.io/dxwg/prof/#alignments) which contains alignments to Dublin Core, SKOS, VOAF and others.

Still missing from the suggestions about

[2019-11-25 03:29] nicholascar opened #1178 "Reference or align with JSON-LD"
JSON-LD has contexts and other features that look a bit like profiling. PROF should align/differentiate with/from JSON-LD, if not in a whole subsection at least in text somewhere.

[2019-11-25 03:44] #405 closed, assigned to nicholascar

[2019-11-25 06:35] davebrowning commented on #1177
The draft updated NS document (which isn't published yet) does have a link to a copy of the old rdf -which it assumes is renamed dcat2014.rdf (as per the naming in github).

Of course, we could make the "DCAT 2014 is a profile of DCAT" more explicit on that page.

[2019-11-25 06:42] davebrowning commented on #1177
That's a surprise to me at this stage in the process, so I certainly didn't intend that.  [You can get to DCAT1  from the PR, of course but that's a bit silly] . I'd assumed that that wouldn't happen, certainly not till final publication and after this conversation.

Generally, I agree with the Makx/Simon approach, its just how we sign post that.  (So I think that means we're not superceding.....)

[2019-11-25 07:08] akuckartz commented on #1177
Maybe DCAT1 can be declared deprecated as soon as DCAT2 has become a Recommendation?

[2019-11-25 07:29] nicholascar commented on #660
I've not received further comments from the issue proponent some time after contact so I'm marking this due for closing.

[2019-11-25 09:07] paulwalk commented on #792
@nicholascar thanks for the comment! I guess this has reached the point where we just have to agree to differ, so I won't press this further. I remain pessimistic about your chances of getting wide adoption - but that doesn't mean that I wouldn't be happy if you managed it!

[2019-11-25 09:10] nicholascar commented on #723
The definitions now in the [Editor's Draft](https://w3c.github.io/dxwg/prof/) (and the 2PWD) are in line with the suggestions here although the definition has been changed to ensure the alternative-ness of the identifier, v. the URI, is indicated:

**def:** A preferred alternative identifier for the Profile
**note:** A simple lexical form of identifier that may be accepted in some circumstances, s

[2019-11-25 09:17] nicholascar commented on #731
On reflection, yes I think we will keep the Note box. SKOS has done a good job for us and we are just re-using that explanation here, so best to just note to it. It shouldn't be in the main text since we aren't offering this up in this doc for the first time.

[2019-11-25 09:20] nicholascar commented on #754
There is no further action required for this Issue so I'm marking it due for closing.

[2019-11-25 10:57] #688 closed, assigned to nicholascar

[2019-11-25 10:57] kcoyle commented on #1061
@nicholascar Could you say here what the conclusion is? What definitions were included? Because the comments on the PR say that the definitions are not included, so this would then not be due for closing.

[2019-11-25 11:01] kcoyle commented on #797
@nicholascar Until the "raiser" gives an ok it doesn't seem that this should not be 'due for closing'. Maybe we need a different tag for the case where you have acted but are waiting on a reply? Maybe even "waiting on a reply"?

[2019-11-25 11:01] nicholascar commented on #1061
@kcoyle I'm putting in the PR now and will soon link to it.

[2019-11-25 11:02] nicholascar commented on #755
This Issue is now duplicated by #1061 however conversation is happening over there so I'm closing this issue in favour of that on.

[2019-11-25 11:02] #755 closed, assigned to nobody

[2019-11-25 11:03] nicholascar commented on #788
This issue is superceded by #1049 and with discussion there, I'm closing this one.

[2019-11-25 11:03] #788 closed, assigned to nobody

[2019-11-25 11:13] kcoyle commented on #1061
@nicholascar The conclusions need to be in the closed message. That's because in the future folks will look here for resolutions. Please include the results here, not just a link to the PR (which requires people to dig through for the conclusions to this issue).

[2019-11-25 11:14] nicholascar commented on #792
Thanks @paulwalk. It is a tiny vocab after all so it it's only used to identify profiles and then other properties, like DCT, are used to describe them, great!

[2019-11-25 15:49] andrea-perego commented on #1177
@pwin said:

IMO, stating that DCAT2 supersedes DCAT1 should not be a big problem (as DCAT2 is backward compatible with DCAT1). Said that, I am perfectly happy also with the other proposal, outlined by @makxdekkers in https://github.com/w3c/dxwg/issues/1177#issuecomment-557919538

I am more concerned about the issue reported by @nicholascar in https://github.com/w3c/dxwg/issues/1177#issuecomment-5

[2019-11-25 15:59] andrea-perego commented on #1169
Actually, I think the 2nd is preferable, as it starts with the list of CC licences - which is what the DCAT spec is talking about.
Otherwise, based on @riccardoAlbertoni point, I'd rather directly link to the CC licence chooser:

https://creativecommons.org/choose/

[2019-11-25 20:53] dr-shorthair commented on #1177
Yes - the /TR/ URI for DCAT 2 is https://www.w3.org/TR/vocab-dcat-2/
I think the URI for DCAT 2014 should be https://www.w3.org/TR/vocab-dcat/

[2019-11-25 23:34] nicholascar commented on #1177
So it looks like the redirect from https://www.w3.org/TR/vocab-dcat/ to https://www.w3.org/TR/vocab-dcat-2/ just needs to be broken and for https://www.w3.org/TR/vocab-dcat/ to have a note at the top as [OWL Features does re OWL2](https://www.w3.org/TR/owl-features/): "New Version Available: OWL 2". There doesn't seem to be a status change from just plain Red in the OQL1 docs, just that note.

[2019-11-26 16:55] riccardoAlbertoni commented on #1177
I would in favour of "superseding" DCAT 2014.  This, in my opinion, is not in contrast with Makx's view and does not force users to update, (I am afraid no one has such a strong power;)). Superseding DCAT 2014 do not remove DCAT 2014 from the web (the https://www.w3.org/TR/vocab-dcat/  remains available with a warning forwarding to the new specification), and the existing metadata descriptions whi

[2019-11-26 19:50] heidivanparys commented on #723
@nicholascar

Yes the original issue reported (definition and note starting with  "A property..." and "This property is ...") has been solved, so this issue can be closed.

Just a note: the definition in the HTML version is "The preferred identifier for the Profile, in circumstances where its URI cannot be used.", in the Turtle file it says "A preferred alternative identifier for the Profile", the

[2019-11-26 21:31] agreiner commented on #1177
I agree with Andrea and Riccardo. Looking at the descriptions of the alternatives, it seems to be that "superseded" is what we're after.

"W3C may obsolete a Recommendation, for example if the W3C Community decides that the Recommendation no longer represents best practices, or is not adopted and is not apparently likely to be adopted. An Obsolete Recommendation may be restored to normal Recommend

[2019-11-26 23:11] nicholascar commented on #723
Thanks @heidivanparys for the detailed reviewing! I have aligned all the defns in HTML and RDF now and committed that to the current Pull Requests, so this will be seen to be fixed shortly.

[2019-11-26 23:11] #723 closed, assigned to nobody

[2019-11-27 07:57] davebrowning opened #1182 "DCAT 1 PID URI incorrect"
As noted at https://github.com/w3c/dxwg/issues/1177#issuecomment-557939410,

"The PID URI for DCAT, https://www.w3.org/TR/vocab-dcat/, now redirects to DCAT 2. It means it's now no-longer possible to find DCAT 1 online. "

As should be clear from the subsequent discussion in that thread (where its a bit off-topic) the WG view is that this isn't what we planned - as summarised at https://github.com

[2019-11-27 07:57] davebrowning commented on #1177
I've raised a separate issue for the DCAT 1 PID uri at #1182

[2019-11-27 08:22] akuckartz commented on #1182
I dislike https://www.w3.org/TR/vocab-dcat/ pointing to DCAT1 after releasing DCAT2. Why not use https://www.w3.org/TR/vocab-dcat-1/  ?

[2019-11-27 08:57] makxdekkers commented on #1182
Changing the URI breaks persistence. If people have referred to /vocab-dcat/, for example linking their profile to DCAT 2014, their link will be broken.

[2019-11-27 09:33] plehegar commented on #1182
Due to the TR versioning mechanisms, it's not possible to constraint https://www.w3.org/TR/vocab-dcat/ to DCAT 1 (see also [TPAC 2017 plenary day slides](https://www.w3.org/2017/Talks/tpac-slides/plenary-project/#links)).  https://www.w3.org/TR/vocab-dcat/ refers to the latest of DCAT, independently of its versions (CR or above). https://www.w3.org/TR/vocab-dcat-1/ refers to the latest of DCAT 1,

[2019-11-27 12:22] pwin commented on #1182
@davebrowning @makxdekkers @dr-shorthair @andrea-perego @riccardoAlbertoni @plehegar @agbeltran @agreiner  Do we need a meeting to resolve this?  It looks like the TR versioning mechanism will not allow what we were originally thinking.  Please vote and I'll set one up if there is interest.

[2019-11-27 12:29] agbeltran commented on #1182
happy to participate in a meeting about this

[2019-11-27 15:51] davebrowning commented on #1182
Also happy to participate, if we can find a convenient time.

Having read the slides linked to [above](https://github.com/w3c/dxwg/issues/1182#issuecomment-559006455) as well as the [info](https://github.com/w3c/tr-pages/wiki/Latest-versions-proposal-for-leveled-specifications) that the slide links to, it seems to me that what's happening here nearly fits quite well with what we want - users can c

[2019-11-27 16:03] plehegar commented on #1182
Links like https://www.w3.org/TR/vocab-dcat/  aren't reliable enough nowadays if one wants to link to a Recommendation. Different groups have different interpretations of those links and external parties add their own interpretation on top of that. It has been [proposed](https://github.com/w3c/tr-pages/wiki/Latest-versions-proposal-for-leveled-specifications) to use https://www.w3.org/TR/vocab-dca

[2019-11-27 22:17] nicholascar commented on #1160
PR #1171 is merged so the remaining Issue has been addressed.

[2019-11-27 22:17] #1160 closed, assigned to nobody

[2019-11-27 22:21] nicholascar commented on #976
Marking due for closing as thumbs up indicate general agreement and all definitions in the WD have been updated. Even though this Issue is dual tagged for profile-negotiation & profile-guidance, the last conversations are all only about profile-negotiation (viz. discussion about JSON-LD, `Accept-Profile` etc.) so a new issue can be raised if there is still discussion for Guidance.

[2019-11-27 22:27] nicholascar commented on #990
@rob-metalinkage on reflection, this is not a profile-negotiation issue either - there is nothing that ConnegP can say that will affect how "profiles may be defined within the same document that defines one or more base specifications" by communities. For this reason, I am removing the profile-negotiation tag and leaving this Issue entirely for profile-guidance.

[2019-11-28 08:34] pwin commented on #1182
I think that we need to look forward rather than backward and recognise that many of the users of v1 are likely to be those within Europe dealing with open data etc, and that they will be being encouraged on a migration to DCAT-AP v2 ( https://joinup.ec.europa.eu/solution/dcat-application-profile-data-portals-europe/release/200 ) .  I'm not sure what Zenodo's policy is, though I can't imagine it w

[2019-11-28 10:22] pwin opened #1183 "no content-type charset value in header of https://www.w3.org/ns/dcat.ttl"
Unless I'm mistaken, I'm not seeing an encoding specified in the header [I expected a content-type charset] so it is appearing as windows-1252 in my browser.  Given that we have diverse languages we need to ensure that the W3C publication has the correct headers

[2019-11-28 22:02] makxdekkers commented on #1182
To me there are three elements here:

1. The URI policy. As we are under the umbrella of  W3C, we have no choice in the matter. If URIs like https://www.w3.org/TR/vocab-dcat/ must point to the latest version, that's what it will do. The only thing we can do is make sure that the Previous version link points to the previous recommendation at https://www.w3.org/TR/2014/REC-vocab-dcat-20140116/.

2.

[2019-11-28 23:50] plehegar commented on #1182
[Previous version](https://www.w3.org/pubrules/doc/rules/?profile=REC#docIDOrder) will need to go to the [Proposed Recommendation](https://www.w3.org/TR/2019/PR-vocab-dcat-2-20191119/) of DCAT 2. Instead, I suggest replacing the "Latest Recommendation" with a "Previous Recommendation" entry that would go to DCAT 1..

[2019-12-02 10:49] riccardoAlbertoni commented on #1182
+1 to supersede DCAT 1  and replace "Latest Recommendation" with a "Previous Recommendation"

[2019-12-02 11:19] pwin commented on #1177
I have mentioned to @plehegar that the consensus is to supercede version 1, and so we must now decide what text we include in version 1 to indicate this.  https://www.w3.org/TR/2019/SPSD-WebCGM20-20191205/ is an example

What are your thoughts about what information must be present?

[2019-12-02 13:45] plehegar commented on #1177
some examples: https://www.w3.org/TR/hr-time-1/ , https://www.w3.org/TR/2019/SPSD-WebCGM20-20191205/ , https://www.w3.org/TR/html50/

[2019-12-03 04:34] nicholascar commented on #1061
The following updates to definitions were made in PR #1179:

* `prof:Profile` - defn harmonised with document's main definition as per suggestion at Issue description
* `prof:hasResource` - a -> the, stylistic. Full wording in suggestion at Issue description
* `prof:isProfileOf` - stylised to point to the subject, as per suggestions such as https://github.com/w3c/dxwg/issues/1061#issuecomment-5319

[2019-12-03 04:35] #844 closed, assigned to nobody

[2019-12-03 04:36] #799 closed, assigned to nobody

[2019-12-03 04:39] nicholascar commented on #240
With discussion about the remaining point here - semantics of `prof:ResourceDescriptor` elsewhere - and the fact that the substantive part of the Issue - the PROF - ADMS alignment section review - is complete, I'm closing this.

[2019-12-03 04:39] #240 closed, assigned to nobody

[2019-12-03 04:45] nicholascar opened #1184 "Improve the SHACL file for PROF instances"
There is the start of a SHACL file for testing of profiles but it is only boilerplate (not functioning yet): https://github.com/w3c/dxwg/blob/gh-pages/prof/rdf/constraints.ttl

[2019-12-03 04:45] nicholascar commented on #407
I've raised a new issue to deal specifically with the continuation of the SHACL constraints testing: #1184

[2019-12-03 04:45] #407 closed, assigned to nicholascar

[2019-12-03 04:45] #408 closed, assigned to nicholascar

[2019-12-03 04:50] nicholascar commented on #507
It answered, but not fully. So far the only claim about entailment is given by the axiom `dct:conformsTo owl:propertyChainAxiom ( prof:isProfileOf dct:conformsTo )` such that `prof:isProfileOf` cains on conformance. What conformance means is not dealt with in terms of entailment, only the DCT definitions of the property.

So the full answer, as of PROF's current ED, to "What does prof:profileOf en

[2019-12-03 04:51] #660 closed, assigned to nobody

[2019-12-03 04:52] #689 closed, assigned to nicholascar

[2019-12-03 04:53] #698 closed, assigned to nicholascar

[2019-12-03 04:53] #731 closed, assigned to nobody

[2019-12-03 05:05] #754 closed, assigned to nobody

[2019-12-03 05:08] nicholascar commented on #794
@tombaker @kcoyle are either of you motivated to carry this issue forward as suggested above ot in other ways? Tom was the original raiser of the Issue.

[2019-12-03 06:26] kcoyle commented on #794
@nicholascar As the issue as raised has been rejected, I doubt if there's anything more to say.

[2019-12-03 08:29] dr-shorthair commented on #1182
+1

[2019-12-03 10:32] agbeltran commented on #1177
I agree with the comments by Riccardo and Andrea, also having read the points that Annette highlighted from https://www.w3.org/2019/Process-20190301/#rec-rescind, as superseding means that we would recommend to use DCAT2 for new adoption.

I'd like to see some text clarifying that we are superseding but not making DCAT1 obsolete (as "A Recommendation can be both superseded and obsolete") and empha

[2019-12-04 00:12] dr-shorthair commented on #794
The key point is to allow the set of roles to evolve on a different timescale to the ontology.

The proposed solution is a 'soft-typing' mechanism where an association object is 'tagged' with a value from a (controlled-)vocabulary. Alternatively, the set of roles could be managed as a set of sub-properties of the primary relation. Either could be maintained separately from the main ontology, incl.

[2019-12-04 12:25] aidig opened #1186 "Possible mismatch between the stated scope in the non-normative text and the vocabulary specification"
### Problem statement:
There seems to be a possible mismatch between the stated goals and scope in the non-normative text and the vocabulary specification presented at https://www.w3.org/TR/vocab-dcat-2/.

In other words, according to the non-normative text, a dcat:Catalog in DCAT 2.0 may include many different assets - not just datasets and dataservices (if the appropriate subclasses are defined

[2019-12-04 13:16] aidig commented on #1186
Related Use Cases from "W3C Editors Draft"
5.8 Scope or type of dataset with a DCAT description [ID8] https://w3c.github.io/dxwg/ucr/#ID8

5.20 Modelling resources different from datasets [ID20] https://w3c.github.io/dxwg/ucr/#ID20

[2019-12-05 15:01] aidig opened #1187 "Unclear classification of dataset/resources"
## Problem statement:
The use of the recommended controlled vocabularies for the classification of dataset/resources is somewhat unclear

## Description

Section [5.5 Classifying dataset types ](https://www.w3.org/TR/vocab-dcat-2/#classifying-dataset-types) states the following:

The property dct:type on dcat:Dataset is inherited from dcat:Resource but since the majority of the recommended control

[2019-12-09 17:43] riccardoAlbertoni commented on #1177
Well I think the first note in the Proposed Rec goes in that direction, see below

Perhaps we might want to elaborate a little more on this, and move the note earlier in the document.

For example, saying

Any new implementation is expected to adopt DCAT 2, while the existing implementations might not need to upgrade to it. In particular, current DCAT deployments that do not overlap with the DCAT

[2019-12-09 18:01] agbeltran commented on #1177
I meant in the W3C Process Document (https://www.w3.org/2019/Process-20190301/#rec-rescind), not in the DCAT Proposed Rec

About your text - here it goes again with a few changes in italics:

"DCAT 2 supersedes DCAT [VOCAB-DCAT-20140116], *but it does not make it obsolete*. DCAT 2 maintains the DCAT namespace as its terms preserve backward compatibility with DCAT [VOCAB-DCAT-20140116].  DCAT 2 rel

[2019-12-09 20:29] pwin commented on #1177
Looks good Alejandra

Perhaps we should also refer to the github issues and ask for a report
should anybody experience any difficulties with this

Cheers
Peter

On Mon, 9 Dec 2019 at 18:01, Alejandra Gonzalez-Beltran <
notifications@github.com> wrote:

[2019-12-09 21:13] riccardoAlbertoni commented on #1177
@agbeltran wrote

I like it.
The only doubt is about the part  "if they want to use the new features."

Let's consider an existing implementation in which a SPARQL endpoint is described in the old fashion DCAT style as embedded in a distribution instead of the DCAT 2 data service.

My opinion is that, in cases like the above, we should encourage to follow DCAT2 and then recommend to upgrade to DCA

[2019-12-10 09:45] makxdekkers commented on #1177
@riccardoAlbertoni @agbeltran & all,

I like Alejandra's version better, with the _want_ instead of the _need_.

By the way, I find @plehegar's examples very confusing:
- https://www.w3.org/TR/hr-time-1/ does not link to the new recommendation in the document metadata, the standard statements about the document, but just throws a red box with red text (is this WCAG2-compliant?) on the page, linkin

[2019-12-10 10:28] makxdekkers commented on #1177
As I see it, documents published in the process of developing and maintaining evergreen recommendations take part in two chains:

1. the REC chain, i.e. REC1, REC2, REC3
2. the development chain, i.e. RECx comes about through WD1, WD2, .., CR, PR, REC

Both chains need to be reflected in a very clear way in the document metadata of every document in either chain.

In the REC chain there are severa

[2019-12-10 16:33] riccardoAlbertoni commented on #1177
@makxdekkers

Ok, let's keep Alejandra's revision, probably we cannot explain everything in once, and anyway, other parts of the document solves the concerns related to the example I was making.

[2019-12-13 11:19] riccardoAlbertoni commented on #1177
Alejandra's revision is now merged in the document. Is there any other activity we need to accomplish before closing this issue?

[2019-12-13 15:11] plehegar commented on #1177
are we clear on what modifications we want to make to the DCAT 1 REC, if any?

[2019-12-16 20:14] plehegar opened #1192 "User proper document license in W3C documents"
https://github.com/w3c/dxwg/blob/gh-pages/dcat/config.js
should add
[[
 license: "w3c-doc",
]]

unless we update the proposed charter to allow the use of the permissive license.

[2019-12-16 22:04] dr-shorthair opened #1193 "Rename DCATv2 RDF file dcat2.ttl"
DCATv2 uses the same namespace as DCATv1 (aka DCAT 2014). However, the RDF representations can be clarified through use of distinctive filenames. In our repo they are currently dcat2014.ttl and dcat.ttl, however, many users will likely have a copy of the original DCAT RDF stored as dcat.ttl, so there is potential confusion.

I suggest it would be helpful for the new version to be in a file denoted

[2019-12-17 12:55] aidig opened #1195 "DCAT: Proposal for an updated definition for the concept “dataset”"
_DCAT: Proposal for an updated definition for the concept “dataset”_

# Background and problem statement

This is a joint proposal for an updated definition for the concept “dataset”, made by the Danish Agency for Digitisation [1] (member of W3C) and the Danish Agency for Data Supply and Efficiency (member of OGC and, through Danish Standards, member of ISO/TC 211).

The Danish government wants to

[2019-12-17 16:48] riccardoAlbertoni opened #1196 "Content negotiation for http://www.w3.org/ns/dcat#"
At the moment, http://www.w3.org/ns/dcat# resolves to the old DCAT 2014 land page and related RDF serialization.

As soon as DCAT 2 is ready to get  REC status, we should ask the w3c webmaster (?!?) to
- replace the old landing page with the one prepared for DCAT2  at https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat.html
- update the content negotiation for http://www.w3.org/ns/dcat# accord

[2019-12-17 16:59] plehegar commented on #1196
I should be able to do those. It's on my TODO list for the REC release.

[2019-12-17 17:33] makxdekkers commented on #1195
@aidig
I really like your attempt to firm up the definition of "dataset". The current definition "_A collection of data, published or curated by a single agent, and available for access or download in one or more representations_" can indeed be too encompassing for many practical applications, although it already includes your notes 3 and 4.
However, in my opinion your notes 1 and 5 through 8 are

[2019-12-17 19:44] aidig commented on #1195
The notes are meant to illustrate _typical_ - but not _defining_ - characteristics of datasets, and the related examples are thus presented as argumentation for why these _typical_ characteristics should not form an integral part of the short formal definition as it quite rightly would be too restrictive. (Like the current definition could be perceived as stating excluding conditions)
All the note

[2019-12-17 19:58] aidig commented on #1195
And for clarification, the examples are not of "what is not a dataset", but rather atypical datasets that can be discussed. Perhaps we should have highlighted this important point in the text. (Headline changed to "Examples of datasets that are not “typical” according to the notes for “dataset”"

[2019-12-17 21:55] rob-metalinkage commented on #1195
As the OGC is a member-driven organisation I cannot make a definitive statement at this stage about what process or steps the OGC can and should take, however as the OGC staff member managing the OGC Definitions Server (Registry Infrastructure) [1]  I can offer to participate in these discussions and seek to  implement appropriate standards.

The Definitions Server delegates governance to artefact

[2019-12-17 23:18] dr-shorthair commented on #1193
Fixed by https://github.com/w3c/dxwg/pull/1194

[2019-12-17 23:18] #1193 closed, assigned to davebrowning

[2019-12-18 08:44] makxdekkers commented on #1195
@aidig
It seems to me that the new definition you propose "_collection of data that is regarded as a unit_" is even vaguer that the current one -- as you have moved the part of the current definition "_published or curated by a single agent, and available for access or download in one or more representations_" to the notes (3 and 4), changing these aspects from applying to **all** datasets describ

[2019-12-18 14:05] nfreire opened #1197 "Is one of dcat:accessURL, dcat:accessService and dcat:downloadURL required in a dcat:Distribution?"
Hello DXWG,

At Europeana, we are designing a profile where we need to use the class dcat:Distribution without using any of the three properties dcat:accessURL, dcat:accessService and dcat:downloadURL.
Question: Is this a correct usage of dcat:Distribution? Or one of the three properties should always be stated?

We felt unsure after reading the [DCAT 2 latest editor draft](https://w3c.github.io/d

[2019-12-18 14:17] nfreire commented on #1197
(Note to @aisaac: FYI)

[2019-12-18 16:26] aisaac commented on #1197
Interested to hear from the DCAT authors, e.g. @andrea-perego and @riccardoAlbertoni :-)

[2019-12-18 17:58] makxdekkers commented on #1197
@nfreire @aisaac
Can you maybe give more information about your use case for using `dcat:Distribution` without a link to the actual data? As far as I see it, the main, or maybe the only function of `dcat:Distribution` is to give access to the data.

[2019-12-18 18:38] riccardoAlbertoni commented on #1197
Hi @nfreire and @aisaac,

I  admit I have some problems imagining the use case.  What do these distributions represent?

Your use of dcat:Distribution is not the classic intended case, but in general, I like to take a liberal interpretation where "anything is possible unless not explicitly forbidden".
In this case, I do not remember an explicit prohibition, but other editors/contributors might rec

[2019-12-18 19:19] nfreire commented on #1197
Thanks a lot for the feedback.

Let me try to explain the use case briefly.
We want data providers of Europeana to describe a dataset with a distribution having a SPARQL endpoint access service. This is all achievable with DCAT2.

The part we are missing from DCAT2  is that the SPARQL endpoint serves more data than the dataset to deliver to Europeana. So providers specify the SPARQL query that wil

[2019-12-24 05:07] nicholascar opened #1198 "Review VoID relations for possible isProfileOf specialisations"
VoID has a number of properties that relate *Datasets* (RDF-datasets only are considered). See if either PROF can recommend these for use for RDF datasets or re-issue them for more general use (non-RDF data).

Also see the VoID implementation projects such http://void.rkbexplorer.com/

[2019-12-24 05:52] nicholascar opened #1199 "Update RDF links from PROF NS to latest files"
The links at https://www.w3.org/ns/dx/prof/ are pointing to out-of-date content. Can the static resources be updated or, better, pointed to the latest repo content?

[2019-12-30 03:56] nicholascar commented on #401
Closing as the ADMS reference is in the NOTE.

[2019-12-30 03:56] #401 closed, assigned to nicholascar

[2019-12-30 03:56] #455 closed, assigned to nicholascar

[2019-12-30 03:57] nicholascar commented on #507
Closing as this question is answered to a point as per the NOTE publication.

[2019-12-30 03:57] #507 closed, assigned to nobody

[2019-12-30 03:58] #794 closed, assigned to nobody

[2019-12-30 03:59] nicholascar commented on #796
Closing since no comments received back from raiser in over a month after direct contact.

[2019-12-30 03:59] #796 closed, assigned to nobody

[2019-12-30 03:59] nicholascar commented on #797
Closing after no response from raiser in a month after direct contact.

[2019-12-30 03:59] #797 closed, assigned to nobody

[2019-12-30 04:00] nicholascar commented on #798
Closing since no comments received back from raiser in over a month after direct contact.

[2019-12-30 04:00] #798 closed, assigned to draggett

[2019-12-30 04:01] nicholascar commented on #1061
Closing since the definitions, with wording changed as noted above, are in the NOTE.

[2019-12-30 04:01] #1061 closed, assigned to nobody

[2019-12-30 04:02] nicholascar commented on #1068
Closing since the definition, with changes from #1061, has been updated and published in the NOTE.

[2019-12-30 04:02] #1068 closed, assigned to nobody

[2019-12-30 04:04] nicholascar commented on #144
I'm removing the PROF tag as there's no work here for PROF, *per se*, only perhaps future engagement with the PROF editors, if needed.

[2020-01-02 14:22] plehegar opened #1200 "Editorial fixes"
This came from the AC review. There are a couple of trivial typos.

1. In the Status section, suggest that the hyperlink in this sentence: "The exit criteria also included recent commitments by organisations such as EC Joinup to adopt the DCAT v2 model in their work - see https://joinup.ec.europa.eu/solution/abr-specification-registry-registries/document/specification-registry-registries-version-m

[2020-01-03 18:31] #1200 closed, assigned to nobody

[2020-01-07 22:01] andrea-perego commented on #1200
This is to note that DCAT-AP 2 has been released in November 2019 - see https://joinup.ec.europa.eu/solution/dcat-application-profile-data-portals-europe/release/200

So, I wonder whether we should update the SOTD section accordingly - it is no longer a commitment, but an existing implementation.

[2020-01-07 23:51] andrea-perego commented on #1197
Thanks for your explanation and contribution, @nfreire .

I would say that your option 2 (i.e., the one using `dcat:accessService`) is more in line and conformant with DCAT 2.

About the pattern `prov:wasGeneratedBy` / `schema:SearchAction` / `prov:used` (which is not in DCAT 2):
- IMO, this is an interesting approach that can be potentially applied also to other service types / protocols. Actuall

[2020-01-08 07:44] aidig commented on #1195
Yes, the proposed definition is less restrictive as it can be argued that the current definition does not capture all instances of possible datasets (see the atypical examples).

[2020-01-08 07:49] pwin opened #1202 "MD_scope_codes link is dead"
The link for https://geo-ide.noaa.gov/wiki/index.php?title=ISO_19115_and_19115-2_CodeList_Dictionaries#MD_ScopeCode in DCAT v2 section 5.5 is dead - it has a dated certificate and returns a 404

Suggestion: ftp://ftp.ncddc.noaa.gov/pub/Metadata/Online_ISO_Training/Intro_to_ISO/workbooks/BIO_Metadata.pdf in table C.24

Is there anything similar in HTML that we could use here in place of the existin

[2020-01-08 13:28] smrgeoinfo commented on #1202
https://standards.iso.org/iso/19115/resources/Codelists/gml/MD_ScopeCode.xml  is a better link.

see also #975

[2020-01-08 15:11] nfreire commented on #1197
Thanks @andrea-perego
You feedback is giving me much to think about.
I'll need to discuss these options within Europeana, but meanwhile I prepared a diagram with the  suggestion of the qualification of prov:wasDerivedFrom:

![Dataset SPARQL](https://user-images.githubusercontent.com/5079915/73069672-37ce9480-3ea6-11ea-9251-cd0f5fc7de91.jpg)

Any further feedback is welcome.

Best

[2020-01-13 17:45] riccardoAlbertoni commented on #1169
I think this issue is outdated: the link in the third note  of section 8 which is about creative commons already points to https://creativecommons.org/share-your-work/licensing-examples/

[2020-01-14 15:49] jakubklimek opened #1205 "Issue with dct:hasPart as described in DCAT"
I think there is possibly a set of issues with `dct:hasPart` as it is currently described in DCAT.

1. In the diagram and [in Catalog description](https://www.w3.org/TR/vocab-dcat-2/#Property:catalog_has_part) it has a domain (`dcat:Catalog`) and a range (`dcat:Resource`) defined.

As I [expressed elsewhere](https://github.com/w3c/dxwg/issues/725#issuecomment-513442046), I have a problem with DCAT

[2020-01-14 18:06] smrgeoinfo commented on #1205
Seems like the problem is distinguishing a dataset (including a dataset series) as partOf a catalog, from dataset as partOf a series (independent of any catalog).   If we declare dct:hasPart domain dcat:Catalog we are clearly restricting the usage to denote membership in a catalog.  I don't think membership(partOf) in a series is same as membership(partOf) in a catalog.  In the future, this might

[2020-01-14 18:06] riccardoAlbertoni commented on #1182
@plehegar wrote:

I haven't found a  proper configuration property in https://github.com/w3c/respec/wiki to express the Previous Recommendation via config.js.

Any suggestion?

[2020-01-14 21:36] plehegar commented on #1192
Proposal is not to change the license in the document, thus closing this issue with no action.

[2020-01-14 21:36] plehegar commented on #1192
See https://www.w3.org/2020/01/14-dxwg-minutes.html

[2020-01-14 21:40] plehegar commented on #1192
No change needed

[2020-01-14 21:40] #1192 closed, assigned to plehegar

[2020-01-14 22:08] #1169 closed, assigned to nobody

[2020-01-14 22:09] #1176 closed, assigned to nobody

[2020-01-14 22:11] #1175 closed, assigned to nobody

[2020-01-14 22:13] #1202 closed, assigned to nobody

[2020-01-15 00:00] dr-shorthair commented on #1177
I don't think we can or should make changes in DCAT1. But the version delivered by W3C should make it clear that it has been superseded - e.g. see what happens when you get https://www.w3.org/TR/2006/WD-owl-time-20060927/

[2020-01-15 08:32] andrea-perego commented on #1177
I concur with @dr-shorthair .

I would also like to mention that, in SpecRef, the key "VOCAB-DCAT" still returns the bib reference about the original version of DCAT. The fact that the URL included there (https://www.w3.org/TR/vocab-dcat/) points to DCAT2 is confusing for people.

See https://api.specref.org/bibrefs?refs=VOCAB-DCAT:

[code]

[2020-01-15 08:52] jakubklimek opened #1206 "http or https in dcat:mediaType?"
Currently, both **http** and **https** based IRIs are used in DCAT 2 examples of items from IANA registries, which is definitely not good for interoperability (they are simply different IRIs).

In DCAT 2014, the **http** variant was used (probably because IANA was not running on HTTPS).
Unfortunately, IANA does not publish the registries in RDF, so it is not clear which IRIs are more correct and t

[2020-01-15 09:58] riccardoAlbertoni commented on #1186
We have revised the definition of dcat:Catalog to make it more consistent.

[2020-01-15 10:33] riccardoAlbertoni commented on #1177
@andrea-perego
 The dcat 2 bib ref is identified by vocab-dcat-2 see  https://api.specref.org/bibrefs?refs=vocab-dcat-2

If I understand your point,  you would like to have a URL consistent with this (i.e., the DCAT URL https://www.w3.org/TR/vocab-dcat-2/ instead of https://www.w3.org/TR/vocab-dcat/).
However,  as far as I have understood reading issue #1182,  we have to live with the fact that  h

[2020-01-15 10:38] agbeltran commented on #1177
I think that what @andrea-perego is pointing out would be solved by changing the href in  https://api.specref.org/bibrefs?refs=VOCAB-DCAT to the specific DCAT 1 URL: https://www.w3.org/TR/2014/REC-vocab-dcat-20140116/

At the moment the href for "VOCAB-DCAT" is pointing to https://www.w3.org/TR/vocab-dcat/, which will always be the latest DCAT rather than the specific version one wants to point to

[2020-01-15 10:46] makxdekkers commented on #1206
I'd vote for http, mostly for backward compatibility.

[2020-01-15 10:51] andrea-perego commented on #1177
Thanks, @agbeltran . Yes, that would be an option. But, actually, I was not pointing to a specific solution - just reporting an inconsistency.

If VOCAB-DCAT should always refer to the latest version, this needs to be reflected in the corresponding bib entry in SpecRef, I guess, Of course, this will have a negative side effect in existing specifications using that key / URL to point specifically t

[2020-01-15 12:56] akuckartz commented on #1206
I prefer https. Can the https and http-URLs become related by sameAs?

[2020-01-15 12:59] agbeltran commented on #1177
Yes, @andrea-perego the inconsistency is unfortunate.

But given that specs might have used VOCAB-DCAT and we won't want to break them, I am not sure if we could use the biblio reference VOCAB-DCAT for the latest version, but we will have to make sure it points to DCAT1.

Perhaps we should have an alternative key for the latest spec (e.g. VOCAB-DCAT-LATEST), even though it won't match the 'vocab-d

[2020-01-15 18:25] agbeltran commented on #1182
perhaps @plehegar can help with that?

[2020-01-16 17:33] #1186 closed, assigned to nobody

[2020-01-16 23:29] riccardoAlbertoni commented on #1182
After some testing, it seems that "Latest Recommendation" can be switched in "Previous Recommendation" changing  the `specStatus: "ED",` into `specStatus: "REC",`
see the result at https://raw.githack.com/w3c/dxwg/dcat-issue1182-ric/dcat/index.html

However, doing so,  recspec returns a new error "Recommendations must have an errata link."
Only small progress, tonight ... ;)

[2020-01-17 05:48] andrea-perego commented on #1123
Issue addressed by PR https://github.com/w3c/dxwg/pull/1207

[2020-01-17 05:48] #1123 closed, assigned to nobody

[2020-01-17 19:08] agbeltran commented on #1182
@riccardoAlbertoni I added an errata link as per https://github.com/w3c/respec/wiki/errata and now the error has been resolved. I guess we need to create an empty errata document for now? (the link I added gives 404 for now)

[2020-01-17 19:12] agbeltran commented on #1182
Checking this recent REC https://www.w3.org/TR/2019/REC-css-writing-modes-3-20191210/, the errata is empty with some basic info (https://www.w3.org/Style/2019/REC-css-writing-modes-3-20191210-errata.html).

[2020-01-17 21:02] andrea-perego commented on #1182
I wonder whether there's a template also for errata docs.

@plehegar , could you help here?

[2020-01-17 22:24] agbeltran commented on #1182
I found this: https://github.com/w3c/display_errata

[2020-01-17 22:44] riccardoAlbertoni commented on #1182
@agbeltran:

I like this, I am in favor of using it.

[2020-01-17 23:33] andrea-perego commented on #1182
Thanks for the hint, @agbeltran .

I've just created a draft PR (https://github.com/w3c/dxwg/pull/1209) following the instructions in https://github.com/w3c/display_errata, and by creating an `errata/` folder in the DXWG repo.

Preview here:

https://raw.githack.com/w3c/dxwg/andrea-perego-dxwg-errata/errata/index.html

[2020-01-17 23:35] andrea-perego commented on #1182
BTW, as the errata document is going to cover all DXWG Recommendations, although for the moment the only one is DCAT I think going ahead requires endorsement from the whole WG.

/cc @pwin , @kcoyle , @cburle

[2020-01-20 18:45] riccardoAlbertoni commented on #1182
I see advantages in promoting a uniform strategy for collecting the errata between the distinct RECs the group is producing, as proposed in the document prepared by @andrea-perego.

Note that different working groups have already adopted the same strategy for their RECs, including the Web Annotation Working Group, see  https://github.com/w3c/display_errata#examples for a list

I think we do not wa

[2020-01-20 22:09] agbeltran commented on #1182
@andrea-perego I haven't tested it, but it seems to me that it should be possible to include an errata document per spec (and thus per folder) and then use two labels to tag the issues (for DCAT, 'Errata' and 'dcat', associating the errata document with https://github.com/w3c/dxwg/issues?utf8=%E2%9C%93&q=label%3AErrata+label%3Adcat)

If that doesn't work, we should split the repo, which I understa

[2020-01-21 12:56] andrea-perego commented on #1182
@agbeltran , in such a case,  it should be enough having a folder for each spec on rec track. The only issue is that the errata template includes a section about errata not associated specifically with any spec - which I think it should be useful to have.

In any case, I won't go for the option of splitting the repo - at least, not only for this reason.

Said all that, I think it would be better t

[2020-01-21 18:20] riccardoAlbertoni commented on #1177
@agbeltran  wrote:

It seems that the  VOCAB-DCAT-LATEST is already foreseen and corresponds to  https://www.w3.org/TR/dcat-voc/latest in the [slides](https://www.w3.org/2017/Talks/tpac-slides/plenary-project/#links) mentioned by Philippe, see also https://github.com/w3c/tr-pages/wiki/Latest-versions-proposal-for-leveled-specifications.

However, I haven't found a  correspondent bib entry for http

[2020-01-21 18:24] riccardoAlbertoni commented on #1177
To get to a point with this issue, I would concur with  @agbeltran's and @dr-shorthair's suggestions combined.

@dr-shorthair  wrote:

@agbeltran wrote:

That's what we can have according to the previous comments, and it does not break previous citations.

[2020-01-21 19:38] agreiner commented on #1182
I don't care whether we treat the errata as for all our docs or just one at a time, as long as it's easy for people reading a specific doc to find errata for it. The suggested approach seems fine to me.

[2020-01-21 21:16] agbeltran commented on #1182
I agree that it would be better that it is clear what errata corresponds to each spec - a solution may be using a combination of labels (as I mentioned before)

[2020-01-21 21:33] agbeltran commented on #1177
I agree with that approach.

Additionally, we should try to get VOCAB-DCAT-LATEST into the bibliography replacing the current VOCAB-DCAT

[2020-01-21 21:41] riccardoAlbertoni commented on #1177
I think vocab-dcat-latest should not be used as a bibliographic entry as it is going to change any time a new rec version is out ..

[2020-01-21 21:44] agbeltran commented on #1177
https://www.w3.org/TR/vocab-dcat/ always points to the latest spec, so VOCAB-DCAT-LATEST should include that href - as per comments above

[2020-01-21 21:50] andrea-perego commented on #1177
I think that, whatever the solution is/will be, this is not going to apply only to DCAT but to all TRs - as far as I know, so far citation keys always correspond to the last part of the URI, so I guess this is not going to change.

@plehegar , could you shed some light on this?

[2020-01-22 15:12] riccardoAlbertoni commented on #545
Some discussion about the errata document is in progress under issue #1182 and PR #1209.

[2020-01-23 13:25] plehegar commented on #1177
Re https://api.specref.org/bibrefs?refs=VOCAB-DCAT , there is currently a bug in the W3C API See https://github.com/w3c/w3c-api/issues/96 .  Once the bug gets fixed, it will match https://www.w3.org/TR/vocab-dcat/ , and respec will point to the same place.

[2020-01-23 20:03] Aklakan commented on #1195
For strict semantics, the definition "a dataset is an instance of a data model" is the best I could find to date. If the data model is formally specified, one can verify whether a dataset conforms to it. For example, with RDF we are even in the fortunate position that equivalence of datasets is defined, so for two conforming datasets there is a well-defined procedure to determine equivalence.

The

[2020-01-23 21:25] rob-metalinkage commented on #1195
@Aklakan there is an alternative approach - dont use owl:sameAs for datasets - which are records about actual data, fron the point of view of a catalog - so the same data would have different records in two different catalogs..  what might be the sameAs are distributions - if they are both cataloguing the same access point for the data.

[2020-01-24 01:15] Aklakan commented on #1195
@rob-metalinkage Yes, we have an agreement that owl:sameAs does not work. However, I am not sure if your statement 'datasets are records about actual data, from the point of view of a catalog' is really correct. DCAT distinguishes the concepts of dcat:Dataset and dcat:CatalogRecord - and this distinction makes sense.

So as I see it, a dcat:Dataset actually more relates to the concept of '(a unit

[2020-01-24 09:41] makxdekkers commented on #1195
Just a word of warning: we seem to get into discussions about how to better define "dataset" every once in a while -- we did have a long discussion during development of DCAT2014 -- and we have never found a better one.
When making it more general, allowing it to be anything at all, i.e. indistinguishable from `rdfs:Resource`, we lose the idea that someone should have responsibility for it, which

[2020-01-24 11:15] aisaac commented on #1197
@andrea-perego we've given a second thought about using `prov:derivedFrom`. It seems that saying that a distribution derives from an activity is stretching a bit the [semantics of the property in PROV](https://www.w3.org/TR/prov-o/#wasDerivedFrom). `prov:generatedBy` seems more natural between an entity like a `dcat:Distribution` and a `prov:Activity.` Actually if `prov:isDerivedFrom` was to be us

[2020-01-24 11:46] riccardoAlbertoni commented on #1177
This issue is on the hand of W3C, and we can't do much on it.

However, I think we might want to recheck how URL links and bibliographic refs work after DCAT 2 rec is published.
Shall we move this issue to the milestone of "future work"?

[2020-01-24 13:59] nfreire opened #1211 "Values for dcterms:conformsTo of instances dcat:DataService (sparql endpoints, for example)"
Dear DXWG,

I'm working in a profile for dataset description in cultural heritage (within Europena).
I'm looking for guidance on how to specify the values that the `dcterms:conformsTo`  values should have, and ensure machine interoperability.

I've observed some real-life cases and noticed sometimes the values are namespaces and in other cases the values are the links to the specifications.
Since

[2020-01-24 14:13] aisaac commented on #1211
It seems that DCAT uses mostly URLs of specifications as in [Example 45](https://www.w3.org/TR/vocab-dcat/#ex-elaborated-bag). Is it a best practice we should follow?

[2020-01-24 19:39] plehegar commented on #1177
SGTM. our webmaster is working on resolving the issue. I doubt it will get fixed by Jan 31 but hoping shortly after.

[2020-01-24 22:35] andrea-perego commented on #1197
Yes, @aisaac , I see your point.

About this

I am not completely sure. I'd rather say that the distribution _d_ is "derived from" the set _D_ of data items available from a data service (e.g., in the sense that _d_ is a subset of _D_).

[2020-01-24 23:54] agreiner commented on #1195
I think the tricky thing about this question is that there are many ways in which datasets can be equivalent to each other that may be trivial for one use case and crucial for others. Being able to say that two datasets are the same dataset could mean that their data files have the same checksums, or that they differ only in format, or or that they differ only in metadata, or that they differ only

[2020-01-25 17:06] Aklakan commented on #1195
Then its still `text/plain` or `application/octet-stream` - no? So data without any reference to a model does not exist imho. There always has to be some language in which the data is represented - even if this 'language' just happens to be sequences of bytes.
If an instance of a text or binary document is equal to the one described by a distribution of a dcat:Dataset, then it is highly likely --

[2020-01-27 12:03] makxdekkers commented on #1195
@Aklakan As I wrote, we would be getting into a discussion of what is a model. You call `text/plain` and `application/octet-stream` 'models' which I find a stretch.

In any case, the subject of the issue was discussing an update to the definition of "dataset" but it seems to have morphed into a discussion about 'equivalence' of distributions. See also https://github.com/w3c/dxwg/issues/52.

[2020-01-27 22:40] agbeltran commented on #1177
@riccardoAlbertoni if this is being handled, I agree with moving it to the "future work" milestone and deal with it after DCAT2 REC is public.

[2020-01-28 01:07] dr-shorthair commented on #1195
My hunch is that this will be difficult/impossible to write a water-tight rule around. In which case, I think the best we can do is
(a) offer some guidance, probably in the form of examples
(b) trust the provider to make a sensible judgement about what is a 'dataset' to their potential audience.

Remember, DCAT is aimed at a very general set of use-cases. The catalogue-dataset-distribution backbon

[2020-01-28 08:33] andrea-perego commented on #1177
+1 from me as well.

[2020-01-28 15:28] riccardoAlbertoni commented on #1182
I would suggest closing this git issue and include any future discussion about the errata documents (especially for the other recommendations)  under #545, which is specifically about the management of errata docs.

Short Summary:
-The group has prepared an errata page for DCAT 2;  the discussions about errata we've had here have been linked to #545  for future reference.
-The "previous rec" link

[2020-01-28 17:43] andrea-perego commented on #1182
+1 from me.

[2020-01-28 21:37] andrea-perego opened #1213 "Review new DCTERMS version to check possible conflicts with DCAT2"
See http://lists.w3.org/Archives/Public/public-dxwg-wg/2020Jan/0107.html

A new version of DCTERMS has been published on 20 Jan 2020 (also as an ISO standard), which should be reviewed to verify possible conflicts on how DCTERMS are used in DCAT2:

https://www.dublincore.org/news/2020/01-16-dcmi-metadata-terms-revised/

https://www.dublincore.org/specifications/dublin-core/dcmi-terms/

[2020-01-28 22:27] dr-shorthair commented on #1213
Interestingly, all the URIs are http:, not https:

There was [discussion on Twitter](https://twitter.com/AlanBleiweiss/status/1221906673545043971) today criticising schema.org for keeping their http: URIs alive. @danbri [points out](https://twitter.com/danbri/status/1222226001326944258) that it folds back to https: (I think) and also that disabling http: is contemplated for some future date. Howev

[2020-01-30 16:53] #1182 closed, assigned to nobody

[2020-01-31 17:27] plehegar commented on #1183
Done for
- https://www.w3.org/ns/dcat.ttl
- https://www.w3.org/ns/dcat2.ttl
- https://www.w3.org/ns/dcat-external.ttl
- https://www.w3.org/ns/dcat2014.ttl

[2020-01-31 18:29] plehegar commented on #1196
New dcat.html in place. content negotiation done.

[2020-01-31 19:07] plehegar commented on #1196
For changes in 6.1, see https://github.com/w3c/dxwg/pull/1214

[2020-01-31 23:25] riccardoAlbertoni opened #1215 "(dcat) Support the content negotiation for ld+json"
Testing the content negotiations with the command lines:
`curl -H "Accept: text/html" https://www.w3.org/ns/dcat`
`curl -H "Accept: text/turtle" https://www.w3.org/ns/dcat`
`curl -H "Accept: application/rdf+xml" https://www.w3.org/ns/dcat`
`curl -H "Accept:application/ld+json" https://www.w3.org/ns/dcat`

It works for `text/html` `text/turtle` and `application/rdf+xml`, but it seems to have proble

[2020-02-03 20:06] plehegar commented on #1215
Fixed.I did publish a dcat.jsonld but forgot to update the variant file.

curl -H "Accept:application/ld+json" https://www.w3.org/ns/dcat

now works.

[2020-02-03 20:10] riccardoAlbertoni commented on #1215
Great! It works I am going to close this issue.

[2020-02-03 20:10] #1215 closed, assigned to plehegar

[2020-02-04 18:24] riccardoAlbertoni commented on #1196
Content negotiation for DCAT has been deployed and tested see #1215
So I think we can close this issue.

[2020-02-04 18:34] plehegar commented on #1177
https://www.w3.org/TR/vocab-dcat-1/ is now officially superseded.

I propose to close this issue. Note that the API bug remains (mismatch between /TR and API for "vocab-dcat"). If we want to track https://github.com/w3c/w3c-api/issues/96 , we could open a separate issue in this repo.

[2020-02-04 21:10] #1196 closed, assigned to plehegar

[2020-02-04 21:10] #1183 closed, assigned to plehegar

[2020-02-05 14:42] riccardoAlbertoni opened #1216 "Should we split the DXWG GitHub Repo?"
I report below some of the points arisen during recent calls.
Please consider contributing to the discussion with your thoughts.

Among the proposals discussed:
- One distinct repository for each deliverable, i.e., a repo for UC, DCAT, PROF & ConnegP and perhaps Guidance;
- Splitting UC but maybe not the rest ;
- Splitting off non-DCAT work and keep DCAT where it is;

Among the advantages of split

[2020-02-05 23:17] dr-shorthair commented on #1216
I strongly support splitting into separate product-aligned repositories.

[2020-02-06 06:25] nicholascar opened #1217 "Add hyperlink to RDF Property in property tables"
OWL Class is linked (https://www.w3.org/TR/owl-syntax/#Classes) but not RDF Property but it should be.

[2020-02-06 22:20] andrea-perego commented on #1216
I'm still a bit concerned about splitting / cloning the repo, for the cons outlined by @riccardoAlbertoni , although I recognise that having separate repos would help reduce the "noise".

A clarification: in case we clone the repo, what will happen with the references we have across issues? The link will point to the issue in the original repo or in the new one?

[2020-02-08 01:48] nicholascar opened #1218 "Add Appendix numbering requirements per Profile to ConnegP"
Reading [ConnegP](https://www.w3.org/TR/dx-prof-conneg/), it's hard to identify each requirement for system conformance testing. For the demonstration [Media Types Web Service](https://conneg.info/mediatypes-service/), I listed each requirement from the spec and described [how the implementation addressed each one](https://conneg.info/mediatypes-service/connegp), but that would not be directly com

[2020-02-10 18:32] riccardoAlbertoni commented on #1216
I admit it might be handy to have separate repositories. However,  I share some of the concerns related to the splitting of the repository. I do not know if the advantages balance the efforts,  as  I do not understand how demanding and problematic the repository splitting might turn out.

Perhaps, the only way to mitigate the concerns is to give a try. We could think of making a test in the small.

[2020-02-11 00:30] rob-metalinkage commented on #1216
I support splitting the repositories - on the understanding that the original repos exist. We can reduce noise by transferring genuine issues (i.e. with a specific actionable decision that can be addressed by a PR, distinguished from useful but rambling or exploratory or explanatory threads.)  We should include references to old threads that discuss related matters. Issues that cross deliverable b

[2020-02-18 16:33] riccardoAlbertoni commented on #1216
I'd like to share some thoughts about repository splitting and DCAT.

I think it would be useful to maintain the  GitHub issues, wiki pages, etc related to DCAT in the same repo.  In particular, I'd like to avoid that DCAT adopters, who want to check past and ongoing discussions, are forced to jump among different Github repositories.

Also,  the current DCAT REC explicitly refers to many of the G

[2020-02-18 18:16] aisaac commented on #1216
For profiles, I'm dreading that splitting repos will not save us the pain of examining old (open) issues to port them in the new ones, just as if we would have to resolve them in the old one.

So in the end we may just not save time with the split repo route, perhaps even spend more time, if we count all the discussion in the setting and populating the repo, as shown in the very discussion here. P

[2020-02-18 20:24] riccardoAlbertoni commented on #1216
Just including the mail Karen's sent (see [[1]]( https://lists.w3.org/Archives/Public/public-dxwg-wg/2020Feb/0040.html)) in this thread, as it seems very relevant for this discussion.

is the count of open issues:

projects. This is based on the assignment of labels in github. I did not
find an easy way to check the links between issues, which is another
question.

overlap between DCAT and PROF.

[2020-02-18 21:03] rob-metalinkage commented on #1216
I dont know why the mail archives havent included this reply to that question which clarifies actual state of issues for PROF:

Note these issue tag count numbers are not necessarily reflective of the work involved in splitting...

PROF has some 13 issues in the document [1] (issues that seem to relate to something unresolved or unactioned within the scope of the specification. Other issues would

[2020-02-18 22:02] nicholascar commented on #1213
The [Australian Government Linked Data WG](http://www.linked.data.gov.au) will likely switch from HTTP to HTTPS for all PID URIs within a couple of months.

[2020-02-18 22:54] nicholascar commented on #1211
My preference would be for the use of specification URIs, not namespace URIs. This is because, according to all of the profiles thinking we have done in DXWG, a specification/profile is fundamentally a different thing from a namespace. Obviously specifications might have namespaces for their technical content but a specification is a "larger" thing than just a namespace.

The problem here is, of c

[2020-02-19 00:18] dr-shorthair commented on #1211
Namespaces just give you a collection of elements with some axioms - i.e. it is the ingredients, not really the recipe. It would usually be the recipe that you want to conform to - the patterns and usage rules. These might be expressed in a machine actionable form (e.g. SHACL) but will often be supplemented by additional instructions that are expressed in natural language. As @nicholascar says, th

[2020-02-19 09:47] luizbonino commented on #1211
In our case we would like to use the `dcterms:conformsTo` to refer to specifications of the metadata schema expressed as a SHACL document. The goal is to make explicit to which metadata schema the provided metadata record should conform to. This is used not only as information but also supports the validation of the metadata content against its schema.

[2020-02-19 12:15] nicholascar commented on #1211
@luizbonino you have a noble goal in mind here but the issue is that the use you're describing is not standardised therefore if you do this, others might not. The proposal in the [Profiles Vocabulary](https://www.w3.org/TR/dx-prof/), which is aiming at being a standard is to identify specifications and then link things like SHACl documents to them. The documents can have roles so you can know that

[2020-02-19 14:03] nfreire commented on #1211
@luizbonino We also have a similar requirement to yours. In our work around Europeana, we also have difficulties with the use of dcterms:conformsTo for data resources. Some data sources will state that the data conforms to a namespace, others use the  URL to an XML-Schema. And we know also that any of these choices will not be appropriate in cases of general data container formats. It is also nece

[2020-02-19 23:18] rob-metalinkage commented on #1211
@nicholascar has pointed out that this use case is a motivation for the Profiles Vocabulary as an information resource that can address such Use Cases. Its worth pointing out that implicit in this is the HTTP-range14 problem - you need to reference the conceptual specification as @dr-shorthair suggested - and then decide what information resource it best has.

When you are talking about "schema" -

[2020-02-20 15:06] kcoyle commented on #1211
The intent of dct:conformsTo has to do with "established standards". The full definition is:

"An established standard to which the described resource conforms."

This is where you can say that your resource conforms to ISO 2709 or Oasis-Open "legaldocml-akomantoso". An internal document or application, such as a SHACL file, doesn't really fit this definition. The profiles vocabulary may be better

[2020-02-20 15:24] luizbonino commented on #1211
@kcoyle  , thanks you Karen, this distinction between established standards and internal documents is key for our needs. I think that, for our case, PROF would be appropriate. The PROF's example 1 (https://www.w3.org/TR/dx-prof/#eg-initial-example) is very close to what we intend.

[2020-02-20 16:53] smrgeoinfo commented on #1211
It seems to me the important question is from the client perspective. The client parses a metadata document and finds various distributions for a resource of interest; the dc:conformsTo property should provide the criteria to identify a distribution that the client will be able to parse and use.  The problem is that there is a dependency on the sophistication of the client-- some clients might req

[2020-02-20 17:59] kcoyle commented on #1211
@smrgeoinfo What does matter is not to change the semantics of the dct:conformsTo, since that is defined by DCMI. If you need different semantics then you need a different property. So, yes, it does matter that it is a 'standard' although the interpretation of 'established standard' is somewhat loose. I would say that using dct:conformsTo to link from a dataset to a specific processing program or

[2020-02-20 22:22] nicholascar commented on #1211
@kcoyle

PROF uses `dcterms:conformsTo` directly and as intended by its definition.

To achieve what @smrgeoinfo wants, we just need to see more things that are used as "An established standard...", as per the `dcterms:conformsTo`, allocated a URI.

I imagine that for a "big" standard like ISO 2709, you would use PROF to indicate conformance to it with `dcterms:conformsTo` *and also the conformanc

[2020-02-20 23:00] nicholascar commented on #1211
I'll just add that I've joined ISO's Technical Committee 211 with a view to ensuring that the ISO 19* series standards (about geographic information) have sensible URIs to use for conformance claims. This is partly already the case, see https://def.isotc211.org/ which shows how to generate URIs for parts of 19* standards.

[2020-02-20 23:47] rob-metalinkage commented on #1211
Just remember there are three things happening - all of which are fairly common sense unless mixed up...
1. identification of some conformance concept expected by some community (this is actually all a `dct:Standard` is) - so there needs to be a published URI shared amongst a community (this matches @smrgeoinfo view)
2. publication of resources in various forms to allow such a conformance target t

[2020-02-21 00:27] dr-shorthair commented on #1211
I'm concerned that the dots are not being fully connected here.
@kcoyle points out the `dct:conformsTo` should point to an 'established standard`.
But how is this done? With a URI reference!

That begs the question of _what do you get when you dereference the URI denoting a 'standard'?_
It might be a PDF or HTML page - i.e. a **classic standard document**.

But you could also do content-negotiatio

[2020-02-21 03:13] rob-metalinkage commented on #1211
@dr-shorthair  - there is no actual grounding for "established" - thats up to whoever uses the URI to determine if it meets their needs.

there is thus no control over what dereferencing will mean - only a best practice.  Generally humans should be able to cope with a HTML rendering of Prof as a "Landing page" - the only thing that would be upset would be automated document harvesters that are una

[2020-02-21 03:39] dr-shorthair commented on #1211
Actually I was not particularly interested in the 'established' question.
I was trying to respond to what I understood to be the original concern of @nfreire , which is whether a `dcterms:conformsTo` property should point to a document or to something more machine readable. I'm attempting to point out that the answer can be **both**, through the magic of URI references and content negotiation. Cer

[2020-02-21 07:21] makxdekkers commented on #1211
@kcoyle
As I see it, the semantic definition of `dct:Standard` does not refer to a 'standard' or 'established standard'; it is defined as "_A reference point against which other things can be evaluated or compared._" Certainly, an ISO standard or W3C Recommendation would fit this definition but also a 'internal schema' or some other set of rules. Even the objective of a SHACL file is to compare th

[2020-02-21 10:33] aisaac commented on #1211
Thanks everyone for the input! With @nfreire we've decided that we're going to put our bet on PROF. So ideally we would have URIs for the specifications used with `dcterms:conformsTo`, and expect PROF descriptions for them (after content negotation). For the time being we're going to use URLs for` http://www.w3.org/TR/sparql11-query/`, assuming that they are the closest we have for serving as refe

[2020-02-21 22:50] nicholascar commented on #1211
This is all food for the Profile Guidance document which looks like it’s still definitely needed!

[2020-02-25 20:52] aisaac commented on #1211
Yes good point @nicholascar ! I guess that instead of closing it we could keep it open and tag it with "guidance" so that we don't forget to add it there. And remove the tags "profile-vocabulary" and "DCAT"...

[2020-02-26 14:39] plehegar commented on #1216
We now have:
- https://github.com/w3c/dx-connegp
- https://github.com/w3c/dx-prof

They have the same admin settings, labels, branch protection, rights access, etc than  w3c/dxwg.

Open issues have been transferred except for those that we were applicable to more than one repo.

I did however transfer 2 issues from profile-guidance to dx-prof:
https://github.com/w3c/dx-prof/issues/7
https://github

[2020-02-26 14:42] plehegar commented on #1216
An other side effect: closed issues don't report properly their closing dates when doing a search. Compare
 https://github.com/w3c/dx-connegp/issues?q=is%3Aissue+is%3Aclosed
and
https://github.com/w3c/dx-connegp/issues/14

Sounds like a GH bug to me...

[2020-02-26 22:51] dr-shorthair commented on #1216
*looks* like one to me, too. ;-)

[2020-02-27 20:40] steve-chavez opened #1219 "Profile negotiaton: profile token in Accept-Profile header"
In https://www.w3.org/TR/dx-prof-conneg/#profileid it's mentioned that:

There is an example in https://www.w3.org/TR/dx-prof-conneg/#getresourcebyprofile on how to make a request with a token profile in the UR(with the `_profile` query param):
[code]
But there isn't an example with a profile token in an `Accept-Profile` header.

Would a request like the following be valid for profile negotiation?

[2020-03-04 12:53] bertvannuffelen opened #1221 "question > is a software solution a dcat:Dataset?"
Dear community,

I would like your advice on the following topic:

Can a software solution be considered as a dcat:Dataset?

[2020-03-04 12:55] RubenVerborgh commented on #1221
—https://w3c.github.io/dxwg/dcat/#Class:Dataset

A software solution fails to meet the "collection of data" for me.

[2020-03-04 13:00] bertvannuffelen commented on #1211
note that there is a relationship with the discussion in #1130

[2020-03-04 13:09] bertvannuffelen commented on #1206
Personally, I think we should bite the bullet once.

Many organisations impose rules allowing only https, together with that software implementations initiate blocking the access to http, we should consider moving away from http.

At the same time, we can impose the rule that the protocol in a URI is not a semantical distinguishing factor. That by definition http and https resources coincide.

[2020-03-04 14:39] makxdekkers commented on #1221
In my mind, we should not try to put limits on what can be a `dcat:Dataset`. Any digital object that is _published or curated by a single agent, and available for access or download in one or more representations_ qualifies. All discussions that I remember from the last decade always ended up with that conclusion. If people want to describe software as a `dcat:Dataset`, no-one can stop them. In fa

[2020-03-04 14:53] RubenVerborgh commented on #1221
But then we need to change the definition.

Yeah, but no one can stop them from describing software as `ex:Mammal` either.
The question is what the DCAT spec says about applicability.

[2020-03-04 15:01] makxdekkers commented on #1206
In my opinion, this issue is a problem inherent in the mixing of identification and resolution in http URIs. Apparently, http URIs turn out not to be really persistent identifiers!
A possible solution would indeed be to ignore the protocol part, but I don't think we can decide to do that in our corner of the Web -- it should then be raised as an issue more widely at W3C.
In the meantime, we will h

[2020-03-04 15:17] bertvannuffelen commented on #1206
I am all for it to have a more broader guideline on this issue.

Note that this is due the fact that RDF/Semantic Web binds the string serialization to the notion of identifier. And that thus http and https urls are different in the serialization and that based on that the difference in identity is determined.

Probably it is in general unavoidable, but a common approach to this issue is welcomed.

[2020-03-04 15:35] makxdekkers commented on #1221
I don't see why. The definition is sufficiently broad to encompass also software.

Well, it would depend on the definition of ex:Mammal whether that is 'wrong' or not.
The point is that it is very well possible -- and it has been done in ADMS-AP -- to consider software a `dcat:Dataset`. As far I see it, software is a type of digital resource, and I would argue it is a collection of instructions or

[2020-03-04 15:40] RubenVerborgh commented on #1221
The official definition starts with

Your take above started with

Different IMHO.

But then I'd argue that a JPEG file is a collection of pixels, etc. I don't mind that, it's just that in that case "dataset" becomes "every digital object". Which does not seems like the intention.

So collaboratively edited open-source software doesn't count?

Another question is what we gain by including software

[2020-03-04 16:13] makxdekkers commented on #1221
@RubenVerborgh
Yes, every discussion that I've seen over the years always ended up with the conclusion that, yes, any digital resource qualifies as long as there is someone (person, group, organisation) that publishes and curates it.

Information published as HTML files or PDFs, images represented as JPEGs or PNGs, music encoded in MP3, tables and spreadsheets published in Excel or CSV, basically

[2020-03-04 23:06] agreiner commented on #1206
I think the best practice is to proxy all http traffic over to the https equivalents, not to block http. That way, the http one still resolves but doesn't have to be maintained separately. I think we should use the http urls only when the https forms don't work (if that is even the case anywhere). Here, the interoperability issue is on the iana side, and they seem to already be doing the right thi

[2020-03-04 23:07] pwin commented on #1206
+1 to Annette's approach
This is easy with e.g. nginx

On Wed, 4 Mar 2020, 13:09 bertvannuffelen, <notifications@github.com> wrote:

[2020-03-05 02:01] dr-shorthair commented on #1221
DCAT defines two sub-classes of `dcat:Resource` - `dcat:Dataset` and`dcat:DataService`.
Other kinds of resource can be defined as additional sub-classes of `dcat:Resource` to support other applications.

We were very clear about this in https://www.w3.org/TR/vocab-dcat-2/#dcat-scope and https://www.w3.org/TR/vocab-dcat-2/#Class:Resource

@bertvannuffelen My hunch is that software and code is a str

[2020-03-05 07:26] aidig commented on #1221
DCAT does indeed define two sub-classes of catalogues resources dcat:Dataset and dcat:DataService, and suggests both the definition of additional sub-classes for other applications. However, it also suggests the use of dcat:Resource and classifying it (via dct:type).
If it is necessary to coin new sub-classes, one should hope it would be possible to gain insight from the existing well governed and

[2020-03-05 07:41] jakubklimek commented on #1206
@agreiner @pwin Actually the issue is not with implementation of dereference (nginx, redirects, etc.) but with the fact that the two IRIs (http and https) are different identifiers, worsening interoperability. Every application working with DCAT will have to know and implement, that sometimes, media types (used in multiple properties) use http and sometimes https identifiers, and that when checkin

[2020-03-05 09:12] makxdekkers commented on #1221
So I guess we can't avoid to discuss this yet again...

@dr-shorthair When you say it "is a stretch" you are basically talking about boundaries -- you apparently have an idea of what a '_collection of data_' is and what is not. As far as I am concerned, if we want to make this operational, we would need to have a clearly and explicitly written definition of Dataset that would make it abundantly cl

[2020-03-05 09:42] makxdekkers commented on #1206
I am with @jakubklimek on this one. Ignoring the protocol is not how identifiers are supposed to work -- an identifier is a string of characters, and a different string is a different identifier. I note that W3C has a [policy ](https://www.w3.org/blog/2016/01/w3-org-supporting-https-and-hsts/) that says "_The actual namespace will continue to use HTTP, even if it is also served through HTTPS_".
Th

[2020-03-05 10:36] dr-shorthair commented on #1221
I would go the other way round and ask 'what are the key descriptors or metadata required to index software in a catalog?'.

If they are the same as `dcat:Dataset` then it is fine.

If they use the properties of `dcat:Dataset` but need more, then sub-class the Dataset class.

If there are properties of dataset descriptions that do not apply to software, then another sub-class of `dcat:Resource` (i

[2020-03-05 12:23] makxdekkers commented on #1221
@dr-shorthair
I understand your point. But I am just wondering if this is worth the time and effort in this group to try and analyse the requirements of various types of _collections of data_.
Your list of criteria is interesting but I am not quite sure I agree that these are general rules to apply
For example, I don't see the need to create a sibling class if you don't need all the properties of

[2020-03-05 12:39] dr-shorthair commented on #1221
We definitely do not need to police this. We should just explain

Then it is up to the user.

[2020-03-05 12:55] makxdekkers commented on #1221
That's a good proposal. I agree.

[2020-03-05 22:11] agreiner commented on #1221
With that proposal, it becomes impossible to correct deficiencies in how DCAT defines a dataset. It assumes a dataset is all it should ever be. I would like to hear what @bertvannuffelen  saw as a concern, whether it was just a matter of whether it was permissible to use the term dataset for software, or if he found issues in attempting to use it.

[2020-03-05 22:54] agreiner commented on #1206
Maybe the best path forward would be to ask IANA how they would like people to refer to their media types in RDF? That way at least we'd find out if they have a policy.

[2020-03-06 11:53] bertvannuffelen commented on #1221
@all, thanks for the feedback.

The reason why I posted this question is exactly to understand what the intented meaning of 'a collection of data', and what would be the expected usage of DCAT is.

When I design models I personally like to have that my intuition of the human readeable definition matches the actual shared machine readable information.
Personally '_a collection of a data_' is not wh

[2020-03-06 12:11] bertvannuffelen commented on #1221
@agreiner, your comment highlights an attention point, for the future:

During this discussion the difference in how people interpret '_a collection of data_' has been highlighted. That indeed means that semantical (definitional) issues might occur. This is normal, but therefore the expected usage context of DCAT should be clear. There is always a vagueness in human language, but for machines ther

[2020-03-06 13:22] makxdekkers commented on #1221
@bertvannuffelen

I have no problem if we want to make it explicit that specific types of data should be modelled as sub-classes of `dcat:Resource`.

What I think we can't do is formalise what you call your 'mind set' for `dcat:Dataset` by narrowing down the definition, as this could potentially break existing implementations. Those  implementations were developed before the mechanism of subclassi

[2020-03-06 14:11] bertvannuffelen commented on #1221
It is not about penalizing existing implementations. But at the same time, existing implementations could now reconsider that choice. Other-way around, it is not because somewhere somebody created a catalogue of e.g. vehicles using dcat:Dataset, that DCAT must accept this as a good and desired practice. I hope that a vocabulary community has the freedom to state about implementations that the appl

[2020-03-06 18:42] makxdekkers commented on #1221
@bertvannuffelen

But now you are arguing for this working group to take on the role of Dataset Police! I don't think that we as a group are in the business of declaring good or bad practices -- we're in the business of defining a vocabulary that we think is useful for the description of all kinds of data catalogues.

I quite like @dr-shorthair's proposal which leaves it really to the user to deci

[2020-03-06 19:12] kcoyle commented on #1221
While there is no possibility nor desire to do policing of other people's metadata, interoperability is facilitated through clear definitions and good examples. If some users wish to take a "whatever" view, that's their prerogative, but a common understanding is helpful for those who wish to exchange data.

I often feel that the short definitions that we adopt, while good "sound bites," should be

[2020-03-06 19:24] agreiner commented on #1221
I agree that it should be up to the user to determine whether a resource is in fact a dataset, but I think we could provide some guidance that would help people understand what scope is intended. Call me an optimist, but I don't think this is an insurmountable issue. To address Makx's most relevant question, I think we stand to gain clarity in decision making if we can avoid having to generalize t

[2020-03-07 05:04] shujikamitsuna opened #1222 "Possible typos"
Thank you for the useful specification.
I found some possible typos in the DCAT2 Recommendation:

(1) Example 29 - "buth" might be "but".
(2) C.3, 2nd paragraph - linking URL is missing for "Nature Scientific Data journal".
(3) D.1, 19th item - "provie" might be "provide".

Just for your information, Japanese translation is available now: http://www.asahi-net.or.jp/~ax2s-kmtn/internet/rdf/REC-voca

[2020-03-08 00:48] andrea-perego commented on #1221
We stumbled upon this issue when defining mappings from ISO 19115 and DataCite to DCAT-AP, since both ISO 19115 and DataCite support different resource types. The adopted solution is described in UC20:

https://www.w3.org/TR/dcat-ucr/#ID20

Basically, the approach was to use `dcat:Dataset` whenever possible, and its broader sense, but also use soft typing to specify the "type" of dataset, by reusi

[2020-03-08 15:58] kcoyle commented on #1222
@shujikamitsuna Thank you for the translation. I was wondering if there is a W3C process for translations, and found this: https://www.w3.org/Consortium/Translation/. If you register the translation, as described there, it will be listed on the site. Then there is a way for the DCAT standard to link to translations, as shown here in the [RDF Schema](https://www.w3.org/TR/2014/REC-rdf-schema-201402

[2020-03-09 00:25] shujikamitsuna commented on #1222
Thank you for your comment.
I sent a report to w3c-translators@w3.org at the same time I posted here.

Best regards,

[2020-03-09 02:36] xueyuanjia commented on #1222
Thanks @shujikamitsuna 👍 The Japanese translation of DCAT 2 has been added to W3C [translation database](https://www.w3.org/Translations/#s-vocab-dcat-2), also linked from the [translation matrix](https://www.w3.org/Consortium/Translation/matrix.html).

[2020-03-09 03:03] shujikamitsuna commented on #1222
Thank you, xueyuanjia !

[2020-03-09 08:09] bertvannuffelen commented on #1221
@makxdekkers

I think you misread my comment. It was not about policing, it is about **expressing** as DCAT vocabulary group **as clear as possible the intend of DCAT**. In that exercice, past/existing implementations can be an inspiration, but in my personal view, not at all cost all implementations should be fittable into the intend. It is really fine for me that an existing implementation might

[2020-03-09 09:00] makxdekkers commented on #1221
@bertvannuffelen
I understand what you're proposing. It's just that I don't think we should be in the business of telling people what to do.

My main worry is that if we describe what this group -- consisting of a very small set of stakeholders -- sees as the intention of the vocabulary, there might be people that have data collections that could benefit from DCAT, who might read that intention an

[2020-03-09 10:21] dr-shorthair commented on #1221
I think we can lean towards functional definitions. If the properties satisfy your requirements, then the class will do, regardless of what it is called.

[2020-03-09 10:55] bertvannuffelen commented on #1221
@makxdekkers

I do not think you really understand me:

My stand is that if DCAT is intended to be broadly applicable, **fine with me**.

My suggestion is then to loosen the connection of DCAT from the Open Data portals.
Open Data Portals come with their view on what is dataset and catalogue, which should be then according to you a specific application of DCAT.

In the introduction, the first para

[2020-03-09 11:09] makxdekkers commented on #1221
@bertvannuffelen
OK, now I understand.
I have no problem adding examples as you suggest.

[2020-03-09 11:25] dr-shorthair commented on #1221
Good discussion folks. Though it seems we went the long way round to get to a simple solution i.e. more examples, including software and image catalogs!

[2020-03-09 14:58] kcoyle commented on #1221
If you do add examples I would hope that they would be "real" examples. If there is a picture catalog using DCAT then it could be listed, but not if none exist. I say this because I am skeptical about that particular use as I know several such catalogs and they would not easily make use of DCAT. So as long as the examples are of uses that have been proven then of course they should be added. Specu

[2020-03-09 16:18] aidig commented on #1195
In the following document, we provide further elaboration on this issue. It is currently in the form of a draft OGC Discussion Paper, see https://github.com/heidivanparys/discussion_paper_dataset/releases/tag/v20200306

[2020-03-09 22:37] rob-metalinkage commented on #1195
A few comments

from the DCAT perspective, the comments about identifiers are most relevant, in that DCAT relates to making statements about datasets - without an identifier this doesnt make sense.

The key issue here is: "Note 2 to entry: Typically, a dataset is described using metadata elements including an identifier and a title." but that is mixing up the metadata, identifier an title concerns

[2020-03-10 09:45] heidivanparys commented on #1221
I guess it depends on the definition of "data" used.

As mentioned earlier by @aidig , according to [DCMI Metadata Terms](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/) and [DataCite Metadata Schema 4.3](https://schema.datacite.org/meta/kernel-4.3/), software ("A computer program in source or compiled form.") is not considered to be a dataset ("Data encoded in a defined structu

[2020-03-10 10:10] riccardoAlbertoni opened #1223 "Tracking the API bug (mismatch between /TR and API for "vocab-dcat")"
This issue tracks the API bug [w3c/w3c-api#96](https://github.com/w3c/w3c-api/issues/96), which impacts on the mismatch between /TR and API for "vocab-dcat".

This is the part still pending from the closure of issue #1177.

[2020-03-10 10:11] #1177 closed, assigned to nobody

[2020-03-10 13:32] heidivanparys commented on #1221
An addition to my comment above: according to schema.org, a software application is not a dataset (but both are "creative works"):

![image](https://user-images.githubusercontent.com/11427611/76317067-d0e12f80-62db-11ea-9868-55474982e3a5.png)

[2020-03-10 23:07] rob-metalinkage opened #1225 "Collate existing practice in use of dct:conformsTo with DCAT"
The target for dct:conformsTo is an identifier for a specification. In attempting to implement DCAT (and PROF) establishing canonical URIs for a range of well known specifications is not trivial.
Can people implementing DCAT please advise how they are doing this now, and if possible publish links to the sets of specifications they have identified.

this relates to #1146 #1211 #1130 #990

[2020-03-10 23:19] andrea-perego commented on #1221
Thanks for this comparison with related specifications, @heidivanparys .

I can assure you they have all been taken into account by the DXWG while working on DCAT2. However, the point is that the notion of `dcat:Dataset` was indeed very broad since DCAT was first published, and it may well correspond to the one of "information resource". This is how it has been implemented since 2014, which is one

[2020-03-11 00:38] andrea-perego commented on #1225
Some examples below, excluding those not in scope with PROF:
- DCAT-AP (https://joinup.ec.europa.eu/solution/dcat-application-profile-data-portals-europe/release/200):
  - Metadata conformance (§4.2)
  - Service conformance (§4.3.2)
  - Distribution conformance (§4.5.3)
- GeoDCAT-AP:
  - Metadata conformance (https://semiceu.github.io/GeoDCAT-AP/drafts/latest/#metadata-standard-name-metadata-stand

[2020-03-11 12:48] kcoyle commented on #1225
In recognition of the great variety of uses of Dublin Core terms, DCMI recently moved to a use of "range includes" for many properties rather than the more strict RDF range, and dct:conformsTo is one of those properties. Therefore a non-URI "identifier" could be used (and probably has been in practice). Obviously, DCAT can develop its own practice, requiring URIs if it wishes.

[2020-03-12 02:01] rob-metalinkage commented on #1225
Thanks - what I'm actually looking for is the set of target objects in use - actual specification URIs  - (I've already looked into the definitions and use of conformsTo when designing PROF to make sure it fits in with this)

[2020-03-16 12:24] riccardoAlbertoni commented on #1221
@bertvannuffelen wrote:

I have noticed that section 5.1 already exemplifies quite a wide range of examples, including pictures as connections of pixes. So in the spirit of @bertvannuffelen's suggestion, I would reinforce the message adding the sentence in bold in section 5.1 and add a usage note on the same line:

In section 5.1:

As usage note for dcat:Dataset:  (I have dropped "A dataset is a c

[2020-03-16 12:53] makxdekkers commented on #1221
Looks good to me, with one minor suggestion: replace "words" by "text" -- not all languages have a notion of "word".

[2020-03-16 19:38] dr-shorthair commented on #1221
In section 5.1:

dcat:Dataset represents a dataset. A dataset is a collection of data, published or curated by a single agent **or identifiable community**. **The notion of 'dataset' in DCAT is broad and inclusive, with the intention of accommodating resource types arising from all communities.** Data comes in many forms including numbers, text, pixels, imagery, sound and other multi-media, **code

[2020-03-17 11:36] riccardoAlbertoni commented on #1221
I agree that code and software might be modeled as datasets in some context. However, I would not encourage that explicitly mentioning them in the above sentence as it might look confusing and inconsistent with the resource subclassing (explained in the previous item and the end of section 5.1).

so in the third item of section 5.1, I would prefer

If we can't avoid mentioning code and software, w

[2020-03-17 17:08] agreiner commented on #1221
I think it's okay to mention code, but I would not use the term software in addition. To the extent that they are different things, code is the data-like form of software. The code is what one would use for analysis.

[2020-03-18 00:54] nicholascar commented on #857
PROF's view on this hasn't changed for a while so I'm removing the PROF link to this Issue (after a week's prof-due-for-closing).

[2020-03-18 10:09] aisaac commented on #857
@nicholascar is the definition you've cited still up-to-date (and expected to be stable)?

If yes it doesn't answer the question. Well, more precisely there's a contradiction between:
- the definition of the property "This property indicates a Resource Descriptor described by this Profile’s base specification"
- the formal rdfs:range of the property (apparently set to Profile, not to Resource Desc

[2020-03-18 10:57] rob-metalinkage commented on #857
This issue already in the right place covers this - and has an updated definition already:

https://github.com/w3c/dx-prof/issues/18

closing this now as its not relevant in tjhis repo and the link to a current issue is present.

[2020-03-18 11:57] aisaac commented on #857
No w3c/dx-prof#18 cannot be used to close this issue. #18 is very technical (vocabulary-level) and can be solved without an appropriate answer to this issue.

I happened to mention these vocabulary issues because @nicholascar wanted to use the vocabulary to answer the question for this issue. But essentially this issue is one of data modeling. This is not to say that @nicholascar was wrong when tr

[2020-03-18 12:18] nicholascar commented on #857
@rob-metalinkage @aisaac note I used the `prof-due-for-closing`, not the `due for closing` tag. My intention was that, after a week, to remove the profiles-vocabulary tag so this would be an issue left in the DXWG repo for Guidance only! So we shouldn't close it but it is now irrelevant to PROF!

[2020-03-18 12:59] aisaac commented on #857
@nicholascar good point! I could completely live with the issue being open only "from the perspective of Profile Guidance" for the moment.

[2020-03-18 22:31] rob-metalinkage commented on #857
OK happy for this to be moved to a guidance if people want to scope profile guidance to look at the general nature of conformance and testability that is fine and up to them - we shouldnt need to reference PROF as that discussion wont affect the specific case PROF supports, which is machine readability of transitive conformance statements and discovery of related resources.  PROF provides _A_ solu

[2020-03-19 10:21] aisaac commented on #857
@rob-metalinkage good point. I've tried to add a last scoping sentence on the issue to clarify that PROF is only one element of the discussion.
In fact I think that what is needed from PROF is only a clarification on what is the level where prof:inheritedFrom applies. Then we could decide whether the more general group take on it would be the same, or something more general, or no stance at all.
T

[2020-03-19 12:08] rob-metalinkage commented on #857
Annotate https://github.com/w3c/dx-prof/issues/18 with any details you think show an issue with the PROF approach, then very happy to look into them,

[2020-03-19 15:59] riccardoAlbertoni opened #1227 "Axiom binding the properties dcat:servesDataset and dcat:accessService"
Considering together with @aisaac the following example,  we were wondering if we need an axiom binding the properties `dcat:servesDataset` and `dcat:accessService`.
Are there any cases in which having a distribution  `:myDatasetDistribution` with access service `:mySparqlService`  does not imply the service also serves `:myDataset`?

[code]

If there aren't, we might want to model this, for examp

[2020-03-21 11:50] akuckartz commented on #1221
@agreiner wrote

Why restrict the purpose to "analysis" ?

[2020-03-21 16:43] aisaac commented on #857
@rob-metalinkage ok done! Note it may not be a problem with the approach, but with the implementation of the approach (or the discourse around it), some components seeming at odds with others. Let's discuss this there.

[2020-03-23 17:11] agreiner commented on #1221
Because that is the actual goal of data. I mean analysis in the broad sense of attempting to gain understanding from it. That would include things like looking at a visualization, directly inspecting a datum in csv, or using a computational system to perform a search. There are plenty of things that happen in the lifecycle of data, but they all have the goal of some sort of analysis in the end. Th

[2020-03-26 16:11] kcoyle commented on #1221
Again, I would discourage using as examples any data type for which there is no existing or proven DCAT use. Until someone finds it actually useful in practice you only have speculation, and that speculation could misinform someone coming to DCAT for the first time. People can decide for themselves if DCAT meets their needs without misdirection. When there are examples of a variety of uses, those

[2020-03-26 16:56] riccardoAlbertoni commented on #1221
@kcoyle : I concur with your idea that we should not be too speculative here. In the spirit of accommodating the different legitimate positions, provided that we do not mention code and software explicitly,  Would the following sentence (the same proposed in the previous post https://github.com/w3c/dxwg/issues/1221#issuecomment-600023334) work for you?   Note that the part not in bold was already

[2020-03-26 23:20] dr-shorthair commented on #1221
Yes, I agree. My proposal above overreached by adding the code and software examples. Particularly as this definition - from Section 5.1 - is immediately preceded by the definition of `dcat:Resource` which is the general case.

I'm wondering if/where we should elaborate the explanation that if you want to build a catalogue of something that is not a Dataset or a DataService, then you could create

[2020-03-28 14:30] kcoyle commented on #1221
@riccardoAlbertoni I like your definition although the last sentence still slips over into some data types that I think are a bit suspect. Can we find a way to say it without naming types that we aren't sure about? Datasets surely must be digital in nature (ones and zeroes). They also are "sets" ("collections of data"). Saying that may be sufficient.

@dr-shorthair  That also relates to your sugge

[2020-03-29 08:41] dr-shorthair commented on #1221
@kcoyle not sure I agree. A sub-class of `dcat:Resource` for real-world things (for example, `ex:Specimen`) might add additional descriptors related to things - e.g. physical dimensions. In fact the individual record of type `ex:Specimen` might serve as _the_ landing page for something that has no other digital or web presence. In this way, a museum catalog (for example) could modeled on the DCAT

[2020-03-29 08:47] pwin commented on #1221
I agree with Simon
I see dcat as more about a catalog than about the nature of what is being
catalogued.

There's discovery metadata and conformity constraints (again, to help with
subsetting or accurate placement of the catalog contents in mind) in the
model, and this is all about cataloguing.

On Sun, 29 Mar 2020, 09:41 Simon Cox, <notifications@github.com> wrote:

[2020-03-29 14:13] kcoyle commented on #1221
So here's what I think needs to be made clear:

There are catalogs of metadata for things in the real world - a library catalog is an example of this. A catalog of machine parts or an office supply inventory is also such an example. In this case there is no dcat:Distribution because there is no digital file to point to. (Note that a library catalog is often today a mix of descriptions of non-digit

[2020-03-30 08:02] makxdekkers commented on #1221
To be honest, I find a discussion on how you could model catalogues of things with DCAT a bit theoretical. Do we really expect people to start repurposing the Data Catalog vocabulary for such catalogues? Maybe, but is that something that is urgent to consider at this point in time?

I do not understand @kcoyle when she writes that _most people are not going to consider a single file a "collection

[2020-03-30 13:47] kcoyle commented on #1221
Sorry, @makxdekkers, I didn't say that right. What I mean is a single digital resource - a digital photograph, an mp3 music file - each being the digital representation of a single "thing".

And I agree with your first paragraph - what is the need to attempt to redefine DCAT for other types of catalogs? If people find it useful then alternative uses will arise and can be evaluated (or admired) at

[2020-03-30 14:14] makxdekkers commented on #1221
@kcoyle I understand your opinion about a file with a single 'thing', but I think it is really hard to declare something a single thing -- it really depends on your perspective. On the extreme end of things, I guess we can agree that a single number (like "26") is not a dataset, but beyond that things get more difficult.

The example of an MP3 file, in my mind, is the wrong perspective. What to me

[2020-03-30 15:46] heidivanparys commented on #1221
I don't agree with that. See e.g. some historical examples described at https://en.wikipedia.org/wiki/Census and https://en.wikipedia.org/wiki/Census_in_Egypt :

- "during the Roman Republic, the census was a list that kept track of all adult males fit for military service"
- "In 1183, a census was taken of the crusader Kingdom of Jerusalem, to ascertain the number of men and amount of money that

[2020-03-30 16:04] rawmatt opened #1228 "Inheritance terminology not appropriate for RDFS and OWL"
4 places in [the Recommendation](https://www.w3.org/TR/vocab-dcat-2/#Class:Catalog) refer to "_The following properties are inherited from the super-class_". The problem with this is that there is no concept of inheritance in the RDFS and OWL ecosystem.

From the OWL2 Primer:

In my opinion, referring to Sub-Properties as Inheritance is mis-leading. The term is not defined in the normative referen

[2020-03-30 16:28] makxdekkers commented on #1221
@heidivanparys @dr-shorthair's advice still stands. If a manager of a collection of papyrus scrolls considers DCAT useful to describe their stuff, they can use it. There may be an implicit expectation in DCAT that datasets are distributed as digital files, but I don't think this is necessarily so. We shouldn't stop people being creative.

[2020-03-30 20:00] dr-shorthair commented on #1228
Thanks @rawmatt you are strictly correct of course. This was loose language. The intention is merely to draw attention to properties associated with the super-class (through either global domain-range constraints, or local restrictions) which would therefore also be associated with sub-classes.

Would it be OK to write "The following properties associated with the super-class are also available fo

[2020-03-30 20:12] rawmatt commented on #1228
Yes, that would be OK.

How about: "The following properties of the super-class are also available for use." I suggest this because "associated" is undefined, and is also OOP terminology. "Of" is such plain English that I don't think it could be taken as implying anything extra.

[2020-03-31 04:31] dr-shorthair commented on #1228
@rawmatt I note that the [section that you quote](https://www.w3.org/2007/OWL/draft/ED-owl2-primer-20090414/#Object-oriented_Programming) was in an appendix that did not survive into the [final version of the Primer](https://www.w3.org/TR/owl-primer/) - is there a current reference I can use?

[2020-03-31 13:52] kcoyle commented on #1221
@heidivanparys I don't disagree with you at all, but I was speaking strictly about DCAT. I was under the impression that DCAT organizes catalogs that are online. As I questioned above, how would DCAT be used with analog resources? No one has answered that. I find this discussion to be unhelpfully theoretical since concrete examples are sorely lacking. What is the value in speculating in this manne

[2020-03-31 21:25] #1222 closed, assigned to nobody

[2020-04-01 00:34] rawmatt commented on #1228
@dr-shorthair if the term is to be replaced, as you propose, why would it need a reference? Why reference an unused term or concept?

W3C Recommendations seem to state what things are, rather than what they are not. My understanding is nothing could be inferred from the absence of a statement in the [final version of the Primer](https://www.w3.org/TR/owl-primer/), only from what is present.

The i

[2020-04-01 00:53] dr-shorthair commented on #1228
OK @rawmatt you are a good standards lawyer ;-) I've done a bit of that myself so can recognise and respect the argument. However, I was actually thinking that it might be useful to mention this argument in the (non-normative) note below the caption to this figure:
https://www.w3.org/TR/vocab-dcat-2/#UML_DCAT_All_Attr
which explains that the summary diagram is not UML.

[2020-04-01 01:42] rawmatt commented on #1228
Yes, I agree wholeheartedly about the diagram. My personal experience of implementing DCAT v2 is that the use of UML notation in Figure 1 reinforced the incorrect assumption of OOP semantics.

Today, I had the use of UML notation in that diagram quoted to me as justifying assuming OOP semantics.

That diagram uses UML Generalization to represent SubClassOf, which is conflating implementation inher

[2020-04-01 03:07] dr-shorthair commented on #1228
Did you point to the NOTE: ?

[2020-04-01 03:30] rawmatt commented on #1228
Yes - the NOTE is very helpful.

[2020-04-01 03:50] dr-shorthair commented on #1228
FWIW - There is plenty of precedent using open arrow-heads for sub-classes. See

- https://www.w3.org/TR/vocab-org/
- https://www.w3.org/TR/vocab-data-cube/
- https://www.w3.org/TR/vocab-dqv/

And also the standard IDEs (TopBraid, Protege visualization plugins).

I certainly see where you are coming from arguing for UML Substitution, but it is not widely known outside UML circles, the visual notat

[2020-04-01 05:26] dr-shorthair commented on #1221
[code]

[2020-04-01 10:02] riccardoAlbertoni commented on #1222
Summary: Typos corrected via <a href="https://github.com/w3c/dxwg/pull/1224">#1224</a> (Corrections will appear in the next PWD)

[2020-04-01 12:22] kcoyle commented on #1221
Thanks, @dr-shorthair I won't claim to have fully understood this but it appears to me that this is a graph that is a dcat:resource, but there is no dcat:catalog, no catalog record, no dataset and no distribution. Would most consider this a viable use of DCAT? If so, any descriptive metadata "record" could add dcat:resource, but I don't see the value. What am I missing?

[2020-04-01 23:14] dr-shorthair commented on #1221
[code]

[2020-04-06 15:40] riccardoAlbertoni commented on #1197
@andrea-perego  said:

For the record,  I expand and make a little more explicit what was already said by @andrea-perego as a possible alternative.  I think this can be useful to others for future reference.

You (@nfreire) can indicate the URL for the  SPARQL query in a dcat:Distribution. Something like
  dcat:accessURL <http://data.nationallibrary.fi/bib/sparql?query=PREFIX+schema%3A+%3Chttp%3A%

[2020-04-06 15:54] riccardoAlbertoni commented on #1197
@nfreire and @aisaac: it seems to me that our replies have explained the support DCAT 2 can provide for this issue.  If there are no new updates/doubts from your side, I think we can close this issue.

As we are now considering new requirements for the next round of specification  (DCAT3),   I wonder if the group and in particular the other editors,  want to mint a new specific requirement for DCA

[2020-04-07 06:43] nfreire commented on #1197
@riccardoAlbertoni, @aisaac, @andrea-perego
In my opinion, the proposed solution is adequate and we may close the issue.

Further refining a solution for this use case in DCAT 3 would be good, in my opinion. We may have other data services besides SPARQL with similar requirements.
...and thanks all for helping.

[2020-04-07 20:38] #1228 closed, assigned to dr-shorthair

[2020-04-08 10:17] riccardoAlbertoni opened #1230 "Should DCAT 3 provide its own way to indicate the query to pose to the data service endpoints?"
As a side effect of the discussion on issue #1197 which arose from a Europeana use case,
 I wonder if we want to provide  DCAT 3 with its own way to indicate the query to pose to the data service endpoints.

That could improve the interoperability among solutions which can't or do not want to use `distribution->dcat:accessURL` to embed the query in a URL.

[2020-04-08 10:18] riccardoAlbertoni commented on #1197
The new candidate requirement is registered as a new issue now. So we can close this issue.

[2020-04-08 10:18] #1197 closed, assigned to nobody

[2020-04-08 16:15] smrgeoinfo commented on #1230
I'm not entirely sure what you're proposing, but allowing multiple approaches to doing the same thing in an interchange format always complicates interoperability.  As I understand DCAT, accessURL is a link to download a dataset as a file-based package. If a service is available to subset/filter/aggregate a view of the dataset, then dcat:Distribution/dcat:accessService would be appropriate.

[2020-04-14 10:20] aidig commented on #1221
In terms of interoperability assets, **ADMS-AP for Joinup** consideres **_software solutions_** to be **_datasets_**. (reference to makxdekkers' comment on 4 Mar)

Example:
The software solution asset LEOS (Legislation Editing Open Software) is described as a dcat:Dataset:
HTML on JoinUp - https://joinup.ec.europa.eu/solution/leos-open-source-software-editing-legislation
TTL metadata -  https://jo

[2020-04-14 16:19] rawmatt opened #1231 "foaf:page, not foaf:homepage"
As an implementer, the [alignment with Schema.org](https://www.w3.org/TR/vocab-dcat-2/#dcat-sdo) is very useful. I use the [published alignment](https://w3c.github.io/dxwg/dcat/rdf/dcat-schema.ttl) with OWL-RL to infer my data catalog into it's SDO equivalents. This is useful for activities, such as driving [Google Dataset Search](https://datasetsearch.research.google.com).

I disagree with one ma

[2020-04-14 16:26] aisaac commented on #1230
@smrgeoinfo  . What we were asking is whether one could represent a situation where a dataset's "distribution" doesn't exist "independently" of the distribution (well, the access service) of a larger dataset. The way to get it is to use a *specific* query on that wider access service. In a way, the distribution of the dataset is the combination of the wider access service and the query to be fired

[2020-04-14 16:59] smrgeoinfo commented on #1230
I think the distribution of interest is via a WebAPI, and the metadata needs to provide a machine-actionable representation of the resolvable URI template, that includes (at least via links) an explanation of the parameters in the template.

Currently:

- dcat:downloadURL appears to implement the simple get a file containing the dataset
- dcat:accessURL is URL to get to a landing page or other web

[2020-04-14 17:44] smrgeoinfo commented on #1221
Kinds of resources should be differentiated based on what a USER needs to know about those resources.
For a dataset, I'd assert a user needs to know what the conceptual model and serialization scheme are for the data accessible on the WEB, as well as some provenance metadata to assess fitness for use.
For software, a user needs to know what is necessary to execute the software -- what is the Opera

[2020-04-15 02:27] dr-shorthair commented on #1231
Good catch @rawmatt
Note that the dcat-sdo alignment is non-normative, but good to know that you are finding it useful.

The use of FOAF properties in DCAT at all is a bit of a legacy thing, coming from DCAT-2014.
TBH my preference would probably be to replace all the FOAF predicates and classes with better ones from other namespaces, but we agreed to prioritize backward compatibility to protect t

[2020-04-15 09:19] aisaac commented on #1230
I'm not sure I understand. Is the idea to represent the query through the "machine-actionable representation of the resolvable URI template"?
The option that we've discussed in #1197 does include schema:SearchAction and schema:query, which may be related to what @smrgeoinfo mentions. But I'm not sure, as this is a lot of links to read.

[2020-04-15 16:52] smrgeoinfo commented on #1230
looking at https://www.w3.org/TR/vocab-dcat-2/#dcat-scope diagram:
a dcat:Distribution can have a dcat:dataService link to a dcat:DataService.  I think dcat:DataService is analogous to schema.org (sdo) WebAPI.  To describe the API requires a variety of information. Proposal in Schema.org is to use [sdo:potentialAction/sdo:Action](https://schema.org/potentialAction) (which has various sub classes f

[2020-04-15 21:24] dr-shorthair opened #1233 "WKT examples have wrong datatype"
The WKT examples in https://www.w3.org/TR/vocab-dcat/#spatial-properties have the literals typed `geo:asWKT`. Should be `geo:wktLiteral`.

[2020-04-16 06:48] andrea-perego commented on #1233
Indeed, Thanks for spotting this, @dr-shorthair .

[2020-04-16 07:10] agbeltran commented on #1233
This should probably be added to the errata for DCAT2 as well.

[2020-04-16 07:56] andrea-perego commented on #1233
@agbeltran said:

+1

[2020-04-17 10:39] riccardoAlbertoni commented on #1233
I wonder if we should mark this errata as "editorial".

[2020-04-17 11:16] andrea-perego commented on #1233
@riccardoAlbertoni said:

It's a typo, and about an example, so I would consider it as editorial.

[2020-04-17 11:35] akuckartz commented on #1233
It is not a typo but a completely different word.

[2020-04-17 16:46] #1233 closed, assigned to dr-shorthair, andrea-perego

[2020-04-17 16:47] agbeltran commented on #1233
Summary: geosparql:asWKT (a DatatypeProperty) was changed to geosparql:wktLiteral (a Datatype) throughout the specification and examples. All usages are in non-normative examples or comments. Typos corrected in <a href="https://github.com/w3c/dxwg/pull/1234">#1234</a>. The corrections will appear in the next PWD.

[2020-04-19 04:55] dr-shorthair opened #1235 "Scope of DCAT - datasets, or digital descriptions"
Discussions in #1221 and elsewhere indicate that, while DCATv2 was extended to allow for cataloguing data-services, and includes the class `dcat:Resource` to serve as an extension point for additional applications, there is still some unease about the use of the DCAT model for applications beyond the datasets use-case that drove the original development of DCAT.

The question probably comes down t

[2020-04-19 04:58] dr-shorthair commented on #1235
I am of the opinion that the DCAT model is suitable for cataloguing many things, not just datasets. In https://github.com/w3c/dxwg/issues/1221#issuecomment-607040099 I sketched an example of a description of a physical specimen, in a way that could be a member of a DCAT catalog of specimens.

On the other hand, the name of the vocabulary 'Data Catalog Vocabulary' appears to be more narrowly scoped

[2020-04-19 21:30] kcoyle commented on #1235
@dr-shorthair Simon, thanks for starting this.

In the spirit of "anyone can say anything about anything" I don't think that one would want to try to limit the uses of DCAT. That, however, is different from encouraging uses that have yet to be shown as fruitful. Before making any changes to the DCAT documentation, it would seem to me that a good approach would be to begin to gather and publicize a

[2020-04-20 05:08] akuckartz commented on #1235
Where does the requirement "instances of DCAT" come from?

[2020-04-20 07:34] makxdekkers commented on #1235
On the issue of what is an instance of DCAT, I don't know under which circumstances the question would be relevant. There are just cases where (some of) DCAT is used. What would be the purpose of answering 'yes' or 'no' to the question? I hope it's not to make a value judgment, declaring some applications of DCAT to be 'wrong'.
As @kcoyle writes, it's an issue -- I wouldn't call it a problem -- wi

[2020-04-20 15:19] kcoyle commented on #1235
@akuckartz @makxdekkers Simon's statements and questions:

give me to wonder what is meant by DCAT in "general scope of DCAT" and "the DCAT model". Is the question here about DCAT as in Figure 1 of the spec? Or is this about any use of any of the DCAT namespace classes and properties? Given that anyone can say anything about anything, if there is no conformance expected, what do the questions mean

[2020-04-20 15:28] makxdekkers commented on #868
I'd like to point back to [my message in June 2017](https://lists.w3.org/Archives/Public/public-dxwg-wg/2017Jun/0006.html), in which I tried to identify a number of types of 'versioning' relationships:

- Evolution: for example, a dataset that is published with year-to-date information; every week or month, new, recent data is appended to the existing data.
- Replacement: for example, existing dat

[2020-04-20 15:38] makxdekkers commented on #1235
@kcoyle I am with you. Unless there is a strong pull from current or potential implementers to extend the intended scope of DCAT, I see no need to make such a name change. It creates the risk that people will get confused.

[2020-04-20 16:56] agreiner commented on #1235
I think there are really two questions underlying this issue. One is the one Simon has posed, whether we should widen the scope of DCAT to things that are not data but seem to be usefully described by DCAT. (I think designing the vocabulary for that would be a mistake, as it would dilute its usefulness for data and lead us into trying to address an unbounded list of possible use cases.) The other

[2020-04-20 17:46] agbeltran commented on #1235
With the addition of ```dcat:Resource``` on DCAT2, we have already indicated that this class is  "an extension point for defining a catalog of any kind of resource" (see https://www.w3.org/TR/vocab-dcat-2/#dcat-scope), and thus we have offered the possibility of a broader scope beyond datasets and data services.

Even if our main focus is around datasets and data services (as represented by the us

[2020-04-20 18:00] agbeltran commented on #1235
About this comment @kcoyle

The advantage I would see on changing the name (while not the acronym) would be to emphasise the cataloguing aspects of the vocabulary rather than the data cataloguing aspects. This might help raising awareness between non-dataset folks on the cataloguing capabilities beyond data.

[2020-04-20 20:27] smrgeoinfo commented on #1235
I agree with @agbeltran -- the base DCAT model provides a foundation for describing many kinds of resources-- not just datasets.  As it stands, applications or communities using DCAT as a foundation will need to provide validation resources and documentation for their resource descriptions. The application profile spec (DCAT-AP) provides guidance on doing that.
I think DCAT already has ['a pattern

[2020-04-21 19:15] riccardoAlbertoni commented on #1235
I agree that DCAT is useful for describing catalogs that are not necessarily mere data catalogs.

+1 to emphasize the "DCAT catalog modeling pattern," explaining that in the DCAT document that there are opportunities to employ DCAT also for catalogs that are not mere data catalogs.  The notion of the dataset adopted in DCAT is very inclusive, and in case of cataloged things that don't fall in that

[2020-04-22 07:03] dr-shorthair commented on #432
@agreiner is this issue still live? Are there things in your old pull-request that need to be considered? If so, maybe we home in on those in another issue, and close this issue since the major issue (DDS vs DS) was resolved long ago now?

[2020-04-22 07:09] dr-shorthair commented on #314
I take most solace from @tombaker comment that

I had always seen `dct:type` as a way of adding additional classifiers that were *not* `rdfs:Class` since there was already a home for those (i.e. `rdf:type`!) `dct:type` should not duplicate the functionality of `rdf:type`. It appears this has been fixed in the most recent version of DC - https://www.dublincore.org/specifications/dublin-core/dcmi-te

[2020-04-22 07:30] dr-shorthair commented on #314
However, I just realised that in a strict DCAT context, the `rdf:type` would always be `dcat:Dataset` or `dcat:DataService` or another sub-class of `dcat:Resource`, being the _description of the dataset_ (etc) in the catalog. OTOH the `dct:type` is used to classify the dataset itself (etc), i.e. not the _context resource_, but the _thing that the context resource describes_.

[2020-04-22 17:23] agreiner commented on #432
I think we can close this one.

[2020-04-22 22:35] #432 closed, assigned to nobody

[2020-04-28 13:44] riccardoAlbertoni commented on #1221
@kcoyle wrote:

The examples included so far were already included in DCAT 2 ( section 5.1, third item in the item list). That, of course, does not imply we cannot change them, I am saying this just to make clear it is not something we are adding now. Though I think I concur with your suggestions to rely on real examples and not being very imaginative, I think that here the examples are functional

[2020-04-28 16:29] kcoyle commented on #1221
I'm ok with leaving it, but eventually I would like to see use cases for these - not just about creating the catalog but user services from the catalog. By that latter I mean: how do you expect these catalogs to serve users, and does that include users who are doing general online searching for materials. Thanks, @riccardoAlbertoni

[2020-04-29 22:13] agbeltran commented on #1235
We [discussed this issue today](https://www.w3.org/2020/04/29-dxwgdcat-minutes.html) and agreed:

[2020-04-29 22:14] agbeltran commented on #1231
This issue was address in #1232 - closing.

[2020-04-29 22:14] #1231 closed, assigned to nobody

[2020-04-29 22:18] #1221 closed, assigned to nobody

[2020-04-29 22:44] riccardoAlbertoni commented on #1221
As discussed in [tonight's meeting](https://www.w3.org/2020/04/29-dxwgdcat-minutes), we close the issue as the original question is addressed. Spin-off discussions are tracked in separate issues or implemented in the PR.

[2020-05-07 16:26] riccardoAlbertoni commented on #93
I think we are close to an agreement on this issue,  as the following sentence, already included in  DCAT 2, shows that we apply versioning on all the first-class entities (datasets, distribution, but in principle also catalogs and data service)

see section about [Versioning](https://www.w3.org/TR/vocab-dcat-2/#dataset-versions)

Some concerns were expressed on versioning for data services, in pa

[2020-05-07 17:10] andrea-perego commented on #93
+1 from me. Thanks for the summary, @riccardoAlbertoni .

[2020-05-11 14:20] riccardoAlbertoni commented on #93
I include in this discussion,  @pwin' s view as expressed in the mailing list:

the options and how DCAT might be used together with prov, pav, or similar (see https://lists.w3.org/Archives/Public/public-dxwg-wg/2020May/0008.html)

[2020-05-11 16:55] riccardoAlbertoni opened #1238 "Versioning and resource status"
_Originally posted by @andrea-perego in https://github.com/w3c/dxwg/issues/93#issuecomment-469443517_
I don't remember if this was already mentioned, but another aspect of versioning may concern the resource "status" - e.g., draft, stable, deprecated, withdrawn.

The EU Publications Office maintains some reference code lists - the two that may be most relevant here are:
- [Dataset status](https://

[2020-05-12 07:28] dr-shorthair commented on #1238
ISO 19135 has a codelist with the following Status flags:

- invalid
- submitted
- valid
- superseded
- retired

The Registry ontology was partly inspired by 19135, but elaborates the status flags further
[code]
See https://github.com/UKGovLD/ukl-registry-poc/wiki/Principles-and-concepts#status-and-life-cycle and http://purl.org/linked-data/registry

[2020-05-12 08:49] andrea-perego commented on #1238
Thanks for pointing to the UKGovLD registry project, @dr-shorthair . I've been following this work since it started, and I think it provides a good reference for both versioning and resource lifecycle.

BTW, I think the latest version of this work is here:

https://github.com/UKGovLD/registry-core/wiki/Principles-and-concepts

Besides the lifecycle / status part, it may be worth looking also at th

[2020-05-19 10:17] #93 closed, assigned to nobody

[2020-05-25 16:22] riccardoAlbertoni commented on #1238
Another possible candidate property to consider is  [adms:status](https://www.w3.org/TR/vocab-adms/#adms_status).
The property [adms:status](https://www.w3.org/TR/vocab-adms/#adms_status) links the status of the Asset or Asset Distribution in the context of a particular workflow process.

 No domain is specified for this property, so the property can be applied to entities without inferring that t

[2020-05-25 16:51] andrea-perego commented on #1238
@riccardoAlbertoni said:

I agree that `adms:status` can be used for this purpose. Actually, this is the property DCAT-AP has been using so far on `dcat:CatalogRecord` and `dcat:Distribution` - see:
- https://github.com/SEMICeu/DCAT-AP/blob/master/releases/2.0.0/dcat-ap_2.0.0.rdf#L590
- https://github.com/SEMICeu/DCAT-AP/blob/master/releases/2.0.0/dcat-ap_2.0.0.rdf#L1146

The original version of A

[2020-05-25 20:21] dr-shorthair commented on #1238
I certainly have found the absence of a 'status' flag a regular gap, which I have needed to fill on more than one occasion. SO I have `xxx:status` predicates littering my own repositories. It looks like this is a very general requirement. I'm not sure if that means that we should adopt the ADMS offering in this space, or 'promote' it to DCAT alongside other general-purpose predicates missing from

[2020-05-26 07:23] makxdekkers commented on #1238
@dr-shorthair Are you suggesting that one approach could be to create a `dcat:status` on the example of `adms:status`, rather than using the ADMS property directly? What would be our criteria  to either use or create new properties in parallel to ones that already exist? I remember we had the discussion in GLD whether to use DCMI terms or create the same properties in the DCAT namespace. The decis

[2020-05-26 09:02] tombaker commented on #1238
@dr-shorthair @makxdekkers How many general-purpose predicates are needed for DCAT and missing from DCMI Metadata Terms? Do you happen to have a list?

[2020-05-26 10:15] makxdekkers commented on #1238
@tombaker Maybe I wasn't clear: GLD didn't identify things that were missing from Dublin Core. The discussion was whether to mint dcat:title alongside dcterms:title, instead of using the DCMI term.

[2020-05-26 12:03] tombaker commented on #1238
@makxdekkers I understand @dr-shorthair to be saying that it would be nice if there were a `dcterms:status`, along with various other general-purpose predicates. If so, I would be interested to know more about these "missing" predicates.

[2020-05-26 20:40] dr-shorthair commented on #1238
@makxdekkers @tombaker you have correctly identified most of the considerations.

Clearly there was a decision made early in the development of DCAT to re-use elements from existing well-established vocabularies in preference to coinages of concepts in a new namespace. I'm comfortable with that. But it then begs the question about which external vocabularies to trust. DC is so well established tha

[2020-05-27 07:52] tombaker commented on #1238
@dr-shorthair - Thank you for filling in the background!

Another group developing an application profile recently flagged 'status'
as a gap and argued for including it in DCMI Metadata Terms.  We have been
conservative about adding terms but the vocabulary is not frozen, hence my
question whether other general-purpose properties have emerged in the DCAT
context as gaps.

[2020-05-27 07:57] pwin commented on #1238
Well we're currently working on 'version' and the whole issue of what
aspects of the cataloging process to version (see
https://www.w3.org/2020/05/26-dxwg-minutes etc)

On Wed, 27 May 2020 at 08:52, tombaker <notifications@github.com> wrote:

[2020-05-27 08:03] pwin commented on #1238
sorry, last answer got cut short.... the discussion on versioning then
brought us onto workflow.  That's a bit like 'status' but it is slightly
different.  I wonder if we need to separate them in some way?  E.g. I can
have a draft that is in preparation, or a draft that is completed.  So
perhaps there needs to be some property, say 'workflowStage' that takes as
its object a concept or category

[2020-05-27 08:55] makxdekkers commented on #1238
Just to note that some of the 'workflow versioning' is already included in [ADMS ](https://www.w3.org/TR/vocab-adms/) with `adms:prev`, `adms:next `and `adms:last`.

@dr-shorthair I am intrigued by your criterion on the _number_ of dependencies. How would you define that? Two, three, four, less than ten?

As I see it, you accept none (perspective of schema.org and some other initiatives that I've

[2020-05-27 11:35] dr-shorthair commented on #1238
In principle there should not be a numerical limit, and your criteria mostly catch what matters. I would add, however, the challenge that the larger the set of vocabularies, the greater the risk of axiomatic inconsistency, and difficulty in testing and diagnosing this.

In practice, we must also consider the tolerance of the target community of developers. (End users don't need to know.)

[2020-05-27 12:01] makxdekkers commented on #1238
@dr-shorthair I would say that problems of inconsistencies and testing difficulties are related to the criteria of trustworthiness. In the case of ADMS, I see no problems with things like stability and persistence (stuff in W3C namespaces are guaranteed to survive as long as W3C is around and probably even longer). But, even if I was part of the team that developed ADMS, I am not trying to 'sell'

[2020-05-27 12:20] dr-shorthair commented on #1238
Perhaps I didn't explain what I meant. Two ontologies could each be trustworthy, but are not compatible when used _together_. This is a particular risk when global constraints are used (domain, range) - you can quickly end up up saying that things like two classes are the same even though they clearly aren't.

[2020-05-27 13:05] makxdekkers commented on #1238
@dr-shorthair Agreed as a general issue of ontology mixing. But do you see this problem occur with the reuse of ADMS properties?

[2020-05-28 05:21] dr-shorthair commented on #1238
Looking at https://www.w3.org/TR/vocab-dcat-2/#UML_DCAT_All_Attr I note that we refer to the following external namespaces:
- dcterms - lots
- foaf - 2 mentions
- skos - 2 or 3
- odrl - only 1, but with a whole ODRL structure as the target
- prov - 2 properties (and more further down), but again with a whole PROV structure as the targets.

I recognise that ADMS is about 'managed assets' so 'status

[2020-05-28 21:47] andrea-perego commented on #1213
On a slightly different note, it seems the fragment identifiers of the different sections of DCTERMS have been changed.

E.g., the URL for `dct:publisher` used to be

http://dublincore.org/documents/dcmi-terms/#terms-publisher

Also http://purl.org/dc/terms/publisher used to redirect to that URL, if I am not mistaken. But now it points to

https://dublincore.org/specifications/dublin-core/dcmi-ter

[2020-05-29 16:21] makxdekkers commented on #1213
As far as I am concerned, 'switching' from HTTP to HTTPS for PIDs really means you're minting new URIs and breaking the persistence of these HTTP URIs. You could of course make the statement, as I have seem some people do: "HTTP and HTTPS URIs are equivalent". That may be the case but identifier `http://somedomain/something` is different (for character-by-character compare) from `https://somedomai

[2020-05-29 16:31] makxdekkers commented on #1213
@andrea-perego. If you are asking the owner of persistent URIs to also commit to persistence of the URLs behind the persistent URIs, aren't you asking for too much?
As I see it, a persistent URI plus content negotiation guarantees that you can always get to the right URL behind the URI and the maintainer can rearrange what sits behind the URI as needed.

[2020-05-29 19:44] andrea-perego commented on #1213
@makxdekkers said:

Sorry, probably I was not clear. What I'm asking is whether it would be possible to fix the redirection to the new working URLs.

Coming back to my examples, the following PURL

http://purl.org/dc/terms/publisher

redirects to

https://dublincore.org/specifications/dublin-core/dcmi-terms/#publisher

whereas, with the new DCTERMS fragment IDs, it should redirect to

https://www.

[2020-05-31 12:50] tombaker commented on #1213
http://dublincore.org/documents/dcmi-terms/#terms-publisher

@andrea-perego Thank you for bringing this our attention. We will look into it and report back.

[2020-06-02 10:07] tombaker commented on #1213
@andrea-perego I have discussed this with @paulwalk. We agree with @makxdekkers that "a persistent URI plus content negotiation guarantees that you can always get to the right URL behind the URI and the maintainer can rearrange what sits behind the URI as needed".  Indeed, we changed the anchors when we redesigned the DCMI Metadata Terms document in the context of a migration to a static site gene

[2020-06-03 10:37] riccardoAlbertoni commented on #1238
I think we need something similar to adms:status which ranges into skos:Concept or in the worst case, if ADMS can't be admitted as normative namespace, an equivalent newly minted  DCAT term.

Also, I think we want to keep this as simple as belonging to a prefigured or user-defined set of statuses. More complex solutions are already covered by other vocabularies, e.g.,  http://www.opmw.org/model/OP

[2020-06-03 15:54] smrgeoinfo commented on #1238
Without being familiar with ADMS, and following @dr-shorthair 's concern about incoherent inferences due to multiple ontology imports, it seems to me the operational criteria for whether to import or not should involve what kind of assertions/restrictions/implications are brought by the imported vocabulary.  If the import target is simple a bunch of owl:class assertions with rdfs:label and other a