[2018-11-26 16:15] RubenVerborgh commented on #286
I think this can be easily covered in https://w3c.github.io/dxwg/conneg-by-ap/ if we say that a profile URI SHOULD be an HTTP(S) URL, and that it SHOULD be dereferenceable.

[2018-11-27 07:13] aisaac commented on #286
@nicholascar I am puzzled: isn't the goal of PROF precisely to capture the 'more information about the profile'?
I mean, maybe we don't get all the things that @RubenVerborgh describes here but the mechanism is there (and in the use case ID2 didn't require more).
I'm keen on leaving this requirement tagged as 'profile-guidance' to help making the connection clear, that this is a requirement that n

[2018-11-27 07:18] aisaac commented on #288
It is about how to invoke a specific profile for a data resource. This is DCAT-level (or in fact any resource that is described in RDF). A service publishing data tells which profile it has, and how the data that conforms to them can be obtained.
It sounds like requiring a mixture of PROF (for describing profiles), DCAT (for linking a piece of data to a profile), and the methods in the Conneg doc

[2018-11-27 08:43] RubenVerborgh commented on #288
Conneg, however performed, will indicate the profile(s) the response conforms to.
Concretely, there will be:
[code]

So this gives the URI of the profile, which can be dereferenced.

[2018-11-27 13:08] larsgsvensson commented on #288
@aisaac scripsit:

I still don't understand what "invoke a profile" means... Is it the same as "get content conforming to a profile"?

Yes, it's definitely not constrained to DCAT (and thus I don't think it's a DCAT requirement)

I see the relation to PROF and to conneg, but not to DCAT in particular. _Any_ piece of data sent can conform to a profile, so we need a mechanism that doesn't depend on

[2018-11-27 13:11] larsgsvensson commented on #288
@RubenVerborgh scripsit:

Yes, the question is if we say that the use of http headers is the _only_ way of sending this information. I think it should be, but that's just my opinion...

[2018-11-27 13:48] larsgsvensson commented on #288
@RubenVerborgh scripsit:

Yes, the question is if we say that the use of http headers is the _only_ way of sending this information. I think it should be, but that's just my opinion...

[2018-11-27 14:00] RubenVerborgh commented on #288
Of *this particular header* actually (because there is also `Link`).

Please, let there be one way.

[2018-11-27 22:39] nicholascar commented on #151
I will soon (by March) need to develop a DCAT-to-ISO19115-3 mapping for clients. I expect to use a Python script to query an [rdflib module](https://pypi.org/project/rdflib/), in-memory graph of a DCAT document and then to render ISO XML using Jinja2 templating. This is due to the client already using lots of rdflib and [Jinja2](http://jinja.pocoo.org/) and not wanting to use XSLT.

This work migh

[2018-11-27 23:00] agbeltran commented on #431
To address this, I added more details in the Vocabulary Overview section when introducing ```dcat:Resource```. See here:

https://rawgit.com/w3c/dxwg/dcat-issue431/dcat/index.html#vocabulary-overview

We are not considering distributions as catalogued resources, as these are associated with datasets, which are the resources that can be included in a catalogue.

@agreiner: given the previous change

[2018-11-27 23:07] nicholascar commented on #603
@rob-metalinkage do you have any suggestions here or is this completely an open question?

[2018-11-27 23:23] agbeltran commented on #67
The issue I see with the proposed solution is that one may want/need to specify the agency that manages the identifier scheme also for primary identifiers, rather than just for secondary identifiers.

[2018-11-28 09:33] makxdekkers commented on #67
@agbeltran In my mind, the distinction between 'primary' and 'secondary' identifiers is related to what you want to do with them.
The 'primary' identifier in @riccardoAlbertoni's proposal and at https://joinup.ec.europa.eu/release/dcat-ap-how-manage-duplicates, is used for (a) linking back to the orginal publication of that dataset, and (b) to (string-)compare identifiers to see if two description

[2018-11-28 18:52] agreiner commented on #431
The addition of the sentence about Resource being a parent class addresses my concern here. I do feel that the group still needs to reach agreement on how much distributions can differ from each other. If they are informationally equivalent, then I agree that cataloging at the level of datasets still makes sense, but if they can differ, then it seems to me that we would want to catalog at the leve

[2018-11-28 20:29] agbeltran commented on #431
Thanks @agreiner - then, we will merge the PR (https://github.com/w3c/dxwg/pull/612) and close this issue., as the discussion about distributions is happening in a few other issues (e.g. #433 #531 #411).

[2018-11-28 20:32] smrgeoinfo commented on #431
In my experience working with distributions in ISO metadata, the distribution section is used to provide various 'affordances' for accessing representations of the data-- e.g. links to dataset landing pages, links that directly download (possibly varying) file representations, links to services providing API access (data distribution services in the DCAT revision), links to ftp directories contain

[2018-11-28 20:41] agbeltran commented on #67
Thanks @makxdekkers. First, while I realise that the [wiki](https://github.com/w3c/dxwg/wiki/DCAT-Identifiers#proposal-1) and the discussions have focused on identifiers for datasets, the solution we provide should also tackle identifiers for other entities (catalogues, people, services, and even distributions).

For datasets, as we are mostly considering them in the context of a catalogue (even t

[2018-11-28 23:00] agbeltran commented on #431
@smrgeoinfo according to your description, it seems to me that ISO19115 MD_Distribution does not have a similar intention to dcat:Distribution. As you mentioned, MD_Distribution is about accessing the dataset, while dcat:Distribution is about the dataset representation.

See the usage note here: https://w3c.github.io/dxwg/dcat/#Class:Distribution

"[dcat:Distribution] represents a general availabi

[2018-11-28 23:41] smrgeoinfo commented on #431
doesn't 'general availability' have more to do with access than representation?
working from Merriam-Webster definitions, 'availability' would appear to mean "the quality or state of being present or ready for immediate use".  It seems to me that the interpretation of the distribution as representing an option for accessing (describes how it is available) one or more representations is completely

[2018-11-29 07:50] aisaac commented on #288
@larsgsvensson yes to me 'invoking a profile for a resource' means 'getting content conforming to that profile for the resource'.
And I'm using 'DCAT-level' as a generalization of what DCAT does, i.e. describing how datasets can be accessed. I fully agree that the requirement is wider than DCAT, but I don't see anything elsewhere that would provide such 'hooks' for the requirement. POWDER, maybe?

[2018-11-29 07:56] larsgsvensson commented on #288
Thanks @aisaac, that clarifies a lot.

Regarding the "machine-readable graph", my view has always been that when you dereference the profile URI you should get something back that describes what the profile is and that would/could be a "machine-readable graph" using e. g. the profile ontology. Would that satisfy the requirement?

[2018-11-29 13:51] RubenVerborgh commented on #288
We can just say it SHOULD be available as RDF, without having to specify the exact content schema.

[2018-11-29 20:52] rob-metalinkage commented on #288
Just RDF doesn't buy much value - although its better than anything that doesn't even provide namespaces  for data elements - such as XML without schema, or JSON.

I think we should drop the word "graph" - but also we all need to be aware that XML or JSON or any other nested structure is also a graph - it merely implies that such metadata is unlikely to be a trivial flat record or a scalar value (

[2018-11-29 20:54] rob-metalinkage commented on #288
Or even closer to the actual intent perhaps:

Requirement: profiles offered by a service must be discoverable through metadata that describes what is offered and how to invoke the offered profiles. This metadata MUST be machine-readable and SHOULD be described using a canonical expression such as the Profiles Ontology.

[2018-11-30 16:53] kcoyle commented on #288
Is the "service" here being understood solely as a content negotiation service, or could it be a service as defined by DCAT (an example of which is an API)? If the latter then this adds a new requirement on DCAT, and I don't know what the implications of that are. @davebrowning @agbeltran ?

[2018-11-30 18:00] RubenVerborgh commented on #288
I think "offered by a service" is actually inaccurate language. I think it should be "a resource should provide discovery for the profiles to which any of its representations conform".

We do not identify the service as an entity.

[2018-12-04 01:46] aisaac commented on #288
+1 for clarifying 'offered by a service'. But I think it's still important to keep the notion of 'data offer' and less as a constraint for the representation).
Maybe "For a given resource, a data service must enable the discovery of the profiles for which a data consumer can access conformant representations of that resource. This must happen through machine-readable metadata that describes what i

[2018-12-05 23:04] agbeltran commented on #431
This issue about clarifying the definitions of the new classes in DCAT was addressed in two PRs: #497 and #612 and can be closed. The discussion about distributions should be moved to the relevant issues, including the previous comment by @smrgeoinfo.

[2018-12-05 23:04] #431 closed, assigned to agbeltran

[2018-12-06 06:54] nicholascar commented on #151
I can confirm that I have a requirement for a March delivery here: one govt agency will use CKAN to store DCAT rev records and will then need to transform those to (a profile of) ISO19115-3 for consumption by another agency.

[2018-12-07 22:49] nicholascar commented on #398
Document shortcode is dx-prof, so https://www.w3.org/TR/dx-prof/, and RDF namespace is /dx/prof so http://www.w3.org/ns/dx/prof/.

This was determined through WG discussin in plenary and liaison with W3C staff.

[2018-12-08 00:31] agbeltran commented on #160
Addressed in #607

[2018-12-08 00:31] #160 closed, assigned to nobody

[2018-12-09 14:03] #66 closed, assigned to nobody

[2018-12-09 14:14] andrea-perego commented on #67
@agbeltran , I think the catalogue context may apply also to identifiers for other resources.

Take ORCIDs as an example: we are using them in the JRC Data Catalogue for dataset authors/contributors, along with their name and, possibly, email. In the JRC Data Catalogue, contributors are identified by a specific URI, whereas the ORCID is specified both as an alternative URI (`owl:sameAs`) and ident

[2018-12-10 09:14] makxdekkers commented on #67
@andrea-perego I think your comment indicates that the notions of primary and secondary identifiers are very much application-specific. I am still of the opinion that the base standard should not try to solve the issue. It might mention that there is a requirement in particular applications to make the distinction, but it should not mandate a general approach.

[2018-12-11 16:43] riccardoAlbertoni commented on #67
@agbeltran @andrea-perego Considering @makxdekkers' comment, I have changed  the text of issue 67 about primary and secondary ids, which is now

I have moved the issue before of the duplication guidelines.  If the issue text captures fairly well the group agreement, we might reuse the issue text directly in the  document and to close the issue.  Otherwise please feel free to suggest a rephrasing .

[2018-12-11 22:19] andrea-perego commented on #67
@riccardoAlbertoni , I am happy with the revision - although we may need come back to this, or at least the text may need to be further elaborated. E.g., we need to define what we mean with primary, legacy, and alternative / secondary identifiers.

Only, I would recommend, following @makxdekkers 's consideration in https://github.com/w3c/dxwg/pull/614#issuecomment-444594450 , to replace "legacy" w

[2018-12-12 09:54] makxdekkers commented on #67
@andrea-perego @riccardoAlbertoni My worry was indeed that it is not clear what the meaning of 'primary' and 'alternative' is, basically because it depends entirely on context. There are many examples of situations where things (people, cars etc.) have several identifiers that may be primary in one context and secondary in others (e.g. tax identification, social security numbers). In the case of d

[2018-12-12 21:54] agbeltran commented on #502
@smrgeoinfo I was checking your comment, and it seems that your fork of the project has moved? Thanks

[2018-12-12 22:27] agbeltran opened #621 "Text corresponding to dct:conformsTo for dcat:Distribution should be specific"
In the current ED, when describing each of the classes, we are usually listing explicitly only the properties not inherited from the superclass. For example, for [Dataset](https://w3c.github.io/dxwg/dcat/#Class:Dataset) we explicitly list under that section the properties defined only for Dataset:  distribution, frequency, spatial/geographic coverage, temporal coverage, was generated by

The only

[2018-12-12 22:47] agbeltran commented on #502
Changes to the text implemented in #622

[2018-12-13 10:03] #502 closed, assigned to agbeltran

[2018-12-13 10:35] davebrowning commented on #71
This issue remains active, since there are a number of things we could do with either the [project ontology](https://dr-shorthair.github.io/ont/project/) or in providing additional examples that perhaps go beyond the common meaning of the word project.  This would all be valueable but requires resource which won't be available in 3PWD timescales, so removing from this milestone and 'parking' it in

[2018-12-13 10:49] davebrowning commented on #543
We should also add a "Participate" section as done for the other DXWG deliverables

[2018-12-13 12:54] davebrowning commented on #543
In the interests of fairness, I think it would be good to have some rule of thumb for who we call out in the contributors section.  I'm interested in feedback (or prior art/examples) for what this rule of thumb would be.  I've looked at a few of the published specs but its hard to see a common pattern - indeed comparatively few use the "Contributors" field, and where it is used the list is usually

[2018-12-13 14:21] riccardoAlbertoni commented on #543
Let me mention some recent examples of spec having contributors
[Prov-O](https://www.w3.org/TR/prov-o), [SDW Best Practices](https://www.w3.org/TR/sdw-bp/), [DWBP- Best Practices](https://www.w3.org/TR/dwbp/), [DWBP- Data Quality Vocabulary](https://www.w3.org/TR/vocab-dqv/).

I think to decide a sharp contribution threshold is difficult, and anyway, it should be weighted on the total amount of ef

[2018-12-13 15:05] davebrowning commented on #545
On investigation (and playing around with respec as well as reading the documentation) it only makes sense to do this once we've reached REQ (or perhaps PER).  The relevant hook will be added to config.js, but commented out.

[2018-12-13 15:11] davebrowning commented on #543
(Now commenting on the correct thread...doh)

Thanks @riccardoAlbertoni, that's very helpful. I'll ask the question about WG membership as a pre-req for being mentioned. [Though in my quick survey I did see some examples where the contributors were not on the membership list..... but best to be sure.]

[2018-12-13 15:26] davebrowning commented on #67
While there one or two minor edits still to be done on the PR #614, there appears to be consensus around the following conclusion:

"The group has agreed that distinguishing between primary, secondary (alternative) identifiers it is very much application-specific and should be better addressed in application profiles rather than being mandate a general approach."

Flagging this as "due for closing

[2018-12-13 15:55] davebrowning commented on #58
As per the discussion at the DCAT weekly meeting [here](https://www.w3.org/2018/12/12-dxwgdcat-minutes#x07),  the examples incorporated in the draft [here](https://w3c.github.io/dxwg/dcat/#quality-information) provide some guidance and discussion and have been publicly available in the working draft since October.  There is however a potential need for more examples/guidance work to be done, which

[2018-12-13 22:04] andrea-perego commented on #58
Thanks for the great work, @riccardoAlbertoni !

I would however suggest a revision to the examples concerning INSPIRE. In INSPIRE, the levels of conformance are only 3: conformant, not conformant, not evaluated. Some of the examples go further by showing how to express "how much" (e.g., in percentage) a resource is conformant with INSPIRE.

This may lead to misunderstandings and confusion. I stro

[2018-12-14 06:57] dr-shorthair commented on #621
1. I don't quite understand what you are saying here @agbeltran - `dcat:Distribution` has no super-classes, so there are no inherited properties.

2. OTOH - I recently spotted that – following UML – the two _diagrams_ fail to show the inherited _associations_, only showing inherited class _attributes_. I could probably add all the associations in as attributes as well, so that the class boxes show

[2018-12-14 08:23] larsgsvensson commented on #543
In the SDW WG, the editors of [SDW BP](https://www.w3.org/TR/sdw-bp/) ran the policy that everyone who had made a PR against the document was listed as a contributor.

[2018-12-14 15:28] riccardoAlbertoni commented on #58
Thanks for your comment @andrea-perego

I like your proposal of referring to FAIR Principles and I am willing to contribute to actuate your proposal.

Are you planning to switch all the examples?
Do you want to refer to the [FairMetrics Metrics](https://github.com/FAIRMetrics/Metrics) or what?

[2018-12-15 20:08] nicholascar commented on #478
Questions from https://w3ctag.github.io/security-questionnaire/ with answers:

**4.1 What information might this feature expose to Web sites or other parties, and for what purposes is that exposure necessary?**
Guidance document - no code/system exposing anything directly.

**4.2 Is this specification exposing the minimum amount of information necessary to power the feature?**
N/A

**4.3 How does

[2018-12-16 09:47] agbeltran commented on #621
You are right @dr-shorthair - I was checking the list of properties and thought that dcat:Distribution was inheriting some of them. I will change the purpose of this issue to specialise the text of dct:conformsTo in the dcat:Distribution section.

[2018-12-16 16:39] aisaac commented on #266
Just a note to clarify that my emphasis on the fact that there should be a focus on possible relations comes from my reading of the [Google doc](https://docs.google.com/document/d/13hV2tJ6Kg2Hfe7e1BowY5QfCIweH9GxSCFQV1aWtOPg/) of our discussions

[2018-12-16 16:41] aisaac commented on #222
Just a note: as of today, our [Google doc](https://docs.google.com/document/d/13hV2tJ6Kg2Hfe7e1BowY5QfCIweH9GxSCFQV1aWtOPg/) for group discussion still lists this requirement as undecided

[2018-12-16 16:42] aisaac commented on #264
Just a note: as of today, our [Google doc](https://docs.google.com/document/d/13hV2tJ6Kg2Hfe7e1BowY5QfCIweH9GxSCFQV1aWtOPg/) for group discussion still lists this requirement as undecided

[2018-12-16 16:53] aisaac commented on #478
Thanks, @nicholascar !
In the light of this, do we really need to update the privacy/security section, other than to say we cannot identify specific risks in the guidance that the document provides?

[2018-12-16 17:14] kcoyle commented on #264
The [resolutions](https://www.w3.org/2018/05/08-dxwg-minutes#ResolutionSummary) from the f2f in Lyon do not include this one. This was an action on @rob-metalinkage, which was closed but which I moved to [pending review](https://www.w3.org/2017/dxwg/track/actions/pendingreview) because I couldn't find evidence that it had been done. Perhaps he can clarify here? We seem to have lost the follow-up,

[2018-12-16 21:42] rob-metalinkage commented on #264
This is inherent in the profiles negotiation  approach - after reintroducing duplicates into the discussion we first need to check this isnt covered in a new rewording of the same requirement. If the answer for that is no then we need to accept this, as profneg makes no sense without it.

[2018-12-16 22:15] agbeltran commented on #53
Marking this issue as 'due for closing' given PR https://github.com/w3c/dxwg/pull/614

[2018-12-18 08:11] dret opened #629 "add RFC 6906 to profiles ontology"
in the newly published profiles ontology, it would be useful to reference RFC 6906 and to point out the differences. RFC 6906 has been around for a while and is in active use on the internet to indicate the presence of profiles.

[2018-12-18 10:12] nicholascar commented on #629
This is more a matter for the [Content Negotiation by Profile](https://www.w3.org/TR/2018/WD-dx-prof-conneg-20181218/) which deals with "how Internet clients may negotiate for content provided by servers" than it is for the [Profiles Ontology](https://www.w3.org/TR/dx-prof/) which "is an RDF vocabulary to describe profiles", although all doc references, or lack of, merit investigation.

For refere

[2018-12-18 12:59] dret commented on #629
On 2018-12-18 11:12, Nicholas Car wrote:

is it? my comment was about referencing the fact that there are defined
semantics for indicating profiles on the internet and the web, and that
referencing those would be helpful.

i am aware that RDF has technical issues with simply using existing link
relations, but at least indicating that an RDF model is duplicating
existing functionality would be good

[2018-12-18 14:49] aisaac commented on #629
I guess I agree with @nicholascar . It's not that the Profiles Ontology shouldn't be concerned. But it is rather a priority for the Conneg spec, which is more obviously in need to distinguish itself from RFC6906.
Then the way the matter is handled within the scope of the Conneg spec can be reflected in the Profile ontology. But that would be a second step.

[2018-12-18 15:45] davebrowning commented on #58
Since we have a holiday coming up, I'll move this back into Third Public Dradft milestone, so we don't forget to make the changes suggested by @andrea-perego

[2018-12-18 20:48] rob-metalinkage commented on #629
I tend to agree with @dret - I did in fact look at this when looking at the group's charter - and more recently at the description of profile in the IANA registry.

It didnt emerge as a motivating Use Case - however I thinks its probably reasonable we acknowledge it as a requirement that our further refinement of the notion of profiles is compatible with this - which I believe it is.

I see @nicho

[2018-12-19 08:30] dret opened #632 "RFC 5988 is obsoleted by RFC 8288"
references to RFC 5988 refer to an obsolete spec. references now should be made to RFC 8288.

[2018-12-19 08:32] dret commented on #501
+1 to @azaroth42: the WD as just published seems to assume that there is a registry of target attributes. there is no such thing. RFC 5988 just was updated (see #632), and there still is no `profile` target attribute or a registry for all target attributes, but there is a section on how to define new ones: https://tools.ietf.org/html/rfc8288#section-2.2

[2018-12-19 08:34] dret commented on #629
now that the conneg WD was published, i see the point. i think both documents should take existing standards into account, but that indeed may be more relevant for the conneg spec that specifically talks about links and HTTP and link header fields.

[2018-12-19 13:36] kcoyle commented on #275
I have suggested this wording in the [profiles guidance document](https://w3c.github.io/dxwg/profiles/). It may need to be expanded:

2.1 Profiles are named collections of properties

Profiles SHOULD be made up of a collection of properties or terms, and that collection SHOULD have a name. Properties are selected from existing vocabularies. Because profiles as being described here are not limited

[2018-12-19 14:49] davebrowning commented on #81
Now that we have introduced `dcat:DataService`, does the above requirement apply to those catalogued resources as well?  In particular,  we have specific properties tying `dcat:Dataset` to `dcat:Distribution` to `dcat:DataDistributionService` (`dcat:accessService`) and back to `dcat:Dataset` (`dcat:servesDataset`) but this kind of general requirement seems to suggest an additional/parallel mechani

[2018-12-19 21:42] agbeltran commented on #248
My view with this issue is that given the new section about 'License and rights statements' that was added to the ED, now we need to add the recommended properties to the relevant classes and then we can close this issue.

[2018-12-19 22:10] aisaac commented on #275
I agree with the general idea of the proposal, but I would nitpick over two words:
- "properties" seem too narrow even in the RDF context. A profile can be made of classes, too. We could perhaps have both "properties or classes", or just "data terms" or maybe "data elements"
- following @agreiner 's earlier comment, we should try to employ "data" instead of "metadata". Perhaps "(meta)data" would b

[2018-12-19 23:20] kcoyle commented on #275
I very much agree about "properties" and am struggling to find a better word or phrase:

- vocabulary terms (which could include classes)
- data elements (rather old-fashioned but could also include classes)
- data terms (Singapore framework uses "metadata terms" - "data terms" sounds odd to me)
- elements from selected vocabularies or ontologies - longer, but also doesn't address whether one can

[2018-12-19 23:38] agbeltran commented on #53
Closing after merging #614

[2018-12-19 23:38] #53 closed, assigned to makxdekkers, andrea-perego

[2018-12-19 23:39] agbeltran commented on #68
Closing after merging #614

[2018-12-19 23:39] #68 closed, assigned to nobody

[2018-12-20 14:27] riccardoAlbertoni opened #633 "Deleting closed issues from the DCAT document"
I have noticed some closed issues are still included in the DCAT document, though they have been closed. (i.e., #68, #53, #431, #114, #128)

shall we remove them?

[2018-12-20 14:55] davebrowning commented on #633
Good idea.  But we need to be check that they are recorded in [Appendix E](https://w3c.github.io/dxwg/dcat/#changes) appropriately.  So I'd expect #68 and #53 to be noted in Appendix E since they are differences to the 2014 spec driven by requirements.  #431 is an issue in one of our WDs so references to it can just be deleted now it has been resolved.  #114 looks a bit more complicated (reading o

[2018-12-20 15:06] riccardoAlbertoni commented on #633
I am going  to prepare a new pull for
- deleting  #431

and completing the existing pull
- adding  #68 and #53 in appendix E,

I leave for a more informed contributor the #114 ;)

[2018-12-20 15:55] riccardoAlbertoni commented on #633
@davebrowning:
as far as I am concerned the pulls #634 and #635 tidy up the closed issues #431, #68, #53  and can be merged.
Cheers

[2018-12-21 02:24] dr-shorthair opened #638 "Are the main prof: classes association-classes?"
I had another go at testing the profiles ontology - this time for PAV as a profile of PROV-O.

Initially, I just followed the patterns of the other ones in the current examples graph, which used the actual URI's for the dependencies - see  [PAV example](https://github.com/w3c/dxwg/blob/9e1c96c3772fa0803315dbeb26af7d93e8bb0278/profilesont/examples/profilesont_examples.ttl#L198) which follows the [D

[2018-12-21 02:30] #362 closed, assigned to nobody

[2018-12-21 08:49] davebrowning commented on #633
Thanks @riccardoAlbertoni - that's great, both merged.  Suggest we leave this open till we have a chance to look at #114

[2019-01-07 23:13] andrea-perego opened #640 "Domain of dcat:hadRole"
@dr-shorthair , I see that the domain of [`dcat:hadRole`](https://w3c.github.io/dxwg/dcat/#Property:hadRole) is `prov:Influence`, although in the examples we have it is always related to the "influence of an agent" (which should correspond to `prov:AgentInfluence`).

I guess this is meant to complement what not covered by `prov:hadRole` (https://github.com/w3c/dxwg/issues/79#issuecomment-392211132

[2019-01-07 23:29] andrea-perego commented on #638
@dr-shorthair said:

I have the same concern, and there was a short discussion on this topic during the last F2F.

IMO, the role is not intrinsic to the resource descriptor itself, but it is rather an "attribute" of the relationship between the resource descriptor and a profile.

Personally, I see more appropriate to model roles as relationships between resource descriptors and profiles.

[2019-01-07 23:49] andrea-perego opened #641 "Remove prof:BaseSpecification"
This issue has been already raised in https://github.com/w3c/dxwg/issues/404#issuecomment-438253648 , and partially discussed while preparing the ESWC paper.

The [definition](https://w3c.github.io/dxwg/profilesont/#Class:BaseSpecification) of this class is as follows:

IMO, this is an abstract scenario (is there any spec not using somehow another one?). And it is also said in the usage note:

Mor

[2019-01-08 15:22] nicholascar commented on #641
There may be use in having a Base Spec class for *relative* base-ness. I know this seems counter intuitive at first but:

From the point of view of DCAT-AP, DCAT may indeed be it's Base Spec. DCAT-AP may wish you to know about DCAT but not really about DC, OWL etc.

[2019-01-08 16:45] smrgeoinfo commented on #529
see related discussion #638.
From a general point of view, a profile is just another kind of related resource, and profile could be modeled as a role for the related resource.

[2019-01-08 17:13] kcoyle commented on #641
What is the functional use case for base specification? What does it tell you that you need to know and cannot know from the profile itself? Is the need for machines or for human users?

If there is no defined action that results from base specification then I agree with @andrea-perego that we should drop it. However, I also note that there are no properties in the ontology for descriptions, docum

[2019-01-08 21:28] nicholascar commented on #265
I think this is more a Profile Guidance issue than it is a Profile Conneg one. At the conneg level, there's no distinction (for clients and servers) between data & metadata profiling but there certainly is/will be in Guidance.

[2019-01-08 22:17] andrea-perego commented on #453
@nicholascar , I also was unsure about the purpose of `prof:token`, when profiles are supposed to have URIs. Now I better understand the point.

However, it is still unclear to me how this token will be defined: will it be a global identifier (and, in such a case, how this can be ensured?), or it will be rather specific to the service / API? In the latter case, I don't see how the token can be ass

[2019-01-08 22:34] andrea-perego commented on #579
@nicholascar , I think https://github.com/w3c/dxwg/pull/590 closes this issue.

[2019-01-08 22:40] agreiner commented on #453
A URI can be used in a query string by urlencoding or something like base64 encoding. Maybe that's all one would need for a token.

[2019-01-08 22:43] andrea-perego commented on #641
@nicholascar said:

We already have `dct:Standard` in PROF: cannot we use it for that purpose?

[2019-01-08 22:59] andrea-perego commented on #453
@agreiner said:

+1

[2019-01-08 23:07] rob-metalinkage commented on #453
A lot of existing systems have a compatible concept of profiles using a "server scoped" profile token - eg one of the W3C publishing process helper services takes an argument  profile=FPWD  which determines how it renders the content...

So the token allows us to retrofit URI identifiers to either locally or globally scoped profile identification tokens and generate a canonical metadata graph for

[2019-01-08 23:48] nicholascar commented on #453
Tokens for identifying profiles are seen in use in APIs such as Epimorphic's ELDA and CSIRO's pyLDAPI, e.g.:

* OGC using a SISSVoc implementation of ELDA, 'alternates' view (profile) in use: <http://www.opengis.net/def/ogc?_view=alternates>
* Aust Gov using pyLDAPI to deliver a DCAT (rev) view of a dataset, in Turtle: <http://linked.data.gov.au/dataset/gnaf?_view=dcat&_format=text/turtle>

So in

[2019-01-08 23:56] aisaac commented on #641
I have many doubts about the class `BaseSpecification` too.
To me,  'base specification' [in the current draft](https://w3c.github.io/dxwg/profilesont/#Class:BaseSpecification) is not positing anything essential (where 'essence' is the notion from formal ontology) about the specification. Anything can be a 'base specification' as soon as it could serve as a base for a profile and it happens to not

[2019-01-09 00:14] aisaac commented on #638
This is a good discussion. Having roles as concepts/classes is not ideal. On the other hand, it's awkward to create many sub-properties of prof:hasResource and/or prof:hasArtefact. Even more importantly, it could be that roles for Resource Descriptors and their artefacts are actually 'essential' (in the sense of formal ontology). E.g., an XML schema could be said to *always* be usable for validati

[2019-01-09 00:29] aisaac opened #642 "prof:inheritedFrom needs more convincing case and/or example"
Examples are now provided for this, however this concept still appears to be unclear to some. This issue remains open pending a round of feedback based on improvements to examples and definition.

Original post here (edited above as its what appears in the doc)

As in the title...
This came to mind while writing the ESWC paper.
The property is not super-clear in https://w3c.github.io/dxwg/profiles

[2019-01-09 00:30] aisaac opened #643 "prof:isTransitiveProfileOf needs more convincing case and/or example"
As in the title...
This came to mind while writing the ESWC paper.
The property is not super-clear in https://w3c.github.io/dxwg/profilesont/ and there's no example for it.

[2019-01-09 00:37] aisaac opened #644 "Specify the semantics of prof:isTransitiveProfileOf wrt prof:isProfileOf"
(This came to mind while writing the ESWC paper)
One note at https://w3c.github.io/dxwg/profilesont/#Property:isTransitiveProfileOf says

That talk about lack of inference could be confusing. As a matter of fact if PROF is to follow the SKOS pattern for `skos:broader` and `skos:broaderTransitive`, the idea is that `prof:isTransityProfileOf` should be a transitive property and it should be a super-

[2019-01-09 00:45] agreiner commented on #453
My concern with this is that people may use the token as a unique identifier, but there is no registry to ensure uniqueness, and if we are to consider the use of whatever already existing tokens people have used for a thing they call a profile, uniqueness is already lost. Why include it in a standard then?

[2019-01-09 02:19] rob-metalinkage commented on #641
I tend to agree... it was added partly in response to some difficulties and push back within the group discussions w.r.t  understanding that a profile is a specification (standard) ..  hopefully our sense of the nature of profiles has evolved enough now we no longer need this reminder,

i might argue about role vs class - and the challenges of defining sets in an Open World being dependent on the

[2019-01-09 02:31] rob-metalinkage commented on #453
in ther case of the view alternates - its grounded in the semantics of the
IANA registry..

there wont be one uber registry - so it really is like the prefix case -
there is utility in developing some de facto standards and a registry or
catalogs can be developed

On Wed, 9 Jan 2019 at 11:45, Annette Greiner <notifications@github.com>
wrote:

[2019-01-09 02:43] nicholascar commented on #453
Because they are both already in use and are needed going forward. We exclude a series of profile access API styles if we don't include tokens (RESTful APIs) and if we don't define rules, we'll just have the wild West of implementations.

Many Semantic Web data models, predicated on URIs, have provision for alternate, local, non-authoritative identifiers, like DC, ADMS etc. This argument's just ru

[2019-01-09 02:46] nicholascar commented on #641
Happy with removal if we can do roles in place.

[2019-01-09 04:15] nicholascar commented on #398
Closing due to the allocation of namespaces and document short codes by the W3C: dx-prof, dx-prof-conneg & http://www.w3.org/ns/dx/prof/.

[2019-01-09 04:15] #398 closed, assigned to nicholascar

[2019-01-09 10:08] andrea-perego commented on #642
+1 to @aisaac . I have the same concern.

[2019-01-09 10:13] andrea-perego commented on #644
+1 to @aisaac . See also my more general concerns on this property in https://github.com/w3c/dxwg/issues/643#issuecomment-452643079

[2019-01-09 12:55] andrea-perego commented on #641
@aisaac said:

+1. This was also the sense of my note on `dct:Standard` in https://github.com/w3c/dxwg/issues/641#issuecomment-452478768

[2019-01-09 12:59] andrea-perego commented on #641
@nicholascar said:

Can you provide an example of this, @nicholascar ? Personally, I don't think we need a role, but stick to what proposed by @aisaac earlier (a base specification is a `dct:Standad` which is not the subject of a `prof:isProfileOf` statement).

[2019-01-09 13:16] andrea-perego commented on #453
@nicholascar , @rob-metalinkage , I still don't understand how tokens of this type (i.e., namespace prefixes), can be used as global identifiers, and not as something that is relative to the service / API.

I can buy a usage scenario where (a) I ask a service to list the available profiles, (b) I get the list of URIs and corresponding tokens/prefixes, and (c) I make a query using the token mapping

[2019-01-09 13:37] andrea-perego commented on #638
@aisaac wrote:

I remember that this was one of the points raised during the F2F. However, I'm not sure how safe would this solution be. E.g., I think who has been playing with XML for some time, stumbled upon XML Schema's that couldn't be used for validation, and so this task was carried out via another method (e.g., Relax NG). Supposing to apply this use case to a profile, we have a resource des

[2019-01-09 16:07] kcoyle commented on #265
@nicholascar I read this as the basic use case for content negotiation - negotiate (via http) based on profile, and I assumed that "data formats" = mime types.

[2019-01-09 16:48] kcoyle commented on #642
I also have the concern that the concept of "inheritance" here isn't clear. What is inherited, and what are the implications of that inheritance? Does inheritance mean that the constraints are not also included in the profile being defined but must be included from the "inheritedFrom" resource? This is made more difficult by the fact that the definition of "resource descriptor" is not very clear s

[2019-01-09 16:57] kcoyle commented on #453
APIs are a private case of negotiation; conneg is defining a public case. I agree with @agreiner and @andrea-perego that using anything but an actual URI as an identifier in "web space" is going to break "web things".

[2019-01-09 18:36] agbeltran commented on #63
When considering linking datasets and publications or other references, the [HCLS Dataset Description community profile](https://www.w3.org/TR/hcls-dataset/) recommends:
- ```dct:references``` for web pages and documents
- ```cito:citesAsAuthority``` to include publications about the dataset
- ```rdfs:seeAlso``` for other references

[2019-01-09 20:09] rob-metalinkage commented on #642
constraints from a profiled specification must be implemented by the profile. This is a transitive inheritance - so please come up with a new word and evidence of its use in the wild, or propose some better wording.

from wiki.. "In most class-based object-oriented languages, an object created through inheritance (a "child object") acquires all the properties and behaviors of the parent object (ex

[2019-01-09 20:16] rob-metalinkage commented on #644
proposed action: declare prof:isProfile as a subproperty of prof:isTransitiveProfileOf

[2019-01-09 20:23] agbeltran commented on #63
For [DATS](https://github.com/datatagsuite), we found the requirement to make the distinction between primary publications (one or more publications that describe how the dataset was produced) and other references or citations (publications that refer / cite or use the dataset):

https://github.com/datatagsuite/schema/blob/29134fd4aa16f7e76b6b9e20238c7b4de82b8518/dataset_schema.json#L112

For anno

[2019-01-09 20:31] dr-shorthair commented on #638
Just to be clear, this issue is about which of these implementation patterns makes the most sense:

1. denote the resource description with the URI of the artefact:
[code]
2.  GIve the resource description its own URI, and provide a link to the actual artefact:
[code]
Under pattern 1. the role is intrinsic to the resource.
Under pattern 2. the role is attached to the association.

[2019-01-09 20:40] #621 closed, assigned to agbeltran

[2019-01-09 20:50] dr-shorthair commented on #640
I'm also anticipating the need to assign roles to dataset-dataset relations, and don't want to have to create yetanother predicate for that case.
I started the work here: https://github.com/w3c/dxwg/pull/613

Dataset-dataset relations are not attributions or generations, but something else,
I think `Influence` is the most general case from the PROV-O ontology, though maybe it is still too restrict

[2019-01-09 22:05] agbeltran commented on #248
Additions related to this issue:  given the guidance in the [License and rights statements](https://rawgit.com/w3c/dxwg/dcat-issue633-issue114-daveb/dcat/index.html#license-rights), make sure that ```dct:license```, ```dct:accessRights``` and ```dct:rights``` and ```odrl:hasPolicy```explicitly to the list of properties in dcat:Resource and dcat:Distribution with corresponding requirement level.

[2019-01-09 22:18] dr-shorthair commented on #64
Questions on the public list from Clemens Portele [1] and Luca Trani [2] both raise (in part) the question of DCAT scope. The addition of the `dcat:Resource` superclass provides a extension point for further types to be added to a catalogue following the DCAT catalogue pattern. However, the DCAT vocabulary will be limited to the two sub-classes `dcat:Dataset` and `dcat:DataService`. Further specia

[2019-01-09 22:18] agbeltran opened #648 "Hydra example for DCAT documentation/primer"
To record the possible examples for the DCAT vocabulary documentation, there have been discussions about providing an example related to the [Hydra vocabulary](https://www.hydra-cg.com/spec/latest/core/) for Hypermedia-Driven Web APIs (unofficial draft).

An example was presented in the public comment's list: https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Dec/0000.html

The creation

[2019-01-09 22:23] smrgeoinfo commented on #64
If one modeled a new sub class of dcat:Resource to catalog software, reusing dcat: classes and properties as appropriate, wouldn't that be an extension, not a profile?

[2019-01-09 22:27] andrea-perego commented on #58
@riccardoAlbertoni wrote:

Thanks, @riccardoAlbertoni . Happy to work this out together!

I was thinking to revise just the examples expressing conformance not compliant with INSPIRE.

Good idea to use FAIRmetrics. And it would be nice to have URIs for each of the principles / metrics.

@agbeltran , do you have any suggestion?

[2019-01-09 23:24] andrea-perego commented on #58
@riccardoAlbertoni , what about if we add also examples using the DWBPs (and, maybe, the SDWBPs as well) ? BTW, many of the FAIR metrics can be mapped to DWBPs...

[2019-01-09 23:26] aisaac commented on #642
Note that the original issue is for an example and motivation, not questioning the notion of inheritance. In fact there's hope that such elements would help discussing the notion of inheritance, if need be. For the moment I feel we'd better wait until then.

[2019-01-09 23:29] aisaac commented on #644
+1 to @rob-metalinkage 's proposed action. I would still push for trying to remove from the notes any occurrence of the word 'inference' that could (after a first, shallow look) contradict with the goal of applying the formal semantics given to the property (ie. applying an inference engine to infer the transitive closure of the property).

[2019-01-09 23:42] aisaac commented on #453
Could it be that the side discussion on namespace prefixes abbreviations gives a hint on how to handle the case of token?
Standardizing abbreviations seems like an ill attempt because in a local context (and abbreviations are always locally (re-)declared) one may use any abbreviation for a given namespace and things would still work. However there is some value in trying to homogeneize the use of

[2019-01-09 23:48] aisaac commented on #265
I think I would second @kcoyle 's reading. In the original use case (Standard APIs for metadata profile negotiation [ID30]) the idea is that (DCAT-level) metadata about datasets can be obtained in different profiles. Which sounds like the basic motivation for negotiation by profile.

[2019-01-10 00:06] aisaac commented on #638
@andrea-perego you may be right.
Anyway now I understand @dr-shorthair 's intention, and pattern 2 (an instantiation of the n-ary relation pattern, I guess) could be a way out of the issue, indeed.

I guess my misunderstanding of the scope of the issue was because of the present tense in "Are the main prof: classes association-classes?" I don't think that in the current PROF spec these classes are

[2019-01-10 00:54] nicholascar commented on #453
@andrea-perego & @aisaac: I think I agree that local context identifiers, like in an API, don't need global representation.

@rob-metalinkage: can you indicate requirements for a profile to have a token listed globally in a PROF RDF write-up of one, thus requiring a `prof:token` as opposed to a local scope token only?

[2019-01-10 00:55] nicholascar commented on #579
Closing due to actioning of Pull https://github.com/w3c/dxwg/pull/590

[2019-01-10 00:55] #579 closed, assigned to nobody

[2019-01-10 01:08] nicholascar commented on #638
Some of the early examples I've made use Pattern 1 but others, since the addition of `prof:hasArtifact` to the ontology use the N-Ary relation Pattern 2.

I agree that from a modelling perspective, Pattern 2 is the better one as it doesn't lock the artifact into anything (properties that might, through inference or more info lead to clashes).

Unless there are objections, I'll redo all examples li

[2019-01-10 01:16] dr-shorthair commented on #530
Response to Clemens Portele
https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0000.html

[2019-01-10 01:24] nicholascar commented on #641
As it's written in the ontology, `prof:BaseSpecification` is a subclass of `prof:Profile` with a restriction on having zero `prof:isProfileOf` statements. @aisaac is saying the notion of a base spec should be emergent from queries.

Is it sensible to declare an `owl:equivalentClass` (as below) or just leave it out all together?

[code]

[2019-01-10 01:25] dr-shorthair commented on #64
The distinction between 'extension' and 'profile' is not particularly useful under the open-world-assumption. The fact that only two sub-classes of `dcat:Resource` are defined in DCAT (i.e. `dcat:Dataset` and `dcat:DataService`) does not imply that these exhaust the scope of dcat:Resource. So if additional subclasses are defined in a derived vocabulary, these do not necessary extend the absolute s

[2019-01-10 01:26] dr-shorthair commented on #638
@nicholascar if you accept https://github.com/w3c/dxwg/pull/639 you'll find I redid them already.

[2019-01-10 01:27] nicholascar commented on #638
Thankyou @dr-shorthair!

[2019-01-10 01:28] nicholascar commented on #638
Accepting proposition they are association classes and Simon has updated examples accordingly which have been merged from Pull https://github.com/w3c/dxwg/pull/639 so closing.

[2019-01-10 01:36] nicholascar commented on #265
OK, accepting the 'base case', do we need to do anything here then just yet? Do we perhaps indicate that this is a requirement on Profile Guidance and that Profile Guidance delegates the details to the Profile Conneg doc?

[2019-01-10 02:00] dr-shorthair opened #649 "Clarify scope of DCAT and potential for extensions"
A number of issues (#64 #172 #432 #530) relate to the scope of DCAT.
Public comments suggest that the extension to support data-services is either too much (https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Oct/0002.html) or not enough (https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Oct/0003.html).
The matter was discussed in the DCAT team meeting 2019-01-09 and it was [

[2019-01-10 03:23] rob-metalinkage commented on #537
Lets not reopen this - we put the DCAT-AP experience forward as an explicit Use Case and got it agreed - and it clearly shows DCAT-AP is supported by multiple resources. and it shows DCAT-AP usages illustrates both deep and multiple inheritance patterns. so lets not reopen those issues.

from now on we should focus on practical guidance on how to handle these realities in a consistent way in pract

[2019-01-10 05:56] akuckartz commented on #537
@rob-metalinkage Did you comment the wrong issue?

[2019-01-10 06:11] dr-shorthair commented on #432
@agreiner I have attempted to clean up the description of data services etc in the context of adding some more explicit text around the scope of DCAT (datasets and data services) along with potential for external extensions through further sub-classing of `dcat:Resource`. I wonder if this also resolves the concerns that you raised in this issue? Please see https://rawgit.com/w3c/dxwg/dcat-issue649

[2019-01-10 06:33] dr-shorthair commented on #64
If #650 is merged, then I think we can close this issue (woo-hoo!).

[2019-01-10 07:35] aisaac commented on #265
@nicholascar this sounds like a good approach. In general I like the idea of the Profile Guidance serving as entry points to the other Profiles documents.

[2019-01-10 08:08] dr-shorthair commented on #640
In https://github.com/w3c/dxwg/pull/651/files#diff-3536ecfed0957ecf71ed071887330f5a I propose that the domain of `dcat:hadRole` be the union of `prov:Attribution` and `dcat:Relationship`.

[2019-01-10 08:41] aisaac commented on #641
I'd prefer to leave it out altogether as you can guess, @nicholascar .

If it has to stay, then I think `owl:equivalentClass` would be better.

In fact it's nice to see that the ontology is more precise than its spec. But then again, the question is whether the precision goes in the direction we were expecting. As our original definition of profiles is, and as intuition can lead us to think in som

[2019-01-10 08:46] aisaac commented on #638
@nicholascar does the change also imply changing some parts of the text of the spec, not only examples?
It wouldn't be great if we leave some wording in, which would allude to the old pattern. We may end up in a situation like the one for prof:BaseSpecification, where there might have been a concept drift and there are still parts of the documentation that are not-so-precise about it.
NB: in the e

[2019-01-10 08:56] aisaac commented on #537
This issue is being discussed at https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jan/0047.html too.

[2019-01-10 08:58] aisaac commented on #537
From @kcoyle:
I don't know whether we want to re-open this, but I see a disconnect
between our current definition of profile and the graph structure for
profiles provided by the profiles ontology. Our definition was written
before we considered the profiles ontology as describing profiles, and
my impression is that we were considering "profile" to be a single
resource like DCAT-AP. Should we lean

[2019-01-10 08:58] aisaac commented on #537
From @aisaac:

@kcoyle Good questions.
As I'm a bit hesitant to re-open the discussion on definition. Maybe the current one can be understood in a way that alleviates your doubts?
(and that's perhaps a part of my action on aligning the view on this ;-) )

On the cardinality aspect, the fact that a profile is a named set (singular) of constraints doesn't rule out that there can be several expressio

[2019-01-10 14:37] davebrowning commented on #633
#114 now addressed by #645, and merged

[2019-01-10 14:37] #633 closed, assigned to davebrowning

[2019-01-10 16:32] kcoyle commented on #642
@rob-metalinkage The issue that I raised is that it isn't clear what happens when:

ontologyA has properties A, B, C, D and class X
profileB includes properties A, D
profileB "prof:inherits" ontologyA (not clear what this would mean)

Does profile B also inherit ontologyA B, C?

Because classes in RDF do not define properties or constraints, there is no inheritance of properties through the re-use

[2019-01-10 16:47] kcoyle commented on #537
@aisaac Since the guidance document is essentially a kind of "best practices" I think that we can suggest some best practices that could be implemented using the PROF ontology. Actually, I think that is indeed the role of the guidance document - not to say "anything goes, here's an ontology" but to talk about what is needed for a good "profile experience". Since this is just a document, some other

[2019-01-10 17:12] riccardoAlbertoni commented on #58
I have just uploaded a new branch [ChangingConformanceExamplesToDWBP-riccardo ](https://github.com/w3c/dxwg/tree/dcat-issue58-ChangingConformanceExamplesToDWBP-riccardo) in which I turned the examples about the degree of conformance.

 I used the DWBP instead of INSPIRE.
 @andrea-perego Could you take a look?  It is a quick tweak as reading your previous comments I perceived that there was an urge

[2019-01-10 17:13] aisaac commented on #642
@kcoyle @rob-metalinkage can this discussion go elsewhere? My issue was a simple editorial one, chances are that when it's resolved by merely added some text, we would forget about the discussion...

[2019-01-10 17:26] aisaac commented on #537
@kcoyle I doubt that any existing technology like SHACL and ShEx can enforce a 'guidance' resource to fully meet what we expect in our profile definition, because these are just different levels. It would be a bit like assuming that a software testing suite can validate that an application meets its user requirements (acceptance tests), while this suite can only do low-level stuff such as unit tes

[2019-01-10 17:40] kcoyle commented on #642
@aisaac We can move this, but depending on our conclusion we may not even need prof:inheritedFrom.

No, scratch the above, sorry. I think this gets to the meaning of inheritance, which is necessary for a convincing case or example. Without a clear definition we can't have a convincing case. So I think we need to go into some detail about what is a convincing case beyond "A inherits B" - what does

[2019-01-10 17:55] aisaac commented on #642
@kcoyle it's just that I feel we need the example to better understand and decide - at least I need the example to make my own mind. Which means that the issue can be closed before we make a decision (as the issue is only about requesting some text including examples).

[2019-01-10 19:14] kcoyle commented on #642
Yes, we do need an example. And the example needs to be clear enough that we know what is meant by inheritance. That's what I'm asking for - one that clarifies the use case and meaning.

[2019-01-10 21:45] andrea-perego commented on #58
Thanks, @riccardoAlbertoni . Just checked, and a big +1 from me.

If I may, I would just propose some editorial changes via a separate PR. One of those I would like to propose (but this applies to the whole DCAT spec) is to make all the code snippets as numbered examples, so that they can be linked to. I'll take care of that with a separate issue / PR.

About FAIR metrics, I also saw that. IMO, it

[2019-01-10 23:39] andrea-perego commented on #58
@riccardoAlbertoni , I've just created the relevant PR: https://github.com/w3c/dxwg/pull/652

Please check if you're happy with it.

Thanks!

[2019-01-10 23:50] andrea-perego commented on #641
I agree with @aisaac .

[2019-01-11 01:26] nicholascar commented on #641
Ok, I’ll put in a PR for @rob-metalinkage to review that removes the class.

[2019-01-11 03:35] dr-shorthair commented on #79
Now also for general resource relations - see #651

[2019-01-11 03:36] dr-shorthair commented on #80
See axiomatization of some of the relations here: https://github.com/w3c/dxwg/blob/dcat-issue79-simon/dcat/rdf/dcat-prov.ttl#L63

[2019-01-11 03:37] dr-shorthair commented on #81
General approach to relations in #651

[2019-01-11 09:59] aisaac commented on #275
From @agreiner in email on 20-12-2018:

[2019-01-11 10:21] aisaac commented on #275
@kcoyle before I make a proposal about the wording itself, a bit of clarification about metadata vs data is perhaps needed, indeed. Or more precisely about 'data terms (or elements)' vs 'metadata terms (or elements)', because I feel that this is the problem (since I guess we both agree on what metadata and data are, and that metadata can be seen as a kind of data).

I call 'data terms (or elements

[2019-01-11 11:14] aisaac commented on #58
Hi it's a bit of a late review, but I finally could have a quick look at it. It's overall very good, a great answer to requirements. I've made some editorial suggestions.
I've not reviewed all yet but I'd have already some questions about the patterns for tests, to @riccardoAlbertoni and @andrea-perego
- does PROV need such a complex pattern to represent test results , i.e. with the prov:qualified

[2019-01-11 16:56] kcoyle commented on #275
@aisaac "there can be DCAT profiles for data catalogues (which is metadata) and profiles for the statistical data that is in a dataset." I totally agree on the separation between descriptive data (metadata) and instance data, and that profiles can consist of element sets for either type.

Profiles are sets of elements intended to define data. Those elements have names (e.g. dct:title). The named e

[2019-01-11 17:28] kcoyle commented on #638
I believe that @andrea-perego  was suggesting that another option is:

<https://practicalprovenance.wordpress.com/2016/05/07/tracking-versions-with-pav/>
 prof:isGuidance <http://example.com/profile-it-is-guidance-to> .

0r

<http://example.com/profile>
    rdf:type prof:Profile ;
    prof:hasGuidance <https://practicalprovenance.wordpress.com/2016/05/07/tracking-versions-with-pav/> ;
    prof:has

[2019-01-11 21:23] andrea-perego commented on #58
@aisaac wrote:

The example is taken from [UC16](https://www.w3.org/TR/dcat-ucr/#ID16), which reflects how this is done in GeoDCAT-AP - see:

https://semiceu.github.io/GeoDCAT-AP/drafts/latest/#conformity-and-data-quality---not-in-iso19115-core

This pattern is indeed complex, but this is what the PROV WG suggested - see email thread starting here:

https://lists.w3.org/Archives/Public/public-prov

[2019-01-11 21:36] andrea-perego commented on #638
Thanks, @kcoyle . This is actually the pattern I was suggesting to consider.

My main point was about considering PROF roles as relationship, so I'm definitely in favour of the association class approach proposed by @dr-shorthair compared with the original one. However, I wonder whether a less complex pattern, using just a binary relationship, could do the same job in a simpler way.

[2019-01-11 22:25] riccardoAlbertoni commented on #58
Thanks @andrea-perego  and @aisaac  for the feedback and the contributions they are now merged in  #654

@aisaac wrote:

I have corrected the instance names, now they should stick to the convention.

[2019-01-12 02:00] agreiner commented on #432
Thanks, @dr-shorthair for giving that a go.
I still think it is difficult to understand the relationship between DataService and DataDistributionService as it is described there in the definitions. Maybe the problem is that we don't come out and say there that a DataDistributionService is a type of DataService, which leaves the reader initially trying to differentiate them since they sound similar

[2019-01-12 03:59] kcoyle commented on #432
The definition of DataService says "represents a description of a data service in a catalog. A data service is a collection of operations, accessible through an interface (API)"

Would access through a GUI be included in the use of API here?  I don't see a mention of access via browsers but that has been discussed in the past. Perhaps that is dealt with elsewhere?

[2019-01-12 15:48] andrea-perego commented on #432
@agreiner , just to be sure, your proposal would then be to keep just dcat:DataService and drop dcat:DataDistributionService?

On a different note:

There's also the use case of using a discovery service (as an OAI-PMH or CSW endpoint, or the CKAN API) for metadata harvesting and for other machine-to-machine operations.

About services vs APIs, personally, I find it difficult to tell them apart.

[2019-01-12 16:31] #649 closed, assigned to dr-shorthair

[2019-01-12 20:12] andrea-perego opened #655 "Range of dcat:endpointURL"
Ref: https://w3c.github.io/dxwg/dcat/#Property:dataservice_endpointurl

The current ED says the range is `xsd:anyURI`.

I guess it should instead be `rdfs:Resource`, as it is for `dcat:accessURL` and  `dcat:downloadURL`.

[2019-01-12 20:52] jakubklimek commented on #655
I think https://github.com/w3c/dxwg/issues/249 deals with the same thing?

[2019-01-12 21:28] pwin commented on #655
Is this because we want to be able to add other metadata to endpoints?  At some point we need something that can be validated to a  dereferenceable URI don't we, rather than to a URI that could represent a 'thing'?

[2019-01-13 08:41] dr-shorthair commented on #432
@agreiner wrote

Right. Figure 1 shows that `DiscoveryService` is a subclass of `DataDistributionService` which is a subclass of `DataService`, but this was not clear in the accompanying text. I've attempted to remedy that now - see https://rawgit.com/w3c/dxwg/dcat-issue432-simon/dcat/index.html#dcat-scope

There is a little more to it. There is an existential qualifier at line 302 in the RDF repr

[2019-01-13 08:51] dr-shorthair commented on #432
Renamed branch to dcat-issue432-simon and edited the links in the previous comment.
Please follow revised links from GitHub rather than the email alert.

[2019-01-13 14:21] aisaac commented on #275
I like very much your proposal @kcoyle . Indeed it's hard and the progress looks minor, but I believe this word- and concept-smithing is precious.

I would suggest to adapt your suggestion to an even more "requirement-focused" approach (as @jpullmann suggested earlier) by having a should/must for the first part of the requirement too. And keep classes and properties as example, in order to make th

[2019-01-13 14:28] aisaac commented on #638
@kcoyle @andrea-perego fair point. I would say I still prefer @dr-shorthair 's solution *at this point* because it seems more flexible. But when we see how many roles we have and how much (or little) they're likely to extend in the future, I wouldn't object to the binary relationship option. Maybe we can keep it as a note for a future WD?

(and yes @kcoyle I'm not looking at the what the extension

[2019-01-13 20:04] kcoyle commented on #275
Great, @aisaac. I say let's go with your re-write and we'll see if anything that follows in the document causes us to re-think it.

[2019-01-13 21:42] aisaac commented on #58
@andrea-perego ok I get it. I guess I'm frustrated by the fact that `QualifiedAssociation` is useful especially for roles of agents (in a typical role or even n-ary relationship pattern) and this is a bit missing here.
The alternative that I saw was that the plan (conformance test) could just as well been attached to the testing activity (i.e. one could have expressed that `a:conformanceTest` guid

[2019-01-13 22:24] rob-metalinkage commented on #275
I dont feel very comfortable with this rewrite yet..

"Profiles must be made up sets of elements, such as classes and properties, that define instance data or metadata. Profiles must have an unique identifier or name"

is confusing data and metadata (of course) but i dont think we want to join the list of failed attempts to distinguish these (failed as in we dont have an obvious consensus yet!)

s

[2019-01-14 00:18] kcoyle commented on #275
I could go for "statements about data elements" - now we need to fit that into the rest. The trick here is :

statements
  about data elements
    that

I'm not sure whether "that" refers to the statements or the data elements or "statements about data elements". Does anyone have a better grasp of grammar rules for this?

[2019-01-14 00:44] rob-metalinkage commented on #275
i think both the data elements and the statements about the data elements define aspects of the data instances (but probably not a full definition either - for example if we say an author identifier must be an ORCID id, there is a lot of external context defining what an ORCID id is that would never be replication within a profile that requires it.

so maybe "that" =  "where the data element defin

[2019-01-14 08:32] larsgsvensson commented on #275
If it doesn't have to be one sentence, we could write "Profiles are made up sets of statements about data elements, such as classes and properties. Those statements define instance data or metadata. Profiles must have an unique identifier or name"
And I'm against saying that "profiles must be made up sets of elements". We write a definition of what a profile is which means that if something is a s

[2019-01-14 10:41] aisaac commented on #275
I'm a bit confused about this exchange. To me the point about metadata in the last wording was about saying that the data created according to profiles can happen to be metadata for other data (just as there are profiles for the metadata in data catalogues). I didn't want to stress that statements in a profile are metadata (even though, yes, they are). I.e I wanted to raise the possibility of prof

[2019-01-14 16:52] larsgsvensson commented on #275
@aisaac Perhaps it's only a matter of style how we write definitions. One way is to say "A profile MUST have A, B and C". Another way is to say "If a resource has A, B and C, then it's a profile" (kind of indirect typing). I think I'd prefer the second one and then go on "If your resource turns out to have a profile, then it MUST have those attributes, too".

And yes, that's a discussion for later

[2019-01-14 23:03] andrea-perego commented on #58
Thanks, @aisaac . No problem for me to look into an alternative approach.

Just to better understand your point, would you mind providing the same example revised according to your proposal?

[2019-01-15 00:03] agreiner commented on #432
@andrea-perego I guess I didn't mean to offer a specific solution, but to point out that what we have now has some problems from my perspective. One option I see is to remove DataDistributionService and DataDiscoveryService but keep DataService and use dct:type to differentiate the various types of services. Another option is to keep DataDistributionService as a subclass of DataService and add oth

[2019-01-15 00:26] dr-shorthair commented on #432
`DataDistributionService` is the rdfs:domain of the property `dcat:servesDataset` which binds a service to one or more specified datasets. It is also the rdfs:range of the property `dcat:accessService`. So `DataDistributionService` does have specific metadata that distinguishes it from the general `DataService`.

[2019-01-15 00:34] agreiner commented on #432
Well, yes, but only because it's been defined that way. Could a DataService of type "dataAPI" or whatnot take those properties?

[2019-01-15 02:54] dr-shorthair commented on #432
@agreiner I don't understand the problem. You asked if there was a useful distinction. I pointed out that a `DataDistributionService` is distinguished from a generic `DataService` by being bound to specified `Datasets`. Every `DataDistributionService` is a `DataService` but not vice-versa, so we can identify this subclass on the basis of all its members being tied to one or more `Datasets`. Since

[2019-01-15 04:46] nicholascar opened #658 "Update all example RDF and image files"
Dependent on all other prof-2PWD Issues being solved first

[2019-01-15 05:06] nicholascar opened #659 "Better description of application profiles, profiles in general and how they may be used"
From Irene Polikoff for the W3C SHACL CG:

[2019-01-15 05:09] nicholascar opened #660 "Clarify use of dct:conformsTo perhaps with additional properties"
From Irene Polikoff for the W3C SHACL CG:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0001.html

[2019-01-15 05:11] nicholascar opened #661 "Simplify ontology by remove inverse and transitive properties"
From Irene Polikoff for the W3C SHACL CG:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0001.html

[2019-01-15 05:16] nicholascar opened #662 "Differentiate profile parameter and Accept-Profile header"
From Gregg Kellogg via the W3C JSON-LD CG:

[2019-01-15 05:17] nicholascar opened #663 "Justify the use of opaque URIs for profiles"
From Gregg Kellogg via the W3C JSON-LD CG:

[2019-01-15 07:09] larsgsvensson commented on #662
Do we need a separate issue for this or can it all be handled in #663?

[2019-01-15 07:26] nicholascar commented on #662
Could do, let's decide that at this week's meeting! I just erred on the side of over-creating Issues so nothing from reviewers was lost.

[2019-01-15 15:30] kcoyle commented on #659
I think in our minds we've thought that the guidance document will cover this, but we should make sure that all of the documents can be read and understood separately. This also may be related to some of the points in my [email](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jan/0047.html) regarding definition of profile within the guidance document.

[2019-01-15 15:34] kcoyle commented on #661
+1 to leaving off inverses as they can be inferred from the direct form - unless, of course, we can prove that they are necessary for specific functionality.

[2019-01-15 17:29] aisaac commented on #659
@kcoyle I agree.
And your email is now included in the issue #537 which I'm hereby cross-referencing from this one...

[2019-01-15 17:29] aisaac commented on #661
+1

[2019-01-15 17:32] aisaac commented on #662
I would say this is a slightly different issue from #663 as it includes elements from the discussion we had with the JSON-LD group during the F2F in Lyon (https://www.w3.org/2018/10/26-dxwg-minutes#x06) during which we've tried to separate "mediatype-profiles" from "DXWG-profiles". (#261 )

[2019-01-15 17:39] aisaac commented on #58
@andrea-perego is it really worth it? If you've already made choices in your own specs for quite a while, I do not want to cause trouble and going back to work on established recommendations. At the moment I have not yet proved that the pattern doesn't work. It's quite complex, but that's not a crucial issue, and from your answer I see you had already taken it into account. So unless you are reall

[2019-01-15 18:32] andrea-perego commented on #58
@aisaac wrote:

+1 from me.

[2019-01-15 21:58] aisaac opened #667 "Is is possible to specify a void:rootResource in DCAT?"
From @nfreire in [this email from April](https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Apr/0001.html):

of linked data (LD) datasets.

void:rootResource. This rdf resource will contain all the URIs of a
dataset that enable it to be harvested/crawled completely.
Does DCAT contain any property similar to void:rootResource? Or is this
requirement being taken in consideration for the f

[2019-01-15 22:15] aisaac commented on #275
@larsgsvensson ok it's a matter of style indeed. Let's discuss this later :-)
I am ready to change the title but would like to hear from @rob-metalinkage (and you) whether it's ok to keep 'metadata' as in my wording. I'm fine merging the sentences and adding the 'structure' point. But I'm -1 on "sets of statements" as this ventures into other requirements (metadata about profile elements, includin

[2019-01-16 16:39] kcoyle commented on #432
Following up on this I read the sections on DDService and DService. The definition of DDService is confusing to me:

"A site or end-point for discovery, access or processing data or related resources."

Does "processing data" mean "*for the* processing *of* data"? If so, it doesn't read that way now ("processing data" could be an adjective/noun pair), so I would suggest changing it to:

A site or

[2019-01-16 20:19] agreiner commented on #275
I really don't care what we do with the title of the use case, but I do have an idea for the definition, when we get around to that: "Profiles are uniquely named sets of constraints, such as prescribed classes or properties, applied to data elements. They can be used to ensure consistency in instance data or metadata."

[2019-01-16 20:24] rob-metalinkage commented on #264
discussed in CNEG group - https://w3c.github.io/dxwg/ucr/#RPFMD covers this issue - noting its not explicit about mechanism (server or catalog source of metadata)

[2019-01-16 20:24] #264 closed, assigned to nobody

[2019-01-16 20:53] rob-metalinkage commented on #267
in UCR at https://w3c.github.io/dxwg/ucr/#RDIC

[2019-01-16 20:55] dr-shorthair commented on #432
How about these definitions -

DS - "A site or end-point providing operations related to the discovery of, access to, or processing functions on data or related resources"

DDS - "A site or end-point that provides access to distributions of datasets"

And we might also add a usage note on DDS - "A Discovery Service is a DDS that provides access to a Catalog" ... and then drop the separate Discover

[2019-01-16 20:59] rob-metalinkage commented on #379
wording as accepted in FWPD - can revisit if raised again

[2019-01-16 20:59] #379 closed, assigned to nicholascar

[2019-01-16 20:59] agbeltran commented on #432
Those definitions sound good to me. Should the note say "A *Data* Discovery Service is a DDS that provides access to a Catalog"?

[2019-01-16 21:39] riccardoAlbertoni commented on #667
This relates and perhaps duplicates issue #292

[2019-01-16 21:40] agbeltran commented on #667
Yes, I think this could be considered a duplicate.

[2019-01-16 22:08] agbeltran commented on #667
The [comment](https://github.com/w3c/dxwg/issues/81#issuecomment-400977338) referred to the point raised in https://github.com/w3c/dxwg/issues/292 , which we also discuss in today's [DCAT meeting](https://www.w3.org/2019/01/16-dxwgdcat-minutes.html). Closing this issue and we will use https://github.com/w3c/dxwg/issues/292 instead

[2019-01-16 22:08] #667 closed, assigned to nobody

[2019-01-16 22:24] aisaac commented on #667
OK, thanks!

[2019-01-16 22:41] dr-shorthair commented on #432
I've made some further clarifications in the text of the normative and introductory (scope) sections.
Following discussion towards the end of [today's DCAT telecon](https://www.w3.org/2019/01/16-dxwgdcat-minutes), the named class `DiscoveryService` has been dropped.

@agreiner and @kcoyle please read these to check if they work for you:
- https://rawgit.com/w3c/dxwg/dcat-issue432-simon/dcat/index.

[2019-01-17 01:03] kcoyle commented on #432
Thanks, @dr-shorthair - now I see what the "processing" was about and it's much clearer.

That resolves the issue of the definitions, but I think there hasn't been an answer to @agreiner 's question (which I seconded) asking if DataDistributionService couldn't be treated as a DataService with necessitating its own class. Couldn't this be one of the possible values of dcat:endpointDescription?

[2019-01-17 01:21] dr-shorthair commented on #432
@kcoyle I thought that had I addressed @agreiner concerns [here](https://github.com/w3c/dxwg/issues/432#issuecomment-454249378).

The second usage note [here](https://rawgit.com/w3c/dxwg/dcat-issue432-simon/dcat/index.html#Class:Data_Service) points out that `dct:type` can be used for typing.
And IMO DDS is an important enough sub-class that it merits its own name - see also the first usage note [

[2019-01-17 02:03] nicholascar commented on #662
Decided in today's Conneg subgroup meeting that this and https://github.com/w3c/dxwg/issues/663 are separate concerns and thus they will remain as separate Issues.

[2019-01-17 02:12] kcoyle commented on #432
I'll let @agreiner answer whether she thinks her concerns are addressed.

Yes, I saw the dct:type can be used for typing, which is why I thought that DDS could be a type (although I note that there isn't a service type vocabulary that would include it). I also asked if other services cannot be "bound to one or more specified Datasets" within a catalog. To me that sounds logical that they could be,

[2019-01-17 04:08] dr-shorthair commented on #432
The point about a DDS is that its functionality is limited to enabling download of 'existing' discrete datasets, or extracts/subsets of them. It doesn't usually do any other processing, such as re-sampling or interpolation or combination (though it is easy to imagine specializations that could). This is such a common case of DS that we thought it merited its own class on that ground alone. Would t

[2019-01-17 04:24] dr-shorthair opened #670 "'smushing'"
Respond to comment from @smrgeoinfo - https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Nov/0007.html

This text was copied from DCAT-2014:

The point is that the `foaf:homepage` is the _canonical_ webpage for a Catalog. This is implied by the fact that `foaf:homepage` [is defined (in FOAF)](http://xmlns.com/foaf/spec/#term_homepage) as an **inverse-functional-property**. The 'smushing

[2019-01-17 04:33] akuckartz commented on #670
SHOULD or MUST ?

[2019-01-17 04:57] dr-shorthair commented on #411
@smrgeoinfo a consequence of the discussion in #432, and some other editorial work, the definition of `dcat:Distribution` has been tightened up.

Please look at https://rawgit.com/w3c/dxwg/dcat-issue432-simon/dcat/index.html#dcat-scope (the dot-points above Figure 1, and also the paragraphs below the figure) and also https://rawgit.com/w3c/dxwg/dcat-issue411/dcat/#Class:Dataset and https://rawgit.

[2019-01-17 09:39] makxdekkers commented on #411
Maybe I missed the discussion about this, but the new definitions in the bullet points above the diagram in https://rawgit.com/w3c/dxwg/dcat-issue432-simon/dcat/index.html#dcat-scope now say "dcat:X represents **a description of** a X" while 2PWD had "dcat:X represents a X". I think the 'a description of' is not correct. The RDF statements about X are a description in which dcat:X represents X.

[2019-01-17 13:07] smrgeoinfo commented on #411
Yes the issue432 edits address the concerns from the list posting, thanks!

@makxdekkers, I guess the question is are the items in a catalog datasets or descriptions of datasets?

In the discussion below Figure 1 in the [issue432 branch](https://rawgit.com/w3c/dxwg/dcat-issue432-simon/dcat/index.html#dcat-scope), the paragraph after 'A data service...'  begins thus:
_Datasets and data services can

[2019-01-17 13:38] smrgeoinfo commented on #670
If the constraint is MUST, is there any way to test conformance?

I like the proposed language.

[2019-01-17 15:30] davebrowning opened #671 "Consistent use of intra-document cross references"
As per the discussion in #669, the existing draft is inconsistent in its use of links in the document - sometimes not linking, sometimes linking to the /ns/ location (ie ttl file).  We should be consistent - a proposed rule is:

Within chapter 6, the linked text in the slot next to **RDF Class:** or **RDF Property** heading in each table should point to the W3C /ns/ or to the external reference (F

[2019-01-17 16:26] kcoyle commented on #432
@dr-shorthair Thanks! Adding "existing" would be helpful, yes. It helps explain the difference between the DDS and the DS.

As for adding the cardinality constraint... As a Dublin Core "simple core" person I'm generally reluctant to bake rules into a vocabulary since it's hard to anticipate future needs. This sounds like an instruction or bit of advice that would be perfect for a primer. And if th

[2019-01-17 23:38] dr-shorthair commented on #411
I agree with @makxdekkers that in the first mention (above the diagram) I went too far - 'represents' and 'description' essentially say the same thing, so doubling up makes it all a bit too 'meta' ...

@smrgeoinfo I'm inclined to go with the second formulation - the catalog is _not_ a **repository** so it is not the things themselves that are found there, but descriptions of them. The various `xxx

[2019-01-17 23:40] smrgeoinfo commented on #411
@dr-shorthair +1 on your suggestions

[2019-01-18 00:05] dr-shorthair commented on #432
Yeah - me too on the cardinality constraints. As I pointed out above, while a reference to an 'existing' dataset might be expected, a federated service might not be able to do that so easily ...

I hope we've bottomed this out now? See #656

[2019-01-18 09:38] makxdekkers commented on #411
Same here, +1 to @dr-shorthair

[2019-01-18 16:34] larsgsvensson commented on #629
@dret Thanks for your feedback. So would it solve this issue if we added some text to [§5 Related Work](https://w3c.github.io/dxwg/conneg-by-ap/#relatedwork) of the Conneg by AP guidance document?

My proposal would be:
[[
RFC 6906 defines the "profile" relation type for Link headers (RFC 8288). The profile relation allows source representations to indicate that they are following one or more prof

[2019-01-18 17:36] kcoyle commented on #432
Can we hear from @agreiner if she's happy with the result? That would make it final, I think.

[2019-01-19 10:50] #670 closed, assigned to nobody

[2019-01-19 10:53] agbeltran commented on #670
@smrgeoinfo a reasoner will infer that if there are two subjects for the inverse functional property, they are the same and raise a conflict if that is not possible due to other axioms

[2019-01-19 16:18] andrea-perego opened #673 "Proposal for numbering examples for cross-referencing"
I would suggest we number examples in the DCAT spec, so that they can be both cross-referenced inside the spec, and linked to from external documents.

If this makes sense, I can start and give it a try. There's also a script we used in the SDW BPs that can take care of creating the cross ref text automatically (as we do for sections with class `sectionRef`):

https://github.com/w3c/sdw/blob/6f532

[2019-01-20 00:16] andrea-perego commented on #673
Proposed revision in PR #674

NB: I have not included yet the SDW BP script I mentioned above.

[2019-01-20 00:39] andrea-perego opened #675 "Comments to DCAT identifier section"
A couple of comments on the current version of the [DCAT section about identifiers](https://w3c.github.io/dxwg/dcat/#Dereferenceable-identifiers):

1. The text mentions as examples of ID schemes DOIs, ELIs, and arXiv. This are all about documents, datasets, and, in general, creative works. But in the same section it is also said that IDs can apply to any entity in DCAT (see also the relevant discu

[2019-01-20 12:58] andrea-perego opened #676 "Add examples to DCAT section on licences and rights"
Following the discussion in https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jan/0195.html

[2019-01-20 23:37] dr-shorthair commented on #675
+1 to these proposals by @andrea-perego

[2019-01-21 16:50] larsgsvensson commented on #275
@aisaac yes, the use of "metadata" is perfectly fine with me.
@agreiner I'm a bit hesitant to use "prescribed" since profiles can also define optional elements.

And looking at this definition for the umpteenth time: If we talk only about "classes and properties" it has a very RDFy touch and it feels as if we rule out the possibility to have profiles for XML documents or in other markup languages.

[2019-01-21 17:00] kcoyle commented on #275
"data elements"?

[2019-01-21 18:59] makxdekkers commented on #267
Isn't a "_distribution that support access to specific items, queries [etc.]_" in effect a service? As far as I understand it, the updated definition of `dcat:Distribution` in the latest draft seems to imply it represents a file; the definition includes "_Examples of distributions include a CSV file, a netCDF file, or a data-cube_". We added the `dcat:Service` for things that are not files, which

[2019-01-22 06:38] kamhayfung commented on #391
Just a thought. The version ID of a profile could be added to its URI for precision. If the ID is absent, the URI may refer to the latest version of the profile.

[2019-01-22 06:56] kamhayfung opened #677 "Returning Accept-Profile in HTTP OPTIONS response"
In 7.1.1.1 Example 1 (https://www.w3.org/TR/dx-prof-conneg/#listprofileshttpoptions), **Accept-Profile**, in conjunction with **Content-Profile**, should also be returned by the server where applicable. These two headers complement each other indicating what a server can receive and produce.

[2019-01-22 07:05] kamhayfung opened #678 "Inclusion of POST and PUT methods in content negotiation"
In 7.1.1.2 (https://www.w3.org/TR/dx-prof-conneg/#listprofilehttplink), a limitation of retrieving the link via the HTTP GET or HEAD method is that a client has no way to discover the profile of the content returned by other methods like POST and PUT. The only other way the client can find that out is through the HTTP OPTIONS method.

More generally, the document might need better guidance for sup

[2019-01-22 07:06] kamhayfung opened #679 "Returning profiles for QSA queries"
In 7.1.3 (https://www.w3.org/TR/dx-prof-conneg/#listprofilestokenshttp), if the QSA approach is aimed at reducing the use of HTTP headers for humans, in what shape and form (e.g. media type) would a list of profiles be returned for a QSA based query instead of using HTTP headers? Should there be a convention?

[2019-01-22 15:56] davebrowning commented on #58
Above discussion reflected and actioned in #654.

[2019-01-22 21:09] aisaac commented on #275
@larsgsvensson thanks for the feedback

@larsgsvensson @kcoyle at this stage the expression is "data elements, such as classes and properties" and I think this is the best we can get as we've discussed it many times ;-)

[2019-01-22 21:24] dr-shorthair opened #680 "Compile DCAT-rev implementation evidence"
In order to support the case for DCAT-rev on rec-track, a detailed tabulation of evidence of implementation is needed.

[2019-01-22 21:35] dr-shorthair commented on #680
See [wiki page on DCAT implementation evidence](https://github.com/w3c/dxwg/wiki/DCAT-implementation-evidence)

[2019-01-22 22:08] nicholascar opened #681 "Compile PROF implementation evidence"
In order to support the case for PROF on rec-track, a detailed tabulation of evidence of implementation is needed.

[2019-01-23 00:16] agreiner commented on #432
I still find it odd to have both DS and DDS. Simon's explanation makes some sense, and I understand that a data distribution service whose job it is solely to deliver datasets and parts thereof can be seen as a subset of all data services, but I'm wondering how that distinction is useful, since we don't offer ways of describing the alternatives. We can say among ourselves that they exist, but that

[2019-01-23 14:54] agbeltran commented on #432
@agreiner would you be able to join us on the DCAT call to discuss this as we need to finalise this part of the spec?

[2019-01-23 16:19] davebrowning commented on #673
That's all been merged, @andrea-perego, and looks pretty good even just from a layout perspective.   If you get a chance to add the script then that would make it more useful (I don't fancy renumbering links every so often....)

[2019-01-23 17:15] agreiner commented on #432
Okay, I'll be there this afternoon.
-Annette

Annette Greiner
NERSC Data and Analytics Services
Lawrence Berkeley National Laboratory

[2019-01-23 17:18] riccardoAlbertoni commented on #680
@dr-shorthair Just a doubt, should we provide evidence also for terms that are already defined in other Vocabularies?  (Eg, prov:wasDerivedFrom)

[2019-01-23 18:05] andrea-perego opened #683 "UCR: Editorial issues"
While reviewing the current version of the UCR document, I saw some editorial issues that needs to be addressed. I include here the ones I found:

1. The are still in some places the name of the person who added a comment - see, e.g., [Section 5.32](https://www.w3.org/TR/dcat-ucr/#ID32):

    I guess this needs to be fixed

2. The cited standards and specification are sometimes cited other times d

[2019-01-24 01:10] dr-shorthair commented on #79
The ED now has two consecutive chapters addressing this issue:
- [Attribution roles](https://w3c.github.io/dxwg/dcat/#qualified-attribution) for dataset-agent relations
- [Relationships between datasets and other catalogued resources](https://w3c.github.io/dxwg/dcat/#qualified-relationship) for dataset-dataset relations

These use the common qualified form pattern to provide extensibility in the n

[2019-01-24 01:47] dr-shorthair commented on #79
I just spotted another gotcha.

In the [definition of dcat:hadRole](https://w3c.github.io/dxwg/dcat/#Property:relationship_hadRole) which defines the nature of a relationship of a `dcat:Resource` to either another Resource or to an Agent, we currently have `rdfs:range prov:Role`. However, the [scope of `prov:Role`](https://www.w3.org/TR/prov-o/#Role) is limited to relationships to _Activities_, so

[2019-01-24 01:50] dr-shorthair commented on #79
Does this work?

![Qualified forms](https://raw.githubusercontent.com/w3c/dxwg/gh-pages/dcat/UML/DCAT%20Relationships.png)

[2019-01-24 09:25] #457 closed, assigned to nobody

[2019-01-24 09:28] #58 closed, assigned to riccardoAlbertoni

[2019-01-24 09:35] davebrowning commented on #67
Closing this specific issue as ''resolved', and any further discussion/issues/proposals can be included in #675

[2019-01-24 09:35] #67 closed, assigned to nobody

[2019-01-24 10:01] larsgsvensson commented on #391
@kamhayfung scripsit:

That would require that we mandate some kind of URI pattern so that agents would know if the URI is versioned or not. In practice I guess most organisations will offer this one way or the other but I don't think we can specify how that will be done. Perhaps we can suggest a pattern for linking a versioned URI to a "latest version" one (`dct:isversionOf`?)

[2019-01-24 11:14] dr-shorthair commented on #79
I added a wrapper around the two qualified-forms sections. See
https://rawgit.com/w3c/dxwg/dcat-issue79-simon/dcat/index.html#qualified-forms

[2019-01-24 11:26] dr-shorthair commented on #680
I think we would like to provide evidence for their use in the context of a `dcat:Resource`

[2019-01-24 13:55] davebrowning commented on #640
Above proposal merged in #651

[2019-01-24 16:06] riccardoAlbertoni commented on #432
I have noticed the following sentence in DCAT document

I wonder if we could be a little bit less restrictive here.  For example, in certain cases,  the proposal made by @andrea-perego  of having reference to external code list sounds like a very reasonable alternative to subclassing  ([see last night DCAT call](https://www.w3.org/2019/01/23-dxwgdcat-minutes.html))
Could we give both options as su

[2019-01-24 17:23] riccardoAlbertoni commented on #79
Please @dr-shorthair consider these minor comments:
 In the section "Relationships between datasets and agents" is written

I guess you mean "A general method for assigning an agent to a resource with a specified role".  I think "relationship" is a little confusing.

Could we use "code list" instead of "discrete list"?

[2019-01-24 19:43] agreiner commented on #432
Now that I've been charged with making a formal proposal, it would help to have a copy of the original UML diagram in some non-bitmapped form. Is that available? I'm not seeing anything in Git.

[2019-01-24 22:15] dr-shorthair commented on #432
I prepared the diagram using Sparx Enterprise Architect. This allows for quite nice customizable diagrams, and was convenient for me as I have used it in the past and already have it on my machine. It uses a proprietary format (in an Access database) and can export bitmapped images only - sorry.

I can share the .EAP file if you want to use that. (It is not in the GitHub repo since it is not diff-

[2019-01-24 22:18] dr-shorthair commented on #432
@riccardoAlbertoni - yes, that is fair enough. The `dct:type` classifier enables specialization without requiring named sub-classes. Could you make a PR?

[2019-01-24 23:03] agreiner commented on #432
@dr-shorthair thanks, but it sounds like I won't be able to do anything with that proprietary file format. I'll mock up my suggestion in something else.

[2019-01-24 23:25] kamhayfung opened #686 "Ambiguity in Abstract and Introduction"
In the Abstract (https://w3c.github.io/dxwg/profilesont/), there is a double article expression “a the usage”.

In the Introduction (https://w3c.github.io/dxwg/profilesont/#introduction), the definition of a profile is quoted twice. I suggest this be tidied up to once only. I also suggest adding a link to the data dictionary in which it is ultimately defined.

[2019-01-24 23:26] kamhayfung opened #687 "Ambiguous relationship in Figure 1"
In 6 Figure 1 (https://w3c.github.io/dxwg/profilesont/#conceptualmodel), what is “[0]” in “is profile of [0]” – between “Base Specification” and “dct:Standard” - referring to? Please clarify.

[2019-01-24 23:26] kamhayfung opened #688 "Unused namspaces in profilescont.ttl"
In 7.1 profilescont.ttl (https://w3c.github.io/dxwg/profilesont/profilesont.ttl), several namespaces are declared but not used (xml, foaf, prov). Please consider why they are necessary and clean up as required.

[2019-01-24 23:27] kamhayfung opened #689 "Visual clues in Figures 3 and 4"
Figure 3 in 8.1 (https://w3c.github.io/dxwg/profilesont/#examples), two arrow notations (property and rdf:type) are identical. Please consider using two distinguished ones. Figure 3 is also crowded for comprehension. Please expand it. Figure 4 in 8.2 has similar problems.

[2019-01-24 23:43] kamhayfung opened #690 "URI type of a profile identifier"
In 5.2 (https://w3c.github.io/dxwg/profiles/#RPFDECOS), the Note from Antoine said a profile's URI should be an HTTP.

However, the Content Negotiation by Profile (e.g. 6.1, https://www.w3.org/TR/dx-prof-conneg/#abstractmodelcontext) merely says the profile's identifier is just a URI.

An HTTP is an URI but the converse is not true. Please address the discrepancy above.

[2019-01-25 09:06] davebrowning opened #691 "DCAT Recommendation - Security and Privacy section"
As per #460, the section is needed for publication, even if you indicate that there are no security and privacy considerations for the document

First step is to answer the questionnaire (for example https://www.w3.org/2017/dxwg/wiki/CnegPrivacyAndSecurityQuestionnaire though it should be simpler for DCAT)

[2019-01-25 09:08] davebrowning commented on #460
Profiles guide security and privacy discussed at #478

[2019-01-25 22:16] nicholascar opened #693 "Create regular text to refer to other Profile docs"
As discussed in Profiles Guidance meeting 2019-01-25, we need a regular way refer from one Profile doc to another.

[2019-01-25 22:32] nicholascar opened #695 "Initial example"
As suggested by @dr-shorthair and also an ESWC reviewer, an early example of use would be greatly illustrative.

The example should also include profile metadata (Profile name, description etc.) to indicate how that "normal" metadata is differentiated / stored alongside PROF info.

[2019-01-26 03:07] nicholascar opened #696 "Alignment / differentiation with OWL"
Raised by Reviewer 1 of the Profiles Ontology ESWC paper and elsewhere: PROF must differentiate itself from OWL, specifically `prof:isProfileOf` v. `owl:imports`.

[2019-01-26 03:39] nicholascar opened #697 "Indicate / explain dagram formalisms"
Request from @paulwalk:

[2019-01-26 04:01] nicholascar opened #698 "Indicate a conventional way to automatically validate data instances of application profiles"
Feedback from @paulwalk:

[Original email from Paul](https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0006.html)

[2019-01-26 04:15] nicholascar commented on #698
You can imagine a method deriving from the structures of the PROF ontology where code (a Linked Data crawler) could find a Profiles' resource with prof:role Validation (and perhaps a particular formalism of a Validation resource, such as SHACL or similar) and then it could recurse up a isProfileOf hierarchy finding all similar resources. Then, joining all those resources together, data claiming co

[2019-01-26 04:35] nicholascar commented on #452
There is now a reference to the vocab in the Concaptual Model section and also the Usage Note of the Resource Role class, see
https://github.com/w3c/dxwg/commit/3937331868b392ada169fd5b5a18c518daae84ef

[2019-01-26 07:04] nfreire commented on #292
(Note: I do not have a complete knowledge of DCAT. I'm participating in the discussion from a DCAT user point of view, thus presenting my use cases for DCAT)

My original request for void:rootResource originated from a use case of Europeana, and was indeed having RDF datasets in mind. I'm working on a crawler for aggregating linked data into Europeana, and I wanted to use DCAT as the way to allow

[2019-01-27 00:34] andrea-perego commented on #691
A possible privacy-related issue concerns metadata including individuals as agents (e.g., the authors/contributors of a dataset).

This is a tricky point, as not specifying an author could lead to an IPR infringement. It is probably worth pinging the [W3C DPV CG](https://www.w3.org/community/dpvcg/) (Data Privacy Vocabularies and Controls Community Group) about this issue.

[2019-01-27 00:52] andrea-perego commented on #680
Thanks for starting this, @dr-shorthair . I just started adding the existing DCAT-AP profiles where these terms are used.

[2019-01-27 00:57] andrea-perego commented on #673
Thanks, @davebrowning . I'll take care of creating the relevant PR.

[2019-01-27 11:50] nicholascar commented on #641
This issue has been addressed in PR https://github.com/w3c/dxwg/pull/664

[2019-01-27 12:10] nicholascar commented on #571
This Issue is now redundant since `Base Specification` has been reomved.

[2019-01-27 12:15] agbeltran commented on #79
Addressed in https://github.com/w3c/dxwg/pull/685

[2019-01-27 12:15] #79 closed, assigned to nobody

[2019-01-27 12:41] nicholascar commented on #536
This Issue's initial issue - linking to the vocab - is complete and the final point raised here is discussion about the existence of the Roles vocab overall. This latter point is also contained in Issue https://github.com/w3c/dxwg/issues/535 so I recommend shutting this Issue to contain discussion about the exitence of the Roles vocab in Isseu https://github.com/w3c/dxwg/issues/535 only.

[2019-01-27 12:52] nicholascar commented on #529
I diagree that parts of a `Profile`, currently modelled as artifacts and associated with a `Profile` via a `Resource Descriptor` can be modelled as `dcat:Distribution`s of the `Profile` for the following reasons:

1. such a modelling would indicate that the Profile is a `dcat:Dataset` and a Dataset and a Standard (`dct:Standard`) are not the same thing
2. From DCAT (rev)'s definitions: Distributio

[2019-01-27 12:56] nicholascar commented on #493
Email text here: https://github.com/w3c/dxwg/wiki/Profiles-Ont-&-Conneg-RFQ-emails

Emails sent in Jan so next round for 2PWD therefore this is due for closing.

[2019-01-27 12:58] nicholascar commented on #452
Issue about overall use of a Roles vocab taking place in other Issues so no need for that to be raised here.

[2019-01-27 16:11] andrea-perego opened #700 "UCR: Re-phrase description of UC26"
Ref: https://w3c.github.io/dxwg/ucr/#ID26

The UC description currently reads as follows:

@jpullmann , the first sentence sounds wrong (something missing?), and should be re-phrased. A minimal revision could be (please note also the added commas):

[2019-01-27 16:14] andrea-perego commented on #493
@nicholascar , was the mail sent also to the DXWG public comments mailing list?

[2019-01-27 16:27] andrea-perego commented on #529
@nicholascar , I'm not questioning here having `prof:ResourceDescriptor`, but I disagree about your point (1).

According to the (quite broad) DCAT definition of "dataset", a standard/specification can be considered as a dataset (although it is also other things). This position was made explicit when ADMS was contributed to GLD (the WG in charge of DCAT), who made `adms:Asset` a subclass of `dcat:

[2019-01-27 18:50] andrea-perego commented on #536
I wonder whether part of the discussion was about allowing people to add new roles in the future under the same `role:` namespace. If this is the case, I don't think this is actually a requirement and we shouldn't not go that way. New roles to be used in PROF can also be added under other / new namespaces.

[2019-01-27 19:12] andrea-perego opened #701 "Comment from Bart Hanssens"
Mail: http://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0005.html

I think Bart is referring here to the UCR document:

https://w3c.github.io/dxwg/ucr/#ID41

The link is fixed in one of the commits in PR https://github.com/w3c/dxwg/pull/684

[2019-01-27 19:14] andrea-perego commented on #683
See also #700 & #701

[2019-01-27 22:03] andrea-perego commented on #683
I partially addressed the issues listed here via PR #684 .

I include below an update of what done so far:

- > 2 The cited standards and specification are sometimes cited other times directly linked to. The result is that the list of references is not comprehensive

  This is more or less fixed in PR #684, although I may have missed some

- Issue #701 : Fixed

- > 1 The are still in some places t

[2019-01-27 22:05] kcoyle commented on #529
I'd rather think of the files/resources of a prof:Profile as being "members" (as in members of a set) rather than "parts". As was said in an earlier issue, with profiles as defined in the ontology there is no "whole" - nothing indicates that a profile is defined as having specific parts, nor is there any measure of completeness. But mostly there is no whole to be a part of, and there is nothing de

[2019-01-27 22:45] andrea-perego commented on #85
(coming back to this after quite a while...)

@stijngoedertier said:

The problem here (as it is for DCAT-AP) is that schema.org terms and how they are used may change over time (and actually this has happened in this specific case), of course, without being bound to how they are used outside the schema.org community.

So, the main point of this question is whether we should or not define specific

[2019-01-27 23:42] andrea-perego opened #702 "DCAT: Check normative references"
I am unsure whether all the specs listed as normative references are actually normative for DCAT. An example is [VIVO](https://w3c.github.io/dxwg/dcat/#bib-vivo-isf) and [DOAP](https://w3c.github.io/dxwg/dcat/#bib-doap).

Checking the HTML source, I saw that they are not explicitly marked as normative (i.e., with `[[!DOAP]]`).

If these specs have been unintentionally included in the normative ref

[2019-01-27 23:46] kcoyle commented on #535
@aisaac Are you referring to the "[Named Individuals](https://www.w3.org/TR/annotation-vocab/#named-individuals)" in the web annotation ontology? That does look like a good model.

Given how minimal the profiles ontology is, my gut feeling is that people will have a need to expand on it, adding some descriptive and administrative properties. (As it is, you don't even have metadata for whose profli

[2019-01-28 00:07] andrea-perego commented on #529
@kcoyle said:

It is true that this information is missing in PROF but, to my understanding, the reason is that this is a programmatic decision related to the scope of PROF, which focusses on describing the profile context, also in view of profile-based conneg.

But I think the issue here relates also to vocabularies which are overlapping with and complementary to PROF. However we define a profile

[2019-01-28 02:53] nicholascar commented on #323
We have a schedule for Guidance, Ontology & Connec doc delivery now so I'd like to close this.

[2019-01-28 03:48] nicholascar commented on #529
@andrea-perego ok, reading your comment and backpedelling on my comment above as a result, I think @smrgeoinfo's original suggestion (image at top) can fold `ResourceDescriptor` into `dcat:Distribution` if `prof:hasRole` is catered for perhaps leading to this:

![alignment-adms](https://user-images.githubusercontent.com/7321872/51828516-771be100-2337-11e9-9232-2da4f336982d.png)

Q @andrea-perego:

[2019-01-28 09:24] andrea-perego commented on #529
Thanks, @nicholascar . The diagram is basically matching the ADMS/PROF alignment in https://github.com/w3c/dxwg/wiki/PROF-Alignments-and-crosswalks

There are a couple of things to be fixed, I think.

1. A typo: `adms:AssetDistribution` is said to be a subclass of `dcat:Dataset`, whereas it is `dcat:Distribution`

2. Not sure about the subclass relationship with what in the diagram is called "VOAF

[2019-01-28 09:30] paulwalk commented on #698
I'm not sure I quite followed this. I'm talking about the need for a conventional way to validate data against a specified application profile. If any given software validation process has to first traverse a graph in order to assemble and reconcile a collection of related validation resources, then I can't imagine that being widely implemented, or even scaling if it is. The opportunity, it seems

[2019-01-28 10:00] nicholascar commented on #529
Hi @andrea-perego, thanks for the error checking and confirmations. I've updated the diagram to remove the two lazy errors I made that you pointed out - the `prof:ResourceDescriptor rdfs:subClassOf dcat:Distribution` and the 'VOAF Class' indeed being a `voaf:Vocabulary`. I've put in a '?' now for the `prof:profile`/`voaf:Vocabulary` relationship for now.

[2019-01-28 10:48] andrea-perego commented on #529
Thanks, @nicholascar .

I saw that you changed the title of the wiki page with the alignments: please note that this has broken all the links to it (I updated the one in my previous comment).

[2019-01-28 11:02] andrea-perego commented on #529
I integrated in the wiki page also the alignments with VOAF:

https://github.com/w3c/dxwg/wiki/PROF-Alignments-and-crosswalks

Please note that there are a number of VOAF properties which I am unsure how the relate to PROF (I put a question mark there).

Please review.

[2019-01-28 11:08] nicholascar commented on #529
Have reviewed and made some minor changes. `prof:hasToken` I was keen to see be replaced with `adms:identifier` but Rob disagrees in order to prevent a whole `owl:imports` of ADMS but is happy for `prof:hasToken rdfs:subPropertyOf adms:identifier`.

Perhaps we should think a bit more carefully about terming PROF an extension to ADMS with `prof:isProfileOf` and `prof:hasRole` as the two standout pr

[2019-01-28 11:15] nicholascar commented on #216
Discussions about `prof:isProfileOf`'s relation to `prov:wasDerivedFrom` now taking place in the Issue https://github.com/w3c/dxwg/issues/485

[2019-01-28 11:54] nicholascar commented on #698
@paulwalk I'm not sure you'll get exactly what you want as noone's yet able to agree on The Correct Way to validate against a profile (application profile). For instance, what constraint language is to be used, does validation need to validate against all dependency validators or not, what if dependencies use different forms of validators etc. At the moment, everyone's talking SHACL as a constrain

[2019-01-28 12:56] paulwalk commented on #698
Thanks, Nick, for taking the time to go into the detail like this.

I think we have a fundamental difference in understanding on this. In the use-case where someone wishes to validate data against some declared conformance with some metadata profile, I just don't see any advantage in the validation process being able to somehow automatically interrogate the application profile to determine which m

[2019-01-28 13:54] davebrowning opened #704 "Repetition in vocabulary section"
In rewiring the internal document links, I noticed we've been a little inconsistent within Ch 6 with repetition of the inherited properties for `dcat:Catalog` from its super-classes `dcat:Resource` and `dcat:Dataset` which we don't repeat in the parallel sections for `dcat:Dataset` and `dcat:DataService`.  It would be easy to remove the duplicates most of the definitions/use e.g. `title` , `descri

[2019-01-28 15:23] kcoyle commented on #529
"Also, we should recommend that if someone wants general properties like titles, descriptions, Agent relations, one should just use ADMS or DCAT properties with the alignments here in mind. Prevents us having to describe dct:title etc. use."

Anyone can say anything about anything so I don't think it is necessary to say that people can use whatever vocabularies they want to further describe the cl

[2019-01-28 15:49] davebrowning commented on #671
Relevant changes in #692

[2019-01-28 15:50] davebrowning commented on #673
Done.

[2019-01-28 15:50] #673 closed, assigned to nobody

[2019-01-28 15:50] kcoyle commented on #485
Where does this leave the assumption that "profileOf" implies formal inheritance? See #642 for such a statement in [comment](https://github.com/w3c/dxwg/issues/642#issuecomment-452839500). There is no implication of formal inhertance in prov:wasDerivedFrom - especially since it includes that statement that the result can be a "new entity", which could include a stand-alone entity.

[2019-01-28 16:08] kcoyle commented on #323
I agree that this can be closed. If there are any changes going forward they will happen as part of the publication process.

[2019-01-28 17:33] makxdekkers commented on #529
@kcoyle It is true that "_anyone can say anything about anything_" but it could still be useful to point people to good practice. And DCAT is mentioned as best practice in https://www.w3.org/TR/dwbp/.

[2019-01-28 18:30] kcoyle commented on #529
@makxdekkers I agree that people should be pointed to best practices, but what we are talking about here is the profiles ontology, which is what it is. If the creators of that ontology feel that a "best practice" is to include additional properties then they need to include those either 1) in the ontology itself (just as DCAT does with dct etc.) or 2) they need some additional documentation that s

[2019-01-28 21:09] andrea-perego commented on #485
As I commented in https://github.com/w3c/dxwg/issues/216#issuecomment-390023563 , `prov:wasDerivedFrom` does not imply any notion of _dependency_ (I'm not talking about inheritance here), which is what `prof:profileOf` is also meant to model. So, I'm still unsure whether we need to make `prof:profileOf` a subproperty of `prov:wasDerivedFrom`.

[2019-01-28 21:26] kamhayfung commented on #391
It depends of how far this document covers but some non-normative suggestions would definitely be beneficially to adopters. Both Skos and Dublin core offer some kinds of versioning support and they can be considered.

If the version ID is not in the URI, the ID can be derived from the profile definition by first obtaining a list of profile URLs and then downloading their profile definitions (incl.

[2019-01-28 21:36] andrea-perego commented on #529
@nicholascar wrote:

Not sure why it would be necessary to import ADMS. Note, however, that the range of [`adms:identifier`](https://www.w3.org/TR/vocab-adms/#adms-identifier) is not a literal, as it is for `prof:hasToken`.

I would also like to add that there's a discussion under-way in https://github.com/w3c/dxwg/issues/453 about `prof:token` / `prof:hasToken`, questioning whether it should be o

[2019-01-28 23:05] kcoyle commented on #529
"Not sure why it would be necessary to import ADMS." I had the same thought, and silently wondered if this isn't a tool issue (I have a great deal of frustration with the state of tools for ontology creation). In any case, we shouldn't make decisions based on the current state of tools but on our requirements.

[2019-01-29 03:22] nicholascar commented on #529
@andrea-perego regarding `adms:idintifier`'s range value: yes, I'm aware of that but I think that's appropriate. I was thinking we could use an `adms:Identifier` with identifier scheme set to something indicating its use, so the scheme would be, as we have driving requirement for a token, an API.

[2019-01-29 04:35] nicholascar commented on #453
@aisaac I've added a PROF- > VANN suggested mapping to https://github.com/w3c/dxwg/wiki/PROF-Alignments-and-crosswalks

This certainly seems to be the most direct, currently used, equivalent to hasToken.

[2019-01-29 06:25] nicholascar commented on #493
@andrea-perego No! I didn't think of that, oops. Doing that now and re-rending out the request to all those I never head from earlier this month.

[2019-01-29 06:45] nicholascar commented on #535
I've just made a bunch of updates to the Roles vocab to cover off on a number of issues. If/when these changes are merged (there are a bunch of pending PRs) then I'll propose bringing them into the main ontology with a specific Issue for that (this Issue was originally about styling).

[2019-01-29 07:14] nicholascar commented on #642
I've created a PR to merge in the link to this Issue and also an example highlighting use, see the branch rendered: https://raw.githack.com/w3c/dxwg/Issue-642/profilesont/index.html#Property:isInheritedFrom (may be deleted soon if merged into gh-pages).

[2019-01-29 09:54] #671 closed, assigned to davebrowning

[2019-01-29 09:58] rob-metalinkage commented on #642
I'm not seeing anything here other than getting tangled up in understanding the nature of classes and sets - so you could think of profiles define sets of conforming objects - they are RDFS classes in that sense - but not declared as such (see OWL punning). Our concern is more the non RDFS/OWL matters of refererencing rules in other languages and "frames" - profiles are not "open" - they have a de

[2019-01-29 13:28] davebrowning commented on #655
Well #249 at [comment](https://github.com/w3c/dxwg/issues/249#issuecomment-396748878) made a clear decision and the minutes [here](https://www.w3.org/2018/06/14-dxwgdcat-minutes.html#resolution03) are even clearer:

RESOLUTION: no change to domain/range axiomatization of downloadURL and accessURL; endpointURL to be axiomatized similarly; add property-chain axiom relating accessURL to endpointURL;

[2019-01-29 14:37] aisaac commented on #690
I'm not sure whether this can be fixed very quickly. I had included this note in the document, but I'm not sure that this corresponds to an accepted requirement. At least #242 probably shouldn't be cited as the source of official requirements.

[2019-01-29 14:38] aisaac commented on #690
So maybe we can close by saying that for the moment the view of the Conneg document should prevail, and we'll check all this against the finalized requirements a bit later?

[2019-01-29 14:46] aisaac commented on #453
@nicholascar thanks for putting a placeholder to it. I guess the answer to the question on which relation should hold between the two properties will depend on the answers from @rob-metalinkage

[2019-01-29 14:57] riccardoAlbertoni opened #710 "Rephrase/Extend the opening of DCAT section about dereferenceable identifiers"
in the [mail](https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Jan/0195.html), @kcoyle  referring to the section on 'De-referenceable identifier' wrote

should rely on persistent HTTP URIs,..." I suspect what is mean is that
when identifiers are used in DCAT they should be HTTP URIs. But that
also is unclear because the DCAT RDF vocabulary by its nature must use
HTTP URIs for all "things".

[2019-01-29 16:40] aisaac commented on #536
+1 for @nicholascar on closing this issue, but only after @andrea-perego has put his comment at #535 ;-)

[2019-01-29 16:44] aisaac commented on #701
Thanks @andrea-perego !

[2019-01-29 16:45] aisaac commented on #701
@jpullmann will you answer? Or should @andrea-perego do it after his change is merged?

[2019-01-29 16:51] aisaac commented on #683
@andrea-perego thanks a lot for the review! I agree with creating issues for (1) and (3) and keeping names with notes for the moment.

[2019-01-29 17:10] aisaac commented on #323
+1

[2019-01-29 17:29] riccardoAlbertoni commented on #710
Taking inspiration from the [use case 11](https://www.w3.org/TR/dcat-ucr/#ID11) and the description   provided by @andrea-perego  from which the identifier requirements are originated,  I have added the following few sentences at the beginning of the identifier section.  (see the branch https://github.com/w3c/dxwg/tree/dcat-issue710-riccardo)

@kcoyle does this address your concers?

[2019-01-29 17:44] aisaac commented on #535
@kcoyle yes I was precisely refering to these [named individuals](https://www.w3.org/TR/annotation-vocab/#named-individuals) that implement the [vocabulary for motivations in Web Annotations](https://www.w3.org/TR/annotation-model/#motivation-and-purpose). This vocabulary can be extended, but the concepts that have been defined by the WAWG are in the main spec.

[2019-01-29 20:58] smrgeoinfo commented on #529
re. https://github.com/w3c/dxwg/issues/529#issuecomment-457991188
if a Profile 'hasResource' 'ResourceDescriptor', I would expect 'ResourceDescriptor' to be a resource, in which case wouldn't it be a kind of Asset that has an assigned role relative to a Profile.   Assets have distributions, thus a ResourceDescriptor has Distributions.  That's the logic I was proposing.

[2019-01-29 21:12] jpullmann commented on #683
@andrea-perego thanks for a careful review!
1) this is true, these sentences tend to differ from the rest of the UC, so it appears fine to leave the commenter's name here (the "ednote" annotation helps to locate)
2) thanks for homogenizing the standards citation style!
3) this is a legacy naming, will review the (in)formal ones ..

[2019-01-29 21:20] jpullmann commented on #700
@andrea-perego  This sentence reads like a requirement (imperative), will update in suggested way, thanks!

[2019-01-29 22:39] andrea-perego commented on #683
Thanks! :)

[2019-01-29 22:47] andrea-perego commented on #535
Copying my comment https://github.com/w3c/dxwg/issues/536#issuecomment-457943549 as per @aisaac request:

I wonder whether part of the discussion was about allowing people to add new roles in the future under the same role: namespace. If this is the case, I don't think this is actually a requirement and we shouldn't not go that way. New roles to be used in PROF can also be added under other / new

[2019-01-29 22:48] andrea-perego commented on #536
@aisaac wrote:

Done! https://github.com/w3c/dxwg/issues/535#issuecomment-458738549

[2019-01-29 22:49] andrea-perego commented on #701
:)

[2019-01-29 23:31] andrea-perego commented on #702
Just to note I raised the issue in ReSpec: https://github.com/w3c/respec/issues/1754#issuecomment-458749170

[2019-01-29 23:41] andrea-perego commented on #700
Thanks, @jpullmann !

I wonder whether we should add a milestone for the 3rd PWD of the UCR document...

[2019-01-29 23:54] andrea-perego commented on #529
@smrgeoinfo , I see your point, but in ADMS `prof:ResourceDescriptor` wouldn't be an `adms:Asset`.

If, as you explained, `prof:ResourceDescriptor` is meant to be an association class, it would be something not included in ADMS. I think this is also the approach implemented by @dr-shorthair following up from the discussion in https://github.com/w3c/dxwg/issues/638

What I'm unsure of is whether th

[2019-01-30 00:16] smrgeoinfo commented on #529
I would agree with @aisaac response to the #638 (comment).

[2019-01-30 09:44] andrea-perego commented on #683
Just to restate also here that, about point (3), I raised the issue in ReSpec, and a fix is under-way: https://github.com/w3c/respec/issues/1754#issuecomment-458749170

After the fix is implemented, documents not having a "conformance" section will treat by default all bib refs as "informative".

[2019-01-30 10:16] davebrowning opened #714 "Links in 'Participate' header not working"
Links to github in the editors drafts (section after title above the abstract) don't work properly/give 404s for profile guidance and profiles ontology.

Value for github variable in config.js needs to be "https://github.com/w3c/dxwg/" (at least that worked for DCAT).

(Profile negotiation looks okay)

[2019-01-30 10:27] riccardoAlbertoni commented on #710
@kcoyle  approved my pull request and @davebrowning has just merged it. I suggest the DCAT editors to label this issue as "due for closing" or  even closing it straight away.

[2019-01-30 13:19] davebrowning commented on #640
@andrea-perego - does the current document now address your original concerns, or is there more to be done here?

[2019-01-30 13:45] agbeltran commented on #292
Including here a link to the discussion in the comments list: https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0007.html

Also, in this DCAT revision we've added a way to represent loosely structured catalogues, where a dataset is form by a set of files. In this case, we are using dct:relation to connect the dataset with the different files that compose it (see the property descri

[2019-01-30 14:04] nfreire commented on #292
I agree.
Using that solution along with the use of dct:conformsTo and ideally, along with http://usefulinc.com/ns/doap#implements, should provide the full technical details a robot would need for the Europeana use cases.

Question: Is doap:implements included in DCAT (or its use under discussion)?

[2019-01-30 14:21] davebrowning opened #715 "DCAT Document - where do alignments/relations to other vocabs actually belong?"
We currently have three sections that talk about alignment/relationship  of DCAT with other vocabularies.  These are [Section 13](https://w3c.github.io/dxwg/dcat/#alignments) (non-normative), [Section 16](https://w3c.github.io/dxwg/dcat/#other-w3c-recommendations) (currently normative.... including the output from #254) and [Appendix A](https://w3c.github.io/dxwg/dcat/#alignments-domains) (non-nor

[2019-01-30 14:28] agbeltran commented on #292
```doap:implements``` associates Projects to the Specifications the project implements. Where would this fit in the use case? Europeana as the project that implements DCAT?

Currently, we associate ```dcat:Resource```s associated with ```dct:Standards```  via ```dct:conformsTo``` (see https://w3c.github.io/dxwg/dcat/#Property:resource_conformsto)

[2019-01-30 14:35] davebrowning commented on #224
Is #676 a successor to this?

[2019-01-30 14:46] agbeltran commented on #224
This use case is related to (https://github.com/w3c/dxwg/issues/160) that was addressed in #607 (related to requirement https://w3c.github.io/dxwg/ucr/#RDSA at https://github.com/w3c/dxwg/issues/59). Indeed, #676 will provide examples related to this use case. But, shouldn't the use case be included in the UCR or mentioned in relation to existing ones (e.g. https://w3c.github.io/dxwg/ucr/#ID17)?

[2019-01-30 14:52] heidivanparys opened #716 "Conceptual model: Profile: class vs. property"
I have a comment regarding this part of the conceptual model:

![conceptual_model](https://user-images.githubusercontent.com/11427611/51987300-13f68f80-249a-11e9-8209-76292adf7701.png)

Why is "Profile" present as a class?

I would be inclined to model this part as follows (UML-style model, as that's what I'm used to...):

![specification](https://user-images.githubusercontent.com/11427611/5198897

[2019-01-30 15:11] kcoyle commented on #638
Is option 2 likely to be coded with a blank note for the resource description? "Things" often or usually have IRIs, but associations (in my experience) end up being bnodes. If that is the case then I see this as a downside. The main question is: can it be expected that folks will mint actual IRIs for the association nodes?

[2019-01-30 15:23] nfreire commented on #292
I believe you're right, Alejandra. i was mixing up standards/semantics in my mind...
Having multiple files in a dcat:Distribution along with the use of dct:conformsTo should fulfill the Europeana use cases.

(I'll discuss it with my colleagues an give further feedback, if something relevant is identified)

[2019-01-30 16:31] andrea-perego commented on #640
Yes, thanks.

[2019-01-30 16:32] andrea-perego commented on #715
I agree it would be better to move at least the non-normative alignment outside the DCAT spec.

[2019-01-30 16:36] andrea-perego commented on #224
I think this is broader than #160, which is specifically about access restrictions. I would be in favour of adding it to the UCR document, but I wonder whether this option was already discussed, and a decision taken.

[2019-01-30 19:23] kcoyle commented on #642
I see that this has resulted in a commit and merge without getting further discussion from this group. Please, for topics that have been discussed make sure we arrive at a solution in the issues area before it is added to the document.

In fact, I am wondering if we shouldn't back out that merge while we continue to discuss.

Here is the example that has been given:

Example 1: Property isInherite

[2019-01-30 21:06] agbeltran opened #718 "Remove inherited properties from the dcat:Catalog section"
Currently, the [dcat:Catalog](https://w3c.github.io/dxwg/dcat/#Class:Catalog) section includes descriptions of the properties inherited from ```dcat:Resource``` contrary to what we do on the other classes. So, this issue to address the removal of those.

[2019-01-30 21:25] kamhayfung commented on #690
What a profile identifier should look like can be further debated in #242, so long as the documentation is eventually consistent. This ticket serves a friendly reminder.

[2019-01-30 21:38] agbeltran commented on #718
Better to address this after #717 has been merged.

[2019-01-30 21:51] agbeltran commented on #718
related to #704

[2019-01-30 22:12] agbeltran commented on #704
I expressed my view on this in the new issue I created (#718) having not seen this before. I think we have to remove the descriptions of the inherited properties to be consistent across the document. For the case of ```language```, I would move the extra text when relevant to ```dcat:Resource```. For example, it makes sense to add ```This refers to the language used in the textual metadata describ

[2019-01-30 22:46] andrea-perego commented on #702
Following today's (30 Jan 2019) discussion during the DCAT subgroup call, I tried to fix this via the following PR: https://github.com/w3c/dxwg/pull/719

Basically, I put a `?` in front of all refs not explicitly marked as normative (`!`).

@dr-shorthair , could you please review?

[2019-01-30 23:05] dr-shorthair commented on #702
OK - so you are implicitly trying to force the issue - all refs informative by default.
(I guess you did a regex search for all \[\[([a-zA-Z]+) and inserted a ? - that's the easy bit! )

So I will go back through and mark some 'normative' instead.

[2019-01-30 23:06] dr-shorthair commented on #702
So I will go back through and mark some 'normative' instead.

[2019-01-30 23:15] andrea-perego commented on #702
Please check first the result here:

https://rawgit.com/w3c/dxwg/andrea-perego-fix-to-refs/dcat/index.html#references

Some specs, as FOAF and DCTERMS, are already ending up in the "normative references" section because they are also cited in normative sections.

[2019-01-30 23:32] dr-shorthair commented on #353
I closed this prematurely. There remain MAY | SHOULD | MUST statements in non-normative sections of the document.

[2019-01-31 01:55] kcoyle commented on #642
Because this is long, I'm going to try to break it up into small bits:

<pre>
ex1:Standard_X
    a dct:Standard , prof:Profile ;  # this may be a 'null' profile,
                                     # i.e. a profile of nothing, a regular Standard
    dct:title "Standard X" ;
    prof:hasResource ex1:RS_1 .
</pre>

What this says is the ex1:Standard_X is a member of two classes: dct:Standard and pr

[2019-01-31 02:35] kcoyle commented on #642
I'm finally figuring out something that has been very confusing to me in the diagrams, so this example has helped in that way, thanks. In the diagram in "Figure 3" here it shows a box for ProfileY that has 2 resources, RS2 & RS3. Those link to a single Resource Descriptor "box" representing the class. I think this mixes instance data and the data model rather oddly.  For diagrams representing inst

[2019-01-31 03:02] kcoyle commented on #642
"ex2:" doesn't clarify the meaning or functionality of this property for me. I'll name a few things, just to get a discussion started:

1.
In this example, there are multiple profiles that each have only a single resource type: a SHACL file. Nothing is said about the case where:

profileX has the following resources:
- a PDF document
- a SHACL document in JSON-LD

profileY has the following resour

[2019-01-31 03:32] rob-metalinkage commented on #642
The answer is not "you shouldn't do that" but rather "we expect people to do any of these things"

noting that prof:inheritedFrom applies to the  qualified associations of type "ResourceDescriptor" - not on the profile...

if Profile "X" has a resource RX declaring a set of constraints on properties A, B,C,G  and Profile "Y" is a profile of X and has a resource RY declaring a set of constraints on

[2019-01-31 07:12] nicholascar opened #721 "Clarify PROF's relation to constraint languages"
Leslie Sikos wrote:

[2019-01-31 07:14] nicholascar commented on #721
PROF does not set any constraints itself; it only presents a way of describing Profile relations (to Standards and perhaps other Profiles) and profile components (via prof:ResourceDescriptors). PROF leaves to constraint languages in general, of which SHACL is one, to specify particular constrains for particular profiles.

An example: If Profile X of Standard Y imposed additional constraints on it

[2019-01-31 08:09] heidivanparys opened #722 "Harmonization with ISO/IEC concepts"
The concepts in the set of documents regarding profiles should be harmonized with the ISO/IEC concepts, as the concept of profiling is also described in ISO/IEC standards. Or as a minimum, it should be described how they relate to each other.

What is the relation between [dct:Standard](http://dublincore.org/documents/dcmi-terms/#terms-Standard) (_A basis for comparison; a reference point against

[2019-01-31 08:45] heidivanparys opened #723 "Definition and note of prof:hasToken"
The definition and note should be updated as they start with "A property..." and "This property is ...". A definition and note should define and describe the concept the property represents, not saying that "Property X represents concept X". See e.g. guideline 4 in [Guidelines for writing definitions in ontologies](https://philarchive.org/archive/SEPGFWv1)

E.g.
definition: profile identifier for

[2019-01-31 09:42] makxdekkers commented on #722
This is an interesting question, but probably one that needs to be asked at DCMI and not here.
My personal opinion, from previous involvement with Dublin Core, is that the main difference between a `dct:Standard` and a standard in the ISO sense is that a `dct:Standard` is not a _document_, but the _concept_ of a set of rules, instructions or other kinds of guidance. In other words, a `dct:Standard

[2019-01-31 10:00] makxdekkers commented on #723
Very useful reference, thank you!
I commented on the style of definitions in the past (e.g. https://github.com/w3c/dxwg/issues/572 and https://github.com/w3c/dxwg/issues/301). I suggested to use a common template "A something (with further clarification)", and leave statements about how, why and when to use it to usage notes.

[2019-01-31 10:30] davebrowning commented on #704
Let me draft something and we can see if it passes muster - `dcat:Resource` currently reflects that `language` is the language of the data in the `dcat:Dataset`  (or at least that's how I read the usage note [here](https://w3c.github.io/dxwg/dcat/#Property:resource_language)) so some similar text would apply to the data in the catalog (which just happens to be the textual metadata of the resources

[2019-01-31 10:47] #248 closed, assigned to agbeltran

[2019-01-31 11:19] #710 closed, assigned to riccardoAlbertoni

[2019-01-31 11:20] #64 closed, assigned to agbeltran, davebrowning

[2019-01-31 11:21] #59 closed, assigned to nobody

[2019-01-31 13:46] davebrowning commented on #704
Actually, strike that last question - `dcat:Catalog` can inherit `dct:spatial` from `dcat:Dataset`.  `dcat:Resource` doesn't need it

[2019-01-31 17:08] kcoyle commented on #642
@rob-metalinkage  said: "noting that prof:inheritedFrom applies to the qualified associations of type "ResourceDescriptor" - not on the profile..."

This may be the source of my confusion because all of the **requirements** related to inheritance all speak of **profile inheritance**.  From the draft profiles guidance document:

"2..4 Profile inheritance [RPFINHER]
Profiles may add to or specialise

[2019-01-31 17:19] kcoyle commented on #722
Agreeing with @makxdekkers. dct:Standard is an rdf class not a "thing" - it is a type (or "concept") as Makx says. ISO standard would be of type dct:Standard if one wished to code it that way in their metadata. One could include as a member of the dct:Standard class whatever one wished to (although it being RDF, that would be an identified object, but not necessarily a document).

[2019-01-31 17:23] kcoyle commented on #722
I also agree with Makx that we may not **need** to harmonize with the ISO definitions, although we may also choose to, but the fact is that we should carefully scrutinize every place that we make use of the term "standard" to

1. determine if that's the correct term for what we mean
1. understand what we mean by "standard" in that context
1. define it clearly in each document and use it based on t

[2019-01-31 17:52] smrgeoinfo commented on #722
I agree this spec needs to be clear about what 'standard' means, and the term should be used consistently.  The Dublin Core definition, in essence, says 'a standard is a basis or a point', neither of which is clear that the intention is 'a standard is a type' or that 'type' means 'concept'.
Perhaps some language harmonizing @kcoyle definition with ISO: 'in the context of this specification, a stan

[2019-01-31 17:55] smrgeoinfo commented on #722
In my opinion, the spec doesn't need to assert a normative alignment with ISO or any spec, it just needs to clearly and unambiguously define the terms used in the spec. Alignment with other vocabularies/specs is better left to guidance (not normative) documents).

[2019-01-31 18:19] kcoyle commented on #722
@smrgeoinfo Thanks, I agree with what you say above. I didn't mean that meaning of dct:Standard is a type, I meant that the role of the class was to set a type, and a class is not a document. Obviously I wasn't clear. The dct:Standard definition is purposely vague. We had a DCMI discussion about it somewhat recently, and I can't remember now if we made any changes to the definition, but we definit

[2019-02-01 06:29] dr-shorthair opened #725 "Reflect all 'Usage notes' into DCAT RDF representation"
The representation of `Usage notes` found in the rec document as `skos:scopeNote` elements in the RDF representation (i.e. the .ttl file) is incomplete for terms from external namespaces (mostly DCT). This should be remedied. It requires an entry for each term that we use that includes only a `skos:scopeNote` for each `Usage note` seen in the HTML document.

[2019-02-01 06:31] dr-shorthair commented on #725
Maybe also the `See also` entries that we have included in the normative vocabulary description (i.e. the tables in chapter 6)

[2019-02-01 06:32] dr-shorthair commented on #725
And the `Domain` and `Range` where they are different (tighter scope) than in the original namespace.

[2019-02-01 06:55] dr-shorthair commented on #317
Returning to this topic, I have a hunch that a `dcat:Representation` superclass would also help explain the ['bag of files' UC](https://w3c.github.io/dxwg/dcat/#bag-of-files) more clearly.

Any _file_ that is _not_ a **representation of the dataset itself** - such as a _schema_, or _supporting documentation_ - is a `Representation` but not a `Distribution`. A taxonomy of representations could exis

[2019-02-01 06:55] agreiner commented on #432
Okay, so, I've got something to look at over at https://agreiner.github.io/dxwg/dcat/. This is mocking up how I imagine it would look if we were to make use of the distinction between an API and a web application to define subclasses of data services. I've also uploaded an SVG for the overview UML diagram, so future iterations shouldn't need to be redrawn from scratch. I'm still debating in my min

[2019-02-01 08:13] #704 closed, assigned to nobody

[2019-02-01 08:13] #718 closed, assigned to nobody

[2019-02-01 08:35] #701 closed, assigned to nobody

[2019-02-01 08:37] jpullmann commented on #701
broken link is repaired, Bart was notified of update

[2019-02-01 08:37] #640 closed, assigned to nobody

[2019-02-01 08:40] jpullmann commented on #700
resolved by commit https://github.com/w3c/dxwg/commit/4aa3a09b5530be4df18be3566e82754a00a2f7d7

[2019-02-01 08:40] #700 closed, assigned to jpullmann

[2019-02-01 08:43] jpullmann commented on #683
@andrea-perego do you consider this issue resolved as of  https://github.com/w3c/dxwg/commit/4aa3a09b5530be4df18be3566e82754a00a2f7d7 ?

[2019-02-01 10:20] pwin opened #726 "Use case for "wasGeneratedBy" and for rate"
If you are submissing a new USE CASE, please use the template below. Otherwise, delete the use case template before submitting your contribution.

---
### Data Streams and Pushed Data
Status: Draft

Identifier: ID52

Creator: Peter Winstanley

Deliverable(s): DCAT

## Tags

## Stakeholders
Data Consumers, Data Publishers, Data Aggregators

## Problem statement
When delivering time-critical data th

[2019-02-01 11:51] makxdekkers commented on #317
@dr-shorthair This is contradictory. You write "_Any file that is not a representation of the dataset itself - such as a schema, or supporting documentation - is a `Representation` but not a `Distribution`_." So a file that **is not a** representation [...] **is a** `Representation` (?)
I still feel that the approach recommended at https://w3c.github.io/dxwg/dcat/#bag-of-files to use dct:relation

[2019-02-01 20:58] andrea-perego commented on #432
@agreiner said:

I wonder whether this is addressed by API descriptions as the ones done with Swagger/OpenAPI, etc. In such a case, this information can be part of the "document" linked to by using `dcat:endpointDescription`.

[2019-02-01 21:02] andrea-perego commented on #683
+1 from me. But I would create separate issues concerning:
- Problem with informative/normative refs (to be checked once the revision in ReSpec will be done)
- Review all EDITOR'S NOTEs - to decide if they should be dropped / revised.

[2019-02-01 21:28] agreiner commented on #432
Yes, that is my current design, though what I've been debating in my mind is whether it wouldn't be useful to make it so that a user wouldn't have to follow a link to determine the basic architectural style. BTW, in my design, I'm calling documentation endpointDocumentation rather than endpointDescription. I think it's easier for people to understand the intention, and that it is a URL.

[2019-02-02 02:30] kcoyle commented on #485
Sorry, @andrea-perego - need to clarify what you meant. What is it that prof:profileOf "is also meant to model"? Dependency, or no dependency; inheritance or not?

[2019-02-02 05:21] nicholascar commented on #485
I think @andrea-perego is saying that, since `prov:wasDerivedFrom` doesn’t say anything about dependency but that `prof:isProfileOf` does, it would be of no value to make this `rdfs:subPropertyOf`.

I’ll add another objection of my own: PROV is all about past tense whereas PROF is all about present tense vis ‘was’ v. ‘is’ at the start of property names respectively. This makes direct sub property

[2019-02-02 11:42] andrea-perego commented on #485
@kcoyle , as @nicholascar says, it's the notion of dependency I was referring to (i.e., the fact that a "profile" depends on one - or more - specifications).

[2019-02-02 23:29] kcoyle commented on #485
@andrea-perego @nicholascar The profiles that I know (including the DCAT ones) are based on existing ontologies or profiles but have no formal dependency. (Re-use is not dependency in RDDF.) Also, I just looked at the definition of isProfileOf and have no idea what it means due to unclear wording:

"The subject of 'is profile of' defines constraints on the object which playes the role of a base sp

[2019-02-03 05:07] dr-shorthair commented on #317
Yes. A file that is not a representation of the _dataset_ is a representation of _something else_.

Perhaps I'm reading too much into the class name, but I was assuming that `dcat:Distribution` was only the class of representations-of-datasets, which would mean that we don't have a class for representations-of-anything-else (such as a schema or documentation).

Does the class `dcat:Distribution` h

[2019-02-03 06:25] dr-shorthair opened #728 "Clarify definition of dct:accrualPeriodicity in the context of DCAT"
The DCMI definition of `dct:accrualPeriodicity` is [1]

However, the DCAT definition is [2]

which has a rather different meaning. In particular, the rate of addition of data to a time series might be quite different to the frequency of its release or publication.

This needs to be clarified.

[1] http://dublincore.org/documents/dcmi-terms/#terms-accrualPeriodicity
[2] https://w3c.github.io/dxwg/d

[2019-02-03 06:26] dr-shorthair commented on #728
This issue was triggered by a comment submitted by Daniel Pop [3]

[3] https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0013.html

[2019-02-03 06:29] dr-shorthair commented on #84
Do we also need statistics on distributions? This requirement is suggested by the comment submitted by Daniel Pop [1]. Of course it also depends on how we resolve the matter of 'information equivalence' of different distributions.

[1] https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0013.html

[2019-02-03 10:46] andrea-perego commented on #485
@kcoyle , I tend to agree that the notion of "dependency" may not always apply, and depends on the characteristics of the under-lying formal (or natural?) language used, but also on how the profile definition is implemented. But still "re-use" of existing terms from other specification can be seen as a dependency in the broader sense. E.g., if the new DCAT version will be not backward compatible,

[2019-02-03 11:03] andrea-perego commented on #317
@makxdekkers said:

I agree.

[2019-02-03 15:55] andrea-perego commented on #728
Concerning specifically [the relevant Daniel Pop's comment](https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0013.html):

- Whether update frequency can be applied as well at the distribution level: this is very much up to how a dataset is updated and this information is documented. In my experience, I saw that this is typically done at the dataset level, but I don't see any issue

[2019-02-03 16:07] andrea-perego commented on #84
I think we shouldn't prevent this - as done for other information. The question is how to put this option in the spec.

I'm a bit reluctant to explicitly add properties in class definitions where we don't have real-world use cases and/or implementation evidence. So, this could be included in the "guidance" part of the spec.

About "information equivalence", (again) -1 to it. This ends up to be a m

[2019-02-03 19:19] kcoyle commented on #485
@andrea-perego I'm fine with general dependency as long as not too much is assumed by it, and prefer profileOf not translate to specific constraints. But in other discussions there has been talk of understanding profileOf to include an inheritance of constraints (what is meant by this is unclear to me). If profileOf has a strict axiomatic role then it can only be used in circumstances that meet th

[2019-02-03 19:53] andrea-perego commented on #485
@kcoyle said:

+1 from me. I totally agree.

[2019-02-03 20:21] dr-shorthair commented on #317
Sorry - I'm certainly not proposing a change to this pattern.
I am merely asking if there is a class that is the (implicit or explicit) range of dct:relation in this context - it being the more generalized case.

[2019-02-03 22:12] dr-shorthair commented on #317
... and which would allow us to provide a description of the related artefact, without implying that it is a distribution of a dataset. i.e. promote most of the properties of dcat:Description up to a more general dcat:Representation.

[2019-02-04 02:56] nicholascar commented on #485
+1 to the above.

I'm sort-of interested in some relations of PROF to PROV so some notion of PROV-like process flow modelling might be understood by `isProfileOf` but I think it wise to avoid strong axiomes in PROF too.

[2019-02-04 03:05] dr-shorthair commented on #317
Here's an example to illustrate the issue. This is one of my own datasets. This DCAT description is adapted from an [earlier example that I used for the bag-of-files use-case](https://w3c.github.io/dxwg/dcat/#ex-dataset-as-bag-of-files).

The first four blank nodes are `rdf:type dcat:Distribution` because they are informationally-equivalent representations of the actual dataset.

The next three bl

[2019-02-04 09:32] heidivanparys commented on #722
It would be helpful for those involved in ISO standardization related to profiles if similarities or differences are explained. E.g. the comment below was very useful:

[2019-02-04 09:57] heidivanparys commented on #722
To be honest, I do think it is important to have a less vague definition.

The "recognized body" part in the ISO definition being problematic is also described in [Standardization - What's in a name?](https://www.researchgate.net/publication/306574861_Standardization_-_What's_in_a_name)

That same article, and a later book by the same author, a certain Henk J. de Vries, ("Standardization: A Busine

[2019-02-04 10:54] makxdekkers commented on #317
@dr-shorthair I think you are complicating the issue more than necessary. Your explanation that things that are not representations of the dataset are representations of something else got my head spinning. You are using the notion of 'representation' which is already used in the revision (both the current version and 2PWD) and suggested as a synonym of distribution - but I think that term is conf

[2019-02-04 11:05] makxdekkers commented on #84
@dr-shorthair I am not quite sure how you derive a requirement for statistics on datasets? If there is a need for it, maybe we could refer to DQV or Data Cube?
In my mind, Daniel's point (1) could be resolved by modelling the real-time data stream as a `dcat:DataService` and modelling the CSVs as separate datasets.

[2019-02-04 11:22] makxdekkers commented on #722
I would like to repeat my opinion that a discussion about the semantics of DCMI terms should be moved to the appropriate discussion platform at DCMI (which would that be, Karen?).
DCAT just reuses the definitions of `dct:Standard` and `dct:conformsTo` from DCMI and we have no way to change those.
If we think that, in the context of DCAT, it is necessary to have more strict definitions, then we nee

[2019-02-04 11:46] dr-shorthair commented on #84
The statistic that Daniel mentioned is the frequency or spacing of members in a time series, where various distributions might have fixed spacing that is different (usually coarser) than what is available from the underlying dataset. I was on the point of creating an explicit issue for this aspect alone, but since this is an aspect of dataset statistics I thought it would be best to open the discu

[2019-02-04 15:59] kcoyle commented on #722
Makx - the Usage Board at DCMI has just concluded a round of discussions, but that's where it would have to go. I agree with you that DCMI is unlikely to adopt a more strict definition due to the fact that it serves a community that is much broader than ISO's community. The advantage of DCMI's definition is that it can *also* be used with formal standards, and those will be identified by their URI

[2019-02-04 17:22] smrgeoinfo commented on #317
I agree that the distribution should represent an accessible form of a dataset; as such shouldn't the distributions have either accessURL or downloadURL
As far as the related resources (the dct:relation items) I think @makxdekkers typing suggestion is a good solution-- the relation is to a resource that has a type, and that resource has its own distributions (which I guess can be represented by ad

[2019-02-04 17:26] smrgeoinfo commented on #722
Since I'm interested in machine-actionable metadata, I also prefer unambiguous, logically coherent definitions that can be formalized for machine inferencing.  I recognize that if the vocabulary is intended for human consumption, then such precision is not required.

[2019-02-04 17:38] aisaac commented on #435
@kcoyle while surveying this old issue I wanted to check: does the recent content at https://w3c.github.io/dxwg/profiles/#functions cover your proposal at https://github.com/w3c/dxwg/issues/435#issuecomment-426525881
I believe it should.
If it does, then I believe that the only point needed to close this issue is to include your proposal at https://github.com/w3c/dxwg/issues/435#issuecomment-42692

[2019-02-04 17:45] aisaac commented on #435
As I'm progressing in my re-reading of the current doc next to the issue, I may have found the missing bit of @kcoyle 's diagram: the "vocabulary" aspect.
This maybe relates to a note I've left at https://w3c.github.io/dxwg/profiles/#RPFNCTERMS "It could also be in roles/functions if there is nothing there about defining terms". This requirement has two faces: it can serve as definition of profile

[2019-02-04 18:20] smrgeoinfo commented on #485
Just to anchor the conversation back to the draft spec , currently : ["_The subject of 'is profile of' defines constraints on the object which playes(sic) the role of a base specification_"](https://w3c.github.io/dxwg/profilesont/#Property:isProfileOf)
Adopting the conceptual rather than axiomatic approach, precisely what this means will have to be defined in profiles of the profile spec.  As word

[2019-02-04 20:31] agreiner commented on #485
@smrgeoinfo Do you mean "if A is dependent on B, A will not work without B"?

[2019-02-04 21:04] smrgeoinfo commented on #485
yup, fixed. Thanks!

[2019-02-04 21:46] dr-shorthair commented on #317
Thanks @makxdekkers - I think you are suggesting that there are more than enough classes available in existing vocabularies to enable suitable typing of the target of `dct:relation` properties. That is true, though it does require users to be familiar with the options. I guess I was trying to gather them together in the scope of DCAT but I'll stop now.

Regarding this phrasing

Yes, that is unfort

[2019-02-04 22:13] dr-shorthair commented on #317
So this more complete example could be added to Appendix D?
[code]

[2019-02-04 22:17] dr-shorthair commented on #317
@rob-metalinkage I think we moved away from the concern that originally motivated you to create this issue. But I think the sense of the DCAT team is that your suggestions would be best dealt with outside the core DCAT vocabulary, e.g. in a profile of DCAT for profiles, if you like.

[2019-02-04 22:29] agreiner commented on #317
One solution to the concern about saying that a distro "represents ... a representation" would be to remove the first use of "representation" in the definition. The word "represents" at the beginning of nearly all the definitions has bothered me, too. A dcat:Distribution doesn't represent a distribution, it *is* a distribution.
A dcat:Catalog is a dataset in which each individual item...
A dcat:Re

[2019-02-04 22:54] nicholascar commented on #722
@makxdekkers this issue is tagged as being related to the profiles deliverables, not DCAT.

@kcoyle: can we decide on the approach for handling this in Guidance and then see if there are any implications for the ontology? That puts this in the overall context of profile work, rather than discussion about `dct:Standard` and `dct:conformsTo` specifically.

[2019-02-04 22:55] andrea-perego commented on #317
I don't want to unduly broaden this issue, but the discussion on `dcat:distribution` / `dct:relation` brings to my mind a couple of considerations:

1. Do we have already UCs and/or implementation evidence on the use of specific subproperties of `dct:relation` which can be used to model some specific resource types? In such a case, should be provide guidance on when to use them? E.g., in the requi

[2019-02-04 23:09] agbeltran commented on #317
@andrea-perego about this:

We have an issue about linking datasets and publications https://github.com/w3c/dxwg/issues/63, and we are using ```dct:relation``` for things that don't fit distributions or publications (as per https://w3c.github.io/dxwg/dcat/#bag-of-files). So I don't think we need a new issue for this?

[2019-02-04 23:28] agbeltran commented on #317
I do agree that this decision should be left to the data provider, but I believe @dr-shorthair was pointing out a way to show what are distributions (as informationally equivalent representations of a dataset) vs other files that are about the dataset but are not a dataset distribution. IMO, it would be to the data provider to decide if a 'visualisation' of the dataset is an informationally equiva

[2019-02-05 00:19] kcoyle commented on #435
I'm not sure what the sentence means regarding roles/functions. A role or function would be expressed as a property or a value. What else is there?

[2019-02-05 00:25] kcoyle commented on #722
@nicholascar Since the guidance document is not going to be providing an ontology, I don't think that this relates or can be solved by it. In other words, there will be nothing in the guidance document that would clarify the meaning or usage of dct:Standard.

[2019-02-05 03:27] rob-metalinkage commented on #722
I would note that the ISO definition of standard is a narrower form of the DCMI version. ISO standard is not a thing - its a class of things (though of course the class definition is a thing, but that is the inherent OWL punning)

OGC has deprecated the use of standard in favour of "specification" - which avoids clashes with ISO's narrower definition and the broader range of community processes OG

[2019-02-05 06:46] aisaac commented on #435
Sorry out of context it's indeed "It could also be in roles/functions if there is nothing there about defining terms"" means "It could also be in the section about functions if there is nothing there about the function of defining/listing terms".
Basically:
- in your previous comment you introduce a list a functions/roles for profiles that includes "vocabulary"
- there's no such function at https:

[2019-02-05 08:13] aisaac commented on #450
Hi @kcoyle looking at the editorial work on sections 1-2 we may have to re-order the way that BPs are refered. Some general BPs relate to the core motivation for profile and thus may be introduced earlier in the doc than in section 2.7.
https://w3c.github.io/dxwg/profiles/#best-practices
NB: I don't think we should do it now. Let's just wait a bit until we stabilize the updates we're discussing.

[2019-02-05 08:14] aisaac commented on #450
@kcoyle another comment for future updates: looking at
https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#best-practice-documents
I'm wondering whether this is fit for our case, i.e. it looks like it's for documents that mint best practices, not documents that cite existing best practices. What do you think?

[2019-02-05 10:16] aisaac commented on #642
Thanks for the example. I believe that it helps the discussion... But first some friendly editorial advice. It would be good if profiles ids had numbers or letters that can be reused by the resource descriptors id, making sure it's easy for the reader to connect profiles with descriptors, just from reading the ids. X,Y,1,2,3 could be P1, P2, P1RS1, P2RS1, P2RS2. It's not beautiful but will make ou

[2019-02-05 15:57] kcoyle commented on #435
@aisaac I agree with your note in that section that the requirement in 2.1 is also be a function. I think it belongs in both places. (Note: that requirement is missing its short name - it's [RPFNCTERMS])

[2019-02-05 15:59] kcoyle commented on #450
@aisaac Agree. I just popped them into the sections as placeholders. I'm sure we won't end up with them in those positions in the final document. Maybe they should be coded as notes? That's very close to the intention.

[2019-02-05 16:01] kcoyle commented on #450
@aisaac I looked that the respec section on BP's but it says: "This feature is rarely used, and likely needs to be updated." That made me hesitate.

[2019-02-05 20:11] kcoyle opened #731 "Profiles Ontology Figure 3"
Figure 3 of the profiles ontology contains some "difficulties" that need to be addressed.

 ![title](https://w3c.github.io/dxwg/profilesont/examples/isInheritedFrom.svg)

First, there is the inclusion of the rdf:type's as "things" in the diagram. While not inaccurate, they are unnecessary and make the diagram more difficult to read. While classes can be useful, they are generally considered to be

[2019-02-05 20:48] rob-metalinkage commented on #731
It may well be worth having two simpler diagrams to replace this - or to use shading to represent class not "meta-class".

the use of a prof:hasResource from a dct:Standard is not incorrect:

1) a Standard is implicitly a profile of itself with a empty set of constraints  ( in the same way  Class C rdfs:subClassOf Class C )
2) there is no other vocabulary to attach resources to Standards using a q

[2019-02-05 20:57] aisaac commented on #435
Thanks @kcoyle ! I'm going to work it into our working space for the first sections, and raise on the original issue (#275 ) the possibility to dually classify it, and reflect this in the UCR doc.

[2019-02-05 20:59] rob-metalinkage opened #732 "formally define competency questions for PROF ontology"
Feedback on PROF ontology as included a request to define the competency questions for the ontology.

Below is a first cut following the lead of well-known ontology academics (https://protege.stanford.edu/publications/ontology_development/ontology101-noy-mcguinness.html)

1. If a resource conforms to a specific specification, what other more general specifications does it conform to?
2. What relat

[2019-02-05 21:06] aisaac commented on #275
As per the discussion on  #435 (for example [this message](https://github.com/w3c/dxwg/issues/435#issuecomment-460692484) from @kcoyle ) it seems that this requirement is, in terms of the categorization currently made in the UCR document, both a general 'definition' requirement and a requirement that indicates a function of profiles. This means it would fit both into sections [6.10](https://w3c.gi

[2019-02-05 21:16] aisaac commented on #450
@kcoyle thanks for the quick feedback! So when we work on the ticket again, we will change the formatting to something simpler. I'm fine with notes, or even simpler.

[2019-02-05 21:22] aisaac commented on #731
For the record, I've also put some editorial input at https://github.com/w3c/dxwg/issues/642#issuecomment-460583433
Would it help if it's copied here, or is it ok to leave it there?

[2019-02-05 21:29] rob-metalinkage commented on #642
+1

[2019-02-05 21:37] kcoyle commented on #731
@rob-metalinkage I agree that "the use of a prof:hasResource from a dct:Standard is not incorrect" - this is RDF, after all, and I looked at the ontology and the domain for hasResource is open, so it is any owl:Thing. The problem is that this isn't addressed anywhere in the descriptions of PROF so having it appear "unannounced" in a diagram is going to cause confusion.

Adding standards here would

[2019-02-05 21:39] kcoyle commented on #731
@aisaac I think our comments are on the same track so it could be very useful for you to copy yours here so we can look at them in one place. I wonder if this isn't something we should "sprint" on in general? ("general" meaning the diagram style in general, not just this one here)

[2019-02-05 21:46] dr-shorthair commented on #702
Whoops. Two remaining bugs:
1. In https://w3c.github.io/dxwg/dcat/#license-rights there is a !normative reference to DWBP in a `Note:`  paragraph. I suggest this should not be marked !normative
2. In https://w3c.github.io/dxwg/dcat/#dependencies [[VCARD-RDF]] is referred to normatively. This is not allowed as VCARD-RDF is a W3C note - i.e. a non-normative document itself.

[2019-02-05 22:21] davebrowning commented on #531
This will be addressed with #317

[2019-02-05 22:27] agbeltran commented on #433
Related to what we provided for dataset citation: https://github.com/w3c/dxwg/issues/61

[2019-02-05 22:29] aisaac commented on #731
@kcoyle I think you're right about working on diagram style in general, but now I'm contemplating the possibility of having the same kind of comments copied everywhere (and answered everywhere) and to avoid this I prefer to check with @nicholascar if it's how he'd prefer to work on it. And then we can move the comments where they're best fit (and not copy them around).

[2019-02-05 22:39] dr-shorthair commented on #433
Discussion in Sprint meeting was that
- the lack of domain constraints on properties needed for citation (e.g. `dct:creator`, `dct:publisher` etc) means that they could be used on a `dcat:Distribution` if required
- we are reluctant to copy more of the properties associated with a `dcat:Dataset`  down to the `dcat:Distribution` class, as it muddies the model. We do want to preserve the core distin

[2019-02-05 23:01] dr-shorthair commented on #433
https://www.w3.org/2019/02/05-dxwgdcat-minutes.html

[2019-02-06 00:34] rob-metalinkage commented on #531
noticed this is being worked on and I missed a question earlier...

I believe the arguments for "information equivalence" have not sufficiently defined this term and the competency questions for the DCAT ontology related to it.

the example about whether a dataset contains data for the year 2019 is more clear cut than, for example,  the rounding off of microseconds in dates in a different encoding

[2019-02-06 03:01] dr-shorthair commented on #531
@rob-metalinkage the consensus is that anything short of losslessly-convertible would be use-case specific.

And since we are reluctant (unwilling) to go with the former (and we think it would be a hard sell in the market), we will have to just come up with some wording to hedge the issue.

[2019-02-06 03:51] dr-shorthair commented on #317
@andrea-perego wrote:

They might be visualizations of the underlying data, but they are definitely not visualizations of "A set of **RDF graphs** representing ..."

[2019-02-06 04:14] rob-metalinkage commented on #317
ironically, the Use Case that motivated this was the one @makxdekkers referred to where Profiles where cataloged, and resources describing different aspects them were modelled as Distributions.  So OK to say that example is "wrong" (i.e. inconsistent with DCAT semantics)

- the Profiles Ontology is not dependent on DCAT so its not affected.  DCAT simply has no reusable way of attaching resources t

[2019-02-06 04:25] dr-shorthair commented on #317
That's not correct. Use `dct:relation` - see https://w3c.github.io/dxwg/dcat/#Property:resource_relation

[2019-02-06 05:37] rob-metalinkage commented on #317
"dct:relation SHOULD be used where the nature of the relationship between a catalogued item and related resources is not known. A more specific sub-property SHOULD be used if the nature of the relationship of the link is known. The property dcat:distribution SHOULD be used to link from a dcat:Dataset to a representation of the dataset, described as a dcat:Distribution"

"in general" includes the i

[2019-02-06 05:49] dr-shorthair commented on #317
All the immediate sub-properties in the `dcat:` and `dct:` namespaces are listed right there. And immediately following is the description of the qualified-relation pattern. There might be a tweak needed, but otherwise I suggest that all the ingredients that could reasonably be provided by DCAT are already there. Maybe modify

&rarr;
"A resource with a general or unspecified relationship to the ca

[2019-02-06 07:41] makxdekkers commented on #317
On 'visualisations', there is a vocabulary at the Publications Office of the EU for "Distribution type": https://publications.europa.eu/en/web/eu-vocabularies/at-concept-scheme/-/resource/authority/distribution-type/. This controlled vocabulary was created for DCAT-2014 where several type of non-file distributions were allowed. Using `dct:type` on `dcat:Distribution` one can indicate that the dist

[2019-02-06 08:06] makxdekkers commented on #267
Based on discussion at https://www.w3.org/2019/02/05-dxwgdcat-minutes, I will draft a proposal that situations that are more complex than access to a 'file' should be modelled as `dcat:Service`.

[2019-02-06 08:13] makxdekkers commented on #482
Based on the discussion at https://www.w3.org/2019/02/05-dxwgdcat-minutes, I will draft a proposal to suggest that a situation that there are several files that need to be considered together could be handled by using `dcat:accessURL` to link to a page where a list of the files and their relationships can be given.

[2019-02-06 09:30] #702 closed, assigned to nobody

[2019-02-06 09:47] davebrowning commented on #317
The key phrase there is

@dr-shorthair's  reaction [above](https://github.com/w3c/dxwg/issues/317#issuecomment-460892643) shows that he doesn't see those pictures as visualisation of the dataset (though they probably are of the underlying information).  Other publishers of this might make a different choice (and would probably use different language to describe the dataset as well)   I think we de

[2019-02-06 18:00] smrgeoinfo commented on #642
Is the inheritedFrom property really necessary? What if the encoding worked like the example below.
What is actually modeled is a specification (the intention of dct:Standard, even if the actual defintion isn't clear). It's still represented by the prof:Profile class in the example.  The distinction of 'standard' and 'profile' is apparently pretty fuzzy given all the discussion about defining prof

[2019-02-06 18:00] riccardoAlbertoni commented on #432
dr-shorthair wrote:

Yes, I will work on it

[2019-02-06 21:32] dr-shorthair commented on #80
Branch gone, now here https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat-prov.ttl#L63

[2019-02-06 21:34] #81 closed, assigned to nobody

[2019-02-06 21:36] aisaac opened #736 "Refer to Dublin Core Application Profile framework"
We need appropriate reference to the Dublin Core Application Profile framework.

[2019-02-06 21:40] aisaac commented on #367
I've changed the title to 'refer to ISO profiles' as it's now clearer to me :-)
I'm also removing the sentence "(Antoine:) I've kept this from Nick's doc but I'm not so sure what it's about." in @nicholascar 's original description, as it reads awful when it's folded in the document.

[2019-02-06 21:42] dr-shorthair commented on #80
Issue discussed in DCAT meeting 2019-02-07. As it is a niche concern likely to be only of interest to OWL mavens, it is low priority and will not be addressed further.

[2019-02-06 21:42] #80 closed, assigned to nobody

[2019-02-06 21:44] agbeltran commented on #543
As discussed today, add @andrea-perego  and @riccardoAlbertoni  as editors.

[2019-02-06 21:48] aisaac opened #737 "Refer to Open Geospatial Consortium Profiling"
OGC profiling was in the Profile Guidance document in the related work and needs to be properly mentioned again, somewhere

[2019-02-06 22:01] agbeltran commented on #80
Link to minutes: https://www.w3.org/2019/02/06-dxwgdcat-minutes.html

[2019-02-06 22:04] aisaac commented on #435
Replying to my own comment at https://github.com/w3c/dxwg/issues/435#issuecomment-460340172
The list of examples of https://github.com/w3c/dxwg/issues/435#issuecomment-426928897 is included in the document as per https://github.com/w3c/dxwg/pull/738
Everyone, are you happy with https://rawgit.com/w3c/dxwg/updates-intro/profiles/#examplesrelatedwork
?

Once this PR is approved the only obstacle to

[2019-02-06 22:04] agbeltran commented on #224
We discussed this issue in [today's DCAT meeting](https://www.w3.org/2019/02/06-dxwgdcat-minutes.html). While this belongs to the UCR document and should be considered by the UCR sub-group (if not already addressed), we discussed that it would be good to add examples on how to deal with licenses and rights following the guidance given in [the corresponding section](https://w3c.github.io/dxwg/dcat/

[2019-02-06 22:07] aisaac commented on #736
The following text was in the Profile Guidance document and needs to be properly mentioned again.
[code]

[2019-02-06 22:14] aisaac commented on #417
Hi everyone, we've updated the introduction in a way that hopefully addresses all the suggestions that seemed to have been agreed upon here. I hope it will be alright with everyone and we can close the issue.

Please remember that this is about improving the intro, not making it perfect!

New text: https://rawgit.com/w3c/dxwg/updates-intro/profiles/#introduction
Diff: https://services.w3.org/htmld

[2019-02-06 22:19] andrea-perego commented on #737
+1. And as far OGC is concerned, there's also the GML example I was referring to in

https://lists.w3.org/Archives/Public/public-dxwg-wg/2018Jun/0340.html

[2019-02-06 23:05] dr-shorthair commented on #411
Following https://github.com/w3c/dxwg/pull/735 https://github.com/w3c/dxwg/pull/299 https://github.com/w3c/dxwg/pull/241 etc I think this issue is now dealt with

[2019-02-06 23:14] dr-shorthair commented on #353
All dealt with now

[2019-02-06 23:14] #353 closed, assigned to dr-shorthair, pwin, agbeltran, kcoyle, davebrowning

[2019-02-06 23:18] dr-shorthair commented on #655
Indeed. Range of endpointURL needs to be fixed.

Property-chain is axiomatized here already: https://github.com/w3c/dxwg/blob/gh-pages/dcat/rdf/dcat.ttl#L446

Usage notes could still be improved

[2019-02-06 23:36] kamhayfung opened #739 "Missing reference to [DX-PROF-CONNEG]"
In Profile Guidance (https://w3c.github.io/dxwg/profiles/), [DX-PROF-CONNEG] is missing from the References section and there is no URL for it.

For consistency, it will be worth including it like [DX-PROF] and [DX-PROF-IETF].

[2019-02-07 01:51] dr-shorthair commented on #655
See https://github.com/w3c/dxwg/pull/740

[2019-02-07 04:35] kcoyle commented on #642
@smrgeoinfo I like this way of expressing the relationship, although I suspect that conceptually "requires" might be considered too strong to some people. The definition of the dct term, though, includes support materials, and I believe this comes from the learning / teaching community and could include things like teachers' manuals.[1] Therefore, any kind of strong dependency would fit, and the m

[2019-02-07 13:50] davebrowning commented on #545
We will need to/should provide an (initially) empty template errata page as per [W3C style guide](https://w3c.github.io/manual-of-style/#Errata) but this is only relevent after reaching REC status

[2019-02-07 13:58] davebrowning commented on #320
This issue which was raised in the context of 2PWD is actually resolved.  The longer term/REC approach should be addressed under #377, so I'm closing this one.

[2019-02-07 13:58] #320 closed, assigned to davebrowning

[2019-02-07 14:24] davebrowning commented on #377
Looking for discussion and opinion on this:

As preparation for any new WD (or candidate rec etc), we should ensure that we are happy that any link use is consistent and useful.  This approach in the existing ED is in part as discussed in #671

Currently, the links http://www.w3.org/ns/dcat# resolve to the 2014 namespace document.  Unless we change the namespace we are using (which I think we have

[2019-02-07 14:41] davebrowning commented on #377
The second link-based question is what to do with example ttl files such as [csiro-dap-examples.ttl](https://raw.githubusercontent.com/w3c/dxwg/gh-pages/dcat/examples/csiro-dap-examples.ttl).  From the ED, these link to our github repository.  For our second public working draft, they link to a locked branch.  We need to decide what our approach is for any future PWD and more particularly for the

[2019-02-07 14:59] davebrowning commented on #226
@andrea-perego Is this issue  past its sell-by date?  Indeed we seem to have quite a few NOTE blocks now that provide commentary or rationale as well as those that describe how the content is being / will be revised.

[2019-02-07 16:28] davebrowning commented on #543
See #741 - feedback (and review) required.

[2019-02-07 20:07] andrea-perego commented on #226
@davebrowning , I think I still saw some notes that should be better made "EDITOR'S NOTE". I'll share shortly a proposal via a PR.

[2019-02-07 21:51] andrea-perego commented on #226
Done: https://github.com/w3c/dxwg/pull/743

[2019-02-07 21:58] andrea-perego opened #744 "DCAT: Including links to Requirements in UCR document"
Currently, the DCAT spec refers to requirements by linking to the corresponding GH issue.

I wonder whether we should also link to the actual Reqs in the UCR document.

Also, what about having an appendix with a summary showing how the new version of DCAT addresses the UCR? I was thinking of something similar to:

https://www.w3.org/TR/dwbp/#requirements

[2019-02-08 16:46] kcoyle commented on #721
@nicholascar I think a better example would be simply to a constraints resource, not "additional constraints". Also, I note that "extensionConstraints" has been added to the list of roles but I don't think the working group discussed or agreed on that change.

[2019-02-08 20:49] andrea-perego commented on #721
I wonder whether this issue relates somehow to the more general question of which languages can be used for "profiles", and for doing what. This is actually more in scope with the profile guidance document, and I take this opportunity to ask again if it may be worth including an appendix listing the existing languages and their capabilities - something along the lines of the draft in

https://docs

[2019-02-08 22:41] kcoyle commented on #721
@andrea-perego I take your point, and wonder if the use of "constraints" in PROF and in the role vocabulary needs more guidance on what is considered validation/constraint. As it is today, PROF doesn't contain much in the way of guidance, and the defintions of terms are quite concise. Perhaps this is not sufficient.

Profiles guidance will include a section on constraints and constraint languages,

[2019-02-09 18:20] makxdekkers commented on #259
See https://github.com/w3c/dxwg/pull/746

[2019-02-09 18:28] makxdekkers commented on #482
I think this is taken care of in https://github.com/w3c/dxwg/pull/730?

[2019-02-09 18:31] makxdekkers commented on #267
I think the first Note under https://w3c.github.io/dxwg/dcat/#Class:Distribution says it all, so I don't see a need to reformulate that.

[2019-02-10 11:58] nicholascar opened #747 "Create generic properties such as "hasExpression" or "documentedIn" instead of hasResource/(hasRole | hasArtifact)"
From Tom Baker et al. of the ShEx IG:

[2019-02-10 12:53] nicholascar opened #748 "Add an example of a Client/Server scenario demonstrating profile inheritence"
From ShEx IG:

[2019-02-10 12:53] nicholascar commented on #748
The server should attempt to reply with a profile that best matches the client request. The order of preference is an exact match, followed by a profile (perhaps transitively) of the requested profile.

(+EXAMPLE)

[2019-02-10 12:54] nicholascar commented on #748
Scenario 2: If a Client asks for a resource according to Profile X and the Server supports Profile Y, a profile of Profile X, it could (MAY) return that.

[2019-02-10 12:55] nicholascar commented on #748
Would the introduction of either or both of these methods require additions to the Conneg specification?

[2019-02-10 13:01] nicholascar opened #749 "Indicate the UCR doc early in the Ontology doc"
We have on links to the UCR doc other than in the A.2 Requirements and many reviewers haven't realised we have a UCR doc we're working from.

We may need to add a link to the **Overview of DXWG documents on profiles** and/or **4. Motivation** as well as referencing individual Requirements in the main text.

[2019-02-11 08:09] kcoyle commented on #368
There will at least be a mention of ODRL in the guidance document:
https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Feb/0217.html

Do we need more? If not, we can close this issue once I get the text re-written.

[2019-02-11 13:49] #226 closed, assigned to nobody

[2019-02-11 15:01] larsgsvensson commented on #693
Hm, I just tried to add this to the Conneg 2PWD milestone but couldn't. Can issues only belong to one milestone? It feels a bit awkward to triplicate issues in order to have one issue for each document milestone...

[2019-02-12 00:17] dr-shorthair opened #751 "Inconsistent definition for dcat:accessService"
There is an inconsistency in the definition of `dcat:accessService`.

The [definition of `accessURL`](https://w3c.github.io/dxwg/dcat/#Property:distribution_accessurl) notes that

However, the [definition of `accessService`](https://w3c.github.io/dxwg/dcat/#Property:distribution_accessservice) immediately following says

These can't be simultaneously true. The sub-property axiom is wrong. It is pr

[2019-02-12 04:04] nicholascar opened #753 "Demonstrate a client getting a resource by profile characteristic"
From Melanie Barlow at ARDC regarding Content Negotiation By Profile - 7.2.2 get resource by profile:

Initial reply from @rob-metalinkage:

(e.g. dublin core or others for times, VoiD for vocabulary usage (profiles itself only supports the specific usage case of refinement by constraints)

[2019-02-12 04:09] nicholascar opened #754 "Find from a profile description, uris of online resources available to convert it to another profile"
From Melanie Barlow at ARDC:

Rob Atkinson's reply:

[code]

[2019-02-12 10:48] #655 closed, assigned to nobody

[2019-02-12 11:57] makxdekkers opened #755 "Definitions in Profiles Ontology"
Definitions that need improving:

- `prof:hasProfile`: "_A dct:Standard (or a Profile or Base Specification) has a Profile_"
- `prof:isProfileOf`: "_A Profile is a profile of a dct:Standard (or a Base Specification or another Profile)_"
- `prof:hasRole`: "_Functional role of a Resource_"
- `prof:isInheritedFrom`: "_A Profile's Resource Descriptor has been inherited from a Base Specification_"
- an

[2019-02-12 14:31] kcoyle commented on #755
+1 to this, and thanks, @makxdekkers . And more:

`prof:hasResource`: "A Profile has a Resource Descriptor"
-- The described profile resource
`prof:isProfileOf`: "The subject of 'is profile of' defines constraints on the object which playes the role of a base specification"
-- A vocabulary or profile that this profile is based on
`prof:hasToken`: "A property for identifying this Profile for use in

[2019-02-12 15:05] aisaac commented on #368
We may want to dive deeper and show examples of how ODRL profiles work, and represent one example of ODRL in PROF.

[2019-02-12 17:05] kcoyle commented on #368
OK we'll leave this open. I can see a place for more ODRL in a section on related work.

[2019-02-12 21:12] aisaac commented on #417
After one week the PR has now been merged, and I'm hereby closing the issue!

[2019-02-12 21:12] #417 closed, assigned to aisaac

[2019-02-13 00:52] aisaac commented on #529
@andrea-perego @nicholascar I second @smrgeoinfo 's reminder that his proposal for aligning to DCAT (or at least for having an analogy with it) is that it's not the `prof:ResourceDescriptor` level in the current PROF that corresponds to `dcat:Distribution`; it's rather the level of "artifacts".
So if being an `adms:Asset` implies being a `dcat:Distribution`, then as Andrea says `prof:ResourceDescr

[2019-02-13 01:20] dr-shorthair commented on #529
Complemented by `dct:conformsTo` which allows a link to the schematic form, independent of the serialization.

[2019-02-13 03:53] VladimirAlexiev commented on #642
The last example above shows format and conformsTo being used on two different entities: the ResourceDescriptor (as per spec) and the artefact. I think only the latter makes sense: format and conformsTo are innate props of the artefact whereas ResourceDescriptor captures its relation to a profile.

Furthermore, I think a ResourceDescriptor may reasonably have several equivalent artefacts: eg the s

[2019-02-13 07:21] aisaac commented on #529
@dr-shorthair maybe I need to rephrase: where does `dct:format` fit in the landscape? Should it be used on the PROF `ResourceDescriptor` or PROF's `artifact`?

[2019-02-13 13:50] #433 closed, assigned to dr-shorthair

[2019-02-13 15:19] kcoyle commented on #642
@VladimirAlexiev To me it isn't clear if there is only one artifact per ResourceDescriptor, or if it is as you say, that a ResourceDescriptor can have multiple artifacts in different formats. @smrgeoinfo 's example shows the latter:

[code]
I think this merits its own discussion so I will create an issue for that. (It also came up in a comment to the comments list.)

This just was commented on in

[2019-02-13 19:50] rob-metalinkage commented on #642
In the current design, profile follows the same basic pattern as DCAT - without being dependent on DCAT. Care has been taken not to be incompatible with DCAT so that in the open world assumption (OWA)  DCAT (and/or ADMS) could be used for the cataloguing of profiles.

So @kcoyle - any profile can carry any administrative metadata - and indeed should, its just not defined in this vocabulary.

(DCAT

[2019-02-13 20:03] rob-metalinkage commented on #642
Getting back to the original comment - the ResourceDescriptor has a property dct:conformsTo which relates to the resource (artefact) - i.e. the ResourceDescriptor is an identifiable metadata carrier for the artefact - the same way dcat:Dataset is a metadata carrier for the actual data.

Back to the original issue title - profInheritedFrom is a convenience for "flat" versions of profiles - alternat

[2019-02-13 20:19] nicholascar commented on #267
Closing after discussion in Conneg meeting

[2019-02-13 20:19] #267 closed, assigned to makxdekkers

[2019-02-13 20:38] nicholascar commented on #662
Subgroup meeting 2019-02-14 noted that it looks like there's no crossover between JSON-LD (syntax) profiles & Profile Neg profiles therefore likely to resolve this with a note in the doc about difference.

[2019-02-13 20:47] nicholascar commented on #663
Subgroup meeting 2019-02-14 noted that it looks like there's much difference between the JSON-LD @context section & the information you might get from a profile, potentially described using the Profiles Ontology.

[2019-02-13 20:56] nicholascar commented on #290
Subgroup 2019-02-14: can be catered for with a list of tuples for GET requests for profile lists (uri, token), (uri, profile)... and in HTTP headers there is a microformat in Link headers allowing for extra info with URIs that might be equivalent.

[2019-02-13 21:01] nicholascar commented on #677
Subgroup meeting 2019-02-14: discussed they understand this issue to force the spec to ensure symmetry for getting & sending (GET & POST) content

[2019-02-13 21:08] kcoyle commented on #642
@rob-metalinkage please see @VladimirAlexiev 's comments. If this isn't clear in the draft, it needs to be made clear. A bit of text describing the model would be good, as would a few very simple examples.

[2019-02-13 21:21] rob-metalinkage commented on #290
discussed in CNEG sub group 13 Fec.. action to propose some options:

Option 1:
Server offers a 1:1 mapping from (optional) tokens to URIs using typical "parameter" syntax - we define the parameter "token"

Content-profile: URI[;token=mytoken],

Pros: self-contained,flexible, explicit.
Cons: potential redundancy in URIs if many offered

Option 2:
tokens are registered in a global registry and serv

[2019-02-13 22:24] agreiner commented on #411
So, where are we with regard to enabling a user to determine whether data they are sourcing online is the same data available elsewhere or not? Now that we seem to have an agreement that distributions are not necessarily informationally equivalent, how can a user determine whether one distribution is equivalent to another? This thread exposed at least three use cases relating to this question. 1.

[2019-02-13 22:32] #751 closed, assigned to nobody

[2019-02-13 22:48] riccardoAlbertoni commented on #93
If I have correctly understood the discussion we had in the [sprint call](https://www.w3.org/2019/02/13-dxwgdcat-minutes.html), all first classes dcat citizen can be  subject to versioning ( e.g. dataset, distribution, catalogs).  Am I wrong?

[2019-02-13 23:06] makxdekkers commented on #93
As far as I am concerned, you are right

[2019-02-13 23:08] agbeltran commented on #93
I agree - and we haven't discussed it much, but we actually need to consider ```dcat:Resource``` and services too in this context

[2019-02-14 00:43] agreiner commented on #642
@rob-metalinkage I don't quite understand your description of a "flat" version of a profile here. What I've been thinking of is one where the actual definitions of things appear in the profile itself rather than (or in addition to) references to other specs. So the flat version could be used on its own for guidance without the need for reference to all the parent specs. In that sense, the flat ver

[2019-02-14 09:13] makxdekkers commented on #93
@agbeltran If our decision is to allow versioning for all first-class citizens in DCAT, then this would also include `dcat:Resource` and `dcat:DataService`. The question is whether we would restrict this to the simple case (indicating version number/string and providing version info) or investigate the kinds of version relationships that would be relevant for those other classes.

[2019-02-14 10:09] makxdekkers commented on #411
@agreiner My take on that is that, once we decided that distributions are not necessarily informationally equivalent, there is no way that you can make sure that it is exactly the same data. The default position would be that it is **not** the exact same data. If you want to be sure to use the exact same data then you need to use the same file.
Would you suggest to create a property to link betwee

[2019-02-14 11:52] VladimirAlexiev commented on #642
@rob-metalinkage I didn't quite understand your comments about `dcat:Distribution`.
- what's the relation between `dcat:Distribution` and `ResourceDescriptor` and "artefact"?
- I think a `Distribution` has only one URL and may have several `format` (if that URL supports conneg)
- If the purpose of `ResourceDescriptor` is to describe the relation of the artefact to the profile, then it makes sense

[2019-02-14 11:55] riccardoAlbertoni commented on #93
@makxdekkers and @agbeltran:  I agree,  `dcat:Resource`, `dcat:DataService`  can be potentially versioned as well.  In my research activity, I have experienced a case in which even catalogs could be versioned.
By the way, my feeling is that there is a "core part" related to versioning which is not much depending on the subjects we are considering.

For example, both the unqualified relation [prov:

[2019-02-14 16:21] smrgeoinfo commented on #642
@VladimirAlexiev thanks for the correction to the example code, I made a fix in the [comment above](https://github.com/w3c/dxwg/issues/642#issuecomment-461122975).  [Your interpretation of my example](https://github.com/w3c/dxwg/issues/642#issuecomment-463047005) is consistent with what I was thinking.
Specification --> hasResource --> ResourceDescriptor(hasRole) --> hasArtefact --> Distribution

[2019-02-14 20:09] aisaac commented on #417
@agreiner I think I should have perhaps explicitly asked *you* for feedback, as you were the one creating the issue. Are you happy with the changes? If yes, then perfect. If no, then I'd invite you to create a new issue with suggestions, as this one is a bit crowded :-)

[2019-02-14 21:15] nicholascar commented on #638
Due to the Issue https://github.com/w3c/dxwg/issues/747 created based on Feedback, the substantive issues left in this Issue are now discussed there, therefore I'm marking this one "due for closing" since the original question's - about association classes - been answered, at least for now.

[2019-02-14 21:36] nicholascar commented on #476
We have moved far from the original discussion here as of Feb 2019 so I'm marking this for closing.

[2019-02-14 21:51] nicholascar opened #758 "Change name from Profiles Ontology to Profiles Vocabulary"
Triggered by two feedback comments (Tom Baker and another) a question was posed to DXWG members via the mailing list: "Could DXWG members please express an opinion here at to whether “Profiles Ontology” or “Profiles Vocabulary” or something else is more appropriate for PROF?" (https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Feb/0259.html) it appears that many members (6+) are in favour of

[2019-02-14 21:58] nicholascar commented on #658
Several PRs update diagrams and examples, principally PR https://github.com/w3c/dxwg/pull/745

[2019-02-14 21:59] nicholascar commented on #644
Addressed by PR https://github.com/w3c/dxwg/pull/734

[2019-02-14 22:00] nicholascar commented on #677
Addressed by PR https://github.com/w3c/dxwg/pull/757

[2019-02-14 22:26] agbeltran commented on #268
Further to discussions in the ProfGui sprint and some iterations in the Google doc, I propose the following text:

[code]

[2019-02-14 22:30] andrea-perego commented on #529
@aisaac , I share your interpretation of @smrgeoinfo 's proposal.

Making a comparison with ADMS/DCAT, `prof:ResouceDescriptor` is an intermediate entity (not present in ADMS and DCAT) linking a `prof:Profile` (which would be an `adms:Asset` in ADMS) to one or more artifacts (which would be an `adms:AssetDistribution` in ADMS). Consequently, all what is about format, data schema, etc. should be an

[2019-02-14 22:48] smrgeoinfo commented on #529
As I understand, the logic for prof:ResourceDescriptor is to implement a qualified association, so there is a role attribute on the link to the representations (prof:artefact, dcat:Distribution)

[2019-02-14 22:49] agbeltran commented on #268
Further minor changes:

[2019-02-14 23:06] andrea-perego commented on #411
@agreiner , I have the impression that the use cases you outlined are (at least partially) related to what discussed in https://github.com/w3c/dxwg/issues/433 , so my guess is that they can be addressed accordingly - i.e., if a dataset is published for re-use and/or for reproducing an experiment, the contained distribution(s) are those needed to do the job, and which should be used for doing what

[2019-02-14 23:12] andrea-perego commented on #93
+1 from me to not limiting the scope of versioning to some specific classes.

Said that, I wonder what actually means versioning a "service": is this about the version of the software and/or service interface? This can be already addressed by indicating the specification to which the service conforms to.

In other words, shouldn't versioning be related to content/data only?

[2019-02-14 23:32] andrea-perego commented on #529
@smrgeoinfo said:

Agreed. But if this is the only requirement, cannot this be done by specifying the role as a binary relationship instead?

[2019-02-14 23:41] smrgeoinfo commented on #529
@andrea-perego are you suggesting a pattern like
Specification --> roleRelation --> Resource --> representation --> Distribution, where the roleRelation would be 'hard-typed' i.e. named and defined in the spec?  Is there an existing property (besides dct:relation) for linking dcat:Resource to dcat:Distribution?

[2019-02-14 23:56] andrea-perego commented on #529
No - sorry for not having been clear.

The alternative option I see is to consider `prof:ResourceDescriptor` a "distribution" and not an association class - namely:

Profile - role relation -> Resource Descriptor - has artifact -> URI ref

[2019-02-15 00:11] smrgeoinfo commented on #529
Thanks for the clarification. So the role relations might be subtyped from 'hasResource'.  I see that could simplify things, but would (I think...) lose the ability to express multiple roles for a single resource descriptor, and to have different formats of the same ResourceDescriptor (they'd all be different ResourceDescriptor instances).
Personally, I prefer the option of making the role a prope

[2019-02-15 00:16] dr-shorthair commented on #84
@makxdekkers I did not derive a new requirement for dataset statistics - this was one of the original requirements taken from UCR.

However, I do wonder if time-series are such a common case that they might deserve special treatment. i.e. complement `dct:temporal` (coverage) with one more number - the item-accrual-periodicity. And since `dct:accrualPeriodicity` has been hijacked (in the DCAT conte

[2019-02-15 00:22] dr-shorthair commented on #728
The concern applies primarily to datasets that are time-series, which might be issued on a different schedule to the rate of addition of data to the dataset. For example, a dataset showing rainfall at 5-minute intervals might be formally published and registered just once a day.

The DCAT definition appears to specify the latter, while the DCMI definition encompasses both. I think we need to eithe

[2019-02-15 00:25] rob-metalinkage commented on #529
This is actually being discussed here: https://github.com/w3c/dxwg/issues/747

a dcat:Distribution is not an artefact - its a metadata class describing an artefact, and performs the exact same role - its a qualified association between the thing and the artefact. It is "aligned" with dcat:Distribution in a separate file - so the debate (IMHO) should be whether the profiles ontology should be norma

[2019-02-15 10:50] davebrowning commented on #411
@agreiner,  I think the 3 use cases you spell out are good tests of whether the WG is comfortable about the level of support we now have in the core vocabulary.  We're trying to balance the variation we see across domains/participants in what are seen as distributions of the same dataset (specifically - a very wide variation) and the need in some domains for much more precision. The now rather lon

[2019-02-15 14:04] davebrowning commented on #93
@andrea-perego said

This is the key question, isn't it?  We're certainly more interested in content/data than in versions of software but I'm struggling to see how that could work in practice.  For example, if I say that I'm using a specific version of a `dcat:DataService` and then the end point changes to a new version then it may behave differently - for example, if the previous endpoint had a

[2019-02-15 14:31] kcoyle commented on #658
Nick, could you make the changes available here for discussion, please. It's easier to discuss in a github issue than a pull request, and these are substantial changes that should be agreed by the group as a whole. Also, do not close an issue without discussion first. If these changes relate to discussions in progress (and it appears to me that they are) please alert those discussions to the chang

[2019-02-15 14:42] kcoyle commented on #529
@rob-metalinkage This is the first that I have seen that PROF is "constrained by design" to be normatively dependent on DCAT. That was not included either as a requirement nor in the documentation. I think this needs to be a question before it is an answer. If PROF is specific to DCAT then it should be part of the DCAT "family" and should not be presented as being independent (which so far it has

[2019-02-15 15:49] kcoyle commented on #728
Collection in Dublin Core relates to the [Collection Application Profile](http://dublincore.org/groups/collections/collection-application-profile/). It clearly comes out of the archival community. I will ask if anyone has examples of use. The wording is specifically about the addition of entries to a collection or a catalog defining a collection, not about publication. Presumably the periodicity o

[2019-02-15 22:13] andrea-perego commented on #728
@dr-shorthair asked:

Yep. This is definitely used.

According to [the report on usage statics of DCAT-AP in the European Data Portal (EDP)](https://joinup.ec.europa.eu/document/report-dcat-ap-use) (Oct, 2017), `dct:accrualPeriodicity` is used in 334,497 records - corresponding to 45% of the records of the EDP.

So, there's indeed a backward compatibility issue to be taken into account.

[2019-02-15 22:36] andrea-perego commented on #93
@davebrowning , I see your point, but what has changed is the version of software/API used, and this can already be specified via `dct:conformsTo`.

E.g., the following is a service conformant with CSW 2.0.2:

[code]

If the service is switched to the latest version of the CSW specification, its description would be:

[code]

The version here does not concern the service, but the reference specifi

[2019-02-15 22:43] kcoyle commented on #728
The [report](https://joinup.ec.europa.eu/document/report-dcat-ap-use) says: "Use of dct:accrualPeriodicity
We analysed the use of the property dct:accrualPeriodicity which indicated at what frequency a dataset is updated by its owner."

This does seem different from the semantics of the dct definition. I've asked in the DC community if anyone there has examples of use.

Although the definitions di

[2019-02-15 22:51] andrea-perego commented on #529
@smrgeoinfo said:

Actually, I don't think that in the scenario I was describing role relationships should be subproperties of `prof:hasResource`, as they express a different type of relationship. So, the idea is that the profile would be linked to a resource descriptor with `prof:hasResource` plus one of more role relationships. E.g.:

[code]

or (in case the domain of role relationships should i

[2019-02-15 23:08] andrea-perego commented on #93
Reading the discussion here and in the [last sprint on versioning](https://www.w3.org/2019/02/13-dxwgdcat-minutes), I understand that the vocabularies under consideration are DCTerms, PROV and PAV.

It may be worth mentioning that versioning was also addressed in ADMS, where specific properties are defined:

- `adms:last`: "A link to the current or latest version of the Asset."
- `adms:next`: "A l

[2019-02-15 23:19] andrea-perego commented on #93
Sorry, I forgot `adms:versionNotes` ("A description of changes between this version and the previous version of the Asset."), and that ADMS also re-uses `owl:versionInfo` (which in ADMS is used as "A version number or other designation of the Asset.").