[2019-02-15 23:48] andrea-perego commented on #76
I think we should consider here cases where "provenance" is expressed in a discursive way - e.g., when describing the dataset lineage (as mentioned in [UC9](https://www.w3.org/TR/dcat-ucr/#ID9)).

This is quite a common practice for scientific data and in some domains, as the geospatial one. In most cases, these lineage descriptions are such that they cannot be easily converted into a machine-acti

[2019-02-16 02:25] dr-shorthair commented on #728
Thanks @kcoyle - I thought my concern came down to thinking about whether the 'collection' under consideration is
(a) the Catalog, or
(b) the Dataset
But maybe that's not so clear cut.

And even "at what frequency a dataset is updated by its owner" still does not nail down "at what frequency items (values) are added to (spaced in) a time-series" since a daily dataset update might still include hou

[2019-02-16 14:51] larsgsvensson commented on #290
@rob-metalinkage
Thanks for putting this together. Just some spontaneous remarks on the different options.

Should that be `Content-Profile: URI[;token=mytoken]`? Otherwise I don't understand from where the client gets the mappings of URIs to tokens. In my understanding the message exchange would be:
[code]

This is the cleanest solution. If it works really depends on how many profiles will be reg

[2019-02-16 15:34] kcoyle commented on #728
@dr-shorthair I agree that there is a significant difference between adding items to a set and updating items in a set. The dct term, being from the archival world, it definitely about the former. So I could consider accrualPeriodicity to be about adding to the set, which in DCAT would be the catalog. Updating the dataset itself is closer in my mind to versioning, as the dataset undergoes a change

[2019-02-16 15:51] kcoyle commented on #644
@nicholascar I'm not convinced that this PR is a response to the question posed here. As I read it, the PR says:

[code]

but that's pretty vague: "things further up the chain". What does "profile" mean as a verb? Is anything a "thing" to be profiled?

Perhaps the diff doesn't show enough context and this snippet out of context isn't sufficient.

Also, there is still at least one reference to "inf

[2019-02-16 15:54] smrgeoinfo commented on #84
If I understand correctly, the concept @dr-shorthair is looking for is named temporalResolution in ISO19115-1, and is important for evaluating datasets that have temporal coverage. There is a corresponding spatialResolution property that is equally important if you're evaluating spatial data.

[2019-02-16 16:04] kcoyle commented on #268
Here's my understanding:

If we use "specfication" without saying more about the kind of specification, then one could conclude that a profile could be based on the banking rules of the IMO, which have no relation to metadata. This is my problem with using the term specification, because it is broader than what we are actually working with. I know that people hate the term "metadata" and there is

[2019-02-16 16:32] kcoyle commented on #529
I haven't yet seen a "live" PROF example of an artifact that plays more than one role. (I think this will be fairly common.) The artifact does not change when playing multiple roles. If the ResourceDescriptor describes the artifact - by analogy to a library catalog record describing a book - then you want one RD and multiple roles. This makes me reluctant to have the role in the RD graph because i

[2019-02-16 23:00] smrgeoinfo commented on #728
Isn't @dr-shorthair 's question about the temporal resolution of the data-- if the data set is reporting air temperature, are measurements recorded every minute, every hour, every day ...  The accessible representation for the dataset might be updated once a day or once a year, but that is orthogonal to the temporal resolution of the data.   There is a similar consideration for spatial resolution.

[2019-02-17 00:14] agbeltran commented on #268
I see your point and I would resolve it by including the definition of 'specification' in [section 1.1.](https://w3c.github.io/dxwg/profiles/#definitions) and I had added a placeholder in the google doc. In addition, we could refer to 'metadata specifications' to make it clearer.

[2019-02-17 00:26] andrea-perego opened #761 "Including adms:identifier in class descriptions"
`adms:identifier` is present only in the guidance section on identifiers.

I guess it should be at least added to the section describing class `dcat:Resource` as one of its properties.

[2019-02-17 00:30] andrea-perego opened #762 "Creating a specific section for data citation in DCAT"
Currently, there's a text about data citation in a note to [the section about `dcat:Dataset`](https://w3c.github.io/dxwg/dcat/#Class:Dataset).

Considering the importance of this use case, I would suggest we move it in a specific guidance section, extending it to explain the minimal set of information to be provided.

[2019-02-17 01:45] kcoyle commented on #728
@smrgeoinfo Re-reading his post, I think you are right, so in that case the dct property is definitely of a different nature (although still accruing and still periodic, but different subjects being acted on). The DCAT definition "frequency at which a dataset is published" is something else yet again. We may need a well-done chart to sort out the meanings and their combinations.

[2019-02-17 02:26] dr-shorthair commented on #84
@smrgeoinfo yes - I think we need to pair
- `dct:temporal` - Temporal Coverage - i.e. the temporal extent of the dataset, the time interval that this dataset describes
with
- `dcat:temporalResolution` - smallest time period resolvable in the data; e.g. temporal spacing of a regular time series

And, while I'm a little wary of treading too far down a path that should be managed through a geospatial

[2019-02-17 02:32] dr-shorthair commented on #728
Like I said - I think we probably just need to improve the wording around `dct:accrualPeriodicity`, or add a usage note, and then take care of the temporal (and spatial?) resolution separately (#84). Then we can cross-reference the two with a note that draws attention to the fact that these requirements are different, so are handled separately.

[2019-02-17 14:52] andrea-perego commented on #84
For spatial / temporal resolution, see [UC15](https://www.w3.org/TR/dcat-ucr/#ID15), which describes the general context and provides the relevant references.

These topics were discussed by the SDW WG, and then with the DWBP WG (in particular, with @aisaac and @riccardoAlbertoni ), which led to a proposal on how to specify it by using DQV.

The proposal is included as an example (focussing on spa

[2019-02-17 15:08] andrea-perego commented on #728
@kcoyle said:

Not necessarily. If the dataset is updated by adding new data items (e.g., adding new rows in a table), without modifying the existing ones, then we are in the same case of the catalogue - where each dataset can be considered as a data item.

We are talking here about different ways (not mutually exclusive) on how a dataset can be updated, and how they are relevant for users. I thin

[2019-02-17 21:32] andrea-perego opened #763 "Clarification on foaf:homepage / dcat:landingPage for dcat:Catalog"
`dcat:landingPage` is implicitly added to `dcat:Catalog` as inherited from `dcat:Resource`.

Since its use in this context semantically overlaps with `foaf:homepage` (legacy from DCAT 2014, and explicitly associated with `dcat:Catalog`), we need to clarify the use of these properties.

[2019-02-17 21:40] andrea-perego opened #764 "Making dct:accessRights a property for dcat:Resource"
`dct:accessRights` is currently explicitly associated with `dcat:Distribution` and `dcat:DataService`.

However, based on the discussion in https://github.com/w3c/dxwg/issues/160, this property could also apply to other resources (e.g., in DCAT-AP, it is associated with `dcat:Dataset`).

Based on that, I would suggest we make `dct:accessRights` also one of the properties associated with `dcat:Reso

[2019-02-17 21:48] andrea-perego opened #765 "Further elaborating class Organization/Person"
The [current definition](https://w3c.github.io/dxwg/dcat/#Class:Organization_Person) only refers to FOAF for describing them.

I would suggest we add a definition, to explain how agents are supposed to be used in the context of DCAT.

Moreover, FOAF may be not enough for describing them. E.g., when specifying the dataset creators, I may want to specify a persistent ID for them (as ORCIDs).

Finall

[2019-02-17 22:25] andrea-perego commented on #764
Sorry, I've just realised `dct:accessRights` is already associated with `dcat:Resource`.

Closing this issue.

[2019-02-17 22:25] #764 closed, assigned to nobody

[2019-02-17 22:42] andrea-perego opened #766 "Criteria for listing properties for each class"
Currently, the definitions of all subclasses of `dcat:Resource` have a paragraph listing all the properties inherited from such parent class.

The issue I see here, is that most of them are actually not going to be used for a given subclass of `dcat:Resource` (at least, based on the use cases and implementation evidence we have at the moment). Moreover, some of them may overlap with other properti

[2019-02-18 03:33] dr-shorthair commented on #84
I agree that DQV is _competent_ to satisfy the requirement, as shown in the examples.
However, I'm not sure it is _optimal_ for meeting it in the DCAT context.

For example, [the examples](https://www.w3.org/TR/vocab-dqv/#ExpressDatasetAccuracyPrecision) and [the summary above](https://github.com/w3c/dxwg/issues/84#issuecomment-464466483) present multiple kinds of 'spatial resolution', which may b

[2019-02-18 04:34] dr-shorthair commented on #85
For time-series datasets, temporal coverage should also be complemented by temporal resolution - see discussion at https://github.com/w3c/dxwg/issues/84#issuecomment-464409271

[2019-02-18 04:35] dr-shorthair commented on #83
For geospatial data, spatial coverage should also be complemented by spatial resolution - see discussion at [#84 (comment)](https://github.com/w3c/dxwg/issues/84#issuecomment-464409271)

[2019-02-18 08:04] makxdekkers commented on #765
@andrea-perego I guess we could at least delete the word "sufficient" from the usage note. I like your suggestion to add a link to https://www.w3.org/TR/vocab-org/ and maybe also to https://www.w3.org/ns/person?

[2019-02-18 08:10] makxdekkers commented on #766
@andrea-perego I agree that the current way of presenting is confusing. However, it is only in the diagram in Fig. 1; the list of properties under the classes in the text only list the ones that are actually recommended for that class. Would it be sufficient to align the diagram with the text by deleting the properties in the diagram that are not in the text?

[2019-02-18 10:15] makxdekkers commented on #84
@dr-shorthair It would indeed be good if there was a simple way to expose resolutions. There is in any case a need to express both value and unit, so for spatial resolution the range would be (something like) `schema:Distance`, and for temporal resolution (something like) `schema:Duration`.
Unfortunately, DCMI only has a class `dct:SizeOrDuration`, but not separate classes for Size and Duration. S

[2019-02-18 21:40] andrea-perego commented on #84
@dr-shorthair , I also agree that we need to address first the simplest use cases - and actually the reasoning in https://github.com/SEMICeu/GeoDCAT-AP/issues/3 was along those lines (the first example was about the two typical ways of expressing spatial resolution: distance and equivalent scale).

As @makxdekkers says, I see more an issue on the fact that we need to express value and unit of meas

[2019-02-18 22:02] andrea-perego commented on #766
@makxdekkers , yes, this could be an option.

However, after further review, I wonder whether we should change the approach, for a couple of reasons:

1. The current text denotes as "recommended" the properties specific to that class, and then lists those inherited from the parent class(es) (if any). I am afraid this approach can be misunderstood - i.e., a reader may think that the only important

[2019-02-18 22:13] aisaac commented on #268
+1 with @agbeltran , even though I may disagree with putting an additional definition, I think we shouldn't discuss the definitions in this requirement. It is only about saying that there can be several base specifications, not saying what a specification or (luckily for us here!) what this relation denotes.

All of @kcoyle 's comments apply to our official definition, so if there should be commen

[2019-02-18 22:16] aisaac commented on #268
By the way I have made a diagram to illustrate this requirement:

![multiplebasespecificationsexample](https://user-images.githubusercontent.com/649645/52978815-24cc5e00-33d3-11e9-9f11-e36c1070994e.jpg)

[2019-02-18 22:19] aisaac commented on #476
@nicholascar we have moved from the discussion, but we still need an abstract. The current text is clearly not enough. So I'd keep this issue, just as a reminder.

[2019-02-18 22:29] aisaac commented on #644
I agree with @kcoyle 's point about the interest of having the proposed changes discussed here, especially as PR #734 mixes two issues.

This said I don't think the text needs to do much, once we have agreed on the subproperty axiom. This issue is merely about specifying the semantics of the property with prof:isTransitiveProfileOf with respect to another property (prof:isProfileOf) it doesn't nee

[2019-02-18 22:33] andrea-perego opened #767 "Collecting implementation evidence for DCAT-2"
I started preparing a spreadsheet to collect implementation evidence, based on the table in the DCAT 2014 implementation report:

https://www.w3.org/2011/gld/wiki/DCAT_Implementations#Summary_of_terms_usage

You can find it here:

https://docs.google.com/spreadsheets/d/1eEVUuPFAGO2GjS5ocxylY8T1AlpqlwnOTc3er_Mhcv4/edit?usp=sharing

In the spreadsheet I added all the classes now in DCAT-2, along all

[2019-02-18 22:45] smrgeoinfo commented on #84
One issue with dqv is that in some engineering situations, resolution and precision are different.  Is there a problem with using schema:Distance as the value for SpatialResolutionAsDistance, and schema:Duration for TemporalResolutionAsDuration?

[2019-02-18 23:07] andrea-perego commented on #744
I have just realised DQV does have a specific section listing the addressed requirements from DWBP UCRs:

https://www.w3.org/TR/vocab-dqv/#requirements

[2019-02-18 23:43] agbeltran commented on #763
Adding clarification on usage of properties is always good, so I agree in the context of this issue.

About the semantic overlap between them, I think we could clarify when is relevant to use the properties in different ways for ```dcat:Catalog```, especially when describing a catalogue of catalogues. In this case, ```foaf:homepage``` will point to the main page of the catalogue and ```dcat:landin

[2019-02-18 23:53] andrea-perego commented on #84
@smrgeoinfo wrote:

Yes, the wording of the relevant section in DQV does not make this distinction, but the formal definition of the resolution in the examples does not bind the notion of resolution with the one of precision.

Maybe `schema:Duration` can work, as it is using a standard syntax encoding, but `schema:Distance` uses a literal where value and a code for unit of measurement are separate

[2019-02-18 23:54] kcoyle commented on #268
We have the term "specifications" in italics so I assume that the intention is to define it. Given that the expression "base specifications" is used in various places, I think we should define it instead of just "specifications".

My question is whether we will require that profiles include vocabulary terms. (If not, I'm not sure what the profile could consist of.) If so, we should say that any "b

[2019-02-18 23:58] kcoyle commented on #268
My re-write mainly is based on creating shorter sentences, because long ones with lots of clauses don't work well in English. Also, we should say that there is at least one base specification, not just that there can be more than one. This requirement is about "more than one" but I don't think we have a requirement that says "at least one" so it could fit here.

[2019-02-18 23:58] agbeltran commented on #766
@andrea-perego I agree that the text "The following properties are recommended for use on this class" for listing the class-specific properties only and separately listing the inherited properties is confusing.

I agree with your suggestion on how to fix this, and that would allow us to add specific details for properties in the specific context, even for those inherited that we are now only descr

[2019-02-19 00:27] andrea-perego commented on #766
Thanks, @agbeltran . Happy to help to work this out.

[2019-02-19 00:58] dr-shorthair commented on #766
I've been maintaining Figure 1 using a UML tool. That makes it easy to show inherited attributes as a whole, but it is not possible to pick-and-choose. So if that conflicts with the message we want to send, it would need to be re-drafted using different software (at some stage).

[2019-02-19 01:31] dr-shorthair commented on #84
@andrea-perego yes this is a bit of a perma-issue. There are too many representations of 'measure' or 'quantity' already, but none have achieved universal acceptance. Furthermore, most come with a lot of baggage (or at least are just one tiny part of some huge vocabulary, the rest of which we have little interest in in this context. That is the problem with your original DQV proposal: it makes the

[2019-02-19 07:47] aisaac commented on #268
@kcoyle. Point taken about the italics (or bold). My suggestion was precisely that if there's a (part of) sentence that suggests we're defining things in detail (and for the first time) here, then it should be moved elsewhere. So I'm going to be more explicit about my it. Here it is:

If there needs to be discussion about the def of base specification and inclusion of vocabulary terms, then it nee

[2019-02-19 08:41] makxdekkers commented on #84
@dr-shorthair While I do like the approach to provide a 'simple' solution for 'simple' cases, I do feel a bit uneasy to replicate something that is already there, i.e. the more 'fundamental' solution in DQV. If we promote this 'simple' solution, 'simple' cases -- using the DCAT-specific solution -- are not going to be interoperable with more 'complex' cases using a DQV-based solution. One could ar

[2019-02-19 11:00] riccardoAlbertoni commented on #767
see also #680

[2019-02-19 11:18] dr-shorthair commented on #84
Yeah. On the one hand, I'm usually one of the first to advocate strongly for re-use of existing solutions, particularly if they are from the W3C stable and have clearly been designed to integrate.
On the other I was somewhat put off by the complexity that is introduced as a further controlled vocabulary is required for the property semantics. I understand why DQV does it that way, to remain scalab

[2019-02-19 12:50] larsgsvensson commented on #290
@nicholascar scripsit:

I just re-read [the syntax section of RFC 8288 (Web Linking)](https://tools.ietf.org/html/rfc8288#section-3) and could not really find anything... Can you expand a bit on what this microformat looks like and where it's defined?

[2019-02-19 15:11] riccardoAlbertoni commented on #675
My understanding is that we have addressed the issue #675- "Comments to DCAT identifier section"  with a proper PR, so I am  labelling it as "due for closing".

[2019-02-19 16:20] kcoyle opened #769 "Are PROF roles misplaced in resourceDescription?"
If the PROF resourceDescription is analogous to the DCAT distribution, it is a description of a physical resource, essentially a file. The PROF role is the relationship between a profile and a resource. It is not the nature of the resource, and the resource can have different roles in association with different profiles. I can only think to illustrate this with a (crude) diagram:
![roles](https://

[2019-02-19 17:08] riccardoAlbertoni commented on #761
My understanding was that we had listed only terms which have normative status, namely old and new DCAT terms, and terms borrowed from other w3c recommended vocabularies (e.g., PROV, ODRL, SKOS).
dct and foaf are two exceptions, due to the fact that they are long-standing "standard".

Have I misunderstood it?

ADMS is a  W3C Group Note and  I am not sure if recommending vocabulary terms borrowed f

[2019-02-19 17:20] akuckartz commented on #761
This does not answer the question, but the ADMS vocabulary is online here: https://www.w3.org/ns/adms#

[2019-02-19 19:45] kcoyle commented on #761
Note that DC Terms is in the process of becoming an official ISO standard, which should help folks who are tasked to favor ISO standards. It will be iso15836-2. I'll send more info when I get it.

[2019-02-19 20:57] aisaac commented on #275
@jpullmann I'd really like to hear your opinion about possible duplication of this in the UCR!

[2019-02-19 21:10] aisaac commented on #275
Since one month the discussion has not been very active, and it seems that in the last exchanges, people were rather keen on discussing the general definition of profiles, not the title of this requirement, which captures only one specific dimension of it.

So I'm renaming it to one of the [last proposals](https://github.com/w3c/dxwg/issues/275#issuecomment-454572762) - I'm picking the shorter one

[2019-02-19 21:56] aisaac commented on #7
Call 19-02-2019: resolved: close #7 after Makx copies his info to the wiki page:

https://www.w3.org/2019/02/19-dxwg-minutes#x09

[2019-02-19 21:56] #14 closed

[2019-02-19 21:56] aisaac commented on #14
It's been done

[2019-02-19 21:59] andrea-perego commented on #14
Call 19-02-2019: resolved: close #14:

https://www.w3.org/2019/02/19-dxwg-minutes#x11

[2019-02-19 22:01] aisaac commented on #38
https://w3c.github.io/dxwg/ucr/#ID50 does not seem to be tagged with 'profile' in the Use Case and Requirements

[2019-02-19 22:05] agbeltran commented on #37
This issue was about ordering the list of 'related use cases' and 'related requirements' in the UCR document, and it has been addressed in the [UCR ED](https://w3c.github.io/dxwg/ucr/), so I'm closing the issue.

Discussed in call 2018-02-19: https://www.w3.org/2019/02/19-dxwg-minutes#x12

[2019-02-19 22:05] #37 closed

[2019-02-19 22:09] agbeltran commented on #32
The requirement numbering has changed, but this issue seems to have referred to changing the wording of the requirement about Version subject:
https://w3c.github.io/dxwg/ucr/#RVSS

It seems to me, it has been addressed and the issue can be closed.

[2019-02-19 22:20] andrea-perego commented on #84
@dr-shorthair , working towards a simple solution:

Following up from @makxdekkers 's and @smrgeoinfo 's comment on `schema:Duration`, cannot we make `dcat:temporalResolution` a datatype property, with range [`xsd:duration`](https://www.w3.org/TR/xmlschema-2/#duration)?

Re-using your example, this would be something like:

[code]

Unfortunately, the same cannot be done for spatial resolution.

[2019-02-19 22:25] andrea-perego commented on #680
My apologies for having opened another issue (#767) concerning a follow-up from this one.

[2019-02-19 22:36] andrea-perego commented on #761
@riccardoAlbertoni , +1 to check with @draggett .

However, my take is that we are not prevented from using "officially standard" vocabularies, provided that there's a versioning policy in place ensuring that the vocabulary won't disappear, and it won't be changed without taking into account existing implementations.

Although ADMS is not a Recommendation, the W3C preservation policy prevents it f

[2019-02-19 23:58] dr-shorthair commented on #84
Good point. Temporal resolution was the thing that triggered this discussion, and it is more mainstream - one dimension is so much easier than two or three.

Spatial resolution (as distance) is still relatively simple conceptually but does need an explicit UOM. If only XSD had a 'measure' type (and every other programming language for that matter ... computer-science fail IMHO)

[2019-02-20 01:17] agreiner commented on #766
I have a version of it done with OmniGraffle, which can also save as PDF or SVG (and other options as well).

[2019-02-20 01:40] agreiner commented on #417
I'm happy with it.

[2019-02-20 02:18] agreiner commented on #411
Since distributions can differ now in pretty significant ways, and since we are suggesting that publishers can use them for informationally equivalent resources (or not), it seems like we should be giving them a way to express that. Maybe something along the lines of @makxdekkers 's suggestion of an indication that one distribution is exactly the same data as another. Or it could be as simple as a

[2019-02-20 03:10] rob-metalinkage commented on #411
using dct:conformsTo could specify the profile - and hence information equivalence to that degree.

9or define a subproprty of it)

maybe we could use as a convention that a dataset is by default a trivial profile of itself, and S hasDistribution D dct:conformsTo S  indicates the distribution is the full dataset?

(there is still the issue of the informationr profile of the distriubution and the d

[2019-02-20 07:50] larsgsvensson commented on #514
Proposed text for the "related work" section:

[2019-02-20 07:50] larsgsvensson commented on #514
pinging @aisaac to review since he probably knows the most about how to use ARKs

[2019-02-20 09:07] #32 closed

[2019-02-20 10:49] dr-shorthair commented on #411
It is always the prerogative of the publisher or catalog provider to decide how much detail to provide, and where to attach it.

[2019-02-20 11:41] makxdekkers commented on #7
Added some stuff to https://www.w3.org/2017/dxwg/wiki/Main_Page#Application_Profiles.

[2019-02-20 11:41] #7 closed

[2019-02-20 16:09] riccardoAlbertoni commented on #84
@dr-shorthair wrote:

`dcat:spatialResolution [`
 `      a dcat:Measure ;`
`        dcat:amount 30.0 ;`
`        dcat:unitOfMeasure <http://qudt.org/vocab/unit/M> ;`
 `   ] ;`

 I am not very convinced about the need to mint a new property for dcat:unitOfMeasure.

`sdmx-attribute:unitMeasure ` is widely used,  W3C recommendations such as RDF data cube use it, and I  am concerned about introducing

[2019-02-20 20:24] rob-metalinkage commented on #290
fixed formatting in original comment so namespaces visible...

[2019-02-20 20:31] dr-shorthair commented on #84
Mind you, `xsd:duration` is not an OWL built-in https://www.w3.org/TR/owl2-quick-reference/#Built-in_Datatypes . So I'm thinking perhaps to leave the range open, but _recommend_ use of xsd:duration?

[2019-02-20 20:33] rob-metalinkage commented on #592
@pwin please review the discussion about tokens and issue #290 which should address these concerns.

[2019-02-20 20:39] rob-metalinkage commented on #510
ACTION-299 - Remove discussion of http options from doc as per #510 [on Lars G. Svensson - due 2019-02-27]

[2019-02-20 20:41] rob-metalinkage commented on #285
Addressed in document.

[2019-02-20 20:46] rob-metalinkage commented on #205
This issue is addressed by the use of URIs in conneg-by-ap and the provision of the profiles vocabulary and accepted requirements in the prof-guidance doc.

[2019-02-20 20:53] rob-metalinkage commented on #72
We have a common profile definition in use in all docs. Can we close this?

[2019-02-20 20:57] rob-metalinkage commented on #73
UCR has been updated since - this requirement is handled by conneg-by-ap - should this issue be closed.

[2019-02-20 21:01] dr-shorthair commented on #84
See proposal for `dcat:temporalResolution` in branch https://github.com/w3c/dxwg/tree/dcat-issue84-tres-simon -
- [definition](
https://rawgit.com/w3c/dxwg/dcat-issue84-tres-simon/dcat/index.html#Property:dataset_temporalresolution)
- [example](https://rawgit.com/w3c/dxwg/dcat-issue84-tres-simon/dcat/index.html#ex-dataset)

[2019-02-20 21:21] kcoyle commented on #205
Does this mean that we do not need to address this in profile guidance?

I ask because it seems that this fits in to describing profiles as being sets of resources, and it would be necessary for the members of those sets to be available/linked from the profile identifier. Without this I don't know how we will have a platform to talk about the profile vocabulary, as this would be the motivation to

[2019-02-20 21:30] kcoyle commented on #72
The wording I mention in https://lists.w3.org/Archives/Public/public-dxwg-wg/2018Sep/0400.html is still in the document. Let's keep this open until that is gone. It's a note so I'm pretty confident it'll eventually be removed.

[2019-02-20 21:49] andrea-perego commented on #675
Call 2019-02-20: resolved: close issue

https://www.w3.org/2019/02/20-dxwgdcat-minutes#x12

[2019-02-20 22:09] #675 closed, assigned to riccardoAlbertoni

[2019-02-20 22:23] kcoyle commented on #73
If "handled by" means it's in the draft already then I agree about closing.

[2019-02-20 23:34] dr-shorthair opened #770 "Add examples showing use of compression and packaging"
Makx to provide examples relating to #746

[2019-02-21 00:29] dr-shorthair commented on #84
@riccardoAlbertoni I understand, but reluctant to introduce a new namespace (and a big one too!) in order to access just a single element. Your comment about W3C RDF Data Cube is correct, but unsurprising that it uses elements from SDMX since it was explicitly based on SDMX. I'd want to see use of `sdmx-attribute:unitMeasure` outside the data cube context to be convinced of the proposition that it

[2019-02-21 00:34] dr-shorthair commented on #85
Proposal here: https://github.com/w3c/dxwg/issues/84#issuecomment-465752373

[2019-02-21 00:49] dr-shorthair opened #771 "Clarify the scope of `dcterms:identifier`"
It would be helpful to clarify that, in the context of a `dcat:Resource`, the value of a `dcterms:identifier` denotes the _resource being catalogued_.
This is different to the identifier for the _metadata record_ or _catalog entry_, which of course is the URI of the `dcat:Dataset` or `dcat:DataService` node, etc.

This in response to a discussion in a meeting of the Australian government geospatia

[2019-02-21 04:09] dr-shorthair commented on #84
See proposal for `dcat:spatialResolution` in branch https://github.com/w3c/dxwg/tree/dcat-issue84-sres-simon -

* [definition](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/index.html#Property:dataset_spatialresolution)
* [definition](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/index.html#Class:Measure)
* [example](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/in

[2019-02-21 07:50] aisaac commented on #417
Thanks @agreiner !

[2019-02-21 09:40] andrea-perego commented on #771
@dr-shorthair , I don't see the risk of confusion here.

`dcat:identifier` denotes the identifier of the subject resource.

So, for catalogue records, it's the identifier of the catalogue record (as what is called "metadata file identifier" in ISO 19115). This is also how it is used in DCAT-AP and GeoDCAT-AP.

[2019-02-21 10:11] kamhayfung commented on #677
The commit looks good to me.

[2019-02-21 13:02] smrgeoinfo commented on #771
If I understand your comment @andrea-perego, you seem to be saying the opposite of what @dr-shorthair is saying. An Identifier for a catalog record should be in the dcat:CatalogRecord; this would be gmd:fileIdentifier, but dcat:CatalogRecord does not include an identifier. My understanding is that identifier in the dcat:Resource identifies the described (subject) resource that the catalog record i

[2019-02-21 13:23] larsgsvensson commented on #677
Thanks for the feedback, Kam. In the CNEG meeting yesterday we decided to remove the use of OPTIONS altogether (cf #510). Bit of an irony, I admit...

[2019-02-21 13:38] larsgsvensson commented on #72
Any views from the DCAT team on the suggestion to remove the note at https://w3c.github.io/dxwg/dcat/#profiles and close this issue?

[2019-02-21 14:06] makxdekkers commented on #771
I agree with @andrea-perego. I don't see the confusion either.

[2019-02-21 14:18] nicholascar commented on #771
Agree with @dr-shorthair & @smrgeoinfo. In the same meeting as Simon and there really is confusion in ISO land. It really would be beneficial to make absolutely clear what the URI of the resource v. the `dct:identifier` are intended to be used for and how to split the metadata record v. resource identification.

By the way, the catalogues I've used that speak DCAT (the old one) don't ever contain

[2019-02-21 15:15] kcoyle commented on #72
pinging @davebrowning @agbeltran This is really just a formality, but can the note be removed? thanks.

[2019-02-21 15:40] kcoyle commented on #84
Once again I wonder about the reluctance "to introduce a new namespace (and a big one too!) in order to access just a single element." Can someone explain why a full namespace must be imported for the use of a single element? This appears to be a processing rather than a vocabulary issue, and *I* am reluctant to proliferate properties that have the same meaning when some are already available.

[2019-02-21 16:27] kcoyle commented on #771
I, too, have struggled with dct:identifer in the RDF context. dct:identifier predates DC terms in RDF, and was developed in a time when one created records that described a resource and gave a publicly visible identifier to the _resource_ being described. So a record for a book would have the ISBN as an identifier. I don't recall any solution for providing the identifier for the metadata record it

[2019-02-21 18:36] makxdekkers commented on #770
See https://github.com/w3c/dxwg/pull/772

[2019-02-21 19:52] fellahst commented on #731
I would like to share with you the results of OGC Testbed 14: Characterization of RDF Application Profiles for Simple Linked Data Application and Complex Analytic Applications Engineering Report
http://docs.opengeospatial.org/per/18-094r1.html (section 10 is relevant to this thread)

[2019-02-21 23:08] rob-metalinkage commented on #731
Thanks @fellahst .

The semantic grounding here is full consistent with the W3C profiles vocabulary:

"One or more subsets of vocabularies can be used to define an application profile. The concept of Profile is defined as a subclass of Dublin Core dct:Standard. A dataset used by a given application conforms (dct:conformsTo) to an application standard. A vocabulary can be used by multiple applicati

[2019-02-21 23:42] dr-shorthair commented on #83
See proposal for `dcat:spatialResolution` in branch https://github.com/w3c/dxwg/tree/dcat-issue84-sres-simon -

* [definition](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/index.html#Property:dataset_spatialresolution)
* [definition](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/index.html#Class:Measure)
* [example](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/in

[2019-02-21 23:58] dr-shorthair commented on #84
Thanks Karen - my concern is that we have our eyes open about the risks and benefits of re-using elements from other vocabularies, and the granularity of re-use. #111 is the place to have a general discussion of this topic.

For the range of the proposed `dcat:spatialResolution` nothing would make me happier than to be shown a solution that saves us from having to bloat DCAT with new data-types (s

[2019-02-22 00:01] dr-shorthair commented on #84
(shame there isn't an ISO standard for 'Length' complementing what ISO 8601 did for 'Time')

[2019-02-22 00:54] dr-shorthair commented on #771
@andrea-perego @makxdekkers This issue is not about changing usage or inferred semantics, merely about clarifying the explanation text, perhaps with additional usage note. The DCMI definition (which is what DCAT currently quotes) is failing to convey the intention to some willing users.

But from @kcoyle and @smrgeoinfo comments, and as @nicholascar confirms, there may also be some real ambiguity

[2019-02-22 01:20] kcoyle commented on #771
If it is known what the dct:identifier identifies then that can be used in the description, giving more context for users. The dct definition is purposely vague so as to allow the widest use. A specific description shouldn't conflict with that.

[2019-02-22 08:22] nicholascar commented on #629
@dret can you please comment on @rob-metalinkage's proposal above so we know if this will satisfy your request?

[2019-02-22 18:41] tombaker commented on #771
I'm not sure I see the problem here.  In principle, anything can have an identifier in the sense of `dct:identifier` - a book, or a metadata description of that book. The subject of an RDF statement is already an identifier (a URI), and RDF graph about the resource identified by that URI may not _need_ to have additional `dct:identifier` statements about that resource, but it could. Those identifi

[2019-02-23 14:32] akuckartz commented on #290
Please so not select a solution which depends on a central registry for profiles.

[2019-02-24 05:12] dr-shorthair commented on #771
OK - I think I see the problem here: it is about whether the RDF node that has type `dcat:Dataset` (etc) represents the dataset itself, or a catalog entry that describes the dataset.

I have been working on the assumption that the description-within-the-catalog is distinct from the dataset-in-its-repository, so the URI for the description is not the same as the URI for the dataset.

[2019-02-24 06:14] dr-shorthair commented on #84
See revised proposal for `dcat:spatialResolutionM` in branch https://github.com/w3c/dxwg/tree/dcat-issue84-sres-simon - simplified with units of measure fixed to metres:

* [definition](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/index.html#Property:dataset_spatialresolutionm)
* [example](https://rawgit.com/w3c/dxwg/dcat-issue84-sres-simon/dcat/index.html#ex-dataset)

[2019-02-24 15:33] kcoyle commented on #771
@dr-shorthair All of the property/object pairs with the subject IRI of the dcat:Dataset are about the resource that is an instance of the class dcat:Dataset. It's logical for that instance to have a dct:title and other descriptive properties. Any properties that describe the physical resource, such as bytesize, however, need to have the physical resource IRI as the subject of their triple, not the

[2019-02-24 21:22] dr-shorthair commented on #771
I'm thinking from a linked data point of view:

1. what do you get when you dereference the dataset URI?
    - I suppose it is a description of the dataset, structured as a `dcat:Dataset` RDF graph
2. does this `dcat:Dataset` have the same URI if it is listed in different catalogs?

[2019-02-24 22:19] agbeltran commented on #770
Examples added to ED, closing this issue.

[2019-02-24 22:19] #770 closed, assigned to makxdekkers

[2019-02-24 22:24] agbeltran opened #774 "Add dct:relation to the properties of dcat:Dataset"
The property is used in the examples for [loosely structured catalogues](https://w3c.github.io/dxwg/dcat/#bag-of-files), but not listed in the [dcat:Dataset properties](https://w3c.github.io/dxwg/dcat/#Class:Dataset).

[2019-02-25 02:31] dr-shorthair commented on #774
It is listed as one of the properties 'inherited' from `dcat:Resource`.

[2019-02-25 09:47] nicholascar opened #775 "Advisability of non-HTTP URI examples"
Some of the examples in Profile Conneg use URNs to identify profiles, for example [Example 1](https://w3c.github.io/dxwg/conneg-by-ap/#example-1-using-http-options-to-list-available-pr`ofiles) uses `urn:example:profile:1` alongside `http://example.org/profiles/2`.

Should we continue to use URNs in examples, given that Profile Guidance will indicate URIs should be used (see https://w3c.github.io/d

[2019-02-25 13:44] kcoyle commented on #38
resolved in plenary

[2019-02-25 13:44] #38 closed

[2019-02-25 13:45] kcoyle commented on #54
Incorporated into DCAT WD.

[2019-02-25 13:45] #54 closed, assigned to makxdekkers

[2019-02-25 19:14] makxdekkers commented on #771
Maybe this guideline for DCAT-AP is useful?

https://joinup.ec.europa.eu/release/dcat-ap-how-use-identifiers-datasets-and-distributions

[2019-02-25 19:25] makxdekkers commented on #775
@nicholascar Using URN in examples is not in conflict with the note "A profile _MUST_ have URI (or an IRI?) identifying it. The URI _SHOULD_ be an http URI". A URN is a URI, just not a http URI.

[2019-02-25 22:32] andrea-perego commented on #84
+1 from me.

[2019-02-25 22:55] andrea-perego commented on #84
I wonder whether we could consider adding properties for spatial resolutions not expressed as distance, namely, as equivalent scale - which is the other one most common way for specifying spatial resolution.

[2019-02-25 22:56] dr-shorthair commented on #771
Thanks @makxdekkers indeed that helps in that it lays out some of the issues and options, though I don't think it fully resolves it.

The geospatial metadata community wants to have an identifier for the dataset-metadata-record distinct from the identifier for the dataset, because they are managed and versioned separately. In a DCAT context that means that a `dcat:CatalogRecord` comes into play, s

[2019-02-25 23:01] dr-shorthair commented on #84
I'm reluctant to provide a second option at this level. As soon as you have more than one alternative, you begin to lose interoperability. I understand that '1:50,000' etc is the cartographic tradition, and geographers routinely infer resolution from this ('what is the distance on the ground of the thickness of a pencil line on the map?'). But a length measure is more direct and less ambiguous, an

[2019-02-25 23:11] nicholascar commented on #775
@makxdekkers yes, agreed. I suppose I’m questioning the advisability of URN examples, rather than ruling them completely incomparable. I’ll change the title to reflect this.

A legitimate answer to this issue might be that there is a continuing case for URNs and this examples using them are warranted. I never use URNs so I’d like to hear someone champion them if we are to keep using them in exampl

[2019-02-25 23:49] dr-shorthair commented on #83
Back to spatial coverage: unfortunately there are at least three respectable serializations of geometry in common use in different parts of the community:
- WKT - originally from OGC, now built-in to the Postgres extension PostGIS, and also used in [GeoSPARQL](https://www.opengeospatial.org/standards/geosparql)
- [GeoJSON ](http://geojson.org/) - which uses nested JSON arrays
- [schema.org/GeoShap

[2019-02-26 08:33] pwin commented on #723
ISO 11179 part 4 is another source of guidance on writing definitions of metadata standards terms:

[http://metadata-standards.org/11179/#A4](http://metadata-standards.org/11179/#A4)

[2019-02-26 19:31] jpullmann commented on #9
There was a controversial discussion on topic of restricting copies of Catalog metadata. Action on me to edit and align with Makx, [Action 02](https://www.w3.org/2017/07/18-dxwg-minutes.html#action02), yet to be done. Sadly, there is no concrete criticism, some of us simply considered [ID25](https://www.w3.org/TR/dcat-ucr/#ID25) out of scope. My rationale was: catalog metadata is precious, policie

[2019-02-26 21:13] nicholascar commented on #723
Hi @heidivanparys,

Thanks for these comments. We are now releasing the Profiles Ontology, now Profiles Vocabulary's Second Public Working Draft. I've now flagged this Issue you've raised for consideration in time for the Third Public Working Draft.

You'll see the Issue being addressed here.

Thanks,

Nick

[2019-02-26 23:29] akuckartz commented on #83
Compatibility between GeoJSON and JSON-LD 1.0 is problematic. I am not sure about JSON-LD 1.1 (see the discussion in https://github.com/w3c/json-ld-syntax/issues/7).

[2019-02-26 23:48] smrgeoinfo commented on #83
providing some guidance would be a boon to interoperability.  Being able to specify different SRS for the geolocation is nice for generality, but for interoperability, settling for something simple like an EPSG-4326 bounding box is much better.  Using Web UTM is popular, but won't work in polar regions.

[2019-02-27 05:03] nicholascar commented on #83
A plug for WKT here: it's much easier for the dataset processing my client agencies do to record WKT strings as RDF literals and then to pull those down and calculate spatial things with them as needed, given that Postgres etc can instantly use them.

It woul dbe interesting to know what spatial representations things spatially-enabled triplestores like. Perhaps @pwin can comment since he uses suc

[2019-02-27 15:33] #762 closed, assigned to agbeltran

[2019-02-27 21:40] agbeltran commented on #72
@kcoyle @larsgsvensson @rob-metalinkage  just to clarify, are you suggesting to remove the reference to this issue (in red) or the note (in green) or actually removing the whole section entitled 'DCAT profiles'?

I think it is ok to remove the reference to this issue, but I think it would be good to keep the section on 'DCAT profiles' adding some more text and pointing to the Profiles guidance doc

[2019-02-27 22:36] agbeltran commented on #432
thanks @agreiner for your PR  #778 related to this

we discussed in the DCAT group that it would be good to see examples on data services to show how the two proposed representations would deal with them - would you be able to provide an example of your representation @agreiner ? e.g. the equivalent to the examples already available for the current representation (e.g. https://w3c.github.io/dxwg/d

[2019-02-27 23:22] agreiner commented on #432
This is in the PR already, but it would look something like this.
Example 12

:dataset-004
  rdf:type dcat:Dataset ;
  dcat:distribution :dataset-004-csv ;
  dcat:distribution :dataset-004-png ;
.
:dataset-004-csv
  rdf:type dcat:Distribution ;
  dcat:accessService :table-service-005 ;
  dcat:accessURL <http://example.org/api/table-005> ;
  dcat:mediaType <https://www.iana.org/assignments/media-ty

[2019-02-28 01:07] kcoyle commented on #72
My main worry is about the sentence in the red box that reads: "Providing a model and formalization for profiles is planned to be an important part of the Dataset eXchange Working Group (DXWG)." Because in fact we will not be doing that. But I also assume that the red boxes with issues will not be in the final draft of the document.

Admittedly, having a section called "Profiles" (section 15) but

[2019-02-28 05:22] nicholascar commented on #758
addressed by PR https://github.com/w3c/dxwg/pull/768

[2019-02-28 08:56] davebrowning commented on #482
Addressed in  #746 and closing as agreed at  https://www.w3.org/2019/02/27-dxwgdcat-minutes#x08.

[2019-02-28 09:10] davebrowning commented on #411
As agreed/minuted in https://www.w3.org/2019/02/27-dxwgdcat-minutes#x08, the base issue here is to be closed as having been addressed in the various pull requests listed [here](https://github.com/w3c/dxwg/issues/411#issuecomment-461224085).

If there is a strong use case for support of complete/partial distribution semantics within the core vocabulary then either we can re-open this or (preferably

[2019-02-28 09:10] #411 closed, assigned to agbeltran

[2019-02-28 09:12] davebrowning commented on #259
Addressed in  #746 and closing as agreed at  https://www.w3.org/2019/02/27-dxwgdcat-minutes#x08.

[2019-02-28 09:12] #259 closed, assigned to makxdekkers

[2019-02-28 09:18] larsgsvensson commented on #195
As the one who created this issue almost a year ago, I have the impression that we have moved far away from my original question that was "how do we define 'schema' as opposed to 'profile'" where a "schema" is an implementation of a profile using a specific formalisation (e. g. ShEx or XML Schema). In my opinion this is being taken care of by the profiles ontology, particularly through the classes

[2019-02-28 10:11] nicholascar commented on #510
Addressed by PR https://github.com/w3c/dxwg/pull/781

[2019-02-28 10:12] #510 closed, assigned to RubenVerborgh, larsgsvensson, nicholascar

[2019-02-28 10:12] nicholascar commented on #677
Addressed by PR https://github.com/w3c/dxwg/pull/781

[2019-02-28 10:12] #677 closed, assigned to larsgsvensson

[2019-02-28 10:15] nicholascar commented on #775
Duplicate of https://github.com/w3c/dxwg/issues/690

[2019-02-28 10:15] #775 closed, assigned to larsgsvensson

[2019-02-28 10:20] rob-metalinkage commented on #690
Profiles may be referenced using either a URI or a token. If a URI is used it is recommended that it be a HTTP URI that dereferences to a description of the profile. URNs may also be used however systems will need to provide means to describe such profiles for given URN.  In the case of a short token the server is responsible for declaring the context by which the token may be resolved into a uniq

[2019-02-28 10:22] larsgsvensson commented on #690
suggested edit:

Other kinds or URIs, e. g. URNs may also be used ...

[2019-02-28 10:34] nicholascar commented on #679
(as discussed in the Profiles Negotiation sprint 2019-02-28)

The server will return a canonical list of profiles in the response's Link headers, however the server may also supply response content like this:

`text/uri-list` - fallback, unordered list of profile URIs
`application/ld+json` (any RDF format) - serialization of the Profiles Vocabulary
`text/html` - some human-readable version of the

[2019-02-28 10:41] #542 closed, assigned to larsgsvensson

[2019-02-28 11:09] nicholascar commented on #748
If a client requests a profile but gets a narrower profile, the Server should set its responses Content-Profile header to the profile identifier that the Client requested, not the identifier of the narrower profile as the client might not understand the narrower profile identifier.

[2019-02-28 11:15] nicholascar commented on #678
The Server may communicate what profiles it accepts for input (PUT/POST) by setting an Accept-Profile header in response to a HEAD request.

[2019-02-28 11:15] larsgsvensson commented on #678
Part of https://www.w3.org/2017/dxwg/track/actions/303

[2019-02-28 11:15] nicholascar commented on #678
The Client may then indicate the profile it is using to PUT/POST with by setting the Content-Profile header.

[2019-02-28 11:18] nicholascar commented on #663
This Issue depends on an answer to Issue https://github.com/w3c/dxwg/issues/662

[2019-02-28 11:49] nicholascar commented on #588
Will be addressed alongside Issues https://github.com/w3c/dxwg/issues/679 & https://github.com/w3c/dxwg/issues/290

[2019-02-28 11:53] nicholascar commented on #500
Currently, we don not see strong requirements to specify an order.

[2019-02-28 15:23] dr-shorthair commented on #83
Thanks for that link @akuckartz

IMO the key problem with the GeoJSON vs JSON-LD issue is that it is based on an incorrect assumption.
At its core, RDF is for semantics, while JSON is for data transport. JSON-LD is OK to transport RDF. GeoJSON is OK to transport geometry. But the details of representation of geometry are not about the semantics, they are about mathematics*. And RDF is not tuned fo

[2019-02-28 15:59] larsgsvensson commented on #45
OK, here is a straw-man proposal for some text to refer to existing standards for identifying and signalling profiles in HTTP. @dret does this address your issue?

# Existing standards for transporting profile information in HTTP headers
## Using Accept/Content Type together with the profile parameter
The HTTP Accept and Content-Type header fields [RFC 7231](https://tools.ietf.org/html/rfc7231) al

[2019-02-28 16:04] aisaac commented on #195
I agree we have made progress, but would be hesitant to close the issue until appropriate wording is added in the documentation.
Especially, I'd see that some of @larsgsvensson 's wording in the last comment would be quite nice in sections 3 and 4 of the profile guidance doc: https://w3c.github.io/dxwg/profiles/

[2019-02-28 16:23] kcoyle commented on #690
I think this would all be clearer if the examples were more "real" - using actual URIs not dummy ones. If you can't think of a real example for URNs then maybe they should be mentioned in the text but not shown in the example.

(In general I think that real-ish examples explain more than dummy ones because people may see something that they recognize. There's more meaning conveyed.)

[2019-02-28 16:30] kcoyle commented on #195
@aisaac : the text by @larsgsvensson refers specifically to PROF classes, which will probably not be referenced in those sections of the profgui document. Let's hang on to this, but we'll need to re-word it for the guidance document. I'll put a place-holder in the section 3 Google Doc because I don't know if we'll remember this.

[2019-02-28 16:37] aisaac commented on #195
@kcoyle ok I'll do the extraction myself, and now :-)
This is what I'm interested in:

Thanks for having put a link to this in section 3. Actually on second thought it may better fit with the explanation about how a profile is published (section 4) rather than the roles of profiles (section 3). But anyway having the reminder in section 3 will be perfect enough for the moment!

[2019-02-28 16:50] aisaac commented on #514
@larsgsvensson I'm not a big expert, in fact. But I think that what you've written is good!

[2019-02-28 16:57] aisaac commented on #514
@larsgsvensson in fact googling around I even found a real-world example (though I'm not sure it's very persistent and one of the profiles seems access-protected)
https://twitter.com/ISTEX_Platform/status/976450730121945095
check the MODS/XML and basic XML there (and their JSON is probably not MODS anyway, so the difference is not only about syntax)

[2019-02-28 20:20] agreiner commented on #482
Hm, #746 doesn't really address my use case. Indicating the compression and packaging algorithms used to combine multiple files into one doesn't help with the case where we have multiple separate files and don't want to combine them.

[2019-02-28 21:28] makxdekkers commented on #482
@agreiner I agree that https://github.com/w3c/dxwg/pull/746 doesn't address your use case. As far as I understand, a solution using `dcat:accessURL` or `dcat:landingPage` would give you a way to link to a set of files, although I admit that this places the solution outside of DCAT.
Would something like an rdf:Bag help here?

[2019-02-28 22:21] aisaac commented on #275
In the discussion 28-02-2019: "Profiles are uniquely named sets of constraints, such as data elements (e.g. classes and properties) that describe (meta)data."

[2019-02-28 22:32] agreiner opened #782 "Privacy concern with profile negotiation"
The Privacy and Security section states that "there are no known security or privacy impacts of this feature." There is one privacy issue that I think we should acknowledge. That is the fact that offering a list of acceptable profiles in the beginning of a negotiation can reveal information about the user's interests. It takes relatively few data points of that type to begin to compromise privacy.

[2019-02-28 22:38] agbeltran commented on #275
Further refinement from discussion 2019-02-18: "Profiles are uniquely named sets of data constraints, such as data elements (e.g. classes, properties, value domains) that describe (meta)data."

[2019-03-01 08:11] davebrowning commented on #482
Re-opening issue to track discussion between @agreiner and @makxdekkers - unless you want to open a separate new issue to discuss that use case.

[2019-03-01 08:54] larsgsvensson commented on #195
Interesting discussion (again), The point I unsuccessfully tried to make was that I don't think we need the term "schema" any more.

[2019-03-01 08:56] larsgsvensson commented on #690
No, I don't have any examples of published profiles that are identified by URNs. My point is merely to highlight that we're not restricting ourselves (or the spec) to http-URIs but that _any_ URI can be used as a profile identifier. I'm definitely not pushing for an example using a [data-URI](https://tools.ietf.org/html/rfc2397) though!

[2019-03-01 09:10] larsgsvensson commented on #514
@aisaac Thank you and great that you found an example! I'll include the basic example in my PR even if we don't know how persistent it is.

[2019-03-01 09:43] larsgsvensson commented on #782
Hi @agreiner ,

Hmm, the [Privacy and Security section of the current ED](https://w3c.github.io/dxwg/conneg-by-ap/#security_and_privacy) does talk about the possibility that http headers disclose information about the user. Is that what you mean or which document do you refer to?

[2019-03-01 15:30] dr-shorthair commented on #728
A new property `dcat:temporalResolution` is added by #776 - this accommodates the rate of addition of items in a time series. So I suggest that the definition of `dct:accrualPeriodicity` can be clarified by adding a cross-reference to `dcat:temporalResolution` as addressing a distinct requirement.

e.g.

[code]

[2019-03-01 16:08] larsgsvensson commented on #678
@kamhayfung I'm not entirely sure that this write-up addresses your concern but this is how I think about this.

From what I've understood there are two sides of this.
1. When a client pushes content to a resource on a server using PUT or POST there is no contract as to what the server will return.
2. The client does not know what profiles a server accepts for a given resource.lined out

For 1., m

[2019-03-01 16:36] larsgsvensson commented on #662
What I took home from the meeting in Lyon was that the profile _parameter_ used with the `Accept` header is used for profiles (or profile URIs) that are tied to specific media types, such as "flattened" (http://www.w3.org/ns/json-ld#flattened) or "compacted" (http://www.w3.org/ns/json-ld#compacted) in [JSON-LD](https://www.w3.org/TR/json-ld/#iana-considerations). `Accept-Profile` and `Content-Prof

[2019-03-01 16:57] larsgsvensson commented on #72
The only thing I can imagine would go into the section "Profiles" (§15) would be a general discussion of existing or future profiles of DCAT (e. g. DCAT-AP, GeoDCAT-AP, DCAT-AP.de etc.) and then a reference to the other profile documents, particularly profgui.
Otherwise I think the section can be removed.

[2019-03-01 18:43] agreiner commented on #782
This is what I see in the ED: "The use of HTTP to negotiate and transport implies that all privacy and security issues that are relevant for that protocol are also relevant for profile negotiation. E. g., information such as user agent, accept-headers, IP address etc. can potentially be used as identifying information, and particularly, the IP address adds information about geolocation and institu

[2019-03-01 19:20] agreiner commented on #482
I'm interested in finding a way that specific files within a dataset can be described in DCAT such that they can be reasoned about as individual entities. That would allow us to store metadata for each file from a set of log files and perform queries about temporal coverage or subject. Since we've now agreed that distributions can be informationally different, it seems that they come very close to

[2019-03-01 21:29] gkellogg commented on #662
Yes, looks good!

[2019-03-02 08:41] makxdekkers commented on #482
@agreiner I agree with you that this is an interesting discussion and we addressed this in several issues over the last year, e.g. https://github.com/w3c/dxwg/issues/52, https://github.com/w3c/dxwg/issues/317, https://github.com/w3c/dxwg/issues/411, https://github.com/w3c/dxwg/issues/531.
@dr-shorthair came to a conclusion at https://github.com/w3c/dxwg/issues/531#issuecomment-460885511, that "_th

[2019-03-02 11:17] agbeltran commented on #482
While we agreed that we shouldn't impose that distributions should be informationally equivalent, as in some cases we need more flexibility, we also discussed that the distinction between dataset and distributions is important.

To ensure that distributions are informationally equivalent would potentially require automated transformations between distributions. So, we still leave it to a judgment

[2019-03-02 11:20] agbeltran commented on #482
@agreiner maybe you have in mind a specific example where the distinction between dataset and distribution is maintained and there is still a need to provide more details about the distribution - if so, please let us know, but otherwise I think that adding more properties to the distribution will not be helpful

[2019-03-02 12:21] agbeltran commented on #69
While the 'profile-guidance' label was removed from this issue and the 'dcat' label was added instead, the [associated use case](https://www.w3.org/TR/dcat-ucr/#ID42) for this requirement refers to profiles rather than DCAT.

For DCAT, we have added ```dct:conformsTo``` for ```dcat:Resource``` (and therefore for ```dcat:Dataset```, see [here](https://w3c.github.io/dxwg/dcat/#Property:resource_conf

[2019-03-02 17:05] kcoyle commented on #69
I'm adding profile-guidance back in. It also logically is covered by the profiles vocabulary but I think they already have that covered in the roles. This will remind us that a paragraph about the kinds of guidance and usefulness thereof should be added to profgui.

[2019-03-02 19:55] agreiner commented on #482
My use case here is the one I described at the top of the thread, where we have log data for supercomputing systems. I realize this is a very specific domain, so I wanted to make suggestions of properties that would be more general. By "subject", I meant to identify the particular node for which the log file records data. It is "subject" in the sense of a thing being operated upon, not an abstract

[2019-03-03 08:28] makxdekkers commented on #482
@agreiner As far as I can see, there are two ways to understand "not informationally equivalent". You can read it as "don't have to be the same data", as in your case where the _same kind of data_ is recorded for _different entities_, such as 'nodes', sensors', 'stations' or what have you; and you can read it in the sense of "not exactly the same", for example as a result of profiling or lossy tra

[2019-03-03 19:13] dr-shorthair commented on #84
@riccardoAlbertoni Your contributions in Chapter 8 show some patterns for use of DQV for quality information.

Are you aware of a 'standard' way to provide basic dataset statistics using DQV or any other RDF vocabulary? e.g. minimum/maximum(/average) values for specified dimensions? I'm not seeing anything obvious in DQV or QB :-(  I guess it might be a dqv:Metric but I wonder if you could provide

[2019-03-03 19:34] agbeltran commented on #84
I was looking for the same thing and the relevant bit that I found is this DQV section on [statistics](https://www.w3.org/TR/vocab-dqv/#Statistics) that relies on an [extension of VoID](http://jiemakel.github.io/aether/#/) and thus too oriented to RDF datasets.

[2019-03-03 21:54] dr-shorthair commented on #771
GoIng back to my original comments, since there is confusion in a well-intentioned part of the user community, I believe some clarifications in the text are in order. The new chapter on identifiers explores some of the by-ways of identifier forms, but does not really address the semantics of the identifier-resource relationship.

As with all the DCT elements used in DCAT, merely re-iterating the e

[2019-03-03 22:03] kamhayfung commented on #677
No worries. I'll look into the Link header for our needs.

[2019-03-03 22:32] riccardoAlbertoni commented on #84
I am not aware of anything except  the examples mentioned by @agbeltran for the statistics oriented to RDF datasets, perhaps @makxdekkers knows more ?!?.

Anyway, I guess there is more than one way to do it.  For example, using   RDF data cube you can define your own qb:DataStructureDefinition.

if you want to describe statistic of datasets  such as Average,  Max, Min for the "fields" in the datas

[2019-03-04 00:11] kamhayfung opened #785 "List profiles for dynamic resources"
In 7.1 (https://www.w3.org/TR/dx-prof-conneg/#listprofilehttplink), an assumption is made that the resource URIs will bear static media and profile type information in a Link header, such as the "prof1" and "ttl" parts in http://example.org/a/resource.prof1.ttl

What if a server supplies content dynamically and does not wish to hard-code media type information in the URIs? In other words, would th

[2019-03-04 08:09] dret commented on #45
On 2019-02-28 16:59, Lars G. Svensson wrote:

that reads nice and balanced. thanks for the proposal!

[2019-03-04 08:13] dret commented on #629
On 2019-02-22 09:22, Nicholas Car wrote:

my apologies for the delay. i think this is covered by
https://github.com/w3c/dxwg/issues/45#issuecomment-468327805 now which
to me reads nicely balanced.

[2019-03-04 10:36] makxdekkers commented on #9
@jpullmann My opinion was that in some environments the attachment of licences and rights to metadata, e.g restricting copying, correcting, enriching, is considered to be problematic. Even attribution of the metadata could seriously affect re-use. A main issue is that, in RDF, 'metadata' is not a singular thing as it consists of a set of 'statements' (subject predicate object). So, to be able to s

[2019-03-04 14:08] kcoyle commented on #9
+1 to Makx. We had this very situation in the library world where a major source of data (that got copied into library catalogs world-wide) tried to impose a license. Not only was it offensive to the community, it was actually illogical because it could not be even defined much less enforced. Anything less than CC0 is a detriment to use and reuse.

[2019-03-04 17:22] larsgsvensson commented on #782
@agreiner OK, I see. If we change the last sentence to

[2019-03-04 18:33] larsgsvensson commented on #662
OK, thanks @gkellogg. I wrote [some text in #45](https://github.com/w3c/dxwg/issues/45#issuecomment-468327805) that is now part of a PR.

[2019-03-04 21:42] andrea-perego commented on #731
@rob-metalinkage wrote:

I think this could be indeed a useful addition to PROF. IMO, being able to discover if mapping rules are available to transform meta/data between schemas is quite a common use case.

[2019-03-04 21:44] kamhayfung commented on #679
@nicholascar , the content suggestions look fine. Will they be added in the spec?

BTW, for completness can a server return both the Link header(s) and the human-readable content in the same HTTP response?

[2019-03-04 22:04] rob-metalinkage commented on #679
I think it can...

NB

"The data sections of messages Error, Forward and redirection responses may be used to contain human-readable diagnostic information." [https://www.w3.org/Protocols/HTTP/HTRESP]

[2019-03-04 22:14] andrea-perego commented on #93
I don't remember if this was already mentioned, but another aspect of versioning may concern the resource "status" - e.g., draft, stable, deprecated, withdrawn.

The EU Publications Office maintains some reference code lists - the two that may be most relevant here are:
- [Dataset status](https://publications.europa.eu/en/web/eu-vocabularies/at-concept-scheme/-/resource/authority/dataset-status/?t

[2019-03-04 22:36] andrea-perego commented on #83
I'm all for WKT, but I would like to re-state a couple of issues mentioned earlier in this thread (see https://github.com/w3c/dxwg/issues/83#issuecomment-371650468):

1. The level of complexity of the proposed solution(s): As I mentioned earlier, the requirement in LOCN (and then in GeoDCAT-AP) was to reduce as much as possible the number of nodes in the graph between the dataset and the geometry

[2019-03-04 23:15] andrea-perego commented on #84
@dr-shorthair wrote:

I would also prefer to have one solution that fits all use cases, but we should also recognise that this two ways of expressing spatial resolution (i.e., distance and equivalent scale) are not comparable or convertable. So, IMO, the use of two different properties is more than acceptable.

BTW, my request is based also on an explicit requirement from GeoDCAT-AP - which is def

[2019-03-04 23:35] andrea-perego commented on #683
Just to note that the fix I mentioned in https://github.com/w3c/dxwg/issues/683#issuecomment-458878824 has been commited in ReSpec - see https://github.com/w3c/respec/issues/2051

So, we can remove all `class="informative"` from the UCR document.

[2019-03-04 23:38] andrea-perego commented on #702
Just to note that the fix I mentioned in https://github.com/w3c/dxwg/issues/702#issuecomment-458749886 has been commited in ReSpec - see https://github.com/w3c/respec/issues/2051

[2019-03-04 23:38] jpullmann commented on #9
@makxdekkers I see your point, normally it would not be individual meta-data instances but the entire catalog of interest to harvesters. In this case the policies are covered by dcat:Catalog/[dct:rights](https://www.w3.org/TR/vocab-dcat/#Property:catalog_rights) or a [dct:licence](https://www.w3.org/TR/vocab-dcat/#Property:catalog_license) reference. The UC was reflecting talks to industrial partn

[2019-03-05 00:17] #45 closed, assigned to nobody

[2019-03-05 00:33] kcoyle commented on #9
Does this bring anything new to what DCAT has defined? If not, then this can be considered resolved by dcat:license, dcat:rights, and dcat:hasPolicy.

[2019-03-05 00:55] kcoyle commented on #731
I'm not clear on what the OGC definition of schema actually entails, but this looks to me like the "domain model" boxes in the [Singapore Framework](http://dublincore.org/documents/singapore-framework/). The OGC document says: "Schema defines the structure and constraints on a conceptual model." Which is what we often see in UML diagrams. @andrea-perego it isn't obvious to me that this definition

[2019-03-05 09:12] makxdekkers commented on #9
In my opinion, there is no need for changes to DCAT. @kcoyle: there is no property `dcat:hasPolicy`; the current draft recommends to use `odrl:hasPolicy` "_in the particular case when rights are expressed via ODRL policies_".

[2019-03-05 10:00] larsgsvensson commented on #632
The current WD does not reference RFC 5988 any more, only to RFC 8288.

[2019-03-05 10:50] larsgsvensson commented on #785
@kamhayfung scripsit:

...

I don't think that's how it's supposed to work. [RFC 8288 §4.2](https://tools.ietf.org/html/rfc8288#section-4.2) says that the definitions of the link relation types are in the [IANA link relation type registry](https://www.iana.org/assignments/link-relations/link-relations.xhtml). In this registry the definition of "alternate" is taken from the [HTML 5 spec §4.8.6.1](h

[2019-03-05 13:00] larsgsvensson commented on #501
Just as a reminder to myself: The syntax for the profile attribute must somehow also allow the server to map a profile URI to a profile token. Cf. #290

[2019-03-05 15:54] kcoyle commented on #9
Thanks, Makx. I was reading from the DCAT outline which names the properties without prefixes

Property: hasPolicy

Obviously I should have looked further.

I also do not see the need for any changes and suggest that this be closed.

[2019-03-05 16:29] riccardoAlbertoni commented on #252
This issue has lost some of its importance considered the stage of DCAT development and that we have decided to reduce the number of examples. I think we might consider to close it...
@pwin: what do you think?

Shall we label this issue as "wontfix", or do we want to mark it with a new label, for example, "FoodForAPrimer"?

[2019-03-05 16:33] agbeltran commented on #252
I think it is good to tag it with ```dcat-primer``` and I've just created the label

[2019-03-05 17:42] agreiner commented on #782
Exactly.

[2019-03-05 20:52] agbeltran commented on #482
Further to @makxdekkers' comment, indeed by saying that distributions don't need to be strictly fully informationally equivalent, we don't mean that they can hold totally different data (and I am not talking about the data type as in @agreiner's example of log files, but about the data itself). So, in your use case @agreiner, those would be different datasets and not different distributions of the

[2019-03-05 20:52] agbeltran commented on #482
Link to the relevant section in the ED: https://w3c.github.io/dxwg/dcat/#Class:Distribution

[2019-03-05 21:03] agbeltran commented on #767
This report on DCAT-AP usage (https://joinup.ec.europa.eu/document/report-dcat-ap-use) that @andrea-perego referenced in #728 seems relevant for our implementation report.

[2019-03-05 21:18] andrea-perego commented on #767
@agbeltran said:

Please be aware that I used it in the spreadsheet to report implementation evidence from the European Data Portal.

[2019-03-05 21:24] nicholascar commented on #679
@kamhayfung: The proposal above is now in the document but there's a problem that needs to be fixed. For a HEAD request there's no body and for a GET request, the body content will necessarily be the default profile representation of the resource, so there's no room for the proposal body content above.

We'll try to resolve this ASAP.

[2019-03-05 21:40] rob-metalinkage opened #788 "Determine roles and role descriptions for profile resources"
Here are the current ideas for roles.  In TTL as this is a compact form for the different parts of each definition

:aggregatedConstraints a owl:NamedIndividual,
        skos:Concept,
        prof:ResourceRole ;
    skos:broader :fullConstraints ;
    skos:definition "Full Constraints not only for this Profile but also for all dependencies (Profiles or dct:Standards)"@en ;
    skos:usageNote "Use

[2019-03-05 21:42] andrea-perego commented on #731
@kcoyle , I understood @rob-metalinkage was referring to the notion of "SchemaMapping" in Section 10 of the OGC document @fellahst kindly shared:

http://docs.opengeospatial.org/per/18-094r1.html#Application_Profile_Metadata

Quoting:

And, yes, I think it may be worth considering adding in PROF resources about cross-walks / mappings, with a specific role. Actually, we need two roles and/or relati

[2019-03-05 21:56] agbeltran commented on #482
I added a bit more detail in the note about distributions - see PR: https://github.com/w3c/dxwg/pull/789

[2019-03-05 22:23] andrea-perego commented on #453
@nicholascar , @rob-metalinkage , I think the fact that this is a "preferred" token should be clarified in the property definition itself. Otherwise, readers will discover it only if they check the mapping with VANN - and they may be also confused, because of [the current the definition of `prof:hasToken`](https://w3c.github.io/dxwg/profilesont/#Property:hasToken) - quoting:

I would therefore sug

[2019-03-05 22:29] rob-metalinkage commented on #788
I think we should simplify and prioritise these - here is a straw man

:specification - human readable definition of the profile
:guidance
:constraints - constraints specific to the profile
:validation - provides validation resource for the profile (implies inclusion or import of inherited constraints)
:structure (schema?) - provides a machine readable structural description of a profile - such as

[2019-03-05 22:53] nicholascar commented on #731
Original suggestions by @kcoyle:

I've redrafted the diagram to remove these

I've bypassed this by just using an example where a Profile inherits a Resource from another Profile, not a Standard. While not incorrect, as @rob-metalinkage says in his first comment, there's no need to specifically bring in that detail into this example so we can reduce complexity here.

From @aisaac:

Would it help i

[2019-03-05 22:59] nicholascar opened #791 "PROF Voc & OGC Testbed 14: Characterization of RDF Application Profiles"
From https://github.com/w3c/dxwg/issues/731#issuecomment-466142008:

http://docs.opengeospatial.org/per/18-094r1.html (section 10 is relevant to this thread)

From https://github.com/w3c/dxwg/issues/731#issuecomment-466205587:

From https://github.com/w3c/dxwg/issues/731#issuecomment-469433064:

From https://github.com/w3c/dxwg/issues/731#issuecomment-469489973:

From https://github.com/w3c/dxwg/i

[2019-03-05 23:00] nicholascar commented on #731
OGC discussion quoted from here and taken up in Issue https://github.com/w3c/dxwg/issues/791

[2019-03-05 23:05] nicholascar commented on #485
@riccardoAlbertoni: there's general consensus here that there won't be a sub-property declaration made. Are you happy with this outcome? If so, I will close.

[2019-03-05 23:11] nicholascar commented on #535
The original issue of styling has been addressed so I'm marking for closure. Additional issues about roles' locations & namespaces exist to carry the remaining points forward.

[2019-03-06 00:06] nicholascar commented on #755
Discussion of these definitions is now taking place within a Google Doc [1] (read only), edit permissions for which have been sent to main participants here. If anyone else would like edit access, please email @nicholascar

[1] https://docs.google.com/document/d/1q8OTx2FxIapCCuNPIDnGYl_kzvJBLT2eAn4Zp6JHrUI/edit?usp=sharing

[2019-03-06 00:13] nicholascar commented on #689
Both diagrams now redrawn with well differentiated arrows, colouring of classes and a reduction in clutter. Re-issued diagrams now in main document: https://w3c.github.io/dxwg/profilesont/#eg-dcat-ap & https://w3c.github.io/dxwg/profilesont/#eg-hierarchy.

[2019-03-06 01:45] kamhayfung commented on #678
@larsgsvensson , `HEAD` header is intended to fetch a response from a server identical to a `GET` response except the body part. `Accept-*` headers will sound a bit odd in a `GET` response to a `GET` request which does not have a message body.

When your `HEAD` approach is applied to a RESTful service, the result will get interesting. Before a client creates resource 123 in the server, it can inte

[2019-03-06 09:08] makxdekkers commented on #453
I am not sure how I closed the issue. It was certainly not my intention, and I can't even remember that I did this. I must have clicked the wrong button.
By the way, I sent a message to the list (https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Feb/0007.html), with a suggestion for definition and usage note:

_Definition: “An alternative identifier for the Profile”
Usage Note: “To be

[2019-03-06 09:20] andrea-perego commented on #453
Just re-opening it.

[2019-03-06 09:25] makxdekkers commented on #788
Can I again make a comment about circular definitions? Saying that 'constraints' are 'constraints' or that 'validation' 'provides validation resource' or that 'mapping' 'provides a mapping' is not really helpful for someone who does not have the right background. Also, the use of 'provides' in the definition should be avoided -- it's much better to just state what it *is* rather than what it *does

[2019-03-06 12:03] RubenVerborgh commented on #678
No, that should be a 404.

[2019-03-06 13:51] andrea-perego commented on #453
@makxdekkers proposed:

I'm happy with the proposal, but, as I said earlier in this thread, it is important to make it very clear in the definition and usage note (and also in the property name) that this is the "preferred" token/identifier to be used - in analogy with `vann:preferredNamespacePrefix`.

[2019-03-06 13:57] kcoyle commented on #731
This was also commented on by Paul Walk:

# Diagrams - relationships
I find the diagrams quite difficult to understand. I think I'm unclear whether the diagrams represent entity relationships or object-oriented-hierarchies. These seem to be mixed together - for example the relationships between Standard and Profile. I guess it's not necessarily invalid for these to be mixed in this way, but I find

[2019-03-06 14:06] kcoyle opened #792 "Use of "standard""
From Paul Walk:

This describes a standard thus: "A Standard can be either a Base Specification (a Standard not profiling any other Standard) or a Profile (a Standard which does profile others)."

This is an interesting use of the word 'standard'. I appreciate that we have these imprecise terms, and that we have to arrange them somehow, and that this definition is not necessarily any worse than an

[2019-03-06 15:19] kcoyle opened #794 "ShEx community comment on resource descriptor"
While it could be useful to have properties to relate these ShEx artifacts to other types of artifact around a profile, we see that these relations are modeled in Profiles Ontology with `hasResource` pointing to a resource descriptor, which in turn has a role (`hasRole`) named by a SKOS concept (in a construct that resembles an RDF type declaration).  Modeling these as properties would more straig

[2019-03-06 15:20] kcoyle commented on #792
This was also noted in the ShEx community comments:

"The relation of standard to profile also seems unclear in practice.  Some people consider a specification to be a "standard" when published by a "standards" body such as ISO but not if published by, say, W3C or DCMI.  And yet, because the domain of `prof:hasProfile` is `dct:Standard`, one could infer that any profile profiled by another profile

[2019-03-06 15:24] kcoyle opened #795 "Comments on "inheritance""
From the ShEx community:

We were unsure what to make of "inheritance", as we are not aware of any generalized notion of inheritance that would make sense across implementation technologies. It would be helpful to motivate this with a testable use case, e.g., a server implementation which responds to Accept-Profile by calculating the "best" response for processing a Profile Ontology description. A

[2019-03-06 15:31] kcoyle opened #796 "Machine understanding of "profile""
From Leslie Sikos

The concept “Profile” has no clear machine-interpretable definition (only a human-readable description), and software agents can interpret nothing more from the ontology file that it is a subclass of dct:Standard.

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0020.html

[2019-03-06 15:32] kcoyle commented on #755
From Leslie Sikos:

Relationship with standard and de facto standard vocabularies and ontologies, such as Dublin Core, PROV-O, and SKOS, should be defined (more) clearly in the specification and formally in the ontology file itself. For example, the range of :isTransitiveProfileOf is defined to be dct:Standard—much more similar definitions would be needed.

https://lists.w3.org/Archives/Public/pub

[2019-03-06 15:46] kcoyle opened #797 "PROF relationship to other vocabularies"
From Leslie Sikos

Relationship with standard and de facto standard vocabularies and ontologies, such as Dublin Core, PROV-O, and SKOS, should be defined (more) clearly in the specification and formally in the ontology file itself. For example, the range of :isTransitiveProfileOf is defined to be dct:Standard—much more similar definitions would be needed.

https://lists.w3.org/Archives/Public/publ

[2019-03-06 15:47] kcoyle opened #798 "PROF namespace in document"
From Leslie Sikos

The namespace of PROF, https://www.w3.org/ns/dx/prof/, is a symbolic link only (gives a 404 error in the browser). The best practice is to point the namespace URI to the ontology file itself (for semantic agents), which in this case is https://www.w3.org/TR/2018/WD-dx-prof-20181218/profilesont.ttl, and to a dedicated webpage describing the ontology (for browsers), using content

[2019-03-06 15:51] kcoyle opened #799 "From SHACL: profile and "base ontology""
Comment in public comments list from Irene Polikoff:

**kcoyle**: Is this correct? If so, is there any thought of testing whether a profile is a valid profile? Meaning that it does not contradict the base. How would this be accomplished? If profiles we expressed in SHACL and the base ontology was also expressed in SHACL, one could think of ways SHACL could be used to check for validity of a profil

[2019-03-06 15:52] kcoyle opened #800 "From SHACL: profiles based on same ontology"
Comment in public comments list from Irene Polikoff:

https://lists.w3.org/Archives/Public/public-dxwg-comments/2019Jan/0001.html

[2019-03-06 15:54] kcoyle opened #801 "SHACL: clarification of "partially" and ConformanceTest"
Section 3.3 of the document says:

"A profile may be (partially) "implemented" by "schemas" (in OWL, SHACL, XML Schema...) that allow different levels of data validation"

Further, section 4.4 says:

"A profile should have human-readable documentation that expresses for humans the main components of a profile, which can also be available as machine-readable resources (ontology or schema files, SHA

[2019-03-06 16:04] kcoyle commented on #731
@andrea-perego If we include roles for mapping, it seems that there should be two (at least?) - mapping documentation and mapping schemas. In my world, unfortunately, most of these are just documents, such as http://www.loc.gov/marc/dccross.html.

[2019-03-06 16:23] kcoyle opened #802 "Does "profile of" require all or some elements?"
*From the Shex community*: It is also unclear to us whether it is helpful to describe the relation of a profile to its underlying namespaces in terms of a relation of Profile to Standard.  The standard-to-profile relation is characterized as one of general-to-specific, but when namespaces simply provide just a handful of their terms to a profile, it seems like a stretch to say that the profile is

[2019-03-06 16:24] kcoyle commented on #802
From the profgui meeting of Feb 28:

2. "profile of"
What conditions entail that one thing is a profile of another thing?
a. - any use of elements (classes, properties), even if minimal (e.g.
just use one DC term)[4 - Tom Bakers response]
b. - use of all of the elements from a "base specification" and possibly
add elements from another another specification and/or other constraints.
c. - use of a

[2019-03-06 16:24] kcoyle commented on #802
response from Lars:

a. is definitely too weak, d. feels a bit arbitrary. I tend to b. rather than c. even though I understand that there are corner cases where this can be hard. (When it comes to machine-processability I tend towards relatively strict definitions...).

https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Mar/0079.html

[2019-03-06 16:25] kcoyle commented on #802
Response from Makx:

I agree with Lars that b. makes the most sense. For example, the European DCAT-AP mentions each and every property in DCAT-2014 with a usage note. A profile could state "don't use property x" but it should say something about all terms from the specification it is a profile of.

Makx

https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Mar/0080.html

[2019-03-06 18:48] smrgeoinfo commented on #802
I like the approach that
1) a profile is a specification that restricts one or more other specifications in some way.
2) a specification consists of rules/conformance classes/constraints (choose your favorite terminology) that dictate how some particular data resource can be validated as conforming to the specification.
3) A specification is an abstract concept.  It is essentially like an FRBR wor

[2019-03-06 20:15] agbeltran commented on #72
@larsgsvensson that's exactly what I had in mind

[2019-03-06 20:21] agbeltran commented on #63
@andrea-perego:

The range for [dct:provenance](http://dublincore.org/documents/dcmi-terms/#terms-provenance) is [dct:ProvenanceStatement](http://dublincore.org/documents/dcmi-terms/#terms-ProvenanceStatement), so could it be a ```foaf:Document```?

[2019-03-06 20:47] rob-metalinkage commented on #802
@smrgeoinfo .. that is correct and well put.

I think that this might be worth adding into a section on conformance vs reuse.

Only tweak is to make sure people dont confuse artifacts in section 4 with the artifacts used to describe a profile itself.

[2019-03-06 20:50] riccardoAlbertoni commented on #63
@agbeltran wrote:

I haven't found the actual axiom or explanation saying that, but I guess `dct:references` and  `dct:isReferencedBy` are one the inverse of the other, so +1 to use

[code]

I might be wrong, but I don't see much restriction about dct:ProvenanceStatement, it seems just a class, which potentially can be anything.

[2019-03-06 21:07] kamhayfung commented on #689
They look much better. If there are significant meanings in the colours used in the diagrams, please document them, too.

[2019-03-06 21:54] agbeltran commented on #145
Just a note that this use case has not been added to the UCR document

[2019-03-06 23:02] rob-metalinkage commented on #731
i think we only need one role at this stage, because the format and the profile the artifact conforms to will provide information about "how it works" - if its XSLT then you expect it to be a schema mapping for XML. SHACL then for RDF. A PDF or HTML resource is going to be a document.  An implementer can declare specific profiles for what ever form of mapping document they want to make canonical i

[2019-03-06 23:09] nicholascar commented on #689
Yes, the caption for the first contains info about the colours:

I've added this to Figure 7's caption:

[2019-03-06 23:13] agbeltran commented on #62
@makxdekkers we were looking at this issue and the associated [use case](https://www.w3.org/TR/dcat-ucr/#ID35) that you had proposed, and we were not clear on how DCAT restricts a dataset to belong to a catalog - while the text in the spec is very catalog-centric, the RDF doesn't seem to impose any restrictions; were we missing something? And if there is currently a restriction on a dataset having

[2019-03-06 23:22] nicholascar commented on #689
All points addressed in PR https://github.com/w3c/dxwg/pull/804

[2019-03-06 23:24] andrea-perego commented on #85
This issue was discussed by the DCAT subgroup on 6 Mar 2019, and I got [an action](https://www.w3.org/2019/03/06-dxwgdcat-minutes#x12) to make a proposal.

My proposal is that we use the [ADMS / DCAT-AP approach](https://www.w3.org/TR/vocab-adms/#period-of-time) (which has already been tested in existing implementations), but define in the DCAT namespace two properties corresponding to `schema:sta

[2019-03-06 23:31] nicholascar commented on #799
@kcoyle

Yes

Yes, this is the nature of a profile.

Yes. This is one of the purposes of creating PROF with semantics that allow for the creation of profile hierarchies (`isProfileOf`) and ways of indicating resources within those profiles that serve certain purposes (`hasRole` + `ResourceRole` vocabulary) so that mechanics (code) can be written to do such testing against a profile and all the thi

[2019-03-06 23:36] nicholascar commented on #798
The first part of this issue has been solved for some time, see https://www.w3.org/ns/dx/prof/ by clicking on it!

We are working on providing other formats of the vocabulary (ttl, JSON-LD, RDF/XML) at its namespace and also an HTML page describing this (https://w3c.github.io/dxwg/profilesont/ns.html) but will only finalize these with later PWDs.

[2019-03-06 23:41] nicholascar commented on #801
This looks like a Guidance question whereas:

looks like it would benefit from Usage Notes in the vocab.

If Guidance can align its recommendations, the vocab will pick up usage notes from that - to ensure consistency.

[2019-03-07 00:08] andrea-perego commented on #83
This issue was discussed by the DCAT subgroup on 6 Mar 2019, and I got [an action](https://www.w3.org/2019/03/06-dxwgdcat-minutes#x05) to make a proposal.

I think it is probably better to split the proposal in two, and I would first go for the issue concerning the fact that we lack specific properties for specifying bboxes and centroids.

**Proposal 1**

So, my proposal nr. 1 is to define two cor

[2019-03-07 00:09] kcoyle commented on #799
The person you need to be asking is the one who sent the comment, Irene from TopBraid. You need to ask if she is satisfied by the answers.

[2019-03-07 00:36] kcoyle commented on #801
This needs a group-approved response. We can add it to an upcoming agenda. If there is agreement then the response needs to be given to the person who submitted the comment, and they should be asked if this is satisfactory.

[2019-03-07 00:40] kcoyle commented on #535
"styling"? can you be more specific? Thanks.

[2019-03-07 01:35] agreiner commented on #482
I think this is much more clear now. Thanks! It looks like our log files use case is going to be awkward for DCAT, but we are developing our own extension that should work.

[2019-03-07 02:02] agreiner commented on #698
I think Paul's interpretation is what we should be aiming for. He says "The opportunity, it seems to me, is for a documented application profile to offer a single, documented resource to facilitate automated validation of data which declares 'conformance' with that application profile." +1
The discussion around inheritance and traversing a graph just to check conformance seems to be introducing ba

[2019-03-07 04:34] akuckartz commented on #83
Example 2.c seems to have some redundancy: sf:Point and Point(...). Is that necessary?

[2019-03-07 08:42] makxdekkers commented on #800
I think these kinds of mapping approaches are outside of the scope of the PROF vocabulary.

[2019-03-07 09:05] makxdekkers commented on #802
It is better not to use words that have no clear meaning. '_Artifact_' is such a word, basically a synonym for '_Thing_'. It is much better to use a less ambiguous word. In the case of @smrgeoinfo's 'particular artifact' in point 2, something like '_data resource_' (see my suggestion at https://github.com/w3c/dxwg/issues/572#issuecomment-439384612) or '_instance of a dataset description_' could be

[2019-03-07 09:12] makxdekkers commented on #85
Why could we not simply re-use the schema.org properties? It seems such a waste to duplicate properties that already exist elsewhere.

[2019-03-07 09:34] kamhayfung commented on #785
@larsgsvensson , I asked [@mnot](https://github.com/mnot) if the following Link header is valid and he replied yes:

[code]

This clarifies how I would use the HTTP `Link ` header.

[2019-03-07 09:38] makxdekkers commented on #62
@agbeltran No, you didn't miss anything. The point came up in a discussion around the EU DCAT-AP and it was noted that the vocabulary is called the **Data Catalog** Vocabulary, not the **Dataset Description** Vocabulary, which seems to imply that a Dataset in the sense of DCAT must be in a Catalog. @chris-sepa made that point in https://github.com/w3c/dxwg/issues/62#issuecomment-396261725.
In the

[2019-03-07 10:05] jakubklimek opened #806 "Examples for dataset series"
#81 was closed by #651. However, I still haven't found specific guidance for my two common dataset series cases:
1. Dataset of all addresses in the Czech Republic split into datasets for individual (6000+) towns. - This is a dataset series divided by geographical region. How do I specify a single entity (dataset?) with all the information?
2. Dataset with budget information per year. Each year is

[2019-03-07 12:36] makxdekkers commented on #806
@jakubklimek DCAT is indeed silent about how you can model those kinds of relationships.
However, the approach you suggest, with a `dcat:Dataset` with no distributions connected to the multiple datasets using `dct:hasPart`, sounds reasonable. Even if the consumer did not understand the approach, they would still be able to find and use the individual datasets.
Having said that, I am not sure that

[2019-03-07 12:37] andrea-perego commented on #85
@makxdekkers , for the issues I personally see in re-using schema.org, see https://github.com/w3c/dxwg/issues/85#issuecomment-457961545

Re-summarising the point here:

Schema.org is an evolving vocabulary, and some properties get deprecated or replaced with other ones, based on the requirements of the schema.org community. This is actually what happened with `schema:startDate` and `schema:endDate

[2019-03-07 12:40] andrea-perego commented on #83
@akuckartz said:

This is how the geometry will be represented and encoded in GeoSPARQL. The type of geometry is specified both at the level of class, and in the WKT (or GML) literal.

[2019-03-07 12:50] andrea-perego commented on #85
I implemented the proposal for you to review via the following PR https://github.com/w3c/dxwg/pull/807

Preview here:

https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-rev-temporal-spatial-coverage/dcat/index.html#Class:PeriodOfTime

[2019-03-07 12:51] andrea-perego commented on #83
I implemented proposals 1 & 2.a for you to review via the following PR https://github.com/w3c/dxwg/pull/807

Preview here:

https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-rev-temporal-spatial-coverage/dcat/index.html#Class:Location

[2019-03-07 13:09] makxdekkers commented on #85
@andrea-perego I can't find information that `schema:startDate` and `schema:endDate` have been replaced by `schema:temporalCoverage`.
I understand your concern about stability of schema.org semantics, but I would be extremely surprised if the meaning of `schema:startDate` would change substantially and no longer be a point in time that marks the beginning of some event. I am also not aware that sc

[2019-03-07 13:22] andrea-perego commented on #85
Sorry if I was unclear, but with "replaced" I didn't mean that they have been deleted. What I meant is that now, for expressing temporal coverage, schema.org uses `schema:temporalCoverage` instead of `schema:startDate` and `schema:endDate`.

About the possible semantic changes to start/end date, I tend to agree with you. But, again, there's nothing preventing this from happening if the schema.org

[2019-03-07 13:37] andrea-perego commented on #84
Re-thinking about this, probably we should consider the option of specifying spatial resolution in 2 steps (which was one of the options discussed earlier):

[code]

One of the advantages is that it would be easier for people to reuse the main pattern `dcat:spatialResolution` / "specific property" in case they need to express this information in other ways (e.g., as per ISO 19115-1:2014, which inc

[2019-03-07 15:04] akuckartz commented on #83
LGTM !

[2019-03-07 15:52] kcoyle commented on #802
@smrgeoinfo 's #5 seems to be a new concept. Up until now I believe that all use of elements (properties and/or classes) from other vocabularies or profiles implied conformance.

5. "A profile may use elements from other specifications without inheriting conformance constraints from those specifications."

Also, when engaging in inheritance, how would you know which elements do not need to conform

[2019-03-07 20:29] rob-metalinkage commented on #800
out of scope except for the obvious mechanism of communities extending prof to define a specific role for a document or other resource that details differences between profiles. We cannot specify how such differences are described.  Profiles is only about statements of conformity, not about any other form of "closeness of information models" , but the support for inheritance hierarchies could help

[2019-03-07 21:19] nicholascar commented on #788
https://docs.google.com/document/d/1ddygq4EcKr1DzJykdhM_WxkkmTAoU1qQWsf8xuZxcKc/edit?usp=sharing

[2019-03-07 22:04] nicholascar opened #808 "Formally align PROF to DCAT"
Formally include DCAT alignment in the Profiles Vocabulary. The alignment would be made like this: `prof:Profile rdfs:subClass of dcat:Resource .`

### Changes
* `prof:Profile rdfs:subClassof dcat:Resource .`
* `prof:hasArtifact` replaced by `dcat:downloadURL` and `accessURL`
* `prof:ProfileResource rdfs:subClassOf dcat:Distribution .`

NB : prof:hasResource is not a sub-property of dcat:distribut

[2019-03-08 00:02] smrgeoinfo commented on #802
@makxdekkers thanks for that refinement.
@kcoyle the rest of 5 "The profile must express any relevant rules for the use of these sort of elements." is intended to answer that, but it need further thought.  I would assume that any domain and range constraints from the original element definition would need to be honored, if they exist.

[2019-03-08 00:35] andrea-perego opened #809 "Distribution vs DataDistributionService"
In [the section of the DCAT spec devoted to distributions](https://w3c.github.io/dxwg/dcat/#Class:Distribution), the following text is included in a note:

Reading the two first paragraphs (and especially the 2nd one), it seems that `dcat:Distribution` is replaced by `dcat:DataDistributionService` whenever the data is accessible via a service / API.

Unless I'm mistaken, this is not the case. When

[2019-03-08 00:46] kcoyle commented on #800
@aisaac Does this relate to any of the uses you described in [ID37](https://w3c.github.io/dxwg/ucr/#ID37)? It looks to me like it could. It could still be out of scope, but we can acknowledge that we are aware of the use case, but aren't prepared to get to that level of detail in this version.

[2019-03-08 00:54] kcoyle commented on #802
Thanks, @smrgeoinfo. I'm still not sure which (if any) of the definitions on the extent of "profile of" your definition selects. The big question is whether "profile of" implies using an entire specification or something else. The ShEx community response from Tom Baker debated that any profile using a handful of, say, Dublin Core properties mixed in with other namespaces can be said to be a "profi

[2019-03-08 02:17] rob-metalinkage commented on #802
Were are not talking about reuse or properties, only constraints that have conformance implications.  Axioms of the base specification must be respected but option elements remain optional elements unless your profile adds constraints.  AFAICT there is no concept "conforms to the whole specification" independent of "is consistent with all constraints".  (formal xxioms are a special type of constra

[2019-03-08 03:00] nicholascar opened #810 "Introduce mappingFrom and mappingTo properties"
The Resource Role *Mapping*, if found to be necessary or useful, might need `mappingFrom` and `mappingTo` properties defined to indicate what is mapped to what.

[2019-03-08 03:27] kcoyle commented on #808
"Resolves the debate about whether to force properties of distributions to be attached to the accessURL or allowed in the cataloged component (e.g. dct:format)"

Please say more about this, because I do not see how this "resolves the debate." What about this would change the validity of the use of dct:format for a catalog record rather than a digital file?

A disadvantage that I would add is that

[2019-03-08 14:19] kcoyle commented on #802
Rob, the question is different. I think you are responding to @smrgeoinfo 's #5, but above you seemed to agree with it. The question here is which of the options (a-d) laid out by the group do you see as being the meaning of "profile of"? We're trying to get consensus on this.

[2019-03-08 16:49] riccardoAlbertoni commented on #86
You can find below some of the possible solutions to support the representation of Usage Note, also based on discussion we had  with @andrea-perego and @agbeltran  at the last [DCAT teleconference](https://www.w3.org/2019/03/06-dxwgdcat-minutes).  Please let me know which is more reasonable for you so that I can prepare a   Pull Request.

**Solution 1 :**  Using skos:note and its subproperties ( e

[2019-03-08 23:37] andrea-perego commented on #86
Thanks for elaborating this proposal, @riccardoAlbertoni .

I would not opt for SKOS, as none of the documentation properties seems to denote "usage".

I would nonetheless support the use of a simple property, although not excluding the possibility of using a more articulated representation (in case people need it). So, I welcome the idea of providing a mutual mapping. BTW, as I mentioned during t

[2019-03-10 05:36] dr-shorthair commented on #809
Thanks @andrea-perego. I added those paragraphs on the basis of my interpolation from the examples that you provided, but I now see that I didn't get it quite right (I think the discussion is in #56, #166, #172). I had the impression that Services had been shoehorned into dcat:Distributions in some catalogs, as mentioned in

so the warning about backward compatibility was needed. But maybe not. So

[2019-03-10 17:02] andrea-perego commented on #809
@dr-shorthair said:

Yes, I would be in favour of dropping that part. Thanks for explaining the background for that, text, @dr-shorthair .

[2019-03-11 09:22] andrea-perego commented on #731
@kcoyle said:

Yep.

[2019-03-11 09:29] andrea-perego commented on #731
@rob-metalinkage said:

Not sure I completely get your point. What is needed is to say that X (e.g., the GeoDCAT-AP XSLT) provides mappings from A (e.g., ISO 19115) to B (GeoDCAT-AP). This of course needs to be modelled with relationships. Whether these relationships correspond or not to roles, this of course depends on whether roles are concepts (as it is now in PROF) or relationships themselves.

[2019-03-11 16:57] smrgeoinfo commented on #802
The problem I see is that meaning of 'use of' (in a-c above) is not clear enough to be testable. My interest is to assist client software to select representations of resources from various distributions documented in catalog records. I'm imagining that the metadata record will be able to declare that a distribution conformsTo some profile X, and this statement will be used by client applications

[2019-03-11 18:04] riccardoAlbertoni commented on #86
Thank @andrea-perego,
In principle, I like the idea of reusing the vann:usageNote.
I have recalled that we have used vann,  including vann:usageNote property with literals,  for documenting [DQV](https://www.w3.org/ns/dqv.ttl ).  Moreover, checking on the vann-related [LOV page](https://lov.linkeddata.es/dataset/lov/vocabs/vann),  vann looks very widely adopted.

My main concern is that at the mom

[2019-03-11 18:11] kcoyle commented on #802
@smrgeoinfo I agree that "use of" isn't clear. So if my profile states that it conforms to profileX, what do you expect that to mean in terms of actionability? What actions would you take? I think the trick is in your "meets certain requirements... etc." and we're trying to determine if there are requirements implied by profileOf. If there aren't then it isn't going to be actionable; if there are

[2019-03-11 18:43] smrgeoinfo commented on #802
Yes, the 'meets certain requirements' bit is the catch.  Going back to the [1-5 points in a previous comment](https://github.com/w3c/dxwg/issues/802#issuecomment-470227981), those requirements would have to be asserted in the specification for the profile and any base specifications for that profile.  If there are no requirements asserted by those specifications, then there isn't anything to confo

[2019-03-11 20:54] agbeltran commented on #86
I agree that as the VANN vocabulary is not available (getting 404 with the term http://purl.org/vocab/vann/usageNote), it wouldn't be good to recommend it. @larsgsvensson mentioned that this might be a server configuration issue, but the fact is that this seems to be a problem since last year (see https://github.com/w3c/dxwg/issues/233#issuecomment-387689821).

[2019-03-11 21:21] kcoyle commented on #802
That's the whole question here - PROF doesn't provide anything beyond "profileOf", and it has to have a definition. Defining it as "profileOf means X is a profile of Y" doesn't say anything. That's kind of like the Mr. Ed theme song: a horse is a horse of course. We're trying to get consensus on a meaning of profileOf when used in PROF. You seem comfortable with "uses some vocabulary" which seems

[2019-03-11 21:35] rob-metalinkage commented on #802
A specification with  no "conformance requirements" is a strange concept - even something like Dublin core has range declarations which are a constraint. If you narrow these, or narrow cardinality (i.e. make author mandatory) then profileOf is appropriate. These cases are all clear with the concept of constraints.

I think the "uses some vocabulary" phrase might actually be code for a more specifi

[2019-03-11 21:41] agbeltran commented on #86
@riccardoAlbertoni @andrea-perego I wonder if there is a particular reason you didn't refer to the [Data Use Vocabulary](https://www.w3.org/TR/vocab-duv/), https://www.w3.org/ns/duv, which we also mentioned on the last call?

While it is quite compact in its definitions, it does provide a class ```duv:Usage``` and a property d
```duv:hasUsage```:

[code]

However, I note that while the definitions

[2019-03-11 22:03] andrea-perego commented on #86
@agbeltran , use conditions are what licences are meant to describe. The purpose of "usage notes" here is to provide guidance on how to use (as well as how not to use) the data, indicate for which types of "experiments" they are fit, and/or advise about possible limitations, errors, etc. So, I don't think ODRL would be fit for this.

About DUV vs. DQV, I would go for the latter in this case. As yo

[2019-03-12 09:05] larsgsvensson commented on #86
Funny, I just tried it and it works for me... (redirects to http://vocab.org/vann/#usageNote):

[code]

[2019-03-12 14:26] kcoyle commented on #802
@rob-metalinkage We still need to know what "profileOf" means. Only then can we address how to write the defintion.

[2019-03-12 19:59] kcoyle commented on #739
@kamhayfung Thank you for your comment. The Profile Guidance document is still in early stages and we aren't sure how it will relate to the PROF and the CONNEG work. We should keep this around to remind us to think about this when we get to that point.

[2019-03-12 21:07] rob-metalinkage commented on #796
The statement "while the PROF ontology aims at setting constraints as well." is incorrect - so the machine understanding of "profile" is probably not the issue.

The actual machine understanding aspect of the profile ontology is limited to transitive conformance in the inheritance tree and discovery of other resources by role.  IMHO This can be addressed by clarifying the competency questions.

[2019-03-12 21:12] #728 closed, assigned to nobody

[2019-03-12 21:28] rob-metalinkage commented on #792
"one could infer that any profile profiled by another profile is, ipso facto, also a standard. "  is indeed rational. what else could it be?

The description has been updated  anyway to clarify, the comment supports the model proposed, so this issue could be closed. - its all essentially a  duplicate of  #802, #797 , #799 - these issues are all useful to make sure specific reviewers get targetted

[2019-03-13 02:08] rob-metalinkage commented on #755
Not sure I would agree - making Profile a subclass os dct:Standard means its substituable as the range of any dct:conformsTo predicate.  I dont think any other axioms are actually required.  The relationship to other vocabularies is otherwise simply OWA - we dont redefine anything that exists, and we dont need to specify what else may be useful.

[2019-03-13 02:54] rob-metalinkage commented on #795
This is implicit in the definition, and the improved wording for the defintions and usage notes will help, but it needs to brought out more explicitly since the notion seems so hard to grasp - transitive inheritance via isProfileOf is the key machine readable axiom.  This is to be addressed via #732

[2019-03-13 02:57] rob-metalinkage commented on #731
The original issue has been superseded by updated diagrams. Re-open with specific comments on new diagrams if relevant.

[2019-03-13 03:13] rob-metalinkage commented on #268
This issue is superceded by #755 w.r.t. updates in descriptions   There is no dispute about this requirement and it is explicitly handled in Profiles ontology examples.

[2019-03-13 03:13] #268 closed, assigned to agbeltran

[2019-03-13 03:15] rob-metalinkage commented on #788
Straw man list of roles and descriptions merged into current WD. closing this issue - open new ones about specific roles as required.

[2019-03-13 03:22] rob-metalinkage commented on #802
the object of a profileOf defines a set of constraints that must be met by resources conforming to the subject of the predicate, in addition to constraints directly defined by the subject profile.

[2019-03-13 04:21] rob-metalinkage commented on #808
"resolves" as in no reason _not_ to follow DCAT pattern.

no effect on conneg deliverable - this is about descriptions, not behaviours.

PROF would not be "specific to DCAT" at all - it would just use DCAT to support the same "cataloguing of resources" pattern - and arguably could introduce DCAT to a wider audience.

[2019-03-13 06:47] #514 closed, assigned to aisaac, larsgsvensson

[2019-03-13 06:48] #782 closed, assigned to nobody

[2019-03-13 11:13] RubenVerborgh commented on #290
I find "a short token […] may be used" to be vague. Which party can use it, and which party is responsible for this mapping?
Does a server necessarily need to understand that short token? Is the mapping from short tokens to URIs a universally agreed one? If not, does that mean that different service can interpret different short tokens differently?

Or are short tokens… universal? Like a sort of U

[2019-03-13 13:11] kcoyle commented on #792
@rob-metalinkage I don't think this is the same as those comments. They are not totally unrelated, but each has its own meaning.

What you have here is someone who disagrees that all profiles are standards. Do you have a way to resolve this? Obviously this person DOES think it could be something else. You could ask for clarification as to why they do not think that subclassing profile to standard

[2019-03-13 13:15] kcoyle commented on #795
@rob-metalinkage You probably will need to explain what you mean by "transitive inheritance" as that may not be in everyone's vocabulary. We've also talked in many other issues about defining explicitly what inheritance means in terms of axioms. Nick did an example at one point, but if we expect it to be actionable then some precise algorithms are going to be needed.

[2019-03-13 13:18] kcoyle commented on #731
@rob-metalinkage No, it hasn't. I asked for other changes above. You only close when everyone agrees to close. Plus, I don't see Figure 3 in the document now at all.

[2019-03-13 13:26] kcoyle commented on #268
@rob-metalinkage please ask others if they are ready to close. Do not take unilateral actions. The "due to close" label helps this.

[2019-03-13 13:40] kcoyle commented on #802
@rob-metalinkage What predicate? This is the first time it has been defined on the predicat, although that is logical. Is a profile a set of predicates? That would make this more clear. Can a profile be more than predicates?

Here's where I think the confusion comes in. "Profile" itself is being defined  very broadly as a set of documents, some of which don't even have predicates. In fact, they ma

[2019-03-13 13:54] kcoyle commented on #808
@rob-metalinkage What is not resolved is that following DCAT does not correct the issue with dct:format. It also does not resolve the question in #769 about separating roles from artifacts. Using the DCAT classes and properties may be fine, but Nick's final pro point is not correct here. And that is a very concrete reason not to follow the DCAT pattern.

[2019-03-13 14:11] kcoyle commented on #788
Strawman list of roles is not "determine roles".

[2019-03-13 14:56] larsgsvensson commented on #422
I think this can be closed since we have a structure for the main document

[2019-03-13 15:00] larsgsvensson commented on #662
The text I wrote about this in #45 has now been merged so I think we can close this issue

[2019-03-13 16:34] larsgsvensson commented on #290
@RubenVerborgh yes, tokens are underspecified as the document is written right now. I _think_ (@rob-metalinkage and @nicholascar might disagree...) that:
* The canonical names for profiles MUST be URIs
* Servers supporting profile negotiation (or [profile indication](https://github.com/ProfileNegotiation/I-D-Profile-Negotiation/pull/4)) MAY supply a 1:1 mapping from token names to URIs.

Further,

[2019-03-13 18:20] makxdekkers commented on #731
I still have no idea what `isInheritedFrom` means. The definition "_A Profile's Resource Descriptor has been inherited from a base specification_" is entirely circular. Moreover, in Fig. 5, if RD2 refers to the same artifact as RD1, I would assume RD1 and RD2 to be identical.
And how is it possible that Profile Y links to two different constraints files? The diagram would make sense to me if there

[2019-03-13 19:22] RubenVerborgh commented on #290
Okay, but what would be the benefit of such a one-server mapping? It wouldn't really save bandwidth, and the client would still need to know what it is looking for.

[2019-03-13 20:01] rob-metalinkage commented on #290
Notes:
1) many servers already support such a one-server mapping for what are logically profiles of a resource - these can be described, so adding a list profiles method makes these APIs conform to this spec
2) the Profiles vocabulary supports a "preferred token"

[2019-03-13 20:27] larsgsvensson commented on #195
Resolved for conneg: https://www.w3.org/2019/03/13-dxwgcneg-minutes.html#x06

[2019-03-13 20:35] agreiner commented on #792
This question gets at the formality of profiles. I think they are less formal than a standard, without the same implication of vetting by some official group of people.

[2019-03-13 20:37] larsgsvensson commented on #662
Closed in cneg meeting 2019-03-13

[2019-03-13 20:37] #662 closed, assigned to larsgsvensson

[2019-03-13 20:49] larsgsvensson commented on #632
Closed in conneg meeting 2019-03-13

[2019-03-13 20:49] #632 closed, assigned to nicholascar

[2019-03-13 20:49] rob-metalinkage commented on #592
@larsgsvensson to add statement about URL length - propose it here. In practice tokens are available which makes this unlikely to be an issue, and identifiers probably are not going to be long complex URLs with their own query parameters (thats bad identifier design)

[2019-03-13 20:50] larsgsvensson commented on #422
closed in conneg meeting 2019-03-13

[2019-03-13 20:50] #422 closed, assigned to nicholascar

[2019-03-13 20:52] larsgsvensson commented on #287
Closed in conneg meeting 2019-03-13

[2019-03-13 20:54] larsgsvensson commented on #285
Closed in conneg meeting 2019-03-13

[2019-03-13 20:54] #285 closed, assigned to nobody

[2019-03-13 20:56] #73 closed, assigned to RubenVerborgh

[2019-03-13 22:13] smrgeoinfo commented on #792
This underscores the argument for talking about 'specifications' instead of 'standards'.  The level of authority of a specification is really up to the user, what is important is that there is some public documentation that makes it clear what 'conforming to x' (whether x is a spec or standard) means.

the sentence in the first comment in this thread would then read
"A specification can be either

[2019-03-13 22:57] rob-metalinkage commented on #792
remember we are subclassing dct:Standard and hence using its loose defitinition of standard - there is nothing about formal recognition of standards bodies etc.

One comment has suggested renaming Profile to be Specification.  I do not favour this because it doesnt add anything to the definition of dct:Standard except a better name, and the Profiles Vocabulary is specifically scoped to address nee

[2019-03-14 02:08] dr-shorthair commented on #432
In DCAT meeting today we agreed to collapse DDS into DS, and see if we can call it done for the current iteration of DCAT.
https://www.w3.org/2019/03/13-dxwgdcat-minutes#x05

Much discussion of whether (web) data-applications are also services, or something else, what the relationship between UIs and APIs is, whether they are the same service, how many entries in a catalogue, whether a landing pag

[2019-03-14 08:17] heidivanparys commented on #418
It seems that the wrong definition from [Oxford English Dictionary](https://en.oxforddictionaries.com/definition/specification) was chosen. The one referred to in the guidance refers to the process of specifying, the one actually meant is the one that should refer the the outcome of specifying.

[Oxford English Dictionary](https://en.oxforddictionaries.com/definition/specification) also has a defi

[2019-03-14 10:28] makxdekkers commented on #86
(Already sent by e-mail: https://lists.w3.org/Archives/Public/public-dxwg-wg/2019Mar/0275.html)

I think we need to be careful. A statement of this kind by an individual has less weight than a statement from organisations like W3C or Dublin Core. A person might not be able to honour that commitment -- as in the case of the Canadian cryptocurrency exchange.

A problem is that the vocab.org site rec

[2019-03-14 11:59] larsgsvensson commented on #663
#662 has now been resolved and closed. @nicholascar: is there anything left to do here?

[2019-03-14 13:56] davebrowning commented on #432
The proposal is in branch annette-dataservices with attendant deferred PR #816 where the details can be reviewed etc

[2019-03-14 14:16] riccardoAlbertoni commented on #767
I suspect this issue is not for the milestone DCAT CR.
The implementation evidence is collected once that we have the Candidate Recommendation.

That is what I have understood following the discussion during last plenary, and in particular,
considering what Philippe Le Hégaret said at 21:22:22 in the [plenary minutes](https://www.w3.org/2019/03/12-dxwg-irc):

and also reading the [Candidate rec se

[2019-03-14 14:17] smrgeoinfo commented on #792
@rob-metalinkage, I like the language to get around baggage for 'standard' ("the term Standard derives from the usage in Dublin Core which does not proscribe any specific status, other than some community using it as a reference point.") +1.
I'd need to review the text, but perhaps instead of trying to add 'Specification' as a class, we could just define the term and use it in the document text wh

[2019-03-14 14:43] agbeltran commented on #767
@riccardoAlbertoni

Yes, that was my understanding too. This issue had ended up in the CR milestone simply because I renamed the milestone we were using. I have now created a different milestone and moved this issue there. Thanks.

[2019-03-14 15:04] kcoyle commented on #792
Is there a need for a class at all? All properties default to being in the class rdf:Resource. What does adding dct:Standard gain us here?

[2019-03-14 15:38] davebrowning commented on #292
Is this issue now closable?

[2019-03-14 15:47] davebrowning commented on #84
@andrea-perego - do you see this issue as critical or can this be moved to the backlog?

[2019-03-14 15:53] pwin commented on #767
https://github.com/pwin/DataPortalAnalysis has some code and results of the classes of subject and object together with numbers of triples for a wide range of predicates.  This can be extended

[2019-03-14 16:22] larsgsvensson commented on #592
I propose the following text to be added to [§7.2](https://w3c.github.io/dxwg/conneg-by-ap/#qsa) right before the subsection "Key Naming" (possibly as a note):

Since Query String Arguments use URIs (or URLs) to convey important information, implementers should ensure that the total length of the URL does not exceed possible length restrictions. [RFC 7230 §3.1.1](https://tools.ietf.org/html/rfc723

[2019-03-14 16:33] kcoyle commented on #86
I'm attempting to ping Ian Davis (vocab.org) to see if he knows something. I'm confused because Lars was successful so I'm wondering in PURL just isn't unreliable. Is there a reason why we can't use the vocab.org namespace?

[2019-03-14 16:36] riccardoAlbertoni opened #820 "add Info on how adequate DCAT implementation experience will be demonstrated"
In the Candidate Rec, we have to explain  how adequate implementation experience will be demonstrated.
This can be done in the section "Status of This Document", similarly to what [Data on the Web Best Practices](https://www.w3.org/TR/2016/CR-dwbp-20160830/) did in his first candidate REC.

Info about the approaches that we are going to follows are discussed in issue #767.

[2019-03-14 17:22] makxdekkers commented on #86
I think we can't because vocab.org says the canonical URIs are in purl.org. It's like referring to dublincore.org for the DCMI terms.

[2019-03-14 17:38] iand commented on #86
This is correct. However as far as I can tell the URIs are still resolvable.

They are not hosted on purl.org but are registered as a redirect to vocab.org so there should not be any issue with purl.org changing owner.

It's a shame that the purl.org URIs appear to have some availability issues, but this is the web so occasional temporary breakages are to be expected. The meaning of the URIs stand

[2019-03-14 18:28] nfreire commented on #292
From my point of view, yes, the ticket may be closed, since the requirement is being addressed in the other tickets.

[2019-03-14 22:22] agbeltran opened #821 "remove dcat:DataDistributionService as separate class, move properties and links to dcat:DataService"
As agreed in DCAT call 2019-03-13:  https://www.w3.org/2019/03/13-dxwgdcat-minutes#x05

Any potential extension and elaboration of data services will be recorded in the backlog for future work

[2019-03-14 22:25] agbeltran commented on #821
from #432

[2019-03-15 08:20] davebrowning commented on #292
Thanks, @nfreire

[2019-03-15 08:20] #292 closed, assigned to agbeltran

[2019-03-15 09:30] makxdekkers commented on #792
The reference to dct:Standard specifies the kind of things a profile applies to. It does not apply to things that are not specifications of entities, attributes and relationships, at least not as it is currently defined.

[2019-03-15 14:46] smrgeoinfo commented on #792
doesn't seem that the [dct:Standard definition ("A basis for comparison; a reference point against which other things can be evaluated.")](http://purl.org/dc/terms/Standard) actually restricts the standardization target for a dct:Standard in any way.

[2019-03-15 16:21] makxdekkers commented on #792
@smrgeoinfo It does restrict the target to something that is a reference point for comparison. @kcoyle's suggestion to generalise it to `rdfs:Resource` would leave it completely open, and a profile could then apply to people, cars, ideas, the weather -- anything.

[2019-03-15 17:15] kcoyle commented on #86
@iand Makx has pointed out in email that if you go to the purl.org site and search for "vann" or "vocab/vann" you get zero hits. A search on "vocab" gets various uses of that term. On the second page you see "vocab" alone and that links to vocab.org but this is the full list of subdomains:
[code]

Try a search on "iot" and you can see that this works better than on vocab.org. (I'm on Skype and fin

[2019-03-15 19:11] kcoyle commented on #792
@smrgeoinfo
+1 to @makxdekkers
Remember that Paul Walk was objecting (mildly) to the definition of Standard in the text, not the use of dct:Standard.

But as others have said here, there will be folks who do not consider their all of their profiles to be "A basis for comparison; a reference point against which other things can be evaluated." In particular, I think that the "against which other thi

[2019-03-15 20:48] andrea-perego commented on #84
Partially critical (for the reasons I explained) but it can be moved to the backlog, provided that it will be possible to come back to this after DCAT v1.1 is out and possibly address it in the v1.2 release.

[2019-03-15 22:53] nicholascar commented on #755
@kcoyle: this Issue is about textual definitions and the Google Doc was set up to address this. The comment from Leslie Sikos is off topic here as we have other issues dealing with relations to other ontologies such as Issue https://github.com/w3c/dxwg/issues/485 and also we are considering stronger links to DCAT now but not SKOS etc. Mappings from PROF to SKOS, PROV-O etc. are contained in a seri

[2019-03-15 23:05] nicholascar commented on #663
@larsgsvensson we just need to communicate results from this and 662 to Gregg Kellogg so i’ll close after replying to all points in his email.

[2019-03-16 00:21] kcoyle commented on #755
"making Profile a subclass os dct:Standard means its substituable as the range of any dct:conformsTo predicate." - dct:conformsTo was intended to describe conformance to standards, not conformance to anything. Profile should not be declared a subclass of dct:Standard because one wants to use dct:conformsTo - it should only be declared a subclass of dct:Standard if it meets the definition of a stan

[2019-03-16 01:00] kcoyle commented on #755
"this Issue is about textual definitions and the Google Doc was set up to address this." I agree that the Google doc was set up to address this, but as we struggle with definitions (e.g. #802) it becomes clear that we first have to understand the meaning, and the meaning of some terms is not clear. Once we understand the meaning we can do wordsmithing.

[2019-03-16 19:21] makxdekkers commented on #755
@kcoyle I don't think that instances of `dct:Standard` are necessarily formal standards, like W3C Recommendations or ISO Standards. The definition also allows informal sets of rules. You refer to "_the definition of a standard_" but it is not clear whether we all have the same idea of what a 'standard' is. Given the definition at DCMI, I don't see how a profile would not qualify as a `dct:Standard

[2019-03-16 20:15] kcoyle commented on #755
Makx, I realize that dct:Standard does not require formal standards - in fact, the usage board rejected that definition when it was suggested by ISO. But not everyone considers their profile a standard. There can be ad hoc profiles that aren't expected to have any weight on future activity. The main thing is that there is no reason to define profiles as standards (even under a loose dct definition

[2019-03-16 20:22] kcoyle commented on #755
Re: dct:conformsTo

I think it would be best to reserve dct:conformsTo to conformance to things that are considered standards. These could be profiles, but in general I'm assuming that the point of conformsTo is to alert folks to standards conformance like various ISO standards, community standards like MARC21 or Resource Description and Access (the "other RDA"), etc. It looks to me like the way t

[2019-03-17 22:56] rob-metalinkage commented on #755
mixing up concerns here.  Profiles do not conform to other profiles, they specialise (constrain) them in a compatible fashion. We need to keep the concept of a resource and what it conforms to separate.

conformsTo is a relation indicating an arbitrary resource conforms to a standard, (which may be a profile of anther standard)
profileOf is a relation saying that one standard relates to another.

[2019-03-18 01:44] nicholascar commented on #755
As a matter of Issue management, I say again that this Issue is about textual definitions and other topics, such as use of `dct:Standard` are perhaps interesting but off topic so please raise other Issues for them.

I find it very hard to progress the document v. specific Issues if they morph and impossible to close Issues and therefore no progress can be seen to be made.

I'd like to close this I

[2019-03-18 01:50] #520 closed, assigned to nicholascar

[2019-03-18 01:55] nicholascar opened #826 "Generalise diagrams"
Internal comments like [1] and some external ones indicate it's not appropriate to assume all classes in PROF diagrams are OWL classes. They could be RDFS classes and perhaps should be OWL/RDFS non-specific altogether.

Suggested actions:

* generalise PROF diagram keys to remove references to OWL/RDFS
* evaluate diagrams to see if they match 'plain' (non-RDF) diagram expectations (like UML)
  * c

[2019-03-18 03:00] #323 closed, assigned to nobody

[2019-03-18 03:03] nicholascar commented on #534
Labels harmonised in document as per this date

[2019-03-18 03:03] #534 closed, assigned to nicholascar

[2019-03-18 03:03] #536 closed, assigned to nicholascar

[2019-03-18 03:03] #758 closed, assigned to nicholascar

[2019-03-18 03:07] nicholascar commented on #658
Initial diagram update work completed in early March '19 with PR https://github.com/w3c/dxwg/pull/745. New diagram Issues, such as https://github.com/w3c/dxwg/issues/826 being created for further updates.

[2019-03-18 03:08] nicholascar commented on #535
@kcoyle just the HTML/CSS styling. This way just a Look 'n Feel issue and it's now addressed (and somewhat superseded due to Roles in the main doc) so I'm closing.

[2019-03-18 03:09] #571 closed, assigned to nicholascar

[2019-03-18 14:03] kcoyle commented on #535
The group has not reviewed the change to the doc. Please do not close the issue until there is group approval.

[2019-03-18 14:10] kcoyle commented on #755
"Profiles do not conform to other profiles, they specialise (constrain) them in a compatible fashion. We need to keep the concept of a resource and what it conforms to separate."

First, we need group agreement on that. But I also think that "profileOf" is not going to mean "constraints" to most potential users of the vocabulary. If it is specific to constraints then it might be best to have that

[2019-03-18 14:14] kcoyle commented on #658
Nick, I asked you to make the changes available for discussion here. Please do that.

[2019-03-18 15:18] tombaker commented on #535
[Watching from the sidelines...]  This is confusing -  https://raw.githack.com/w3c/dxwg/profilesont-doc/profilesont/resource_roles.html does not resolve and it is unclear what documents are affected (and in what way).

In principle, the resolution closing an issue should be fairly self-contained, with a clear statement of what the group resolved and with links to relevant documents, mailing list p

[2019-03-18 15:18] kcoyle commented on #485
Nick, what about the comments at: [here](https://github.com/w3c/dxwg/issues/485#issuecomment-460082500) and [here](https://github.com/w3c/dxwg/issues/485#issuecomment-460118114). These are the opposite of what is said [elsewhere](https://github.com/w3c/dxwg/issues/755#issuecomment-473723904). Perhaps this needs to be a new issue, but I would hate to lose this discussion.

[2019-03-18 15:58] nicholascar commented on #485
@kcyole I don’t understand. All the links you’ve provided agree that no strong semantics are wanted thus subPropertyOf declaration should be made.

None of us think wasDerivedFrom-style strong linkages are a good idea except perhaps Riccardo who we’ve not heard from on this point recently, hence my email, so can you please restate your concern here?

[2019-03-18 16:50] makxdekkers commented on #755
I agree with @kcoyle that if A `prof:profileOf` B is to convey that A defines constraints on B, it would be clearer to call it `prof:constrains`.

[2019-03-18 19:50] tombaker commented on #698
@agreiner I completely agree. Notions of inheritance differ across the various technologies that people are likely to use, and it does not seem realistic to coin properties, such as `prof:isInheritedFrom`, with the assumption that people will share a common notion of inheritance.

[2019-03-18 22:38] kcoyle commented on #485
Maybe I am mis-interpreting @rob-metalinkage 's statements, so let's remember this when we discuss the definition of profileOf.  And I believe above you don't mean:

"thus subPropertyOf should be made"
but
"thus subPropertyOf should not be made"

Right?

[2019-03-18 23:40] agbeltran commented on #72
@kcoyle @larsgsvensson PR https://github.com/w3c/dxwg/pull/779 address removing the note and adding some text for DCAT profiles - would this be OK?

See pre-view: https://rawgit.com/w3c/dxwg/dcat-issue72/dcat/index.html#profiles

[2019-03-18 23:51] rob-metalinkage commented on #485
I think we have found no compelling case to include strong axiomitisation tying the specific isProfileOf semantics to the more general defintions in PROV.  We can publish this as a recommended "alignment" following DCAT practice. Maybe add into the usage note that it is a stronger bit compatible semantics that the prov:wasDerivedFrom which may be asserted using the relevant alignment vocab.

propo

[2019-03-19 00:04] rob-metalinkage commented on #698
OK - so lets just focus on what is proposed again:

1) the ability to declare conformance of a resource to a specific profile
2) the ability to indicate that a specific profile conforms to more general profiles

(and I think we have just shown that this cant be done with any universally applicable constraint language - so thats the motivator here)

3) a flexible way of referencing the various form

[2019-03-19 00:07] rob-metalinkage commented on #72
NB At this stage I see little prospect for a separate Guidance deliverable being available, given the level of contribution and the need to focus on deliverables that enable implementations - guidance without mechanisms is not very useful.

[2019-03-19 03:43] kcoyle commented on #485
@rob-metalinkage I think I like the solution but I'm unclear on some things you said but that we might want to add to the documentation:

1) in what way is this an alignment with DCAT?
2) I think there's a typo in the sentence about the usage note - "it is a stronger bit compatible..." Could you revise that?

Thanks.

[2019-03-19 05:16] rob-metalinkage commented on #485
its not an alignment _with_ DCAT.  DCAT offers informative alignments with a range of other vocabs - thats the practice being referred to.

I'll update the usage note in the google doc with a firm proposal.

[2019-03-19 05:24] nicholascar commented on #485
@kcoyle yes, a typo, should read "thus subPropertyOf should not be made".

Further to Rob's point about possible alignment with PROV: we have alignments in the wiki page https://github.com/w3c/dxwg/wiki/PROF-Alignments-and-crosswalks and I've brought most of that content into PR https://github.com/w3c/dxwg/pull/828  but I've left off the PROF -> PROV alignment due to the issues I've noted in the w

[2019-03-19 05:34] rob-metalinkage commented on #698
re "The discussion around inheritance and traversing a graph just to check conformance seems to be introducing barriers to use and to mixing vocabulary from multiple standards."  - this is _exactly_ what happens if you import RDFS or OWL axiomitisation.  It is a barrier perhaps - but its the responsibility of the chosen set of constraints languages and how they are used that determines if navigati

[2019-03-19 08:30] pwin commented on #767
https://docs.google.com/spreadsheets/d/10-UIgM1xLQXNsaSgU6xRsPlsYo3jABreVNwjzciGPKM/edit?usp=sharing is the spreadsheet of  @andrea-perego with dcat:DataDistributionService info removed and preds merged with dcat:DataService

[2019-03-19 12:59] kcoyle commented on #72
@agbeltran Yes, that looks good, thank you.
@rob-metalinkage You may be right, so let's keep this in mind for CR. It might be best in any case not to refer to other documents that are not themselves already recommendations. @agbeltran could you remove the note, just to be careful? Thanks.

[2019-03-19 15:08] tombaker commented on #698
@rob-metalinkage writes:

Okay, the requirement is resource discovery.

The Profiles Vocabulary implies a generalized notion of
"inheritance". Can SHACL, PDF, Schematron, CSV, etc, be
said to follow a common notion of inheritance?

"Declaring conformance" goes well beyond resource
discovery.  The Profiles Vocabulary cannot be used to
_determine_ conformance of data to a specific profile;
that is t

[2019-03-19 15:59] agbeltran commented on #72
thanks @rob-metalinkage - in that case, it would be better to remove the reference to the guidance document for now - @kcoyle @nicholascar @aisaac

[2019-03-19 16:05] agbeltran commented on #72
ok - will remove reference to other documents

[2019-03-19 20:53] dr-shorthair commented on #809
I've attempted to address this in https://github.com/w3c/dxwg/pull/832

[2019-03-19 21:14] jpullmann commented on #9
Coming back to the issue - I'd suggest to close it, o.k.? The discussion here does not invalidate the use case (problem space) while it points to solutions already available.

[2019-03-19 23:53] kcoyle commented on #9
Yes, it appears to be the case. I'll mark it for closure and confer with Peter.

[2019-03-20 22:37] kamhayfung opened #835 "Returning profile list in HTTP response message body"
In https://w3c.github.io/dxwg/conneg-by-ap/#listprofiles-content, a server can return a list of profiles in the message body of an HTTP response. It is unclear to me how this is possible if a client sent a `GET` or a `HEAD` request.

According to RFC2616, server must not return a message body in a `HEAD` response.

For a `GET` request, a client would have nominated a media-type like `Accept: text/

[2019-03-21 04:34] rob-metalinkage commented on #642
@VladimirAlexiev

q: what's the relation between dcat:Distribution and ResourceDescriptor and "artefact"?
a: the relation between dcat:Distribution and prof:ResourceDescriptor is a "non-normative alignment" via subclass - i.e. an implementer can safely choose this if they wish but use of dcat is not imposed.  The relationship between ResourceDescriptor and "artifact" is the same relationship as be

[2019-03-21 04:37] rob-metalinkage commented on #642
note that this thread has diverged quite a lot from the original topic and is now essentially a duplicate of #769

[2019-03-21 04:44] rob-metalinkage commented on #642
Propose to close this issue as it is no longer resolvable against the original topic, it should be replaced by a clean issue to discuss the relevant point (is the predicate well enough explained - or can an improvement be suggested)

General issues of DCAT alignment and the nature of inheritance are handled in #769 and #808 and #795

[2019-03-21 10:37] larsgsvensson commented on #835
Thanks for your feedback, @kamhayfung. We'll discuss this in our next telecon.

(Minor nitpick: RFC 2616 is obsoleted by RFC 7230-7234, in this case [RFC 7231 §4.3.2](https://tools.ietf.org/html/rfc7231#section-4.3.2) where HEAD is specified)

[2019-03-21 14:35] kcoyle commented on #642
@VladimirAlexiev Could you give us an example of your thinking in code? You might look at some of the code examples in #769, including the [diagram](https://github.com/w3c/dxwg/issues/769#issuecomment-469287460) showing the placement of the artifact and dct:format, and examples [here](https://github.com/w3c/dxwg/issues/769#issuecomment-470635702). If those comments are related to your own, you mig

[2019-03-21 14:49] kcoyle commented on #642
I removed the 'due for closing' because we still don't have a resolution for the main issue. We can try to move the question about artifacts and multiple artifacts to #769 but we still need a resolution here regarding prof:inheritedFrom. We have an [example](https://github.com/w3c/dxwg/issues/642#issuecomment-459074960) that was provided by Nick (I think). Antoine asked for some [changes](https://

[2019-03-21 16:32] smrgeoinfo commented on #642
I haven't seen anything in the discussions here to make me think that the [solution proposed earlier, revised based on suggestions by @VladimirAlexiev ](https://github.com/w3c/dxwg/issues/642#issuecomment-461122975), and sketched (roughly) in [this diagram](https://github.com/w3c/dxwg/issues/573#issuecomment-438688720) can't be the basis for a solution.

[2019-03-21 16:49] riccardoAlbertoni opened #837 "Mentioning the Backlog in the DCAT CR"
Somewhere,  at the beginning in the DCAT CR, we might include a warning for Readers, mentioning DCAT backlog in order to contextualize and make clear that there are issues that we have considered but we couldn't include in the CR.

For example,

"DCAT backlog collects requirements, issues, and features that have been considered and discussed by the DXWG but have not been included in this DCAT CR

[2019-03-21 22:04] rob-metalinkage commented on #642
"What we need here is a conclusion, which would probably be a revised example (both in code and as a one or more use cases), and a clear definition of "inheritedFrom"." - an example has been provided and an update of the definition made. the only way to progress this is to get it out for further review.

@smrgeoinfo - it is unnecessary to make the range of artefact a dcat:Distribution - as a Resou

[2019-03-21 22:10] rob-metalinkage commented on #642
we can also iterate on the predicate name of course:  it is similar to rdfs:isDefinedBy without the sense of "defined"  - maybe isSpecifiedBy  make it clearer that inheritedFrom (although it loses the reinforcement of the concept that profiles express a requirement to conform to constraints that _are_ inherited via isProfileOf)

[2019-03-21 23:07] kcoyle commented on #642
@rob-metalinkage "an example has been provided and an update of the definition made. " There were questions about the example that were not answered here. Just providing an example is not enough, there has to be discussion and response, possibly leading to changes. To point of providing an example is that it facilitates discussion. In addition, Richard provided a counter example. How do you want t

[2019-03-22 00:25] rob-metalinkage commented on #642
reread the thread - response has been provided to the points @VladimirAlexiev inline (and a formal response can be made after 2PWD is released to request review).  Stephen's counter example has been considered and discussed. Definitions have been discussed and we have the best we can achieve in this round via three weeks of collaborative editing via the google doc.  You simply need to accept that

[2019-03-22 12:12] kcoyle commented on #642
@rob-metalinkage one word: consensus

Do a vote or a poll to confirm consensus

[2019-03-22 16:41] riccardoAlbertoni opened #838 "Cleaning the CR from references to backlogged and open issues"
I am trying to clean the document from the references to issues,  If merges must be endorsed in the plenary I think we have to make the most in term of cleaning before it.

I have prepared two branches

[dcat-deleting-issues-riccardo](https://github.com/w3c/dxwg/tree/dcat-deleting-issues-riccardo): in which I have deleted the references not anymore pertinent, namely
- ISSUE 252: Examples of qualit

[2019-03-24 21:51] rob-metalinkage opened #840 "Consider naming conventions for instances to make examples easier to read"
#642 provides an example - a suggestion that naming conventions might make examples easier to follow was provided - this issue provides for the opportunity to get feedback on this particular issue.

Note - a PR needs to be prepared and accepted for the provided examples so that these can be reviewed in the light of this issue.

[2019-03-24 22:29] rob-metalinkage opened #842 "Replace isInheritedFrom with a subproperty of rdfs:isDefinedBy"
Proposal: replace isInhertied from with a more general property that allows any ResourceDescriptor to directly indicate the profile that defines the role of this resource.

The rationale for a subproperty is that we can then add a property chain axiom to clarify the intent.

:specifiedBy rdf:type owl:ObjectProperty ;
               rdfs:domain :ResourceDescriptor ;
               rdfs:range dct:St

[2019-03-24 22:48] rob-metalinkage commented on #642
Give the original issue has been addressed with an example, but there is obviously active discussion around the underlying concepts I have created a new issue #842 to address the substantive question - is this property optimally designed, named and described? I have put forward a concrete proposal to allow us to move forward.

General issues of DCAT alignment and the nature of inheritance are hand

[2019-03-25 23:23] nicholascar commented on #483
The Issue raiser (@riccardoAlbertoni) accepts the change, the relevant PR is merged and it was a trivial editorial one anyway so I'm closing.

[2019-03-25 23:34] rob-metalinkage opened #844 "Axiomitise transitivity of dct:conformsTo through isProfileOf relationships"
Based on the normative text,

:aResource dct:conformsTo  :Profile1 .
:Profile1 prof:isProfileOf :Profile2 .

entails:
:aResource dct:conformsTo :Profile2 .

we can add an OWL axiom to formalise this entailment - i think it would look like this

dct:conformsTo owl:PropertyAxiom ( dct:conformsTo prof:isProfileOf)

Can we confirm this is correct and if so vote to include it in the normative ontology

[2019-03-25 23:40] rob-metalinkage commented on #802
OK - the concept is so simple its hard to see why there is any debate, except for perhaps people trying to characterise generic re-use in OWA as some sort of profiling (it isnt).

So here it is in code, maybe that will help:

:aResource dct:conformsTo  :Profile1 .
:Profile1 prof:isProfileOf :Profile2 .

entails:
:aResource dct:conformsTo :Profile2 .

we can add an OWL axiom to formalise this entai

[2019-03-26 01:10] agreiner commented on #802
What happens when
:aResource dct:conformsTo :Profile1 .
:Profile1 prof:isProfileOf :Profile2 .
:Profile1 prof:isProfileOf :Profile3 .
and Profile2 and Profile3 disagree on one or more terms used in Profile1?
In that case, I don't think that :aResource dct:conformsTo :Profile1 implies that aResource dct:conformsTo :Profile2

[2019-03-26 01:27] rob-metalinkage commented on #731
This issue is not longer useful, there have been so many related issues tangled up in it. A set of changes has been made to the diagram, incorrect assumptions about dct:Standard addressed (they obviously _can_ have resources given the domain of prof:ResourceDescriptor) and topics have been taken out to other issues (#791 for mapping, #842 ) thats enough to close this overloaded issue. Concrete pro

[2019-03-26 01:33] rob-metalinkage commented on #802
If Profiles 2 and 3 are inconsistent then the statements are simply inconsistent - this is not a problem with the ontology - its a problem with the example.  The implication is necessary because without it it is an essentially meaningless relation - and you could just use dct:relation or some other thing like skos:closeMatch.  We are not modelling "closeness" in any way - only conformance inferenc

[2019-03-26 01:50] agreiner commented on #802
That would only be true if one cannot borrow terms from more than one source that do not agree on all terms used. But the whole point of using a second source would be to use terms that differ from the first one.

[2019-03-26 03:23] nicholascar commented on #802
@agreiner What you're asking for can't be solved by a vocabulary.

If Profile1 requires a particular property and Profile2 requires another, data could possibly be conformant with both, if they are not exclusive. If either Profile1 or Profile2 were exclusive, then something in the real-world couldn't conform to both of them. PROF's not getting in the way here but neither can it assist the users to

[2019-03-26 05:12] kcoyle commented on #483
Recall that closing issues is to be done by chairs.

[2019-03-26 14:21] kcoyle commented on #802
While a vocabulary alone cannot solve these issues, I think the question is whether the community around the vocabulary shouldn't have a solution. In most vocabularies that I know there are things that the vocabulary alone cannot impose, but the intention of the community is clear. Naturally anyone can create bad data, but the intention of the vocabulary, and the reasons behind that, are known. Th

[2019-03-26 16:22] kcoyle commented on #731
There also needs to be one for Andrea's to add mapping schemas to the set of roles.

[2019-03-26 16:23] kcoyle commented on #731
I'm ok with closing when the owl:namedIndividual is removed.

[2019-03-26 16:51] aisaac commented on #731
Could we delete the comments about the OGC testbed? Now that @nicholascar has copied the stuff in https://github.com/w3c/dxwg/issues/791 I think we can do it. And we could continue using this issue for its original purpose.

[2019-03-26 17:20] agreiner commented on #802
Let's take a more concrete example. Suppose you've been using DCAT 1.0 for a long time and now want to include APIs in your catalog. You make a profile of DCAT that also pulls in API descriptors from Schema.org's Data Catalog, so it's a profile of both DCAT and Schema.org. You cannot then assume that any dataset that is conformant to your profile is also conformant to schema.org.

[2019-03-26 18:20] kcoyle commented on #731
Sure, if it's been moved elsewhere. Maybe replace the comments with a simple link to the new issue?

[2019-03-26 20:27] nicholascar commented on #802
@agreiner you're doing this backwards! If you're the system designer and the one creating the profile, it's up to you to tell others what to expect. So if you said that your catalogue is using something that is a profile of DCAT and Schema.org then you are saying users can expect it to be conformant to both. If you have something that presents as a schema:Dataset then it should follow Schema.org's

[2019-03-26 21:06] nicholascar opened #847 "Add mapping schemas to the set of roles"
From Issue 731 (@andrea-perego):

[2019-03-26 21:06] nicholascar commented on #731
Issue for Andrea's mapping role: https://github.com/w3c/dxwg/issues/847

[2019-03-27 01:34] agreiner commented on #802
@nicholascar , you are assuming that a profile cannot be derived from more than one source unless the sources are conformant with each other in every respect. I think that limits the usefulness of profiles more than we want.

[2019-03-27 02:00] kcoyle commented on #802
Nick, the guidance document is a general document about profiles so it won't give details about PROF. If the PROF vocabulary is going to be useful it probably needs a guidance document or user guide of its own to explain better to people what everything means. Sometimes people do this in a primer.

I agree with @agreiner that conformance to profiles and vocabularies used is tricky and possibly not

[2019-03-27 03:56] rob-metalinkage commented on #802
wow... there has never been any suggestion that some concept of partial conformance to a specification was a meaningful concept.  you can't be conformant to a term - you may conform to constraints related to a term - but if you violate some of these you are not conformant to the specification.

All the Use Cases proposed assume conformance is an absolute concept since they do not define any form o

[2019-03-27 05:37] dr-shorthair commented on #802
Hmm. I tend to agree with Rob here: a profile will usually define a whole set of required structures and permitted values. Conformance to the whole profile is the goal. If any part of it is 'optional' then that can be omitted, but otherwise, this would be a yes-no operation over the whole thing.

[2019-03-27 07:36] nicholascar commented on #802
@agreiner  yes, within the limits @dr-shorthair mentions.

@kcoyle

Something to think about post June perhaps... We already have a solid foundation of a lot of examples to work with, though they may all need updating still as we complete PROF.

In line with the plenary directive, I'm not going to monitor this Issue for the pause time period now.

[2019-03-27 08:58] davebrowning opened #849 "Outstanding work for Alignment annex"
Further work after PR #822 which actioned the resolution from [2019-03-06](https://www.w3.org/2019/03/06-dxwgdcat-minutes#x04) (now merged).

@dr-shorthair said:

[2019-03-27 11:36] nicholascar commented on #695
The initial example (Figure 2) is now present in the public version.

[2019-03-27 11:37] #695 closed, assigned to nicholascar

[2019-03-27 15:50] kcoyle commented on #802
@dr-shorthair So you would opt for "b" as a definition of profileOf, right?

@rob-metalinkage Dublin Core profiles have no "profile of" concept, only adherence to defined terms and the definitions and constraints that define those terms in their "original" vocabulary declaration. Yet, they are profiles. We'll be initiating some more work on the DC profile concept; I'll keep in mind whether any con

[2019-03-27 16:37] smrgeoinfo commented on #802
Basic issue-- communicate to a client application what rules they can assume will be followed in an instance document representing some resource; this allows a developer to write software to access information contained in the representation.
Assumptions:
1. there is some specification (spec1) that elucidates the rules followed by a given resource representation.
2. specification (spec1) can use r

[2019-03-27 18:51] agreiner commented on #802
Yes, I've been thinking along those lines, especially 2a and 2c. I'm fine with restricting profileOf to the case where any dataset that conforms to spec1 also conforms to specX, as long we also enable bringing in terms from other sources in addition. "Uses" is as good a term as any. I think one could use large sections of other profiles or standards, even using more terms from any one of them than

[2019-03-27 20:11] rob-metalinkage commented on #802
@smrgeoinfo correctly distinguishes different dependency cases.  the Profiles Vocabulary currently only addresses 2a, which is the case where we have explicit motivating Use Cases.

2b is addressed by owl:imports IMHO, and doesnt require a new vocabulary, though it does require an OWL/RDFS implementation. We could define this new UC and a new property.

2c is AFAICT addressed by re-use without an

[2019-03-27 20:18] rob-metalinkage opened #852 "create sequence diagram for conneg-by-ap process"
As per action-312.

[2019-03-27 22:10] dr-shorthair opened #853 "Remove Annex B (external alignments)"
As discussed in https://www.w3.org/2019/03/27-dxwgdcat-minutes.html
we are unable to complete or document these further with the resources available, so remove from the document and leave on the backlog (probably to be dealt with in separate documents anyway.

[2019-03-27 22:35] dr-shorthair opened #855 "Remove Annex A.2 (alignment with PROV-O)"
As discussed in https://www.w3.org/2019/03/27-dxwgdcat-minutes.html
we are unable to complete or document this with the resources available, so remove from the document.
Elements from PROV appear normatively in several places in the [Vocabulary Specification](https://w3c.github.io/dxwg/dcat/#vocabulary-specification):  https://w3c.github.io/dxwg/dcat/#Property:resource_qualifiedRelation  https://w

[2019-03-28 06:34] dr-shorthair commented on #849
Here's a few proposals:

1. [sdo:DataFeed](https://schema.org/DataFeed) is a `dcat:Dataset` with `dct:accrualPeriodicity <http://purl.org/cld/freq/continuous>`

2. `dcat:Relationship` -- [sdo:Role](https://schema.org/Role) - note however that sdo uses the same existing property name for both the the incoming and outgoing link - see examples in https://schema.org/Role

3. Trying to figure out if th

[2019-03-28 09:38] aisaac opened #856 "Moving some PROF material to an "advanced" section?"
In #642  I have expressed a concerned that some properties (at prof:transitiveProfileOf) look like 'utility properties' that are of lesser interest for most implementers. I.e. these implementers could mint their own property and derived statements with it from other statements, the same way that skos:broaderTransitive is in SKOS.
At a minimum, they could be kept for amateurs only ;-) and put in an

[2019-03-28 10:15] aisaac opened #857 "What is the level of the inheritance link?"
This is a spin-off from #642. The example provided there uses the property prof:inheritedFrom between a Resource Descriptor and a Profile.

As @kcoyle noted, all of the requirements related to inheritance all speak of profile inheritance. From the draft profiles guidance document: "2..4 Profile inheritance [RPFINHER] Profiles may add to or specialise clauses from one or more base specifications. S

[2019-03-28 10:23] aisaac commented on #857
There are some discussions in #642 about 'flattening' profiles but I am not sure this is about the issue.

[2019-03-28 10:35] aisaac opened #858 "Editorial issues in prof:inheritedFrom example"
This is a spin-off from #642

The statement `1:Standard_X a prof:Profile` may not be wrong, but it does not add anything useful to the example and thus it could be removed. Of course the comment next to it ("this may be a 'null' profile [...]") would go away as well, which as @kocyle pointed, is good for the understanding of the example.

Wrong comments:
`# RS 2 in diagram` should refer to Resourc

[2019-03-28 10:38] aisaac commented on #642
I have added back the 'due for closing'
A lot of comments and suggestion do indeed seem to cover the relationship with DCAT or even more generally the pattern for resource descriptors, artefacts, i.e. something much broader than inheritance. And/or they are based on a misunderstanding of a version of the example that was easier to misunderstand then.

I have created two new issues which I think ar

[2019-03-28 11:23] nicholascar commented on #858
@aisaac

I don't follow: the Resource Descriptor `ex1:RD_1` is defined by that profile (`ex1:Standard_X prof:hasResource ex1:RD_1`) and since that's the the Resource Descriptor that's the focus of the inheritance, we need to see where it comes from, i.e. not `ex2:Profile_Y` but that it's inherited.

Sure, we can remove that.

* RS 2 in diagram should refer to Resource Descriptor 2
* RS 3 in diagra

[2019-03-28 11:33] nicholascar commented on #858
PR https://github.com/w3c/dxwg/pull/859 addresses 3/4 of the points @aisaac raised

[2019-03-28 13:36] aisaac commented on #858
@nicholascar the fixes are ok.

For the first point I am a bit puzzled. I see you've removed the statement that I wanted to remove. I am not suggesting we should remove ex1:Standard_X, which is indeed important to understand what is happening in terms of inheritance.

By the way I realize that the diagram (and its caption) could also replace Profile X by Standard X, so that it's aligned with the e

[2019-03-28 13:50] aisaac commented on #268
I'm also lukewarm on closing our big 'UCR' issues until we go through a more formal step of verifying that requirements are met.
In other words, it would make sense to close 'plenary-approved' issues in a plenary call. A "due to plenary close" could help here.
 (and for the record I agree that indeed in this case the requirement has been met)

[2019-03-29 00:48] rob-metalinkage commented on #268
Plenary is the wrong place - we should be following DCAT and normal procedure here and dealing with this in a specific sub-group. We havent succeeded in getting a regular profiles ontology sub group up - but if we replace the guidance slot with a profiles ontology we could go through the process and do checks.  So lets convene a sprint on re-opening and try to resolve all the requirements issues i

[2019-03-29 04:13] nicholascar commented on #858
@aisaac ok, I understand you now, it was just the triple `ex1:Standard_X a prof:Profile` which, as you say isn't necessarily wrong but may be unhelpful. I read `ex1:Standard_X a prof:Profile` as a stand in for all the triples about `ex1:Standard_X`. Great.

Ooops, thought I'd got all the references but missed the Caption. I've updated the caption with a commit against the branch in the PR now, see

[2019-03-29 12:51] aisaac commented on #268
Is the DCAT group closing their requirements when they are met? If yes, then maybe I can live with such process, but I would certainly ask for a more general report from them in a plenary setting some day, so that everyone can validate their assessment!

[2019-03-29 12:54] aisaac commented on #858
Issue can be closed as soon as PR #859 is merged.

[2019-03-30 01:32] nicholascar commented on #858
Closing since PR merged

[2019-03-30 01:32] #858 closed, assigned to nicholascar

[2019-03-31 06:12] dr-shorthair commented on #821
This can be closed thanks to #825

[2019-03-31 06:33] dr-shorthair commented on #849
Some minor updates to the mapping in #865
See https://rawgit.com/w3c/dxwg/dcat-issue849/dcat/index.html#dcat-sdo

[2019-03-31 07:02] dr-shorthair commented on #254
This should be moved to an Annex and marked 'non-normative'.
It is a highly plausible, but essentially un-tested, proposal.

Furthermore, it introduces new elements in the `dcat:` namespace, which have not been specifically discussed and approved. I suggest moving these into a `dcat-ld:` namespace to make it clear that this is not part of core DCAT.

[2019-03-31 22:26] dr-shorthair opened #868 "Dataset series"
A significant outstanding issue that keeps coming up as the sideline to other conversations [1][2] is the need to have a recommended pattern for cataloguing dataset series. Budget data, satellite imagery, ...

Usually most of the description (metadata) is the same, but the temporal coverage changes between members of a series.

[1] https://github.com/w3c/dxwg/pull/789
[2] https://github.com/w3c/dx

[2019-04-01 13:39] davebrowning commented on #715
This now being addressed by #865, #866 (and one or two earlier ones).

[2019-04-01 22:32] nicholascar commented on #587
The functions have been merged in commits before April, 2018

[2019-04-01 22:32] #587 closed, assigned to nicholascar

[2019-04-01 23:50] #485 closed, assigned to nobody

[2019-04-02 07:24] davebrowning commented on #855
Addressed in #867

[2019-04-02 08:16] davebrowning commented on #482
This now looks ready to close - the ED is clear enough about what it means.  There might be additional  requirement  around the log files use case, but that would be future work.

[2019-04-02 08:19] nicholascar commented on #868
Or the spatial coverage changes, as is the case with maps in a series

[2019-04-02 11:02] pwin commented on #592
yes it is spot on!  thanks @larsgsvensson

[2019-04-02 11:48] rob-metalinkage commented on #592
+1

On Tue, 2 Apr 2019, 22:02 pwin <notifications@github.com> wrote:

[2019-04-02 12:29] larsgsvensson commented on #592
OK, thanks @pwin. Addressed in PR #874.
Preview at https://raw.githack.com/w3c/dxwg/larsgsvensson-qsa-url-length/conneg-by-ap/index.html#qsa

[2019-04-02 12:38] davebrowning commented on #65
Isn't this addressed by this section in the ED: https://w3c.github.io/dxwg/dcat/#dcat-sdo? What more is needed in DCAT to address the requirement?

[2019-04-02 14:18] davebrowning commented on #868
Fully agree that there would be great value in some story, though I'm a little unsure that there is a _single_ pattern that can be recommended.  Worth trying, anyway, now we seem to have a stable definition of the qualities of `dcat:Distribution`.  In the spirit of starting a conversation:

The spatial series seems a good entry point here: in that case would each map be a `dcat:Dataset` with its o

[2019-04-02 14:37] makxdekkers commented on #868
As far as I am concerned, I don't think we're going to resolve this issue before finalising the CR. There are several dimensions to this, and I've been involved in long discussions that did not lead to a resolution after many months. Maybe we should move it to the list for version 3, and set up a sprint for it after publication of the CR?

[2019-04-02 14:40] davebrowning commented on #868
+1 to Makx's timing suggestion - I was assuming so, actually.  I think there is some value in having such things in the Future Priority backlog - it may solicit further input or use cases.

[2019-04-02 14:40] makxdekkers commented on #868
Apologies for closing and opening. Hit wrong button on phone because of bump in train track.

[2019-04-02 21:12] dr-shorthair commented on #868
Yes, sorry, I did not make it clear at the top of the issue that I intended this for the backlog. Definitely too late to do anything reasonable for DCAT 2. I just wanted to have a discrete issue to track.

[2019-04-03 09:10] larsgsvensson commented on #501
There is now text in the proposed I-D that [defines the link header target attribute "profile"](https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation.html#rfc.section.6)

[2019-04-03 09:14] tombaker commented on #105
+1

This issue caught my eye and I'm rather new to this discussion.  Is the issue still unresolved?

@dr-shorthair I'm not sure what you mean when you say that OWL cardinality constraints "constrain use of a property in the context of a class".  OWL restrictions place constraints on a model of reality but say nothing about cardinality that is intended to be enforced in actual data, which I take to

[2019-04-03 11:54] larsgsvensson commented on #263
Having read and re-read this thread, it seems that we agree that the IETF submission will not contain anything about Query String Arguments or any other kind of URL patterns. Particularly the [comment from ncar](https://github.com/w3c/dxwg/issues/263#issuecomment-400112189) "No one has ever suggested that an IETF submission contain query string arguments" suggests this. I suggest that we close thi

[2019-04-03 12:19] RubenVerborgh commented on #263
I'm happy.

[2019-04-03 12:34] nicholascar commented on #263
I’m happy too

[2019-04-03 15:30] azaroth42 commented on #263
:+1: Good to close?

[2019-04-03 15:30] #263 closed, assigned to nobody

[2019-04-03 19:05] larsgsvensson commented on #263
I reopen so that we can stick to the process...

[2019-04-04 07:14] larsgsvensson commented on #592
PR is merged, so we can probably close now.
ACTION-315

[2019-04-04 14:03] davebrowning commented on #174
Looking roughly at the scale of changes to non-English text in `dcat.ttl`:

- obviously new properties/classes only have recently minted Spanish/Italian etc as well as the English

- a significant proportion of the  properties and classes persisted from DCAT 2014 have had some kind of change in comment or scopenote text - enough to warrant a change to the translation.  [Less than half, but more th

[2019-04-04 14:07] nicholascar commented on #835
Agree that it's not possible for a HEAD request to return content.

Agree that if a GET request is used, the content of the resource, conforming to the specified profile, or the default, will be returned and thus there is no possibility of including profile listings in a GET body response.

In the previous work using Alternate Views, a specialized profile - Alternates - is available for all resour

[2019-04-04 14:21] nicholascar commented on #594
Ref Issue https://github.com/w3c/dxwg/issues/544 for details on specific objections.

[2019-04-04 14:25] nicholascar commented on #588
Both `get resource by profile` realizations (HTTP & QSA) say this:

[2019-04-04 14:41] philarcher commented on #174
I had a feeling this might come up. I t would be a shame to see all the translations disappear as the DCAT ttl file is a prime example of the Unicode-monger's art (although my browser shows a bit of a mess right now, it used not to :-( From memory, the translators were:

Fadi Maali (Arabic)
Nikos Loutas (Greek)
Giorgia Lodi (Italian)
Christophe Guéret (French)
Boris Villazón-Terrazas (Spanish)

Bu

[2019-04-05 06:39] lvdbrink commented on #174
Sure, I could do the Dutch if needed!

[2019-04-05 07:48] davebrowning commented on #855
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:48] #855 closed, assigned to nobody

[2019-04-05 07:48] davebrowning commented on #853
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:48] #853 closed, assigned to nobody

[2019-04-05 07:48] davebrowning commented on #820
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:48] #820 closed, assigned to nobody

[2019-04-05 07:49] davebrowning commented on #809
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:49] #809 closed, assigned to nobody

[2019-04-05 07:49] davebrowning commented on #715
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:49] #715 closed, assigned to nobody

[2019-04-05 07:50] davebrowning commented on #691
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:50] #691 closed, assigned to davebrowning

[2019-04-05 07:50] davebrowning commented on #543
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:50] #543 closed, assigned to davebrowning

[2019-04-05 07:51] davebrowning commented on #530
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:51] #530 closed, assigned to nobody

[2019-04-05 07:51] davebrowning commented on #482
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:51] #482 closed, assigned to makxdekkers

[2019-04-05 07:58] davebrowning commented on #224
From a DCAT perspective, this work is done (at least, its complete within the time available for DCAT 2 CR, though furtehr examples would be good).  As per  https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02, I was going to close it.  However, it should be considered for inclusion in the ucr, and may stimulate some work.  Its already in the 'Future Priority" milestone, so I have removed

[2019-04-05 07:58] davebrowning commented on #203
As notified/discussed: https://www.w3.org/2017/dxwg/wiki/Meetings:Telecon2019.04.02

[2019-04-05 07:58] #203 closed, assigned to davebrowning

[2019-04-06 09:55] dr-shorthair commented on #105
Thanks @tombaker for reiterating the utility and purpose of the various tools, in particular the distinction between models off the world and constraints on data. I think we can probably close this issue.

[2019-04-06 09:55] #105 closed, assigned to nobody

[2019-04-08 06:36] larsgsvensson commented on #575
I've just tried to assess where we stand here... The numbers refer to @aisaac's original numbering.

Number | Antoine's original question | My comment (also referring to [Antoine's last comment](https://github.com/w3c/dxwg/issues/575#issuecomment-440056620)
---------|-----------------------------|------------------------------------------------------------------------------------------------------

[2019-04-08 15:55] larsgsvensson commented on #500
The [I-D currently says](https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation.html#rfc.section.4.1) that servers SHOULD handle `Accept-Profile` before looking at other negotiation dimensions:

Shall we add something along those lines to conneg-by-ap, too?

[2019-04-09 12:40] davebrowning commented on #726
These relate to issue tracker issues [173](https://www.w3.org/2017/dxwg/track/actions/173), [174 ](https://www.w3.org/2017/dxwg/track/actions/174) and will close the action [197](https://www.w3.org/2017/dxwg/track/actions/197)

[2019-04-09 13:24] davebrowning commented on #377
As per discussion in DCAT sub-group meeting, (minuted a little after [this](https://www.w3.org/2019/03/27-dxwgdcat-minutes#x06)) we will continue to use github for example files.  To simplify matters further, I'll put together a minimalist namespace page for CR which - if required - we can expand to something more useful in parallel with other future editorial work.

[2019-04-09 22:17] andrea-perego opened #882 "Include CSW as related work"
As discussed on Apr. 9, during the DXWG plenary:

https://www.w3.org/2019/04/09-dxwg-minutes.html

[2019-04-09 22:27] andrea-perego commented on #882
Draft proposal in PR https://github.com/w3c/dxwg/pull/883

[2019-04-09 22:48] andrea-perego opened #884 "CONNEG: Inline issue"
In [Section 7.1.1.1](https://w3c.github.io/dxwg/conneg-by-ap/#listprofiles-tokens) there's a box of class "issue" including inline this content:

I would suggest creating a GH issue for this, and refer to it in the spec.

[2019-04-10 12:13] andrea-perego opened #886 "DCAT: Ack section"
This the current text:

I think it may be worth extending our ack's to the people outside the group (those who sent comments, members of other WG) who helped in reviewing, revising, and consolidating the spec.

It may also worth mentioning explicitly those WG members who provided important contribution to this work.

As an example, I include below pointers to ack sections from other W3C specs:
- D

[2019-04-10 12:25] andrea-perego opened #887 "PROF: Ack section"
An ack section is currently missing from PROF, and I think it would be important to include it - mentioning all the people who gave their contribution (also from outside the group, and as reviewers).

Some examples that can be used as templates:
- DWBP: https://www.w3.org/TR/dwbp/#acknowledgements
- SDWBP: https://www.w3.org/TR/sdw-bp/#acknowledgments
- DQV: https://www.w3.org/TR/vocab-dqv/#acknow

[2019-04-10 12:29] andrea-perego opened #888 "CONNEG: Ack section"
The current text reads as follows:

I suggest extending it - aknowledgements should include WG members, chairs and W3C team contacts.

Some examples that can be used as templates:

DWBP: https://www.w3.org/TR/dwbp/#acknowledgements
SDWBP: https://www.w3.org/TR/sdw-bp/#acknowledgments
DQV: https://www.w3.org/TR/vocab-dqv/#acknowledgements

[2019-04-10 15:38] riccardoAlbertoni commented on #886
@andrea-perego - I am collecting the names of people who have commented on the issues labeled "dcat", so that we can put an appropriate acknowledgment in the DCAT CR.

[2019-04-10 20:19] andrea-perego commented on #886
Thanks, @riccardoAlbertoni . On my side, I'll start and give it a try with a PR.

[2019-04-10 22:25] andrea-perego opened #890 "DCAT: Editorial inconsistencies"
Going through the spec, I noticed a number of editorial inconsistencies.

I'm going to create a draft PR to fix this. In case I find any editorial issue requiring a decision from the WG, I will report it here.

[2019-04-11 02:46] nicholascar opened #891 "Ensure Roles individuals in RDF are organised as per HTML"
The RDF expressions of the list of Role individuals is as it was before 8 Roles were included in the HTML version of PROF and now the RDF needs to be aligned.

[2019-04-11 12:42] nicholascar commented on #287
Reopening due to the realisation that the Conneg doc doesn't yet provide guidance on how to indicate a response's conformance to multiple profiles not within a single hierarchy

[2019-04-11 12:45] nicholascar commented on #162
Removing tag profile-negotiation since this issue is all about profile-description

[2019-04-11 12:49] nicholascar commented on #261
@azaroth42 Please see Issue https://github.com/w3c/dxwg/issues/662. Does this cover the points here?

[2019-04-11 12:54] davebrowning commented on #765
As discussed in DCAT sub-group [meeting](https://www.w3.org/2019/04/10-dxwgdcat-minutes#x06), we'll action @makx's suggestion to remove the somewhat glib "sufficient" (#892) and defer any further changes or guidance to future work.

[2019-04-11 12:56] nicholascar commented on #265
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 12:56] nicholascar commented on #290
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 12:57] nicholascar commented on #289
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 12:57] nicholascar commented on #286
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 12:57] nicholascar commented on #284
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 12:57] nicholascar commented on #274
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 12:57] nicholascar commented on #266
De-tagging as profile-negotiation as dealt with by its point of view

[2019-04-11 13:02] nicholascar opened #893 "Specify the order of content negotiation (Profile v. Time v. Lang v. Content-Type)"
This picks up the un-resolved aspect of Issue https://github.com/w3c/dxwg/issues/311

[2019-04-11 13:04] nicholascar commented on #311
Marked as `due for closing` since proponent accepts UC's remaining point is now represented in Issue https://github.com/w3c/dxwg/issues/893.

[2019-04-11 14:51] andrea-perego commented on #890
I completed a first round of revisions via a draft PR (https://github.com/w3c/dxwg/pull/894). The list of revisions are documented in the PR, where there's also a link to the HTML preview and diff.

The revisions are, IMO, touching anything controversial. There's only one point I would like to draw your attention on:

The `dcat:*URL` properties (`dcat:accessURL`, `dcat:downloadURL`, `dcat:endpoint

[2019-04-11 15:38] makxdekkers commented on #765
I wasn't aware that I was responsible for "sufficient" in that usage note -- on the contrary, I have argued in the past that FOAF does *not* provide sufficient properties to properly describe people and organisations.
So I am happy to drop that word.

[2019-04-12 05:40] larsgsvensson commented on #575
@aisaac We discussed this issue in the CNEG meeting on 2019-04-11. It covers many topics, some of which have been addressed (and some not).
In order to better monitor progress, the CNEG group would like to close this issue and open new issues for each of the still open points (e. g. 5, 6, 7, 10, 11, 15?, 16,17, 18, 19).
Is that OK for you?
ACTION-324

[2019-04-12 07:56] davebrowning commented on #765
Wasn't implying that you were, @Makx, rather that we should do what you suggested.

[2019-04-12 11:56] andrea-perego opened #895 "DCAT: Duplicated DATS bib entry"
The DATS entry is duplicated in [`config.js`](https://github.com/w3c/dxwg/blob/gh-pages/dcat/config.js):

[code]

@agbeltran , which is the right one?

BTW, I also found out this one:

https://datatagsuite.github.io/docs/html/

which seems to be the human-readable rendering of the 2nd entry above.

[2019-04-12 12:59] #849 closed, assigned to nobody

[2019-04-12 13:01] #65 closed, assigned to RubenVerborgh, andrea-perego

[2019-04-12 15:59] andrea-perego commented on #890
Revisions completed - waiting for review.

[2019-04-12 21:59] andrea-perego commented on #890
Relevant PR https://github.com/w3c/dxwg/pull/894 merged (thanks, @dr-shorthair ).

Issue due for closing.

[2019-04-12 22:55] andrea-perego opened #896 "DCAT: Figures format and legibility"
Opening the DCAT specification on different platforms (Linux vs Windows) and/or browsers, and using not enough large monitors, the content of the figures is not always easily legible.

I wonder whether using a vector format (as SVG) instead of PNG may solve the issue. Also, it would be nice to give users the ability to preview the figures in a larger size by clicking on them.

[2019-04-15 09:12] davebrowning commented on #765
#892 has made the small improvement, limited time available means that a fuller resolution willl need to be future work.  Issue to remain open to track this.

[2019-04-16 08:08] dr-shorthair commented on #896
I've been using Sparx Enterprise Architect to prepare the figures you see at the moment.
It does not export SVG. So if SVG is needed a different tool will be needed to make the figures.

[2019-04-16 12:53] davebrowning commented on #838
@riccardoAlbertoni - Is there still something to do here, I'm afraid I've lost track :smile:

[2019-04-16 14:13] riccardoAlbertoni commented on #838
@davebrowning wrote:

I am afraid You were not the only one ;)
I've just made the PR #899  with the missing parts, I think we can close this issues after we have accepted my PR.

[2019-04-16 15:05] aisaac commented on #591
Note from my comments at #575 : There's an issue with Abstract Model for preferences (6.2 and 7.1). 6.2.2 mentions that preferences are expressed in 'some form of list ordering'. This is a bit different from the quality indicators from 7.1.2. And (a question real question at the same time as a possible example of issue:) can q values have ties?

[2019-04-16 15:28] aisaac commented on #575
@larsgsvensson thanks for this. I am not sure opening new issues for every comment is the right thing to do, as it will create a lot of noise and some issues are rather small, but of course you are the one who should decide :-)

And here are some comments on the list - with specific attention to 4 and 15!

.4. It still holds! To me the IETF ID (and issue 380) is a PROF document, even if it's not i

[2019-04-18 08:11] larsgsvensson commented on #591
@aisaac scripsit:

Yes, I think they can. The client is free to submit the same q-values for several formats/profiles/languages and the server can have q-values for formats/profiles/languages, too. Since the server multiplies the clients and the servers q-value for each dimension, it can fairly easily come to ties. At the end of the day, the server returns what it considers the best representation

[2019-04-18 08:21] davebrowning commented on #254
Move to Annex actioned in #873, but some further discussion on ultimate home needed as per [comment](https://github.com/w3c/dxwg/pull/873#pullrequestreview-223924540) before this issue is ready to close.

[2019-04-18 08:25] #837 closed, assigned to nobody

[2019-04-18 08:25] #886 closed, assigned to nobody

[2019-04-18 08:25] #890 closed, assigned to andrea-perego

[2019-04-20 08:35] dr-shorthair commented on #725
This is a relatively mechanical task but still needs executing.

[2019-04-20 13:55] andrea-perego commented on #377
About the namespace URI for DCAT, the new version should indeed replace the existing one, but I think we should keep online the previous version as well.

I would ask the W3C team if they have a way to do this. A possible option is to follow an approach similar to the ones use for TR documents: the namespace returns the latest version, whereas each version has a specific URI - e.g.:

Latest versio

[2019-04-23 07:16] nicholascar opened #904 "Decide on a way of conveying URI / token mappings"
Select a method from the Note box in https://w3c.github.io/dxwg/conneg-by-ap/#listprofiles-tokens

[2019-04-23 20:16] nicholascar commented on #888
Addressed by PR https://github.com/w3c/dxwg/pull/905

[2019-04-23 20:17] nicholascar commented on #884
Addressed by PR https://github.com/w3c/dxwg/pull/905 and Issue https://github.com/w3c/dxwg/issues/904 created

[2019-04-23 21:22] nicholascar commented on #887
Addressed by commit https://github.com/w3c/dxwg/commit/6fc1d2925c16102d8ffa9442c3e83e33a94b322d to branch https://github.com/w3c/dxwg/tree/prof-3pwd-editorial but not yet merged into gh-pages

[2019-04-24 21:08] dr-shorthair commented on #254
Returning to this:

LDP is just one of many possible platforms on which DCAT might be implemented. Yes it is a W3C technology, but there is no certainty that it will dominate the marketplace as a consequence.

The extensions/alignments introduced in this section are relatively simple and quite reasonable. But they are outside the scope of the DCAT vocabulary so probably don't belong in this docume

[2019-04-25 21:36] pwin commented on #119
are we still leaving the range constraint of dcat:themeTaxonomy in place? - it precludes using a skos:Collection at present

[2019-04-25 21:49] dr-shorthair commented on #119
Good point @pwin
Many potential vocabularies that would provide a set of theme classifiers are not organized as `skos:ConceptSchemes` - in fact many are not SKOS at all, though they are nevertheless good choices.
I suggest dropping the global range constraint (and maybe add `sdo:rangeIncludes skos:ConceptScheme, skos:Collection` which is a non-exclusive statement).

[2019-04-25 22:03] pwin commented on #119
I agree Simon

On Thu, 25 Apr 2019, 22:49 Simon Cox, <notifications@github.com> wrote:

[2019-04-26 02:06] dr-shorthair opened #912 "Use sdo:rangeIncludes to guide expectations on properties"
Many DCAT properties have (deliberately) un-constrained ranges - i.e. no `rdfs:range`. Nevertheless, there are many usage or scope notes recommending use of specified classes or types.

These recommendations could be captured more formally (though with no entailment penalty) using `sdo:rangeIncludes`. Perhaps we should add these as a kind of rich annotation?

Related to #119

[2019-04-26 13:34] #838 closed, assigned to nobody

[2019-04-26 13:44] davebrowning commented on #254
@andrea-perego would this approach address your [comment](https://github.com/w3c/dxwg/pull/873#pullrequestreview-223924540) ?

[2019-04-29 06:38] #888 closed, assigned to nicholascar

[2019-04-29 06:38] #884 closed, assigned to nobody

[2019-04-29 06:38] #835 closed, assigned to nicholascar

[2019-04-29 06:40] #690 closed, assigned to nicholascar

[2019-04-29 06:41] #629 closed, assigned to nicholascar

[2019-04-29 06:41] #592 closed, assigned to pwin

[2019-04-29 06:41] #588 closed, assigned to nicholascar

[2019-04-29 06:42] #569 closed, assigned to nicholascar

[2019-04-29 06:42] #311 closed, assigned to nobody

[2019-04-29 06:46] #663 closed, assigned to nicholascar

[2019-04-29 13:44] davebrowning commented on #895
The first of these references has the following Note at the beginning:

with a link to the second ref (actually to `https://datatagsuite.github.io/docs/html/`) which is the actual document to my eyes.

So we should link there, I think

[2019-04-29 13:49] agbeltran commented on #895
That is correct, the latest documentation is at https://datatagsuite.github.io/docs/html/

[2019-04-29 15:25] davebrowning commented on #377
Finally got some time to look at this a bit more.

Before I check with W3, I think it might be useful to think through how we expect this to work in the future.  What happens if there is a future breaking change to the ontology?  In that case, where people have used the latest version URI http://www.w3.org/ns/dcat#, then their use of the vocabulary will be invalid (since it will pick up the new ve

[2019-04-29 20:42] andrea-perego commented on #895
The question is whether the only thing to be changed in the relevant entry is the URL - namely:

[code]

[2019-05-02 07:29] davebrowning commented on #254
As [resolved](https://www.w3.org/2019/05/01-dxwgdcat-minutes#x0) in DCAT sub-group meeting, tidy up of ED with preservation of contribution for future publication in more appropriate place - proposed edits in #915

[2019-05-02 12:28] nicholascar commented on #679
This Issue has been side-stepped with the removal of the possibility for a QSA (or HTTP header) for HEAD or List Profiles to return an available profiles URI list in the body. HEAD has no body and GET will return the representation of the resource in the body

[2019-05-02 12:31] nicholascar commented on #748
This Issue is now addressed by [Section 6.2.2](https://w3c.github.io/dxwg/conneg-by-ap/#getresourcebyprofile) in the document

[2019-05-02 12:43] nicholascar commented on #516
Note: the use of the QSA `metadataPrefix` by OAI-PMH to get data according to a profile needs to be mentioned in the Related Work section about OAI-PMH

[2019-05-02 12:44] nicholascar commented on #893
Duplicate of https://github.com/w3c/dxwg/issues/500 so closing

[2019-05-02 12:44] #893 closed, assigned to nobody

[2019-05-02 12:49] #217 closed, assigned to nobody

[2019-05-02 12:51] nicholascar commented on #261
Closing as #662 is closed and we feel we have addressed this. all JSON-LD profiling work v. Profile Conneg will be reviewed later.

[2019-05-02 12:51] #261 closed, assigned to nobody

[2019-05-02 12:54] nicholascar commented on #378
A definitions list has appeared in two PWDs now so this issue can be closed.

[2019-05-02 12:54] #378 closed, assigned to nicholascar

[2019-05-03 00:50] nicholascar opened #916 "Add Usage Notes to dct:conformsTo"
Use of `dct:format` and `dct:conformsTo` for `ResourceDescriptors`  is not well understood with test implementers using the properties without much differentiation, e.g.

[code]

We need recipricol Usage Notes in `dct:format` and `dct:conformsTo` to better differentiate their effective use.

[2019-05-03 07:19] davebrowning commented on #821
Addressed in #908

[2019-05-03 07:19] #821 closed, assigned to nobody

[2019-05-03 07:29] davebrowning commented on #432
It was agreed in earlier discussions (e.g. #825, #908) that this dialog was a useful starter for potential future work but that it couldn't be completed within the time available for DCAT2.  There is also some work  drafted in [this branch](https://github.com/w3c/dxwg/tree/annette-dataservices) which might help stimulate a future development.

[2019-05-03 12:43] #882 closed, assigned to andrea-perego

[2019-05-05 12:34] davebrowning commented on #254
Now #915 is merged, mark as due for closing

[2019-05-07 22:42] andrea-perego opened #918 "DCAT: Main editorial fixes for CR"
There are a couple of section that may need to be fixed:

- [§ A. Alignment with other general purpose metadata vocabularies](https://w3c.github.io/dxwg/dcat/#alignments): There's only one subsection here, about Schema.org. So, it may be worth merging the two, and renaming the section accordingly
- [§ D.5 More examples needed](https://w3c.github.io/dxwg/dcat/#more-examples-needed): I guess this se

[2019-05-08 07:42] davebrowning opened #920 "dcat.ttl - editorialNotes"
editorialNotes in dcat.ttl need reviewing/revising (as does the `owl:versionInfo`) to reflect the current state of the document.

[2019-05-08 07:43] davebrowning commented on #920
Best to do this across the file in English and then do the translations?

[2019-05-08 13:33] riccardoAlbertoni commented on #920
@davebrowning wrote:

The owl:versionInfo review you are suggesting reminds me that we might want to doublecheck dcat.ttl by using the [OntOlogy Pitfall Scanner (OPSS)](http://oops.linkeddata.es/response-advanced.jsp#).

There are different issues raised when applying OPSS on the current dcat.ttl, some perhaps are not so important but others might provide hints for improvements.
For example,
- Res

[2019-05-08 14:35] larsgsvensson opened #922 "Editorial comments on DCAT ED"
Having read the DCAT ED I stumbled over some minor(?) editorial issues:
* In the last part of the abstract it says "The (revised) DCAT vocabulary is available _here_." IIRC hyperlinks with the text "here" are considered a Bad Practice (TM). Suggestion "There is a _Turtle version of the (revised) DCAT vocabulary_ available".
* In the [section on Namespaces](https://w3c.github.io/dxwg/dcat/#namespac

[2019-05-08 20:02] riccardoAlbertoni commented on #922
Please @larsgsvensson note that  [Web Annotation Vocabulary](https://www.w3.org/TR/annotation-vocab/) uses dc:format and dc:language instead of dct:format and dct:language.  I was not completely sure about the reason behind this choice,  and  I wanted to avoid introducing issues in the reuse of OA due to my lack of knowledge, as a consequence,  when writing the [Example 19 in dcat](https://w3c.git

[2019-05-08 21:51] agbeltran opened #923 "Harmonise notes about 'property/etc added in this revision of DCAT'"
We're using a variety of forms e.g. 'Explicit use of this property added in this revision of DCAT. ', 'Property added in this revision of DCAT. ' 'New property in this context in this revision of DCAT. ' and it might be better to harmonise the text.

[2019-05-08 21:58] andrea-perego commented on #922
Thanks a lot for your review, @larsgsvensson .

I started addressing the issues you reported in draft PR https://github.com/w3c/dxwg/pull/919 (see PR summary)

[2019-05-08 22:04] andrea-perego commented on #922
@larsgsvensson said:

Yes, I think they should  be non-normative.

Unless anyone disagree, I'll proceed with this revision in https://github.com/w3c/dxwg/pull/919

[2019-05-08 22:26] andrea-perego commented on #922
@larsgsvensson said:

Agreed. Maybe we have another option, namely, linking to the file  via `config.js` ([`alternateFormats`](https://github.com/w3c/respec/wiki/alternateFormats)), and dropping that sentence altogether.

I just made the relevant commit in #919 (but keeping the sentence in the abstract) - preview here: https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html (the

[2019-05-08 22:41] andrea-perego commented on #895
@agbeltran , I removed the duplicate entry and update the URL in draft PR https://github.com/w3c/dxwg/pull/919

Can you please check if the authors, publisher and date in the entry are correct? If this is not the case, please add a commit to PR https://github.com/w3c/dxwg/pull/919

Thanks!

[2019-05-08 22:56] andrea-perego commented on #923
I've started doing that.

I was also thinking that in these NOTEs it may be good to add a link to the relevant issue (as done already in some of the NOTEs).

WDYT?

[2019-05-09 00:18] andrea-perego commented on #918
I wonder whether current Sections 8 (Quality information) and 9 (Qualified relations) would be better placed after current Section 13 (Data citation), as they address more sophisticated issues (compared to Sections 7, 9, 10-13).

[2019-05-09 01:29] dr-shorthair commented on #918
I agree that the chapters should be shuffled into a more rational sequence. Currently they are more or less in chron order of creation

[2019-05-09 06:56] larsgsvensson commented on #922
@riccardoAlbertoni scripsit:

Ah, I didn't know that. In that case of course it's fine to keep the reference to `dc:`

[2019-05-09 06:59] larsgsvensson commented on #922
@andrea-perego scriptit:

OK, thanks!

[2019-05-09 07:29] andrea-perego commented on #918
Thanks, @dr-shorthair . Do you think that the order I proposed makes sense, or we should shuffle also the other sections?

[2019-05-09 07:31] andrea-perego commented on #918
About my proposal below:

unless anybody disagrees, I'll implement the revision in PR #919 within today.

[2019-05-09 09:02] riccardoAlbertoni commented on #918
@andrea-perego  No objection from me on changing the order of sections.
Also, the appendices are in a  peculiar order, the acknowledgemnt section is between alignment and example, should we move it as the first appendix?

I wonder if we still need the section [appendinx about issue summary](https://w3c.github.io/dxwg/dcat/#issue-summary), I would drop it considering that we have already said in th

[2019-05-09 12:40] nicholascar commented on #785
Only this, to indicate the different profiles that a resource - and it's always the same resource here (the one we are interested in) - that representation can be delivered according to:
[code]
It's about profiles, nothing said about Media Types.

[2019-05-09 12:52] #679 closed, assigned to nobody

[2019-05-09 12:58] nicholascar commented on #594
Closing issue due to document having moved on with relevant explanations

[2019-05-09 13:42] #254 closed, assigned to nobody

[2019-05-09 13:42] #85 closed, assigned to nobody

[2019-05-09 13:43] #83 closed, assigned to andrea-perego

[2019-05-09 15:17] riccardoAlbertoni commented on #920
I am preparing a distinct PR  to fix the Missing annotation ( rdfs:label) for  ›http://www.w3.org/ns/dcat#startDate
› http://www.w3.org/ns/dcat#endDate
› http://www.w3.org/ns/dcat#centroid
› http://www.w3.org/ns/dcat#bbox

[2019-05-09 18:15] andrea-perego commented on #918
I just saw that link to "Alignment and crosswalks" in the note after [Section A](https://w3c.github.io/dxwg/dcat/#alignments) is broken:

https://github.com/w3c/dxwg/wiki/Alignments-and-crosswalks

Where is it supposed to point to?

[2019-05-09 22:59] rob-metalinkage commented on #785
Mulling this over - my concern is about the cartesian product of all possible negotiation dimensions (including language, version, spatial resolution, etc. )  I dont know enough about link headers and support in client libraries - but it strikes me this would be informationally complete:

[code]

this is order D x N where D is number of dimensions and N is number of options for a given dimension
(

[2019-05-10 02:12] dr-shorthair commented on #918
I think it was just a list - now https://github.com/w3c/dxwg/labels/alignment

[2019-05-10 07:02] nicholascar commented on #785
If we are to do this, we will need to indicate in the HTTP Realization that, in addition to listing the profiles conformant representations of a resource are available for, we will also be providing Media Type information (the hints via `type="application/xml"`.

Also, in the example above, type hints are only given for the `self` resource, not all the other `alternate`s, so no hints are given to

[2019-05-10 08:34] rob-metalinkage commented on #785
the media type hints are orthogonal - its the conjunction of them we need to say something about.

the example is incomplete - or maybe we should drop the rel="" dimension for the media type if all media types are supported.

the "some resources are only available in some media types" case would require explicit combinations - so you could say

[code]

if profile2 was available in all three media

[2019-05-11 06:10] andrea-perego commented on #918
Fixes done in #919 - please have a check if you are happy with re-ordering and removal of sections (BTW, I haven't deleted them - just commented the code):

https://raw.githack.com/w3c/dxwg/andrea-perego-dcat-ed-rev/dcat/index.html